[2018-02-13 10:42] rjl493456442 commented on #319
Hey @dckc . I have pushed a [PR](#355) adding the git workflow chapter in CONTRIBUTION.md.
PTAL.

[2018-02-13 11:39] lapin7 commented on #133
@dckc I suggest that @Keaycee doesn't get any reward for his work done in February. Everywhere he appears in the reward sheet, I will downvote him. Others can do the same.

Copying like this and claiming that you wrote it, is an awful behavior.
**@Keaycee please explain this action!!!**

[2018-02-13 11:53] Barkov-F commented on #285
https://docs.google.com/document/d/1yQNO3ihaBBy0bo1xC0mkTuyVWslM0kKIeXwGdWYmBqE/edit?usp=sharing

Here is the link to the draft. I have done the first five minutes and I welcome any reviews

[2018-02-13 12:06] vinzruzell opened #358 "Filipino Localization/Translation"
Hi. I would like to contribute filipino translation in your community.

[2018-02-13 12:08] vinzruzell commented on #358
Also I would like to contribute cebuano translation. Thank you.

[2018-02-13 12:24] lapin7 commented on #330
@BelovedAquila

The link for joining googlegroups is: https://groups.google.com/forum/#!forum/rchain

And please have the Gsheet https://docs.google.com/spreadsheets/d/1E25ruhIawKtJekK26pVU0s9kl4T6z4MrQ2FGIQYXQPM/edit#gid=0
always open.

[2018-02-13 12:27] lapin7 opened #360 "O> Filling out tax Form W8 BEN and W9"
GOAL: Create manual for filling out tax form W8 and W9

[W8 BEN](https://www.irs.gov/pub/irs-pdf/fw8ben.pdf)

[2018-02-13 12:29] flowpoint commented on #255
i started on RHOL-45, [https://github.com/flowpoint/rholang_playaround/blob/master/safe_r_p.rho](url)

[2018-02-13 12:32] lapin7 commented on #285
Great!!!
Contact @Mervyn853 to upload it to the original video

[2018-02-13 13:02] josephace135 commented on #320
@BelovedAquila  ahh i can collaborate with both @iam-strings and @vinzruzell . He would be a great addition to the team.

[2018-02-13 13:20] dckc commented on #339
That is my advice, yes.

[2018-02-13 13:24] ICA3DaR5 commented on #339
Okay then! 👍

[2018-02-13 13:24] #339 closed

[2018-02-13 13:29] ICA3DaR5 commented on #319
@dckc There's a lot of stuff [here](https://guides.github.com/) and [here](https://git-scm.com/doc)

[2018-02-13 13:32] rjl493456442 commented on #319
@ICA3DaR5 Hey, i push a PR which mentioned above. I add a workflow example in the contributing file just like the most opensource project. Do you think which way is better:

1. Add a simple workflow example
2. Add a tutorial link

We should choose one so that newbie can learn how to use git.

[2018-02-13 13:56] michaelizer commented on #351
@BelovedAquila done, I created (check these pull requests [342](https://github.com/rchain/Members/pull/342) and [343](https://github.com/rchain/Members/pull/343)) Members/Language/ES for a better organization, you could create new internal folders for Tagalog (Language/TG) and move Tagalog files there.

[2018-02-13 15:04] ICA3DaR5 commented on #345
Should we start translating this?

[2018-02-13 16:00] ICA3DaR5 opened #363 "M>Translation of the "RChain Vision" video to Greek & timing for the English transcript"
The RChain Vision video: https://youtu.be/Qftq9S34xgg

**Completed:** 100%

**Tasks:**
- [x] Download the video
- [x] Create timings for the English transcript
- [x] Create a Greek transcript
- [x] Check the spelling
- [x] Review each other's work
- [x] View video with the English transcript and review
- [x] View video with the Greek transcript and review
- [x] Have the English transcript reviewed

[2018-02-13 16:17] Ojimadu commented on #363
An English transcript of this already exists, so we don't reinvent the wheel.

[2018-02-13 16:18] ICA3DaR5 commented on #363
Okay, do you have a link to the transcript? I don't seem to find one :/

[2018-02-13 16:38] Ojimadu commented on #302
While we give Native speakers preference in translation, we need to also note that a good number of native speakers are also not fluent in English. Some might use some computer aided translation to convert these text into English all this can affect how the translation work turn out to be overall.

[2018-02-13 18:43] ICA3DaR5 commented on #363
@Ojimadu I don't see anything on the video's page: https://www.youtube.com/watch?v=Qftq9S34xgg

[2018-02-13 20:29] BelovedAquila commented on #330
Alright, will make do of it @lapin7

[2018-02-13 20:35] BelovedAquila commented on #282
@eedsilva yes you are, started a fresh work on another doc which I plan replacing with the current transcript, as for the one above its invalid, you are now a collaborator, so am assigning you to collaborate on the Portuguese transcript.

[2018-02-13 20:37] eedsilva commented on #282
@BelovedAquila great. I'll keep you updated with my changes.

[2018-02-13 20:42] BelovedAquila commented on #282
@eedsilva alright, thank you.

[2018-02-13 20:50] BelovedAquila commented on #358
@vinzruzell you are welcome to contribute in the translation projects of your stated languages, to start it up,
Please friend,
- Join https://groups.google.com/forum/#!forum/rchain
- Accept https://github.com/rchain/Members/invitations
- Send your emailaddress + github name to ops@rchain.coop

[2018-02-13 20:55] BelovedAquila commented on #320
@vinzruzell and @josephace135 sure!,more effective work is done when done in cooperation, so why not?.
@vinzruzell become a collaborator, follow the directions on your recent issue #358

[2018-02-14 00:23] ResonanceXX commented on #197
Me to earth.   @patrick727

If Bitcoin is cryptocurrency 1.0 and Ethereum is cryptocurrency 2.0, which is the cryptocurre… by Christian ThankGod https://www.quora.com/If-Bitcoin-is-cryptocurrency-1-0-and-Ethereum-is-cryptocurrency-2-0-which-is-the-cryptocurrency-3-0/answer/Christian-ThankGod?share=042c6654&srid=50Tjl

[2018-02-14 00:25] ResonanceXX commented on #197
Made a lot of effortless adjustments. Try and tone down the excess enthusiasm.

[2018-02-14 01:45] ICA3DaR5 commented on #363
So is there an English transcript for the **[RChain Vision](https://www.youtube.com/watch?v=Qftq9S34xgg)** video?

[2018-02-14 04:27] Tonyprisca13 commented on #363
I just watched the video there is a transcript on the video link.

[2018-02-14 04:36] BelovedAquila commented on #351
@michaelizer alright.
 @David405 consider this issue please,can you collaborate on it?

[2018-02-14 06:05] BelovedAquila commented on #282
@eedsilva the file has been uploaded,please go on with the review.

[2018-02-14 07:07] BelovedAquila commented on #330
@lapin7 your first comment on joining the google group needs be updated.
succeeded in inviting @mr-robek and @vinzruzell . and there are other invites sent pending acceptance both into the GG and GH

[2018-02-14 07:56] lapin7 commented on #345
Try to create an issue. See if you can get support of two others for
setting the budget. If so, go ahead.

--
Cheers,
HJ

On Tue, Feb 13, 2018 at 4:04 PM, Donald A. Iljazi <notifications@github.com>
wrote:

[2018-02-14 08:05] lapin7 commented on #330
GG link changed.
Yes try to contact them.
**Todo**

@phluid | Find email + name
-- | --
@Sprkz | Find email + name
@w67320177 | Find email + name
@gdjdsjh | Find email + name
@mr-robek | Find GH + invite
@sk221 | Find email + name
@flowpoint | Find GH + invite
@mohdhaekal | Find email + name
@iam-strings | Find email + name
@ | Find GH + invite
@ | Find GH + invite
@mugurcagdas | Find email + name

[2018-02-14 08:09] kaka56 commented on #285
Great work@Barkov-f in helping out with the Russian version. While reviewing, I noticed the sentence from line 17-19 is empty but will help to refill them so they can be translated

[2018-02-14 09:03] kaka56 commented on #285
I have also fix the proper link to  goal .srt

[2018-02-14 10:54] David405 commented on #334
@Viraculous, I sent a mail to w3c but they are yet to reply, I have been doing a lot of studies concerning this and would give the group a reply later today or tomorrow, do you have any progress report yet?

[2018-02-14 13:15] BelovedAquila commented on #330
@lapin7, I observed that @flowpoint is already a github member and collaborator. And also observed there is a similar email and name like it,which seems to be misplaced. would make a clearer adjustment on the RAC, so we did  understand who we are actually working on better.

[2018-02-14 14:09] dckc commented on #319
Since CONTRIBUTING.md is the authoritative record on what the bounty contract is, its history needs to remain in-tact. So that we can once again see [who wrote which parts of CONTRIBUTING.md][1] and when, I reverted the master branch to Feb 7, before it was clobbered in some translation work:

To github.com:rchain/Members.git
 + 8f687b3...a517753 master -> master (forced update)

What was previous

[2018-02-14 14:15] dckc commented on #302
In cleaning up some goofy git commits (#319) I just realized that many of the translations are for administrative files in this repository. Compared to translating the architecture document or some such, these have little value in telling the RChain story.

Also, I expect README and CONTRIBUTING to change significantly as a result of our onboarding discussion, so I would only want those translated

[2018-02-14 14:44] dckc commented on #351
I found a [Feb 2017 article][1] that recommends:

[code]

[1]: http://www.klaasnotfound.com/2017/02/16/proper-multilingual-site-with-github-pages-and-jekyll/

[2018-02-14 14:52] dckc commented on #358
Which document would you like to translate?

See [my comment on translation requirements](https://github.com/rchain/Members/issues/302#issuecomment-365101015)
and [Welcome to the Bounty Program](https://github.com/rchain/Members/wiki/Welcome-to-the-Bounty-Program).

[2018-02-14 14:58] dckc commented on #334
@Viraculous I think it will be more than two weeks until the rholang compiler and such support even the most basic contracts. And even then, two weeks to implementing the API and work out the use cases doesn't seem realistic. Are you offering to get the job done in two weeks? Or estimating that someone else could do it in two weeks?

[2018-02-14 16:06] michaelizer commented on #330
Hi, my email is medinamiguel5991@gmail.com + My name is Miguel or michaelizer in GitHub. :D

[2018-02-14 16:14] codygee237 commented on #330
Hi, my email is <jimel.patrick@gmail.com> + My name is Jimel or codygee237 in Github

[2018-02-14 16:31] BelovedAquila commented on #330
@michaelizer and @codygee237 great,thank you, with that we could serve you better and as well update your profile on the RAC.

[2018-02-14 16:31] Viraculous commented on #334
@David405 , thank you for your for efforts. I would like to get your reply from the w3c. I will keep in touch with Bas kapijn and w3c with as much as possible. @dckc as for the time, its not objective, its an estimate. It can be adjusted to a more flexible time space. How about before the end of march? It must be noted however that this issue is a crop out of the mother issue #247 . Drawing from B

[2018-02-14 17:01] mugurcagdas commented on #330
Hello, mu.cagdas@gmail.com - Mugur Cagdas

[2018-02-14 17:09] BelovedAquila commented on #351
@michaelizer and this issue clicks to that of @Viraculous on issue #243 ,since you both had same suggestions sort of ,you can also collaborate to work on it.

[2018-02-14 17:09] BelovedAquila commented on #351
#243

[2018-02-14 17:13] Staff91 opened #367 "M> Translate /Rchain/Rholang/Doc/* to Italian"
**Completed:** 100%

**Tasks:**
- [x] Create the file [rholangtut-0.1_IT.md](https://github.com/rchain/rchain/blob/dev/rholang/doc/rholangtut-0.1_IT.md)
- [x] Create the file [rholangtut-mercury_IT.md](https://github.com/rchain/rchain/blob/dev/rholang/doc/rholangtut-mercury_IT.md)
- [x] Translate the content
- [x] Check the spelling
- [x] Review each other's work
- [x] Have it reviewed by others w

[2018-02-14 17:18] BelovedAquila commented on #328
@mohdhaekal become a collaborator and start up the processes,
Please friend,
- Join https://groups.google.com/forum/#!forum/rchain
- Accept https://github.com/rchain/Members/invitations
- Send your emailaddress + github name to ops@rchain.coop

[2018-02-14 17:21] ghost opened #368 "M> Translate Architecture-docs/*.rst files to Italian"
**Completed:** 100%

**Tasks:**
- [x] Create the .rst files
- [x] Translate the content
- [x] Check the spelling
- [x] Review each other's work
- [x] Have it reviewed by others with knowledge of English and Italian
- [x] Create a [Pull Request](https://github.com/rchain/architecture-docs/pull/16)

**Collaborators Work:**
- @Staff91: 50%
- @akhs13 : 30%
- @Chris-Arv : 20%

**Suggested Budget:** $40

[2018-02-14 17:27] Staff91 opened #369 "M> Translate /reference/docs/RChainWhitepaper.pdf to Italian"
**Completed:** 100%

**Tasks:**
- [x] Translate the content
- [x] Check the spelling
- [x] Review each other's work
- [x] Have it reviewed by others with knowledge of English and Italian
- [x] Create the .pdf file
- [x] Create a [Pull Request](https://github.com/rchain/reference/pull/44)

**Collaborators Work:**
- @Staff91: 50%
- @akhs13 : 25%
- @Chris-Arv : 25%

**Suggested Budget:** $3733,33

[2018-02-14 17:27] BelovedAquila commented on #312
@michaelizer sorry about that,use this
 https://groups.google.com/forum/#!forum/rchain

[2018-02-14 17:39] Keaycee commented on #133
My work is base on research and contribution from experienced experts online. However the work is still on progress and still under review. After proper corrections and review, **conclusion** and **reference** will be added.
I made research and got this put together, but if my work (Document) is not worth anything to RChain Cooperative then anybody can act as they see fit.

[2018-02-14 17:51] BelovedAquila commented on #330
@mugurcagdas Thank you,noted friend.

[2018-02-14 19:40] peetklasen commented on #283
I'm working on the document together with @dcpnlau Can I be assigned?

[2018-02-14 19:48] David405 commented on #274
@Haizhenzhou, I have seen and reviewed the issue (with the help of a Chinese friend of course since I am not a native speaker of the language.. Lol)

[2018-02-14 20:18] ICA3DaR5 commented on #363
@lapin7 What should I do?

[2018-02-14 21:53] flowpoint commented on #330
discord: flowpoint:
github: flowpoint
normal mail: flowpoint@protonmail.com
2nd mail for google docs and so on: flowpointmi@googlemail.com

[2018-02-14 23:06] dckc commented on #133
Nothing in your comment answers my question: Which part of the scope document is original work? You have not indicated that a single sentence or paragraph is original work.

[2018-02-14 23:10] dckc commented on #334
"our developers"? Who does that refer to?

[2018-02-15 00:14] Viraculous commented on #334
@dckc did you fully read the quote? Its an inference from Bas Kapijn it.

[2018-02-15 00:56] han014 commented on #347
cool!

[2018-02-15 00:57] ICA3DaR5 commented on #345
No, but I intent to maintain them. All of the work we do actually.

[2018-02-15 00:58] han014 commented on #347
I will translate the first video recent days and then submit.

[2018-02-15 01:15] ICA3DaR5 commented on #330
Here are my info:

@ICA3DaR5#1090
- Name: Donald Albert Iljazi -
Location: Loutraki, 20 300, Corinthia, Greece
- GitHub Username: ICA3DaR5
- Email: ICA3DaR5@protonmail.com
- Google Account: ICA3DaR5@gmail.com
- Discord: @ICA3DaR5#1090

[2018-02-15 01:52] Whisker17 commented on #347
I'll review the first one "Architecture & Rholang Overview" and translate with @han014

[2018-02-15 03:09] dckc commented on #334
I'm still struggling to understand.

So Kapijn and his development team can reach out... to whom?

And @David405 where did you send your email? I don't see anything relevant in the [wg archives](https://lists.w3.org/Archives/Public/public-vc-wg/)

[2018-02-15 04:09] TrenchFloat commented on #360
[This link](https://www.irs.gov/pub/irs-pdf/fw9.pdf) has a W9 form with instructions. Crude, but effective.

[2018-02-15 04:12] BelovedAquila commented on #330
Thank you, your details are noted and filled @flowpoint and @ICA3DaR5.
But please, we would like to know  if a github profile is attached to the Flowpointmi email as well, and what is your name (actually name please)

[2018-02-15 04:24] pmoorman opened #370 "M> Define "Purpose & Principles" for the RChain bounty program (RAM)"
**Outline:**
We notice with new onboarding, that (newly active) members are confused about I) how the RChain coop works, and II) what they can expect, and III) how they can best contribute.

In issue #253 (and others) the significance of _**cultural education**_ as part of the onboarding came up. Right now this is hard, because no culture code has been defined for RChain.

**Scope:**
To create a s

[2018-02-15 04:36] pmoorman commented on #370
Hey all, this document has been an internal WIP between me and a few others, but I think it's good to bring it out publicly here.

https://docs.google.com/document/d/1rfpwP3PBVx429ulwxl0ZgalVknV4KIf5sWTdGBXltJQ/edit?usp=sharing

**Summary:**

- We define the purpose of the coop
- We explain — in plain english — the basics of how the coop works
- We outline 5 core values that are essential to anyon

[2018-02-15 05:28] pmoorman commented on #370
I should add that this document is now in use as the basis for ["Welcome to the Bounty Program"](https://github.com/rchain/Members/wiki/Welcome-to-the-Bounty-Program) which is a good first step to implementing it!

[2018-02-15 06:16] pmoorman opened #371 "M> Create Brand Platform Document"
_Pre-P.S. this issue is spun out of the #234 marketing audit_

---

**Problem:**
The seems to be growing unrest within the coop about the branding. Many discussions in #exec-committee and #members-only revolve around branding issues. Some clarity is needed.

Also, more and more people come onboard through the Bounty Program (or otherwise) to help spread the word about RChain. This is great... but

[2018-02-15 09:37] David405 commented on #351
Hello @michaelizer and @BelovedAquila, I like this development, and has seen your pull requests. I believe all translations in a particular language should be kept in the same folder for ease of access, what do you guys think?

[2018-02-15 10:13] David405 commented on #318
@dckc, nice point you have here but I strongly believe that efforts such as comments and suggestions sometimes are just as much work as doing the main tasks since they require hours of study and research and so a little motivation or encouragement such as rewards is also fair.

[2018-02-15 11:40] David405 commented on #334
@dckc, if you study the documents carefully you should find relevant information. there is a mailing list at the right side of the page. For more information on verifiable claim use cases check out https://www.w3.org/TR/verifiable-claims-use-cases/

[2018-02-15 13:02] BelovedAquila commented on #351
@David405 same thoughts or suggestions, but we are not on thinking or suggesting, we are on finding measures to accomplish it, can that be achieved?

[2018-02-15 13:40] michaelizer commented on #319
@dckc where is going to be the place for translations now? (after the clean up)

[2018-02-15 13:51] #363 closed

[2018-02-15 14:48] vinzruzell commented on #330
Hi here are my info.
Github name.@vinzruzell
Email. vrosell2015@gmail.com

On Feb 15, 2018 12:12 PM, "BelovedAquila" <notifications@github.com> wrote:

[2018-02-15 16:03] ICA3DaR5 commented on #330
I added my Ethereum Address too.

https://github.com/rchain/Members/issues/330#issuecomment-365797842

[2018-02-15 18:29] BelovedAquila commented on #330
@vinzruzell please,
- join https://groups.google.com/forum/#!forum/rchain

[2018-02-15 19:55] zero-andreou commented on #330
- **Name**: Iason Andreou
- **Location**: Loutraki, 20 300, Corinthia, Greece
- **GitHub Username**: zero-andreou
- **Email**: zero.andreou@gmail.com
- **Discord**: @zero-andreou#0290
- **Ethereum Address**: 0x66aa84A81bA64F650f2Bf9c3A6c76fd51795Bb51

[2018-02-15 21:09] dckc commented on #334
I have studied the documents.

What is the url of the archived copy of your mail message?

[2018-02-15 22:31] Tonyprisca13 commented on #360
I have compiled an easy to use and concise instruction manual on W-8BEN form which can be found [here](https://docs.google.com/document/d/1LdxfZEjM37ub_qFizM_otrp2X1YxiJh7VDpfqeYDfu8/edit?usp=sharing).
I am also working on a concise manual for W-9 form.

[2018-02-16 02:06] vinzruzell commented on #330
Yes.I have already joined. Thank you :)

On Feb 16, 2018 2:29 AM, "BelovedAquila" <notifications@github.com> wrote:

@vinzruzell <https://github.com/vinzruzell> please,

   - join https://groups.google.com/forum/#!forum/rchain

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/rchain/Members/issues/330#issuecomment-366018408>,

[2018-02-16 03:11] kaka56 commented on #303
Welcome @caratzky . Please specify  the Source  of documents   you want to translate  on the issue  you created

[2018-02-16 03:15] David405 commented on #351
We should create child folders for translated documents for each language here on github rchain parent folder. What I mean simply is that there will be a rchain/spanish folder, rchain/italian folder, rchain/greek folder and so on, this will enable people who only have basic proficiency or even entirely non-english speakers to easily access documents in their language.

Also, we should encourage pe

[2018-02-16 03:15] caratzky commented on #303
Actually I already translated almost all translatable files in this project @kaka56

[2018-02-16 03:16] caratzky commented on #303
For 1 language only

[2018-02-16 03:27] David405 commented on #334
Here is the url https://lists.w3.org/Archives/Public/public-publ-wg/2018Feb/0159.html

[2018-02-16 03:30] kaka56 commented on #312
@michaelizer good to have you here. While you accept  the invitation been sent to you, please  specify  the source  of documents you  want  to translate . Example
#367 M> Translate /rchain/rholang/doc/* to Italian
#368   M> Translate architecture-docs/*.rst files to Italian

[2018-02-16 03:42] kaka56 commented on #317
@nanik94 you  are welcome. What  project  do you want to translate ?. Please specify  the source  of documents  you are interested  in translating. #367

[2018-02-16 04:06] kaka56 commented on #320
@josephace135 @iam-strings @vinzruzell  is great you want  to collaborate  on Cebuano  translation. Please while you are still following  the steps  to become  a collaborator, specify the source  of documents  you want to  work  on the issue. That is Cebuano translation of which  doc?.

[2018-02-16 04:14] vinzruzell commented on #320
Hi. Thank you for the info. I would to translate dictionary.md into
cebuanoo. If still available.

On Feb 16, 2018 12:06 PM, "kaka56" <notifications@github.com> wrote:

[2018-02-16 04:17] kaka56 commented on #303
Edit your issue and make mention  of the project  you translated on the issue. Here is an example
### M> Translate /rchain/rholang/doc/* to Italian#367

[2018-02-16 04:19] kaka56 commented on #303
@ also paste the link of the project  you translated .

[2018-02-16 04:30] kaka56 commented on #329
@agentzero1  Please specify  the document of the project  you worked  on.
 You can  start by pasting a link.

[2018-02-16 04:56] dckc commented on #334
So you sent it to public-publ-wg@w3.org; that's a mailing list for the publishing working group.

The verifiable claims document says:

In any case, I don't know why you would expect the verifiable claims working group to provide "an urgent robust documentation or tutorial ... on how to get Discipl Api and verifiable working claim". Your message is not a comment on the spec. It's a request for an

[2018-02-16 05:00] dckc commented on #318
@David405 point me to one or two examples comments that required hours of study and research?

[2018-02-16 05:02] dckc commented on #319
I made a suggestion about directory organization in #351.

But this issue is not about changing file locations; it's about cleaning up the git version control history.

[2018-02-16 05:05] nanik94 commented on #317
i was interested in translating the project RChain for sec compliance, i saw you have a book there called Rchainwhitepaper.pdf, i could work on that and on any other project you could use the help, thanks and let me know, i am at your disposal

[2018-02-16 05:10] dckc commented on #370
There was a session on purpose at the governance forum today; unfortunately, I neglected to bring this up. Sorry.

Meanwhile, this is one of those tricky issues that goes beyond the scope of the bounty program. We can advise on purpose and principles, but we can't speak for the coop. Then the question is: who are we advising? People are chatting about this in `#exec-committee` so perhaps that's wh

[2018-02-16 05:21] Tonyprisca13 commented on #206
@dcpnlau Impressive work well done.

[2018-02-16 05:25] han014 commented on #347
@lapin7 I need the access to Google Cloud Drive and review reward. Thanks.

[2018-02-16 05:30] dckc opened #375 "trust metric to recognize authority in bounty program"
factoring this out as its own issue...

https://github.com/rchain/Members/issues/261#issuecomment-363943616
and #260

_IOU a better description_

[2018-02-16 06:17] dckc commented on #375
[slides](https://docs.google.com/presentation/d/1XxdZxk9mWbB4cAely1_Ly5DZo8sTIeE4jq-s5gqiaqw/edit?usp=sharing)

[2018-02-16 11:01] vinzruzell commented on #358
Hi I want to translate dictionary.md into Cebuano if still available.

[2018-02-16 11:34] kaka56 commented on #317
@nanik94  edit  the issue by mentioning  the specific  doc you want to work  on. example you can edit it to
**M>Translate White Paper to Spanish**

[2018-02-16 12:32] BelovedAquila commented on #351
@david405 you are still making suggestions, let the work begin.

[2018-02-16 15:13] David405 commented on #334
@dckc, I understand your point, if you have made any effort integrating Discipl with verifiable claims I would love to see what you have done, it would act as a guide of some sort.

[2018-02-16 15:30] David405 commented on #351
I know that, I wanted to know everyone's else take on it before starting. Currently on mobile, will create some new folders when on my laptop

[2018-02-16 15:41] flowpoint commented on #318
we could make commenting/ suggestions/research/discussions discrete, meaning you have to make some kind of "paper"/ writeup on your knowledge and work, which is then reviewed, and based on quality, rewarded.
we need to define atleast a minimal work needed to get rewarded on comments, or else overhead gets out of hand.

[2018-02-16 15:42] David405 commented on #318
I can't begin to search and pinpoint which comments consumed a lot of time as that will be an unnecessary use of valuable time but trust me when I say the people here not just myself do a thorough research on issues before commenting, the time of research might not necessarily be in hours but takes it time. I know that soon you will see how relevant comments can be.

Please dont misquote me, I am

[2018-02-16 15:45] flowpoint commented on #330
im kind of hesitant, putting all information aggregated in a public github. who is/ can we help building the selfservice page? @lapin7

[2018-02-16 15:49] ICA3DaR5 commented on #351
@dckc That's a really nice tree. See: https://github.com/decred/dcrdocs and https://github.com/decred/dcrdocs/tree/master/src/i18n

[2018-02-16 17:11] lapin7 commented on #330
Please don't put personal data like email address or ETH addresses in this comments. Some bad-actors may use this info.

So I've deleted comments that contain that kind of info.

Send personal details to ops@rchain.coop

[2018-02-16 17:17] lapin7 commented on #375
Nice stuff :-)

--
Cheers,
HJ

On Fri, Feb 16, 2018 at 7:17 AM, Dan Connolly <notifications@github.com>
wrote:

[2018-02-16 21:22] truffard commented on #272
@lapin7 @niwaa everything is all set?

[2018-02-17 03:44] Ojimadu commented on #267
I prefer collaborators. It gets the message across without much semantics.

[2018-02-17 04:18] dckc commented on #358
I recommend against translating `dictionary.md`. See #88

[2018-02-17 04:26] dckc commented on #334
I have not done any work with Discipl.

I try to see that at least the **Development** issues are on track. I still don't see a realistic objective here. As indicated by the **needs-SMART-objective** label, I'm inclined to close this unless I see progress or a refined plan from one of the assignees within a few days.

[2018-02-17 04:31] dckc commented on #318
If I spent hours on a comment, I'm pretty sure I would remember it and I could find it again.

I think we're reaching a point of diminishing returns in this discussion. I aim to see that only completed work is rewarded, but I'm not inclined to spend more time convincing others. It's only a guideline anyway; I don't aim to establish any sort of hard and fast rule.

[2018-02-17 04:31] #318 closed

[2018-02-17 04:39] dckc commented on #267
My polling suggestion hasn't generated much response. I'm strongly inclined to just rename it to **bounties**. I'll try to check with @kitblake and @lapin7 tomorrow.

[2018-02-17 05:26] David405 commented on #351
I believe we need to get the persons with admin priviledges or have access to master to get involved in this issue.

[2018-02-17 05:27] ICA3DaR5 commented on #375
Awesome!!!

[2018-02-17 05:32] vinzruzell commented on #358
Thank you sir

On Feb 17, 2018 12:18 PM, "Dan Connolly" <notifications@github.com> wrote:

[2018-02-17 06:05] dckc commented on #222
I did some google scripting to reformat the data:

[flowed text](https://docs.google.com/document/d/1_a4Ff6r8bP4oJpkr0-paJ49QEdG3uBv6oKAVZkTTWUk/edit)

The script isn't automatically run when new responses come in.

And it's not very pretty. But it's easier to read than the spreadsheet in some ways.

[2018-02-17 06:23] ICA3DaR5 commented on #345
This is finished.

[2018-02-17 06:24] dckc commented on #351
I don't see anything that needs admin privileges. But I'm not inclined to approve nor merge any translation PRs until someone steps up to do better quality control of translations. See #302.

@ICA3DaR5 it' reasonably clear that you're skilled in Greek; perhaps you'd like to give some feedback on #377? Note that it doesn't follow the pattern of using 2 letter ISO language abbreviations as used in d

[2018-02-17 06:27] Ojimadu commented on #370
Note aside:
There needs to be a clear picture of the structure of the coop. There seem to be quite some confusion especially when not coming from the board about who speaks for the coop, who approves what, what act can be said to be that of the coop and what act is not. As things stand now, most of the decision making is vested in the board of directors and the president.
At the 'RAM' meeting of 2

[2018-02-17 06:31] dckc commented on #345
It's great to see this progress, but until PR295 is merged, let's keep this open.

I still don't see any indication that the core team wants a greek translations at this time. See #184 on collaborating with the core dev team.

[2018-02-17 06:33] Ojimadu commented on #347
@han014 Try messaging @BelovedAquila as well.

[2018-02-17 06:46] Ojimadu commented on #222
@dckc the link requires access permissions.

[2018-02-17 06:53] han014 commented on #347
@BelovedAquila I need the access to Google Cloud Drive and review reward. Thanks.

[2018-02-17 07:02] dckc commented on #370
I agree; I started an [RChain Organization](https://github.com/rchain/Members/wiki/RChain-Organization) wiki page as a supplement to [Welcome to the Bounty Program](https://github.com/rchain/Members/wiki/Welcome-to-the-Bounty-Program). Is it clear enough? (See also plans to refactor README and CONTRIBUTING in #253.) I'm not sure if the wiki of this repository is the best place for it, but it's con

[2018-02-17 07:09] dckc commented on #222
oops! ok... I shared it with rchain@googlegroups.com

[2018-02-17 07:44] dckc commented on #217
@jimscarver @9rb I'm interested in looking at the source code for social ledger -- 1.x, 1.5, and 2.x. I'm struggling to find it. Got any clues for me?

[2018-02-17 09:02] niwaa commented on #272
@truffard Yes I think so,  Mervyn853 said in the other thread that he is aggregating all the .srt for the upload. Can you vote on the work percentages on the [reward spreadsheet](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=294454559)?

[2018-02-17 11:02] truffard commented on #252
https://www.youtube.com/channel/UCi_FAJP556JHoXIvQCoeftw

[2018-02-17 12:31] linsheng9731 commented on #176
After i rebased dev branch, there was something wrong with this pull-request #218. So i made a new pull-request here. #296..

[2018-02-17 12:45] David405 commented on #351
@dckc at least there should be some documents that have already been reviewed and accepted as quality work. We can start from there. What we want to achieve in this issue is organization of documents in a particular into a single folder

[2018-02-17 12:46] David405 commented on #351
@dckc at least there should be some documents that have already been reviewed and accepted as quality work. We can start from there. What we want to achieve in this issue is organization of documents in a particular into a single folder

[2018-02-17 12:58] David405 commented on #351
at least there should be some translated documents that are satisfactory, we could start by organizing those ones into a common folder depending on their language.

[2018-02-17 13:58] dckc commented on #370
[Aug 30 - RChain Community Debrief 40](https://github.com/rchain/Members/wiki/Weekly-Debrief-Index#-aug-30---rchain-community-debrief-40)
[HJ explains Activist Decentralized Budgeting](https://www.youtube.com/watch?v=7Li4g4qDF6M&t=1486s)

[2018-02-17 15:42] ICA3DaR5 commented on #351
@David405 Let's use the standard _i18n tree as it's used on the Decred project.

See: https://github.com/decred/dcrdocs and https://github.com/decred/dcrdocs/tree/master/src/i18n

Also, we could have some of the documents sync with some translation service (like Transifex), this is going to make localization much easier, and the Members won't have to use GitHub for translations.

We might get some

[2018-02-18 01:34] pmoorman opened #379 "G> Create a clear picture of the coop and it's governance process(es)"
### **Context:**

@Ojimadu wrote:

I think this is a widely felt pain, and something I've been thinking to work on, also as part of onboarding education for RAM / bounty members (see #253 for that)

### **Scope:**

Create a clear organisational breakdown of the RChain coop, and it's relationship to other parties. The resulting document should be usable in the context of onboarding & activating new

[2018-02-18 01:43] pmoorman commented on #370
_@Ojimadu @dckc  I've spun out the point about "clear organisational picture" to it's own issue, because I think it's out of the scope of this issue. **See: #379**_

---

@dckc wrote:

I didn't want to take this into the #exec-committee, because any discussion there gets flooded with other discussions, and within a week or so effectively all the public memory is erased. So maybe better invite peop

[2018-02-18 04:54] agentzero1 commented on #329
@BelovedAquila  why I cant open your invitation ?

[2018-02-18 05:12] agentzero1 commented on #329
Thanks for kindness

On Feb 15, 2018 1:00 AM, "BelovedAquila" <notifications@github.com> wrote:

[2018-02-18 06:10] BelovedAquila commented on #329
@agentzero1 so sorry about the inconvenience, please kindly send your complaint to @lapin7 via lapin7@gmail.com. Thank you

[2018-02-18 08:01] dckc commented on #267
As you can see, I changed it to **bounties**, having checked with @kitblake and @lapin7.

[2018-02-18 08:01] #267 closed

[2018-02-18 08:01] dckc commented on #267
As you can see, I changed it to **bounties**, having checked with @kitblake and @lapin7.

[2018-02-18 08:08] dckc opened #380 "petition system to reach leadership, members"
In the "Cooperative Governance" session today led by @drbloom, there was considerable support for a petition system that serve as a threshold for
  - getting an item on the agenda of [Greg's community debrief](https://github.com/rchain/bounties/wiki/Weekly-Debrief-Index)
  - getting a message pushed out to all members via email (or other means of reaching their smartphones)

_In the same session,

[2018-02-18 08:12] dckc commented on #380
Peter suggested [loomio](https://www.loomio.org/) based on first hand experience in Resonate; I spent a little time checking it out and I'm interested to try it. It's open source and we can self-host it; Jeremy said he's willing to stand it up.

@drbloom I was a little surprised that you didn't mention that you had actually set up a petition system in discord. I guess it was obvious that it wasn't

[2018-02-18 09:00] dcpnlau opened #381 "O> 20180221 RChain Active Members Meeting"
**ZOOM LINK FOR RAM MEETING 21 FEB: https://zoom.us/j/197490909**
**2018-February-21, 20:00 UTC (after Greg's Debrief)
Sydney +11, Beijing +8, Lagos +1, Amsterdam +1,
New York -5, Seattle -8**

- [ ] Prepare report for Greg's Debrief (2018-02-21)
- [ ] Any key discussion points anyone wants to address should be added to the agenda and we can allocate time accordingly.
As mentioned last week, in or

[2018-02-18 09:54] dckc commented on #379
I expect the energy around a membership working group to help address this.

Peter from Resonate drew a nice organizational diagram on a flip chart.

And Amanda (?) had a spreadsheet for people to sign up to get involved. I didn't volunteer there, but I did talk with @patrick727 and Jeremy about members.rchain.coop stuff; and Kevin Valentine asked if I'd help out, and I said I'm not sure how avail

[2018-02-18 09:58] dckc commented on #381
I recommend against delegating agenda building to a popular vote. In my experience, it's important for the chair to seek out agenda items and put them in priority order.

For tactics, see [MidwestWeeklyAgenda](https://www.w3.org/wiki/MidwestWeeklyAgenda) in the W3C wiki.

[2018-02-18 10:00] dckc commented on #381
@TrenchFloat do you expect you can make it this week?

_gak! I meant to assign you, not me, but this machine is so old that github doesn't support this browser._

[2018-02-18 10:16] lapin7 commented on #360
@Tonyprisca13 please make the access to "WRITE" for rchain@googlegroups.com
[W8 instructions](https://docs.google.com/document/d/1LdxfZEjM37ub_qFizM_otrp2X1YxiJh7VDpfqeYDfu8/edit?usp=sharing).
And add a link to the actual W8 form

[2018-02-18 10:25] lapin7 commented on #267
I've changed the name of "Pub Member Budget Allocation-Spending" to "https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=950224463"

[2018-02-18 10:47] lapin7 commented on #252
@truffard
Dans [Pub Bounties](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=60903965&range=A163:W163) tu peux définir le budget pour ce issue. Tu peux mettre un montant avec lequel tu te sens comfortable.

Pendant Février tu peut mettre un [bounty](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=294454559&r

[2018-02-18 11:03] dckc commented on #222
It's not immediately clear how to do all that, @lapin7, but I'll think it over.

[2018-02-18 11:15] lapin7 commented on #222
For the moment I think an easy export of bounty-collaborators to a Gsheet would suffice.
I would then make a link based on github-ID in a Gsheet and keep the personal data in a separate Gsheet.

[2018-02-18 14:13] TrenchFloat commented on #381
@dckc Yes I can be there. I will be taking notes and am happy to use them for the agenda doc afterwards.

[2018-02-18 15:50] AyAyRon-P commented on #379
Do you want to refine the org chart we put together this past week @pmoorman and then post?

[2018-02-18 15:51] AyAyRon-P commented on #381
What time is the zoom meeting? I see the date but no time. I have been working on #371 with @pmoorman for the past two weeks and am free the date to help in the process and overall discussion.

[2018-02-18 16:45] ICA3DaR5 commented on #380
May I suggest [Bountysource](https://www.bountysource.com/) ?

[2018-02-18 16:49] Ojimadu commented on #381
@AyAyRon-P
20:00 UTC (after Greg's Debrief)
Sydney +11, Beijing +8, Lagos +1, Amsterdam +1,
New York -5, Seattle -8

[2018-02-18 16:54] ICA3DaR5 commented on #381
@Ojimadu I added Greece yo your comment :)

[2018-02-18 20:07] InternautNeven opened #382 "Translate CONTRIBUTING.md to Croatian"
Measure of Completion:
- [x] Create CONTRIBUTING_HR.md file translated to Croatian language.

Suggested Budget: $250

Collaborators Work:
- @InternautNeven
- @MarioPolo
- @tgrospic

[2018-02-18 23:48] ICA3DaR5 opened #383 "Argument: Markdown as a small barrier of entry or suggestion"
**Argument**: Make Markdown a barrier of entry or at least a suggestion (to learn) for the rchain/bounties members.
**Why**: It's **very** easy to learn and it will show **will** for learning, which to me show's a lot in a person. Education is a big part of RChain.

**Suggestion**:
- **Markdown Spec(ed)**: http://commonmark.org/
- **Tutorial**: http://commonmark.org/help/tutorial/

[2018-02-19 00:35] David405 commented on #351
Nice @ICA3DaR5, do we have a project existing already on transifex or do we have to create one? if there is, kindly send the link, so others can join in and also I am all in for the i18n tree standard

[2018-02-19 00:51] ICA3DaR5 commented on #351
@David405 As far as I know, we don't.

Let's get the OK from @dckc and @lapin7 an then do the i18n tree standard then?

[2018-02-19 04:11] pmoorman commented on #381
**Very practical question:** If my name is in the description for 3 items (#370, #371 and #379) does that mean I'm expected to be in the call, or otherwise provide anything?

I'm happy to provide with whatever could help move the discussion forward on all 3 issues, but I can't really join for the call itself.

[2018-02-19 04:23] pmoorman commented on #379
@dckc said:

Can someone point me to further info about this?

Regardless, I think it would still really boost clarity (and therefore understanding) if we can make the way the coop functions more transparent. I believe transparency is a core property of any cooperative, so it would definitely fit there.

@AyAyRon-P and I have been doodling no a bit of a diagram to start with outlining just a bunch

[2018-02-19 04:33] pmoorman commented on #383
I'm not sure, but isn't just even using the buttons on the interface here enough?

**Suggestion:**
We should phrase this issue positively:

"Encourage people to format their comments, so it's easier to digest for others"  or something like that

[2018-02-19 08:26] Whisker17 opened #384 "M> Translate the RChain YouTube channel retreat video into Chinese"
#347 @zsluedem  has create a crude subtitle for the retreat video,I and @han014 have reviewed the subtitle and translate this into Chinese for days.
fortunately,we have finished it now,what we have worked is [the  Architecture & Rholang Overview](https://www.youtube.com/watch?v=Fs38s7nI3Uk&list=PLf2bbiic5ZjCPzin3gCSMGiBtbT8UO5o2),and its total words is 9447,according to #347
And I'm not sure where

[2018-02-19 08:47] han014 commented on #384
Since there are 9447 words in the video according to #347, the total money for our translation is $1889.4 if it is $0.2 for 1 English word.
@Whisker17  and I also reviewed the English words in the video, and I wonder that if it is regarded as the additional work? @lapin7

[2018-02-19 09:59] Tonyprisca13 commented on #283
@peetklasen Great!

[2018-02-19 10:06] Keaycee commented on #285
@Barkov-F check paragraph 342 on the transcript, there is words in English. Still reviewing the doc.

[2018-02-19 10:39] Keaycee commented on #351
@David405 You've got a point. Creating a parent folder of different languages about RChain would make it much easy for members, who do not understand English or other languages to be able read and know more about RChain. @michaelizer Thank you for coming up with this thread.

[2018-02-19 10:55] Barkov-F commented on #285
I left the english wording so I would be easier to google the techical term
"scope extrusion". I am still working on the doc.

пн, 19 февр. 2018 г., 13:06 Keaycee <notifications@github.com>:

[2018-02-19 11:38] peetklasen commented on #283
So: just to get things clear: the document has been automatically translated with Google translate.
I guess @tonyprisca13 did this job.
The actual translation has still to be done then.
The actual translation from Google translate Dutch to real Dutch (I mean Dutch that makes sense) will be done bij @dcpnlau and me. Afterwards @dcpnlau and me will review each others translations.

[2018-02-19 11:43] peetklasen commented on #283
Just to get things clear: the original document has been automatically translated with Google translate.  I guess @tonypricsa13 did this job.
Afterwards this document has to be translated to real Dutch (I mean Dutch that makes sense). This job will be done by @dcpnlau and me. Afterwards dcpnlau and me will review each others translations.

[2018-02-19 12:14] Tonyprisca13 commented on #283
@peetklasen writes:

Good work! Do let me know if you will be needing any assistance from me.

[2018-02-19 12:39] Tonyprisca13 commented on #360
I have made the access and added the link.

[2018-02-19 13:48] ICA3DaR5 commented on #383
@pmoorman This ^^

[2018-02-19 17:44] ResonanceXX commented on #379
Transparency, Equity and Fairness.

And well crystallized objectives. An even more assymmetric process for problem solving and attaining our common objectives.

[2018-02-19 17:46] ResonanceXX commented on #379
An organogram based representation of these information would provide better access to the information. Since there are several operating arms of RCHAIN, are there officials heading those?
Or are they decentralized in operations and control.

[2018-02-19 18:02] pythonical commented on #379
I think groups like 'the Linux Foundation' and such would be better for a reference than Apple or Coke?

[2018-02-19 18:13] jimscarver commented on #217
The social ledger prototype code is not ready for public access. Send me
your preferred email access and I will add you to our gitlab repository
@dckc

I've created the github repo
https://github.com/DigitalLifeCollective/basecamp for social ledger 2.0
development but haven't committed code yet. I should get around to it soon.
There is not yet any real code as we are still making decisions about t

[2018-02-19 19:34] truffard commented on #272
salut @niwaa , aucune nouvelle de personne.. lol

[2018-02-19 21:34] Jake-Gillberg opened #385 "Create working group for "ideas and tools for governance processes""
The purpose of the yet-to-be-named working group fronted by Cathy Henderson is separate from the "welcoming new members" working group.

It's purpose (afaik, and this is still being formed) seems to be to develop proposals (directed towards [TBD]) for governance processes. An example would be evaluating potential tools and processes the coop could use to generate and vote on a ballot at the annual

[2018-02-19 21:38] iamnathanwindsor commented on #385
Great, I'm glad to help with this. I'll be posting as many notes as I can over the next couple of days.

[2018-02-19 21:41] Tonyprisca13 commented on #360
The link for W9 form can be found[here](https://docs.google.com/document/d/1hg83LDU__6VYV_fkZTeZrErCPKs8PsHGasRVAvQG_uY/edit?usp=sharing)

[2018-02-19 22:13] dckc commented on #385
@drbloom did you expect the "welcoming new members" group to be separate from the group Cathy H. is forming? That's a bit of a surprise, to me.

[2018-02-19 22:15] dckc commented on #385
Since the proposed WG scope includes setting coop-wide policies, be sure to add

  - [ ] coordinate with officers

to the issue description.

[2018-02-19 22:16] Jake-Gillberg commented on #385
I'm not sure that the scope includes setting coop-wide policies, but developing suggestions

[2018-02-19 22:18] dckc commented on #385
OK; being explicit that the WG will be developing proposals is good. Even better if it's clear where the proposals will be directed. (e.g. "to the officers" or "to the board" or "to the board and/or officers" or "to the executive committee" or whatever)

[2018-02-19 22:43] dckc opened #386 "guide lightning talk session at RChain Governance Forum"
- [x] solicit lightning talks
 - [x] emcee the talks
 - [ ] gather and publish / index presentation materials

## Speaker List
 1. Jim Whitescarver (@jimscarver) [collective intelligence best practices](https://docs.google.com/presentation/d/1qFK10rFcCiBO72aeSFIfII0e1TeIXDKgZqwVlP-wREk/edit)
 2. Kenny Rowe
 3. Kit Blake
 4. Jake Gillberg [Properties of Secure Voting Systems](https://docs.google.co

[2018-02-19 23:12] dckc commented on #217
yawn. Wake me when it's shared publicly.

[2018-02-19 23:16] peetklasen commented on #283
Lines 800 - 1500 have been translated (in draft). For these lines I have now also added the English transcript. This makes reviewing easier. https://docs.google.com/document/d/105HIluXMni6iLST2fX2KLe7CVUULpN0Ct2USzqiqkIQ/edit

[2018-02-19 23:17] dckc commented on #379
@pmoorman some of the energy around a membership working group went into #385. It's not quite what I expected, though.

Meanwhile
  - your list sure looks like the pattern language I've been working on in the wiki
  - some of these things are not like the others: Mercury isn't a governance process or a structural unit. They still fit in a pattern language, but not in an org chart.

[2018-02-20 00:49] ResonanceXX commented on #332
Fred Erhsam's articles are insightful. A lot of knowledge could be passed from him to both Mavens and N.B-C.D. He will be added.

[2018-02-20 00:54] makys commented on #360
Reviewed W9 form manual prepared by @Tonyprisca13 . It looks good. However anyone who need additional information should spend time going through the General instruction on the form. If not clear on any section, can ask and we will try to guide.

[2018-02-20 02:01] ResonanceXX commented on #197
Beautiful answers. Welldone GG. I made sure to add supporting comments and describe personal experiences.

https://www.quora.com/Will-RHOC-ever-climb-to-where-Bitcoin-is-now-Why-is-it-worth-it-to-invest-in-the-RHOC-at-all

Up-voted all answers too.

[2018-02-20 04:41] dckc opened #387 "How to do CRUD apps (e.g. budget / rewards) on RChain"
I'm used to building CRUD apps using SQL (e.g. #260). SQL records can be seen as tuples. I hope to find out how to use the rchain tuplespace or other parts of the storage layer  for this sort of thing.

[2018-02-20 05:07] tcezi commented on #360
@tonyprisca13 Nice work  it's simple and clear

[2018-02-20 05:11] makys commented on #370
I added two core values to the gdoc.

@pmoorman wrote:

I didn't want to take this into the #exec-committee, because any discussion there gets flooded with other discussions, and within a week or so effectively all the public memory is erased. So maybe better invite people here to Github (where a clear history management exists)?

I would suggest we continue with the momentum and articulate our th

[2018-02-20 05:45] dckc commented on #381
I'm not available at the scheduled time either. Sometimes @TrenchFloat can represent me, but I'm not confident in the case of the agenda items above currently.

To my mind, the most important issue is translation rules (IOU the #). That is the one blocking the most work and putting the most stress on the fairness of rewards.

Maybe I could run a meeting Thursday evening Chicago time. More than one

[2018-02-20 06:31] makys commented on #381
Though on Agenda::There are work groups springing up, how do working groups interact with RAM.

[2018-02-20 07:47] David405 commented on #351
@lapin7 please respond to @ICA3DaR5 most recent comment.

[2018-02-20 08:08] tcezi commented on #385
@bloom this is a good progress. I would like to assist.

[2018-02-20 08:42] dcpnlau commented on #381
**@pmoorman** I added your name because you raised the issue. It would be great to have people who started the issue be there to represent/give some background. However, if you can't make it, we can pick it up and see if there's interest to discuss the topic. Feel free to add anything to the agenda you think would be useful for the conversation.

**@dckc** Great! I'll add "translation" to the agen

[2018-02-20 08:44] dcpnlau commented on #381
**@dckc** Feel free to elaborate on your thoughts of why you're not confident in the agenda. Would be happy to take into account feedback.

[2018-02-20 09:35] tcezi commented on #251
which link is to be added to email footer

[2018-02-20 09:48] tcezi commented on #206
All the best to her.

[2018-02-20 11:00] zsluedem commented on #384
WOW~!send me the translated video or upload the the google drive and I will put up the subtitle into the video and upload to the Chinese video webside~!

[2018-02-20 12:58] pmoorman commented on #379
@dckc

Wait... **can you link me to where I can find that?**
I've seen the stuff like https://github.com/rchain/bounties/wiki/Coop-Committees, etc.

If we can work together towards a simple, unified list... that would be great. Maybe the wiki could have an 'index page' with basic breakdown (like I wrote here), and more detailed pages for people that want to have more depth (like the committees pag

[2018-02-20 13:03] pmoorman commented on #379
@pythonical two very good points you make there. I was thinking Apple / Coca Cola in a discussion with @AyAyRon-P to try figure out the correct analogies, but changing to something else might make sense.

One downside with going with Linux foundation, is that for non-developers (like myself) the analogy might be harder to grasp. I just don't really know how Linux is structured.... so the analogy w

[2018-02-20 13:25] pmoorman commented on #381
@dcpnlau oke, clear.  I won't make it, but I'll try at least to have **tangible results** ready for everyone to discuss.

In my case that means:

**RE: #379**
I've published the Purpose & Principles document.
Discussion should be around:

- Scope (RAM vs. Coop.  Probably RAM, like @dckc more or less suggested)
- Whether more principles should be added (others have made suggestions in the document!

[2018-02-20 13:29] pmoorman commented on #385
@Jake-Gillberg @drbloom @dckc Do we really need more processes and tools for governance?

In my opinion, **the main thing we need is more transparency / clarity,** so people can work with what's already there.

I think adding more processes, layers & tools will make things only harder, not easier.

[2018-02-20 13:47] #345 closed

[2018-02-20 14:19] han014 commented on #384
Since there are 9447 words in the video according to #347, the total money for our translation is $1889.4 if it is $0.2 for 1 English word.
@Whisker17 and I also reviewed the English words in the video, and I wonder that if it is regarded as the additional work?
And I'm not sure where should I upload this in the Drive.Could u please tell us?@BelovedAquila

[2018-02-20 14:36] han014 commented on #384
The srt files of reviewed English version and translated Chinese version are attached in this email.

Best wishes,

________________________________
发件人: will <notifications@github.com>
发送时间: 2018年2月20日 19:00:25
收件人: rchain/bounties
抄送: #LU; Mention
主题: Re: [rchain/bounties] M> Translate the RChain YouTube channel retreat video into Chinese (#384)

WOW~!send me the translated video or upload the t

[2018-02-20 14:45] Keaycee commented on #133
@jimscarver  @patrick727 @Jake-Gillberg @lapin7 @pythonical
**Summary
Conclusion
Recommendation
Reference**

The above has been added to the document. Suggested correction were made.
This work is completed, although there maybe need for further review and suggestions.

[2018-02-20 15:17] dckc commented on #385
I think some more tools are likely to help; in particular, a petition system (#380) and a trust metric (#375). And the introductions survey (#222) seems to be a useful tool.

But most importantly, I think we need to collect experience from actually bringing on new members (#294, #295). I just chatted with @drbloom and it seems likely that one of this new group's first agenda items will be identify

[2018-02-20 15:21] AyAyRon-P commented on #379
Maybe Coca-Cola doesn't work as well but we need to keep brand comparison simple and obvious like an ELI5 to give a clear understanding of RCHAIN's - what, why, how. Once we've established that with the reader then we can begin to explain things in a more technical voice.

@pmoorman Looking at the diagram at the top - RCHAIN COOP is the Corporation with RCHAIN as the Masterbrand below it.

@dckc s

[2018-02-20 15:45] ICA3DaR5 commented on #384
So, there is a good English version of this? I am interested in translating to Greek.

[2018-02-20 18:02] Jake-Gillberg commented on #385
@pmoorman To add to dckc's points: It is currently unclear how items make it to the ballot for the annual members meeting, and how members express their votes on the ballot. Last year the vote was conducted via survey monkey. I imagine that as we grow and more contentious issues make the ballot, we will want to add vote privacy and verifiability to our solution.

[2018-02-20 19:25] lapin7 commented on #351
I can only think 2 seconds about:
_i18n or Transifex
So that's nearly nothing. I don't have even a clue about what you're talking.

@ICA3DaR5 and @David405 seem to know a lot more about it.
So go ahead and try get more collaborators behind your ideas.
It would be great if you reach consensus about the best way of working. And get other collaborators to instruct new-comers about this way of working

[2018-02-20 20:01] niwaa commented on #272
salut @truffard, Mervyn853 a dit dans l'autre fil qu'il avait déjà envoyé les .srt pour la vidéo, donc il n'y a plus qu'a attendre je pense!

[2018-02-20 20:45] jimscarver commented on #385
Loomio has rich decision making tools and I think we can use it to bootstrap our future decision processes. It is certainly worth experimenting with it.

The consider.it tool that was used quite successfully for The DAO is worth experimenting with. I've put considerable effort in seeding https://diglife.consider.it with principles and possibilities. It is said that when people share common princip

[2018-02-20 20:50] dckc commented on #380
I'm kicking the tires on loomio; anybody is welcome to join: [RChain Loomio Experiment](https://www.loomio.org/invitations/33d924be03c1cd7eddc6).

@ICA3DaR5 I hope to check those things out.

[2018-02-20 20:51] ICA3DaR5 opened #390 "M> Translate Medium Blog Posts to Greek"
**Completed:** 99%

**Tasks:**
- [x] Copy the posts to text files.
- [x] Translate the content.
- [x] Check the spelling.
- [x] Review each other's work.
- [x] Have them reviewed by others with knowledge of English and Greek.
- [x] Post them to the Greek [Medium](https://medium.com/@rchain.gr) account.
- [x] Post them to the Greek [Facebook](https://www.facebook.com/rchain.gr/), [Twitter](https://

[2018-02-20 21:46] dckc commented on #386
video:

 - [Rchain Governance Conference Day 2 Session 1](https://www.youtube.com/watch?v=Mmkae9E93tk&feature=youtu.be&t=6393)

ack: allanc

[2018-02-20 21:59] dckc commented on #133
The blatant plagiarism remains.

Comments (including specific requests that quoted material be marked as such) are closed without being addressed. Repeatedly: 1:16 PM Jan 6, 11:49 AM Feb 14, 11:50 AM Feb 14, 8:32 AM Today.

@patrick727 @jimscarver do you see any reason why I shouldn't revoke @Keaycee 's privileges?

[2018-02-20 22:41] pythonical commented on #133
i really hate seeing this having to take place but it does make me wonder is there any process for 'reviews' of such cases and is/will there be any recourse for someone to plead their case after the fact?

[2018-02-20 22:45] dckc commented on #381
oops... I've got music practice Thursday evening.

[2018-02-20 23:25] dckc commented on #381
@dcpnlau what I'm not confident about is whether @TrenchFloat can represent my position on some of these issues. He and I don't have much time to prepare together this week.

Regarding translation, the relevant issue is #302. In particular, you suggested we "create a list of native speakers by language" and I responded by endorsing the idea and asking if you would please do that, but I don't see a

[2018-02-20 23:34] pmoorman commented on #379
Mercury is a release (version of the software). Mercury would be followed by Venus, etc.

So the analogy of Mercury to OS X Yosemite or whatever could work (but maybe also hard to grasp for non-Apple users).
It's definitely _not_ on the same spectrum as Rholang, because Rholang is a "thing in itself", so to speak.

You said

...RCHAIN COOP is the Corporation with RCHAIN as the Masterbrand below it

[2018-02-21 00:09] dckc commented on #379
@pmoorman I wonder in what contexts this picture will be used. Creating it is not really the end goal, is it?

Is it a 5 minute slide presentation that one member presents to another during on-boarding?

Is it a web page with lots of google-juice so that people find it when searching for stuff in the web?

[2018-02-21 00:14] dckc commented on #381
By the way: we could use a "weekly-agenda" label to nominate issues for the agenda. And you can take the label off once the meeting has dealt with the issue and decided who has the ball. The meeting record ends up mostly in issue comments. That has its +s and -s, but it worked in my dev team of 5 to 10 people for a few years.

It's likely that too many issues would eventually get nominated, but we

[2018-02-21 00:16] dckc commented on #302
@patrick727 which lanuages show up high in web site analytics?

[2018-02-21 00:24] dckc commented on #351
I expect that most translations don't belong in this repository. They belong in the repository of the translated document. So I'm not sure there's much to generalize here.

In any case, I don't see much to evaluate. I suggest closing this issue as `wontfix` (or is it `invalid` here?) and working on individual documents.

[2018-02-21 00:31] pmoorman commented on #379
@dckc agree.

As far as I'm concerned, it could be all of the above.
- A slide deck for a live onboarding call is a great idea.
- A short pre-recorded webinar — that new members can watch at their leisure — is also a good idea
- (A _live_ webinar once a week or so, is probably _also_ a good idea, btw).

Definitely we need to create educational material to help in the onboarding process. But even r

[2018-02-21 01:17] pmoorman commented on #381
to me, leaving a trail of all relevant comments / discussions in the actual issue would be a great idea.  Much better than having in scattered between issue, Discord channels and video call recordings

[2018-02-21 03:55] dckc commented on #189
I updated the issue description to say what actually got done here.

[2018-02-21 03:58] dckc commented on #243
In preparation for tomorrow's meeting (#381) I'm doing some issue pruning.

I don't see any progress on this. If anyone intends to work on this, go ahead and re-open it and assign yourself.

[2018-02-21 03:58] #243 closed

[2018-02-21 04:14] dckc commented on #78
I'd like to use this issue to stand for the original establishment of the bounty "contract" in Aug 2017.

 - See also: README/CONTRIBUTING update 69d02c4 Sep 18
 - [Welcome to the Bounty Program](https://github.com/rchain/bounties/wiki/Welcome-to-the-Bounty-Program)

[2018-02-21 04:24] dckc opened #391 "O> Constrain bounty voters and payees to Coop members with KYC"
While having a low barrier to entry for collaboration has led to some great outcomes, paying invoices to non-members raises risks, as does letting non-members vote on budgets and rewards. @kitblake and @kennyrowe and the rest of the executive committee agreed to refine / clarify the **bounty-contract** so that only RChain Cooperative members receive these benefits.

**Goal:** update to CONTRIBUTIN

[2018-02-21 04:28] dckc commented on #279
I just (re-) discovered https://github.com/Jake-Gillberg/git-vote ; cool! @Jake-Gillberg any thoughts on this certificate issue?

[2018-02-21 04:51] dckc commented on #379
A lot of people liked the way [Peter drew a diagram](https://youtu.be/ZpJOxa15Pgc?t=48m56s) (video).

[2018-02-21 05:17] dckc commented on #390
A translation of a blog item should be published as a blog item, right? I don't see how putting them in a google drive folder gets them out to an audience.

@patrick727 do you have any suggestions for where to put Greek translations? (He's a [moderator](https://github.com/rchain/bounties/wiki/Channels-Moderators) for medium.)

Does medium have any sort of multi-language support?

Should @ICA3DaR5

[2018-02-21 05:23] dckc commented on #385
@Jake-Gillberg I see you added this to a github project; that suggests some notion of project completion. Do you have a sense of what that looks like?

In this repo there has been some mis-use of projects as buckets / categories, with no clear completion target, which I am [deprecating in favor of labels](https://github.com/rchain/bounties/issues/105#issuecomment-357788709).

[2018-02-21 07:00] dckc commented on #302
Perhaps an issue template for translations:

  - Why this document? (mark all that apply)
    - [ ] it's one of the /rchain/reference documents
    - [ ] I contacted the author, who agreed it's important to translate
    - [ ] I know a person or audience who would benefit from it: _____
    - [ ] other: ___
  - How can people who do not speak this language be assured of the quality of the translat

[2018-02-21 07:15] dckc commented on #295
I guess this is done.

[2018-02-21 07:15] #295 closed

[2018-02-21 07:17] dckc commented on #169
I edited the scope w.r.t. what actually happened here.

[2018-02-21 07:17] #169 closed

[2018-02-21 07:26] dckc commented on #108
Prompted by discussion with @jimscarver at the Gov. Forum, I did spend a little time checking out social ledger: [permalink](https://rchain.divvydao.net/community/pl/gwd8up4nzjnn3y51pgqxdxpsyw)

[2018-02-21 07:53] makys commented on #391
@dckc:
Will this imply that bounties will be held back until verification is done or contributors will lose their bounty?

[2018-02-21 08:14] dckc commented on #391
Perhaps you could elaborate the question? I don't understand. If a contributor is not a member, no bounty is theirs to lose.

[2018-02-21 08:38] Ojimadu commented on #391
This was the status quo. I think January should be the first time non-members were paid by the coop.
I remember @kitblake raised a point about having to pay to "be a member" or to "collaborate" on an open-source platform but since this repository has been renamed to 'bounties', this has to be stated in the Contributing.md document.

Since this is just coming in, bounties for February should be pai

[2018-02-21 09:18] Ojimadu commented on #133
Revocation of member's rights should not be based on a decision by a single member. There needs to be a review of cases like this and not based off an arbitrary decision.

[2018-02-21 09:38] Keaycee commented on #133
Well, I don't where i have gone wrong, was it because i resolved a comment on my work after i have corrected and taken note of it OR was it because i sourced for extra information online to support the document?. The document is open and anyone can make a suggestion by editing after which i will accept the suggestions and corrections made  just like @jimscarver always do. He reviews the document,

[2018-02-21 09:46] Ojimadu commented on #302
@dckc A good template up there. IMO, the most important documents that should be translated are
1. [How to contribute](https://github.com/rchain/Members/blob/master/CONTRIBUTING.md)
2. White paper and architecture documents

Translation of any other document should meet a quorum set by the community through a proposal, and the languages to be translated into should be among the top 10 spoken langu

[2018-02-21 10:36] Tonyprisca13 commented on #391
If a contributor has worked on an issue he or she should be rewarded for this month and then notified of the new development going forward.

[2018-02-21 10:45] Keaycee commented on #133
@patrick727 @Jake-Gillberg @lapin7 @jimscarver @dckc @pythonical  I'm very sorry if about everything and I accept my mistakes and wrongs. I really do not feel nice about the way this is going. Issue 133 was the first work I was assigned to by @patrick727 when I became a member of the coop. I'm new to collaborative work and this was the first issue I worked on. I tried my best to make corrections a

[2018-02-21 10:47] dcpnlau commented on #381
Thanks everyone for the great contributions. I just had a last minute request from work to help out with a project so I’m on a plane during our meeting. I’ve asked @lapin7 to chair the meeting for me. Apologies for the last minute change. Look forward to catching up again next week.

Sent on the go

[2018-02-21 11:57] ICA3DaR5 commented on #390
@dckc I was thinking of making a website (I am a full-stack developer).

I was thinking of translating them first and then create the website with a blog. OR I could create a Greek Medium account.

[2018-02-21 12:08] #383 closed

[2018-02-21 12:16] pythonical commented on #133
@Ojimadu others have looked at it and commented along the thread so it isn’t just down to one. I am a bit disturbed by these last comments by keaycee. Something odd.

[2018-02-21 12:41] Ojimadu commented on #133
@pythonical I was not referring to you or anyone in particular.

[2018-02-21 12:44] pythonical commented on #391
I didn’t realize you didn’t have to be a member to get bounties and you also can vote on rewards? In that case what’s to keep me from creating multiple personas and voting for myself?

[2018-02-21 13:45] ICA3DaR5 commented on #391
@pythonical Exactly!

[2018-02-21 13:51] dckc commented on #133
I looked more closely into the history of contributions by @Keaycee and I found a good conversation on telegram in Africa (IOU the #).

I'm light of that contribution, I am inclined to look at this as a misunderstanding. I accept your apology.

I see @lapin7 is making more comments to clarify norms for quoting work by others. That's good, but it could be a slow process, and this really should be a

[2018-02-21 14:49] zsluedem commented on #384
@ICA3DaR5 check #347

[2018-02-21 15:00] ICA3DaR5 commented on #279
@dckc That is awesome! But then.... does one need ETH to vote?

[2018-02-21 15:20] dckc commented on #279
We could require RHOC, I suppose.

I'm not sure which situations that tool would apply to, but it demonstrates some very interesting integration between chrome and the blockchain and such.

[2018-02-21 15:24] zsluedem commented on #387
I am kind of confused about what you are looking for here.What do you mean about "rchain tuplespace"?

[2018-02-21 15:29] lapin7 commented on #391
@pythonical In principal I expect that we work in good faith. If one creates multiple personas and votes for him/herself then that doesn't help RChain forward. I hope that multiple personas will be quickly discovered by the peer collaborators and that proper actions are taken. I think for example that collaborators must have the power to "kill" other collaborators, instead of escalating things up

[2018-02-21 15:41] ICA3DaR5 commented on #279
@dckc I don't think paying to vote is a good idea.

MetaMask is awesome in that I guess.

[2018-02-21 15:49] ICA3DaR5 commented on #384
@zsluedem Great!

[2018-02-21 15:56] dckc commented on #387
I'm not exactly sure either. ;-)

But see things such as https://github.com/rchain/mobile-process-calculi-for-blockchain/blob/master/actors-tuples-and-pi.rst

[2018-02-21 16:15] ICA3DaR5 commented on #363
@lapin7 Who should I contact to upload both of these captions to YouTube?

[2018-02-21 16:52] dckc commented on #302
@ICA3DaR5 would you please help shepherd translations for a while? I would much rather focus on other things, and @dcpnlau isn't available -- at least not today (cf. #381).

Perhaps you could recruit @AbnerZheng to help you?

I think I read that github supports multiple issue templates. Would you please start by installing the checklist in my comment above?

[2018-02-21 17:23] Jake-Gillberg commented on #385
@dckc Jim has been leading a group that has been organizing itself using the "O> Governance Working Group" project. I placed this issue on the project to notify anyone who may be monitoring that project that we are re-grouping and redefining what such a working (or interest) group may look like.

I agree with the preference to move away from "projects as buckets" to labels. I will remove this issu

[2018-02-21 18:03] Viraculous commented on #391
Am in consonance with @dckc @pythonical.As platform with cooperative modelling, rebates should be restricted to members. I think the issue here is basically checkmating duplication of personas from non-member collaborators in order to avoid multiple vote and reward allocation  to an individual. Firstly I think this should be considered before taking actions; What was the initial terms of the bount

[2018-02-21 18:15] Jake-Gillberg commented on #279
I agree that we should have some sort of member registry. My current extension allows anyone with RHOCs to vote, regardless of member status. (I would like to modify this extension to use a member registry where each member gets a total weight of 100 to vote with, that they can distribute [and redistribute] among github issues).

In terms of payment, it seems to make sense to me that the member fe

[2018-02-21 18:49] dckc commented on #279
I think I have fallen into the NBAC mindset here. A ZBAC approach is really what I want.

 - [From ABAC to ZBAC: The Evolution of Access Control Models](http://www.hpl.hp.com/techreports/2009/HPL-2009-30.pdf)
   Alan H. Karp, Harry Haury, Michael H. Davis
   HP Laboratories  HPL-2009-30

[2018-02-21 18:55] dckc commented on #391
Is there really anyone who wants to collect a 201802 bounty but not become a coop member? I could perhaps arrange for exceptions to be considered on a case by case basis, but in general it really doesn't seem too much to ask.

[2018-02-21 18:58] Staff91 opened #392 "M> Translate "Rchain Exclusive chat Lawrence Lerner & Nash Foster" Transcript to Italian"
**Completed:** 100%

**Tasks:**
- [x] Download the video
- [x] Download the English (original) transcript
- [x] Translate the content
- [x] Check the spelling
- [x] Review each other's work
- [x] View video with the Italian transcript and review
- [x] Have it reviewed by others with knowledge of English and Italian
- [x] Upload the Italian (translated) transcript, [here](https://drive.google.com/d

[2018-02-21 19:31] ICA3DaR5 commented on #302
@dckc Sure thing.

[2018-02-21 19:40] ICA3DaR5 commented on #391
True. If you are going to hunt bounties, $20 is not much for the membership.

[2018-02-21 19:51] Viraculous commented on #391
@dckc and @ICA3DaR5  that's why the bounty policy must be widespread to the notice of the collaborators before implementation for better rational decision from non-member collaborators  as cited.

[2018-02-21 21:08] Keaycee commented on #392
@Staff91 This is the original transcript file [here](https://docs.google.com/document/d/1BBfUS2-pHxSHo38rDUUqBmjxjm8HldJvMCKc8Xhiu7g/edit?usp=sharing)

[2018-02-21 21:12] TrenchFloat commented on #381
Notes for the meeting are up in [the doc](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit#). Looks like we didn't get to the agenda points on issues #375 and #371. Issue #380 was touched on briefly.

[2018-02-21 21:29] patrick727 opened #394 "Blog post summarizing Governance Forum"
For someone who attended the Forum, it would be nice to summarize the conference into a blog post including links to the videos.

The sooner the better as we are planning some press releases

ETI - 1 Week

_Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely._

Measure of Completion:
Suggested Budget:

_See CONTRIBUTING.md for details on budget and reward process._

[2018-02-21 21:39] dckc commented on #391
@Viraculous writes:

Agreed; I suggest that collaborators need only stay tuned for issues with the [bounty-contract](https://github.com/rchain/bounties/issues?utf8=%E2%9C%93&q=label%3Abounty-contract) label to be informed of changes.

I made some effort to document that: https://github.com/rchain/bounties/issues/78#issuecomment-367208156

In particular, there has always been a **Centralized Paymen

[2018-02-21 22:20] dckc commented on #391
@BelovedAquila are you personally asking to be paid bounties without joining the coop? Or are you, @Viraculous?

Or are you asking on behalf of some specific person whose github name you will please share?

Or are you asking on behalf of hypothetical parties who may get insufficient notice? As I mentioned above, payments to such parties have always been at the discretion of the coop officers. The

[2018-02-21 22:21] Staff91 commented on #392
@Keaycee Thanks a lot!

[2018-02-21 22:48] dckc commented on #351
@ICA3DaR5 I just merged #397 ...

But now I'm having second thoughts: I wonder if `README_i18n` is a better folder name than `README`. Maybe not... `i18n` is somewhat obscure.

I'll close this and see if everybody agrees. (anybody who does not agree: feel free to re-open it.)

[2018-02-21 22:48] #351 closed

[2018-02-21 23:01] ICA3DaR5 commented on #302
@dckc We can do the same thing we did on #398 for Pull Requests too.

[2018-02-22 01:28] Whisker17 commented on #384
@lapin7 I'm not sure if the review work should regard as another work and I dont know how should I set the budget

[2018-02-22 02:08] Jake-Gillberg opened #399 "Gather Voting System Requirements for the Oct. 2018 Member Meeting"

[2018-02-22 02:38] patrick727 opened #400 "governance strategy - member dashboard proposal feedback"

[2018-02-22 03:40] dckc commented on #133
I got some input from @jimscarver ; he encouraged me to not just request changes but demonstrate what I have in mind. I replaced wholesale copy and paste sections by placeholders: _pending appropriate excerpt / summary._

I'm not available to do the excerpts / summaries just now. I hope another collaborator comes along for that.

The remaining text, starting with the **GOVERNANCE working group MOD

[2018-02-22 03:41] 9rb commented on #400
[Governance overview proposal - Short / Medium / Long Term](https://docs.google.com/document/d/1ubAJ1Wa1N-incLNtk2dGSznDoJfuc82F2n35u4kanv4/edit?ts=5a89d94e)  and [Short-term: members portal services](https://docs.google.com/document/d/1JXM8k-fzf78Y_GbfkDdsekmdeVqqifC4VM0zEMBDxDw/edit) are relevant to this discussion.

[2018-02-22 04:02] 9rb commented on #400
I made some edits to those docs, especially the dashboard one ..

[2018-02-22 04:18] dckc commented on #400
@patrick727 please change "governance" to "onboarding" (or "welcoming new members") in the issue title and document title. Let's focus. Governance is a big ball of wax. Onboarding is something we can and should address in a tractable amount of time (not completely, but we should get to an 80% point, to where this is not the biggest issue).

And I'll repeat: I strongly encourage each person to pers

[2018-02-22 04:27] dckc commented on #399
@Jake-Gillberg tell me some stories?
  - a story about how things should work
  - a story about a bad thing that could / would happen if we get it wrong.

I have good experience with [StoryTellingAndTestCases](https://informatics.gpcnetwork.org/trac/Project/wiki/StoryTellingAndTestCases) for software development.

[2018-02-22 04:47] dckc commented on #279
just re-discovered:

 -- https://twitter.com/alexandria/status/922559749282865152

[2018-02-22 05:31] BelovedAquila commented on #391
@dckc I suppose a member doesn't have a second need to re-register by means of the new mechanism, so wouldn't be needing it for myself. And don't have any specific person in mind, just making a kind of allocutus plea on behalf of the below stated,

Because every rule, law or policy made should be made on a balanced scale, considering other vital factors, we don't just assume it would be fitting an

[2018-02-22 05:38] dckc commented on #386
@jimscarver point me to your slides, please? especially that list of best practices.

[2018-02-22 06:05] dckc commented on #302
This is done to my satisfaction.

@wordsandstuff and others, feel free to re-open it if you see more to do that shouldn't go in a separate issue.

[2018-02-22 06:13] dckc commented on #391
I don't understand your point. I read your comment several times.

What new mechanism?

The policy was made by the RChain executive committee, on a balanced scale to the best of our ability. I don't see anything in your comments that we didn't consider in making our decision.

Note comments above showing that several already understood this to be the policy, so it really is as much a clarification

[2018-02-22 06:28] zsluedem commented on #384
@Whisker17 I can review the translation.

[2018-02-22 06:33] Viraculous commented on #391
@dckc was wondering the base of your question though; as I never see where I requested or inferred that I personally be paid bounties without joining the coop. I am a legit member of the coop with entrance fee duly paid and so would I for every non-member who is a collaborator with us on github. In drafting out a policy that affect an environment, care must be taken to avoid biasness of the policy

[2018-02-22 06:37] dckc commented on #294
Are we done here? The only thing left that I see is perhaps to expand the scope (change the title) to include the story from @makys and perhaps some part of her role / title: "Global Information Security and Privacy Professional"

[2018-02-22 07:01] BelovedAquila commented on #391
@dckc the comment is self explanatory, you not understanding seem to be a personal issue.

Saying SEVERAL  based on the few number of github users who commented here,  as compared to the other greater number of exceptions not present here, is shallow. besides Iike everyone here is already a legit member,believed to have known the policy, so this issue wouldn't apply to them nor affect them. We are

[2018-02-22 07:18] dckc commented on #394
This has been percolating since the event; it might have too much stuff packed into one item, but that's how my head feels too:

 - [MadMode: dreaming big at the RChain Governance Forum](http://www.madmode.com/2018/rchain-gov-forum-SEA.html)

[2018-02-22 07:38] dckc commented on #391
@Viraculous unfortunately it's not straightforward for me to look up who is a paid member and who is not.

You write:

and as long as everyone who expects to vote on or collect a bounty is a member, we can agree with no need for me to take this back to the executive committee for reconsideration.

Given the relatively small and young nature of our community, I would make much more effort to ensure

[2018-02-22 07:46] dckc commented on #259
@pmoorman I'm interested to know what you think of the delivery of the talk; it was in this session:

 - [Rchain Governance Conference Day 2 Session 1](https://www.youtube.com/watch?v=Mmkae9E93tk&feature=youtu.be&t=6393)

I had fun giving the talk, but I don't know about watching a recording... watching myself on video is rarely fun.

[2018-02-22 07:49] dckc commented on #293
I'm pruning my todo list... this is done to my satisfaction, until I think of something else worth documenting.

[2018-02-22 07:49] #293 closed

[2018-02-22 07:50] dckc commented on #306
This is done to my satisfaction.

[2018-02-22 07:50] #306 closed

[2018-02-22 07:59] dckc commented on #127
Would you please
 - reduce the scope of this ticket to what got done (and rewarded) in January;
 - make one or more tickets to represent work in Feb or later;
 - close this issue.

Issues that take longer than a month fit awkwardly into our budget / reward system, not to mention all the usual challenges with large tasks.  See also #273

[2018-02-22 08:00] dckc commented on #131
@patrick727 is this still relevant to life as we know it? Or is it overtaken by events?

[2018-02-22 08:03] dckc commented on #137
@9rb do you still expect to work on this? What next step(s) do you have in mind?

@patrick727 is this still worth tracking? What would completion look like?

[2018-02-22 08:08] dckc commented on #192
see https://github.com/rchain/reference/commit/3efdc256dfc6a7bcf7d381f3fa0c0d7b88cd15e3#diff-4a1318da06786ac52626178ca960109e

[2018-02-22 08:08] #192 closed

[2018-02-22 08:12] dckc commented on #233
This is done to my satisfaction; some encouragement happened.

Feel free to re-open it if there's more to do.

[2018-02-22 08:25] dckc opened #401 "O> Issues list maintenance by guides"
_unguided issue query has been moved to that wiki page_.

Measure of Completion:  issues are regularly reviewed and pruned by a collection of guides, preferably with some overlap / redundancy.

[2018-02-22 08:30] dckc commented on #399
See also #209 ; are they both worth tracking? Or is one a dup?

[2018-02-22 08:33] dckc commented on #165
@kennyrowe I get the impression this is as done as it's going to get.

Especially given the interest that the executive committee has taken.

As always, feel free to re-open it.

[2018-02-22 08:33] #165 closed

[2018-02-22 08:40] dckc commented on #158
There was a trademark session at the Governance Forum; I'd appreciate it if somebody would cite the records from this issue, highlighting any follow-up items.

[2018-02-22 12:38] han014 commented on #384
Since there are 9447 words in the video according to #347, the total money for our translation is $1889.4 if it is $0.2 for 1 English word.
@Whisker17 and I also reviewed the English words in the video, and I wonder that if it is regarded as the additional work?
And I'm not sure where should I upload this in the Drive.Could u please tell us?@ICA3DaR5

[2018-02-22 14:09] drbloom commented on #260
@dckc I agree that using Discord's OAuth server would be fast to implement. In the future it would be nice to host an OAuth server on member.rchain.coop

Check out this php OAuth client for Discord [https://github.com/teamreflex/oauth2-discord](https://github.com/teamreflex/oauth2-discord)

Discord's `email` OAuth scope returns both the Discord [User Object](https://discordapp.com/developers/docs/

[2018-02-22 14:24] Tonyprisca13 commented on #332
Added 13-18

[2018-02-22 15:04] ICA3DaR5 commented on #263
So this is finished?

[2018-02-22 15:07] ICA3DaR5 commented on #251
@kaka56 If #263 is finished, should I mark it as closed? Also change DRAFT to FINAL here: https://docs.google.com/document/d/1ONyxaJTOL_ZXaFYQWVJ5dEUrnbTm-rCNW10f39sAIXY/edit

[2018-02-22 15:10] zsluedem commented on #401
What about the finished issue without paying bounties?
I suggest we create a new label for those issues. It would help manage those bounty issue at the end of the month.

[2018-02-22 16:37] Jake-Gillberg commented on #399
@dckc I view #209 as a request for voting tools with a wider and more generic scope.

[2018-02-22 17:01] dckc opened #403 "RChain community building office hours: Story Telling and Test Cases"
Let's tell stories and do mentoring and produce testable results -- and have a little fun and maybe jam while we're at it. Feel free to drop by **Saturdays, 9am Kansas City time** ( [RChain Community Calendar](https://calendar.google.com/calendar/embed?src=2cj152c9nidh6glpr1d5g4eq28%40group.calendar.google.com&ctz=America%2FChicago)).

## Recent sessions
 - [30 Mar 2019 video](https://www.youtube.

[2018-02-22 17:12] dckc opened #404 "Share Discord community building expertise with RChain"
For example: what does granting a friend request do?

cc @bconnolly

[2018-02-22 17:54] TrenchFloat opened #406 "M> Newsletter - February 16, 2018"
Just looking to give recognition to anyone who worked on this newsletter.

[2018-02-22 18:21] dckc commented on #401
@zsluedem elaborate, please? I don't understand. What is the situation that you are concerned about? What steps lead up to it?

Each person is responsible for collecting their own bounties by voting on budgets and rewards.

I encourage rewards only for closed issues (#318) and I encourage others to do likewise, but it's not something I want added to the `CONTRIBUTING.md` bounty contract as a hard-

[2018-02-22 18:29] #286 closed

[2018-02-22 19:09] lapin7 commented on #391
Just as the coop asks to fill out a tax form W8 or W9 before payment happens, the coop can also ask to become an official member of the coop in order to receive bounties. It can be implemented for the work done in February. I don't see a big point in membership or not.
Paid membership is also a hurdle for trolls and other bad-actors. :-)

[2018-02-22 19:20] lapin7 commented on #363
@Mervyn853 knows how to get the .srt on the youtube video.

[2018-02-22 19:22] David405 commented on #404
Granting a friend request allows you chat with a person even when he is not a member of any of the servers you belong to. See http://www.forums.mkboards.com/threads/discord-what-is-it-and-how-do-i-use-it.26051/ for a detailed documentation on discord and you can check out discord developer documentation for a greater level of details

[2018-02-22 19:26] David405 commented on #387
@dckc, please can make it a little clearer what you intend to here, I am more drawn towards development issues.

[2018-02-22 19:30] dckc commented on #260
btw... I realized recently that mixing in the trust metric should wait. The first thing is to model the current system. A few features should be added to the stuff above:

 - [ ] H J can add adjustment rewards (+ or -)
 - [ ] old budgets carry over
    - [ ] within each pay period, each issue budget needs a field to say how much was paid out

[2018-02-22 19:33] David405 commented on #387
@dckc, please make it a little clearer what is intended to do here as I am sort of interested in this since I am naturally drawn to development issues

[2018-02-22 19:34] dckc commented on #404
@David405 thanks. How much experience do you have with discord? What communities? If you have done community building on discord, perhaps you would like to share your experience? See also #403.

[2018-02-22 19:37] dckc commented on #387
I took the business rules from CONTRIBUTING.md and the spreadsheet and implemented them in SQL; much of it is views, which is a form of functional programming:

[code]
-- https://github.com/dckc/rchain-dbr/blob/master/bees_ants_schema.sql

I'm interested to learn what this would look like in Rholang.

[2018-02-22 20:02] dckc commented on #404
How do I prune the list of channels on the left to just the ones I want to track?

I'm used to IRC, where you `/join` the channels you want to. Just because somebody creates a channel doesn't mean it shows up on my screen.

[2018-02-22 20:15] patrick727 commented on #400
nathan windsor referenced https://whycardano.com/ as a good wiki like info source

[2018-02-22 20:17] patrick727 commented on #400
(dont want to put words in mouths)

but its my understanding that ian, jeremy and dan are leaning towards full wordpress installation for member site for many reasons, one being you can build and integrate php apps such as discord authentication and bounty web app.

Thoughts

[2018-02-22 20:20] dckc commented on #400
I don't doubt that the wordpress install will serve more purposes later. But I appreciate the initial focus.

[2018-02-22 20:24] patrick727 commented on #400
i agree, so right now we have vague consensus around utilizing wordpress for short/mid term member solutions

Ok nice that's a step forward

[2018-02-22 20:35] ICA3DaR5 commented on #363
@Mervyn853 Could you help me with that?

[2018-02-22 20:43] patrick727 opened #408 "M> RChain Jingle"
The goal of this is to come up with a simple jingle like

"nationwide is on your side"

but for RChain, and then we could use it as what offically starts the debriefs.
we have so many awesome musicians in teh community this should be a fun one.

Proposed bounty 1500 USD in RHOCs

[2018-02-22 20:44] Barkov-F commented on #285
I've done the first [draft](https://docs.google.com/document/d/1yQNO3ihaBBy0bo1xC0mkTuyVWslM0kKIeXwGdWYmBqE/edit). Reviews and comments are welcome.

[2018-02-22 20:48] Jake-Gillberg commented on #403
Color me interested!

[2018-02-22 23:01] dckc commented on #380
https://wordpress.org/plugins/yop-poll/ looks nice. (hat tip: @jeremybusk)

[2018-02-22 23:28] Jake-Gillberg commented on #279
Well, I guess I'll jot some stuff down since I am assigned.

As I understand it, there are currently two ways to identify a member:
1. The "Official" discord channel, where a user has a ":" following their name and the "member:" (distinct from "member") tag. (it sounds like there may be a way to extract that info to a more traditional OAuth2 scenario, via discord-reading-bot and discords oauth ser

[2018-02-23 00:31] pmoorman commented on #294
Let's close it. If we want to include the scope of Makys, we should spin it out into a separate issue. One person, one issue (to keep things clean).

[2018-02-23 00:33] #294 closed

[2018-02-23 00:33] flowpoint commented on #255
busy week, have the safe remote purchase working for the rholang erc20 [here](https://github.com/flowpoint/rholang_playaround/blob/master/safe_r_p_erc20), it needs review.
i hope good enough. cleanup + documentation will come.

[2018-02-23 01:56] zsluedem commented on #401
@dckc OK, I got your meaning. We see this in different perspective. I think the issue should be closed when it is done paying the rewards.But there are always some issues without any bounties. So I think  what you suggest reward for closed issues is cool.

Because I think it's kind of hard for one to organize all of the bounties at the end of the month, I think the new label of closed issue would

[2018-02-23 02:23] Keaycee opened #409 "O> Checkmating multiple accounts by coop members"
There have been dialogues about coop members having multiple membership account to enable their malicious act other than a helpful contribution to RChain cooperative. I think we can come up with an effective  measures to combat double membership account by coop members.

**How do we checkmate accounts?**

**TIPS**
- 1. Reviewing all coop members accounts that signed up

- 2. Reviewing each account

[2018-02-23 03:40] BelovedAquila commented on #409
@Keaycee that's a nice suggestive  tactics to check mate bad actors of multiple accounts and I think it would go a long way in achieving this #391 more effectively.

[2018-02-23 05:00] BelovedAquila commented on #360
I reviewed the W8 form manual. @Tonyprisca13 you did a nice work on that, it's actually very concise and straightforward.
@lapin7 the manual for filling out tax forms W8 and W9 created by @Tonyprisca13 are they good to go?

[2018-02-23 06:36] BelovedAquila commented on #186
@Keaycee your suggestion on clear instruction on how to fill the Tax forms, is being rectified on #360

[2018-02-23 08:55] lapin7 commented on #387
Me too.

[2018-02-23 09:04] ResonanceXX commented on #408
The jingle could be played against a backdrop of an animated manipulation of the RChain Logo. Effected to maybe dart across, shimmer or bounce around. Even twist.

This definitely should be fun. (clears throat!)

[2018-02-23 09:15] Biseny commented on #360
@lapin7 request a Github collaborator role . My email ：Biseny@qq.com

[2018-02-23 09:16] Biseny commented on #409
@lapin7 request a Github collaborator role . My email ：Biseny@qq.com

[2018-02-23 09:44] kaka56 commented on #409
@Biseny Great you want  to collaborate.
  please friend ,
- Join https://groups.google.com/forum/#!forum/rchain
- Accept https://github.com/rchain/Members/invitations
- Send your emailaddress + github name to ops@rchain.coop

[2018-02-23 09:49] Barkov-F commented on #285
I've proofread the [transcript](https://docs.google.com/document/d/1yQNO3ihaBBy0bo1xC0mkTuyVWslM0kKIeXwGdWYmBqE/edit). I think it's ok to publish. @Mervyn853

[2018-02-23 09:49] #285 closed

[2018-02-23 09:58] #360 closed

[2018-02-23 09:58] hcl3 commented on #347
cool!

[2018-02-23 11:31] lapin7 commented on #360
@BelovedAquila please link to the manual W8/W9 when you've scanned a new collaborator.

[2018-02-23 11:34] lapin7 commented on #401
When there's a reward on a closed issue for February, the reward will be also on the invoice of February. So it would get paid.

[2018-02-23 12:34] jiyuxuan1944 commented on #408
We can make this kind of tone with a synthesizer.

[2018-02-23 13:19] dckc commented on #409
If you start doing this and have any experience to share, @Keaycee , please do.

It's interesting to think through these scenarios, but I doubt the suggested process is cost-effective. If you think through a budget for this, you may well agree.

I chatted with @kennyrowe about KYC and learned that the requirement is not 100% prevention of fraud, but just a reasonable due-diligence, sufficient to k

[2018-02-23 13:22] dckc commented on #249
I don't expect we want to discuss this in a future meeting, so I'm removing **RAM-weekly-agenda.**

And this is as done as it's going to get, so I'm closing it.

[2018-02-23 13:22] #249 closed

[2018-02-23 13:23] #250 closed

[2018-02-23 13:28] dckc commented on #391
@lapin7 the **RAM-weekly-agenda** label is still on this, which suggests it was not addressed in the Feb 21 meeting (#381); was it?

Or it could be that the norm of removing the label when the meeting addresses it is not established. What do you think about that norm?

[2018-02-23 13:31] dckc commented on #381
I'm getting conflicting info about whether the handling of source materials in the governance scope doc (#133) was discussed in this meeting.

@jimscarver if it was discussed, would you please summarize the discussion in the body of the record?

@TrenchFloat I got the impression from you that it was not discussed; is that the case?

[2018-02-23 13:46] dckc opened #411 "publish in rchain.coop domain using github pages"
Currently the RChain community does quite a bit of [sharecropping in the Web][TB03], especially in google docs and on github.

Using github as a "back end" to collaborate on a web site is great: the audit trail is great and the tools are good and such. But we should use github pages and a custom domain to publish most of the results under the **rchain.coop** domain; for example, the "Google juice"

[2018-02-23 13:49] dckc commented on #401
I see somebody put some of the guides in the label descriptions. Thanks!

[2018-02-23 14:12] lapin7 commented on #401
Yep. Only a url is missing to contributing.md

[2018-02-23 14:21] lapin7 commented on #391
The subject "Membership and bounty" has been addressed, but it didn't go towards a decision.
Let's decide about it in the meeting of 2018-02-28 and leave the label on until decision has been made. (good norm)

[2018-02-23 14:24] lapin7 commented on #408
@jiyuxuan1944 please add here a link to a draft synthesizer tone

[2018-02-23 15:40] ICA3DaR5 commented on #384
@han014 Upload them [here](https://drive.google.com/drive/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii) with an appropriate title.

[2018-02-23 15:58] kaka56 commented on #263
@ICA3DaR5  Yes we are through  with  the Spanish  version and  changed  the  draft to Final.

[2018-02-23 16:02] kaka56 commented on #251
@ICA3DaR5  yes we are through with the Spanish translation and changed  the draft  to Final.

[2018-02-23 16:46] tgrospic commented on #127
@dckc that makes sense. I'm closing the issue.

@AbnerZheng please create a new issue for your open PR for formatting.

[2018-02-23 16:46] #127 closed

[2018-02-23 16:49] iamnathanwindsor opened #412 "RChain vs. Ethereum vs. Cardano"
Hi All-

Can someone explain the differences between RChain, Ethereum and Cardano?

Specifically:

1.) What advantages does a correct by construction language like Rholang have over others like Cardano's [Plutus](https://whycardano.com/#scalability)?

2.) I've heard Greg say multiple times that Rholang has concurrency "built into it", but why does it matter if Ethereum is "bolting on" plasma or po

[2018-02-23 17:29] patrick727 commented on #260
is the app available to demo?

[2018-02-23 18:58] dckc commented on #260
yes. see pointers in the first few comments.

[2018-02-23 20:56] kirkwood commented on #412
Thanks for the question. See https://forum.rchain.coop/developer/rholang/rchain-vs-ethereum-vs-cardano/

[2018-02-23 20:56] #412 closed

[2018-02-23 21:41] David405 commented on #387
what is the possibility of creating a CRUD App using rholang as at the moment?

[2018-02-23 22:17] dckc commented on #260
@hyperevo IOU specifics on discord OAuth integration; here's hoping for a bit of time to make a specific issue for it.

[2018-02-23 22:42] hyperevo commented on #260
I will start work on the Discord Oauth

[2018-02-23 23:31] iamnathanwindsor commented on #412
@kirkwood Thanks for the feedbac, though that is my own post I made today that I'm trying to move things over to the forum.

Does anyone have an answer to this?

[2018-02-23 23:58] dckc opened #413 "Authenticate members in bounty voting: Discord to xataface via OAuth"
In the interest of tracking membership in the bounty process (e.g. #391), let's integrate with discord, using the [guild and role API](https://discordapp.com/developers/docs/resources/guild).

Thanks to @hyperevo, this is implemented and deployed:
  - web site: https://rewards.rchain.coop/
    1. Use "login" link at top right; authorize the rchain github OAuth app.
    2. Use "Verify coop membersh

[2018-02-24 01:11] hcl3 commented on #277
The work that has already been completed in follow up
1.needs to be developed in the background template of the RChain official account.
2. we need to classify, typeset, translate and publish articles regarding RChain.
3. Some images for the RChain official account will require design support.
4. create connections between RChain official account, QQ group, and Chinese website.
5.follow-up needs t

[2018-02-24 01:20] hcl3 commented on #277
I've added 31 articles in RChain，And I forward the article to the WeChat group and QQ group, so that more people understand RChain's information。
![_20180224091723](https://user-images.githubusercontent.com/35514111/36623853-df874efe-1943-11e8-9cc1-0c8403c9ceed.png)

[2018-02-24 01:20] zsluedem commented on #387
I am still not really confused about the thing you want to do.

SQL is a language to integrate with the database; They are `string`.

If you want to build an app with the Rholang. I think you should use a database like Mysql and you should use Rholang to implement the driver(like [this](https://github.com/mysql/mysql-connector-python)) to integrate with the database and then wrap it like a tool(pa

[2018-02-24 01:23] hcl3 commented on #277
RChain WeChat Official Account now reaches 359 users
![_20180224092145](https://user-images.githubusercontent.com/35514111/36623902-52d9b720-1944-11e8-8eb9-ae3c85b88970.png)

[2018-02-24 02:07] hcl3 commented on #277
WeChat Official Account two-dimensional code：

![qrcode_for_gh_abbf605e516d_258 1](https://user-images.githubusercontent.com/35514111/36624458-88b2b0da-194a-11e8-8037-2bcb6d20351c.jpg)

[2018-02-24 04:23] OPNO commented on #408
Hi Patrick, I'd love to take a crack at this. How long should it be? Should it be more of a stinger than a jingle?

[2018-02-24 04:54] dckc commented on #387
I want to use the RChain storage layer rather than Mysql. In particular, I want to find out if the [storage and query][1] layer serves a similar role as mysql.

[1]: http://rchain-architecture.readthedocs.io/en/latest/execution_model/storage_and_query.html

[2018-02-24 05:04] dckc commented on #401
@ICA3DaR5 you're already doing most of what I have in mind. I suppose I didn't explain what I meant by pruning:

  - Use **invalid** or **wontfix** labels to close issues that are no longer worth tracking.
  - label issues as **needs-SMART-objective** as a warning if, after a week or two to allow for brainstorming, there isn't a plausible plan in the issue or at least a clear next step.

[2018-02-24 05:07] dckc commented on #403
@Jake-Gillberg @ICA3DaR5 do you want to start this Sat, Feb 24?

[2018-02-24 06:02] hyperevo commented on #260
So I managed to get php working, communicating, and authenticating with Discord's Oauth. I am able to grab a list of guilds that the user belongs to. However, it doesnt allow me to see the user's roles within the guild. Since we are currently identifying coop members by their roles within the guild, this specific method doesn't seem like it will work.

So I am now going to try a different route. A

[2018-02-24 07:03] dckc commented on #260
@hyperevo good to see progress. Let's use #413 for this oauth stuff going forward, OK?

[2018-02-24 07:04] dckc commented on #413
This isn't a change to the bounty contract, @BelovedAquila .

[2018-02-24 07:05] hyperevo commented on #413
So I managed to get php working, communicating, and authenticating with Discord's Oauth. I am able to grab a list of guilds that the user belongs to. However, it doesnt allow me to see the user's roles within the guild. Since we are currently identifying coop members by their roles within the guild, this specific method doesn't seem like it will work.

It looks like I can set up a discord bot, giv

[2018-02-24 07:05] hyperevo commented on #260
Sounds good

[2018-02-24 07:24] dckc commented on #413
Oh! I just realized: the app uses github names, primarily. So this discord stuff shouldn't be the primary login mechanism, but rather a way to set a "verified coop member" flag.

[2018-02-24 07:25] dckc commented on #413
@hyperevo are you interested to do Github OAuth too?

[2018-02-24 07:30] dckc opened #414 "Authenticate bounty Collaborators using Github OAuth"
part of #260

see also #413 discord oauth for verifying members

related work: Google OAuth with xataface: https://github.com/dckc/hh-office/tree/master/Auth/gapp

cc @hyperevo

[2018-02-24 07:40] dckc opened #415 "Migrate budget, reward data from Gsheet to SQL db"
I got 201801 mostly done, but in order for carry-over budgets to work, we have to go all the way back to the beginning (201708, I think).

I prototyped it using a jupyter notebook, but it's now more packaged:

[dbr_norm1.py](https://github.com/dckc/rchain-dbr/blob/master/dbr_norm1.py)

[code]

splitting this out of #260

[2018-02-24 07:46] dckc commented on #260
I'm reducing the scope to what's getting done in the 201802 pay period: a useful prototype, but not deployment. I made a milestone for the deployment.

[2018-02-24 08:02] dckc opened #416 "Sync bounty repo users, issues with Web app"
part of the app designed in #260

prototyped in [dbr_norm.py](https://github.com/dckc/rchain-dbr/blob/master/dbr_norm.py) Feb 2 fc16119

## Use case: Sync users, issues tables with github repo

  - [x] ops manager or any other user can sync on demand by pushing a button
  - [x] noone can edit users; sync from github is the only way to update
  - [x] noone can edit issues

postponed:
  - [ ] _syste

[2018-02-24 08:06] dckc opened #417 "Use Github labels rather than title prefixes O> M> etc."
I'm still not clear on why we have these **O>** prefixes. Whatever system uses them, let's get it to use labels instead so we can quit cluttering up the issue titles.

@lapin7 wrote [Feb 2][]:

The convention dates back as far as [Dec 8][].

[Feb 2]: https://github.com/rchain/Members/issues/279#issuecomment-362682280
[Dec 8]: https://github.com/rchain/Members/issues/165#issuecomment-350388332

cc

[2018-02-24 09:01] dckc commented on #330
@TrenchFloat I talked with our friend about helping with this one.

[2018-02-24 09:08] dckc opened #418 "Publish co-op governance (esp executive committee) Google docs in Rchain.coop Domain"
just like #411, but for google docs

see: [google sites custom domains](https://support.google.com/domains/answer/6069257?hl=en)

cc @patrick727 @jeremybusk @kennyrowe @hyperevo

[2018-02-24 09:14] dckc commented on #408
@TrenchFloat for some words, check out the branding ideas in #371.

[2018-02-24 09:49] dckc commented on #403
@Jake-Gillberg here's the (start of) the NBAC, ZBAC story...

## Capability Security

[2018-02-24 12:55] BelovedAquila commented on #413
Alright, Pardon. @dckc

[2018-02-24 13:05] jiyuxuan1944 commented on #408
@lapin7 I use my Korg synthesizer and SONAR, made a few melodies.Tell me more details.
[jingles.zip](https://github.com/rchain/bounties/files/1754373/jingles.zip)

[2018-02-24 13:46] dckc commented on #412
Kent's answer looks pretty good.

[2018-02-24 15:02] dckc commented on #403
ok; let's try this... [hangout](https://hangouts.google.com/hangouts/_/madmode.com/dckc?authuser=)

[2018-02-24 16:24] Jake-Gillberg commented on #301
Whether we use `name(process)` or `name!(process)` to represent a "send" is inconsistent.

All of the `tut-*` examples in [rholang/examples](https://github.com/rchain/rchain/tree/master/rholang/examples) use the `name(process)` syntax, and the code examples on the website are inconsistent use both (ack!).

I got confirmation that there is no difference between the two in [discord](https://discorda

[2018-02-24 16:29] patrick727 commented on #408
Im a fan of the tune @dckc just intro'd our meeting with this morning.

Not sure if it was original but it was catchy.

[2018-02-24 16:32] ResonanceXX commented on #408
A lot of copy right issues could be mopped up by seeking appropriate approval for use. 
Catchy is very good. Something that lingers in the mind, and resonates in the heart. The tune could be altered to prevent copy right issues. 
We want a blind person to know "This is RChain!"

Sent from Yahoo Mail on Android

  On Sat, 24 Feb 2018 at 17:29, patrick727<notifications@github.com> wrote:
Im a fan of

[2018-02-24 16:58] dckc commented on #301
agreed; see #411

[2018-02-24 17:09] #299 closed

[2018-02-24 20:23] drbloom commented on #404
Channels can be nested into "Categories", but unfortunately, users have little control over which channels are displayed. I suggest we archive many of the channels, change channel names, and streamline.
There is just not enough space in Discord's channel listings.

[2018-02-24 22:43] hyperevo commented on #413
Even if we aren't using Discord for the primary login, we still have to have them login to their Discord account to prove it is their account. I guess it can be a one time thing, and once they are verified we can just add it to the database.

Since I have already been reading OAuth documents I might as well take the github OAuth too while its fresh in my mind if nobody else wants it.

[2018-02-25 01:14] dckc commented on #413
yes, we still have to have them login to discord.

[2018-02-25 01:35] BelovedAquila commented on #413
@hyperevo you are making a point, but what method of verification is to be used to verify the  discord account? Because was wondering if it should be a video verification, and since the discord verification is likely to be a ONE TIME THING like you stated, then I suggest it should be carefully and judiciously done, to ensure that no one is wrongly verified or any blur verification is made, because

[2018-02-25 02:56] BelovedAquila commented on #415
@dckc I find this impressive, using the Gsheet tends to have many lags such as it being quite slow and it freezing a lot,especially in cases of numerous rows and data volumes. gladly the transfer of the Reward and Budget sheets to the SQL would really go along way in resolving this as SQL seldom slacks on account of data volume as compared to Gsheet. Nice one friend

[2018-02-25 03:50] ottermagically commented on #408
I might submit some ideas in coming week.

[2018-02-25 03:50] theneverafter opened #420 "Onboard @theneverafter, product manager, ethereum miner, and front end developer"
*Inspired by #293 and #294*

### How I got involved
I did some LinkedIn stalking and saw that my friend and ex-colleague @kirkwood was working on RChain, so I decided to check it out. I first got into crypto when I did some casual mining of Bitcoin/Litecoin/Dogecoin with my gaming PC back in 2013. More recently, I build a dedicated mining rig for Ethereum. This led me further down the rabbit hole,

[2018-02-25 03:53] theneverafter commented on #253
Here's my journey so far: #420

[2018-02-25 04:36] dckc commented on #375
made some progress in https://github.com/dckc/rchain-dbr:

 - 2018-02-24 7ea7a32 Merge branch 'dev-hosted'
 - 2018-02-24 335eb97 trust_cert table
 - 2018-02-25 3045baa trust_cert UI

next up...
  - [ ] seed some certs based on github activity
  - [ ] run the trust metric
  - [ ] make a place to store the results

[2018-02-25 04:38] dckc commented on #413
The KYC process is separate; the results of that process go into discord roles. The task here is purely technical: access those roles.

[2018-02-25 04:50] dckc commented on #414
Whatever version the service providers (github, discord) use. I haven't checked. OAuth 2, I suppose.

[2018-02-25 04:57] dckc commented on #420
There's no approval step before starting work. You just start and take the risk that you'll be rewarded when you're done. Does that make sense?

[2018-02-25 05:01] dckc commented on #420
Oh... for working on [core rchain/rchain bounties from Jira](https://rchain.atlassian.net/browse/ROS-271?jql=labels%20%3D%20bounty), it's best to coordinate with @MParlikar (cf. #184).

[2018-02-25 05:55] JieL314 commented on #304
I have reviewed it.

[2018-02-25 06:55] #239 closed

[2018-02-25 07:06] JieL314 commented on #278
@lapin7 Where is the issue in Budget201801 or Budget201802? I remembered that I set the budget and percentages, but now I can't find it.

[2018-02-25 07:41] #319 closed

[2018-02-25 08:24] #229 closed

[2018-02-25 08:35] dckc commented on #154
@patrick727 is this still relevant to life as we know it? When is the last time you reviewed **Marketing** issues?

[2018-02-25 08:49] AbnerZheng commented on #274
As @kelly said, I have reviewed the translation and and update the translation towards the updating of original document after the creating of the https://github.com/rchain/reference/pull/40 and then create a new PR(https://github.com/rchain/rchain/pull/324) to `rchain/rchain` repo.

[2018-02-25 08:50] AbnerZheng commented on #274
@lapin7 I don't find table entry for this issue on `budget Feb`, is there anything wrong?

[2018-02-25 08:51] Pionelle commented on #415
The Google sheets is a well used and allows for phone tablet or pc access. can SQL be adequate for Coop uses and constant access to the spread sheet.

[2018-02-25 09:10] AbnerZheng opened #422 "Add a working Formatter for Rholang-idea"
Since @dckc suggests, I create this issue for apply for budget for `Add a working Formatter for Rholang-idea`.

The function preview:
![image](http://g.recordit.co/aaqkN11t6W.gif)

The PR is https://github.com/tgrospic/rholang-idea/pull/2.
Measure of Completion:
Suggested Budget:

[2018-02-25 09:38] zsluedem commented on #264
This one has done already~! According to #318 #401, I am going to close this issue. Feel free to reopen it.

[2018-02-25 09:41] zsluedem commented on #289
This one has done already~! According to #318 #401, I am going to close this issue. Feel free to reopen it.

[2018-02-25 09:41] #289 closed

[2018-02-25 09:41] #264 closed

[2018-02-25 10:21] rjl493456442 opened #423 "M> Add git workflow section to chinese version CONTRIBUTING"
git workflow section has been added to the english version CONTRIBUTING file, and chinese version should also up to date.

_Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely._

Measure of Completion:
Suggested Budget: $50(1 hour)

[2018-02-25 10:56] BelovedAquila commented on #420
@theneverafter Welcome friend, for further information,don't know if you had come across  [CONTRIBUTING.MD]  (https://github.com/rchain/bounties/blob/master/CONTRIBUTING.md) it would go a long way in helping you understand better.

[2018-02-25 11:04] peetklasen commented on #283
@dcplau has translated lines 1-70. She does not have enough time to finish her part of the translation. We have agreed that I will also translate lines 70 - 800.
I'll keep you informed about the progress.

[2018-02-25 11:07] LiliNL commented on #384
Whisker17
--
han014
zsluedem
ICA3DaR5
lapin7

Please set a budget and give your percentages for each of above. Find out yourselves how a review should be rewarded. It's up to this team.

[2018-02-25 11:07] BelovedAquila commented on #414
Alright, please is the Github OAuth aimed at authenticating  or authorizing, because I use to know OAuth to be a kind of pseudo authenticator not basically for authentication, though an exception if a new version which does that is actually onboard

[2018-02-25 11:12] lapin7 commented on #384
Member | 0.00%
-- | --
@Whisker17  | 0.00%
@han014 | 0.00%
@zsluedem | 0.00%
@ICA3DaR5  | 0.00%
@lapin7 | 0.00%

Please set a budget and give your percentages for each of above. Find out yourselves how a review should be rewarded. It's up to this team.

[2018-02-25 11:24] Whisker17 commented on #384
@lapin7  the total words is 9447,so the total money for our translation is $1889.4 if it is $0.2 for 1 English word,we have [upload](https://drive.google.com/drive/folders/1Q1ZvWI6DCr2CTFoEtcm6cuW9Ylir5QD1) the English subtitle(reviewed) and the Chinese version,so I think it worth $1889.4*2 = $3778.8

[2018-02-25 11:35] BelovedAquila commented on #415
@Pionelle actually Gsheet is actually accommodating as regards to various device access,  but Gsheet kind of makes data integrity  harder to manage when using its spreadsheets. I know with SQL database management system, several people can access the same data set. Such that it's  system manages editing of data so that two people cannot alter the same data values at the same time. And this preserv

[2018-02-25 12:40] jiyuxuan1944 commented on #304
@hcl3 We have finished the translation,you can upload to the WeChat Official Account.

[2018-02-25 12:43] lapin7 commented on #415
Yeah, yeah I know the limits of Gsheet. But it was the quickest way to get started. Hopefully the Gsheet solution will die gracefully in Feb and in March we can implement the SQL system of @dckc.

[2018-02-25 13:03] lapin7 commented on #384
@Whisker17 you don't have to ask my permission for this budget. If you think $1889.4*2 is OK and good for RChain, then go ahead. But I will vote it down, because I don't understand the *2. I would rather say the $1889.4 is for the budget for the team that works on it.

Please go ahead and set the budget here.
https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#

[2018-02-25 13:10] lapin7 commented on #283
Mooi zo. Ga zo door :-)

Dan kun je de rewards ook aanpassen voor 28 Feb.
https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=294454559&range=C2636:N2643

283 |   | M> Dutch Version of Lerner & Nash Foster interview transcript | Marketing | 3 | OPEN | $ 2,000.00 | -50.00 | 1,076.32 | 2,050.00 | Member | Team + Pers Reduce %
-- | -- | -- | -- | -- | -- | --

[2018-02-25 13:16] lapin7 commented on #422
I think this is awesome and deserves a budget and reward
https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=60903965&range=A273:Q273

422 |   | Add a working Formatter for Rholang-idea |   | $ - | $ - | $ - | ⍴ - | $ - | OPEN | 0 |   |   | AbnerZheng | 0 |   | tgrospic
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2018-02-25 13:17] lapin7 commented on #274
Plz try  again
https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=60903965&range=A184:I184

--
Cheers,
HJ

On Sun, Feb 25, 2018 at 9:50 AM, Abner Zheng <notifications@github.com>
wrote:

[2018-02-25 13:20] lapin7 commented on #234
@dckc please set the budget as you think it's good.

[2018-02-25 13:22] lapin7 commented on #381
@dckc Maybe raise the budget for this issue and claim a reward for your clean-up work in Feb.

[2018-02-25 13:23] lapin7 commented on #278
Please have a look again and reset it if necessary

--
Cheers,
HJ

On Sun, Feb 25, 2018 at 8:06 AM, JieL314 <notifications@github.com> wrote:

[2018-02-25 13:40] Whisker17 commented on #384
@lapin7 I think the review should be another work,but I'm not sure how to judge it since the translation is $0.2 a word,so I thought the review should be regarded as an English version subtitle which is also $0.2 a word,but if u don't agree,it's OK

[2018-02-25 13:45] #296 closed

[2018-02-25 14:26] JieL314 opened #425 "M> Translate Casper Proof-of-Stake on RChain into Chinese"
Background:Many people in channel of Chinese QQ group have huge interest in Casper Proof-of-Stake on RChain. So I am prepare to spread it in them.
Work: 1)obtain the introduce in youtube([Casper Proof-of-Stake on RChain](https://www.youtube.com/watch?v=qJFCtmlCu-0&list=PLf2bbiic5ZjCPzin3gCSMGiBtbT8UO5o2&index=8)), 2) translate it in Chinese.
Budget: from $1500 to $2000. I will append the budget in

[2018-02-25 14:55] zsluedem commented on #347
Anyone who try to review the subtitle please self-assign or make a comment.

[2018-02-25 14:56] zsluedem commented on #425
Once you make it done, I can help review the subtitle

[2018-02-25 14:58] zsluedem commented on #425
#347 has the google generated English subtitle

[2018-02-25 15:04] patrick727 opened #426 "M> 10-15 Media Outlets w/ Author Contacts"
Input 10-15 media outlets in which our targets would frequent.

See ["Media Outlets" ](https://docs.google.com/spreadsheets/d/1M9kqbnYxotaOLtWOj7MWquE41KADZJLtwFdgDqtoEck/edit#gid=1863564439)in infleuncer spreadsheet

Target Audiences

#1 Mavens: Anarchist/Libertarians that are very well practices in multiple programming modalities, motivated by a systemic shift.

Possible outlets: Hackernews, lib

[2018-02-25 15:05] han014 commented on #347
I will translate the video Blockchain Business Requirements recent days and then submit.

[2018-02-25 15:40] AbnerZheng commented on #274
@lapin7 Thank you. It works now.

[2018-02-25 15:40] AbnerZheng commented on #274
Since the PR(https://github.com/rchain/rchain/pull/324) has been merge into the dev branch, every can view the translation in https://github.com/rchain/rchain/blob/dev/rholang/doc/rholangtut-mercury_CN.md, means this work has been done.
@HaizhenZhuo Please apply for the budget.

[2018-02-25 16:07] AyAyRon-P commented on #408
@TrenchFloat I like the intro/outro. Remind me of a Radio/Pod cast jingle.

[2018-02-25 16:09] AyAyRon-P commented on #371
Looking at the doc, I think we can remove the brand guidelines for RhoLang and have an "about" page for it was a short description. The brand guidelines will be in the master style guide which is yet to be produced.

[2018-02-25 16:16] Staff91 commented on #369
This is finished!

[2018-02-25 16:17] Staff91 commented on #367
This is finished as well!

[2018-02-25 16:41] ICA3DaR5 commented on #330
@dckc I have something almost ready. The only thing it's missing it's to retrieve the usernames from the "members-only" Discord channel automagically. I am sending you the draft on Discord.

[2018-02-25 17:59] theneverafter commented on #420
@dckc What about closing work though? Who can review and merge pull requests?

[2018-02-25 19:15] AyAyRon-P commented on #417
@dckc I took a look at this and it's an easy fix, but it's a manual task. Let me know if you want me to make the changes.

[2018-02-25 19:57] lapin7 commented on #384
$0.20 is for the whole process. Intake, analyse, translation, review, delivery.

[2018-02-25 23:01] dckc commented on #417
You took a look where? What would you change? Did you find the system that consumes the prefixes?

[2018-02-26 00:19] dckc commented on #293
Everywhere I look I see RChain apps now:
  - tripit - why don't I get paid for contributing my data? Why do I have to look at ads?
  - google maps - again, why don't I get paid for contributing my driving data?

  - [finquick](https://github.com/dckc/finquick) - the personal finance system I've been building for years
    - Discover shut down their OFX server, so I tried using plaid
      - I have

[2018-02-26 01:02] AyAyRon-P commented on #404
@dckc Here is what I found out with the help of someone at Discord....

After you MUTE a channel, right click a channel and select MUTE, you can go up to the top drop down arrow, click it, and then select HIDE MUTED CHANNELS

This will clean up your list.
![hide_muted_channels](https://user-images.githubusercontent.com/35570702/36648896-767624c8-1a5e-11e8-9bb7-fde2fe7b4897.PNG)
![drop_down_hide_mu

[2018-02-26 01:04] AyAyRon-P commented on #417
It's done manually when a person enters in the ISSUE name.

[2018-02-26 01:16] Whisker17 commented on #384
Cool，I‘ll close this issue cuz it's done

[2018-02-26 01:16] #384 closed

[2018-02-26 01:54] JieL314 commented on #425
Welcome!
The English subtitle which generated by google can't be accuracy. So the verification is important.
I will inform u when the work were been done.

[2018-02-26 02:28] hcl3 commented on #304
@jiyuxuan1944 ok, I've uploaded it to the WeChat Official Account.

[2018-02-26 03:14] dckc commented on #234
I suggest $400 for Feb.

In fact, I already suggested it in [Budget Votes for 234][1] in the new system.

[2018-02-26 03:24] dckc commented on #260
In a comment on the monster spreadsheet, @lapin7 asked:

Very timely! I was having so much trouble with the gsheet that I used the web app to enter my votes, with an expectation of manually transcribing them afterward. It was quite pleasant.

You can see [all my budget votes][2] at a glance, in fact. And [all my reward votes][3].

I wonder if this week's meeting is too late for people to try it ou

[2018-02-26 03:33] dckc commented on #420
Anyone with contributor status (which is pretty much everyone) _may_ review and merge pull requests.

Lack of experience with git, however, means that the number of people who _can_ review and merge pull requests is fairly small. :)

[2018-02-26 03:55] dckc commented on #417
That's the (manual) system that **produces** the prefixes. The fix has to go in the system that **consumes** the information.

[2018-02-26 03:59] dckc commented on #422
Yes, this looks like good work. I wonder if we could get some time in Greg's weekly update for a demo. (See also #380)

[2018-02-26 06:28] lapin7 commented on #260
Great
I have some time today, to try it.
We could do a mixture for Feb. Entry by sql and entry by Gsheet.
For March only sql

Sent from my iPhone

[2018-02-26 06:31] lapin7 commented on #260
I’m wondering if old budgets have to carry over anyway. I don’t see a need.

Authentication can be done through google groups?

Sent from my iPhone

[2018-02-26 11:32] lapin7 commented on #422
I will try to get some demo time from Greg

[2018-02-26 12:09] dckc commented on #260
Authentication through google groups would only complicate things.

[2018-02-26 12:56] lapin7 commented on #260
OK. Do you have a moment today to go through your system? And to see if we
can implement it already?

--
Cheers,
HJ

On Mon, Feb 26, 2018 at 1:09 PM, Dan Connolly <notifications@github.com>
wrote:

[2018-02-26 13:36] ResonanceXX commented on #408
https://drive.google.com/file/d/1sJy8Qr1J14vURib2Ki_3hWrX6ldTZCjh/view?usp=drivesdk

This has a slight jingle opening.
But all tunes are primal property. So no legal "wahala"
Also tunes can get better, with adjustment to the #keys.

[2018-02-26 13:51] TrenchFloat opened #427 "Monty Compiler for RChain"
@dckc will fill out the details.

[2018-02-26 14:56] dckc commented on #260
As I said, I tried it out and found it's already quite usable.

What other evaluation would you like?

On Feb 26, 2018 6:56 AM, "HJ Hilbolling" <notifications@github.com> wrote:

[2018-02-26 14:58] dckc commented on #408
@TrenchFloat @mjreitz we forgot to add the vroom rev sound. Go ahead and
add it?

On Feb 26, 2018 7:36 AM, "Chris Ken" <notifications@github.com> wrote:

[2018-02-26 14:59] lapin7 commented on #260
Yeah,
Your evaluation is fine.
But please walk me through today, so that I can point other collaborators
to this application instead of the spreadsheet.

--
Cheers,
HJ

On Mon, Feb 26, 2018 at 3:56 PM, Dan Connolly <notifications@github.com>
wrote:

[2018-02-26 15:06] lapin7 commented on #260
@dckc  We could do a zoom https://zoom.us/j/4991184673
And you explain how collaborators can enter data in http://rchain-dbr.nfshost.com/rchain-bees-ants/

[2018-02-26 18:55] decentralizebanksy commented on #426
Updated with 22 inputs. Includes publication, author's name, author's email, and author's twitter handle. Some email fields are n/a.

https://docs.google.com/spreadsheets/d/1M9kqbnYxotaOLtWOj7MWquE41KADZJLtwFdgDqtoEck/edit#gid=1863564439

[2018-02-26 19:24] dckc commented on #330
@ICA3DaR5 and I discussed his idea and for now, set it aside.

[2018-02-26 19:26] dckc commented on #266
@ICA3DaR5 is this ready to close?

[2018-02-26 19:27] dckc commented on #260
I don't see any time today when I can do this. Do you, @TrenchFloat ?

[2018-02-26 19:29] AyAyRon-P commented on #404
@dckc
For the sake of the Pub Bounty/Budget and completion are you looking for a more formal guide or were there any FAQs you need answered?

[2018-02-26 19:30] dckc commented on #426
I can refine #238 for this purpose.

I'm unsubscribing from this broader issue.

[2018-02-26 19:33] dckc commented on #404
I'm looking for guidance from someone who has done community building using discord.

In particular:

cc @bconnolly

[FlashingFire]: https://www.ssbwiki.com/Smasher:FlashingFire

[2018-02-26 19:36] lapin7 commented on #260
@dckc @TrenchFloat somewhere between tomorrow and friday is fine for me.

[2018-02-26 19:40] dckc commented on #260
Friday? I thought all the votes had to be in by the end of the month?

If it's not urgent, I'm starting to hold office hours of a sort Saturdays 9am Chicago time. See #403

Wed, Thu, and Fri evenings (Chicago time) are possible this week.

[2018-02-26 19:46] lapin7 commented on #260
@dckc yes you're right about the votes.
But I would like to begin using your app in March. That means that collaborators could enter their budgets/rewards in your application.
So there's no hurry in having a walkthrough, but this week would be nice.

[2018-02-26 20:05] ian-bloom opened #428 "What IT infrastructure for Co-op to expand operations?"
### What IT infrastructure to support Co-op through Mercury?
#### Eventually most operations will be performed using the RChain Platform itself.
#### (Self-Hosted, and Open Source wherever feasible)

- [ ] Membership Database Credential Sharing
  - [ ] LDAP
  - [ ] OAuth2
- [ ] Multisig Management Tools, Procedures, & Training for Officers & Directors
- [ ] Hosting Infrastructure
  - [ ] IP block

[2018-02-26 20:07] dckc opened #429 "Pub Bounties spreadsheet broken: missing names, duplicate rows"
@lapin7 how are we supposed to do budget voting this month?

I tried to vote on a reward for @TrenchFloat in an issue where both of us had already made comments but our names were not in the right parts of the spreadsheet. I raised an issue in google sheets and assigned it to you, but I also updated the "RChain Member Issue Participants". Then a bunch of rows were duplicated.

I asked if I had mes

[2018-02-26 21:22] dckc commented on #429
The main problem is perhaps fixed as of the version of Feb 26 4:39 AM Chicago time.

And it seems that we are to continue to use the sheet for 201802.

Please confirm and close this issue, @lapin7

[2018-02-26 23:06] dckc commented on #427
a tiny bit of progress: https://gist.github.com/dckc/fb6c0a49361e8502b0be418ec71b44c1

[2018-02-26 23:11] patrick727 commented on #400
Hey All, thanks for all of the feedback, in two days I will close this issue down and then create another one for "mock up of membership website" based on these requirements for myself and @nathanwindsor to execute on.

Get your feedback in, also if you are good at web mockups(@pmoorman , @AyAyRon-P) reach out

[2018-02-27 00:35] AyAyRon-P commented on #400
@patrick727 I can develop mock up options once the parameters have been specified based on the feedback over the next two days. Over the next two days it would be good if we could determine a list of MVP features to integrate into the dashboard to speed up the execution of the project.

[2018-02-27 01:03] zsluedem commented on #427
I am not really familiar with the Monte language(actually first time touch). I just check it [here](http://monte.readthedocs.io/en/latest/intro.html). So I can understand it like something which compile the Python  to Rholang, right?

[2018-02-27 01:10] Viraculous commented on #334
@dckc, am not skilled in development issues and as such have little knowledge of how SMART this issue could be. You suggested reducing the scope of the issue, would that help making it more actual?  I guess u have a better idea using w3c claims, please let's see how to get the issue SMART and actionable. Permit me to assign you.

[2018-02-27 01:57] BelovedAquila commented on #247
@Viraculous this is progressive, implementation of the binding #334 is the next phase,we are indeed heading somewhere. I think this issue of getting the discipl has been resolved, other subsequent steps on implementing the  https://www.w3.org/2017/vc/WG/ should be on #334.

[2018-02-27 02:10] kitblake commented on #400
I see goals but is there a structure for the Members site? Would be good to have it before beginning mockups. We could make an outline with indents in the GDoc for an initial setup.

[2018-02-27 02:16] BelovedAquila commented on #334
@dckc I think the issue is worth looking into,  if closely looked into,I think it's realistic objective would be seen, since @Viraculous isn't skilled in developments issues, I suggest @David405, @hyperevo and likewise yourself could look closely into it, the issue of #247 has gone soo far to just be abandoned on the stand of no clear objective,you could actually help to see that this development

[2018-02-27 03:05] dckc commented on #427
@BelovedAquila that tag is yet another of your messes that I have to clean up. Stop it. If you don't have a substantive contribution to make, just leave things alone.

[2018-02-27 05:01] zsluedem commented on #427
That's a nice idea.
As far as I have known, there are always some limits about that kind of compiler.But still it is a good touch for understanding Rholang for Python developers.
I can help with some test once you are done.

[2018-02-27 06:18] BelovedAquila commented on #427
@dckc Noted, Pardon. I suppose it was meant to under development instead right? Pardon.

[2018-02-27 06:40] hyperevo commented on #260
I forked the code here: https://github.com/hyperevo/rchain-dbr
added the xataface installation, and currently working on github oauth, and discord oauth.

[2018-02-27 06:43] hyperevo commented on #414
I have implemented a bare bones github oauth. Progress is moving ahead nicely. I forked the original bounty website code here that includes xataface and github oauth: https://github.com/hyperevo/rchain-dbr

[2018-02-27 09:50] yuhuanmocmoc commented on #277
@hcl3  You have said that this WeChat Official Account is for free. I think you guys should keep to what you say. @lapin7 this issue looks like the #258.

[2018-02-27 12:25] dckc commented on #260
I would really rather not bloat our source tree with all of Xataface. Not
even in a historical commit.

More when I'm at a full keyboard...

On Feb 27, 2018 12:40 AM, "Tommy" <notifications@github.com> wrote:

[2018-02-27 12:31] AyAyRon-P commented on #400
@kitblake I think an outline would be equally as crucial as the MVP list for the sake of navigation. I'm free today if you want to go over a preliminary outline.

[2018-02-27 12:48] AyAyRon-P commented on #370
After reviewing the document @pmoorman, I think we could incorporate this entire document into our issue #371. Otherwise we're generating another standalone document when this should be part of the overview/masterbrand platform documentation.

What're your thoughts on that?

[2018-02-27 13:20] rjl493456442 opened #430 "M> Check rholang 101 syntax and semantics video subtitle and translate it to chinese"
Check rholang 101 syntax and semantics video's subtitle which offered in #347 by @zsluedem and translate it to chinese version after the correctness checking.

Measure of Completion:
Suggested Budget:  3200$ (0.4$ each word for both review and translation)

[2018-02-27 13:44] pmoorman commented on #400
@patrick727 I would really like to be involved with a WG focused on onboarding. I guess what I wrote in #253 more or less outlines my perspective on things.

On a practical note: I haven't got time now to review things today or tomorrow (because I'm on the road). Sorry about that.

[2018-02-27 14:25] jiyuxuan1944 commented on #277
@yuhuanmocmoc Application for the  WeChat Official Account is obviously free. However, construction is costly, and the operation of  WeChat Official Account is a long-term process. WeChat Official Account already has hundreds of users, and in the future will become more..We have already upload  many articles, each article will be reviewed and typeset before uploading,which takes much time. We will

[2018-02-27 14:37] JieL314 commented on #425
The subtitles for both videos are approximately 5200 words. So the budget for translation is $1040($0.2 per word). the another budget for $600 is set to understand, handle and rectify subtitles. So the total budget is set to $1640.

[2018-02-27 14:39] Whisker17 commented on #430
cool,and I think u should tick it in #347 to avoid duplicated work

[2018-02-27 14:40] yyh1102 commented on #277
![image](https://user-images.githubusercontent.com/10328169/36734447-80548820-1c0e-11e8-809f-bf2234b41fae.png)
@jiyuxuan1944
So that's what @sportshark said "running free of charge"? Application is free for sure, the cost obviously comes from the operation, which is the same as most kinds of social communities.
Can you tell my why you guys create a new WeChat Official Account after #258 has been c

[2018-02-27 14:41] rjl493456442 commented on #430
@Whisker17 Thanks for remind!

[2018-02-27 14:42] rjl493456442 commented on #430
@Whisker17 No worry, i already reference the #347. Anyway thanks for the remind!

[2018-02-27 14:48] yuhuanmocmoc commented on #277
@jiyuxuan1944  it's so ridiculous!
It is free actually to apply a WeChat Official Account, and what do you mean about  the "Application for the WeChat Official Account is obviously free. However, construction is costly." ? I think you do not have any common sense about running free.

[2018-02-27 15:01] rjl493456442 commented on #347
@zsluedem Hey, i create an issue to translate one of the video subtitle to chinese. I'll help you to review the original subtitle and upload the revision to the given drive.

[2018-02-27 15:09] hcl3 commented on #425
That‘s great

[2018-02-27 15:13] AbnerZheng opened #431 "Translate 'LADL Algorithm and Type Theory' into Chinese"
We wanna to translate this subtitle(LADL Algorithm and Type Theory #347 ) into Chinese.

  - Why this document? (mark all that apply)
    - [x] it's one of the /rchain/reference documents
  - How can people who do not speak this language be assured of the quality of the translation? (all are required)
    - [x] several reviewers are involved （I will assign them later)
    - [x] at least two of the

[2018-02-27 15:18] AbnerZheng commented on #347
@zsluedem I will create a new issue to translating ' LADL Algorithm and Type Theory', I am quite interested in this theory, thanks for you effort.

[2018-02-27 17:17] yyh1102 opened #432 "M> Review English subtitle of 'Rholang Smart Contracts Lab'(part 1 and 2) and translate it into chinese"
I wanna review and translate 'Rholang Smart Contracts Lab' referenced in #347 , including **part1** and **part2**

Total English words: 9297 (part 1: 6162  part 2: 3135)
Measure of Completion:
Suggested Budget:  $2760
(translation: $1860 ($0.2 per word)  review origin subtitle: $900 ($0.1 per word))

  - Why this document? (mark all that apply)
    - [x] it's one of the /rchain/reference documents

[2018-02-27 17:17] yyh1102 commented on #347
@zsluedem I'll create an  issue to translate ' Rholang Smart Contracts Lab'.

[2018-02-27 18:11] nunojesus opened #433 "Translate this project into Portuguese from Portugal ptpt."
Hello,
If you are interested I can translate this project into Portuguese from Portugal ptpt.
If yes, is there any folder for translations?
Greetings!

[2018-02-27 19:00] Chris-Arv commented on #392
We finished the Italian translation.

[2018-02-27 19:00] #392 closed

[2018-02-27 19:00] Jake-Gillberg opened #434 "Nominate a Treasurer"
The nominating committee has been instructed to nominate a candidate for Treasurer of the Coop in replacement of Lisa Rice, who has accepted a position elsewhere (still within the RChain ecosystem!).

The duties of the Treasurer as stated in [the bylaws](https://github.com/rchain/board/blob/master/Revised%20Bylaws%20(8-28-17).docx.pdf):

From Lisa, current holder of the position:

Qualities that t

[2018-02-27 19:01] Chris-Arv commented on #251
Finished with the Italian translation:

Here are the files: Issue #392

Google Document: https://drive.google.com/open?id=1qx6eMaE6LHotPrnbtsgsS-_h-6FEh0IW3sv-bx3Cuzs
SRT File: https://drive.google.com/open?id=1pBrN6ESjPatZmG0hGGicue8GcOcaZUV9

[2018-02-27 19:39] dckc commented on #334
@msporny my energies are currently directed elsewhere, so if it were up to me, I was going to close this as **wontfix**. But maybe it's something we should talk about... let me know if you want me to fill you in on RChain and talk about how a verifyable claims implementation could fit in.

It might be fun to take a crack at it in monte (see #427).

[2018-02-27 19:42] dckc commented on #370
Yes, I think merging makes sense, but...

I would be more likely to recognize it by the name "purpose and principles" than "brand platform." Based on discussions at the Governance Forum in Seattle, I think I'm not alone. So I suggest merging #371 into this one.

[2018-02-27 19:44] Jake-Gillberg opened #435 "Solidify Nominating & Governance Committee Charter"
Current "charter" lives [here](https://github.com/rchain/bounties/wiki/Coop-Committees):

My first thought is "this charter only seems to cover the 'nominating' portion of 'nominating and governance'"

[2018-02-27 19:46] dckc commented on #400
@pmoorman there was a meeting yesterday evening and I gather* the outcome is that one group is coalescing around new member orientation and a separate one around the web site. @patrick727 is leading the web site group. So I plan to split the **comms-onboarding** label into **new-member** and **website** or the like.

*_grumble grumble_ I should be able to point you to the notes, but they're not sh

[2018-02-27 19:55] ICA3DaR5 commented on #266
There are two files in the directory.

1. https://drive.google.com/open?id=1oTZVkYEhhnZtyU4DmNiiT3N39R0IVpHI92vP8kaltFs
2. https://drive.google.com/open?id=1EWAapJoeZ1jKkD2rj1RABkc7Blsh5KnHcQSAOz399uQ

Which is the right one?

@lapin7 any insights?

Also, the files need to be uploaded as .srt files. Like [the english one](https://drive.google.com/open?id=1nl5ctTmA9FNK_uS6K2nN2m3gyzZJCIgY) in order

[2018-02-27 20:49] Jake-Gillberg commented on #434
Some good marketing stuff for the position from Jacob:

[2018-02-27 21:01] Jake-Gillberg commented on #435
I don't know that we have officialized membership yet, but here are the names that Evan (the chair) has contacted:

Chair
- Evan Jensen

Members
- Kevin Valentine
- Jacob Bassiri
- Jim Whitescarver
- Patrick Maguire
- Phillip Strauch
- Vlad Zamfir
- Mrinal Manohar
- Jake Gillberg

Right now, it seems like our active members are
- Patrick Maguire
- Jacob Bassiri
- Phillip Strauch
- Kevin Valentine

[2018-02-27 21:15] Jake-Gillberg opened #436 "Advertise for the treasurer position opening"
Gather materials sufficient for @patrick727 to make a post to linkedin + other social media
(most information posted in #434)
- [ ] Salary range estimate from compensation committee (I got a tentative answer of ~$120k assuming >5-7 yrs exp and located in Seattle. It sounds like they are meeting to discuss this though)
- [ ] Exciting job description
- [ ] Desired qualifications
- [x] Email address

[2018-02-27 21:58] Jake-Gillberg commented on #434
There is a discussion about compensation happening in discord's comp-committee

[2018-02-27 21:59] Jake-Gillberg commented on #434
A good question that was raised: "how many years of experience are we looking for?"

[2018-02-27 22:03] Jake-Gillberg commented on #434
It sounds like "Min 5-7 years experience in public accounting" landed well

[2018-02-27 22:24] David405 commented on #422
@AbnerZheng, kindly comment your discord username, I would like to have a chat with you

[2018-02-27 22:40] peetklasen commented on #283
I made some adjustments to the rewards. I am not so used to the voting system. Hope it is OK like this.
I have translated lines 70 - 500 and 800 - 1625 and will translate lines 500 - 800 in the next few days.

[2018-02-27 22:59] jbassiri commented on #434
LinkedIns:
https://www.linkedin.com/in/kate-gonsalves-3a804238/
https://www.linkedin.com/in/zeevkirsh/

[2018-02-27 23:38] #247 closed

[2018-02-27 23:45] dckc commented on #427
I got it working in one case:

[code]

compiles to
[code]

https://gist.github.com/dckc/fb6c0a49361e8502b0be418ec71b44c1

[2018-02-28 00:50] ICA3DaR5 commented on #266
@flowpoint tells me that the right one is No 2. BUT it's not finished yet!

[2018-02-28 01:21] Whisker17 commented on #347
Glad to see some many people join in this issue,I'll upload the " Blockchain Business Requirements" reviewed subtitle and the its Chinese version.
Also,I and @han014 will review the "Compiler Design, Cryptoeconomics" and translate it into Chinese recent days.

[2018-02-28 01:22] zsluedem commented on #347
@han014 @rjl493456442 @AbnerZheng @yyh1102 Feel free to open a seperate issue. And I really suggest you can collaborate with each other for reviewing or something.That would be helpful for budget voting.

[2018-02-28 01:27] sportshark commented on #277
@yyh1102 @yuhuanmocmoc
This WeChat Official Account  is not mine.
Because I didn't see him applying for a reward, so I said those words. Maybe some misleading, I apologize.
First of all, I think the more communication channels are established, the more conducive to the publicity of the RChain community.
Second, I subscribe to the two WeChat Official Accounts （yours and this one）, and this WeChat O

[2018-02-28 01:29] zsluedem commented on #433
You have to become a collaborator first.
@BelovedAquila I think you are the one who manage the github collaborator, right?

[2018-02-28 01:30] sportshark commented on #277
@yyh1102 @yuhuanmocmoc Thank you for your contribution.I have also seen your contribution to the Rchain community, and I will also vote for your contribution.

[2018-02-28 01:51] Dessertowl commented on #434
I dont think  Kate has the experience needed to manage the funds of a billion dollar company. The 4 jobs she has had that have lasted longer than a year are literally  working for David Otto. She  worked with Otto law from 2005 till May 2011. Otto law was essentially renamed to Martin Davis since in April 2011 when the SEC fined Otto for penny stock pump and dumps.  She was a treasurer for him dur

[2018-02-28 02:19] yuhuanmocmoc opened #437 "M> Translate 'Go-To-Market Strateg' into Chinese"
We want to translate this subtitle(Go-To-Market Strategy #347 ) into Chinese.

  - Why this document? (mark all that apply)
    - [x] it's one of the /rchain/reference documents
  - How can people who do not speak this language be assured of the quality of the translation? (all are required)
    - [x] several reviewers are involved (_assign the ticket to them_)
    - [x] at least two of them have

[2018-02-28 02:33] yyh1102 commented on #347
@zsluedem OK. I can help to review the work of @rjl493456442 ~

[2018-02-28 02:41] yuhuanmocmoc commented on #347
@zsluedem Hey, i create an issue #437 to translate the “Go-To-Market Strategy” to chinese,thanks for you effort.

[2018-02-28 02:42] AyAyRon-P commented on #404
Took a look at that server and have a much better example for you:

[2018-02-28 02:49] linsheng9731 commented on #347
@zsluedem Great work! I will create a issue to translating ' RChain Architecture & Implementation detailed: English subtitle', I am interested in it.

[2018-02-28 03:00] AyAyRon-P commented on #404
Ah okay - that helped! I took at look at the example you sent, and that's a basic gaming server. I'm part of a large gaming community known as PixelPub: http://www.pixelpubgaming.com/

Here is their discord server: https://discord.gg/uw3PMqV

This server utilizes multiple bots that can be incredibly helpful: https://botlist.co/platforms/discord
Probably one of the best is Dyno Bot for moderation o

[2018-02-28 03:02] linsheng9731 opened #438 "Translate and review English subtitle of 'RChain Architecture & Implementation detailed' video from the Rchain Youtube Channel into chinese"
I wanne translate and review English subtitle of [RChain Architecture & Implementation detailed](https://www.youtube.com/watch?v=bwH66UMFp-Y&list=PLf2bbiic5ZjCPzin3gCSMGiBtbT8UO5o2&index=10) video from the Rchain Youtube Channel into chinese. This video really helped me understand the Rchain Architecture.

Measure of Completion:
Suggested Budget: $2382(0.4$/word)

  - Why this document? (mark all

[2018-02-28 03:11] Jake-Gillberg commented on #434
comments from discord:

[2018-02-28 03:36] han014 opened #439 "Translate "Compiler Design, Cryptoeconomics" into Chinese"
Check "Compiler Design, Cryptoeconomics" video's subtitle  offered in #347 by @zsluedem and translate it to chinese version after English subtitle review.

I will complete it with @Whisker17

Suggested Budget: 2000$ (0.2$ for each word)
Time: #about a week

[2018-02-28 04:09] dckc commented on #422
@David405 a good place to connect github names to discord names is the Introduction survey results in #222. I guess I should make them easier to find...

[2018-02-28 04:13] AbnerZheng commented on #422
@David405 I have the same name with discord.

[2018-02-28 04:15] dckc commented on #428
re newsletter, see #219

[2018-02-28 04:16] dckc commented on #428
gsuite sites could be good for #418

[2018-02-28 04:29] dckc commented on #194
This is done to my satisfaction.

[2018-02-28 04:29] #194 closed

[2018-02-28 04:37] dckc commented on #203
lots of overlap with #222; I wonder if they're worth tracking separately.

[2018-02-28 05:08] BelovedAquila commented on #433
you are welcome @nunojesus  to contribute in the translation projects of your stated languages, please start it up by following the details below.
Please friend,
- Join https://groups.google.com/forum/#!forum/rchain
- Accept https://github.com/rchain/Members/invitations
- Send your emailaddress + github name to ops@rchain.coop

[2018-02-28 05:50] kirkwood commented on #434
Is there a reason we're not filling the CFO role instead? Any candidate will end up doing those duties anyway, since they must be done, and it seems reasonable to recognize that fact.

[2018-02-28 06:04] dckc commented on #265
@lapin7 the spreadsheet shows you zero'd out the budget on this; was that on purpose?

[2018-02-28 06:08] dckc commented on #390
This is 80% done? I don't see any results. I don't think the Feb budget should be $2000.

[2018-02-28 06:41] dckc commented on #435
@Jake-Gillberg writes:

This is by design, I gather, based on discussion with @kennyrowe and @drbloom: https://github.com/rchain/bounties/issues/133#issuecomment-362033400

[2018-02-28 09:01] rjl493456442 commented on #258
Project Progress Report：
Now me and my teammates have completed the Official Account construction named `RChain Blackboard` or `RChain黑板报` in chinese.

We divided articles published in `RChain Blackboard` into two categories. The first type is an article about technology in the RChain project. The second type is the progress of the RChain team, including weekly content, Roadmap information and mor

[2018-02-28 09:04] sportshark commented on #258
Great！I'm longing for more people to know about RChain

[2018-02-28 09:37] peetklasen commented on #283
The job reaches completion  It looks as if @BelovedAquila also had a role in the process. To me it is not clear what this role is or has been.

[2018-02-28 10:27] lapin7 commented on #283
@BelovedAquila is indeed listed as budget-setter and as reward-setter. However he doesn't get a reward %. So it's fine. If he is claiming a reward, then you can down vote him with a negative percentage. The collaborators have each the power of carrots and sticks so to speak.

2,000.00 | Member | 100.00%
-- | -- | --
275.00 | Tonyprisca13 | 13.75%
0.00 | BelovedAquila | 0.00%
0.00 | lapin7 | 0.00%

[2018-02-28 11:01] lapin7 commented on #266
@ICA3DaR5 please keep one file. You probably know best which one is the best.

[2018-02-28 11:37] traviagio commented on #198
@Mervyn853 please update the sheet if there are any new Research Reviews in the pipeline. I just updated all the progress in the marketing directories part.

[2018-02-28 12:00] drbloom commented on #380
@dckc No I am not working on a listserv to help with the issue of alerting all members.
Please remove me from https://lists.w3.org/Archives/Public/www-archive/2018Feb/

[2018-02-28 12:07] Mervyn853 commented on #198
Updated the sheet with latest review by :
**Cryptosyndicate** https://thecryptosyndicate.com/rchain-multi-threading-blockchain/
**Coin Central** https://coincentral.com/rchain-beginner-guide/

Also updated The Crypto Lark interview with Lawrence Lerner and Nash Foster here https://www.youtube.com/watch?v=2SiEBpSI6Uo

Will update again with a few more interviews scheduled @traviagio

[2018-02-28 12:36] drbloom commented on #371
[![Foo](http://www.coop/wp-content/uploads/2017/05/coop_blk-300x126.png)]

.COOP Global Cooperative Marque branding was discussed and **agreed upon** during the Co-op's January 26 staff meeting. Full adoption of the Marque was applied for and granted to the Cooperative to use under these [Terms & Conditions](http://www.domains.coop/support/terms-conditions/).

### coop Marque

[Coop_marque.zip](ht

[2018-02-28 12:43] Whisker17 commented on #347
@linsheng9731 @yyh1102  @yuhuanmocmoc @rjl493456442 @AbnerZheng  I've create this [folder](https://drive.google.com/drive/u/0/folders/1BvOKt0ThjJeV2hxJ-Y_feJ-n2KZkEHkC) to upload reviewed subtitle,you can create the folder like me to make it clearer,thanks.

[2018-02-28 13:41] Whisker17 opened #440 "Translate "Blockchain Business Requirements" into Chinese"
I and @han014 have reviewed the crude subtitle and translated the "Blockchain Business Requirements" into Chinese #347
Since the total word is 3166,I think the budget should be $634.
We will upload the reviewed subtitle and its Chinese version [there](https://drive.google.com/drive/u/0/folders/1TYCHiaqfPjixlxT_2dgWZWeKSdVRe5rK)

[2018-02-28 14:07] han014 commented on #440
That's good.

[2018-02-28 14:07] AyAyRon-P commented on #371
@drbloom this isn't the place for that information. That would be something to include in the brand style guide.

[2018-02-28 14:46] lapin7 commented on #330
New Collaborators
--
@wordsandstuff
@Dessertowl
@theneverafter

plz join https://groups.google.com/forum/#!forum/rchain
and accept https://github.com/rchain/Members/invitations
and send your email + github + discord to ops@rchain.coop_

[2018-02-28 16:02] theneverafter commented on #330
Yep, all set.

[2018-02-28 16:29] Mervyn853 commented on #291
Looks like we're going to close out the month a few members short of the target for the month. Agree that  the RChain telegram channel should be focusing on quality discussions which is why the moderators have actively funneled price and speculative discussions over to other unofficial groups. Other toxic behaviors have also been removed and actively moderated.

For a project without an ICO, I thi

[2018-02-28 16:35] AbnerZheng commented on #422
@tgrospic @lapin7 @dckc
It is a big PR, you can view the commits in https://github.com/tgrospic/rholang-idea/pull/2/commits. It takes me about 12 days to finish the job. The tuning of formatter style take a amount of time.
So I apply for 3800$.
Can I have your vote?

[2018-02-28 16:53] yuhuanmocmoc commented on #269
The translation work has been done. You can preview the translated document in [this](https://drive.google.com/file/d/1FeeZysyud_ao2j8UUDP3pwNKZYiN6lzb/view?ts=5a96c0b2).

[2018-02-28 17:04] ICA3DaR5 commented on #266
@lapin7 I am told by @flowpoint that [this](https://drive.google.com/open?id=1EWAapJoeZ1jKkD2rj1RABkc7Blsh5KnHcQSAOz399uQ) is the right file.

[2018-02-28 17:16] ICA3DaR5 commented on #265
@dckc Yes, this issue has been already payed.

[2018-02-28 17:19] ICA3DaR5 commented on #401
@dckc Voted on this, as well.

[2018-02-28 18:00] ICA3DaR5 commented on #375
:scroll:

[2018-02-28 18:07] barneycinnamon opened #441 "Try to post an issue"
Measure of Completion:  I think it will be pretty much immediate
Suggested Budget: $0

Um, I think this is it. I am going to click the green button and see what happens.

[2018-02-28 18:11] tcsiwula commented on #427
Do these bounties reward you?

[2018-02-28 18:27] dckc commented on #427
Yes, they typically do.

As is usual for github repositories, CONTRIBUTING.md documents how we work. You seem to be new, so please consult with the greeters in #253.

_p.s. these two comments are somewhat off-topic for this issue, so after giving you some time to read my reply, I intend to delete them._

[2018-02-28 18:37] tcsiwula commented on #422
What is the Budget for this issue?

[2018-02-28 18:41] dckc commented on #291
Excellent report, @Mervyn853 ... in fact, this feedback is too important to direct toward an as-yet-unposted (let alone filled) Director of Communications position.

What we have right now is some groups forming on:

 - purpose and values (@jimscarver ?)
 - branding (@pmoorman )
 - **member-site** (@patrick727 )
 - **greeter** (@makys ).

Please follow up with them via relevant issues (or new ones

[2018-02-28 18:46] #369 closed

[2018-02-28 18:54] makys commented on #441
@barneycinnamon
Trust you got it all sorted.

[2018-02-28 18:58] dckc commented on #422
yes, you have my vote, @AbnerZheng ; however, presuming this gets some time on the weekly update, I voted to reward myself and @lapin7 a small part of the reward for getting it appreciated by a wider audience.

[2018-02-28 19:37] jplepel commented on #390
Gave a look at the Rchain Greek twitter account. 1 follower. For a fairly large bounty, can you focus on marketing Rchain to the Greek market as well? Chicken and the Egg situation, but would like to know there is a market demand for Greek documents.

[2018-02-28 19:47] ICA3DaR5 commented on #390
@dckc I am uploading the articles now.

[2018-02-28 19:47] ICA3DaR5 commented on #390
@jplepel I intend to market those channels once I create a website for this.

[2018-02-28 20:05] n10n commented on #369
Completed the pull request.

[2018-02-28 20:20] #390 closed

[2018-02-28 20:55] dckc opened #442 "pro/con list on RChain vs. DAT vs IPFS"
context: https://twitter.com/nevali/status/968951172412444672

I want to know more about DAT. Maybe @MostAwesomeDude will teach me...

fielding 18 Dec is relevant re IPFS:

https://twitter.com/fielding/status/942852215496105984

but see also [videos of collaborative editing with IPFS using CRDTs][1]

[1]: https://github.com/ipfs/research-CRDT/issues/7

[2018-02-28 20:57] nevali commented on #442
for more context on DAT (I've played with a bit, but I'm not involved in the project):

https://datproject.org
https://beakerbrowser.com

and most interestingly…

https://beakerbrowser.com/docs/inside-beaker/other-technologies.html

[2018-02-28 21:32] MarioPolo commented on #382
Great ! 🎉

[2018-02-28 21:35] wordsandstuff opened #444 "O> Gov conf SWAG"
# All
Every person who attends the governance meeting should revive moral boosting merchandise  . People will fly form all over and should receive some swag that they can take back with them to show off to their local blockchain communities .

Measure of Completion: DONE
Suggested Budget: 1650

[2018-02-28 21:36] LiliNL commented on #444
Great. I will work on it.

[2018-02-28 21:36] LiliNL commented on #444
@kitblake please add a comment.

[2018-02-28 21:37] dckc commented on #442
lots of synergy with other-technologies:

check... RChain architecture is proof of stake

check... see RChain namespaces etc.

check... "scalable; secure; sustainable" is one of RChain's mottos

check: One of Greg's answers to "Why RChain?" was "Governance and blockchain can't be separated; I felt compelled to connect them." -- https://platform.coop/2017/schedule/breakout-panels-next-money-new-tec

[2018-02-28 21:47] Keaycee commented on #444
@wordsandstuff please be clear about this

[2018-02-28 21:47] tgrospic commented on #382
:+1:

[2018-02-28 22:01] wordsandstuff commented on #444
This is already done. The shirts have been created and distributed. :)

[2018-02-28 22:08] Tonyprisca13 commented on #251
@tcezi it should be the link for the video.

[2018-02-28 22:08] Viraculous commented on #285
great job work done @kaka @barkov and @keaycee

[2018-02-28 22:22] flowpoint commented on #442
on ipfs from [rchain architecture docs](https://rchain-architecture.readthedocs.io/en/latest/execution_model/storage_and_query.html?highlight=ipfs):

[2018-02-28 22:44] barneycinnamon commented on #260
Commenting to see what will happen

[2018-02-28 22:59] dckc commented on #406
Keep up the good work on https://github.com/rchain/bounties/wiki/Weekly-Debrief-Index , @TrenchFloat

_(yes, this comment is mostly just to get a slot in the spreadsheet to put in a supporting vote)_

[2018-02-28 23:07] dckc commented on #371
@pmoorman @AyAyRon-P please see feedback from the telegram audience compiled by @Mervyn853  in https://github.com/rchain/bounties/issues/291#issuecomment-369296566 .

Let us know when you've seen it (e.g. with a reaction on this comment).

[2018-02-28 23:26] makys commented on #375
Thanks for sharing the slide. This is good work. One goal we should drive at is Simplicity of Process. This is important in the on-boarding program. When a concept is easy to understand, the barrier for adoption is very low.

[2018-02-28 23:33] Tonyprisca13 commented on #283
@peetklasen I did an adjustment on it please check it up

[2018-03-01 00:32] kitblake commented on #444
We could change the title to "Gov conf SWAG"

[2018-03-01 00:56] AbnerZheng commented on #422
@dckc
Sure

[2018-03-01 01:41] #382 closed

[2018-03-01 01:42] ICA3DaR5 commented on #440
Is this finished?

[2018-03-01 02:00] makys commented on #371
@pmoorman this is good start. I made some comments in the document. Having a consistent way of doing things will help unify us and reduce the barrier for entry for new members.

[2018-03-01 02:15] dckc commented on #293
so many business relationships I'd rather replace with coops and smart contracts:
 - streaming music (roll on resonate.is!)
 - credit cards
 - cell carrier (found one, but it's in the UK)
 - ISP
 - hardware vendors?

[2018-03-01 02:35] Whisker17 commented on #440
@ICA3DaR5  yes,we have uploaded [there](https://drive.google.com/drive/u/0/folders/1TYCHiaqfPjixlxT_2dgWZWeKSdVRe5rK),and I will close this issue later

[2018-03-01 02:42] AyAyRon-P commented on #371
Taking a look now at Mervyn's comments and will leave feedback there.

[2018-03-01 02:52] yyh1102 commented on #423
That's good! This will make contributing flow very convenient~

[2018-03-01 02:59] AbnerZheng commented on #423
I have review the PR and help to merge it.

[2018-03-01 03:14] AyAyRon-P commented on #291
This is excellent insight @Mervyn853. Thank you for compiling and sharing this with us.

1) Having gone through several KYC applications myself, including this one for RChain - would it make sense to use implement an API to potentially automate this process more efficiently? If this has already been discussed and opposed, please disregard.
2) I wasn't here for the private sale so I can't speak to

[2018-03-01 03:14] AyAyRon-P commented on #371
@dckc I commented on issue #291

👍

[2018-03-01 04:27] TrenchFloat commented on #260
I am not available to present (until next week, that is).

[2018-03-01 05:09] drbloom commented on #371
Sigh. Jan 26 staff meeting, attended by all Co-op officers had no minutes. @patrick727 was there as well, and can confirm. After the recent logo confusion, I understand your hesitation, so I'll also check in on this with the Exec-Committee.

[2018-03-01 05:12] AyAyRon-P commented on #371
This will change the brand platform and brand identity completely if we are to move forward with full adoption of .COOP and not as an alignment tool.

[2018-03-01 05:29] drbloom commented on #147
[![Foo](http://www.coop/wp-content/uploads/2017/05/coop_blk-300x126.png)]

.COOP Global Cooperative Marque branding was discussed and **agreed upon** during the Co-op's January 26 staff meeting (no minutes taken). Full adoption of the Marque was applied for and granted to the Cooperative to use under these [Terms & Conditions](http://www.domains.coop/support/terms-conditions/). Executive Committee

[2018-03-01 07:49] lapin7 commented on #444
Changed Title to @kitblake 's suggestion

[2018-03-01 08:21] yuhuanmocmoc commented on #423
good job!

[2018-03-01 11:21] tgrospic commented on #382
@lapin7 can you check why @MarioPolo and I are not listed for voting in the bounties document on this issue? Also there is a vote for an empty name and from an empty name.

Should commenting on the issue fill the required fields in the bounties document?

[2018-03-01 12:06] lapin7 commented on #382
​They can add B&R again
https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=60903965&range=A246:Z246
https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=294454559&range=C3378:P3390
​

--
Cheers,
HJ

On Thu, Mar 1, 2018 at 12:21 PM, Tomislav Grospić <notifications@github.com>
wrote:

[2018-03-01 13:13] Whisker17 commented on #440
Done

[2018-03-01 13:13] #440 closed

[2018-03-01 14:54] #426 closed

[2018-03-01 14:54] #406 closed

[2018-03-01 15:06] dckc commented on #291
AyAyRon-P writes:

See yesterday's [community update][rw]; Greg talked about the position.

[rw]: https://github.com/rchain/bounties/wiki/Weekly-Debrief-Index

[2018-03-01 15:13] lapin7 commented on #251
@Mervyn853 I don't see any translations on the original video of Brad.
[Exclusive chat Lawrence Lerner & Nash Foster with BlockchainBrad](https://www.youtube.com/watch?v=PwuV7ryhaXw)
How is that possible? Is Brad not cooperating?

[2018-03-01 15:28] lapin7 commented on #266
I've corrected #266. I don't want to make that a habit, but I think this time it's necessary.
@flowpoint  did a good job on the German translation. B, O, V didn't participate in [that version](https://docs.google.com/document/d/1oTZVkYEhhnZtyU4DmNiiT3N39R0IVpHI92vP8kaltFs/edit).

Member | 86.50% | 21 | Voted percentages | 100.00% | BelovedAquila |   | 60.00% | lapin7
-- | -- | -- | -- | -- | -- |

[2018-03-01 15:44] lapin7 commented on #312
Nothing has been done in Feb. So I downgraded the budget for Feb.

[2018-03-01 16:48] ICA3DaR5 commented on #251
@lapin7 @Mervyn853 doen't answer on Discord either. I have an English and a Greek translation for the RChain Vision as well #363

[2018-03-01 16:49] BelovedAquila commented on #266
@lapin7 I think what @flowpoint actually did was a review of the actual file we worked on, so I don't understand your bases of judgment on this please

[2018-03-01 17:02] Mervyn853 commented on #251
@lapin7 I have included you in the email thread with him. He was nursing his sick daughter for the past week, will try to nudge him again.

Appreciate your kind understanding with this.

[2018-03-01 17:16] AyAyRon-P commented on #291
@dckc

I watched the video and didn't hear anything about that particular position. I did hear Kenny mention there would be a need for several roles within the organizaiton.

[2018-03-01 17:27] lover33 commented on #51
I would love to create videos to spread awareness and show how to operate simply in the Rchain system

[2018-03-01 17:51] Ojimadu commented on #266
@lapin7 I don't think the reward you set is fair. I would have preferred @flowpoint doing this himself instead of doing it on his behalf.
 I am surprised to see that there are two translated files at the moment.
This was work supposed to be collaborative but for @flowpoint to be working on another file without any prior disclosure here feels odd. He created the impression that he reviewed the orig

[2018-03-01 19:14] Tonyprisca13 commented on #332
Fine! lets do what will be best.

[2018-03-01 19:22] Tonyprisca13 commented on #332
i added 19 and 20

[2018-03-01 19:35] dckc commented on #291
I guess my memory isn't that reliable.

Here's hoping for better text summaries so that neither of us has to watch the whole video to be sure what was or was not said about such a position...

[2018-03-01 19:39] dckc commented on #260
No problem, @TrenchFloat ; I mentioned you in case you could demo in my stead, but @lapin7 and I are going to do this during my Saturday "office hours" (#403)

[2018-03-01 19:40] dckc commented on #51
Go for it, lover33!

[2018-03-01 20:08] AyAyRon-P commented on #291
@dckc

No worries! Glad I watched it, and now I have that much more insight.

Hope to hear more about the position in the upcoming days/weeks.

[2018-03-01 20:17] BelovedAquila commented on #403
@dckc you made a mistake here

[2018-03-01 20:46] dckc commented on #403
What mistake is that, @BelovedAquila ? I don't see it.

[2018-03-01 20:50] dckc commented on #291
Sure... remember when I said I just wanted to make sure marketing stuff was in good hands and then I'd tune out in favor of other stuff? Your feedback confirms that this is in good hands.

Oh... a project management thought: this issue is about boosting telegram subscribers. Your feedback probably belongs in something like #371. That is: put the discussion in the ticket where it's actionable.

[2018-03-01 21:00] AyAyRon-P commented on #291
What do you think of adding my feedback to your Discord Community issue #404? We could set up action items to begin building out the community server.

[2018-03-01 21:04] dckc opened #445 "FFI from Rholang to Apache Spark dataframes"
That boggled my mind, at the time, so I jotted it down to ask around about it.

The other day in #rholang, @birchmd wrote:

This makes total sense.

It mostly answers my question about porting SQL business rules (#387) as well.

[2018-03-01 21:11] flowpoint commented on #266
i was validator until yesterday, now i will contribute here.
i didnt disclose my file, because i didnt see my contribution beeing of mergeable quality then.
upon beeing asked where we are on this issue, i specified my file as the most up to date.
sry for missing the transparency.

[2018-03-01 21:13] dckc commented on #291
That doesn't feel right. We should talk / chat. I'll be more available tomorrow.

[2018-03-01 21:35] Mervyn853 commented on #291
https://youtu.be/ZpJOxa15Pgc?t=3264 I belive @drbloom brought up that point in the Governance conference about hiring a Communications Director

[2018-03-02 03:28] BelovedAquila commented on #403
@dckc you said "I hope to YEAR your story" was thinking that should be "I hope to HEAR your story" what do you see?

[2018-03-02 04:29] dckc commented on #403
ah. thanks. fixed.

(I'm going to delete these comments now.)

[2018-03-02 04:32] dckc commented on #429
feedback elsewhere made it clear we're using the spreadsheet for 201802.

[2018-03-02 04:32] #429 closed

[2018-03-02 04:35] dckc commented on #415
@lapin7 wrote:

I guess I'll open a separate issue to change the **bounty-contract** so that budgets don't carry over.

[2018-03-02 04:38] dckc commented on #409
With no movement toward a SMART objective in a week, I'm closing this.

[2018-03-02 04:52] dckc commented on #133
Anyone who wants to move this forward, please clarify the description and re-open it.

[2018-03-02 04:52] #133 closed

[2018-03-02 04:54] dckc commented on #259
I don't see myself making more time for this any time soon.

[2018-03-02 04:54] #259 closed

[2018-03-02 04:58] dckc commented on #380
Henderson requested an edit to www-archive and I endorsed it. I haven't heard back yet.

[2018-03-02 05:11] dckc commented on #442
Nether IPFS nor DAT seems to address the issue of economic incentives.

[2018-03-02 06:09] Viraculous commented on #266
This negates the rule of cooperation which is an intrinsic quality of the coop. Good job it is you have done @flowpoint but there would have been a better quality work if efforts on the new document was applied to the existing document. like @Ojimadu said, if you felt that the errors corrected were much and therefore deserving greater compensation, you could have indicated and then justice would b

[2018-03-02 07:39] pmoorman commented on #370
@makys I have been incredibly late to respond, but I just wanted to say _"thanks for the feedback / input!"_

Personally I like especially your addition of "raise the flag" which I think points out another principle. Well articulated, too.

@dckc @AyAyRon-P @makys based on all your comments here, **I suggest we change the scope of this issue.** The scope will be towards a focus on RAM/bounty progr

[2018-03-02 10:36] Ojimadu commented on #266
Am taking your explanation with a "pinch of salt" as I don't think the reasons you provided are enough for the non-disclosure. I feel that being a German native you wanted to work on the issue alone.
Am not comfortable continuing with this issue hence I am withdrawing myself from it. (*-*)

[2018-03-02 11:16] Ojimadu commented on #291
There is a need for clear communication channels as sometimes some information and tricky questions just pop out from somewhere which would be which would be difficult to answer since we can't speak on behalf of the coop and have to answer question from the best of our knowledge.
Few days ago someone asked this question
[code]
Prior to that moment I had not seen that anywhere so I gave him a quick

[2018-03-02 11:21] pmoorman commented on #400
@dckc thanks. I'm talking with Patrick about the branding/website WG (main website, not members area), and with @makys about the onboarding stuff.

But if I get you right, there are actually 2 onboarding WGs, right? One is the "greeters" and one is the "members portal", which can somewhat overlap.

Does anyone know _**why**_ it was decided to break the onboarding into 2 groups, rather than cluster

[2018-03-02 11:54] pmoorman commented on #400
@patrick727 @kitblake @AyAyRon-P I went through the "short term: members site" document, and I think the indenting to arrive at a basic architecture is a really good step forward.

### Maybe I can make a few suggestions (to consider):

1. **Process  ::**  We probably need to start thinking about the approval/governance process. What's needed to get budget, and get a free pathway to actually execut

[2018-03-02 14:31] patrick727 commented on #400
Great stuff guys! Im going to close this issue down now and create the new one.

@AyAyRon-P @pmoorman @kitblake id love for you to take part in the working group.

MVP features should be in the document

Onboarding
Voting
Member comms
Petition system

and then..
visualization
news

[2018-03-02 14:36] AyAyRon-P commented on #370
@pmoorman yes I agree that this should refocus on the RAM/Bounty Program and as you mentioned leaning towards the onboarding process.

Also agree with your comment about the branding platform.

[2018-03-02 14:50] AyAyRon-P commented on #291
@Ojimadu was this asked through Discord or telegram?

I agree that there needs to be a central point of information, pending a review/approval process to ensure it is appropriate for an external audience. This would alleviate a majority of the redundant questions by simply having that information available.

[2018-03-02 14:54] patrick727 opened #446 "4 Week UI/UX Mock Ups"
Lets take the feedback from issue #400 and use it to inform mock ups for the member website

current mock-up:
 - [Pats take on member.rchain.coop](https://docs.google.com/presentation/d/1FebyTar-cvUCEgmF5u7F5kUwo55oPHCXQ3svDVMqAI8/edit?usp=sharing)

We used Dan's office hours (#403) Saturdays 9am Chicago time a couple times ([17 Mar][], [24 Mar][]) to discuss this and other **member-site** issues.

[2018-03-02 14:55] ResonanceXX commented on #444
Swagger = Alternate Marketing! = You should all have a great time. Cheers

[2018-03-02 15:29] dckc commented on #400
"Onboarding" isn't clear enough as a feature, to me. I suggest refining it with one or more user stories.

[2018-03-02 15:30] dckc commented on #400
And "Member comms" is no smaller than "member web site"

[2018-03-02 15:33] dckc commented on #370
We're getting feedback (e.g. PR #419) that [Welcome to the Bounty Program][1] answers this need. The remaining work I see (as I noted elsewhere; IOU link) is to refactor README and CONTRIBUTING to fit with it.

[1]: https://github.com/rchain/bounties/wiki/Welcome-to-the-Bounty-Program

[2018-03-02 16:43] ICA3DaR5 commented on #391
Merged #396

[2018-03-02 17:00] BelovedAquila commented on #266
@ICA3DaR5 those are one of the issues one tends to face with our budget sheets, invariably the vote made on you is more of a impersonation by a bad actor. I believe @lapin7 or @dckc might be able  trace  out who perpetuated such act,sorry about that.

And in respect to this issue and the not straightforward way it's turning around to be, ain't also comfortable progressing  with it this way,  have

[2018-03-02 18:10] dckc commented on #147
What would full adoption look like? How would  we know when we're done?

[2018-03-02 18:13] dckc commented on #206
This appears to be done.

[2018-03-02 18:13] #206 closed

[2018-03-02 20:38] AyAyRon-P commented on #446
@patrick727 @pmoorman @kitblake
![rchain_member site](https://user-images.githubusercontent.com/35570702/36920753-659a0328-1e27-11e8-8454-4f338fa14137.jpg)
 - based on the Governance Document above, please see the attached sitemap for review.

[2018-03-02 21:29] lapin7 commented on #266
I took a drastic measure. But I've investigated the work being done on the first translation initiated by Aldo (github name unknown). It was a Google translate. Then @BelovedAquila and @Ojimadu and @Viraculous step in. They didn't change a lot. Then @flowpoint saw this work. And to my opinion it was complete crap. So it was more practical for him to start a new file by his own and make a proper tr

[2018-03-02 22:27] dckc commented on #428
re GSuite for collaborative editing: their tools are hard to beat for the real-time aspects, but we should publish any useful results under our own domain name (#418).

For real-time work, the best tool I know to avoid using Google altogether is [etherpad on sandstorm][1].

[1]: https://apps.sandstorm.io/app/h37dm17aa89yrd8zuqpdn36p6zntumtv08fjpu8a8zrte7q1cn60

[2018-03-02 22:35] dckc commented on #400
@pmoorman writes:

Not really; my guess is: leaders stepped up for each of the parts. That works for me: _s/he who does the work makes the rules._

[2018-03-02 22:37] dckc commented on #400
oh... also... in today's executive committee meeting, @kitblake said:

[2018-03-02 22:48] dckc commented on #375
I wonder about seeding the trust metric from linkedin connections...

_probably best as a separate issue..._

[2018-03-02 23:00] kennyrowe commented on #435
Correct - This committee nominates a list of names. They have authority to leave names off the list, but the co-op president will make the final call on who to hire.

However, the committee can try to expand its mandate if they draft a clear proposal that is approved by the executive committee.

[2018-03-03 00:24] pmoorman commented on #370
Yeah, that PR comes basically out of this issue, right? I think right now the "Welcome to the bounty program" page answers the need sufficiently.

Also, I think this document can be taken by the 2 member onboarding WG's (run by @makys and @patrick727 respectively), and be used as an input there.

Regarding the acceptance / governance process:  I think this document has been out there for everyone

[2018-03-03 00:31] pmoorman commented on #400
yeah, oke. I spoke with @makys this morning about the same thing.

For reference for anyone else who's interested, the breakdown between WGs is basically as follows:

- Makys / "greeters" WG is about the **human part** of the onboarding equation: giving Ian a breather in the KYC process, and also just really greeting people and helping them get started. I think they should oversee intangible stuff

[2018-03-03 03:33] dckc commented on #375
@lapin7 here's hoping we can look into this a bit tomorrow.

@kennyrowe I hope to find time to look at this with you before the March 14 meeting.

I got thru my Feb 24 todo list: https://github.com/dckc/rchain-dbr/commit/d21ab3979d9956d163b590fd393e5e519e939ac7

Still todo:

 - [ ] use the results for weighed averages in budgeting and rewards
   - that makes this a **bounty-contract** changing iss

[2018-03-03 04:00] #441 closed

[2018-03-03 08:09] hyperevo commented on #260
Removed xataface from repo as requested. Finished github oauth integration. Finished discord oauth coop verification and intigration. :) Still need to do testing though. Remade repo at https://github.com/hyperevo/rchain-dbr.

[2018-03-03 08:14] hyperevo commented on #414
I updated the repo. Did a lot more testing and updating to improve security. Github Oauth integration is fully functional now. The xataface use menu system has been updated to allow login, logout, and coop member verification via discord oauth.

[2018-03-03 08:17] hyperevo commented on #413
I fully implemented the discord Oauth coop member verification at https://github.com/hyperevo/rchain-dbr. Still in the testing phase to ensure security. Right now the user can log in via github oauth, and then verify coop membership via discord oauth.

[2018-03-03 10:43] yyh1102 commented on #347
@zsluedem I found that the total words of 'Rholang Smart Contracts Lab part 1' is not correct. I'll declare the correct amount of words in #432 ~

[2018-03-03 11:49] zsluedem commented on #347
@yyh1102 how many words do you count that? After you finish reviewing the transtitle, the word count would change. It is normal. It is not 100% accurate , I mentioned above.

[2018-03-03 11:55] yyh1102 commented on #347
@zsluedem OK, i just give a reminder~
 The number of words of 'Rholang Smart Contracts Lab  part 1' before reviewing is around 9000.

[2018-03-03 14:56] dckc commented on #403
today's location: https://zoom.us/j/899291322

[2018-03-03 15:04] ICA3DaR5 commented on #269
@yuhuanmocmoc Looks good to me. Should I close this issue?

[2018-03-03 15:09] ICA3DaR5 commented on #274
@HaizhenZhuo Since all of the languages have also translated the 0.1 version of this file, I guess you could translate that too.

Question: These documents are subject to change, especially the Mercury one, are you willing to keep them up to date?

[2018-03-03 15:38] dckc commented on #418
brainstorm: let's do this for notes from the Governance Forum

[2018-03-03 16:11] ICA3DaR5 opened #447 "M>Translate (New) Medium Blog Post to Greek"
# Issue

**Original (English) Content:**
- https://medium.com/rchain-cooperative/rchain-ecosystem-update-2018-6ae475bcb7b8

**Translated (Greek) Content:**

**Completed:** 100%

**Tasks:**
- [x] Copy the post to a text file.
- [x] Translate the content.
- [x] Check the spelling.
- [x] Review each other's work.
- [x] Have it reviewed by others with knowledge of English and Greek.
- [x] Post it to t

[2018-03-03 16:24] ResonanceXX commented on #403
Tried accessing the Zoom link via Android. But got an error message "Meeting link is invalid"

Sent from Yahoo Mail on Android

  On Sat, 3 Mar 2018 at 15:56, Dan Connolly<notifications@github.com> wrote:
today's location: https://zoom.us/j/899291322

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-03 16:28] ICA3DaR5 commented on #403
@dckc The link you posted returns: "Invalid meeting ID. Your meeting ID is a 9, 10, or 11-digit number"

@ResonanceXX Try downloading the Android Zoom Mobile App fro the Google Play Store: https://zoom.us/download#mobile_app

[2018-03-03 16:33] Jake-Gillberg opened #448 "Clean up rchain/board"
[https://github.com/rchain/board](https://github.com/rchain/board) is hard to navigate.

- Text cutoff of filenames in the github viewer makes it hard to know what each document contains.
- Changes between versions of the bylaws are hard to see.
- There is no file structure hierarchy, which will probably be un-maintainable in the long run.
- All files are unsearchable PDFs

- [ ] Convert all docum

[2018-03-03 20:00] InternautNeven opened #449 "M>Translate Rchain Whitepaper.pdf into Croatian"
## Issue

## Original (English) Content
- [RChainWhitepaper](https://github.com/rchain/reference/blob/master/docs/RChainWhitepaper.pdf)

## Translated (Croatian) Content
- [RChainWhitepaper_HR](https://drive.google.com/open?id=1Pr1OAuhp36qKL-JpLxccwXQrJOkiIGH1)

To attract people from different cultures and with different languages. This is easiest when the English version is translated into local

[2018-03-03 20:35] dckc commented on #403
Yes, well, the meeting time was 9am Chicago time. By the time of your comments, it was over.

[2018-03-03 20:37] dckc commented on #413
Your repo doesn't seem to share history with mine; it looks like you didn't start by forking / cloning.

Oh well... we can clean that up in due course...

[2018-03-03 20:41] dckc commented on #448
This sounds great!

Make sure to coordinate with @n10n ; he seems to have handled that repo to date.

Here's hoping we can publish the results somewhere under the **rchain.coop** domain; cf. #411 .

cc @ian-bloom @jeremybusk

[2018-03-03 20:42] dckc commented on #448
p.s. consider folders organized by time (year and/or month) rather than by type of document.

[2018-03-03 21:41] ResonanceXX commented on #408
Like a reving car?  @dckc?

I did this before seeing this message.

Improvement on the others.

https://drive.google.com/file/d/1VEdvgFtXCDsMcEdp78A4o3snAAOxNba9/view?usp=drivesdk

[2018-03-03 22:30] hyperevo commented on #413
Yea I am fixing it now. Realized I broke the history when I deleted xataface. I will have it all merged with the fork of your code in a few minutes.

[2018-03-03 22:58] barneycinnamon opened #450 "Coop2Board --> Collect Member Questions that Deserve Answers"
Let’s work together to enumerate questions about the Co-op, get those questions in front of the right people, and generate well-documented answers. The focus on resolving questions about decision making processes and power in the Co-op itself.

I have put together a document containing some of the questions that I have, but I want to give other members an opportunity to review and edit the documen

[2018-03-03 23:03] hyperevo commented on #413
Fixed now.

[2018-03-03 23:39] ICA3DaR5 commented on #449
@InternautNeven Could you please, base tour issue post on this template? https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md

[2018-03-03 23:45] ICA3DaR5 commented on #448
@Jake-Gillberg Could you convert them to Markdown text?

I was thinking all those PDF's need to be in Markdown IMO. You can easily export them to PDF anyway, anytime.

[2018-03-03 23:56] pmoorman commented on #450
@barneycinnamon well done for posting your first Github issue 💯 !!

I've added the label "Governance" and assigned you and me. You can do that on the right. Can you see it?

[2018-03-04 00:01] dckc opened #451 "DNS name, SSL cert for bounty budget voting system"
for production deployment:
  - **bounty-system**.rchain.coop ?
  - **bounty-budgets**.rchain.coop?

cc @kitblake @lapin7 @ian-bloom @jeremybusk @hyperevo @patrick727

see also #260

[2018-03-04 00:02] barneycinnamon commented on #450
I see it, but it doesn't appear clickable. Your handle and my handle both show up as links, but the word "Assignees" and the word "Labels" both do not appear as links. The GitHub help entry on Labels suggested going to the main page of the repository, clicking the checkbox next to the issue I wanted to label, and then selecting the label to add. But I didn't see any checkbox next to the issue on t

[2018-03-04 00:04] pmoorman commented on #450
Don't you see next to "assignee" the little gear icon?  That's what you need.

If you don't see it, then maybe you somehow don't have equal editing rights, but I doubt that to be the case...

[2018-03-04 00:08] barneycinnamon commented on #450
No gear.  ¯\_(ツ)_/¯  Maybe that's why, even though I commented on an issue by @dckc, I didn't end up in the bounties spreadsheet and couldn't vote on it.

[2018-03-04 00:19] dckc commented on #450
The questions in the doc are useful, but you wrapped them in a "solve all the world's problems" issue or "how long is a piece of string?" issue.

The first couple questions look like they would make good issues on their own:
  - **What is the mission of the Co-op?**
  - **What are the business goals of the Co-op?**
  - ...

Oh... another thought: you seem to be seeking answers not just from any th

[2018-03-04 00:25] dckc commented on #450
The questions about the board of directors have answers in the form of readily available facts; no need to ask anybody about those, I hope.

like this: [RChain Cooperative Bylaws](https://github.com/rchain/board/blob/master/Revised%20Bylaws%20(8-28-17).docx.pdf)

[2018-03-04 00:25] barneycinnamon commented on #450
_ Searches sent email to find the one to ops@rchain.coop. Wonders if he needs to click through the link in the You've been invited email. Clicks link. Clicks big green button. Gears! _

[2018-03-04 00:45] barneycinnamon commented on #450
Reading bylaws now. Will add to the original document answers as I find them.

[2018-03-04 02:37] makys commented on #451
@dckc What is the timeline for the bounty web app to be completed?

[2018-03-04 02:44] dckc commented on #451
This is assigned to [milestone/3](https://github.com/rchain/bounties/milestone/3); my best guess at a launch date is kept there.

[2018-03-04 02:57] OPNO commented on #408
Hey all, just wondering whether submissions are still being accepted? (BTW, Dan and Patrick, this is Darryl - we met in Seattle).

[2018-03-04 03:26] ICA3DaR5 commented on #451
**bounties**.rchain.coop?

[2018-03-04 03:27] dckc commented on #408
As far as I know, yes, @OPNO . Join the fun!

[2018-03-04 04:11] dckc commented on #451
I didn't want to give the impression that it was the whole bounty system, since so much of the action is here in github. But it (**bounties**.rchain.coop) is worth considering.

[2018-03-04 04:52] zsluedem commented on #451
some suggestions
* system.rchain.coop
* cooperate.rchain.coop

[2018-03-04 11:19] watermelonZJ opened #453 "M> Review and translate Codebase document video subtitle to chinese"
Review the correctness of the codebase document video subtitle and translate it to chinese.
As #347 said, the subtitle obtained by machine is not accurate so that the checking is necessary.

Tasks:

- [x] Review the subtitle generated automatically
- [x] Translate to chinese version
- [ ] Download the video, add the chinese subtitle and upload to rchain wechat official account

Measure of Completi

[2018-03-04 11:20] watermelonZJ commented on #347
@zsluedem Hey, i'd love to take up the `codebase document` video subtitle's translation.

[2018-03-04 15:07] ICA3DaR5 commented on #285
@kaka56 Please create an .srt file as well. See: https://drive.google.com/open?id=1nl5ctTmA9FNK_uS6K2nN2m3gyzZJCIgY

[2018-03-04 15:08] ICA3DaR5 commented on #251
i think #285 is done.

[2018-03-04 15:59] #447 closed

[2018-03-04 16:17] ICA3DaR5 commented on #451
I am inclined towards **bounty-system**.rchain.coop or **bounties**.rchain.coop

[2018-03-04 16:32] Jake-Gillberg commented on #448
@dckc good suggestion. I was coming to that conclusion as I started parsing through things yesterday.

I am thinking something like this:
[code]
@ICA3DaR5 Yeah, having these in Markdown would be awesome. Do you know of a good way to do the conversion? I am concerned that the Markdown conversion and the review of that conversion would be  a tedious manual process. If there isn't a good way to autom

[2018-03-04 18:12] ResonanceXX commented on #451
Bounties.rchain.coop is less cumbersome. Because the - may give some problems. 

Sent from Yahoo Mail on Android

  On Sun, 4 Mar 2018 at 17:17, Donald A. Iljazi<notifications@github.com> wrote:
I am inclined towards bounty-system.rchain.coop or bounties.rchain.coop

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thr

[2018-03-04 19:44] InternautNeven commented on #449
@ICA3DaR5     If you could tell me is it better to made it in pdf format or a Markdown.  Can you dirrect me to source document of Italian version- i saw it as Issu-e,  it would help us. And if  you have some suggestion for reviewer, if no we will find one more in a couple of days. Thank you

[2018-03-04 20:44] kennyrowe commented on #375
@dckc I'd like that, lets see what we can get on the calendar

[2018-03-04 21:27] Keaycee commented on #451
Is there  a  web application prototype for RAM distributed budgeting and bounty? @dckc
How about this DNS names
bounty.rchain.coop
bountybudget.rchain.coop
rewards.rchain.coop
budgets.rchain.coop

[2018-03-05 00:01] dckc commented on #414
@hyperevo writes:

I'm pretty sure we don't. @ian-bloom would you please clarify?

Even if we need email addresses, I doubt we should get them from github.

[1]: https://github.com/hyperevo/rchain-dbr/commit/c29f464c5e4c96d5967e091826a1594e5c7cd57c#diff-9269a89183e54685b10d200d96377227R17

[2018-03-05 00:25] dckc commented on #448
Surely a softcopy of the text documents in PDF or Word format or whatever is around somewhere. Ask @edeykholt maybe?

[2018-03-05 01:43] kitblake commented on #448
This tool does a decent job converting: http://markitdown.medusis.com/ especially from Google doc html. Just copy and paste.
But as @dckc pointed out, you'd need the 'original' docs from which the PDFs were made.

[2018-03-05 02:08] ICA3DaR5 commented on #449
@InternautNeven I am all in favor of Markdown, but since it's a PDF I leave it up to you to decide.

I found the Italian version [here](https://github.com/rchain/reference/blob/master/docs/RChainWhitepaper_IT.pdf).

[2018-03-05 02:25] makys commented on #450
It appears you are providing a frame for which these questions should be answered considering your sub-questions. I would suggest if some of these sub questions stand alone. We should also be mindful that the answers to these questions may vary depending on who you talk with and in my opinion some of these questions do not have conclusive answers just because a lot is evolving in the space.

If we

[2018-03-05 02:45] makys commented on #451
I really like rewards.rchain.coop suggested by @Keaycee
Rewards and RChain both starts with "R".

I tried to look up the difference between Reward and Bounty online even though we use the term bounty often.

"Bounty is a synonym of reward.
As nouns the difference between bounty and reward is that bounty is generosity while reward is something of value given in return for an act." (Source: https://

[2018-03-05 03:16] zsluedem commented on #347
@watermelonZJ feel free to open an issue. Remember to find some other collaborator to do together.

[2018-03-05 03:24] makys commented on #448
@Jake-Gillberg This is a true pain point especially with ability to search the minutes.

For versioning of the Bylaws, we should consider a version control procedure so it can applicable across board for similar type document. "In short, usability and learnability improve when similar elements have consistent look and function in similar way." - Design Principle - Consistency.

[2018-03-05 04:25] dckc opened #454 "Web site analytics on language demographics"
@patrick727 which languages show up high in web site analytics?

This is follow-up from our discussion in Seattle, originally posted in https://github.com/rchain/bounties/issues/302#issuecomment-367168156

[2018-03-05 04:29] dckc commented on #401
I'm still looking for confirmation from guides for Operations, Marketing, and Governance.

[2018-03-05 06:09] makys commented on #446
Is there a meeting to discuss the UI/UX mock ups? If yes, please share meeting info.

[2018-03-05 07:38] pmoorman commented on #401
Happy to take care of the marketing section, @dckc @patrick727

[2018-03-05 08:56] ResonanceXX commented on #446
Share meeting info. Zoom always. 

Sent from Yahoo Mail on Android

  On Mon, 5 Mar 2018 at 7:09, makys<notifications@github.com> wrote:
Is there a meeting to discuss the UI/UX mock ups? If yes, please share meeting info.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-05 10:08] yuhuanmocmoc commented on #269
@ICA3DaR5   @rjl493456442 @yyh1102  will review it for a few days.

[2018-03-05 10:40] kitblake commented on #446
@AyAyRon-P Nice work on the sitemap. It captures all of the points in the Gov Doc above and can serve as a long term view. We should also refine a short term view which would comprise the structure and content we want to have at launch, with more to be added over time.

Note that "Deals" is in pink in the Gov Doc. Personally I'm not sure it belongs here (but it's important that it's available some

[2018-03-05 10:48] kitblake commented on #446
In the #exec-committee meeting on March 3rd it was affirmed that the Members Portal WG has the mandate to create a structure for the future site. @ian-bloom has the lead as the site will replace the current critical infrastructure in members.rchain.coop.

The question "What is the site for?" came up. My answer is: “member.rchain.coop is the gateway to getting involved”, but that's for the WG to na

[2018-03-05 12:19] ResonanceXX commented on #332
21-27. Cheers

[2018-03-05 12:54] dckc commented on #401
Excellent, @pmoorman . I see a lot of work to do in that area. Last time I checked there were 61 open Marketing issues; I doubt they're all still worth tracking.

[2018-03-05 18:12] AyAyRon-P commented on #446
@kitblake do you have time for a chat and we can add some color to the sitemap for hierarchy and timeline of development.

[2018-03-05 20:16] nunojesus commented on #433
Hello,
I made a request to join the https://groups.google.com/forum/#!forum/rchain

And I try to accept https://github.com/rchain/Members/invitations, but it shows something like this:  "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."

What should I do?
Greetings!

[2018-03-05 21:54] peetklasen commented on #283
I have translated lines 70 to 1625 from the english transcript to Dutch in draft. I have reviewed lines 1-70 that had been translated by @dcnplau. There are still some lines that I have to check / improve. These are marked red. I will also make a comparison with the German translation. That is a nice translation and this can be helpful to improve the current work. I think I can change the status o

[2018-03-05 22:07] patrick727 commented on #446
Great stuff with sitemap Aaron.

Would all of that fit into something like this
![member website](https://user-images.githubusercontent.com/26626639/37002411-7d1ca826-207e-11e8-9fb0-21c12b6b6974.jpg)