[2018-01-30 19:50] BelovedAquila commented on #247
@lapin7 is it all the links that is to be sent to them or just  on boarding links that directs them on how to a member?

[2018-01-30 20:01] tgrospic commented on #185
@dckc I was not involved in this issue so I'm not sure on which basis should I fill out the budget document.

But, I exchanged few emails with @AbnerZheng about adding code editor to rholang-web, like Ace. Should I create a new issue for that feature?

I'm not sure if this is _long running issue_ which tracks montly updates? I'm also asking because of [Idea plugin](https://github.com/rchain/Member

[2018-01-30 20:29] lapin7 commented on #251
Hi @kaka56 I've created [this doc ](https://docs.google.com/document/d/16It5_3fghkhsvGWNVX9MswxPnMlvXCQ0w6aiKotrCxU/edit)for the Spanish version in folder:
 [/RChain/Members/Marketing-Community Dev/YouTube](https://drive.google.com/drive/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii)

Please work on this doc to show your progress.

[2018-01-30 20:33] lapin7 opened #263 "Spanish version"
**Goal:** a [. srt file](https://docs.google.com/document/d/16It5_3fghkhsvGWNVX9MswxPnMlvXCQ0w6aiKotrCxU/edit)
stored in  [/RChain/Members/Marketing-Community Dev/YouTube](https://drive.google.com/drive/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii)
with a translated transcript in Spanish of the file
[[TRANSCRIPT][.srt][English] "Rchain Exclusive chat Lawrence Lerner & Nash Foster"](https://docs.googl

[2018-01-30 20:48] lapin7 opened #264 "M> Mandarin Version of Lerner & Foster interview transcript"
**Goal:** a [. srt file](https://docs.google.com/document/d/1nxkJw2Pu1YdeAdWCJz11pVrRKibqnk3NoIZRSO7KxvQ/edit)
stored in  [/RChain/Members/Marketing-Community Dev/YouTube](https://drive.google.com/drive/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii)
with a translated transcript in Mandarin of the file
[[TRANSCRIPT][.srt][English] "Rchain Exclusive chat Lawrence Lerner & Nash Foster"](https://docs.goog

[2018-01-30 21:03] niwaa commented on #251
Ok i've started the French translation in [this doc](https://docs.google.com/document/d/1en8ewGh88ItE-1UKMYA0wZwz5Elwch0ESfWwD_AiYoo/edit).

[2018-01-30 21:36] dckc commented on #185
@tgrospic I am asking you to _get_ involved.  :) If noone else takes a look at this work, I get no reward.

 :) Assuming you agree that such a playground is good for RChain... In [my Jan 27 comment above][3] I claim to have made a bunch of commits, PRs, etc.; you can spot-check and verify those claims, yes? And you can look at a little bit of the code. I claim to have done 90% of the work on this

[2018-01-30 21:36] ICA3DaR5 opened #265 "M> Translate "Rchain Exclusive chat Lawrence Lerner & Nash Foster" Transcript to Greek"
**Completed:** 100%

**Tasks:**
- [x] Download the video
- [x] Download the English (original) transcript
- [x] Translate the content
- [x] Check the spelling
- [x] Review each other's work
- [x] View video with the Greek transcript and review
- [x] Have it reviewed by others with knowledge of English and Greek
- [x] Upload the Greek (translated) transcript, [here](https://drive.google.com/drive/f

[2018-01-30 22:30] tgrospic commented on #185
@dckc thanks for the invite and for clarification. I appreciate you work for RChain. :)

I will take a look at your work summary for January. Do you know how can I add my name to the list of members for this issue on rewards sheet?

[2018-01-30 23:08] dckc commented on #185
Making a comment here is supposed to get your name into that list, @tgrospic .

@lapin7 any suggestions?

[2018-01-30 23:11] dckc commented on #185
And yes, @tgrospic, please make a new issue for the Ace editor enhancement. Managing long-running issues is not smooth yet; it's not clear if it ever will be.

[2018-01-30 23:56] Tonyprisca13 commented on #251
nice am working on Dutch

[2018-01-31 00:16] ICA3DaR5 commented on #251
I am doing Greek #265 with @thiefinshadows and @zero-andreou

[2018-01-31 01:10] Whisker17 commented on #264
I and @zsluedem will finish this issue today,we have cooperate for this.

[2018-01-31 01:20] zsluedem commented on #264
It's almost done~!

[2018-01-31 01:39] zsluedem commented on #261
Oh, I was doing it trying to catch up the progress.
But you are right about it.  Sorry for the burden~
[this](https://help.github.com/articles/repository-permission-levels-for-an-organization) shows the concrete permisions we can make to the user~!

[2018-01-31 01:47] dckc commented on #260
I mocked something up real quick with [xataface][],  php+mysql toolkit: https://github.com/dckc/rchain-bees-ants 5d0db16
Darn... I can't use ngrok from here... I'll deploy it somewhere else for testing shortly.

[xataface]: https://github.com/shannah/xataface

[2018-01-31 02:21] RowlandZhou commented on #257
I can‘t wait to join this group

[2018-01-31 02:23] rjl493456442 commented on #257
Feel so glad to see there are more than 110 people have joined our Wechat Group. Keep it.

[2018-01-31 03:01] AbnerZheng commented on #261
Yeah. I think those who did really and solid contribution should have the right for voting percentage of work.  And for budget, I think the voter must know how it is going and what is the meaning of this thing, so that I think the relevant people should firstly be invited to make the budget voting as @dckc did in https://github.com/rchain/Members/issues/185, because they know the value of the issu

[2018-01-31 03:38] dckc commented on #260
demo: http://rchain-dbr.nfshost.com/rchain-bees-ants/
be gentle :)

[2018-01-31 03:53] BelovedAquila commented on #251
The issue is progressive, nice.was at the verge of getting a reply from from Brad Laurie (Blockchain Brad) only to come see it already resolved. Impressive!
@lapin7 I want to work on the German translation of the doc, how about that?

[2018-01-31 04:09] BelovedAquila commented on #259
@dckc I just created those labels (education, training and information), how about that?

[2018-01-31 04:11] BelovedAquila opened #266 "M> German Version of Lerner & Nash Foster interview transcript"
**Goal:**  [[TRANSCRIPT][.srt][GERMAN] "Rchain Exclusive chat Lawrence Lerner & Nash Foster"](https://docs.google.com/document/d/1EWAapJoeZ1jKkD2rj1RABkc7Blsh5KnHcQSAOz399uQ/edi)
**Stored in:**  [/RChain/Members/Marketing-Community Dev/YouTube](https://drive.google.com/drive/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii)

**Collaborator:** @BelovedAquila
**Progress:** 95%
- [x] Download the English (o

[2018-01-31 04:37] Viraculous commented on #247
Contacted Bas Kaptijn; ICT Architect of Discipl today, hoping to get reply soon.

[2018-01-31 04:43] dckc opened #267 "rename rchain/Members repo to distinguish from coop members?"
The current name of this repo, "Members" is far too easy to confuse with "member" as in RChain Cooperative member as defined in the [board and bylaws][1].

[1]: https://github.com/rchain/board

Let's do some polling on the candidates; please use :+1:  / :-1: on the respective comments (as many as you like) to indicate support or opposition:
 - [activisits](https://github.com/rchain/Members/issues/

[2018-01-31 04:56] AbnerZheng opened #268 "D> Ace editor enhancement for Rholang-web."
As https://github.com/rchain/Members/issues/185 said,  I create a new issue to follow the progress of work.
@tgrospic has finished the tmLanguage for grammer.
And I will integrate the grammer to Ace editor and add  some other features to make it works.

[2018-01-31 04:56] dckc commented on #244
Nice work. I spot-checked it by having Google translate it back to English, and the result looks good.

It reminded me that the process is evolving (#260 for example); I hope the translators remain engaged to keep the translations updated as things evolve.

[2018-01-31 05:09] Mervyn853 commented on #258
@rjl493456442 @yyh1102 There is already an existing group managed by @sportshark , I believe the QQ Chat group is more active. I dont think we want multiple groups on the same platform as there will be unnecessary overlap. There's already 45 members in the Rchain WECHAT group and 700+ and growing in the QQ group. ​
Chinese QQ Group ID : 中国朋友欢迎加入RChain粉丝群，QQ群号: 530718666
![image](https://user-image

[2018-01-31 05:09] yuhuanmocmoc commented on #258
Personally, I also like to get information on WeChat Official Account. It's exactly what we need do to promote RChain and it's technology in China.

[2018-01-31 05:19] yuhuanmocmoc commented on #258
@Mervyn853 I think you should read this issue more carefully. @rjl493456442 advices to build the WeChat Official Account which is similar to Medium. Both in terms of quantity and quality, the WeChat Official Account is definitely one of the best place to promote RChain. QQ group is too outdate, you must concede that.

[2018-01-31 05:21] Mervyn853 commented on #258
Alright great. I think this is a great initative, might want to work with the members in QQ on this as they are very active in promoting RChain in China especially @sportshark and Mao

[2018-01-31 05:30] linsheng9731 commented on #258
Very good proposal, Chinese fans need a credible official news channel.

[2018-01-31 05:34] rjl493456442 commented on #258
@Mervyn853 Hey, other people who are also promoting RChain in China are strongly welcome! But you know QQ Group is out of date and Wechat Official Account is the most efficient way to promoting something. So @sportshark can join us and let's make chain much much more popular!

[2018-01-31 05:48] Viraculous commented on #261
The question is , what are the parameters of identifying solid contributions?  @AbnerZheng  sometimes solid contributions maybe  passive and unrecognized. I personally think that all newbees should be on boarded in a nursery group where they are educated on ethical values of the cooperative and also the criteriology of liquid democracy on budgeting and participation. They should be made aware of t

[2018-01-31 05:58] rjl493456442 commented on #258
@sportshark Thanks for your remind. I'll negotiate with RChain team whether official chinese public channel is proper or not. If not, i'll change it to community type!

[2018-01-31 06:13] AbnerZheng commented on #261
@Viraculous Yeah, I'm agree with you. We're are all learning how to how to process these things. I believe we can do better.

[2018-01-31 06:15] yuhuanmocmoc opened #269 "M > Translate Rosette document into Chinese"
Blockchain is my research interest. Meanwhile, I'am a front-line blockchain developer and have a great interest in rchain. [Rosettle](https://github.com/rchain/reference/blob/master/docs/Rosette-1.1.pdf) is a core part of the Rchain architecture, in order to allow more developers to understand Rchain, I plan to translate this document into Chinese. And better yet, I can invite other developers who

[2018-01-31 06:28] yyh1102 commented on #269
Please let me join in~ I've already research some part of this document , and i believe it's a good and win-win chance.

[2018-01-31 06:40] Whisker17 commented on #269
I am interesting in this too.Maybe we can work together

[2018-01-31 06:45] rjl493456442 commented on #269
Sounds cool!

[2018-01-31 07:04] JieL314 commented on #100
Excuse me, @lapin7 .
We have completed the translation work for whitepaper Chinese version. Which format will be better when I upload to Github, PDF or docs or Markdown?
The tencent QQ is not the unique useful channel in China. The Wechat group, Wechat public account, weibo(similiar to Twitter) are also useful channels. By which are easy to spread rchain cultural and update the latest news to Chin

[2018-01-31 07:29] JieL314 opened #270 "M> Translate White Paper to Chinese #100"
Excuse me, @lapin7 .
We have completed the translation work for whitepaper Chinese version. Which format will be better when I upload to Github, PDF or docs or Markdown?
The tencent QQ is not the unique useful channel in China. The Wechat group, Wechat public account, weibo(similiar to Twitter) are also useful channels. By which are easy to spread rchain cultural and update the latest news to Chin

[2018-01-31 07:33] jiyuxuan1944 commented on #270
Sounds great！

[2018-01-31 07:40] Whisker17 commented on #270
we have upload it into [this](http://www.rchain.site/wp-content/uploads/2018/01/Rchain%E7%99%BD%E7%9A%AE%E4%B9%A6%E8%AF%91%E7%A8%BF.pdf).
should we upload this pdf into the Google Disk or other? @lapin7

[2018-01-31 07:43] AbnerZheng commented on #270
I’m a Chinese native speaker and has solid background of CS. You can invited me to review the whitepaper so that the content will be more consistent with other two translated document.

[2018-01-31 07:46] linsheng9731 commented on #270
Awesome! I am also a chinese developer and want to participate in review.

[2018-01-31 07:47] rjl493456442 commented on #270
Chinese Team is getting stronger

[2018-01-31 07:48] kitblake commented on #267
Incisive thinking @dckc, it would be good to distinguish active contributors from passive Members such as investors.

I agree about RAM's appeal. As for `rchain/bees_ants/` it's two elements (with the requisite underscore). Looking for one word, I checked the clade. Bees and ants are classified within Hymenoptera. I'm not thrilled with `rchain/hymenoptera` and the order also includes wasps and ter

[2018-01-31 07:51] linsheng9731 commented on #269
@yuhuanmocmoc  Good idea! I am very interesting in this, and i think i can help you.

[2018-01-31 07:57] Whisker17 commented on #270
welcome to review it!That's our aim to upload it to the cyberspace.
we can learn from the Ethereum's whitepaper translation.work together to make it more precise.
u can download this pdf [there](http://www.rchain.site/wp-content/uploads/2018/01/Rchain%E7%99%BD%E7%9A%AE%E4%B9%A6%E8%AF%91%E7%A8%BF.pdf) @AbnerZheng @linsheng9731

[2018-01-31 08:35] JieL314 commented on #270
Welcome all of you. The Chinese version whitepaper need to be review by all of us, and get to be a formal one.

[2018-01-31 08:56] pmoorman commented on #261
### RE: commenting isn't the same as contributing

Agreed with both @AbnerZheng and @dckc that the value that is attributed to commenting is excessive.

I spoke about it with both @dckc @Mervyn853 and @traviagio before, and my conclusion is that a simple change in attitude could do a lot of good.

Our guiding principle should be:

I'm borrowing this quote from @dckc in private chat, but I think it

[2018-01-31 09:04] #100 closed

[2018-01-31 09:07] pmoorman commented on #261
### RE: negative rewards

I'll take the situation with Mervyn853 and Keaycee in issue #115 as an example.

This is my view:

**The way ‘negative’ reward works contradicts a “distributed consensus process”.**

Although I agree with @Mervyn853 's decision in #115, if we're being honest it's really just Mervyn having veto power over everyone else's opinion. This approach is not in line with the decen

[2018-01-31 09:45] pmoorman commented on #253
@makys great work, and I really appreciate your thoughtful comments.

I have incorporated most of your comments into the document already, so it reads easily for future readers as one flow. Since I know that it's your first contribution to the coop:  great work, and 👍 💯

@dckc to clarify on the text you quoted: although the KYC/verification _itself_ is outside the scope of this group, I belief tha

[2018-01-31 09:54] lapin7 commented on #100
@JieL314 I've added a column for #100 in ["Rewards 201801"](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=950224463&range=AX121:AY133)
So @JieL314 can add percentages for rewards

[2018-01-31 10:03] lapin7 commented on #269
#269 will be added in 201802: Budgets and Rewards.
Feb 1 the TAB's will 201801: Budgets and Rewards will be frozen. No changes possible anymore and payment process will start, first with some analysis and possible cleaning.

[2018-01-31 10:07] Ojimadu commented on #219
Am not exactly familiar with how the different mail system works but don't we already use a third party mail system, Sendpulse?
@jimscarver I don't get the aspect of tracking you are referring to here If I understand @pmoorman correctly, we are only using basic tracking like upload of ID, verification or if a new member already has an activity on the github repository so a mail mail can be sent to

[2018-01-31 10:13] lapin7 commented on #264
@zsluedem please add a reviewer that confirms correct translation.
Great work :-)

[2018-01-31 10:15] lapin7 commented on #264
@zluedem please check "word count" of the doc and find out if figures like 123 or other things that don't need translation are counted as words

[2018-01-31 10:21] lapin7 commented on #251
@niwaa please make a new issue for the French version. Take #262 as an example.

[2018-01-31 10:23] lapin7 commented on #266
@BelovedAquila please re-edit the first comment of this issue and take #262 as an example

[2018-01-31 10:28] rjl493456442 commented on #269
@yuhuanmocmoc Add me please

[2018-01-31 10:31] lapin7 commented on #185
I've added manually @tgrospic to #185
Now @tgrospic can add a budget and rewards
https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=468279933&range=AF98

--
Cheers,
HJ

On Wed, Jan 31, 2018 at 12:11 AM, Dan Connolly <notifications@github.com>
wrote:

[2018-01-31 10:45] Viraculous commented on #261
I have had background in Cooperative Economics and Management and by that come to know that the problem is more of inefficiency in human resource management and which would not be possible except through education/enlightenment on esteemed value/ethical structure of the organization especially in a decentralized platform as the RChain where there is no central authority or a well defined governanc

[2018-01-31 12:14] Whisker17 commented on #230
I have join in this issue,but why I can't see my github name in [this](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=950224463)(#230) @lapin7

[2018-01-31 12:20] yuhuanmocmoc commented on #269
@lapin7 Sure, but we will start working on this issue right now.

[2018-01-31 12:40] JieL314 opened #271 "M> Translate White Paper into Chinese"
I am sorry about the issue submitted before.
The issue #100 contain many language versions, and I am not familiar with all users typed in spreadsheet. So it is too difficult to decide percentages distribution. I want to submit a new issue only for translate White Paper into Chinese. The work already finished. I will inform the partners type their name in the new issue spreadsheet. Hope the issue c

[2018-01-31 12:48] Whisker17 commented on #271
good job!

[2018-01-31 12:48] pmoorman commented on #267
_Pre-P.S. I'm definitely one of those confused people :/_

---

- Activists for me conjures pictures of Greenpeace, etc.  I wouldn't go with that.

- RAM might be confusing because you need to remember what it _stands for_. It also sets the tone for "using weird accronyms is oke", which it probably shouldn't be.

- "Active members" is hard to beat in terms of just exactly describing what it is, bu

[2018-01-31 12:53] jiyuxuan1944 commented on #271
I participated in the translation.

[2018-01-31 13:30] lapin7 commented on #133
I've set the budget of #133 arbitrarily to $0.00 because of the discussion **volunteer and rewards**
Please discuss amongst others with @dckc

[2018-01-31 13:41] lapin7 commented on #246
@dckc Your rewards are above 100%. Please change to make it =< 100%
https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=950224463&range=AI1982:AJ1991

[2018-01-31 14:05] tgrospic commented on #169
I'm looking forward to read Mike's tutorial.

[2018-01-31 14:26] lapin7 commented on #261
I will freeze the [201801: Budgets and Rewards](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=950224463) as it is at 2018-02-01. The last update was today. Up to #270.

And start the payment process and a new month 201802. All closed issues won't appear in 201802. Closed issues can be reopened but don't get any budget or reward anymore. If you want to

[2018-01-31 14:46] zsluedem commented on #264
@lapin7 you mean English "word count" or Mandarin "word count"?

@Whisker17 and I translate the different part. So we are going to review each other's translation~
We still need a third reviewer.

[2018-01-31 14:49] dckc commented on #246
I was pretty careful about that. I wonder if someone else changed them.

Will fix, in any case...

[2018-01-31 15:16] lapin7 commented on #264
@zsluedem English word count please

[2018-01-31 15:30] lapin7 commented on #267
I like RAM :-)

[2018-01-31 15:37] lapin7 commented on #269
@yuhuanmocmoc #269 has been added. It's the last update for January. So you can set the [budget](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=468279933&range=179:179) and [rewards](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=950224463&range=2268:2274)

269 |   | M > Translate Rossette document into Chi

[2018-01-31 15:37] truffard commented on #251
@lapin7 hi  im back.please let me know how i can help with the french translation.

[2018-01-31 15:47] lapin7 commented on #230
@Whisker17
I've replace @Ojimadu with your name.
More changes wanted?

Member
--
sportshark
kitblake
jiyuxuan1944
Whisker17
wiki-yu
JieL314
llg9012
mikeyun
AllCombo
BelovedAquila
lapin7

[2018-01-31 16:01] lapin7 opened #272 "M> French Version of Lerner & Nash Foster interview transcript"
**Goal:** a [. srt file](https://docs.google.com/document/d/1en8ewGh88ItE-1UKMYA0wZwz5Elwch0ESfWwD_AiYoo/edit)
stored in  [/RChain/Members/Marketing-Community Dev/YouTube](https://drive.google.com/drive/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii)
with a translated transcript in French of the file
[[TRANSCRIPT][.srt][English] "Rchain Exclusive chat Lawrence Lerner & Nash Foster"](https://docs.google

[2018-01-31 16:04] zsluedem commented on #264
@lapin7 I wrote a Python script to count the words. It is about *10954* words in the English transcript regardless the figures or other things.

(The first draft Mandarin transcript)[https://docs.google.com/document/d/1nxkJw2Pu1YdeAdWCJz11pVrRKibqnk3NoIZRSO7KxvQ/edit] is done! We are going to review each other's translation now~!

[2018-01-31 16:06] lapin7 commented on #251
@truffard
Great that you're back
The translation in French is already busy. Done by @niwaa.
He's at around 200
@truffard can verify the work done and do what's not done. Please coordinate yourselves.
Tomorrow #272 will be added to 201802: Budgets and Rewards
Progress can be followed in #272

[2018-01-31 16:19] lapin7 commented on #251
@zsluedem wrote a Python script to count the words. It is about `10954` words in the English transcript regardless the figures or other things.

[The first draft Mandarin transcript](https://docs.google.com/document/d/1nxkJw2Pu1YdeAdWCJz11pVrRKibqnk3NoIZRSO7KxvQ/edit) is done! We are going to review each other's translation now~!

@zsluedem Great.

That brings the budget per language **down**. The

[2018-01-31 16:21] lapin7 commented on #251
@Mervyn853 please contact BlockchainBrad about adding the .srt Chinese version to his video. And the other languages can be added when they're done.

[2018-01-31 16:23] lapin7 commented on #251
We need also a trailer of this video, max 2 minutes, with the most exiting moments. Anybody can pick this task and create an issue.

[2018-01-31 16:37] AbnerZheng commented on #257
I've joined the group. Hoping the Chinese community become stronger.

[2018-01-31 16:44] truffard commented on #272
@niwaa hi!please let me know how i can help with the translation in french

[2018-01-31 16:52] jimscarver commented on #261
@dckc slashing conditions on bad actors are needed in the end game however I'd prefer to frame it as tough love.

I think onboarding people onto the rchain culture before enabling them in github is a good idea. I suggest if someone acts badly flagged by two members their github access can be removed until two other members attest that they are reformed.

Voting negative is a problem. I suggest vot

[2018-01-31 17:51] Ojimadu commented on #253
@pmoorman I made very detailed worked you have there. I find it quite ambitious as organising all the thing in the document would not be a small work but a gradual process. I made some comments which you can find on the DOC.

[2018-01-31 18:46] Ojimadu commented on #186
Alright, am working on it.

[2018-01-31 18:47] 9rb commented on #217
[working draft](https://docs.google.com/document/d/1JmFUdbQ8cCJa-H2BGF9o-_ckwv9Hl6wns0l5Op8804s/edit) of requirements and thoughts on how we can use this as a testbed for Rholang

[2018-01-31 18:55] dckc commented on #133
@patrick727 point 2 in the description muddies the waters considerably. The RChain Nomination and Governance Committee has no mandate beyond "Identification and selection of directors, officers, and other important roles in the Cooperative, subject to Board approval. Oversee selection of Executive Committee general membership."

The use of "Governance Committee" in the issue title made me wonder i

[2018-01-31 18:57] Keaycee commented on #263
@kaka56 I can assist in doing this.

[2018-01-31 19:10] ICA3DaR5 commented on #244
We finished this. Anything else we should do?

[2018-01-31 19:26] niwaa commented on #272
Hey guys here is the collaborative file : https://docs.google.com/document/d/1en8ewGh88ItE-1UKMYA0wZwz5Elwch0ESfWwD_AiYoo/edit

I've got it done until chunk #400, will update the doc (I use Pages for spellcheck).

@truffard would you like to start maybe at the middle so we don't collide ? Like from #1000 till the end. Or let me know what blocks you are doing. I will be on #400-600 for today i thin

[2018-01-31 19:44] dckc commented on #244
No; things may change in the future, but for now, this looks complete. Well done.

[2018-01-31 19:44] #244 closed

[2018-01-31 19:47] dckc commented on #217
Please [sign the draft][1], give [status][2], and give [links to context][2] such as this issue.

[1]: https://www.w3.org/Provider/Style/SignIt.html
[2]: https://www.w3.org/Provider/Style/DateIt.html
[2]: https://www.w3.org/Provider/Style/IntoContext.html

[2018-01-31 19:55] dckc commented on #267
Some candidates from tooth-brushing / driving time:

- **bounties**
  - I think this is the word used in the wider software development, security, and cryptocurrency community for the sort of thing we're doing. In cases where I only had one word to refer to what we're doing, I have used "bounties" or "bounty system". It's used as a keyword in the core JIRA, for example.
- **swarm**
  - I have yet

[2018-01-31 19:57] dckc commented on #267
@pmoorman writes:

No, there are ways to be an active RChain coop member that don't involve this bounty system.

[2018-01-31 20:00] dckc commented on #259
I figured out what the objective of the game should be: **participate in RChain applications at many scales** such as family, city, marketplace, gaming community, sports fan club, charitable organizations, nation, ...

See also TimBL's [The Scale-free nature of the Web](https://www.w3.org/DesignIssues/Fractal).

[2018-01-31 20:02] dckc commented on #259
@pmoorman would you please look at this game and see what you think of it as a vehicle for communicating RChain values and some of the technical stuff?

I'm not sure if it's going to literally turn into a game or just remain a slide presentation.

I hope to use it as a lightning talk at the gov forum.

[2018-01-31 20:08] dckc commented on #250
Saying "the agenda is too full" is less useful than saying which items should stay and which should go. The order naturally prioritizes too: things at the end are at risk of being postponed.

[2018-01-31 20:15] truffard commented on #272
@niwaa sounds great but first i need to be granted access to the doc, thanks again

[2018-01-31 20:53] niwaa commented on #272
@truffard it should be public but I just gave you access.

[2018-01-31 21:43] LiliNL commented on #251
@ HJ I can make a short trailer if you give the timecodes of the moments
that appeal to you the most ...

2018-01-31 17:23 GMT+01:00 HJ Hilbolling <notifications@github.com>:

[2018-01-31 22:17] AyAyRon-P commented on #232
I've created three (3) PowerPoint Templates: https://github.com/rchain/Members/tree/master/style_guide_assets/presentations

Was there still a need for the WordDoc Templates as well?

[2018-01-31 22:20] TrenchFloat commented on #248
Timestamps for today's (Jan 31) debrief are now in the [wiki](https://github.com/rchain/Members/wiki/Weekly-Debrief-Index) and the [draft doc](https://docs.google.com/document/d/1VDudBgr7Ei1pqFyb5Brc2v0G9z4Z3iY_EBs1guyCX7I/edit).

[2018-01-31 22:20] dckc commented on #185
@MParlikar @KentShikama would you please weigh in on the bounty for this issue?

@tgrospic @AbnerZheng today is the last day to vote for January rewards, @lapin7 said in a couple other issues.

@lapin7 irony: currently I'm set up to get zero reward for this issue, and it's the one I put the most work in on.

[2018-01-31 22:25] Viraculous commented on #247
Feedback from Bas Kaptijn; ICT Architect of ICTU/Discipl, replied me thus; Hi Victor,  I discussed this with Steven. It appears he was already in contact in the Netherlands with someone from the RChain community. This might lead to a project in which we'll try out RChain too like we did with IOTA. It would involve developing a binding from our Discipl Core API's (in development) towards RChain.  B

[2018-01-31 22:26] kaka56 commented on #263
@ keaycee i have gone far and am almost  through.

[2018-01-31 22:52] 9rb commented on #241
Looks like one or more members from the Marketing Committee should be looking at proposals like this one and perhaps also develop 'conference proposal guidelines' for one to review and assess if some suggestion meets guidelines (may be the folks commenting here already are on that committee?, I'm not sure).  Kenney can of course substitute for them.

[2018-01-31 22:53] dckc commented on #243
@lapin7 writes:

I did make an effort to take care of them this month.

[2018-01-31 22:57] 9rb commented on #241
Is it possible to come up with a proposal to engage the African Developer community on a sustained basis, without forking out a bag of money to a third party for a one-shot exposure?  Can we identify and engage channels of communication where such developers congregate?

[2018-01-31 22:59] jimscarver commented on #241
There is a concern that "sponsorship" does not mean exposure of rchain at the conference.  Will there be an rchain presentation?

[2018-01-31 23:02] dckc opened #273 "Development / Programming work: Story points, etc."
@MParlikar , @lapin7 , and I discussed ways to improve bounties for software development, especially when they interact with the core dev team.

One result is that story points seems to be an important way to normalize things.

@MParlikar would you please explain how you normally use story points? I have a rough understanding of my own, but I'd like to compare my background with your practices.

A

[2018-01-31 23:06] dckc commented on #261
@Viraculous is your point about a nursery platform pretty much the same as in #243 that you raised? It's a good point that perhaps that would reduce the burden of dealing with bad actors.

Aside from the 5 votes for temporal sanction possibility that we agree is worth consideration, do you see any particular mechanism or steps to take in the area of negative consequences?

[2018-02-01 00:14] pmoorman commented on #253
### RE: Ojimadu
@Ojimadu thanks for leaving such in-depth and thoughtful comments in the document. I agree with you that the entire onboarding is a complex beast, and something we should improve gradually.

My hope is that this document can provide the strategic foundation, so many people can contribute their piece to moving this forward!

### Closing, and on to execution?
Since at least @Ojimadu

[2018-02-01 00:28] pmoorman commented on #267
Oh God....  (this stuff is more complicated than I thought!)

---

Actually, I think the suggestion of "swarm" is neath, although what would a "swarmer" or whatever be called?

@dckc wrote:

dbr is obscure, but I find that's often useful: nobody reads anything into the name; **they only know what it means by looking it up.**

In that case, I would say RAM is the better-sounding alternative. RAM ca

[2018-02-01 00:38] BelovedAquila commented on #273
@dckc I actually created that label and like you rightly guessed, it was kind of because the development label seem blurry and limited. I suggest  it did be more precised if it's actually renamed  "software development" or " software programming ".

[2018-02-01 00:42] BelovedAquila commented on #266
@lapin7 alright, got it. Thank you

[2018-02-01 00:50] Whisker17 commented on #230
@lapin7 no,up to now.
thx for ur modify

[2018-02-01 00:53] MParlikar commented on #273
We use story points as a rough estimate of effort.  It is a Fibonacci sequence, because as the number goes up, the projected error in the estimate also goes up.  Typical story points are 1,2,3,5,8,13,21.  21 story points amounts to approximately 40 hours of raw effort (~ 2 weeks, including administrative overhead, productivity, etc...).  As a rule, we strive to keep our tickets at or below 13 stor

[2018-02-01 01:06] BelovedAquila commented on #266
Don't know if it's ok this way @lapin7?. And please would it be necessary to store the progress made in the course of transcription  at  /drive/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii  or can it be stored after  full transcription?

[2018-02-01 01:13] zsluedem commented on #251
@lapin7 @Mervyn853 Chinese transcripts are still need to be reviewed~!
Don't upload the transcript now until we said we are done~!

[2018-02-01 02:38] HaizhenZhuo opened #274 "M > Translate Rholangtut-mercury document into Chinese"
I'am a front-line blockchain developer and working for a big financing institution in China now. I have a great interest in RChain and want to do something. Rholangtut-mercury（https://github.com/rchain/rchain/blob/dev/rholang/doc/rholangtut-mercury.md） is a core part of the Rchain architecture,so I want to translate this document into Chinese.I really wish more and more people can join us, so I wi

[2018-02-01 02:50] ICA3DaR5 commented on #265
Due to the original English Transcript having a lot of mistakes, we opted to watch the video and translate by ear with the help of the English Transcript

![screenshot from 2018-02-01 03-01-57](https://user-images.githubusercontent.com/34237682/35658692-40691c16-070b-11e8-8eec-1deca93f4472.png)

[2018-02-01 03:16] 8lcarte commented on #232
I think a word doc would be helpful for longer form proposals but not required for the governance forum.

[2018-02-01 04:04] sportshark commented on #258
@rjl493456442 @lapin7 There are another  RChain WeChat public channel
![tim 20180201120315](https://user-images.githubusercontent.com/20704995/35660589-e5b33a1c-0747-11e8-8de7-539fcafadbeb.jpg)
In fact, he has been running free of charge.

[2018-02-01 04:06] sportshark commented on #257
@lapin7 @rjl493456442 There is another RChain group of WeChat, which has been running for 2 months and has been maintained free of charge。
![35606020-b98c6910-0687-11e8-84e0-f102447ae1ca](https://user-images.githubusercontent.com/20704995/35660668-5fd37e60-0748-11e8-8c75-31738f235e77.png)

[2018-02-01 04:12] yyh1102 commented on #258
@sportshark I found that this WeChat public channel is registered on 31, Jan, which is later than the time this issue created. I'm afraid it's not a good thing that RChain has two public channels.

[2018-02-01 04:13] rjl493456442 commented on #258
@sportshark Yesterday we created a public account for promoting Rchain, and we are putting the technical architecture, pi calculus and other documents that we translated into operation on our public account. I think you have no reason to create a public account today. I think a public channel for Chinese users is enough, you do not need to create one.
In order to avoid confusion, please cancel it

[2018-02-01 04:21] sportshark commented on #258
@yyh1102 @rjl493456442
1. This WeChat public channel is not built by me. You can contact its manager
2, I don't agree with you. All the WeChat public channels built by Rchain fans are for the purpose of spreading RChain. I think WeChat public channels can make more people know and understand RChain.

[2018-02-01 04:23] zsluedem commented on #257
@sportshark nice work~!

[2018-02-01 04:31] zsluedem commented on #265
@ICA3DaR5 Yes, I did the Chinese translation in this way ,too.
@lapin7 I think the English transcript which should be corrected during our translation is better~

[2018-02-01 04:37] sportshark commented on #257
Of course, this group is not bulit by me.
@rjl493456442 @lapin7

[2018-02-01 05:14] yuhuanmocmoc commented on #258
@sportshark  I also love free stuff, but free is always the most expensive. It is all about the quality, and everyone has a right to earn a fair price for your work performance.

[2018-02-01 05:17] HaizhenZhuo commented on #274
I have translated most of the chapters and are verifying now.

[2018-02-01 05:26] rjl493456442 commented on #258
@sportshark No worry, i'll negotiate with that public channel manager. I agree with the @yuhuanmocmoc said, for me and my teammates we need a suitable payment to promoting RChain in China. After all, with economic incentives, we will urge us to do a better job.
Please @lapin7  and @sportshark  believe us, promote RChain is our initial starting point, but the necessary funding is necessary.

[2018-02-01 05:37] zsluedem commented on #258
actually....they are doing great with the Wechat public accounts if you enter their public accounts which @sportshark provides.

[2018-02-01 05:51] Whisker17 opened #275 "M > Translate 'A Rholang tutorial' into Chinese"
I've translate [this ](https://github.com/rchain/rchain/blob/dev/rholang/doc/rholangtut-mercury.md)into Chinese.Now I need some time to review it.
And I will upload the Chinese version to the [Chinese official website](http://www.rchain.site/) ASAP.

[2018-02-01 06:03] yuhuanmocmoc commented on #258
@zsluedem This conclusion is a bit too casual, that public account just be created one day ago. All right, calm down please, it's depends on the official  requirements.

[2018-02-01 06:35] lapin7 commented on #251
@LiliNL please contact @Viraculous, because he said he would make a written summary. Probably he has references to the video moments. You may also contact @entropee, because he is a specialist in making automatic transcripts of a youtube video.
@LiliNL if you go ahead with the trailer, then please make a new issue with a SMART description of what you plan to do.

PS. if you use the github names th

[2018-02-01 06:42] pmoorman commented on #261
@jimscarver's comment captures what for me feels as the "conclusion" of this discussion. All his points seems to have a broad level of consensus/agreement (both here, and in other issues).

I would consider his answer as the defacto "final answer" to this issue, unless anyone objects.

+++++++++++++

Moving forward, I think there are **2 actions we should take:**

1. @lapin7 should find a way to i

[2018-02-01 06:46] Mervyn853 commented on #251
@zsluedem @lapin7 will wait till the translations are finalized before i speak to him again.

[2018-02-01 06:47] jiyuxuan1944 opened #276 "Create and edit Rchain files in Baidupedia, Interactivepedia, 360pedia and other mainstream Chinese encyclopedia platforms."
Now, it's not easy to find out about Rchain in China's mainstream search engine. But if we create entries about Rchain on a variety of Chinese encyclopedia websites, things get a lot easier. Because  most Chinese people are through Baidupedia（like Wikipedia） and other platforms to understand what they are interested in.And They think these websites to some extent represent the authority. We intend

[2018-02-01 06:48] hcl3 opened #277 "Create WeChat Official Account, RChain’s information sharing and interactive platform on the Chinese mobile terminals"
Subject: Create WeChat Official Account, RChain’s information sharing and interactive platform on the Chinese mobile terminals

WeChat is China’s most popular social media app. By the end of December of 2017, WeChat had **980 million** active users in China and around the world. WeChat Official Account is a self-media microblog targeting WeChat’s large users, capable of delivering information to a

[2018-02-01 06:53] sportshark commented on #277
Well, Another Webchat public channel！It's good to publicize RChain

[2018-02-01 06:53] Whisker17 commented on #276
good idea,it sounds interesting.we can do it together!

[2018-02-01 06:54] jiyuxuan1944 commented on #277
Great！I think this is a good way publicity for Rchain！

[2018-02-01 06:54] JieL314 commented on #277
Great! It is also I suggest yesterday! I am one of the follows.

[2018-02-01 06:55] Whisker17 commented on #277
sounds good!
let's do it together!

[2018-02-01 07:00] jiyuxuan1944 commented on #276
@Whisker17 Welcome！This is a big project！

[2018-02-01 07:11] AllCombo commented on #277
WeChat is a important market channel. i support.

[2018-02-01 07:12] yyh1102 commented on #277
Dup with #258 . I heard from @sportshark in #258 that this WeChat public channel account is run free of charge, but in this issue it proposes a budget. Considering the time it creates and the action of these guys, i really doubt the motivation of this public channel.I keep the opinion that RChain should have only one official WeChat public account, and i suggest you @hcl3 can build a public accoun

[2018-02-01 07:13] mikeyun commented on #277
Good job,Cheers!

[2018-02-01 07:16] jiyuxuan1944 commented on #275
Good Job！

[2018-02-01 07:22] yyh1102 commented on #100
Hope to seed the Chinese version of the white paper. : )

[2018-02-01 07:29] AbnerZheng commented on #176
@lapin7 @dckc @MParlikar
There must be something  wrong for the budget and reward for this issue. @dckc vote 640$ for this issue, I guess he must want apply all budget for work done for this month, because if the total budget for this issue is 640$, and then the percentage of my work is 5%, then my reward is 32$. So I vote 25000$ for this budget so that, my reward is about 16*40 = 640$.

[2018-02-01 07:30] yuhuanmocmoc commented on #277
The guys of your organization are inconsistent in what you say or do. I suggest @hcl3 can build a public account for free as you said just in the morning. There is no need to propose a same issue and budget [(https://github.com/rchain/Members/issues/258).](url).

[2018-02-01 07:31] hcl3 commented on #277
@yyh1102 Your suggestion is very good, WeChat Official Account does not need money, our funds mainly for public information through the WeChat Official Account RChain, and 1.3-1.7 involves some costs.

[2018-02-01 07:49] BelovedAquila commented on #261
"people err because of lack of knowledge" and "when purpose isn't defined, abuse is inevitable". All the contributions made are really impressive and in line. But as it regards to solving it I move with @Viraculous,enlightenment before sanctions (based on a legal dictum, people don't really tend to obey rules and follow principles just because there is a sanction, some tend to obey or not because

[2018-02-01 08:16] linsheng9731 commented on #274
@HaizhenZhuo I am very interested in this , i can join you.

[2018-02-01 08:22] RowlandZhou commented on #274
@HaizhenZhuo I want to join

[2018-02-01 08:35] lapin7 commented on #277
@hcl3
Please become member of this [group](https://groups.google.com/forum/#!forum/rchain/join) to get access to documents
And send ​your github name ​to ops@rchain.coop.

[2018-02-01 08:41] lapin7 commented on #274
@HaizhenZhuo
Please become member of this [group](https://groups.google.com/forum/#!forum/rchain/join) to get access to documents
Please accept [Github Repository Invite](https://github.com/rchain/Members/invitations)

[2018-02-01 09:22] Ojimadu commented on #260
@dckc I really like the you work you did. IMO, interface and UI are part of the cause of problems we have on the Budget sheet with too many edits, the budget sheet does not look nice.
On the demo,
- the average amount is it for RHOCs or USD?
- What is the "amount effective"?
- I attempted removing  an issue from the list of issues you worked on though it failed but wondering if the remove button i

[2018-02-01 11:00] David405 commented on #274
Hello guys, I would love to join this issue....how far have the translation gone?

[2018-02-01 11:25] truffard commented on #272
@niwaa Ill start translating tonight,thanks!

[2018-02-01 11:25] Ojimadu commented on #217
@dckc Just to clear things, I did not assign any reward neither did I set a budget on this issue. I saw a budget of $400 under my name I dont know how that came to be as I did not participate in this issue and I am not among the participants or assignees. Please edit your post above.

[2018-02-01 11:33] Ojimadu commented on #250
I did not want to be like "remove this, add that, remove this" as I felt @dcpnlau wrote it and would be in a better position to review as I just skimmed through the document.
Yes, the order priorities too, I think missed that. :)

[2018-02-01 11:59] yyh1102 commented on #274
Please let me join in !

[2018-02-01 12:01] rjl493456442 commented on #258
@lapin7 I think there is no need to creat the same issues.
Issue #258 and #277 are the same in actual content, and  #275 is same to #274.
@Whisker17 (and others?) please don't always propose the same issue. We should not distribute our power to do the same thing

[2018-02-01 12:05] rjl493456442 commented on #274
@David405 Welcome! Almost the translation has been done. But you can review the translation carefully to make sure the translation is make sense.
Once the translation been submitted, we will mention you to review :)

[2018-02-01 12:19] Ojimadu commented on #257
Is there a need to create multiple instances of RChain WeChat group since there is already a free, two-month old community that is up running?

[2018-02-01 12:41] hcl3 commented on #277
@lapin7 ok!

[2018-02-01 12:46] Ojimadu commented on #259
@dckc The presentation change helped. I now understand the modular arithmetic aspect. Thanks.

[2018-02-01 12:48] dckc commented on #176
Yes, $640 is good.

There was a large budget left over from previous months at the time I
entered what I did.

On Feb 1, 2018 1:29 AM, "Abner Zheng" <notifications@github.com> wrote:

[2018-02-01 12:55] dckc commented on #217
Will do. I'm on mobile just now.

[2018-02-01 13:04] zsluedem commented on #264
@lapin7 I don't know what is going on right now . I lost the permissions to edit the doc right now

[2018-02-01 13:08] dckc commented on #260
Amount effective is zero until there are three votes; then it is the same as amount average. Perhaps we can figure out a better name.

[2018-02-01 13:09] patrick727 commented on #217
Looks like we ought to keep a keen eye on the budget program.

@jimscarver I'd like to propose a working group on this while @kitblake is in Tampa next week.

[2018-02-01 13:19] Whisker17 commented on #258
@rjl493456442  sorry to hear this
I didn't know you guys are translating this docs,and I can't open the link you put in the #274 so that I can't check that.Sorry again.But I've work for this doc for many time,and I finish translation by myself a week ago,I just want others to review it more precise so I didn't create a issue.I think we should communicate with each other more to avoid this conditio

[2018-02-01 13:19] Ojimadu commented on #217
@patrick727, Yes, lots happening on the sheet lately from disappearing and appearing names, to random budget setting like in my case above. I really like what @dckc is doing on issue #260. Hopefully, we can get to adopt that when he is done.
@dckc I suggest creating a new issue for your work.

[2018-02-01 13:23] Ojimadu commented on #260
I think the 'three vote' is limited to budgeting and not setting of rewards. Is that right @lapin7

[2018-02-01 13:26] patrick727 commented on #243
@Viraculous there are labels to act as categories and there are projects that act as a way of organizing the issues by way of stage of completion.

https://github.com/rchain/Members/projects/14 for example is "digital community building"

Ian reccomends a knowledge base plug in for Q&A that I agree should be implemented
@dckc I also reccomend a discourse forum, i told medha about it for developer.

[2018-02-01 13:27] patrick727 commented on #248
thank you @TrenchFloat !

[2018-02-01 13:35] patrick727 commented on #219
@pmoorman please do not move forward in creating an independent drip account.
I appreciate your drive and wanted to tick this off before yesterday.

I reached out for approval of the service shift and was haulted,...yet again like the logo.
This one is less of a deal and I will push for, remaining considerate of the Board, etc.

these types of accounts fall under socialmedia@rchain.coop

[2018-02-01 13:36] yyh1102 commented on #257
@Ojimadu
I found out that the group from @sportshark is not the official group but a fans group, and only has 48 members. However the group promoted by this issue has already 117 members now.
The official group may invite the official members of RChain, or the one they propose finally, to be a manager or leader of the group,  not just the proposers among fans simply.
I don't know which one is wort

[2018-02-01 13:39] yyh1102 commented on #275
Maybe dup with #274 ? @lapin7 is this document a early version of tutorial?

[2018-02-01 13:44] jimscarver commented on #133
Indeed there has been some confusion. My takeaway from the annual meeting was the governance committee responsibility went far beyond the specific responsibilities listed in the bylaws including block chain and coop governance with Vlad as a guide.

I took on the task of initiating activities to forward our mandate as I understood it which may have led to confusion. My apologies for my misundersta

[2018-02-01 13:46] patrick727 commented on #115
Yes this issue as morphed and lost its scope.

I'm going to close it and based on peoples activities personally reach out to become a "cooperator"

Then the cooperator tasked with a channel, such as telegram can create those issues that @dckc referenced, such as "2000 telegram subscribers" hopefully more like "50 Downloads of the SDK through telegram" so we can drive KPI's

[2018-02-01 13:46] #115 closed

[2018-02-01 13:57] Whisker17 commented on #275
@yyh1102 yes,I think it may dup with that issue,but I can't open the link there so that I can't check.
But I 've finished translation by myself a week ago,I think we should communicate with each other.

[2018-02-01 14:04] 9rb commented on #260
When the system automatically reads data from github, can we make sure that it rewards github comments at .000001% or such negligible amount, so that there is less rework to be done in the budget spreadsheet?  Currently it seems to assign 1% reward per comment or such, requiring one to go back zero those amounts out.  By using a negligible amount, teams can focus on correctly rewarding the members

[2018-02-01 14:06] 9rb commented on #139
There's a budget issue on this item that needs to be fixed.  I will open BYOID as a separate development task, so that budgets are not commingled.

[2018-02-01 14:07] patrick727 commented on #197
I commented on this answer a while ago

here is my response to the question, see if you get the tone and theme that we want to push for, more about the tech then anything else.

https://www.quora.com/If-Bitcoin-is-cryptocurrency-1-0-and-Ethereum-is-cryptocurrency-2-0-which-is-the-cryptocurrency-3-0/answer/Patrick-Maguire-22?prompt_topic_bio=1

[2018-02-01 14:08] 9rb commented on #217
@dckc, will follow those guidelines for signature, status, links to context etc.. getting up to speed on that :-)

[2018-02-01 14:48] JieL314 opened #278 "M>Translate RChain Blockchain multithreading mechanism into Chinese"
I want to launch a translation project to explain the blockchain multithreading mechanism to Chiinese people, aim at attach more prople who are interested in RChain. The source url is link to https://thecryptosyndicate.com/rchain-multi-threading-blockchain/.
The budget is $400(ten hours). I'already done it. And will published in a day.
@lapin7

[2018-02-01 16:07] ICA3DaR5 commented on #265
@zsluedem Hey, why did you edit this issues Budget and Allocation? You are not allowed to do that since you are not a contributor to this issue! ^^ @lapin7

[2018-02-01 16:51] MParlikar commented on #176
What needs to be done in order to fix this?  @dckc @lapin7 How does the budget roll over from last month?

[2018-02-01 17:31] AbnerZheng commented on #274
@HaizhenZhuo Thanks for your contributing. I have help commit the document you translate into the https://github.com/rchain/reference repo. You can view the translated document in https://github.com/AbnerZheng/reference/blob/master/docs/rholangtut-mercury_cn.md

[2018-02-01 17:31] AbnerZheng commented on #274
And I will help to merge the PR into the repo.

[2018-02-01 17:39] kaka56 commented on #263
@Keaycee you are invited to collaborate with me

[2018-02-01 17:44] patrick727 commented on #248
[Test draft in newsletter](http://archive.sendpulse.com/shc4c/891b879c/?_ga=2.26596477.1794896848.1517422498-85970949.1511818720)

What do you all think?

[2018-02-01 17:54] TrenchFloat commented on #248
Looks good! If we're being picky, there are no "accompanying documents" with the timestamps for this issue.

[2018-02-01 18:02] patrick727 commented on #248
thanks I updated to this

"Below are timestamps and any accompanying documents presented in the past two debriefing hangouts."

[2018-02-01 18:18] Ojimadu commented on #248
Looks good.

[2018-02-01 18:51] patrick727 commented on #248
http://archive.sendpulse.com/shc4c/052b4773/?_ga=2.261939021.1794896848.1517422498-85970949.1511818720

[2018-02-01 18:51] #248 closed

[2018-02-01 18:56] pythonical commented on #248
great job it looks fabulous!

[2018-02-01 19:25] dckc commented on #260
Where did anybody get the impression that the system rewards comments automatically? My understanding is the only thing the system does with comments is make the comment author eligible to give and receive rewards. To make a >$0 reward, three persons have to put in numbers.

[2018-02-01 19:29] dckc commented on #260
@lapin7 I got a suggestion from @Ojimadu to make a new issue for my coding work in this area. As a developer, when I read "Assistance with X" I just assume that includes "write code to automate X". I'm [well known][1] for saying: The bane of my existence is doing things I know the computer could do for me.

Do you see automation as part of this issue or would you prefer that I make a separate issu

[2018-02-01 19:39] dckc commented on #260
An idea: the budget web service can do:

Bob, I see you gave Alice a thumbs-up in issue #25839 on Jan 23, but you have not voted to reward her
   - [ ] reward amount: $_____
   - [ ] disregard

likewise with assignments.

[2018-02-01 19:50] dckc commented on #176
@MParlikar I'm inclined to see the big spreadsheet as a useful prototype and retire it. See #260 for a next prototype.

[2018-02-01 22:48] pmoorman commented on #219
@patrick727 no problem. I understand that those choices need to be signed-off by more than just 3 Github upvotes.

I'll wait here, ready when you are  ;-)

[2018-02-01 23:14] dckc opened #279 "certificate of membership in RChain coop"
idea: I write "I, the owner of ethereum account 123, am a member of the RChain coop and my github handle is XYZ" and sign it and publish it on the blockchain. Then a (delegate of) an officer of RChain counter-signs my transaction. Now we have published a certificate of membership.

@kennyrowe do you have experience with that sort of thing? Does the coop have keys / accounts that it uses for such p

[2018-02-01 23:22] dckc commented on #133
Thanks, @jimscarver . I'm inclined to revise the title and description of this issue to refer to a "governance working group". I'll stand for a bit by to see if @patrick727 or you or anybody else would rather do it yourself.

[2018-02-01 23:45] dckc commented on #105
The number of translation issues is exciting!

My eyes are starting to glaze over the **Marketing** label on so many issues. Does anyone review all the Marketing issues or something?

I suggest that a translation into Chinese be labelled **Translation** and **China**. An event in China would be labelled **Events** and **China**. That way someone who notices a Chinese translation might easily find

[2018-02-02 00:51] #275 closed

[2018-02-02 01:14] JieL314 commented on #276
Just do it!

[2018-02-02 01:22] Whisker17 commented on #278
cool

[2018-02-02 02:19] dckc commented on #253
Help me understand what execution steps have a critical mass of support? I'm struggling to find them in the document.

The goals in the description of this issue aren't done, so before we close the issue, let's reduce the scope to what we actually did.

[2018-02-02 02:27] dckc commented on #181
For reference, there is a [membership benefits][1] section on the [co-op information][2] page.

[1]: https://www.rchain.coop/coop-information-1/#member-benefits
[2]: https://www.rchain.coop/coop-information-1/

cc @pmoorman

[2018-02-02 03:15] dckc commented on #238
The blog item is great, but... um... I don't actually have an account on hacker news, reddit, nor lobste.rs.

@pmoorman be advised: this is at-risk

@MParlikar is Daniel G. doing developer outreach?

 - [RChain Rholang SDK (v0.1) Released](https://medium.com/rchain-cooperative/sdk-v0-1-5f6bc35bf3e9)
   Nash Foster Jan 31

[2018-02-02 03:18] dckc commented on #238
looks like @patrick727 put it on reddit yesterday: https://www.reddit.com/r/RChain/comments/7udryt/rholang_sdk_v01_released/

No comments. Hmm.

[2018-02-02 04:22] David405 opened #280 "M> Translate 20180131 Rchain Weekly Community Debrief 62 into Portugese"
Goal: a .srt file for Portugese for 20180131 Weekly Member Debriefing.

Collaborator: @Ojimadu

Tasks:
- [ ] Get an English transcript of the video
Measure of Completion:  50%
- [ ] Translate the English transcript into Portugese
- [ ] Crosscheck grammar, spelling
- [ ] Review the Portugese transcript
- [ ] Upload the Portugese transcript

Time: 1 week

Suggested Budget: $1000

[2018-02-02 04:35] Whisker17 commented on #280
if u get an English transcript,I can translate it into Chinese

[2018-02-02 05:02] kitblake opened #281 "O>Coop Information page: Newsletter link is broken, minor content fixes"
The page at: https://www.rchain.coop/coop-information-1/ has a newsletter subscribe button that doesn't respond. This seems to be the same problem as on the main page a few days back.

@patrick727 Is this page linked from somewhere? It's slightly out of date as the Activist Meeting is now after the Weekly Debrief. Also the main title is funky: the word devel-opment is broken into two lines (on my

[2018-02-02 05:07] David405 commented on #280
@Whisker17 I am working on the English transcript

[2018-02-02 05:09] David405 commented on #281
@kitblake that's true, I tried signing up for newsletter but it isn't going through.

[2018-02-02 05:15] kitblake commented on #281
@David405 When you signed up, was that on the main page or the Information page? I believe the main page is fixed, I just tested it and the button seemed to send, which is what is what not doing a few days ago.

[2018-02-02 05:22] Whisker17 commented on #280
@David405 cool

[2018-02-02 05:25] BelovedAquila commented on #251
@dckc please if you don't mind, what's the China label on almost all issues all about?

[2018-02-02 05:37] pmoorman commented on #253
Maybe I'm too keen to move on to execution on this.

It seems there is very broad support for the idea that I) _"onboarding is an issue"_  (see both here, and other discussions such as #261), and II) that the  approach outlined in the document is a good way to go.

3 people have extensively reviewed the document (@Ojimadu @makys and @traviagio). @kitblake went through it yesterday, leaving some ad

[2018-02-02 05:45] pmoorman commented on #253
Actually, (remembering the issue about renaming /members to ants, bees or whatever).... the scope should maybe be:

(emphasizing the difference)

Another scope for _another project_ should be something along the lines of:  _"Describe process of turning traffic into active members or passive investors"_

That would be purely about marketing / sales funnels

cc @dckc

[2018-02-02 06:14] pmoorman commented on #238
Maybe Hacker News itself isn't the most important, actually. When I mentioned this, my idea wasn't much focused on HN perse, but rather about **validation**:

RChain should be engaging with the wider developer community as early as possible, to learn how to overcome such barriers. Assuming that the entire RChain platform works well, it might be one of the main (if not the #1) reasons developers ch

[2018-02-02 06:31] jiyuxuan1944 commented on #278
That‘s great

[2018-02-02 07:56] lapin7 commented on #176
"budget 201801" & "rewards 201801" are frozen and can only be changed be me
at the moment.

Please check and eventually enter correct entries for #176
I've changed the entries manually to

3,072.00 Member
0.00 lapin7
0.00 MParlikar
2,432.00 dckc
0.00 rchain-travis
0.00 pyrocto
0.00 BelovedAquila
640.00 AbnerZheng
0.00 kaka56
0.00
0.00
0.00
​The roll over is like: "budget rollover" = "budget 201801

[2018-02-02 08:04] BelovedAquila opened #282 "M>Portugese Version of Lerner & Nash Foster interview transcript"
**Goal:**  [PORTUGESE .SRT](https://docs.google.com/document/d/1eUz9yjd6QtiyCyVLUYqFQqoOZLrahpCokXI0OU8Nm6k/edit)
**Stored in:**  https://drive.google.com/drive/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii

**Collaborator:** @BelovedAquila

- [x] Download the English (original) transcript
- [x] Translate the content: 10%
- [x] Check the spelling
- [x] View and review the Portuguese transcript
- [ ] H

[2018-02-02 08:08] lapin7 commented on #260
What's the UID and PW on this app?
http://rchain-dbr.nfshost.com/rchain-bees-ants/index.php?-table=budget_vote&-action=login_prompt&-cursor=0&-skip=0&-limit=30&-mode=list

[2018-02-02 08:08] BelovedAquila commented on #251
@lapin7 To add to the other languages column, I think Portuguese should be one of the languages listed, it's also a key language and I would be working it's transcript.

[2018-02-02 08:11] BelovedAquila commented on #262
Portugese should be added to the list of languages transcripts for the Lerner & Nash Foster interview. I have assigned myself into working on it.

[2018-02-02 08:24] dckc commented on #260
username is your github name

for now, your password is also your github name

[2018-02-02 08:28] AbnerZheng commented on #176
@lapin7 The reward for my work is right. Thanks.

[2018-02-02 08:34] dckc commented on #253
The way to reduce the scope of an issue is to just edit the description; change it from "solve world hunger" to "make a sandwich for Bob", for example.

Currently, the scope includes not just describing the process but also changing it. Oh... I see that bullet is checked. I guess I'm just not up to speed.

The document has had extensive review, which is great. I just don't see what concrete steps

[2018-02-02 08:37] lapin7 commented on #264
The Folder got moved somehow and permissions were gone.

--
Cheers,
HJ

On Thu, Feb 1, 2018 at 2:04 PM, will <notifications@github.com> wrote:

[2018-02-02 08:43] dckc commented on #251
@BelovedAquila the explanation is in https://github.com/rchain/Members/issues/105#issuecomment-362439533 :

I put the China label only on issues directly relevant to that language / market. There are a lot of them, indeed!

[2018-02-02 08:52] dckc commented on #176
@lapin7 in the scope of this ticket, my only contributions in January were coordination, onboarding, and guiding.

My coding work was mostly in #185.

[2018-02-02 08:56] hcl3 commented on #278
very good

[2018-02-02 09:03] pmoorman commented on #253
I appreciate you chipping in, @dckc. The scope reduction example made me smile ;)

I'll keep the idea of "executive summary" in mind for the future. Maybe whenever something like this gets posted, the Github comment could serve as a convenient executive summary...

[2018-02-02 09:03] lapin7 commented on #261
The goal for January is that RAM's get more or less a fair reward for their
efforts. The entries were quite a mess, but it's a good sign that RAM's are
trying to fill it out. That's lots of progress compared to December :-)

One fix for the member names for February.
RAM names are generated with a script and can not be changed anymore.
(RChain Active Members)
The script choses 12 participants on a

[2018-02-02 09:18] lapin7 commented on #232
Please make it a google doc instead of word. It's better for collaboration.

--
Cheers,
HJ

On Thu, Feb 1, 2018 at 4:16 AM, Lee Carter <notifications@github.com> wrote:

[2018-02-02 09:21] BelovedAquila commented on #105
@dckc not a bad suggestion, but is it label China on the basis of China having a broad future prospects as partains to rchain or just for the sake of clarity of issues?

[2018-02-02 09:23] hcl3 commented on #276
This is very meaningful to promote RChain！

[2018-02-02 09:25] BelovedAquila commented on #251
@dckc please permit me to quote you...
"I put the China label only on issues directly relevant to that language / market"
But, using this issue as a reference to your statement above, does this issue seem to be "directly relevant" to just Chinese? Because personally I don't think so.

[2018-02-02 09:30] lapin7 commented on #266
Please make a copy of https://drive.google.com/open?id=1nxkJw2Pu1YdeAdWCJz11pVrRKibqnk3NoIZRSO7KxvQ
And rename the file with German it.
Add the proper link to Goal .srt file in the first comment of this issue. (it's pointing now to Croat...)

[2018-02-02 09:53] lapin7 commented on #185
The distribution of rewards is now like this.

Please reply if it's not OK.

2,066.67 Member 100.00% 8 Voted percentages
1,798.00 dckc 87.00% 3 dckc 0.89 AbnerZheng 0.87 MParlikar 0.85
144.67 KentShikama 7.00% 2 dckc 0.07 AbnerZheng 0.07
62.00 AbnerZheng 3.00% 1 AbnerZheng 0.03
62.00 tgrospic 3.00% 2 dckc 0.03 AbnerZheng 0.03
0.00 lapin7 0.00% 0
0.00 MParlikar 0.00% 0
0.00 tgrospic 0.00% 0
@KentSh

[2018-02-02 10:04] lapin7 commented on #272
@truffard
I see that you've worked on this doc. So it's fine I guess.

--
Cheers,
HJ

On Wed, Jan 31, 2018 at 9:53 PM, niwaa <notifications@github.com> wrote:

[2018-02-02 10:38] truffard commented on #272
@lapin7 yes im translating from line 1000 till the end and its a lot of fun

[2018-02-02 10:45] linsheng9731 commented on #176
I have made a PR for ROS-247 and ROS-314. @lapin7 @MParlikar Please assign someone to review it, thank you.
https://github.com/rchain/rchain/pull/218

[2018-02-02 10:48] lapin7 commented on #176
Soon I will produce a total list of payments per person.
Before actual payments start, I can receive feedback and make adjustments
if it's needed.

The attention for the payment system has increased enormously. :-)
And I'm happy to improve the system with all your insights and suggestions.

--
Cheers,
HJ

On Fri, Feb 2, 2018 at 9:52 AM, Dan Connolly <notifications@github.com>
wrote:

[2018-02-02 11:04] lapin7 commented on #260
AWESOME !!!!
Let's elaborate on the needed functionality.

One thing: can the location be changed to a rough GPS-location? Like
000,000 (longitude, latitude)
For example I don't where HanZhou is on the planet.
30,119
<http://t.sidekickopen08.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs2zhDwMW5v_SgK2zWN1RW1p1hXH56dLy3f6WHqqH02?t=https%3A%2F%2Fwww.google.nl%2Fmaps%2Fplace%2F30%25C2%25B000'00.0

[2018-02-02 11:14] David405 commented on #282
@BelovedAquila, I would love to collaborate with you on this

[2018-02-02 11:17] David405 commented on #282
I can see you have already started, where can I join in?

[2018-02-02 11:38] lapin7 commented on #262
@BelovedAquila Please create a new issue and use #262 as an example

[2018-02-02 11:41] lapin7 commented on #282
@BelovedAquila in the first comment there's a link to the serbo-croat version. Please change that

**Goal:** a [. srt file](https://drive.google.com/open?id=1OQkfiCpQvyPxINZ_RXZzFwpIpzWfbYPEYSCXcce-lOA)

[2018-02-02 12:13] lapin7 commented on #272
@truffard @niwaa
Please take a look at the beginning of the doc. I made a relation with the payment system Pub.
Please propagate this to the other languages. It's a nice way of peer control and peer help.

[2018-02-02 12:18] lapin7 commented on #251
@Tonyprisca13 please create a new issue for the Dutch version with #272 as a template

[2018-02-02 12:23] lapin7 commented on #271
@Whisker17
@zsluedem wrote a Python script to count the words of an English document to be translated.
It's an indicator for setting the budget. And then another indicator is $0.20 per word.
Please check this with your document and put a budget proposal in the comment here under.

[2018-02-02 13:58] dckc commented on #251
@BelovedAquila agreed. I labelling this issue with China was a mistake. Fixed.

[2018-02-02 14:05] BelovedAquila commented on #282
@david for now would love handling it alone maybe you did be assisting in the review, reason because want to take responsibility for any errors that might be seen, though ain't hoping for one. @lapin7 alright, got it.

[2018-02-02 14:14] Whisker17 commented on #278
@lapin7
I have joined this translation,but I can't add my name to the Budget table

[2018-02-02 14:35] Viraculous commented on #247
I contacted the ICTU also (initiatives of Discipl) on this issue. I hope to get their replies soon. I also sent them links to collaborate with us. https://www.ictu.nl/about-us

[2018-02-02 14:57] JieL314 commented on #271
@lapin7
The word of the English document is about 6000. But the finished Chinese one is about 9792. We can't translate the word by simple stitching. We try to perfectly interpret the meaning of the original in native Chinese. So the budget I think is suitable and worthful.
Another question is we've typed it in sheetspread Budget201801 and need me to type it in again in Budget201802?

[2018-02-02 15:35] dckc commented on #280
Somebody elaborate a bit on how a .srt file is useful? How do audience members consume them?

[2018-02-02 15:37] dckc commented on #279
@Viraculous why add the `M> ` prefix? Is there some automated process that consumes it?

[2018-02-02 16:06] kaka56 commented on #263
@Keaycee  here is the collaborative file https://docs.google.com/document/d/1ONyxaJTOL_ZXaFYQWVJ5dEUrnbTm-rCNW10f39sAIXY/edit
there is more to it .to review, edit/correct and  arrange in order.

[2018-02-02 16:07] Keaycee commented on #263
@kaka56 I'm still proofreading the document.

[2018-02-02 16:13] dckc commented on #260
## Design issue: permissionless access

@lapin7 and everybody, which do you prefer?

   - [ ] read access is available to the whole web
   - [ ] read access is available only to those with github accounts
   - [ ] only collaborators can even look at the system

## Use case: Active Member Al logs in using his github credentials

 - [ ] OAuth as usual
   - _see previous work: https://github.com/dckc

[2018-02-02 16:15] Viraculous commented on #263
@kaka56  can I also collaborate in editing for better precision?

[2018-02-02 16:26] dckc commented on #260
@lapin7 writes:

How would you use that info if the system provided it? What is the use case?

If you're thinking of letting people edit location info in this system, I strongly prefer to leave that out of scope.

Design options:
  - [ ] A link to wikipedia
    - very easy to do, provided people use the exact spelling from wikipedia in their github profiles
  - [ ] a link to search results from wi

[2018-02-02 16:38] dckc commented on #260
What time is the Governance meeting 2018-02-17? If it's during business hours Chicago time, I may need @TrenchFloat to cover it for me.

[2018-02-02 16:40] dckc commented on #260
Oh... duh... [Governance meeting 2018-02-17][1] is the one in Seattle. I'll be there. Never mind, @TrenchFloat

[1]: https://www.rchain.coop/events

[2018-02-02 16:42] dckc commented on #260
But I would like you to cover for me in [Greg's Debrief][1] 2018-02-07, @TrenchFloat

_please excuse the email noise._

[1]: https://github.com/rchain/Members/wiki/Weekly-Debrief-Index

[2018-02-02 17:06] dckc commented on #261
@pmoorman writes:

It's useful to observe that a critical mass of support is building, but it's not enough that noone objects. Unless someone takes the ball to carry out the decision, we're not done.

I'm thinking through the details in issues such as #260 and #279.

[2018-02-02 17:20] MParlikar commented on #238
Hi everyone,
If I could weigh in here.  There are a couple issues for developers with respect to the SDK.  If a developer is needing a feature set in the platform, there is a timing issue between our roadmap and theirs.  Attracting them in 2018 may cause them to commit to a platform that may not be ready in time for their needs, which could lead to sour grapes.    We want to attract developers tha

[2018-02-02 17:21] dckc commented on #261
@lapin7 writes:

I couldn't navigate the history of the spreadsheet. I have no confidence in my ability to find bad actors that way.

Accidents are usability failures of the system, mostly; I consider that separate from bad actors, i.e. fraud.

Yes; [dbr_norm.py][] is (an export of) the jupyter notebook I'm using to migrate the 201801 data. In #260 , I asked whether you want or need me to migrate

[2018-02-02 17:28] dckc commented on #105
"Chinese" would make sense if it were only about translation, @BelovedAquila. But it's about events and such too. Broad future prospects, as you put it. As noted in a recent weekly debrief, @llerner is making a lot of contacts there.

To my mind, clarity of issues and broad future prospects go hand in hand; I don't see how or why to separate them.

[2018-02-02 17:58] dckc commented on #260
@lapin7 in the use case sketch above, please only check items that are done.

Sorry to confuse things by using checkboxes for design choices where I really meant something like a radio button.

[2018-02-02 18:10] lapin7 commented on #260
@dckc I thought I could tick what kind of things I would like. Sorry.
Nice overview.
Are things like a linked Range of Gsheet cells in a Gdoc possible with your system?
See [doc](https://docs.google.com/document/d/1en8ewGh88ItE-1UKMYA0wZwz5Elwch0ESfWwD_AiYoo/edit#)

For location.
In the User overview you have. How is location entered?

Login | Followers | Name | Location | Email | Permission | Cre

[2018-02-02 18:13] dckc commented on #260
Google sheets IMPORTHTML could import stuff... if we allow completely permissionless access, then it's trivial. I'd have to think harder about how to mix it with limited access.

Location is entered in your github profile.

[2018-02-02 18:32] dckc commented on #234
@pmoorman I just discovered https://www.rchain.io/purpose-and-principles/ ; have you seen that?

[2018-02-02 18:46] BelovedAquila commented on #105
@dckc alright. I now understand on a broader perspective what you are trying to pass across.

[2018-02-02 18:50] lapin7 commented on #260
Access to Gsheets/Gdocs

Permissionless "VIEW" is no problem
EDIT access must be only given to members of rchain@googlegroups.com

There's no personal data in the sheets. Only github names.

It's good that email and location is from Github profile.

The data to address info is somewhat hidden, but viewable for public eyes.

Address data is necessary for creating invoices.

There are also links to

[2018-02-02 18:56] lapin7 commented on #282
@BelovedAquila @David405
I would like to see a portugese version like hereunder
![image](https://user-images.githubusercontent.com/1913335/35749821-2b3b30ce-0853-11e8-9455-39fcfaea9e38.png)

[2018-02-02 19:04] lapin7 commented on #251
Please take a look at [this version](https://docs.google.com/document/d/1en8ewGh88ItE-1UKMYA0wZwz5Elwch0ESfWwD_AiYoo/edit#)

From Budget 201802 a range of the issue is copied into the document
From Rewards 201802 a range of the issue is copied into the document
That range can be updated and gives also a link to "Pub ...."

[2018-02-02 19:15] lapin7 commented on #278
If you're a participant, then with the next refresh of issues and
participants, you will be on the list (tomorrow)
I've learned my lesson in January. Folks destroy the gsheet with manual
entries. So I've put some restrictions.

--
Cheers,
HJ

On Fri, Feb 2, 2018 at 3:23 PM, Whisker17 <notifications@github.com> wrote:

[2018-02-02 19:22] kaka56 commented on #263
@Viraculous you are invited  to review

[2018-02-02 19:23] lapin7 commented on #271
OK for the count.
The calculation is based on English words: So 6000 x $0.20 = $1200
Budget201801 is $3000
Rewards201801 is:
3,000.00 Member
1,500.00 JieL314
750.00 Whisker17
750.00 jiyuxuan1944
0.00 Keaycee
​So Budget201802 for #271 should be $0 I think and no more rewards spend on
this issue.

Please tell me what you think​

--
Cheers,
HJ

On Fri, Feb 2, 2018 at 4:23 PM, JieL314 <notifications@g

[2018-02-02 19:28] lapin7 commented on #279
A cell calcs M> to Marketing
And it's used for bookaccounting purpose

--
Cheers,
HJ

On Fri, Feb 2, 2018 at 6:11 PM, Dan Connolly <notifications@github.com>
wrote:

[2018-02-02 19:30] dckc commented on #260
OK, that answers one of my design questions... you do want to go ahead and decentralize invoice preparation. Here's a design sketch:

## Use case: Charlene prepares her own invoice

  - [ ] From the user page for Charlene, she follows an "invoices" link and adds one for the current pay period
  - [ ] System fills in most of the [Critical data needed by Accounting](https://github.com/rchain/contrac

[2018-02-02 19:32] dckc commented on #260
@lapin7 writes:

The current design, as noted above, is:

I hope that's close enough. Integrating with google groups would complicate matters significantly.

[2018-02-02 19:37] lapin7 commented on #260
Well Gents,

This issue was intentionally completely different. It was just meant to get some help with the production of prepared invoices. Basically a lot of clicks in a spreadsheet.
Any way I will create a new issue just for that specific goal, because I don't want to disturb this useful thread.

[2018-02-02 20:05] wordsandstuff commented on #282
@BelovedAquila is Portuguese your native language ?

[2018-02-02 20:07] eedsilva commented on #282
Native portuguese speaker here. Let me know if I can help.

[2018-02-02 20:11] dckc commented on #105
For reference... I asked a few times: why add the M> prefix? Is there some automated process that consumes it?

@lapin7 replied [Feb 2][]:

The convention dates back as far as [Dec 8][]. I thought it had been subsumed by github labels, but apparently not.

[Feb 2]: https://github.com/rchain/Members/issues/279#issuecomment-362682280
[Dec 8]: https://github.com/rchain/Members/issues/165#issuecomment

[2018-02-02 20:24] wordsandstuff commented on #265
@ICA3DaR5  What application is that you are using for live srt edits?

[2018-02-02 20:31] dckc commented on #267
@lapin7 we seem to have a critical mass of support for RAM. On Weds Feb 7, the proposal will have been out for a full week. At that point, if noone has made strong arguments against, would you please make it so?

[2018-02-02 21:15] David405 commented on #280
@dckc, a .srt file is a subtitle file. When you download a video file, you can also download a .srt file in your language of choice(if available) and save both in the same folder and same name. This enables you get the written translation of any video in your chosen language

[2018-02-02 21:17] David405 commented on #280
In the case of this issue, a Portuguese member can follow up with the meeting with ease. I hope this is helpful

[2018-02-02 21:37] lapin7 commented on #105
We can skip the M> again and stick to labels.
It's standard functionality and it gives us back 3 chars from the title.
Can you add the first label of an issue to the output of the script?

--
Cheers,
HJ

On Fri, Feb 2, 2018 at 9:11 PM, Dan Connolly <notifications@github.com>
wrote:

[2018-02-02 21:48] lapin7 commented on #267
@dckc So without strong objections appearing, I will change the name of this Sub Repository from Members to RAM on Feb 9 (my birthday).
And the Google Drive: RChain/Members wil also become RAM
And further more all words like activists and so have to changed to RAM
As for the bounties: I would call KRAM (Kiss RChain Active Member) and in fact in Swedish this corresponds to a kiss or a hug. :-)

[2018-02-02 22:17] lapin7 commented on #282
See first comment. Change of Document to work on.

Status:	DRAFT (RAM's edit this to FINAL when done)
Language:	FRENCH
Integration done with:	@entropee work YES/NO
Doc link:	[/RChain/Members/Marketing-Community Dev/YouTube](https://docs.google.com/document/d/1t4M7SJ_JAypxzPMl39CUIXQGG8WMIhVsOgWANCtw780/edit#heading=h.c22lt3pgxzd3)
Participation:	Pub ...

[2018-02-02 22:38] Tonyprisca13 opened #283 "M> Dutch Version of Lerner & Nash Foster interview transcript"
Goal: a [DUTCH.srt file](https://docs.google.com/document/d/105HIluXMni6iLST2fX2KLe7CVUULpN0Ct2USzqiqkIQ/edit)
stored in /RChain/Members/Marketing-Community Dev/YouTube
with a translated transcript in Dutch
Time: 3 week
Budget: $5000

[2018-02-02 23:10] eedsilva commented on #282
I can definitely help with it, I just need access to the file

[2018-02-02 23:18] pmoorman commented on #238
@MParlikar does that mean we'd have to wait till much later in 2018 (or even 2019) to validate whether we are not all hallucinating about how hard/easy it will be to convince developers to switch to functional programming / Rholang (especially when they come from something like Solidity)?

Can we do anything to see if we could...

1. ...get other functional programming communities enthusiastic abo

[2018-02-02 23:43] Viraculous commented on #261
Exactly@ Dckc. Suggesting some thing like "RChain Nursery" where principal values are explained and confusion cleared. Like early stated, bad act could be intent or ignorance

[2018-02-03 00:09] dckc commented on #105
Yes, I can script something like that.

I would like to understand better how the information is consumed.

[2018-02-03 00:38] flowpoint commented on #266
i can review and check, i'm a nativly speaking german. beforehand, i need the collaborator role

[2018-02-03 02:50] BelovedAquila commented on #282
@wordsandstuff No it's not, working on it with natives.
@David405 and @eedsilva you can start up with the reviews.

[2018-02-03 02:52] eedsilva commented on #282
@BelovedAquila Could you give me access to the files?

[2018-02-03 02:55] BelovedAquila commented on #282
@eedsilva become a collaborator, so I could assign you into collaborating on this issue. You can do that by sending collaboration request email to @lapin7 via lapin7@gmail.com.

[2018-02-03 03:37] JieL314 commented on #271
I'm sorry to make you angry.
I've clear the Budget201802 for issue#271.
The translation work is not rely on addition and splicing of words. We use idioms to make sentences easier to understand. And scripts do not translate well, and typesetting is no exception
English words are only as a reference, There are about 10k Chinese words.
Compare to issue#278, $400 for translation and other related work

[2018-02-03 04:34] Tonyprisca13 commented on #283
there is d link for Dutch translation: https://docs.google.com/document/d/105HIluXMni6iLST2fX2KLe7CVUULpN0Ct2USzqiqkIQ/edit?usp=drivesdk&ouid=114592096168227623218

[2018-02-03 04:53] BelovedAquila commented on #282
@eedsilva do you happen to be in discord or telegram so we could collaborate?

[2018-02-03 05:00] BelovedAquila commented on #266
@flowpoint alright. To become a collaborator you need send a collaboration request to @lapin7 via lapin7@gmail.com. Cheers!

[2018-02-03 05:42] zsluedem commented on #264
@Whisker17  and I have reviewed each others' transcript already.
 It's done now.@lapin7 . feel free to upload the transcript now

[2018-02-03 05:44] zsluedem commented on #251
@Whisker17  and I have finish translating the transcript to Mandarin and we have reviewed each others' work already.
@lapin7 @Mervyn853 feel free to upload the transcript.

[2018-02-03 06:21] BelovedAquila commented on #283
@Tonyprisca13 there is a need to work on your first comment, the links doesn't link.

[2018-02-03 06:43] pmoorman commented on #259
@dckc I think the idea of a game is great. The main concern I have is: _"is this the best way to spend our time?"_ And then the answer would probably be: _"No, there are much bigger marketing issues to solve first."_ It doesn't fit into the 80/20-rule, if you know what I mean.

However...    (plot twist!)

I still see a great use-cases for this game. The thing I like best about this draft is that

[2018-02-03 09:03] pmoorman commented on #234
@dckc Hm, interesting. Based on that, I've doodled a little on a document to help new members better understand what we're all about. Could be "purpose & principles" but from the RChain **Coop** perspective, rather than Holdings.

Love to hear your thoughts =>

https://docs.google.com/document/d/1rfpwP3PBVx429ulwxl0ZgalVknV4KIf5sWTdGBXltJQ/edit?usp=sharing

_P.S. this should maybe be escalated int

[2018-02-03 09:22] pmoorman opened #284 "Q> Establish norms for financial reward for comments"
### Outline
I think we need to have a discussion about how we — as a group — value comments on Github. In the last month many people spoke about about this, in various ways. For instance:

@dckc wrote in #261:

@viraculous said in the same issue:

@AbnerZheng writes in #246:

To which @BelovedAquila responded:

Besides this, countless other frustrated discussions can be found.

### Goal
We should

[2018-02-03 09:33] pmoorman commented on #284
### My personal take on this...

Personally, I think too much weight is currently put on comments. This incentivises everyone to just "chip in their 2 cents" which is often well-intended but not necessarily helpful.

The standard should be:

    **Comments are worthless unless they comprise delivered work**

Or something similar to that.

### Why?

The reason for this, is that **doing the primary

[2018-02-03 10:47] kaka56 opened #285 "M> Russian Version of Lerner & Nash Foster interview transcript"
Goal: a .[srt file](https://docs.google.com/document/d/1yQNO3ihaBBy0bo1xC0mkTuyVWslM0kKIeXwGdWYmBqE/edit?usp=sharing)
stored in [ /RChain/Members/Marketing-Community Dev/YouTube](https://drive.google.com/drive/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii)
with a translated transcript in RUSSIAN of the file
[[TRANSCRIPT][.srt][English] "Rchain Exclusive chat Lawrence Lerner & Nash Foster"](https://doc

[2018-02-03 11:09] kaka56 commented on #251
@lapin7 i think another key language that should be listed in the translation should be Russian ,i have a close friend that can assist me while i work on the transcript.

[2018-02-03 12:30] kaka56 commented on #272
@lapin7 your third comment is about Spanish. please change that.

[2018-02-03 13:40] ICA3DaR5 opened #286 "M> Translate README.md to Greek"
**Completed:** 100%

**Tasks:**
- [x] Create the file [README_GR.md](https://github.com/rchain/bounties/blob/master/README/README_GR.md)
- [x] Translate the content
- [x] Check the spelling
- [x] Review each other's work
- [x] Have it reviewed by others with knowledge of English and Greek

**Collaborators Work:**
- @ICA3DaR5: 50%
- @zero-andreou: 25%
- @thiefinshadows: 25%

**Suggested Budget:** $

[2018-02-03 14:06] zsluedem commented on #284
At first I don't know too much about reward thing so I put comments everywhere(It's not because I want the reward, but I just want to get involved with the issue I am interested~!

Back here, I think for the "Advice type" issue , we should reward the one who give the advice we take.Sometimes we take two or three persons's advice ,then we vote for the percentage of the reward.
For the "Need to Do "

[2018-02-03 14:09] kaka56 commented on #284
@pmoorman am glad such issue is been brought up and i agree with you this

**For me** I think there should be some percentage of rewards for helpful comments ,and it should be within "10-15% of budget'' space just as you said.

## why:
**.** comments add value to the work that is been done.
### how: some one with a better understanding,or idea of the issue can make a helpful comment that will impr

[2018-02-03 14:36] ICA3DaR5 opened #287 "M> Translate style_guide_assets/README.md to Greek"
**Completed:** 100%

**Tasks:**
- [x] Create the file [README_GR.md](https://github.com/rchain/Members/blob/master/style_guide_assets/README_GR.md)
- [x] Translate the content
- [x] Check the spelling
- [x] Review each other's work
- [x] Have it reviewed by others with knowledge of English and Greek

**Collaborators Work:**
- @ICA3DaR5: 100%
- @zero-andreou: 0%
- @thiefinshadows: 0%

**Suggested B

[2018-02-03 14:50] ICA3DaR5 opened #288 "M> Translate style_guide_assets/presentations/README.md to Greek"
**Completed:** 100%

**Tasks:**
- [x] Create the file [README_GR.md](https://github.com/rchain/Members/blob/master/style_guide_assets/presentations/README_GR.md)
- [x] Translate the content
- [x] Check the spelling
- [x] Review each other's work
- [x] Have it reviewed by others with knowledge of English and Greek

**Collaborators Work:**
- @ICA3DaR5: 100%
- @zero-andreou: 0%
- @thiefinshadows: 0%

[2018-02-03 15:36] pythonical commented on #284
maybe 'comments' is too broad and should have categories that are weighted
as to the nature of them?

On Sat, Feb 3, 2018 at 8:09 AM, kaka56 <notifications@github.com> wrote:

[2018-02-03 15:38] lapin7 commented on #283
The doc has been translated with google translate.
Er klopt geen bal van!!! Zet er maar een andere vertaler op. Dit wordt niks.

[2018-02-03 15:41] lapin7 commented on #251
@kaka56 If you think it's useful for RChain, go ahead. Don't ask me. ;-)

[2018-02-03 15:41] lapin7 commented on #251
@Mervyn853 could you take care of all the uploads, because you know BlockchainBrad

[2018-02-03 15:48] Mervyn853 commented on #251
Sure @lapin7 which are the ones that are completed and ready for upload?

[2018-02-03 15:53] Tonyprisca13 commented on #283
@lapin7  am working with pmoorman on review of the doc.

[2018-02-03 16:35] niwaa commented on #272
@truffard great you want to do 800-1000 too? So it will be 50%. I should be done with 500-800 today or tomorrow.

[2018-02-03 16:48] truffard commented on #272
@niwaa  ill start from 802

[2018-02-03 17:07] ICA3DaR5 commented on #265
@wordsandstuff We are using [Gaupol](https://otsaloma.io/gaupol/)

[2018-02-03 17:09] BelovedAquila commented on #284
**Comments are vital**
some comments are boosters,
 some are idea creators,
some are insightful,
Some are problem solving,
some are helpful and
_**some!_ Are

So measures need be created as regards to each comments to know where it falls and how it would or should be rewarded.
Though I count every participation useful

[2018-02-03 17:31] zero-andreou commented on #265
@lapin7 I've joined.

[2018-02-03 17:51] lapin7 commented on #251
@Mervyn853 Please find the completed ones your self. ;-)
It's up to you :-)

[2018-02-03 19:51] dckc commented on #284
Comments are neither worthless nor vital.

Getting feedback on work is valuable, but work can get done with no comments.

The point about hours vs. minutes is perhaps the most relevant. A comment that represents hours of review or years of experience is perhaps something I would vote to reward financially, but in other cases I expect collaboration is its own reward.

[2018-02-03 20:17] truffard commented on #272
@niwaa that's it we're even.. It's your turn to play.

[2018-02-03 21:00] eedsilva commented on #282
@BelovedAquila I am in discord. I am "Ed Silva"

[2018-02-03 21:24] jimscarver commented on #279
This came up in the BYOID identity meeting today with Ed.  We prototypes a use case on ethereum that recorded proofs of claims verified by rchain. This stalled with changing users stories and indecision in verifiable claims format and lack of people interested in attending the work study.

It was basically as follows.
1. userid created containing hash of original application data plus random strin

[2018-02-03 21:26] Viraculous commented on #284
Am truly impressed about this issue. Many school of thought about comment valuation, hope we arrive at a consensus. I agree with @dckc "comments are neither worthless or vital". I think that worth of comments can be estimated from a normative view that is comments valued through a proportional voting system by participants, based on perceived value of a comment in getting work done with a statutor

[2018-02-03 21:31] flowpoint commented on #284
imo, until we have to get robust tracking for impact of small stuff like comments, question answering, fixing minor errata, ..., first,
we could say, everyone has to donate x< amount, every y, distributed to z< people he found helpful, and track that

[2018-02-03 23:57] flowpoint commented on #215
@entropee i got german subtitles for rchain vision, https://www.youtube.com/watch?v=JyI9XvObRCc

[2018-02-04 00:38] ICA3DaR5 commented on #286
I think this has been completed.

[2018-02-04 00:38] ICA3DaR5 commented on #287
This has been completed as well.

[2018-02-04 00:39] ICA3DaR5 commented on #288
This has been completed too!

[2018-02-04 00:41] ICA3DaR5 commented on #215
I could do subtitles for this video in Greek.

[2018-02-04 04:12] dckc commented on #279
@jimscarver I recognize some of those words as English, but I don't understand well enough to see how it connects to my PHP app. Care to explain a bit more thoroughly?

[2018-02-04 04:15] dckc commented on #284
@Viraculous writes

Careful! That's likely to move us out of the frying pan of frivolous comments and into the fire of frivolous issues.

It hardly takes hours to raise an issue. Work worth rewarding financially takes hours, usually.

[2018-02-04 04:28] dckc commented on #220
@TrenchFloat , Gary Coulter dropped this pointer in discord; RChain, Pyrofex and Mike Stay are mentioed in the article.

https://johncarlosbaez.wordpress.com/2018/01/22/statebox-a-universal-language-of-distributed-systems/

[2018-02-04 05:04] dckc commented on #234
Nifty writing. One of my favorite parts is:

I can think of a few times people wrote "Here I am. Please tell me what to do." where it would have been useful to respond by citing that.

I think what you wrote is even more narrow than coop purpose and principles; it looks more like RAM purpose and principles. I'd like to see it merged/meshed with CONTRIBUTING and/or README.

CONTRIBUTING has gotten

[2018-02-04 05:29] Viraculous commented on #284
@dckc I get your point but I was just citing example. The percentage could be far less than 20% maybe  5% or less to be fair. They could be checks to reward on issue raised. The issue can be ranked in other of perceived relevance maybe rewarded according within a statutory range 1-5%. 95% now goes for redistribution.

[2018-02-04 05:39] dckc commented on #284
I was just about to change the title of this issue to "Establish norms for financial reward for comments" but the description says:

_throws up hands in frustration_

The goal stated one paragraph period is "We should define a standard for how much weight (in terms of rewards) comments should carry." Our standard is CONTRIBUTING.md, no? The goal is reached when that document is edited to reflect t

[2018-02-04 07:54] niwaa commented on #272
@truffard great thank you I should be done by the end of the weekend.

[2018-02-04 08:00] jiyuxuan1944 commented on #276
After a dozen attempts, we found that it is not yet possible to set up an encyclopedia for Rchain, as encyclopedia websites in China need enough references (reports from mainstream Chinese media), but Rchain has not yet been reported by the mainstream media and can not be approved. So we turn off this problem. Hope Rchain can be covered by mainstream Chinese media in the future！

[2018-02-04 08:00] #276 closed

[2018-02-04 08:19] zsluedem opened #289 "M > Upload Youtube video to China online video website"
Because of GFW in China , people in China is difficult to watch the video on Youtube.So I have create accounts in China video website to upload the videos on Youtube.

I have remaked the [video Exclusive chat Lawrence Lerner & Nash Foster](https://www.youtube.com/watch?v=PwuV7ryhaXw&t=2388s)video based on #251 #264 with the Chinese subtitle by a video software and upload it to Chinese main video w

[2018-02-04 08:24] zsluedem commented on #289
Yeah~! I have remake [RChain Vision video](https://www.youtube.com/watch?v=Qftq9S34xgg) with the Chinese subtitle based on @Mervyn853 translations, too. I think it is a good introduction video for Rchain.

[2018-02-04 09:00] kitblake commented on #192
https://app.radarrelay.com/ZRX/WETH (beta, requires Metamask)

[2018-02-04 09:02] kitblake commented on #192
https://app.radarrelay.com/RHOC/WETH (beta, requires Metamask)

[2018-02-04 09:51] Mervyn853 commented on #289
Wow great work @zsluedem , im glad my chinese translations of the RChain vision transcript #215  is finally put to good use. @sportshark Could we get these videos on the Chinese fan site?  #173

[2018-02-04 09:53] Mervyn853 commented on #289
@zsluedem If its possible, you could find a few native mandarin speakers who could do this in Chinese voiceover which will be better for the general Chinese population to understand. Also agree on getting them on youku and 171 for greater exposure due to the great firewall of china.

[2018-02-04 10:01] dcpnlau opened #290 "O> 20180207 RChain Active Members Meeting"
- [ ] Prepare report for Greg's Debrief (2018-02-07)
- [x] Prepare RAM meeting agenda - would like to keep it to five discussion points so we have time to cover in enough detail
- [x] Re-cap on and status of action points
- [ ] @n10n to confirm he's available for a more comprehensive update on the KYC and validation process - continued from last week's meeting
- [x] Any key discussion points anyon

[2018-02-04 10:19] dcpnlau commented on #283
I'm happy to help here and can divide and conquer with whoever is working on this already. If someone can let me know the latest status and send through the doc, I can spend a few hours this week.

[2018-02-04 13:06] jimscarver commented on #279
I don't know what php script you are referring to @dckc
Sorry for thew confusion. I was recounting the progress and status of a related effort #16 which I should have mentioned developing [MemberIdentity.sol](https://github.com/rchain/Members/blob/master/membership/contracts/MemberIdentity.sol) which associated an eth address with members.
Proof of membership is one instance of a verifiable claim

[2018-02-04 13:10] Mervyn853 opened #291 "M> Getting 1500 Telegram subscribers for Official RChain Coop Telegram"
**M> Indicates that this is a project within the "Marketing" category**

# Measure of Completion:  1500 Telegram Members in the RChain Official Telegram Chat Group: @rchain_coop Telegram Chat Invite Link: https://t.me/rchain_coop

## Suggested Budget: $7,500

=======================================================

Referencing this issue from #115 and the suggestions made by @dckc @pmoorman @patri

[2018-02-04 13:14] Mervyn853 commented on #225
I'd suggest adding a member number goal for all telegram related issues like #225 which currently only has 13 members. This will prevent unnecessary spending of budgets for issues that do not produce results.

Though, I would be alert for potential exploits where bots/members are added to boost the numbers and produce the results. I have added the combot to both of these telegram chats to monitor

[2018-02-04 13:19] jimscarver commented on #279
Okay, I see I failed to read the issue fully and missed #254 and the auth issue @dckc

We have two logins, the member site and discord for each member.  You can use Oauth2 to ise discord as an identity provider and insure they are members there. @drbloom may know about using the member site login as an identity provider.

Is there a reason for the user to use ethereum in your script?

[2018-02-04 13:41] jimscarver commented on #254
Welcome @makys (Amaka)!
Here is the video from yesterday's meeting https://youtu.be/xG81K3JbsEM
@edeykholt joined at 42:20. He suggested an identity channel be created in discord. @drbloom ?

[2018-02-04 13:43] dckc commented on #291
Thanks for stating a more precise goal.

At an hourly rate that I have seen suggested for RAM work, that suggested budget is an estimate of 250hrs; i.e. **6 full time 40hr work weeks** or **31 full 8 hour work days**. Issues that take longer than a month fit awkwardly into our budget / reward system, not to mention all the usual challenges with large tasks. Would you please either reduce the budge

[2018-02-04 13:51] Mervyn853 commented on #291
It took us around 2 months to reach the 500 member mark at Christmas 2017. And another 1.5 months to add another 500 by Feb. Judging by that rate, I have reduced the budget to accommodate a goal that is more attainable within a month's time frame and have adjusted the budget and scope.

[2018-02-04 14:10] Mervyn853 commented on #291
To add to your point on reports from moderators, I think we could come up with a weekly update in the comments on this issue. My efforts are currently focused on running outreach for the Coop and getting interviews with the well known crypto influencers like i did to secure the interview for Blockchain Brad #251 and have a few other influencers lined up.

I realised that the video drove alot of at

[2018-02-04 14:13] Whisker17 commented on #289
cool，we can do it together

[2018-02-04 14:22] Mervyn853 commented on #215
优酷Youku: [RChain Vision video](http://v.youku.com/v_show/id_XMzM3ODQwNzA2MA==.html?spm=a2hzp.8244740.0.0)
Bilibili: [Rchain Vision video](https://www.bilibili.com/video/av19129141/)
爱奇艺 Iqiyi : [Rchain Vision video](http://www.iqiyi.com/w_19rw2nnjx1.html)

Done by @zsluedem as cited here : https://github.com/rchain/Members/issues/289#issuecomment-362889679

[2018-02-04 14:24] patrick727 commented on #219
3 Github votes never was the decision making force for these types of activities.
3 Github votes was for you to choose a budget for an issue you made.

This is suppose to be the choice of the driver.
This issue, along with others like logo, etc are a place to organize feedback.

[2018-02-04 14:36] 9rb commented on #254
Adding Privacy to the title is a good add.  Yes,we're looking into privacy also, not only because we philosophically support it, it is also a legal requirement in Eu.  RChain has to meet that requirement since some of our membership is in Eu.

[2018-02-04 15:18] dckc commented on #279
Thanks for confirming that discord does OAuth2. That's a pragmatic short-term solution.

But yes, there's a reason to use ethereum or RChain: discord is part of the [Social Media Strangle Hold](https://github.com/rchain/Members/wiki/Social-Media-Strangle-Hold):

[2018-02-04 15:42] Ojimadu commented on #291
@dckc Am not clear at what rate you made your calculations above. From my deduction it comes down to $24/hr[6000/250] (is this correct?).
Moderating channels like this goes beyond 2 hrs per day as there is always something to be done round the clock. Lately the number of spammers on both the reddit and telegram channels are increasing which would require moderators to be more vigilant. I don't wan

[2018-02-04 15:51] dckc commented on #253
At work, we add a ticket (issue) to our system each time we on-board a new staff member; we use it to track stuff like required training, granting accounts and such. Ideally, the title has both the name and their role: "On-board Bob for HERON software development" or "On-board Claire, an Honest Broker". The role helps justify the accounts and such that get created.

e.g. the [Dec 26 interview][1]

[2018-02-04 15:56] BelovedAquila commented on #266
@lapin7  the German transcript has been worked on and it has been uploaded (stored).

[2018-02-04 16:19] Ojimadu commented on #280
@David405 Can you help remove my name? As am yet to sign up for this.

[2018-02-04 16:22] David405 commented on #291
@Mervyn853 i would like to be clarified on this issue, is it open to all collaborators or just moderators of various channels? I believe if everyone is given a chance at this, then it wont be so much a difficult task to achieve. One of the most effective techniques for increasing number of users of any platform is the referral system, if there are more hands working on new members I think that wil

[2018-02-04 17:52] 9rb commented on #189
Apparently there is a new monopoly game published by that has no Banker and allows cheating -- seems like a crypto game.

[2018-02-04 18:05] ICA3DaR5 commented on #251
The English transcript has many mistakes IMO. I am correcting stuff right now. Will post once I finish.

commas. full-stop's, grammar mistakes are being fixed while watching the video. I am doing this to help with my translation to Greek #265 and the rest of the translations.

[2018-02-04 18:22] ICA3DaR5 opened #292 "M> Fix the English (Original) Transcript Mistakes of "Rchain Exclusive chat Lawrence Lerner & Nash Foster""
The original, English transcript has many mistakes that need fixing.

**Completed:** 100%
- [x] Download the video
- [x] Download the English (original) transcript.
- [x] Fix the following issues:
- - [x] Grammar
- - [x] Spelling
- - [x] Syntax
- - [x] Remove redundant words
- - [x] Add specialized words
- [x] Review each other's work
- [x] View video with the English transcript and review
- [x] U

[2018-02-04 18:26] BelovedAquila commented on #251
@ICA3DaR5 you are right, saw lots of errors while working on a language transcript on it, just had to make the corrections on the transcript am working on. The English transcript used wasn't well reviewed, would also see to reviewing it depending. Good you are working on it.

[2018-02-04 18:29] ICA3DaR5 commented on #251
The link to the English transcript is wrong: https://docs.google.com/document/d/1oTZVkYEhhnZtyU4DmNiiT3N39R0IVpHI92vP8kaltFs/edit

Takes me to the German file.

[2018-02-04 18:43] ICA3DaR5 commented on #251
Created the issue #292 working on it for the past 8 hours. I'll probably finish it in 8 hours. :)

[2018-02-04 19:22] BelovedAquila commented on #287
@ICA3DaR5 I don't know if you observed this issue  #288 is duplicated? Or should there be a reason for that which we don't understand?

[2018-02-04 19:23] dckc commented on #291
@Ojimadu writes:

Thanks; that's the sort of information I would like to see channel moderators report from time to time.

I would appreciate pointers to some examples, if not a rough count that shows the increase.

OK, how many solid billable hours per day would you estimate? Surely you don't mean to claim that moderators spend 24hrs/day.

$40/hr is the rate @lapin7 suggested (e.g. in a message o

[2018-02-04 19:25] dckc commented on #291
By way of example, to justify a 4 figure budget on #185, I prepared a [detailed work history][1].

[1]: https://github.com/rchain/Members/issues/185#issuecomment-360983331

[2018-02-04 19:34] BelovedAquila commented on #282
@lapin7 please I  can't  access the transcript file anymore, been having some ups and down with my system while working on this issue, things got mixed up, so I want to make a fresh concise transcript and need access it.

[2018-02-04 19:36] dckc commented on #189
@patrick727 I suggest this issue is overtaken by https://www.rchain.coop/events and a discussion document available in the [#governance-forum][gf] channel. Please edit the description to say so and close this (or let me know it's OK for me to do so.)

[gf]: https://discordapp.com/channels/375365542359465989/393462637100400650

[2018-02-04 19:46] dckc opened #293 "on-board @dckc, advocate of open web, open source, and capability security"
As [suggested in 253][1], let's retrospectively document the work folks did to get me on board. One version of the story is in [my blog item][2]. _I wonder if "welcome" is a better way to start the title than "on-board"._

brain dump: https://github.com/rchain/Members/wiki/Weekly-Debrief-Index , README and CONTRIBUTIONG ...

[1]: https://github.com/rchain/Members/issues/253#issuecomment-362917062

[2018-02-04 19:59] dckc opened #294 "onboard @pmoorman, growth marketer for early-stage tech startups"
@pmoorman suggested a marketing audit in #234; that resonates with some gaps I see, and he's clearly more qualified to address them than I am, so I'm doing what I can to show him around.

 - [x] how he got involved: "@traviagio asked me to get involved with RChain"
 - [x] filled out introduction / skills inventory (#222) 1/25/2018 10:47:52

See also on-boarding issues #15, #253

cc @traviagio, @pm

[2018-02-04 20:08] Viraculous commented on #292
please post the the original link of the English version being worked on

[2018-02-04 20:13] Viraculous commented on #269
Please check the link above, its not going,"ERROR 404" .

[2018-02-04 20:35] dckc opened #295 "welcome software developers from international community (aka onboarding)"
following up on introductions (#222) and onboarding (#15, #253)...

Welcome aboard, everybody! Some of you are productively engaged in the RAM process; for the rest of you, here's hoping!

Note that RChain has a core dev team nearby; we can and do aim to help them out, but they have different processes. See #184 and/or contact @MParlikar .

@AbnerZheng did some good work on VM primitives (#176). I

[2018-02-04 20:43] ICA3DaR5 commented on #292
I am almost done, I'll upload it as soon as I am done!

[2018-02-04 20:50] Viraculous commented on #292
OK. @ICA3DaR5.

[2018-02-04 20:56] dckc commented on #295
@patrick727 the "Developer Brain Picking Session"... do you want to share any of your notes here?

[2018-02-04 22:01] dckc commented on #253
@pmoorman writes in a [Feb 3 comment][1]:

@dckc responded:

Toward that end, I used it as the basis of [Welcome To RAM](https://github.com/rchain/Members/wiki/Welcome-To-RAM). Compare with [Welcome Visitors](http://wiki.c2.com/) in the original WikiWikiWeb,

This is a revival of my suggestion in #88 to work toward a pattern language.

still TODO:
 - [ ] cite Welcome to RAM from README
 - [ ] refa

[2018-02-04 22:07] BelovedAquila commented on #292
@ICA3DaR5 would love  collaborating with you guys on this

[2018-02-04 22:09] ICA3DaR5 commented on #292
@BelovedAquila We are almost finished. Perhaps on another issue? :)

[2018-02-04 22:32] flowpoint commented on #266
the german transcript should be revised, some spots arent quite right. i can, or should we go over it together?

[2018-02-05 00:59] Whisker17 opened #296 "Translate README.md into Chinese"
I've translated README.md into Chinese.It is about 157 words in the English,so I think the budget should be $32

[2018-02-05 01:14] pmoorman commented on #219
oke, I see what you mean.

I'm still learning about "how things work here", so to speak. Appreciate your clarification.

Anyway...  I hope the feedback helps make this decision easier, and if you need some assistance executing the change, then I guess you know who to call on.  :+1:

[2018-02-05 01:20] pmoorman commented on #253
@dckc can you elaborate on the task of _"add advice on finding a mentor"?_

What exactly do you mean with that?

[2018-02-05 01:42] pmoorman commented on #284
@dckc this whole "setting a scope" thing is a lot harder than I thought!  I've just updated the headline & description in line with your comment above.

With "execution" I was more thinking about concerns such as _"how do we make sure all (new) members see & understand this message"_.

_That_ should be, in my opinion, another thing. The goal for this discussion should be — taking Dan's suggestion

[2018-02-05 01:53] pmoorman commented on #283
@dcpnlau I spoke with @Tonyprisca13 yesterday on Discord. He can't complete this issue, because he doesn't speak Dutch.

So: _**Right now, nobody is working on this issue.**_

[2018-02-05 01:57] Tonyprisca13 commented on #283
@pmoorman am still on d issue got some Dutch friends who are will to help

[2018-02-05 02:04] Tonyprisca13 commented on #283
@dcpnlau presently working on d review of doc

[2018-02-05 02:23] ICA3DaR5 commented on #292
@BelovedAquila [Here's the file](https://gist.github.com/ICA3DaR5/857d0b884b857671c77603df809243e7)

I'll finish some minor details tomorrow.

[2018-02-05 02:24] pmoorman commented on #294
I'll write another comment later outlining the history of how I got here (similar to your own issue, @dckc). That could be helpful for modeling future onboarding.

For now, I thought it might help to outline a few things that I'm still stuck with. At this point I've been actively involved with the RAM for 2-3 weeks.

### Key confusion / friction areas:

1. **How to define good scopes for projects.

[2018-02-05 03:33] yuhuanmocmoc commented on #269
@Viraculous  thank you, it's alright now，

[2018-02-05 03:34] dckc commented on #260
H J, I got a bunch done today (532b8f6 https://github.com/dckc/rchain-dbr )

  - [x] access control logic so voter = logged in user automatically
  - [x] linked locations :)
  - [x] build-your-own-invoices

For example:

  - [Invoice # 2018-01-lapin7](http://rchain-dbr.nfshost.com/rchain-bees-ants/index.php?-table=invoice_info&-action=related_records_list&-cursor=1&-skip=0&-limit=30&-mode=list&-re

[2018-02-05 04:06] dckc commented on #253
We say "Be a self-starter :: ... nobody is going to tell you what to do. " but we're not _quite_ that merciless, right? We do aim to do a little mentoring / orienting for folks that show a little initiative, right?

[2018-02-05 04:08] dckc commented on #284
Ah. I read too much into what you wrote. Thanks for clarifying.

[2018-02-05 04:37] cenyuhai commented on #192
Huobi.pro will open a new exchange called HADAX. Huobi is very popular in China. Should we submit a request?
We can submit request in this url: https://docs.google.com/forms/d/1Cxn6kM3tJIOty0jBU0XbzmY9doxVHi4zVvTB4b8l8Hs/viewform?edit_requested=true
If we win in the vote, we can listed rhoc in HADAX.

[2018-02-05 04:41] dckc commented on #294
In reverse order, i.e. most useful to least useful answers:

In your case: get in touch with @kennyrowe . He's busy, so be patient and persistent.

I'm not sure this advice generalizes... perhaps it does: make time to talk with people that have been around for a while.

That one we should be able to deal with in 5 to 7 wiki topics:
   - [ ] Greg Meredith
   - [x] [RChain](https://github.com/rchain

[2018-02-05 05:19] Tonyprisca13 commented on #283
@dcpnlau  almost done. i will send you the file to review and edit where neccessary.

[2018-02-05 06:33] dcpnlau commented on #283
OK thanks. I'll see if I can make some time to make a start on this.

On Mon, Feb 5, 2018 at 12:53 PM, pmoorman <notifications@github.com> wrote:

[2018-02-05 06:43] BelovedAquila commented on #266
@flowpoint alright, go ahead.

[2018-02-05 06:57] dcpnlau commented on #283
Alright sounds good. Sorry - only saw the other messages now.

Sent on the go

[2018-02-05 10:27] BelovedAquila commented on #292
@ICA3DaR5 I see you have done a good work on it but I can still review it, I sited some few things needing corrections, if you don't mind?

[2018-02-05 10:56] peetklasen commented on #283
I have some time too, to contribute. Is it something we can do together @dcpnlau ?

[2018-02-05 11:16] flowpoint commented on #266
im on discord as flowpoint, havent found you

[2018-02-05 11:28] kitblake commented on #192
@cenyuhai I looked at the form and I think yes, but I don't read Chinese, so let's ping @Mervyn853

[2018-02-05 12:51] JieL314 commented on #295
I am a people who can only compile some simple programs with c++ or python, but I have a great passion for the blockchain.
Can I engage in software development or testing？

[2018-02-05 13:10] ICA3DaR5 commented on #292
@BelovedAquila Sure.

[2018-02-05 13:11] ICA3DaR5 commented on #292
@Tonyprisca13 I see you self-assigned this. Why is that?

[2018-02-05 13:12] BelovedAquila commented on #266
Alright, would find you friend. @flowpoint

[2018-02-05 13:54] David405 opened #297 "Rholang Documentation for upcoming Rholang Developers"
TASKS
-Create a comprehensive PDF document for Rholang I.e A cookbook or step by step process which will consists of downloading, installation of SDK,  syntax, building Rholang Applications.
- Upload a simple demo Rholang App on github.
- Upload video tutorials covering the above tasks to our YouTube channel.

STATEMENT OF PROBLEM
There are no sufficient documentation and tutorials on Rholang for

[2018-02-05 13:55] David405 opened #298 "Rholang Documentation for upcoming Rholang Developers"
TASKS

- [ ] Create a comprehensive PDF document for Rholang I.e A cookbook or step by step process which will consists of downloading, installation of SDK,  syntax, building Rholang Applications.

- [ ]  Upload a simple demo Rholang App on github.

- [ ] Upload video tutorials covering the above tasks to our YouTube channel.

STATEMENT OF PROBLEM
There are no sufficient documentation and tutorial

[2018-02-05 13:58] David405 commented on #298
In this I will make reference to @dckc #295
And would love to know your take on this issue @laplin @dckc @belovedAquila @pmoorman and everyone else I failed to mention

[2018-02-05 14:24] BelovedAquila commented on #292
@ICA3DaR5 send me an access link friend.

[2018-02-05 14:25] #297 closed

[2018-02-05 14:26] flowpoint commented on #260
this may be useless, or a comment worth alot, but have you looked at http://elm-lang.org/ for webapps?

[2018-02-05 15:17] ICA3DaR5 commented on #292
@BelovedAquila I've put it on a GitHub Gist for the moment. https://gist.github.com/ICA3DaR5/857d0b884b857671c77603df809243e7

Me, @thiefinshadows and @zero-andreou are working on this. It's almost ready. Be a little patient. We are working on this all night and day.

[2018-02-05 15:22] ICA3DaR5 opened #299 "M> Translate Rchain/reference/faq.md to Greek"
**Completed:** 100%

**Tasks:**
- [x] Create the file [faq_gr.md](https://github.com/ICA3DaR5/reference/blob/patch-1/faq_gr.md)
- [x] Translate the content
- [x] Check the spelling
- [x] Review each other's work
- [x] Have it reviewed by others with knowledge of English and Greek
- [x] Create a [Pull Request](https://github.com/rchain/reference/pull/42)

**Collaborators Work:**
- @ICA3DaR5: 40%
-

[2018-02-05 15:34] zsluedem commented on #295
That's really inspiring for me . I am kind of flattered, actually.

[2018-02-05 15:44] Tonyprisca13 commented on #292
can I collaborate with u

[2018-02-05 15:51] ICA3DaR5 commented on #292
@Tonyprisca13 We're almost finished and we're doing this by watching the video and fixing the transcript at the same time.

[2018-02-05 15:53] BelovedAquila commented on #292
@ICA3DaR5 alright friend.

[2018-02-05 16:16] BelovedAquila commented on #290
@dcpnlau what about a discussion on the allocation of budgets  using  issue #284 as a pointer on what needs to be addressed

[2018-02-05 16:20] BelovedAquila commented on #290
@dcpnlau what about a discussion on the allocation of budgets  using  issue #284 as a pointer of what needs to be addressed

[2018-02-05 16:51] patrick727 commented on #219
thanks @pmoorman
there had been a choice for newsletters and email communication moving forward.
dm me and we can talk more about it

[2018-02-05 17:15] patrick727 commented on #234
My 2 Cents

So the high level stuff is and has been in consideration for a long time.
Your unique perspective on it is very much appreciated

The more research you do the more you'll see on branding, content, with the primary focus on developer advocacy. Including branding docs, website mockups, content sheets/calendars, etc.

My attempt was to do it as much with the community as possible, still w

[2018-02-05 17:25] patrick727 commented on #282
Analytics shows 889 brazilian unique from past 3 months
11 hit the developer site.

[2018-02-05 17:31] truffard commented on #272
@niwaa are you ok?

[2018-02-05 18:26] kitblake commented on #293
+1 for 'Welcome'

[2018-02-05 18:28] flowpoint opened #300 "Discuss Bug Bounties"
## target
decide on concise list of executable, bug hunts with defined timeframe
## why?
find possible dangers in our processes
## what? decide:
### what targets; example:
- code
- communication channels
- ...

### height of bounty, example:
someone found way to break one of our projects: 300,
or smaller exploits, even like some doc has wrong access rights: 30
### timeframe; example:
bug hunt 1 wi

[2018-02-05 18:39] kitblake commented on #291
@Mervyn853 @Ojimadu If we collect the social numbers weekly (or monthly) on Wednesdays, @dcpnlau can include the numbers and any short updates in her briefing of Activist activity during the weekly Debrief. Moderators will have to collect the data and get it to her in advance. It would be good to archive the reports in a log as @dckc has suggested.

[2018-02-05 18:50] kitblake commented on #287
@ICA3DaR5 We don't know yet if everything in style_guide_assets will go into production. Before doing any more translating let's wait on movement.

[2018-02-05 18:53] niwaa commented on #272
@truffard yes something came up but I will be done today for sure. I just have 202 lines left now. Then I will review your section and you can do the same for me!

[2018-02-05 19:06] truffard commented on #252
https://www.youtube.com/watch?v=viubRlqm634

[2018-02-05 19:55] kitblake commented on #296
Looks good! But I can't read Chinese. The translation needs to be peer reviewed by other native speakers. @sportshark translated the FAQ, maybe he or other Chinese speakers could review.

[2018-02-05 20:47] aviationhacker commented on #108
Hey guys, FYI @jimscarver and I investigated why global name was popping up during a search rather than the current display name of a domain. We've fixed the issue now by adding a mapping for display names and using that instead.

[2018-02-05 21:42] dckc commented on #298
Documentation is certainly important and welcome.

It will be easier for me to evaluate this task once you share a small piece of your work. Do you have any particular app in mind for the demo?

A detail: be sure to share the documentation in source form as well as PDF so that it can be collaboratively maintained.

Also, I suggest you make an inventory of the currently available rholang documentat

[2018-02-05 21:44] dckc commented on #298
I understand why this is labelled as as **Development** and **Education** but it's not clear why label it as **Marketing** as well. I wonder what use people are making of the Marketing label. More on that in a separate issue, I suppose...

[2018-02-05 21:44] dckc commented on #298
@flowpoint I see that you have assigned yourself to this issue; would you please comment on what you plan to do?

[2018-02-05 22:04] dckc opened #301 "Review of Rholang tutorial by casual Developers"
The recent SDK 0.1 release included a [Rholang Tutorial](https://developer.rchain.coop/tutorial).

It concludes:

The 0.1 release is primarily aimed at early adopters, as Medha noted in her [Feb 2 comment][1], but it doesn't hurt for more casual developers to review the tutorial and see where its strong and weak points are.

@TrenchFloat and @JieL314 and others:

  1. As you read the document, wha

[2018-02-05 22:17] dckc commented on #295
@JieL314 one [guidelines](https://github.com/rchain/Members/wiki/Welcome-To-RAM) from @pmoorman's experience joining the community is:

That is: rather than ask "can I engage?" we advise that you go ahead and invest some of your time and see if you get rewarded.

Meanwhile, your question reminds me of something I discussed with @TrenchFloat : review of the recently release Rholang tutorial by casu

[2018-02-05 22:42] dckc commented on #260
@flowpoint wrote:

Yes; the elm functional reactive programming architecture looks wonderful. I haven't actually used it, it but I am using Bacon.js in [finquick](https://bitbucket.org/DanC/finquick).

Unfortunately, the functionality of elm or Bacon.js is a small part of [what xataface provides][1]. Basically, I [create some SQL tables][2], and I write:

[code]

and voila, xataface makes a full C

[2018-02-06 01:08] pmoorman commented on #219
@patrick727 Done, see my DM in Discord

[2018-02-06 01:11] zsluedem commented on #296
I can help review it

[2018-02-06 05:40] David405 commented on #298
@dckc I am looking at a very basic Application, one that could perform a simple function, What's your telegram or discord id? Let's collaborate on this because from your other issues I can see you are very interested in this topic

[2018-02-06 05:42] David405 commented on #298
Which one of you have used the Rholang before? @dckc @flowpoint

[2018-02-06 06:34] dckc commented on #298
I have never written a Rholang application. I'm not sure anyone has, unless you count some [example contracts][4] in development by the core dev team.

My experience with Rholang is limited to
  - [some exercises at the whiteboard][1]
  - [reviewing a tutorial][2]
  - running some examples in the compiler web ui (#185)
  - [tweaking the grammar markup in an early draft of a spec][3]

My discord id

[2018-02-06 07:46] David405 commented on #301
As a developer, I think the document isn't robust enough to properly educate developers on how to become proficient in the language, the document only describes the syntax of the language, what about installation? What about compilation? And a whole lot of other stuffs that weren't mentioned. I know a statement was made concerning aspects that weren't covered but the whole process should be hasten

[2018-02-06 08:48] niwaa commented on #272
@truffard Completely done with my part too now.

[2018-02-06 10:12] Ojimadu commented on #290
@dcpnlau Is the meeting slated for tomorrow? or on 2018-02-08?
I added a 6th point.

[2018-02-06 10:52] truffard commented on #272
@niwaa is french your mother tongue?

[2018-02-06 10:56] Ojimadu commented on #236
All issues raised here has been solved so am closing my first smart issue. Thanks everyone :)

[2018-02-06 10:57] #236 closed

[2018-02-06 13:51] Keaycee commented on #282
@BelovedAquila I still have the transcript as i'm helping out with the spanish work. We could work this together.

[2018-02-06 16:58] flowpoint commented on #298
im not very experienced in it as rholang is very new, but i plan on doing some example contracts, and later i definitely would like to writeup an approachable guide into rholang from my viewpoint, but first we should discuss on where, the possibly multiple tutorials of rholang from different perspectives, fit besides https://developer.rchain.coop/tutorial

[2018-02-06 17:37] cenyuhai commented on #295
@dckc Can you assign a task for me?

[2018-02-06 18:14] flowpoint commented on #266
i need access to the file to review it, i guess i have no googlegroups access @lapin7

[2018-02-06 19:04] ICA3DaR5 commented on #287
@kitblake Alright. No problem :)

[2018-02-06 19:28] niwaa commented on #272
@truffard Yes I am french. Why?

[2018-02-06 19:40] ICA3DaR5 commented on #287
@BelovedAquila Sure, you are right. I just thought it would be better to create an issue on a per file basis.

[2018-02-06 19:41] ICA3DaR5 commented on #251
I'll finish #292 tomorrow. Unfortunately I and one of the collaborators were very busy the past two days.

[2018-02-06 23:34] n10n commented on #296
Can anybody review this? https://github.com/rchain/reference/pull/40

[2018-02-07 00:18] dckc commented on #301
How long did you spend looking for installation and compilation instructions? Please look a bit more.

Hint: they are two links away from the tutorial.

If there two links are hard to find, please report that via gitter or open a jira ticket.

p.s. the tone of your writing suggests that you are entitled to have others address these shortcomings for you. That would not be a welcome attitude. I hope

[2018-02-07 01:08] dcpnlau commented on #291
@Mervyn853 @Ojimadu - if you have the latest numbers, can you let me know so I can mention it tomorrow during the Debrief?
It would also be good to track where traffic is coming from so we can focus our attention to the most effective traffic drivers to reach our goal.

[2018-02-07 01:21] dcpnlau commented on #290
@BelovedAquila - happy for you to give your take on this as part of the 1-min member updates up front. We can dive into this conversation at the end of the meeting if there's time left or take it to next week's agenda if there's a need from the wider members team to discuss this.

[2018-02-07 01:48] zsluedem commented on #289
Done with the upload of [RChain Developer Retreat](https://www.youtube.com/watch?v=Fs38s7nI3Uk&list=PLf2bbiic5ZjCPzin3gCSMGiBtbT8UO5o2) to [Youku](http://list.youku.com/albumlist/show/id_51501850) and [Bilibili](https://space.bilibili.com/286283912/#/)

[2018-02-07 03:27] rjl493456442 commented on #278
I'd like to review the translation

[2018-02-07 04:37] JieL314 commented on #278
@rjl493456442 That is great. The translation were upload to official RChain Wechat public account. You can leave your email address. I will send the doc to you.

[2018-02-07 04:43] rjl493456442 commented on #278
@JieL314 Why not upload the translation to the repository in markdown format? I think it is more proper.

[2018-02-07 08:24] Ojimadu commented on #291
@dcpnlau Are you on discord?

[2018-02-07 08:41] cenyuhai commented on #298
The tutorial is too simple, I don't know what I can do with Rholang...
It also make me confused.
1. This example  for Mutable state is too long.
2.There are too many Secure design patterns. 2-3 design patterns will be better.
we should have a tutorial like https://solidity.readthedocs.io/en/develop/introduction-to-smart-contracts.html

[2018-02-07 08:51] cenyuhai commented on #301
The tutorial is too simple, I don't know what I can do with Rholang...
It also make me confused.
This example  for Mutable state is too long.
There are too many Secure design patterns. 2-3 design patterns will be better.
we should have a tutorial like https://solidity.readthedocs.io/en/develop/introduction-to-smart-contracts.html

[2018-02-07 09:05] Mervyn853 commented on #291
@dcpnlau Current telegram numbers stand at 1192 members.

@patrick727 Are you running google analytics? Can we get UTM links for reddit, bitcointalk, and twitter so we can track the traffic into the telegram. Would also be great if you could tweet out the link to the official telegram group to funnel some traffic in.

[2018-02-07 10:05] BelovedAquila commented on #290
@dcpnlau alright, looking  forward to it. Thanks

[2018-02-07 12:37] David405 commented on #301
@dckc, dont misinterpret my statement. I only meant we need to work on more documentations and tutorials for will be easy to understand for developers but robust at the same time, you can see the complaint @cenyuhai is stating, I am pretty sure many other developers encounter the same problem

[2018-02-07 12:39] David405 commented on #301
I am not saying Rholang should change its pattern or structure, all I am clamouring for is more documentation

[2018-02-07 12:40] David405 commented on #301
@dckc, I sent you a pm on discord, please I will be awaiting your reply

[2018-02-07 14:13] dckc commented on #295
@cenyuhai how about [ROS-253][]? That's in the core dev team's [bounties][] list (from #176) and unclaimed. As I mentioned, @AbnerZheng completed a similar task; you can model your work after his (see [PR 121][]) and perhaps chat with him about it.

p.s. I just tried to explain that RAMs are expected to be **self-starters**. "Can you assign a task for me?" is very similar to "can I engage?" which

[2018-02-07 14:27] dckc commented on #298
Unfortunately, @cenyuhai, only a small part of the design of Rholang is complete, so what you can do with it today is not very much. It's unfortunate that the [SDK announcement blog item][1] doesn't mention this. I suggest you provide that feedback in the gitter channel linked from that blog item.

Meanwhile, Medha did explain in [her Feb 2 comment][2]. Greg and Medha have talked about it in the [

[2018-02-07 14:30] dckc commented on #298
@flowpoint writes

Note #255 is a specific issue on example contracts and points to some core team jira tickets.

[2018-02-07 14:45] dckc commented on #301
@cenyuhai which parts make you confused? What is the _very first phrase or sentence_ in the tutorial that doesn't make sense?

Thanks for the feedback on the length of the Mutable state example; I have seen discussion of Rholang language features that would allow it to be more concise. Your feedback confirms this is important to do. Here's hoping for time to check when that feature is scheduled an

[2018-02-07 14:49] dckc commented on #301
@David405 writes:

Yes, and we have #298 where we can discuss that; let's keep this issue focused on what I put in the description, please.

[2018-02-07 15:01] dckc commented on #295
@David405 and I had a good chat. He gave me a better link to [his profile](https://www.linkedin.com/in/david-asamonye-171454b0/) where I learned that he is part of the **tech startup community in Africa**.

(The profile link he gave in the introductions survey (#222) was broken somehow.)

I used part of the [architecture document](http://rchain-architecture.readthedocs.io/en/latest/) to answer one

[2018-02-07 15:12] dckc commented on #253
As I look back at this issue after doing some onboarding work (#295, #294) I wonder if we have attempted to generalize before gathering sufficient experience.

If you have spent hours onboarding people, is your experience written down and easy to find from this issue? If not, please spend a little time writing it down or organizing it from this perspective.

If you haven't spent hours onboarding o

[2018-02-07 15:34] lapin7 commented on #237
@AyAyRon-P please send your email address to ops@rchain.coop
and join
https://groups.google.com/forum/#!managemembers/rchain/join

[2018-02-07 16:07] lapin7 commented on #265
I cannot find a GREEK.srt file stored in  [/RChain/Members/Marketing-Community Dev/YouTube](https://drive.google.com/drive/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii)
And
@thiefinshadows  please join
https://groups.google.com/forum/#!managemembers/rchain/join and send your email address to ops@rchain.coop

[2018-02-07 16:16] lapin7 commented on #115
@Phistr90   please join
https://groups.google.com/forum/#!managemembers/rchain/join and send your email address to ops@rchain.coop

[2018-02-07 16:30] plantether commented on #139
@jimscarver @9rb @jhngrant @kitblake @gsj5 @Ken-dahl @patrick727 @Ojimadu,

Jim and I created a new working document for the identity ebook:

[Working copy of Identity - "Know Thyself" - identity ebook](https://docs.google.com/document/d/1VCAsWgMrWX55eRHFkE7OCsqWvaHKjJrQezWEMZxQ9vM)

It's in a new [Identity e-book folder](https://drive.google.com/open?id=1-2Uguame7UjUOaPbmK4eXK2qjSyWQnFl) in the

[2018-02-07 16:36] plantether commented on #139
Ia Amaka on github?

[2018-02-07 16:54] ValeBF commented on #153
I have this preliminary version, the file still needs to be completed and I am attentive any comments you have
[EP2 1.0.pdf](https://github.com/rchain/Members/files/1703951/EP2.1.0.pdf)

[2018-02-07 16:55] truffard commented on #272
@niwaa oui car franchement et désolé pour dire ça, ta traduction , c'est la cata.... J'ai changé beaucoup de choses mais applique toi s'il te plait.

[2018-02-07 16:56] makys commented on #139
Yep as @makys. I didn't get your email the last time.

[2018-02-07 17:00] ValeBF commented on #153
this is a proposal of style for the  Know-Yourself Ebook, I still need the content to refine or complete this.
[Know-Yourself.pdf](https://github.com/rchain/Members/files/1704007/Know-Yourself.pdf)

[2018-02-07 17:00] AyAyRon-P commented on #237
@lapin7 Email sent

[2018-02-07 17:13] ValeBF commented on #180
This is what I have so far please let me know what you think and when ever you have updated the table to complete it  I[Comparison Table.pdf]
[Comparison Table.pdf](https://github.com/rchain/Members/files/1704051/Comparison.Table.pdf)

[2018-02-07 17:18] ICA3DaR5 commented on #265
@lapin7 I am uploading it now, although it's not finished yet. I am reviewing it now.

[2018-02-07 17:21] AyAyRon-P commented on #237
Group joined!

[2018-02-07 17:26] truffard commented on #272
@niwaa can you review line 774 through to line 777? I think you missed something....

[2018-02-07 18:42] Ojimadu commented on #290
RChain Active Members Meeting
https://zoom.us/j/197490909 (webinar)
2018-February-07, 20:00 UTC (after Greg's Debrief)
Sydney +11, Beijing +8, Lagos +1, Amsterdam +1,
New York -5, Seattle -8
Agenda (Key discussion points can be added to the agenda):
https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit#heading=h.b6i526d9dxs1

Above is a post of the upcoming meeting w

[2018-02-07 19:30] niwaa commented on #272
@truffard Ok je prends note, je suis en train de relire le transcript et les changements faits.
Par contre je vois des corrections comme:

[code]

machine virtuelle >> serveur virtuel

La traduction du terme "virtual machine" est bien "machine virtuelle" et non "serveur virtuel" en français...

https://fr.wikipedia.org/wiki/Machine_virtuelle

[2018-02-07 19:31] niwaa commented on #272
@truffard Yes I am going over lines 774 to 802 now.

[2018-02-07 19:43] truffard commented on #272
@niwaa ok cool merci

[2018-02-07 20:07] Rafkraft commented on #156
Just to sum where we're at for rchain.coop:

- The design is having its final modifications
- We are still waiting from inputs from the coop to replace all the "Loreum ipsum" texts
- Preview images for social medias will be ready soon :)
- Still a lot a fake links ont the website (social media links in the bottom for example)
- And then of course the other pages must be filled and integrated
- Whe

[2018-02-07 20:30] eedsilva commented on #282
@lapin7 did you receive my email?

[2018-02-07 21:18] wordsandstuff opened #302 "Translation quality assurance and issue template"
Native speakers need to have priority over the translations.  I dont think that some one who doesn't speak German or Spanish or what ever language should be able to be the main translator . Google translate should NOT be the first method of translation. QUALITY should always be the TOP priority.  Yes I would like to translate something with google translate and make money, but I know a native spea

[2018-02-07 21:35] flowpoint commented on #302
to make this issue smart, we maybe could streamline translation with a short translation_guide and find a way to find native speakers of the languages
also how schould we reference this with the many current translation issues?

[2018-02-07 21:46] niwaa commented on #272
@truffard J'ai revu ta partie et corrigé les fautes d'orthographe, ponctuations et de formatage qui étaient évidents.  Pour les autres de grammaire / syntaxe j'ai laissé des commentaires sur google docs.

En parlant de traduction littérale, tu en as fait aussi:

#1280
je me sens un peu toujours un réluctant à
-> je suis toujours un peu réticent

#1301
ma passion pour tout cela transpire un peu!
->

[2018-02-07 21:48] dckc commented on #302
Which translation used Google translate with poor quality results? Pointer, please?

@lapin7 invited work on a [translation policy][1] in an [Oct 11 comment][2] Unfortunately, aside from my suggestion to take inspiration from [W3C Translations][3], it's empty.

[1]: https://docs.google.com/document/d/1xSXK4DAVwcc-OnrvRm4KP-LOSwWKnAxVOWIpFcCAYaw/edit
[2]: https://github.com/rchain/Members/issues/10

[2018-02-07 22:09] truffard commented on #272
@niwaa oui j'avais volontairement laissé tel quel ces mots, mais pour quand va t on finaliser ce document? Disons que Vendredi ça devrait etre bon.... enfin je pense, dis moi ce que tu en penses

[2018-02-07 22:11] jimscarver commented on #302
someone must take the responsibility for development of the translation policy.

I believe no transaction can be considered good until several speakers of the language have reviewed and improved it. There is a work flow process  If no one is willing to review/correct it given reasonable bounties it can be considered worthless. reviewers budget/claim/award a percent of the bounty commensurate with

[2018-02-07 22:15] llerner commented on #302
Review by consensus. Three native speakers should agree upon the translation. Split the bounty accordingly (E.g., translator gets 70%, validators get 15%)

[2018-02-07 22:41] dckc commented on #302
Yes, my impression is that we are doing just that: review by several native speakers.

At some point, it becomes cost-effective to lay down rules explicitly, but it's not much fun. Just trusting each other is more fun. So I'd like to see evidence that just trusting each other isn't working. Pointer, please?

[2018-02-07 22:48] niwaa commented on #272
@truffard oui Vendredi max.

[2018-02-07 23:13] dckc commented on #261
Remember the [advogato trust metric][1]? I'm inclined to try it here.

I wrote an [interactive simulator][2] for it back in Apr 2010. I just checked and the simulator is still working.

I'm inclined to try it out with data from github such as followers and reactions.

@traviagio and @pmoorman I especially want to look at how well it addresses the cases from your analysis.

ref:
 - [exploring a cro

[2018-02-08 00:32] ICA3DaR5 commented on #251
The English transcript is finished as far as we're concerned. Check #292

[2018-02-08 00:32] ICA3DaR5 commented on #292
I think this is finished.

[2018-02-08 03:10] Viraculous commented on #302
I agree with @dckc and @llerner . Your idea is splendid @wordsandstuff. In a cooperative and decentralized Community as the RChain, what we market is solidarity in trust to achieve precision on work done.

[2018-02-08 03:32] Tonyprisca13 commented on #283
please send me ur email@dcpnlau

[2018-02-08 04:53] caratzky opened #303 "M> Filipino Translation for the Project"
Good Day!

I have been a contributor of Filipino Translations for open-source projects for the sake of Filipino developers, and I am being rewarded by Utopian.io. May I know if you need this kind of translation for your project? It would be my pleasure to help you. Thank you.

Have a nice day!

[2018-02-08 07:21] BelovedAquila commented on #303
@caratzky interesting, that's impressive. Your collaboration here is greatly needed,why not create an issue on what you did would like to work on. Do you mind starting a Filipino transcript on this #251 or #292 ?

[2018-02-08 07:24] BelovedAquila commented on #292
@ICA3DaR5 I suppose you are done already? Can I have an access to the Doc so as to review it?

[2018-02-08 07:39] BelovedAquila commented on #290
@dcpnlau and @ojimadu wasn't able to connect for the meeting yesterday, all it noticed through out the time was "waiting for the Host to start the meeting" why is that?

[2018-02-08 07:45] yuhuanmocmoc commented on #126
I'm a little confused, what's the different between #126 and #173? They all have been existing for several months.

[2018-02-08 07:52] sportshark commented on #126
@yuhuanmocmoc  #126 is for buliding the website ,#173 is for the operation and maintenance of the website. The #173 is started  after the #126 is closed on Dec 2017. Since February 2018, both #173 and #126 will run free of charge.

[2018-02-08 08:04] Ojimadu commented on #290
The link to the meeting was changed.

[2018-02-08 08:38] caratzky commented on #303
Isn't there an already-made English Transcript? I would love to start the translation now

[2018-02-08 09:17] David405 commented on #301
okay @dckc sorry for digressing, I am currently doing a compilation and intense study on all the Rholang documents,I will drop a comment on it once am done

[2018-02-08 10:08] jiyuxuan1944 opened #304 "Translate <Categorical foundations, RChain, Mike Stay, Pyrofex, cool contd> into Chinese"
We think it is necessary to translate this interesting story, which will make Chinese fans better understand Rchain.
word count:2545
budget:$500
time：5 days

[2018-02-08 10:20] lapin7 commented on #253
We have also the system of "Statement of Work" and folks that apply for a job through jobs@rchain.coop. The latter ones can become "Employee of the coop."
The folks that have an SoW do regular work and get a fixed reward per month. If they earn a reward for an issue, then this reward is listed on the invoice. When the total of rewards is more then the amount in the SoW, then they still get the fix

[2018-02-08 11:53] ICA3DaR5 commented on #292
@BelovedAquila Sure I uploaded it. There is a link on the first post.

[Here's the link](https://docs.google.com/document/d/1cq8hWLLrdlT6W_t07sFqYanXEwwbjBSvcJv92aoKO5s/edit) again.

[2018-02-08 13:06] dckc commented on #261
@pmoorman and I brainstormed last night and came up with:

  - Your stake is your reward for the month, and you can lose it all if the community decides that you should.
 - When computing averages, votes from masters and journeyman are weighted more (e.g. 7x, 3x) than votes from apprentices (1x). (Votes from un-certified users are ignored.)

For example:

  - Abner's reward is $1200 based on the u

[2018-02-08 13:17] dckc commented on #261
@BelovedAquila writes:

I have adopted a suggestion from @pmoorman in the [Welcome to RAM][1] wiki page:

[1]: https://github.com/rchain/Members/wiki/Welcome-To-RAM

This lack of accountability / integrity is one of the main motivations behind my work in #260. One of the requirements I'm working toward is that all actions are clearly authorized by github credentials.

@jimscarver writes:

Yes. The

[2018-02-08 13:44] dckc commented on #260
I think FRP is particularly suited to keeping things in sync between github and this app and perhaps for implementing triggers.

It's bad enough that I have to use PHP for the OAuth stuff; I dread porting my fetch-from-github python prototypes to PHP. And mysql triggers are hardly a wonderful programming language.

In finquick, I also discovered that mysql support in node.js is really wonderful; y

[2018-02-08 14:51] ICA3DaR5 commented on #299
This is finished!

[2018-02-08 15:09] Keaycee commented on #302
I agree with @dckc & @llerner .  You have a point @wordsandstuff , The google translation API is very poor and it's translation are not accurate, and i do not advice or support any work done with google translation. But you must also know that there are native speakers who are not member of our cooperative but get paid to get most translation work done. There are native speaker who's job is to tra

[2018-02-08 18:28] #218 closed

[2018-02-08 18:49] TrenchFloat commented on #290
I demo'd the budget/rewards web app in [#260](https://github.com/rchain/Members/issues/260) and added a couple notes into the [doc](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit#)

[2018-02-08 19:34] flowpoint commented on #302
not suspecting/blaming anyone but in:
#266 this [document](https://docs.google.com/document/d/1oTZVkYEhhnZtyU4DmNiiT3N39R0IVpHI92vP8kaltFs/edit)
example, line 789:

in the english transcript:

'Haschisch' is a german word for marihuana, which doesnt fit at all,
and i doubt, that a human, would translate english "hash" into german "Haschisch"

[2018-02-08 21:03] patrick727 commented on #261
This is awesome dialogue. Here's my 2 Cents. Not law or even concrete thoughts, so don't give me rewards for these comments lol

1. You should be on-boarded as a member firstly before you can participate in RAM.

My aspiration is that RAM program is done fully through an interface within member.rchain.coop. More then one developer has expression confusion with this program and it have mostly been

[2018-02-08 21:34] JediJuice commented on #180
@ValeBF great work

[2018-02-08 21:42] dckc commented on #302
I guess I don't see a problem in the case of #266. It's still clearly on their TODO list to "Have it reviewed by others with deeper understanding of German and English". They don't claim to be done.

My experience with translation is all 2nd hand, but I don't see any reason to rule out Google translate as a way to start. As long as the end product is good quality and people treat each other with r

[2018-02-08 21:52] dckc commented on #302
oh! @flowpoint you're the one doing the reviewing. If you see a problem, then there is a problem.

[2018-02-08 22:00] dckc commented on #266
@BelovedAquila would you please elaborate on how you earned roughly 45% of the $5000 budget in the past week or so? By way of example, see the [27 Jan breakdown of work][1] I gave to justify a large-ish budget for issue #185.

In #302, @flowpoint suggested that $5000 is not a suitable budget. At $40/hr, that's 125hrs. If we spread that over the suggested 3 weeks, it's 41hrs/week. 45% of that is 18

[2018-02-08 22:30] dckc commented on #300
The **bug** label is typically for reporting bugs in software; I don't think this is that sort of issue.

[2018-02-08 22:31] peetklasen commented on #283
Is this project almost finished @tonyprisca13 , or is help still needed to come to a result?

[2018-02-08 22:43] dckc commented on #300
I went to a talk on [The Future of Cyber Conflict][1] yesterday by Kate Charlet, who did cyber policy and strategy under 3 different U.S. defense secretaries. She reports that even the U.S. department of defense recognizes security bug bounties like this as a best practice. It reminded me of this issue, which is clearly important.

I suggest that small group discussion is important in the early st

[2018-02-08 22:48] dckc commented on #135
@pmoorman see? We've been talking about this openly for some time. This might be an even better place for your analysis than #261.

[2018-02-09 01:21] zsluedem commented on #304
Can you provide a link or something which article you refered? @jiyuxuan1944

[2018-02-09 04:45] drbloom commented on #300
You could ask Jeremy. Reach him on Discord.

[2018-02-09 04:47] niwaa commented on #272
@truffard J'ai relu 0-802 et ça me semble personnellement OK... Mais dis moi si ça ne va pas.

As tu aussi eu le temps de revoir les commentaires que j'ai laissé sur ta partie?

[2018-02-09 05:09] n10n commented on #302
Food for thought: https://www.quora.com/How-effective-is-Google-translate... varies between 58 to 88 % and this number is language dependent. If you like the real numbers then use this: http://mt-quality.multilizer.com/machine-translation-quality-statistics/. Question - Do you want to use this tool for the translation?

[2018-02-09 05:35] Viraculous commented on #304
Please do mind writing the budget in $dollar equivalent for clarity.@jiyuxuan1944

[2018-02-09 05:46] Viraculous commented on #269
Good

[2018-02-09 06:56] dcpnlau commented on #283
Hi @peetklasen, it was sent to me. Happy to forward to you and we can divide and conquer. Can you send me your email address? I’m dcpnlau on Discord.

Sent on the go

[2018-02-09 07:41] truffard commented on #272
@niwaa oui mais je reviens sur le texte un peu plus tard aujourd'hui pour finir tout ça,j'aurais plus de temps

[2018-02-09 07:52] pmoorman commented on #260
_**Pre-P.S.:** X-posted from #135_

----

A week ago @traviagio and I made an analysis of the "attack vectors" that we currently see exposed (or can easily imagine) in the Coop governance structure.

Based on this analysis, I have worked with @dckc to resolve as many attack vectors as possible within this new setup.

The document can be found here:

**Analysis of attack vectors:** https://docs.goo

[2018-02-09 09:12] jiyuxuan1944 commented on #304
@Viraculous Okay, I did not notice the problem.

[2018-02-09 09:15] jiyuxuan1944 commented on #304
@zsluedem I found it here.
https://johncarlosbaez.wordpress.com/2018/02/04/pyrofex/

[2018-02-09 10:22] lapin7 opened #305 "o> Preparation of 201801 invoices"
## **Goal:** prepare invoices that include: issue nrs, rewards, total reward for each RAM that works on issues in Github

## **Collaborators**
@lapin7, @MargotCoul, @ChloeCoul

use Gsheet [Declaration](https://docs.google.com/spreadsheets/d/19Y5aEZelHa2JISCXB6jViTiRx9H0cCmha8arYz7vbg0/edit#gid=659403946) access only for rchainfin@googlegroups.com
use Gsheet [RAM registration](https://docs.google.c

[2018-02-09 12:13] lapin7 commented on #260
Please check the issues below and tell if @Keaycee earns a total of RHOC 6557.85 or $ 1,311.57 in a fair way.

Keaycee | 99 100 115 133 135 150 156 169 173 186 210 214 215 217 218 219 220 222 225 226 231 233 234 236 243 | 6557.85 | $ 1,311.57
-- | -- | -- | --

Check if OK
--
- [ ] 99
- [ ] 100
- [ ] 115
- [ ] 133
- [ ] 135
- [ ] 150
- [ ] 156
- [ ] 169
- [ ] 173
- [ ] 186
- [ ] 210
- [ ] 214
- [

[2018-02-09 12:51] flowpoint commented on #302
### my gripe is:
1. if the result matters, then the goal and budget should be fixed. however someone got there isnt important.
2. or, if the amount of effort matters, reward is proportional, then whether google translate was used impacts alot.

without clear decisions about that, it will lead to:
someone claiming reward for his effort (2.) , without having done work himself, towards the result (1.

[2018-02-09 12:58] dckc commented on #260
@lapin7 how is evaluation of fairness of his work in scope here? It could lead to a lot of discussion with very little relevance to design and implementation of this web app.

[2018-02-09 13:04] pmoorman commented on #294
In #253 @dckc wrote:

So here we go, so we can add that to the library of cases there. In roughly chronological order:

- I learned about crypto about 4 years ago

- In 2017 I had some more time to dedicate to new projects, so I decided _"I should get involved with crypto stuff"_

- Georgi (@traviagio) and I work together more regularly on projects, and he introduced me to RChain.

- When I entere

[2018-02-09 13:05] pmoorman commented on #294
Btw, thanks everyone  :+1:

[2018-02-09 13:09] pmoorman commented on #253
@dckc wrote:

**I documented my onboarding journey here:** https://github.com/rchain/Members/issues/294#issuecomment-364428275

That adds to our library of 'cases' to pull from.

I think having a few more people document their journey would be helpful, too.
@makys maybe, for instance? @Viraculous @David405

[2018-02-09 14:38] AyAyRon-P commented on #234
I had an opportunity to reach out to Pieter after a discussion with Kit about this project, Pieter and I will be working together to generate a draft proposal to establish a solid document with clean content and purposeful graphics that will help drive the project.

[2018-02-09 15:23] dckc commented on #243
I see https://forum.rchain.coop/ is launched. It calls itself "RChain Developer Forum", so perhaps the scope is different from the target here, but it's hard to imagine that there's room for two different forum systems.

[2018-02-09 15:25] dckc opened #306 "anomalies in the 201801 budget / reward process"

[2018-02-09 15:26] dckc commented on #306
moving [comment by @lapin7][1] here:

[1]: https://github.com/rchain/Members/issues/260#issuecomment-364417841

Please check the issues below and tell if @Keaycee earns a total of RHOC 6557.85 or $ 1,311.57 in a fair way.

Keaycee | 99 100 115 133 135 150 156 169 173 186 210 214 215 217 218 219 220 222 225 226 231 233 234 236 243 | 6557.85 | $ 1,311.57
-- | -- | -- | --

Check if OK
--
- [ ] 99
-

[2018-02-09 15:32] dckc commented on #306
If I knew which issue had the highest reward, I would start there. But I don't see it as a good use of my time to review them all or even pick randomly.

[2018-02-09 16:34] BelovedAquila commented on #266
@dckc similar budget was first set on other translation issues of the same transcript, if you check other translation budgets for the same transcript, you will find out that all of them as at the time of my writing has same budget, some even had more budget than was stated above. I borrowed a leaf from other budgets of similar issues I wonder why you had to single this one out.
I agree that $5000

[2018-02-09 17:04] BelovedAquila commented on #303
@caratzky there is or there are. Please follow up the issues on #251 you would get the link to the English transcript there. @ICA3DaR5 is still working on a more concised error free version of it though in #292, wonder if he is done yet with it, that would have been the best transcript to work on to reduce the work load of trying to rightly correct errors in the early English transcript.

[2018-02-09 17:10] BelovedAquila commented on #303
@caratzky
[Here's the link](https://docs.google.com/document/d/1cq8hWLLrdlT6W_t07sFqYanXEwwbjBSvcJv92aoKO5s/edit) again.

[2018-02-09 17:10] 9rb commented on #140
I suggest this item be closed.  The KY ebook activity is being worked separately and we're trying to conclude that activity, not expand with additional contributors at this point.

[2018-02-09 17:16] 9rb commented on #140
If this is related to #142 instead, perhaps should be moved there?

[2018-02-09 17:18] 9rb commented on #217
perhaps SL on github may be of most interest to the board and members at this time, since a lot of activity monitoring and analysis are focused there?

[2018-02-09 17:24] Keaycee commented on #302
@flowpoint How the work is been done does not really matter. What matters is the quality and accuracy of the work been done. We need the works to be reviewed and proofread to check further errors and corrections. This work maybe translated by a native speaker who are been paid by a coop members or  probably by a translator.  Which ever way the work is done, what's important is a work well done.  I

[2018-02-09 18:07] ICA3DaR5 commented on #303
@BelovedAquila I'll watch the video with the English transcript one more time tomorrow, and I'll call it a day!

[2018-02-09 18:08] ICA3DaR5 commented on #292
I'll watch the video with the English transcript, one more time, tomorrow, and I'll call it a day.

[2018-02-09 19:00] lapin7 commented on #260
@dckc thanks for moving my comment to #306
You're right it had nothing to do with the web app

[2018-02-09 19:45] peetklasen commented on #283
My email address is peetklasen@gmail.com Good idea to collaborate and divide the job. Are you Dutch? ( I am)

[2018-02-09 19:46] peetklasen commented on #283
@dcnplau My email address is peetklasen@gmail.com Great idea to collaborate and divide the job. Are you Dutch? ( I am)

[2018-02-09 21:34] lapin7 opened #307 "G> Prezi "Decentralized ...""
## Goal: create Prezi for 17 Feb, Governance Meeting
**"Decentralized setting of budgets and rewards for solving self defined issues on Github" is the key for building a 10.000+ swarmwise organisation that helps RChain getting on the rails.**

Send email addresses to ops@rchain.coop for collaboration on [Prezi](https://prezi.com/view/gOEfKm6SgClJkigEeZET/)

This is the very very beginning of a dra

[2018-02-09 22:09] truffard commented on #272
@niwaa merci ça a l'air ok j'ai regardé encore merci @lapin7 seems good to me

[2018-02-09 22:19] n10n commented on #307
What is RAM or SMART?

[2018-02-09 23:51] dckc commented on #266
Since you agree $5000 is not a suitable budget, I removed it from the issue description.

I suggest you come up with a suitable budget.

I vaguely recall a suggestion of basing translation budgets on word counts, with reference to a U. N. norm of some sort. Perhaps that's a place to start.

And since you don't speak German, your role in this task is at most organizational, right? Perhaps 5% to 15%

[2018-02-09 23:55] dckc commented on #253
I worked a bit with @David405 in #295.

[2018-02-10 01:31] Keaycee commented on #303
There are still corrections to be done on the current transcript. I've watched the video and followed word after words. It's 80% good. Just few more corrections to be done.

[2018-02-10 02:55] Viraculous commented on #251
@dckc I think China is a geographical territory, issues tagged with it tends to have a more of a territorial permission than lingual. Chinese should be more appropriate as they are countries not China but speaks Chinese.

[2018-02-10 06:39] makys commented on #294
Researching new blockchain project I could get involved in to help understand blockchain technology - Rchain came up
I requested for access to one of the google doc and I got an email from @lapin7 which was my guide to getting on rchain coop. This was very good.
$20 to sign got me to think twice and whated to verify this was legit.
I looked up coop members on LinkedIn, contacted @Ojimadu just to v

[2018-02-10 06:41] makys commented on #253
@pmoorman documented my onboarding journey on #294

[2018-02-10 06:57] dckc commented on #306
I'm refreshing the data in the SQL webapp in order to review anomalies here.

I'm running into integrity constraints: not all the voters an workers are collaborators in this repo:

[code]

[2018-02-10 07:18] dckc commented on #306
Using the SQL webapp from #260, I get
  - $234 for #225 (looks like a consensus of voters including @kitblake )
  - between $10 and $100 for #100, #150, #215, #220
  -  $-667 for #115
      - @Mervyn853 explained his negative rewards [Jan 29 in 115][1].
      - the spreadsheet seems to clamp the low end at $0
  - no reward for the rest (insufficient votes)

This seems reasonably well in order to m

[2018-02-10 08:13] lapin7 commented on #294
@makys Your story shows that you're very motivated. Even after going through an onboarding hell, like you did. Anyway you're all set now to make things better at RChain. :-)

[2018-02-10 08:38] lapin7 commented on #307
You can help me creating this presentation by logging in to https://prezi.com
as rchain@googlegroups.com
pw: Decentralize

[2018-02-10 09:02] lapin7 commented on #272
peux tu prendre contact avec @Mervyn853 pour ajouter le transcript Francais au video?

[2018-02-10 09:07] zsluedem commented on #307
@lapin7 requirements for the presentation? Where can I find the topics ? Or I have to come up with one by myself.

[2018-02-10 09:58] truffard commented on #272
@Mervyn853 no problem

[2018-02-10 10:22] lapin7 commented on #307
@zsluedem To be clear. I'm going to give a presentation on the Governance Meeting 17, February.
The subject is:

**"Decentralized setting of budgets and rewards for solving self defined issues on Github" is the key for building a 10.000+ swarmwise organisation that helps RChain getting on the rails.**

I want to cover the [spreadsheet system](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWc

[2018-02-10 12:20] Rafkraft commented on #306
On #156 some good remarks on the header footer and pages for the designer and myself, don't know what budget has been settled for his work

[2018-02-10 13:08] jimscarver commented on #306
@kaeycee has been very active and produced quality work and I think he deserves a bonus on top of the award amount

[2018-02-10 13:12] dckc commented on #306
@jimscarver pointer to the quality work? H J can adjust rewards on a per issue basis. But I'd rather not get into ad-hoc bonuses.

[2018-02-10 13:46] jimscarver commented on #306
I don't know when I'll have time to go over all the details. As the gov
working group evolved he did major updates to the scope document several
times. Any I saw significant comtribution all over the place. Nickel and
diming our members is not a productive activity in my view.  I do not see
how the reward could be considered excessive given the dedication show. It
is an insult in my view. I do agr

[2018-02-10 14:16] #287 closed

[2018-02-10 14:17] #288 closed

[2018-02-10 14:31] lapin7 commented on #306
I will delete the comment.

[2018-02-10 14:49] dckc commented on #267
@lapin7 ? go ahead and rename it?

[2018-02-10 15:08] truffard commented on #272
@niwaa c'est bon pour toi?

[2018-02-10 16:06] drbloom commented on #267
The name RChain **Active Members** (RAM) causes confusion because it conflicts with **ACTIVE MEMBERS** as defined in the Cooperative's Articles of Incorporation & Bylaws:

[RChain Cooperative - Articles of Incorporation with RA.pdf](https://github.com/rchain/board/blob/master/RChain%20Cooperative%20-%20Articles%20of%20Incorporation%20with%20RA.pdf)

[Revised Bylaws (8-28-17).docx.pdf
](https://git

[2018-02-10 16:33] BelovedAquila commented on #266
@dckc you got me pondering on the virtue behind outrightly removing a budget on an issue which you're not participating on because you have edit access? That feels like censorship.

The budget on this translation isn't unique to this issue alone, have you only seen this issue? Friend, I understand what you are trying to point out on this, but please don't make it seem to be that you are  more sole

[2018-02-10 16:37] dckc commented on #267
I'd rather just just give RAM a different expansion. Perhaps RChain Active Movers.

Greg said he wants to use this program to encourage people to tell the RChain story. A thesaurus says storyteller = minstrel. Perhaps RChain Active Minstrels. I'm not sure that's good for recruiting open source developers, which is the other goal Greg mentioned yesterday.

Or we could stop trying to push water up h

[2018-02-10 16:53] dckc commented on #267
I tweaked some of the comments to support polling: each proposal goes in its own comment. See the issue description for detail.

I'm also assigning this to all the repo admins.

[2018-02-10 16:56] patrick727 commented on #267
what about "Activism"

[2018-02-10 16:58] dckc commented on #267
The dictionary says an activist is "a person who campaigns to bring about political or social change." I don't think that's a good word to recruit open source developers.

[2018-02-10 17:03] patrick727 commented on #156
Thank you everyone for this wonderful input on the design process.

This is how we are going to proceed moving forward with branding/web design

1. We are going to aggregate all of this feedback into a clear document of "community input"
   - I believe @pmoorman and @AyAyRon-P are going to help with that

2. we are going to contract a branding/design firm in Seattle to help take this feedback, alo

[2018-02-10 17:03] #156 closed

[2018-02-10 17:10] dckc commented on #177
This is subsumed by https://developer.rchain.coop/ as of the [Jan 31 SDK 0.1 release](https://medium.com/rchain-cooperative/sdk-v0-1-5f6bc35bf3e9).

[2018-02-10 17:10] #177 closed

[2018-02-10 17:37] Mervyn853 commented on #292
Can I get the completed .srt file to send to Brad when it’s done? Would prefer it in srt file as there are many google docs that I have to sort through for different languages

[2018-02-10 17:42] dckc commented on #266
As I explained Feb 8 above, I am participating here in response to a comment by @flowpoint on #302. While I am not as interested in translation as other aspects of advancing RChain, I do happen to have [15 years of experience][15] building an international community of collaborators that produced [hundreds of translations](https://www.w3.org/Consortium/Translation/) of technical documents in dozen

[2018-02-10 17:42] ICA3DaR5 commented on #292
@Mervyn853 Sure, once I finish (in a few hours), I'll also upload the .srt file.

[2018-02-10 17:44] Tonyprisca13 commented on #306
@Jim u are right. keaycee is dedicated and produces quality work. I checked it up and it is not bad at all.

[2018-02-10 17:45] lapin7 commented on #264
@Whisker17 I'm not able to upload the transcript to the official video of Blockchain Brad.
Maybe @Mervyn853 can arrange that for all the languages.
Nice job #289

[2018-02-10 18:03] dckc commented on #306
@jimscarver writes:

A pointer to the relevant issue (#133) is all I asked for. Surely looking it up would have taken less time than the rest of your comment. :)

[2018-02-10 19:52] niwaa commented on #272
@truffard @lapin7 Good with me. Here is the final .srt file, ready for upload:
[French_subtitle_youtube_chat_Lawrence_Lerner_Nash_Foster.srt](https://drive.google.com/open?id=1um7HwGa06JexK5MrQ7V-gHVq_A0qEcCV)

[2018-02-10 19:59] niwaa commented on #251
Please do make sure you generate a valid .srt file at the end for each language. Bloc #1 until #1625, saved as .srt file, with 1 line separation between each block.  Here is an example:

-----------

FINAL .srt file for FRENCH subtitles, ready for upload:
[French_subtitle_youtube_chat_Lawrence_Lerner_Nash_Foster.srt](https://drive.google.com/open?id=1um7HwGa06JexK5MrQ7V-gHVq_A0qEcCV)

[2018-02-10 20:55] niwaa commented on #291
Sorry this has already been discussed elsewhere. Just my opinion:

I think adding xxxK people to a telegram channel is one thing (and not necessary hard). There are tons of other projects and ICOs going on having 40-80k people in their telegram channel in a couple weeks.

The questions remains what is the goal and the population you want in this channel. Most telegrams channels I've been on, even

[2018-02-10 21:45] ICA3DaR5 commented on #292
This is finished as far as me, @zero-andreou and @thiefinshadows are concerned!

[2018-02-10 21:45] #292 closed

[2018-02-10 22:12] ICA3DaR5 commented on #251
#292 is closed and finished.

[2018-02-10 22:53] flowpoint commented on #266
my stand on this is, i am a **validator.**
i proofread the documents and fixup the **few** spelling, punctuation, capitalization mistakes that **slipped through**, and point out **formulation** that can be improved to convey more meaning.
but in this case the accuracy is so far off, that a major revision is needed.
#302 translating to languages that you dont speak is not very productive even if it

[2018-02-11 01:11] zsluedem commented on #267
`RAM` is not easy for the new bees to understand what it means.
Any abbreviations are not always friendly to the new members.

[2018-02-11 01:37] cenyuhai commented on #291
@niwaa That's what I want to do， I want to introduce rchain to chinese developer.

[2018-02-11 01:53] ICA3DaR5 commented on #267
May I suggest [Cooperator](http://www.dictionary.com/browse/cooperator)

# verb (used without object), cooperated, cooperating.
1. to work or act together or jointly for a common purpose or benefit.
2. to work or act with another or other persons willingly and agreeably.
3. to practice economic [cooperation](http://www.dictionary.com/browse/cooperation).

# Synonyms
- collaborate
- join
- particip

[2018-02-11 03:39] Viraculous commented on #267
Me am still yet to fully grasp the whole idea of what RAM  is all about and how to fully participate @Ojimadu. I wish it could be made simpler.

[2018-02-11 05:10] #290 closed

[2018-02-11 05:12] dcpnlau opened #309 "O> 20180214 RChain Active Members Meeting"
- [x] Prepare report for Greg's Debrief (2018-02-14)
- [x] Prepare [RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit#) - would like to keep it to five discussion points so we have time to cover all of them in enough detail.
- [x] Any key discussion points anyone wants to address should be added to the agenda here and we can allocate time acco

[2018-02-11 06:28] Tonyprisca13 commented on #267
I suggest we retain collaborator or go with cooperator, it's easily understood especially for new members.

[2018-02-11 07:28] Viraculous commented on #247
Feedback from Bas Kapijn ( Architect @ICTU/DISCIPL); Hello Victor, note we are a very small team. There hasnt formed yet a real community around discipl. We (some of our team) might think of using rchain in some future project and as such might collaborate with the rchain community but i cant say for sure nor when. We are not really talking about it and are busy with a lot of other things to be ho

[2018-02-11 07:56] Viraculous commented on #309
Please @dcpnlau, I did like the link for the meeting be pasted here, perhaps if there is any change of link one will get to know. I missed the last meeting because the link was changed.

[2018-02-11 09:32] lapin7 commented on #272
@niwaa plz make sure that @Mervyn853 get's the French .srt uploaded!!

[2018-02-11 09:48] lapin7 commented on #266
Every line starts with a capital. Like:
**Hier etwas Hintergrund zu den beiden**:
This is very irritating to me. Maybe it needs a change.
And what about **zu den** >> **zum**

[2018-02-11 10:17] lapin7 commented on #267
I suggest to go for RAC = RChain Active Collaborators.
Github talks also about Collaborators.
Thx @drbloom for pointing out this problem.

[2018-02-11 10:21] lapin7 commented on #247
Let's implement [w3c verifiable claims api](https://www.w3.org/2017/vc/WG/) on RChain and try to get their 8 usecases worked out.

[2018-02-11 10:59] Viraculous commented on #247
OK @lapin7.

[2018-02-11 11:02] BelovedAquila commented on #309
@Viraculous I second with you, because wasn't able to attend the last meeting because of a related prompt change of link as stated in #290 which I wasn't aware of.

[2018-02-11 13:39] ICA3DaR5 commented on #267
@lapin7 Here's Wikipedia on RAC: https://en.wikipedia.org/wiki/RAC

[2018-02-11 15:34] kitblake commented on #267
RAM
RChain Activity Matrix
RChain Action Makers
RChain Associated Movers

RAW
RChain Active Workers

/rchain/collaborators is one clear word.
/rchain/colab is for short.

[2018-02-11 15:36] plantether commented on #139
@makys @jimscarver @9rb @jhngrant @kitblake @gsj5 @Ken-dahl @patrick727 @Ojimadu,

The next meeting is scheduled for 2018-02-24 at 10:00 AM EST, but we can change the time or date if necessary so Patrick and Kit can attend.

Should we change the name of this issue to "Sovereign Identity Awareness Project"? Or create a new one?

Action items before next meeting on 2018-02-24 at 10:00 AM EST:

1. Ji

[2018-02-11 15:49] zsluedem commented on #267
@Tonyprisca13 yeah . I spent a few days to understand `RAM`.

I prefer a straight easy simple word. Sometimes I think `Member`  is a good word,too.
But I prefer `collaborators `.

[2018-02-11 15:53] kitblake commented on #267
**RAW**
RChain Active Workers
RChain Apiarian Workers

[2018-02-11 17:25] michaelizer opened #312 "M> Documentation: Translation into Spanish Language"
Greetings, I would like to contribute to the project by translating it into Spanish. Spanish is my native language so don't panic (I was reading the Issues), but a lot of Spanish speakers are still limited by the language so this is primarily to help them. At Utopian we love contributing to open source projects.

Thanks in advance and for your time. Keep up the great work.

[2018-02-11 19:42] pythonical opened #314 "M>Create rchain coop flyer template"

[2018-02-11 21:26] dcpnlau commented on #309
It was a last minute change but will keep it in mind moving forward. If you ever find yourself in this situation, you can ping me on Discord (dcpnlau) or go into the agenda and write note as I’ll have that document open and will see it.

Sent on the go

[2018-02-11 21:43] jplepel commented on #291
If there is a need for more Admins on telegram, I'm available.

[2018-02-11 21:43] lapin7 commented on #312
Hi @michaelizer
Please accept https://github.com/rchain/Members/invitations
and https://groups.google.com/forum/#!pendingmember/rchain/join

[2018-02-11 22:24] nanik94 opened #317 "Spanish translation"
Hi!, can I translate this project into spanish ?

[2018-02-11 22:27] michaelizer commented on #312
Done

[2018-02-11 23:43] dckc opened #318 "O>reward for results rather than effort"
I suggest, as a guideline, that we reward only completed work (i.e. closed issues) and base budgets on results rather than effort.

Putting emphasis on completed work and closed issues would encourage SMART objectives. If only part of an issue got done, the participants would have a choice between (a) waiting until a later month to claim a reward or (b) reducing the scope of an issue to what they

[2018-02-11 23:46] dckc commented on #266
@flowpoint writes:

In what sense did they approve the document? This issue is still open. Has the document been posted to some widely visible location without a clear indication that it is still work-in-progress?

@flowpoint continues:

OK, reverted my edit to the suggested budget and just added a "_withdrawn Feb 9_" link. It's important that the issue summary doesn't mislead someone into thinkin

[2018-02-12 00:04] dckc opened #319 "O>Require review of file repository changes"
We have too many people with too little experience with git to let everyone commit without review.

For example, the [blame view of CONTRIBUTING.md][1] got corrupted in the process of a a recent tagalog translation 5e795fb.

[1]: https://github.com/rchain/Members/blame/master/CONTRIBUTING.md

 - [X] change the repository settings to require review of pull requests.
 - [x] update `CONTRIBUTING.md`

[2018-02-12 00:14] niwaa commented on #272
Sure.

[2018-02-12 00:40] pythonical commented on #314
i thought i would shake the tree assuming there had to already be one of these? if not, do we have a location with all of the design requirements, colors, etc?

[2018-02-12 00:50] pythonical commented on #314
Something like this (and I apologize if I missed this info somewhere else) https://www.ethereum.org/brand

[2018-02-12 00:51] MParlikar commented on #318
+1 for results.  I'm all about results.

[2018-02-12 01:13] ICA3DaR5 commented on #265
This is finished, here are the documents:

Google Document: https://drive.google.com/open?id=1afa9SDrfS_ZyXpQ9oqLOZWZnzIMmaoZU7w8x2yB-1KA
SRT File: https://drive.google.com/open?id=1bXPyg7U0L7ik8HMIzlHn6RCc5Ipm0Wvy

[2018-02-12 01:14] ICA3DaR5 commented on #251
The Greek translation (#265) is finished.

Google Document: https://drive.google.com/open?id=1afa9SDrfS_ZyXpQ9oqLOZWZnzIMmaoZU7w8x2yB-1KA
SRT File: https://drive.google.com/open?id=1bXPyg7U0L7ik8HMIzlHn6RCc5Ipm0Wvy

[2018-02-12 01:42] iam-strings opened #320 "Cebuano Translation"
Hi,

I would like to contribute on this project through translation. I would to translate the necessary files to my native language, Cebuano.

Thanks....

[2018-02-12 01:53] caratzky commented on #320
@iam-strings  somebody has already been assigned for Cebuano Translations. .

[2018-02-12 02:00] caratzky commented on #320
@iam-strings actually you can help in doing the translations for Cebuano along with @josephace135.

Am I right @BelovedAquila ?

[2018-02-12 02:00] josephace135 commented on #320
Hi Mr. @caratzky,

I can pair with @iam-strings  if given the chance to translate it into Cebuano.

[2018-02-12 02:06] caratzky commented on #320
Yes, much better. Thank you.

[2018-02-12 02:23] flowpoint commented on #266
@dckc approved in my eyes, because the checkbox for spellcheck and review of the document is ticked

[2018-02-12 02:58] AbnerZheng commented on #127
@tgrospic @lapin7 @dckc
I have commit a new PR - "Add a working Formatter for Rholang-idea"(https://github.com/tgrospic/rholang-idea/pull/2).
@tgrospic Please have a look.
The function preview:
![image](http://g.recordit.co/aaqkN11t6W.gif)

There are still some improvement to finish, and I wish get some some feedback from user.

[2018-02-12 03:07] AbnerZheng commented on #268
I have just finished the formatter for rholang-idea, and now I can start working on this issue.

[2018-02-12 03:37] Viraculous commented on #320
@iam-strings , i edited this issue to make it more organised.

[2018-02-12 04:02] Viraculous commented on #318
@dckc, accruals of rewards on budget based on accomplished task is a good check to dealing with bad actors but i consider it better that rewards are in proportion of the percentage of the work done. SMART participation is encouraged and highly important but considerations must be made on certain issues though important and useful, yet is indeterminate because it is affected by exogenous variables

[2018-02-12 04:11] Viraculous commented on #317
@nanik94  I edited this issue to make it more organised. Also which project do you mean?

[2018-02-12 04:57] Tonyprisca13 commented on #309
@dcpnlau  the date for the meeting is wrong, change it February 7 to February 14

[2018-02-12 06:37] BelovedAquila commented on #320
@caratzky you are not far from right friend.
@josephace135 glad you are interested in working on the translation projects, just like @caratzky said, you can work along with @iam-strings not because you can't work alone, but because the cooperation could create an effective job well done. You can work alone too, but two heads are better than one. Why not start by becoming a collaborator friend?

[2018-02-12 06:38] BelovedAquila commented on #320
@caratzky you are not far from right friend.
@josephace135 glad you are interested in working on the translation projects, just like @caratzky said, you can work along with @iam-strings not because you can't work alone, but because the cooperation could create an effective job well done. You can work alone too, but two heads are better than one. Why not start by becoming a collaborator friend?

[2018-02-12 06:47] iam-strings commented on #320
@BelovedAquila Yes sir. I would be glad if I can contribute with @josephace135. Thanks a lot sir.

[2018-02-12 06:48] iam-strings commented on #320
@Viraculous okays sir. Thanks

[2018-02-12 06:49] BelovedAquila commented on #317
@mrinalmanohar of course you can work on it, there are various translation projects you can work on and various collaborators you can align with for effective output if you don't mind. But Dear friend start up the process, become a collaborator,
plz join https://groups.google.com/forum/#!managemembers/rchain/join
and accept https://github.com/rchain/Members/invitations
and send your email to ops@r

[2018-02-12 07:00] josephace135 commented on #320
Okay. I like that idea. I will collaborate with.

Sorry can’t tagged. Was using cp for now.

[2018-02-12 07:07] iam-strings commented on #320
@BelovedAquila @josephace135 and I wanted to be become certified collaborators for this project. How are we going to achieve that? Thanks...

[2018-02-12 07:09] BelovedAquila commented on #320
Ok friends, glad there is a mutual agreement @iam-strings and @josephace135, to become a collaborator
plz join https://groups.google.com/forum/#!managemembers/rchain/join
and accept https://github.com/rchain/Members/invitations
and send your email to ops@rchain.coop

[2018-02-12 07:32] BelovedAquila commented on #309
@dcpnlau alright friend. Noted

[2018-02-12 07:39] Mervyn853 commented on #251
Details on the process can be found here: https://support.google.com/youtube/answer/2734796?hl=en

Alternatively, if you're comfortable with it, we could make things easier for you if you could open this specific video to community contributions in which members of the RChain community can contribute to this video with subtitles/cc.

Details on this process can be found here : https://support.goog

[2018-02-12 07:40] josephace135 commented on #320
@BelovedAquila I have apply for membership in the Google group of RChain.

[2018-02-12 07:44] BelovedAquila commented on #320
@josephace135 great, you will get a feedback soon please.

[2018-02-12 08:08] dcpnlau commented on #309
Thanks for that @Tonyprisca13. Good thing we can't travel back in time - imagine how confused everyone would be ;)

[2018-02-12 08:45] dcpnlau commented on #302
I agree with @Keaycee: quality over quantity/how work has been done. If Google Translate was 100% accurate, it would be fine to use and we could have perfect translations at lower cost as it would be easier to do. Unfortunately, this is not the case, so a suggestion I'd like to propose:

Can we create a list of native speakers by language who are willing to proofread translated transcripts or tran

[2018-02-12 09:01] pmoorman commented on #318
yeah, totally agree with this suggestion!

@Viraculous writes:

I think this doesn't need to necessarily conflict with what @dckc is suggesting, although it's complicated to execute this properly. Variations on [the 90-90 rule](https://en.wikipedia.org/wiki/Ninety-ninety_rule) hold true in many other areas of business.

It's _much_ easier to stick with a binary done/not-done, and adjust the scope

[2018-02-12 09:18] pmoorman commented on #318
Personally (as a guy who works mostly in direct-response marketing) I like results-based rewards for a few reasons, but the main one is that it's **_fair & transparent..._**

- **High-impact performers** will want to work in an environment where it's transparent and clear that _their work_ is what made the difference (and get compensated accordingly)

- **Below-average performers** want to work in

[2018-02-12 09:25] lapin7 commented on #320
@BelovedAquila I've made you admin on Github https://github.com/rchain/Members/ and manager on rchain@googlegroups.com. You will also get forwards of ops@rchain.coop to your personal email address.
The goal is that you scan for new collaborators and ask them to register on:

- join https://groups.google.com/forum/#!managemembers/rchain/join
- accept https://github.com/rchain/Members/invitations
-

[2018-02-12 10:46] mohdhaekal opened #328 "Indonesian Translation"
Hello, sir
may i join here. because I want to translate into Indonesian.
so that people Indonesia country easier when reading it

[2018-02-12 11:29] kaka56 commented on #320
@lapin7  I will like to assist @BelovedAquila  on this.

[2018-02-12 11:38] drbloom commented on #306
Regarding issue (#133) - Large portions of the document "[SCOPE OF THE GOVERNANCE WORKING GROUP](https://docs.google.com/document/d/1U3elyL4y-H8Z6uBU61tiO0sRTWu7DeRmPjfdYgpUOKY/edit?usp=sharing)" are copied from other sources without Citation or Attribution.
See Shermin Voshmgir's Mar 12, 2017 Medium Article: [Blockchain’s Problem with Unknown Unknowns](https://medium.com/blockchain-hub/blockchain

[2018-02-12 11:40] lapin7 commented on #318
$40/hour was based on an assumption that anybody on the planet could live with $6400/month. If you would get more then you do silly things. If you get less then you're hungry for more.

And $40/hour was meant just as an indication. Probably it's more convenient to express the urgency/importance of an issue in the height of the budget. We can also take into account the Return on an issue. There wil

[2018-02-12 11:48] kaka56 commented on #328
@mohdheakal yes you can. there is an ongoing translation already on issue [251](https://github.com/rchain/Members/issues/251).
All you need to do is  join https://groups.google.com/forum/#!managemembers/rchain/join
and accept https://github.com/rchain/Members/invitations
and send your email to ops@rchain.coop
and then you can  add the Indonesian translation to start translating.
ALSO READ THIS [CO

[2018-02-12 11:51] lapin7 commented on #319
@dckc I don't know how to manage this Github Rep. I leave it up to you to make all the necessary changes/restrictions.
I've made you admin of rchain/members

[2018-02-12 11:53] tgrospic commented on #127
@AbnerZheng great work! I'm very happy to see this working. :smiley:

[2018-02-12 12:41] lapin7 commented on #320
@kaka56
That's great. Scan all comments on new collaborators and ask them to register with previous message.

[2018-02-12 13:44] jimscarver commented on #306
Adding references is something we need for the finished document. That the
document is not finished does not take away from the significant editing
done. That someone took the responsibility for the document is rare and
ought not be discouraged.

Yes Dan, I should have found the issue number yes kaecee has been active
everywhere and I certainly cannot investigate all the issues and doubt we
can ge

[2018-02-12 13:52] agentzero1 opened #329 "Filipino Translation"

[2018-02-12 14:14] jimscarver commented on #318
Supporting the attention economy was a significant design requirement of
rchain. The idea that a person's time is a scarce and finite resource and
people should be rewarded for their attention is fundamental to the world
rchain aims to enable,

But a person's time is just one thing that should be rewarded. Budgets
should cover time for both great and small contributions producing the work
product.

[2018-02-12 14:33] pythonical commented on #314
ah ha! here is the info in case anyone comes across this and is looking. i think what is in there is good enough to move on. https://github.com/rchain/Members/tree/master/style_guide_assets
am closing this out.

[2018-02-12 14:33] #314 closed

[2018-02-12 15:04] BelovedAquila commented on #329
@agentzero1 good knowing you are interested in working on the translation projects friend, let's start it up with you becoming a collaborator?
Please friend
- Join https://groups.google.com/forum/#!managemembers/rchain/join
- Accept https://github.com/rchain/Members/invitations
- Send your emailaddress + github name to ops@rchain.coop

[2018-02-12 15:09] #265 closed

[2018-02-12 15:11] BelovedAquila commented on #320
@lapin7 gladly, thank you for this privileged to help out.

[2018-02-12 15:24] rjl493456442 commented on #319
Strongly agree with this. Pull request is the recommended way instead of pushing commit directly.

[2018-02-12 16:02] agentzero1 commented on #329
How many days is the approval of membership ?

[2018-02-12 16:04] lapin7 opened #330 "O> Scan and register new Collaborators"
GOAL: get contact data of new folks on this github/rchain/members repository. This is necessary for when they get rewards and when they have to send in invoices.

Ongoing administrative task.

- [x] make @BelovedAquila admin of rchain@googlegroups.com
- [x] make forward mail to @BelovedAquila for mail about getting access to docs
- [x] create [Temp Rac Register](https://docs.google.com/spreadsheet

[2018-02-12 16:07] caratzky commented on #329
@BelovedAquila we have almost finished translating the project files into Filipino/Tagalog. @agentzero1 you may help in the other untranslated files.

[2018-02-12 16:20] agentzero1 commented on #329
what about Cebuano dialect ?

[2018-02-12 16:22] caratzky commented on #329
@josephace135  is working on it. You may help.

[2018-02-12 16:22] agentzero1 commented on #329
okay thanks

[2018-02-12 16:54] agentzero1 commented on #329
who will review my  translation you or @BelovedAquila ?

[2018-02-12 17:08] lapin7 commented on #285
Bon chance @Barkov-F with the translation :-)

[2018-02-12 17:16] ICA3DaR5 commented on #319
Git and GitHub knowledge should be a requirement. Pull Requests is a nice wall between people who know what they are doing and people who don't.

[2018-02-12 17:35] patrick727 opened #332 "M> List 60 Medium Info-Sources"
I created a tab in the [research spreadsheet](https://docs.google.com/spreadsheets/d/1M9kqbnYxotaOLtWOj7MWquE41KADZJLtwFdgDqtoEck/edit#gid=520219094)

Lets list out the medium writers/publications that our target audiences will go for information.

Target Segments:

"Mavens" - highly experienced programmers that tinkerer with new toys
"New Blockchain Developers" - less experienced devs(could be st

[2018-02-12 17:40] Viraculous opened #334 "O>Implement w3c verifiable claims api on RChain and their usecases worked out."
https://www.w3.org/2017/vc/WG/
https://www.w3.org/TR/verifiable-claims-data-model/

- [ ] Implement w3c verifiable claims api on RChain

- [ ] Get their 8 use cases.

Measure of Completion:  Implemented w3c verifiable claims on api on RChain and working use cases.
Suggested Budget:$3000
Time: Before end of March

[2018-02-12 17:48] patrick727 commented on #332
Added the first 10 to kick it off!!!

[2018-02-12 18:01] BelovedAquila commented on #329
@agentzero1 I suppose one with a deep knowledge of your dialect transcript would do the review. It won't be a bad idea working with @caratzky on that.

[2018-02-12 18:11] caratzky commented on #329
Yes, I will gladly, properly and accurately do it @BelovedAquila . @agentzero1 I have made a file in the master folder containing the english transcript. I suggest you divide it into six parts, coz there are about 7000 words in it.

[2018-02-12 18:40] #221 closed

[2018-02-12 22:17] ICA3DaR5 opened #339 "M> Translate projects/dictionary.md to Greek"
**Completed:** 0%

**Tasks:**
- [x] Create the file [dictionary_GR.md](https://github.com/rchain/Members/blob/master/projects/dictionary_GR.md)
- [ ] Translate the content
- [ ] Check the spelling
- [ ] Review each other's work
- [ ] Have it reviewed by others with knowledge of English and Greek

**Collaborators Work:**
- @ICA3DaR5: 0%
- @zero-andreou: 0%
- @thiefinshadows: 0%

**Suggested Budget:

[2018-02-12 22:55] jimscarver commented on #307
I added a few topics including objectives and oversight and then leah and I did an overall edit for clearity and language.

It may be better to set up loomio for voting rather than a form @lapin7 ?

[2018-02-12 23:14] plantether commented on #307
@jimscarver The slide title is spelled "Oversite" but it should be "Oversight"

[2018-02-12 23:24] dckc commented on #339
I recommend against investing in dictionary.md. See also #88, #105 .

[2018-02-12 23:39] pmoorman commented on #318
@lapin7 thanks for clarifying the $40/hour thing. It's also good you keep reminding people it's all still _experimental_!

I've been thinking yesterday that "result-based" isn't necessarily the same as "performance-based" as I had in mind.

Results-based as @dckc talked about it is mostly focused on **_getting paid when tasks are done_**, which it seems that most people here support.

The reward-b

[2018-02-12 23:39] dckc commented on #302
@dcpnlau writes:

That's a fine idea. Would you please do so?

I think it's worth putting some more quality control measures in place.

In #100 I requested that translation issues be specific to a source document and a language. These are not specific to a document:

 - #329 Requesting to translate to Filipino
 - #328 request to translate into Indonesian
 - #320 M>Requesting for Cebuano Translatio

[2018-02-13 00:02] dckc commented on #133
Which part of the scope document is original work?

Prompted by [@drbloom 's comment][1] I took an arbitrary sentence from another section and looked it up in google and found that the entire section on "The Meaning of Decentralization" is copied without attribution from https://medium.com/@VitalikButerin/the-meaning-of-decentralization-a0c92b76a274

[1]: https://github.com/rchain/Members/issues/3

[2018-02-13 00:08] dckc commented on #133
I'm very much conflicted... I think **wholesale copying without attribution is behavior deserving immediate and permanent revocation of contributor privileges**. And in #319, @lapin7 made me an admin. So now if I don't remove the author's contributor status in this repository, I'm complicit.

I'll stand by for a day or two for suitable explanation.

[2018-02-13 01:08] ICA3DaR5 commented on #339
So you say, I shouldn't translate this file?

[2018-02-13 01:40] hcl3 commented on #173
@sportshark Website maintenance is very much, I apply to join the site maintenance

[2018-02-13 02:15] notbdu commented on #273
Agree w/ most of what @MParlikar said. The organizations that I've worked at have generally stayed away from correlating story points to hours of labour. Reason being that the hours necessary to complete a task vary from engineer to engineer.

Story points as a measure of relative difficulty and aggregate team velocity makes total sense though.

[2018-02-13 02:52] ICA3DaR5 opened #345 "M> Translate /rchain/rholang/doc/* to Greek"
**Completed:** 100%

**Tasks:**
- [x] Create the file [rholangtut-0.1_GR.md](https://github.com/ICA3DaR5/rchain/blob/Issue-%23345/rholang/doc/rholangtut-0.1_GR.md)
- [x] Create the file [rholangtut-mercury_GR.md](https://github.com/ICA3DaR5/rchain/blob/Issue-%23345/rholang/doc/rholangtut-mercury_GR.md)
- [x] Translate the content
- [x] Check the spelling
- [x] Review each other's work
- [x] Have i

[2018-02-13 04:05] zsluedem opened #347 "M > Translate and review the develop video subtitle"
Recently I watched the develop videos from the [Rchain Youtube Channel](https://www.youtube.com/watch?v=Fs38s7nI3Uk). These videos really helped me understand the Rchain ideas.And for those who doesn't speak English would have difficulties to understand these videos.I think translation of these videos would be great for people to know Rchain better.

I found a really [*USEFUL TOOL*](https://github

[2018-02-13 04:06] JieL314 commented on #173
@sportshark The Website is become a popular and important site to spread RChain. I am happy to see the translation docs I translated been upload on it.

[2018-02-13 04:32] sportshark commented on #173
@hcl3 @JieL314 Thank you for your help ,welcom to work together!

[2018-02-13 04:40] sportshark commented on #173
@lapin7 please add @hcl3 and @JieL314  as members of issue 173 on the "Pub Member Budget Allocation-Spending",Thank you very much!

[2018-02-13 04:47] sportshark commented on #173
published the news of “RChain Newsletter 1.31” in Chinese , you can see it here http://www.rchain.site/?p=203,
published the news of “RChain Newsletter 2.2” in Chinese , you can see it here http://www.rchain.site/?p=217,
published the news of “RChain Newsletter 2.6” in Chinese , you can see it here http://www.rchain.site/?p=219,
published the news of “RChain Newsletter 2.7” in Chinese , you can se

[2018-02-13 04:54] Whisker17 commented on #347
cool

[2018-02-13 05:33] michaelizer opened #351 "O> organize translations in folders"
I suggest to create new folders for the translations instead of naming them FILENAME_LANGUAGE.md, like rchain/Members/Languages/ES/ or rchain/Members/Translations/ES/

[2018-02-13 05:42] Ojimadu commented on #347
I think the most important thing first is the review of the transcript as it usually contains lots of errors that on its own can affect the quality of translation work done.

[2018-02-13 05:57] Ojimadu commented on #309
I added a fourth agenda on translation.

[2018-02-13 07:40] Viraculous commented on #347
I second @Ojimadu,  and for better precision in translation, technical terms could be extracted  and reviewed for precise word replacements in translation by native experts with basic knowledge programming language and blockchains e.g I heard Nash Foster mentioned "Scope of extrusion" in the interview with Brad.  That's a technical phenomenon. I believe much more will be encountered

[2018-02-13 07:43] Viraculous commented on #351
@michaelizer,  I edited this issue for better organizing.

[2018-02-13 07:57] BelovedAquila commented on #351
@michaelizer that's a nice suggestion, do you have steps and plans on how to make that a reality than just suggestions?

[2018-02-13 07:59] lapin7 commented on #330
@BelovedAquila let's discuss here all invites and other administrative things.
Like did you send an email to @agentzero1 in order to accept the Github invite?

[2018-02-13 08:47] BelovedAquila commented on #330
Alright and yes @lapin7 I sent an invitation email to him, hoping he did accepts soon.

[2018-02-13 09:13] BelovedAquila commented on #274
@yyh1102 nice you want to contribute to issues,to join in,
Please friend,
- Join https://groups.google.com/forum/#!managemembers/rchain/join
- Accept https://github.com/rchain/Members/invitations
- Send your emailaddress + github name to ops@rchain.coop

[2018-02-13 09:23] kaka56 commented on #251
The Spanish  translation [#263](https://github.com/rchain/Members/issues/263) is now complete

[2018-02-13 09:27] BelovedAquila commented on #282
@wordsandstuff why not become a collaborator to assist in resolving issues for better job well done?to do that,
Please friend,
- Join https://groups.google.com/forum/#!managemembers/rchain/join
- Accept https://github.com/rchain/Members/invitations
- Send your emailaddress + github name to ops@rchain.coop

[2018-02-13 10:34] pythonical commented on #133
Is there a blurb about intellectual theft on the member sign up document? If not there should be an ‘acceptable use’ policy.