[2018-05-09 07:11] ResonanceXX commented on #664
Discovering the bug.

@kitblake You have hastily concluded without any bit of effort, view the error mails I received after sending couple of emails to the address. Just to be sure.

I didnt see the typo. I worked out an incorrect email address. @lapin7 changed that.
Denigrating the quality of the work? Are we?

I think that plenty of people visited the page.
@resonanceXX saw the bug.

[2018-05-09 07:31] Pionelle commented on #664
I will be back down on this vote for him
This are my first times on here. Maybe he overstated the importance f his finding

Sent from Yahoo Mail on Android

  On Wed, 9 May 2018 at 8:23, Chris Ken<notifications@github.com> wrote:
As per governance model, the other members are at liberty to be influenced by the above.

But arriving at such conclusions do not placate members who (eagle eyed) will lo

[2018-05-09 09:00] lapin7 commented on #664
We have to be careful about claiming RHOC for small tasks. The Board of RChain is getting **extremely irritated** by the way RAM's are rewarded !!!!!
This may result in closing down the whole program !!!!

[2018-05-09 09:03] lapin7 commented on #671
Only native French speakers are allowed to translate.

[2018-05-09 09:31] Andrekuipers commented on #672
@pmoorman I'm in for the member site.

[2018-05-09 12:51] pmoorman commented on #672
Guys, I've added people based on the comments above.

- There are 4 guides now in "member website", but since @Andrekuipers is keen (and he's actually building the site), I think he should definitely be in there. Also makes it easier for Ian, for instance.

- @casanwugo please be a bit more specific. What expertise do you have? Where would you like to help?

---

@dckc said:

I plan to make a sepa

[2018-05-09 13:30] zsluedem commented on #594
@TrenchFloat not really a scala developer. May find to time the take a look

[2018-05-09 13:57] jasoncruzzy commented on #669
@Barkov-F "per view" compensation might  not enhance performance of members at this early stage but it might be good if the "Rhoc per view" varies with different task. Great idea!

[2018-05-09 14:19] jasoncruzzy commented on #672
@pmoorman  If the slot for 'social media' is still available, I will love to help out in that aspect of 'marketing'...Great Job Man

[2018-05-09 14:35] entropee commented on #672
I want to join the part of the social media team that helps with discord, telegram, mattermost, etc. I see that as broader than just marketing, however.

[2018-05-09 15:15] philipandri002 commented on #672
@pmoorman since I am a social media online strategist and marketer, I would love to be assigned to carry out such responsibility..

My  idea is to get broadcast RChain on social media thereby creating the much needed attention and understanding that will make RChain a recognised block chain..

Waiting for a quicker response..the link is a proof of of one of the publishing RChain on social media an

[2018-05-09 15:33] kitblake commented on #664
Chris, it's really important that we follow the procedures. When you make a new issue there's a template and it's supposed to filled in with a Budget (and Timeline and Measure of Completion).

Deleting the budget in the issue, and then adding a budget in the Budget/Rewards system is NOT how it works.

If an issue isn't properly filled in, with a budget, it shouldn't have a budget or a reward.

You

[2018-05-09 15:40] noordaa commented on #262
Hang on I will ask Svetlana once again and will let you know next week

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Donald A. Iljazi <notifications@github.com>
Sent: Tuesday, May 8, 2018 7:28:03 PM
To: rchain/bounties
Cc: noordaa; Mention
Subject: Re: [rchain/bounties] M> Serbo Croat version (#262)

@lapin7<https://github.com/lapin7> @noordaa<https://github.co

[2018-05-09 16:12] dckc commented on #653
I see the whole $3000 budget was claimed, but I'm struggling to find the results from https://developer.rchain.coop/ or even https://github.com/rchain/rchain/tree/master/docs/rholang . Oh... the issue description says the target is gdrive. I don't see how that's valuable -- how does the audience find it? Translations should appear right next to the originals, no? And the target isn't even publishe

[2018-05-09 16:29] casanwugo commented on #672
@pmoorman,,, thanks for the response! I am available to assist in the African guide, as well as education.

[2018-05-09 16:42] philipandri002 commented on #662
I already have great content and articles concerning RChain for the site but I am having a liitke challenge in accessing my account.

[2018-05-09 16:47] casanwugo commented on #672
I'd like to assist @David405 in the Africa lead,,, and also @Ojimadu in Events. Thanks

[2018-05-09 17:22] allancto opened #677 "Principled Rewards for Active Contributors"
**Title** Principled Rewards for Active Contributors

**Purpose**
The RChain “bounty system” is a key component of what makes the RChain Cooperative a cooperative. This system allows members of the community to suggest issues and improvements, and provides a mechanism where Active Members may contribute and have their contributions recognized with “rewards”. In some cases it allows contributors to

[2018-05-09 18:19] TrenchFloat opened #678 "Retrospective Bounty Progress Report"
Compose a report of progress the bounty system has made to address the board's concerns on the benefits of the bounty system:

 -  [201804 Bounty Progress Report](https://docs.google.com/document/d/18TfJWqAREEyr0wQdGb_UOxrFVk4KOigdFgpf7bV2ZL8/edit?usp=sharing)

This particular report should cover everything from 201704 to 201804, but from now on perhaps quarterly or monthly reports will be compose

[2018-05-09 18:31] JUANITA-MAYBEL commented on #672
@TrenchFloat I would love to help out in Education.
@pmoorman I would also love to assist in the Lead for Africa

[2018-05-09 18:41] kitblake opened #679 "20180509 RChain Active Members Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [x]  Prepare[ RAM meeting agenda.](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.7k8dkrj6f299)
- [x]  Any key discussion poin

[2018-05-09 18:43] Keaycee commented on #672
@pmoorman It's a very nice idea. I can take on the **social media** and also assist in leading the African communities. I already created some [Facebook](https://web.facebook.com/rchaincooperativeafrica/) and [Twitter](https://twitter.com/RChain_Africa) channel for the up coming RChain web forum. see issue #662

[2018-05-09 18:48] kaka56 commented on #672
@pmoorman  I can assist in education and social media.

[2018-05-09 19:12] Viraculous commented on #672
@pmoorman, I would be glad to be among the leads on Social Media platform and Education. I have already strategized on the techniques to publicize RChain platform to the audience, reach out to influencers of technologies and get them on-boarded.

[2018-05-09 19:53] truffard commented on #653
@Pionelle @BelovedAquila @dckc I made so many corrections on the document ....They' re not reflected and none of the comments I made show up... Where are they?

[2018-05-09 20:02] JUANITA-MAYBEL opened #680 "Blog Post: RChain Cooperative & How to join the community on Quora"
Quora is a question and answer community, where questions are asked on every aspect of life, answered, edited and organized by members of the community. From statistics, it has above 100 million users monthly. The post will enlighten members on the new emergent blockchain platform and RChain beginners guide on how to join the community.

READ BLOG [HERE](https://rchaincooperative.quora.com/RCHAIN-

[2018-05-09 21:05] kitblake commented on #653
@BelovedAquila You deleted this comment from @truffard:

Pourquoi ?

[2018-05-09 22:01] truffard commented on #653
@kitblake @dckc apparently one can claim a bounty even if the job is incomplete.The document is a gibberish of french

[2018-05-09 22:04] noordaa commented on #262
Svetlana will pick it up

Get Outlook for iOS<https://aka.ms/o0ukef>
_____________________________
From: Jan Marc van der Noordaa <jan_marc_van_der_noordaa@hotmail.com>
Sent: Wednesday, May 9, 2018 5:39 PM
Subject: Re: [rchain/bounties] M> Serbo Croat version (#262)
To: rchain/bounties <reply@reply.github.com>, rchain/bounties <bounties@noreply.github.com>
Cc: Mention <mention@noreply.github.com>

[2018-05-09 23:51] kennyrowe commented on #616
To be clear the coop will not hold payment of bounties while these issues are being sorted out.

[2018-05-10 00:02] nonnykul opened #681 "Getting tertiary institutions in Africa involved in RChain"
*Describe how the building and implementation of this task will benefit the RChain Membership or the RChain blockchain:*

Among students in African universities, there would be many students interested in RChain and able to apply Rholang and RChain technologies in Africa, a medium is being put in place to get developers from Africa involved in Rholang development.
,

_Estimated Budget of Task:_ **

[2018-05-10 00:18] nonnykul commented on #681
African students especially those of Computer science and Engineering departments have shown to be more receptive to newer technology than their peers.

Since, a lot of these students are frequent on WhatsApp, I intend to go about this using WhatsApp ads and groups.

[2018-05-10 00:46] casanwugo commented on #677
@allancto,, many thumbs-up for this beautiful piece... But I think the date on "Time frame and measure of completion" is incorrect. Please have a relook on that and do the needful. Kudos!

[2018-05-10 00:49] dckc commented on #616
@lapin7 wrote:

Meanwhile, @kennyrowe and, I think, @ian-bloom have expressed support for [Bounty Task Guides](https://github.com/rchain/bounties/wiki/Bounty-Task-Guides) in light of the discussion in #672 . @Jake-Gillberg  and @kitblake and I were OK with turning it on as early as April. I think @jimscarver expressed support in a RAM meeting for giving it a trial by fire.

So I just turned it on,

[2018-05-10 00:50] dckc commented on #375
Based on discussion in #616 and #672, I turned the trust metric on for **201805**.

[2018-05-10 00:51] dckc commented on #672
Based on discussion here and in #616 and #644, I turned the trust metric on, provisionally, for **201805**.

[2018-05-10 00:52] dckc commented on #261
I turned on slashing along with the trust metric (#375), provisionally, for **201805**; see discussion in #616 for more.

[2018-05-10 01:00] zsluedem commented on #672
@pmoorman Since there is on one else in China involved with the lead of marketing in China., I'd love to do a favor with that. I am not a really marketing guy.(I am more into the development), but try to do my best of it.
Do we still have to have 3 leads in the marketing area zone?

[2018-05-10 01:14] dckc opened #682 "disallow votes on issues created after the current pay period"
#653 was created May 2, but some budget and rewards are scheduled to apply in the April pay period, since votes thru May 8 apply to the April pay period. I suspect it was a mistake. In any case, it's causing problems for the participants to work out the budget and rewards together.

Let's tweak the app to prevent this unfortunate case from happening again.

I'm inclined to apply this retroactively

[2018-05-10 01:32] dckc commented on #672
I notice that at least a few of the people who have volunteered to serve as guides are not among the [people certified by the trust metric][1]. If you're not certified, you won't be able influence budgets and rewards if/when we use the trust metric (#375).

Two suggestions:
  1. Edit your github profile to tell us about yourself; use the URL to point to a site with your resume or the like (e.g. li

[2018-05-10 01:39] dckc commented on #375
I bumped up the expected number of apprentices / journeyers / masters to 45,25,15.

 - 21d91ee trust metric: bump up qty of good nodes

[2018-05-10 04:51] zsluedem commented on #558
I have asked @jiyuxuan1944 and this work has been finished. I'm going to close it.

[2018-05-10 04:51] #558 closed

[2018-05-10 04:55] zsluedem commented on #457
I have asked @JieL314 and this task has been done by someone else.

[2018-05-10 04:55] #457 closed

[2018-05-10 04:55] zsluedem commented on #438
I have seen this one has been finished.And I am going to close it now.

[2018-05-10 04:55] #438 closed

[2018-05-10 05:04] zsluedem commented on #304
this one has been done on Feb. Closing it now .

[2018-05-10 05:07] zsluedem commented on #270
I have seen the CHinese white paper in Chinese QQ group. And this one should be closed now.

[2018-05-10 05:08] zsluedem commented on #271
I have seen the CHinese white paper in Chinese QQ group. And this one should be closed now.

[2018-05-10 05:08] #271 closed

[2018-05-10 05:13] AbnerZheng commented on #246
@ICA3DaR5 The work for translation and review is done. But I think this should be deployed on the official site of RChain readthedocs. So I leave this open.

[2018-05-10 05:25] zsluedem commented on #230
@sportshark told me this one has been done already~

[2018-05-10 05:32] zsluedem commented on #152
This one has been done already.

[2018-05-10 05:32] #152 closed

[2018-05-10 07:34] Staff91 commented on #671
Hello @lapin7 ! Should we translate this video to Italian?

[2018-05-10 07:43] nonnykul commented on #591
Nigeria tertiary institution will be a great means to create active RChain members,most discipline in institution have platforms to disseminate information.I will like to use my disicipline/institution as a case study

[2018-05-10 07:44] Staff91 opened #683 "Update rholangtut-0.3.md to Italian"
# Issue

## Original (English) Content
- [rholangtut-0.3.md](https://github.com/rchain/rchain/blob/master/docs/rholang/rholangtut-0.3.md)

## Translated (Italian) Content
- [ ]()

## Tasks
- [x] Download the original (English) content.
- [ ] Translate the content.
- [ ] Check the spelling.
- [ ] Review each other's work.
- [ ] Have them reviewed by others with knowledge of English and Italian.
- [

[2018-05-10 08:02] nonnykul commented on #592
@David405,using a discipline in Nigeria tertiary institution as a case study,will create active members in RChain community.Tertiary institutions make use of platform to voice Info's,penetrating the platform to get people acquitted with RChain,will be a good marketing strategy

[2018-05-10 08:09] Staff91 opened #684 "Update the CONTRIBUTING/CONTRIBUTING_IT.md file"
# Issue

## Content
- [CONTRIBUTING_IT.md](https://github.com/rchain/bounties/blob/master/CONTRIBUTING/CONTRIBUTING_IT.md)

## Tasks
- [ ] Translate the content.
- [ ] Check the spelling.
- [ ] Review each other's work.
- [ ] Have them reviewed by others with knowledge of English and Italian.
- [ ] Create a [Pull Request]()

## Collaborators
- @Staff91: 10%
- @akhs13 : 0%
- @Chris-Arv  : 0%

---

[2018-05-10 08:25] lapin7 commented on #592
@all If you see a new face in RChain/bounties then please paste this "ToDoInfo" addressed to the new face.

@nonnykul
## To contribute to RChain, please do (if you haven’t done so already):

- [ ] Watch video https://www.youtube.com/watch?v=vcIZSZmpO9E&feature=youtu.be
- [ ] Watch presentation: https://docs.google.com/presentation/d/1B2Vu8o3ACwruY6HY1ayXRQ4qkNKsMy4hdbOdxrCHI2o/edit#slide=id.g3827e

[2018-05-10 08:29] lapin7 commented on #671
Please ask @ICA3DaR5, @zero-andreou

[2018-05-10 08:33] zsluedem commented on #425
This one is ok to close!

[2018-05-10 08:39] Staff91 commented on #671
@lapin7 Thank you!
@zero-andreou What do you think about it?

[2018-05-10 09:03] David405 commented on #672
@dckc I have added a URL to my LinkedIn on my github profile

[2018-05-10 09:03] David405 commented on #672
@dckc I have added a URL to my LinkedIn on my github profile

[2018-05-10 09:18] David405 commented on #662
@philipandri002 we are working to fix the oauth bug, a lot of persons have made similar complaints too

[2018-05-10 09:36] jasoncruzzy commented on #672
@dckc I have added a URL to my LinkedIn on my github profile as requested.

[2018-05-10 09:39] Ojimadu commented on #669
"Per view" is a good performance-based option but I think there should be a cap on the number of views the coop should pay for at a given rate for X amount of time so as to prevent the use of traffic bots to a given content.

[2018-05-10 09:41] Valentine-Mario commented on #682
I had the same conflict sometime ago. It would be good if it is verified so that in future times, issues created for a particular month only get reward for that month.

[2018-05-10 09:44] Valentine-Mario commented on #681
I think with the high population of software enthusiast in tertiary institutes, we should also focus on how we can on board more developers from this large pool of enthusiast.

[2018-05-10 09:47] Valentine-Mario commented on #672
@pmoorman  I would like to be involved in development and social media

[2018-05-10 10:00] nonnykul commented on #592
Creating a WhatsApp group,inviting engineering and computer science discipline,making them acquainted with RChain

[2018-05-10 10:12] nonnykul commented on #681
Creating a WhatsApp group,due to the high participant of student in Africa using WhatsApp,getting them acquainted to RChain activities

[2018-05-10 10:34] Valentine-Mario commented on #681
Due to the structure of WhatsApp, I think the application is highly ineffective for this task. I suggest a platform that is more publicly accessible and allows collaboration should be used. So that the progress curve can be measured.

[2018-05-10 10:56] nonnykul commented on #681
@valatine-mario,measuring of progress,a google document can be used.

[2018-05-10 11:09] Ojimadu commented on #591
Like dckc said

, imo putting work going on there would better to effectively gauge the value and contribution to the coop. Along with sufficient information like KPI etc.

[2018-05-10 11:36] Barkov-F commented on #669
[image: habraviewcount05102018.png]I think we should cap it at 10 thousand
views per day.  Of course, we have to mind what platform is being used.
Maybe more active ones should have a more generous limit.

On Thu, 10 May 2018 at 12:39 Ojimadu <notifications@github.com> wrote:

[2018-05-10 11:44] zero-andreou commented on #671
@staff91 I will consult with @ica3dar5 and get back to you. We created some subtitles 2 months ago and they still haven't been uploaded, so we're trying to figure it out.

[2018-05-10 12:57] Staff91 commented on #671
@zero-andreou We already know that the translated subtitles haven't been uploaded @ICA3DaR5 and that's why we created an italian youtube channel so that we can upload the subtitles there.If there are already english subtitles for any important video like that above, we can translate them to italian with a budget around 1200$.What's your opinion about it?

[2018-05-10 13:27] Valentine-Mario commented on #681
What about public accessibility? And the limit to the number of users per group?

[2018-05-10 13:49] philipandri002 commented on #681
This is a great idea but i think whatapp has very limited number of people it group can carry so I will suggest using a telegram

And there is already an RChain Africa telegram group..

I suggest @nonnykul you reach out to @David45 for clarity.

However the concept and idea is great

[2018-05-10 14:07] #667 closed

[2018-05-10 15:02] allancto commented on #678
@TrenchFloat , great proposal.
1. The suggested budget is described as 9*$150 + $450. Can you give some color as to what this represents? Why is the marketing portion 3 times the others, or in reverse, why are all the others all the same as each other?

2. Is it likely that the rewards for this issue will be voted on by the same people who are assigned to it, would that represent a conflict of int

[2018-05-10 15:18] David405 commented on #662
@kencode7 great! May I know your skillset

[2018-05-10 15:31] ResonanceXX commented on #664
@dckc @kitblake @lapin7 Okay. Thank you very much. I understand. I do not wish to contest your opinions and/or selective bias on this case. The reward should be undone. Whatever the importance of my findings were, I renege on being rewarded for that.
Importantly, I would want to ascribe little blame on my non-receipt of March rewards. It was in seeking correspondence with ops/@lapin7 that I was ch

[2018-05-10 15:59] #664 closed

[2018-05-10 16:07] allancto commented on #672
@Jake-Gillberg @pmoorman  I would like to be added to voting

[2018-05-10 18:37] jimscarver commented on #677
Integrating comments can come later. the discussion of the issue is one click away so we need not reinvent the wheel. see my embryonic review app https://rhobot.glitch.me/

[2018-05-10 18:47] ICA3DaR5 opened #685 "Translation Guide (DRAFT)"
# Translation Guide (DRAFT)

## Text Content

| Title & URL                                                                                                                                                                                          | Type                | Version | Last Updated       |
| --------------------------------------------------------------------------------------------------

[2018-05-10 19:12] ICA3DaR5 opened #686 "Translate "RChain Weekly Update (Debrief 75) — 02 May" blog post to Greek"
# Issue

## Original (English) Content
- [RChain Weekly Update (Debrief 75) — 02 May](https://medium.com/rchain-cooperative/rchain-weekly-update-b3b9fbd480f7)

## Translated (Greek) Content
- [ ]()

## Tasks
- [x] Copy the original (English) content to the [RChain Cooperative — Greek](https://medium.com/@rchain.gr) Medium blog.
- [ ] Translate the content.
- [ ] Check the spelling.
- [ ] Review ea

[2018-05-10 20:39] allancto commented on #677
@casanwugo thanks for your correction, i edited to reflect this.
@jimscarver that embryonic review app will be awesome, but what I'm referring to above is integrating comments and analysis into voting. The rationales a person has within a vote are an integral part of the vote. We do have examples where people have discussed rewards as comments within issues, that's good as well but not a substitut

[2018-05-10 21:09] nonnykul commented on #681
More students in Africa tertiary institution make use of WhatsApp,I believe it would be a better medium for students to become RChain members.

[2018-05-10 22:10] #586 closed

[2018-05-10 22:16] ICA3DaR5 commented on #539
I found out that [Ghost](https://ghost.org/) supports multiple languages.

Ghost is also very minimal and the blog posts are written in Markdown (with a Markdown toolbar available and live preview).

Also, we can host it on our own servers. What do you guys think?

[2018-05-10 22:32] truffard commented on #685
@ICA3DaR5 thanks so much!

[2018-05-11 00:06] swanzer commented on #677
Nice write up @allancto Well done.  I appreciate the effort in trying to be clear and detailed.  And I like the honest (and realism) of programs needing refinement over time.  It doesn't matter the type of organization; making small improvements is necessary to stay current to the times.
My first "pause" comes though about in the 2nd paragraph for I don't know why 'Sprint 1' needed replacement, an

[2018-05-11 00:17] Kencode7 commented on #662
@David405 Front-end developer
Intermediate pHp

[2018-05-11 02:55] dckc commented on #678
I see a significant overlap with #637; I hope we can combine efforts.

[2018-05-11 03:45] allancto commented on #678
Dan, i think 637 is much more financial data oriented and this iiuc is about what value the coop receives and how projects are guided in the bounty system. I agree with @trenchfloat that this is an important part of bounty system governance.

[2018-05-11 03:46] dckc commented on #682
An idea from a brainstorming session today with @barneycinnamon , @ICA3DaR5 , @allancto  was to use trust metric weight to decide which votes to postpone for review. So for each of the 10 issues in question, the weight of the reward voters along with the currently scheduled reward follows. In a separate comment, I'll make a suggestion based on these data:

<TABLE>
<TR>
	<TH>
		pay_period
	</TH>
	<

[2018-05-11 03:59] dckc commented on #682
I moved all but #648 and #657, which had >10 weight each.

[code]
Then I turned those two triggers back on (see https://github.com/dckc/rchain-dbr/blob/master/dbr_triggers.sql ).

[2018-05-11 04:03] dckc commented on #653
@truffard as noted in #682, in collaboration with some others, I moved the votes on this issue to May so that the negotiation isn't rushed.

[2018-05-11 04:16] dckc commented on #678
@Jake-Gillberg I jotted down some notes on Dev work funded by the bounty program.

[2018-05-11 04:44] barneycinnamon commented on #682
@lapin7 When reviewing invoices, you can check to confirm that the people listed below didn't accidentally include in their April invoice rewards associated with the issues beside their usernames in the table here. I believe the query that generated these was based on issue votes, so it is possible some of these people voted on rewards for associated issues but didn't receive rewards themselves (n

[2018-05-11 04:47] dckc commented on #616
In [May 9 governance meeting minutes][1] I see:

Well, my position is that the proposal I wrote up May 2 above does comply with the Apr 6 TOS decision.

This issue as a whole invites discussion of any plan. I haven't seen any specific alternatives. What plan do you prefer, @ian-bloom ? Who do you propose should be on the committee? How should it make decisions? When should it start?

@evanjensen a

[2018-05-11 07:01] truffard commented on #653
@dckc as you mentioned earlier 0.2 is obsolete. I unassigned myself from the issue

[2018-05-11 10:13] Staff91 opened #687 "Translate "RChain Weekly Update (Debrief 75) — 02 May" blog post to Italian"
# Issue

## Original (English) Content
- [RChain Weekly Update (Debrief 75) — 02 May](https://medium.com/rchain-cooperative/rchain-weekly-update-b3b9fbd480f7)

## Translated (Italian) Content
- [ ]()

## Tasks
- [x] Copy the original (English) content to the [RChain Cooperative — Italy](https://medium.com/@rchain_it) Medium blog.
- [x] Translate the content.
- [ ] Check the spelling.
- [ ] Review

[2018-05-11 14:50] jasoncruzzy commented on #677
@allancto the work on sprint2 is great but just a slight adjustment to the already existing plan. Areas like the 'Budgetary reward' for task needs a new template to ensure transparency. I think that should be our  prior area of focus.

[2018-05-11 15:00] ICA3DaR5 commented on #653
@truffard @dckc Is there a rholang-spec-0.3 somewhere? Can't find it on the [developers](https://developer.rchain.coop/) website.

[2018-05-11 15:02] ICA3DaR5 commented on #246
@AbnerZheng mobile-process-calculi-for-blockchain is obsolete, so that may never happen.

[2018-05-11 15:13] dckc commented on #246
Obsolete? What takes its place? What did I miss?

On Fri, May 11, 2018, 10:03 AM Donald A. Iljazi <notifications@github.com>
wrote:

[2018-05-11 16:06] #618 closed

[2018-05-11 16:07] #613 closed

[2018-05-11 16:58] ICA3DaR5 commented on #246
@dckc It's more than a year old. I don't know what takes it's place. Should this be translated?

[2018-05-11 17:03] azazime commented on #677
I personally would like us to focus on this "Design and implement an improved rewards/budgeting tool: improve the voting system by adding discussions of reward suggestions and analysis by proposers and reviewers, integrated directly with votes (improvement to the current voting tool)" as it would help to synchronize the entire process

[2018-05-11 17:08] azazime commented on #675
I'll suggest a link be generated for RChain and posted on hashnode

[2018-05-11 17:10] ICA3DaR5 commented on #472
I still have no response on the [Pull Request](https://github.com/rchain/mobile-process-calculi-for-blockchain/pull/5)

[2018-05-11 17:18] Keaycee commented on #675
It's a good job putting up the RChain Cooperative on hashnode with some briefing to enlighten some developers about the RChain Blockchain  and also how they can be on boarded. Good one @JUANITA-MAYBEL .  There is already a link @azazime

[2018-05-11 17:32] allancto commented on #677
@swanzer yes, I apologize in advance for being inarticulate. "Sprint" refers to incremental work, incremental improvement in a code base. Here "sprint 1" refers to the initial rewards program and the tools developed to get it moving, implemented over a year ago and continuously used and improved.  Right now we do not want to distract @dckc from the excellent and incredibly important and time criti

[2018-05-11 17:39] allancto commented on #677
@jasoncruzzy would you participate on this issue and perhaps show in a doc or graphic design what your idea is for a template to ensure transparency might be? @azazime would like to collaborate @jasoncruzzy  on that design? @AyAyRon_P will be interested as well if he's guiding UX work within this issue.

@jasoncruzzy, @azazime, @swanzer and @AyAyRon_P please keep track of your ongoing time and eff

[2018-05-11 18:09] ICA3DaR5 opened #688 "Translate " RNode v0.3.1 introduces the RChain consensus protocol" blog post to Greek"
# Issue

## Original (English) Content
- [RNode v0.3.1 introduces the RChain consensus protocol](https://medium.com/rchain-cooperative/rnode-v0-3-1-introduces-the-rchain-consensus-protocol-23e67666ba82?source=collection_home---6------1----------------)

## Translated (Greek) Content
- [Το RNode v0.3.1 συμπεριλαμβάνει το πρωτόκολλο συναίνεσης του RChain](https://medium.com/@rchain.gr/%CF%84%CE%BF-r

[2018-05-11 20:07] nonnykul commented on #681
@jassoncruzzy,a gud idea yu av established, noted.will work on the the telegram group

[2018-05-11 21:56] jasoncruzzy commented on #677
Ok I will work on something

On May 11, 2018 18:39, "allancto" <notifications@github.com> wrote:

[2018-05-11 21:58] jasoncruzzy commented on #681
Yes the telegram group will be for different tertiary institutions, each
institution should have its own. This way we will on board developers much
faster

On May 11, 2018 21:07, "nonnykul" <notifications@github.com> wrote:

[2018-05-11 23:07] nonnykul commented on #680
A good concept you have there,will definitly want to be a part of it

[2018-05-12 00:27] ResonanceXX commented on #629
![screenshot-2018-5-12 stats for your stories may 4 may 11 - inbox - yahoo mail](https://user-images.githubusercontent.com/34219332/39951612-8098f268-5583-11e8-9eb1-06a7fe7424e9.png)
Hello cooperative. The numbers so far, on the articles published.

[2018-05-12 00:33] Viraculous opened #689 "RChain Weekly Update (Debrief 76) 20180509"
Rchain Weekly Update
[Debrief 76](https://docs.google.com/document/d/1p0COqsp2rJ8PwAAdG6wmL33-TaroxNkUDhH9JwYOah4/edit?usp=sharing)
- [x]  Watch [video](https://www.youtube.com/watch?v=Eo66SmYwKRA#t=55m50s) of the Debrief
- [x]   Write textual run down
- [x]   Upload to RChain medium

Budget: $250

[2018-05-12 00:41] ResonanceXX commented on #197
http://qr.ae/TUTCcU

[2018-05-12 00:51] ResonanceXX commented on #197
https://medium.com/rchain-cooperative/rnode-v0-3-1-introduces-the-rchain-consensus-protocol-23e67666ba82

This is good news. I am including the link only and giving full credit to @Nash Foster. The milestone effect will validate my precious assertions that Mercury launch is impending.

[2018-05-12 01:00] #636 closed

[2018-05-12 01:01] philipandri002 commented on #689
@Viraculous I wish to collaborate on this issue.

[2018-05-12 01:01] #213 closed

[2018-05-12 01:02] #668 closed

[2018-05-12 01:05] allancto commented on #678
Y'all below are listed as the lead guides in defined label areas. At last week's RAM meeting I promised to summarize the "state of the bounties" so I'd like to get a preview of what's going on in your guided areas. I'm happy to do that one on one in discord dm or in a shared google document. @dckc you've already jotted down some notes for the dev label, are those available?

Thanks for responding!

[2018-05-12 01:51] Viraculous commented on #208
Thanks a lot, @jimscarver for reviving the fire on this issue. Right from my onboarding to the platform, I have been so much concerned about the need for member education in building the RChain platform. I strongly believe that to build a sustainable, a self-sufficient system, adequate education must be valued.

[2018-05-12 02:06] philipandri002 commented on #685
@ICA3DaR5 please can you explain in details what should be done and how can I collaborate on this

[2018-05-12 02:46] lover33 commented on #616
@dckc

Great meeting here! Will there now be a new more streamlined process for bounties moving forward?

[2018-05-12 06:40] allancto commented on #616
Guys, I'd appreciate your help on #678 where we have an opportunity to explain to all the members of the Cooperative, not just our little group, what benefit the bounty system provides the community and what the actual costs are. @ian-bloom is absolutely correct, #616 does not implement the terms of our board resolution, so we had better have a good explanation to the membership. I've asked each o

[2018-05-12 06:55] allancto commented on #672
Anyone working as a lead guide or even as a guide: I will personally vote to slash the budget for this issue #672 if we don't get support on #678. It needs to be a duty of the lead guide for each label to responsibly articulate to our membership and our board- supported with data- the contribution each label is making to the RChain Cooperative and the RChain Community.
/cc @pmoorman @dckc @TrenchF

[2018-05-12 10:15] casanwugo commented on #672
@dckc I have added a URL to my github profile. Thanks

[2018-05-12 11:51] ICA3DaR5 commented on #685
@philipandri002 Please read the following:

1. https://github.com/rchain/bounties/blob/master/README.md
2. https://github.com/rchain/bounties/blob/master/CONTRIBUTING.md
3. https://github.com/rchain/bounties/wiki

[2018-05-12 15:25] David405 commented on #662
@Kencode7 that's cool

[2018-05-12 15:26] David405 commented on #662
@philipandri002 the bug has been fixed, you may create a new account now or sign up using your google or twitter account.

[2018-05-12 16:57] lover33 commented on #616
@allancto

great response! I can offer a social media presence. If there is a general consensus posted, I can create youtube videos simplifying the process. My videos can be used in the discord and website for members to easily access the information. I suggest have two forms of medium. Sometimes the written directions can be confusing, a video walk through is how most people process nowadays.

[2018-05-12 17:14] ResonanceXX commented on #197
http://qr.ae/TUTF9H

My longest answer in a while. Users like him can be given better information. Rchain may be their first inroads into the crypto space.

[2018-05-12 17:25] ResonanceXX commented on #197
http://qr.ae/TUTFiY

[2018-05-12 17:59] pmoorman commented on #677
@allancto I'm confused what _specifically_ we're actually trying to achieve with this issue. Could you describe in 1 sentence what the goal / purpose is of this issue? What tangible thing will come out of this issue?

[2018-05-12 18:09] pmoorman commented on #616
@allancto @lover33 let's please focus our comments on the issue at hand here. This stuff belongs under #678. It's frustrating if an issue doesn't get the traction you're looking for, but Discord is a better place to discuss things, and keep Github issues focused.

[2018-05-12 19:37] dckc commented on #653
As I noted above, "I see an 0.3 in https://github.com/rchain/rchain/tree/master/docs/rholang . "

[2018-05-12 19:48] dckc commented on #246
Doesn't we recently rediscover rules on what to tanalate in ISSUE_TEMPLATE.md?

Please don't ask me without making it clear that you tried hard to find the info yourself. I'm no authority on what to translate. I can only help find records of discussion.

[2018-05-12 19:52] dckc commented on #678
Yes, I put my notes in the doc as requested above. Please try harder to find stuff before asking me.

[2018-05-13 01:46] allancto commented on #677
@pmoorman good question, one sentence: Align bounty system rewards with value received by our Cooperative. Two sentence: make rewards, value, and progress on issues transparent. Three sentence: provide a technological (and cultural) framework to make all of this participatory for Cooperative members.

[2018-05-13 09:10] Howsoonisnow opened #690 "Translate rholangtut-0.3.md to Croatian"
# Issue

## Original (English) Content
- [rholangtut-0.3.md](https://github.com/rchain/rchain/blob/master/docs/rholang/rholangtut-0.3.md)

## Translated (Croatian) Content
- [rholangtut-0.3.hr](https://drive.google.com/drive/u/0/folders/0BwX0krsxHncTUjNKUnZuOVZGLWc)

## Tasks
- [x] Download the original (English) content.
- [x] Translate the content.
- [x] Check the spelling.
- [x] Review each oth

[2018-05-13 09:54] Valentine-Mario commented on #662
The forum has also been modified, you can now either ask questions or create a discussion.

[2018-05-13 10:42] JUANITA-MAYBEL commented on #680
It's parts of the goals to sell out RChain Cooperative to people out there, to create more awareness about the new emergent blockchain technology and their executive members by creating awareness. As a member of the RChain community, I see prospect in RChain Cooperative and i'm willing to create more awareness.

[2018-05-13 12:49] Cryptovideos commented on #682
@dckc Howzt Dan - sorry to worry you but does this mean i must not do #649? im still not up to speed on this technical stuff - apologies

[2018-05-13 13:45] dckc commented on #682
No, it just means votes for #649 belong in the May pay period, not April.

[2018-05-13 13:46] Cryptovideos commented on #682
Tsk Dan all good!

On 13 May 2018, at 15:45, Dan Connolly <notifications@github.com<mailto:notifications@github.com>> wrote:

No, it just means votes for #649<https://github.com/rchain/bounties/issues/649> belong in the May pay period, not April.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/rchain/bounties/issues/682#issuecomme

[2018-05-13 14:30] Murphy6 commented on #681
That is a very good idea... But due to the fact a lot of students can not be added through watsapp channel who can comeup with telegram that accepts over thousand members. A lot of African youths would be waiting for an opportunity this big but we basically need to promote this and send information across.

[2018-05-13 16:09] nonnykul commented on #681
@murphy6.already on the telegram group,getting to know people from different varsities in Africa,introducing them to RChain

[2018-05-13 19:49] Staff91 opened #691 "Translate " RNode v0.3.1 introduces the RChain consensus protocol" blog post to Italian"
# Issue

## Original (English) Content
- [RNode v0.3.1 introduces the RChain consensus protocol](https://medium.com/rchain-cooperative/rnode-v0-3-1-introduces-the-rchain-consensus-protocol-23e67666ba82?source=collection_home---6------1----------------)

## Translated (Italian) Content
- [ ]()

## Tasks
- [x] Copy the original (English) content to the [RChain Cooperative — Italy](https://medium.com

[2018-05-13 19:53] Staff91 commented on #670
Finished.

[2018-05-13 19:53] #670 closed

[2018-05-14 03:14] #689 closed

[2018-05-14 09:46] pmoorman commented on #672
Hey all, I stated as the goal of this issue:

Seems like we've successfully done that! Some sub-labels of marketing still require guides, and some functional areas lack a 3rd guide, but I think it's good enough for now to start looking for next steps.

For now I'll leave this issue open for another week or so, and after that it can be closed.

[2018-05-14 09:57] pmoorman opened #692 "reboot Marketing bounty budgets"
### Context
See [this comment](https://github.com/rchain/bounties/issues/672#issuecomment-387727941) in issue #616.

The budgets & bounties for marketing should align with the [recently approved marketing plan][1], and we should make sure that...

1. We don't spend a lot of marketing bounty budget on stuff that's outside the scope of the bigger plan (this means guides need to say "hey guys, we don

[2018-05-14 10:40] pmoorman opened #693 "Establish "tenets" for marketing issues (and integrate into bounty onboarding experience)"
### Context
This issue is in line with a series of issues to make the bounty system work smoother and align effort/compensation with the goals of the RChain cooperative. I would like to make it easier for (new) contributors to see what kind of contributions we're most seeking out.

Tenets could be (for example (!!)):

- **Focus to increase engagement in Asia**  =>  which means that Asia-focused ef

[2018-05-14 12:43] lapin7 commented on #682
#661
#663
#668
Have been moved to May Work Period

[2018-05-14 12:44] pmoorman opened #694 "Website upgrade :: add a 'research' page to display information regarding research grants and related matters"
Eitan Chatav and Joseph Denman reached out (via Patrick) to add a research section to the website. Their idea is to show off research papers related to RChain and maybe videos of talks, etc.

For comparison see [IOHK's research page](https://iohk.io/research/).

This seems like a great idea, so let's add a research section to the website.

**Measure of completion:** research page up on the rchain.

[2018-05-14 13:33] Valentine-Mario commented on #682
@lapin7  does that mean #662 would be in April invoice?

[2018-05-14 14:02] philipandri002 opened #695 "Creation of direct URL for marketers"
### For all issues
[Keep _italic_ labels, replace brackets with answer]

*  as a marketer and social media marketing strategist I think we work in vague, that is, it is difficult to take records and measure the level of your result as a marketer and as well as RChain to know exactly the result your actions and marketing ideas was able to achieve.

For example #656 was duly and diligently carried o

[2018-05-14 14:08] #688 closed

[2018-05-14 14:26] tigermumu commented on #677
@allancto
I am 刘国威 in Discord. My suggestion is here.

Suggestion

I looked at some of you thinking about improving the current contribution mechanism. Actually, it's roughly the same as my idea.

In brief, Before: all the contributors publish Issue and get rewards by theirselves.
Now: The contributors publish the issue and approved by the organization, Then votes and rewards need via some people

[2018-05-14 16:14] Valentine-Mario commented on #695
This is a nice initiative. But I think it has already been taken care of. During the appear in verification, it is usually asked how the individual got to know of RChain and who invited the person. And moreover there is a database of the users.

[2018-05-14 16:18] Valentine-Mario commented on #694
I can also help in contributing by talking of human behavior in relation to Rchain cryptocurrency

[2018-05-14 16:27] David405 commented on #695
By direct URL for marketers do you mean Referral link?

[2018-05-14 16:34] Keaycee commented on #695
@philipandri002 I don't understand what you mean by _**Direct URL for marketers**_.

[2018-05-14 16:49] dckc commented on #677
@allancto

I don't see how that's specific. It looks much closer to the "solve world hunger" side of things than "make a sandwich for Bob." (cf. [Feb 2 discussion of scoping issues](https://github.com/rchain/bounties/issues/253#issuecomment-362520349) )

[2018-05-14 16:59] Keaycee commented on #681
@jasoncruzzy There won't be need for having different group for various institution, because it's going to be difficult to manage all at the same time. Secondly, how are you selling RChain to other people? When onboarding, you must understand that it's not all about the rewards thereof, but rather the bigger prospect that is yet to unveil.

[2018-05-14 17:14] Keaycee commented on #681
@Murphy6  please accept this invite

- [ ] Watch video https://www.youtube.com/watch?v=vcIZSZmpO9E&feature=youtu.be
- [ ] Join rchain@googlegroups.com to get access to documents of RChain https://groups.google.com/forum/#!forum/rchain/join
- [ ] Join github/rchain/bounties in order to contribute https://github.com/rchain/bounties/invitations
- [ ] Fill out the RAM registration form https://docs.go

[2018-05-14 17:15] Keaycee commented on #655
@iamcoderisk  please accept this invite

- [ ] Watch video https://www.youtube.com/watch?v=vcIZSZmpO9E&feature=youtu.be
- [ ] Join rchain@googlegroups.com to get access to documents of RChain https://groups.google.com/forum/#!forum/rchain/join
- [ ] Join github/rchain/bounties in order to contribute https://github.com/rchain/bounties/invitations
- [ ] Fill out the RAM registration form https://doc

[2018-05-14 17:32] lapin7 commented on #682
@Valentine-Mario
Yes they have been moved to May invoice.

[2018-05-14 18:31] BelovedAquila commented on #653
@kitblake and @dckc the first doc uploaded was messed up, so had to upload a fresh copy.
And I am reworking on the doc to make the corrections stated where necessary, after which it will still be reviewed.
@truffard you have your special reasons for your exaggerated fallacious conclusion, which I am still going to consider . Thank you

[2018-05-14 19:07] Keaycee commented on #655
@iamcoderisk You've got a prospect in your point. I like the idea, but we need to understand that there are lots of cryptocurrencies which are yet to be to recognized especially in Nigeria. Bitcoin and Ethereum are known globally and some countries accept it as a medium of exchange. In Nigeria, Financial and other institutions are yet to accept this coin as a means of exchange. A stable coin, is n

[2018-05-14 20:02] Tonyprisca13 commented on #681
i think we should still use telegram

[2018-05-14 21:10] truffard commented on #653
@BelovedAquila i did help you for this document but you won't mention that, and according to @lapin7 one must be a native speaker in order to collaborate on a translation project

[2018-05-14 21:17] jimscarver commented on #673
@dckc  We can extend https://rhobot.glitch.me/ to provide information from the mysql bounty database given credentials. Links into the bounty system  for voting  might also be good.  Do you think this is a worthwhile activity or are there other plans?

[2018-05-14 21:27] dckc commented on #692
by "recently approved marketing plan" I suppose you mean https://github.com/rchain/board/blob/master/2018/04-06/Exhibit_C_-_RChain_Maketing_Plan.docx.pdf

[2018-05-14 21:31] PatrickM727 commented on #695
can you help me understand what an identity url would look like?

based on the #656 example, I think you mean something similar to affiliate links for influencer marketing.  That will come once the influencer/micro-influencer marketing work-streams go live.

We understand the need for kpi's and associated measurements.

Thank you!

BTW in advance of the influencer/micro-influncer workstream we can

[2018-05-14 21:35] dckc commented on #673
It's probably worthwhile, especially if it happens before I find time for my idea: I intend to enhance the issue download stuff in rewards.rchain.coop to grab labels.

No credentials are needed to access any of the data in rewards.rchain.coop; it's all public. I think you can GET any data you like in CSV format... maybe JSON or XML too.

[2018-05-14 22:14] dckc commented on #199
See also: https://github.com/RChain-Collaborative-Learning/PiCalculus

[2018-05-14 22:32] dckc commented on #616
@allancto writes:

Again: I disagree.

If there is any more to your argument than an assertion, I'm interested to know what it is.

p.s. by "#616" I infer that you mean not the issue itself by my proposal of May 2 on how to address this issue; to re-iterate:

with reference to https://github.com/rchain/bounties/wiki/Bounty-Task-Guides which is also new, and https://github.com/rchain/bounties/wiki/

[2018-05-14 22:38] dckc commented on #685
I don't understand why I was assigned to this issue.

As to chiming in... I don't understand why the "why this document?" section of https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md doesn't suffice.

[2018-05-15 01:14] allancto commented on #678
@TrenchFloat I agree with you on almost all of this. Imo $80 represents two hours of highly skilled work and is very appropriate to a monthly report as you said initially and again above, The exact amount of budget is, to me, secondary-- the reporting and engaging our membership is primary.

As to the timing of our first retrospective report, I agree that July 15 may be appropriate for that. But m

[2018-05-15 01:35] allancto commented on #677
@dckc I can see why you may say the "Align bounty system rewards with value receive by our Cooperative" might be closer to "solving world hunger" than "make a sandwich for Bob". Still, I think we should be taking steps, even baby steps, to create a principled way of assessing rewards and value. You in your own suggested rewards usually do this, you talk about value to the Cooperative and you talk

[2018-05-15 02:57] dckc commented on #678
@allancto how about you start the ball rolling on whatever form of reporting you find appropriate? That's the way collaboration works, right? Before you ask others to do something, you make some effort at it yourself.

[2018-05-15 03:05] dckc commented on #677
Yes, and we have done so to my satisfaction in #370 which ended up in README etc. If that's the goal here,  I recommend closing this as *duplicate*.

[2018-05-15 03:30] David405 commented on #692
@stallion00 seems you re new, please use the links below to acquaint yourself and contribute to the community

- [ ] Watch video https://www.youtube.com/watch?v=vcIZSZmpO9E&feature=youtu.be

- [ ] Join rchain@googlegroups.com to get access to documents of RChain

- [ ] https://groups.google.com/forum/#!forum/rchain/join

- [ ] Join github/rchain/bounties in order to contribute https://github.com/r

[2018-05-15 03:32] David405 commented on #692
@stallion00 The marketing plan is in the link @dckc shared

[2018-05-15 03:34] David405 commented on #692
@dckc I believe Education and Development teams can work together to develop coursetracks for beginner, intermediate and advanced RChain developers

[2018-05-15 03:46] David405 commented on #693
@pmoorman, according to the coop marketing plan, onboarding software developers is paramount and so any work done towards this should be more rewarded than others. I believe this should be one of the marketing tenets

[2018-05-15 06:35] lapin7 commented on #673
Yeah, that's very powerful. Is all data from August 2017 onwards in the App?

[2018-05-15 06:58] pmoorman commented on #693
@David405 great first addition. Alignment with the marketing plan and those first focus areas is a great idea. Keep it coming!

[2018-05-15 08:12] allancto commented on #678
Dan, good idea. I'm self assigned as the third guide on the "voting" label. My label happens to have only 6 issues, so it should be relatively easy to handle. How do i find out which ones have been rewarded, what the reward was and which pay period? Once i find that out, I'll read through each of the six issues and write my own summary and probably try to chat with one of the main people on the is

[2018-05-15 08:27] philipandri002 commented on #695
@ David 405 @Valentine-mario@Keaycee I think it is more of what patrickM727 is saying.

I myself do not have a full detail of exactly what it should be but I think itsjl will be more Like what @patrickM727 explained

My whole idea is to see how important that is and how we can collaborate on it and make it work . it's going to motivate marketer or influencer when they can directly oversee their ef

[2018-05-15 08:28] philipandri002 commented on #695
@David405 yes..something like a referral link

[2018-05-15 08:28] philipandri002 commented on #695
@David405 yes..something like a referral link

[2018-05-15 08:35] philipandri002 commented on #693
@ pmoorman I also think that it should also be highly rewarded when a marketer or influencer as the name may suit reaches out to more strategic marketer to join forces in creating the much needed awareness that at the long run increase the chances of getting better software developers and investors..

What do you think Sir.

[2018-05-15 08:44] nonnykul commented on #694
Gud concept, like to contribute to d research section on the website

[2018-05-15 10:03] jasoncruzzy commented on #681
@keaycee what i meant is the telegram group created for each higher
institution will bring them closer to themselves and share more ideas, just
like we have broken down the telegram group into sub units like telegram
Africa, telegram Nigeria. The aim is to bring RChain closer to everyone and
it will new members understand the visions of RChain better because with
every institution having their own

[2018-05-15 11:22] nonnykul opened #696 "RChain Africa channel on Youtube"
*Describe how the building and implementation of this task will benefit the RChain Membership or the RChain blockchain:*

YouTube, the google owned video network,boasts over a billion users and everyday people watch hundreds of millions of hours on YouTube and generate millions of views.
Why aren't businesses investing in YouTube as part of their social media strategy?
In reality,though,video is b

[2018-05-15 11:43] Keaycee commented on #681
@jasoncruzzy it would be lot better to have them in one group, rather than having a multiple group. I already created a group, so we can groom the newbies about RChain and other morals they need to know before engaging. What ever idea they have can also be shared in the group.

[2018-05-15 11:55] ResonanceXX commented on #197
![screenshot-2018-5-15 write answers - quora](https://user-images.githubusercontent.com/34219332/40055241-2805edae-583f-11e8-9aed-0af3c0bd5faa.png)

[2018-05-15 12:30] Barkov-F opened #697 "Cobudget tool for the bounties system"
### Cobudget tool adoption for the bounties system

https://cobudget.co

*Current budgeting process has several drawbacks, including limited reporting and accountability. I suggest testing the cobudget platform developed by the [greaterthan](https://www.greaterthan.finance/) coop for marketing and translation tasks in June.*

The Cobudget is being used by several coops around the globe with great

[2018-05-15 12:41] #650 closed

[2018-05-15 14:06] allancto commented on #678
@pmoorman suggests another approach to the same problem, in #693 : "align effort/compensation with the goals of the RChain cooperative", starting from the "requirements" side.

[2018-05-15 14:42] jimscarver commented on #673
@dckc  We will want to access the bounty data real time but can use a snapshot for development.
Can you suggest how we might make a link to vote on an issue?

[2018-05-15 15:05] dckc commented on #673
Err... navigate to it and bookmark the URL in your browser as usual. Is there some trick to this that I'm missing?

e.g. [all votes on 668 in CSV][3], [a vote related to 668 in HTML][1], [vote exported in XML][2]

Sorting the rewards by date shows that it's not, right? Again, is there a trick to this that I'm missing?

It's not clear to me how much you tried to find the answer yourself before putt

[2018-05-15 15:07] Barkov-F commented on #697
I started a loomio thread about the proposal. https://www.loomio.org/p/40XMOcNP/let-s-try-cobudget-for-bounties

Please, share your views and opinions

[2018-05-15 15:37] dckc commented on #697
Is this intended as a means to carry out the Apr 6 TOS decision (#616)? If so, how does the Task Approval Committee work? If not, is this a separate bounty system?

How would we sync coop membership with cobudget accounts? (a la #413)

In any case, how would the money get into the cobudget accounts to start?

Does cobudget support payment in dollar-equivalent RHOC?

I tried to use the thing but ra

[2018-05-15 15:58] lapin7 commented on #678
@allancto @dckc
Here's a spreadsheet to play with.
https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/edit#gid=592953635

It has all data of Budgets and Bounties from August 2017 to April 2018

It's the base for a nice financial report.

1 mln RHOC was allocated for this program by @leithaus.

Total USD | Total RHOC
-- | --
$ 319,575.69 | ⍴ 862,209.14

[2018-05-15 16:04] Barkov-F commented on #697
Hmm... Strange. How about this [link](https://guide.greaterthan.finance/collaborative-finance-tools/cobudgeting/cobudget-use-cases)? The page with the use cases outlines several ways how the tool can be used in different organizations: [BlackwoodSeven](https://guide.greaterthan.finance/collaborative-finance-tools/cobudgeting/case-studies/agile-team-in-blackwoodseven), [ELI](https://stories.greater

[2018-05-15 16:08] Murphy6 commented on #593
That is a wonderful idea to help motivate and reach out to those that don't understand or believe in this great community.

[2018-05-15 16:09] lapin7 commented on #697
# Hold on!!

We've about >150 RAM's that actually do things.
We're still within budget. About 150.000 RHOC left from the 1 mln RHOC that was allocated by @leithaus
We've a great innovative budget and bounty system. The Trust metric is able to provide governance.
We've a great collaboration tool. Github works just fine.
It's a large scale social experiment that is about to take off to the moon.

Wh

[2018-05-15 16:12] Murphy6 commented on #619
That would be one of the greatest idea and development for the community but the speakers should be those that are well knowledgeable about the aim and achievements of the great community is.

[2018-05-15 16:32] lapin7 commented on #637
Here's a spreadsheet to play with.
https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/edit#gid=592953635

It has all data of Budgets and Bounties from August 2017 to April 2018

It's the base for a nice financial report.

[2018-05-15 16:32] lapin7 commented on #697
Here's a spreadsheet to play with.
https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/edit#gid=592953635

It has all data of Budgets and Bounties from August 2017 to April 2018

It's the base for a nice financial report.

[2018-05-15 16:33] lapin7 commented on #673
Here's a spreadsheet to play with.
https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/edit#gid=592953635

It has all data of Budgets and Bounties from August 2017 to April 2018

It's the base for a nice financial report.

[2018-05-15 16:40] allancto commented on #678
@lapin7 , @dckc thanks for this spreadsheet, it's exactly what we need. Noticing expenditures in rhoc through April and the initial allocation, may also help explain a bit why this issue has been raised within our board at this particular time, the intent may be to enable the program to continue along with fresh allocation.

[2018-05-15 16:46] Pionelle commented on #681
Telegram be the better option. 

Sent from Yahoo Mail on Android

[2018-05-15 16:50] Pionelle commented on #619
Oui, having rchain in Germany is a good entry to Europe
We can then contrast our blockchain with Ethereum and win over potential developersI suggest you could have the RChain merchendize (t-shirts and caps on too) helps to pass a message passer un bon moment à cela aussi

Sent from Yahoo Mail on Android

  On Tue, 15 May 2018 at 17:12, Murphy6<notifications@github.com> wrote:
That would be one of

[2018-05-15 16:52] Pionelle commented on #695
Collaboration is key, then to do things by self
If having the direct url increase the productivtie of the persons then that is fine
bonne chance

Sent from Yahoo Mail on Android

  On Tue, 15 May 2018 at 9:27, Frank Nnalue<notifications@github.com> wrote:
@ David 405 @Valentine-Mario@Keaycee I think it is more of what patrickM727 is saying.

I myself do not have a full detail of exactly what it sh

[2018-05-15 16:58] kitblake commented on #595
Anybody have any content for the Member site?

We're almost done and will request that the site gets reviewed before launch, so if you have anything (to add, or to improve) please get on it.

[2018-05-15 17:04] Murphy6 commented on #626
That is a wonderful idea and this link can be shared on various watsapp groups for members that aren't on telegram platform

[2018-05-15 17:34] azazime commented on #693
Tenets should be less complicated with simple and precise headlines so as not to confuse the (new) contributors which would defeat the aim of such effort. And I would also advice the admins at various levels incorporate such tenants at their various quarters, e.g @David405 who is part of the admin in the Africa telegram group who ensure the tenants are part of the pinned messages there.

[2018-05-15 17:38] azazime commented on #694
There are a lot of documents on this, I suggest we think of integrating them

[2018-05-15 17:46] azazime commented on #681
A sponsored AD should be the fastest, easier and more accurate medium to achieve this as the AD would be targeted at tertiary institutions hubs

[2018-05-15 17:57] nonnykul commented on #681
Great ideas being put together by a great team,@azazime,@pionelle,@keaycee@jasoncruzzy,@murphy6@valentine-mario@philipandro002@Tonyprisca13
This is really a great issue ,that involves working together,and will help in the growth of RChain

[2018-05-15 20:30] Murphy6 opened #698 "Introducing Debt card payment for rchain Africa users."
it will be a great deal to the community if Debt card can be introduced in the website. This would help the community to be less complex and easy basically for Africans ..

[2018-05-15 20:32] casanwugo commented on #693
I'll collaborate on this by adding that "marketing” meant having a capabilities brochure, corporate presentation, web site and little else. There is much that marketing can do to promote RChain's value proposition, brand, image, reputation and market visibility all contributing to lead generation, which is the lifeblood for growth in the community.  Marketing’s job is to develop a market presence

[2018-05-15 20:42] casanwugo commented on #698
@Murphy6... I'm sure you meant debit card? Anyways,,any master card can do just fine for this purpose. But it would be nice for the admins to chime in on this. Nice one!

[2018-05-15 21:01] Murphy6 opened #699 "Promoting RChain Africa on Instagram"
Promoting RChain on Instagram basically and mostly with photos for benefits of those that wouldn't have the time to wait for some minutes online and read a post, most times strategic photos are used on Instagram and social media platforms to put people on hold/ read and advert . Africans on Instagram are running in Millions and it is a platform that is growing day after day with each day recording

[2018-05-15 21:14] Murphy6 commented on #698
@casanwugo thanks for your contribution/correction

[2018-05-15 22:00] dckc commented on #673
data dump: http://rewards.rchain.coop/db-bak/201804.sql.gz

[2018-05-15 23:46] ResonanceXX commented on #665
Okay fine. Allow me to get the work done. Complaints aside that is. I am submitting to all criticisms.

[2018-05-15 23:46] ResonanceXX commented on #665
https://hashnode.com/post/who-shares-the-same-experience-using-rchans-test-node-rnode-v031-are-the-improvements-currently-visible-and-applicable-cjh8bps0s000ifos12smoo0vu

Lets all jump on this maybe?

[2018-05-15 23:51] ResonanceXX commented on #665
So this about expressing the progress made, using Nash Foster's excellent delivery on the RNode release. Medium is a fine venue for readers. Hashnode going by the discussions there, seems like a very fine niche for developers. So yeah, looking at pulling a dozen, hopefully.

[2018-05-15 23:52] ResonanceXX commented on #197
Plenty demand, lots of hindrances for now. Looking to start a more specific approach. Zero-ing in on the developer void that RChain may need to fill.

[2018-05-15 23:56] ResonanceXX commented on #607
https://rchainupdate.quora.com/PITHIA-AND-RCHAIN-TRANSMITTING-BLOCKCHAIN-ORACLES

Statistically, this has been the most read content on the Blog. So maybe readers can/should go through this for more information.
Looking also to include links to Telegram and/or the discord channel. Since specificity has been included as the predicated parameter for Marketing. (Engagement)

[2018-05-15 23:58] ResonanceXX commented on #197
**Mateus Korcioski** has requested an answer to - What factors prevent cryptocurrency's mainstream adoption/usage?

P.S - Quite frankly for me, and in accordance to the solution that we are about as a project. Scalability has got to be one major reason for this.
Looking to, twirl in a better answer and quip in couple of links to drive the point home.

[2018-05-16 00:10] ResonanceXX commented on #197
http://qr.ae/TUTklc

[2018-05-16 00:37] Ojimadu commented on #678
I added a [report link](https://docs.google.com/document/d/1-khashTui6oJBdBD68lo2_MZUwFUianowgsz1JJ-mHc/edit) to the sheet above.

[2018-05-16 01:26] David405 commented on #699
@Murphy6 nice work but the 2 weeks duration is for what if I may ask?

[2018-05-16 02:07] casanwugo commented on #698
@Murphy6... You're much welcome!

[2018-05-16 02:19] Kencode7 opened #700 "Medium post: RCHAIN; THE FUTURE OF DECENTRALIZED INTERNET"
*Most developers are recently interested in smart contracts and blockchain technology because it is the future of internet. This medium post is to expose and enlighten developers, tech communities & tech enthusiasts on the scalable Rchain application with keen interest in Rho-lang so they can experience a concurrent and correct by construction language*

[POST](https://medium.com/@kencode007/rchai

[2018-05-16 04:49] Valentine-Mario opened #701 "Rchain Africa Twitter handle"
A Twitter handle for RChain is helpful as it provides tailored discussions and topics that both promotes RChain in Africa markets and provides basic, less complex and very complex documentation that accomodates the needs of both newbies and established members..

I acknowledge the fact that RChain already has a Twitter handle and chat mediums for discussions but a Twitter handle that is tailored f

[2018-05-16 04:50] Valentine-Mario commented on #701
The Twitter handle has been created and can be followed @ rchainafrica

[2018-05-16 05:29] Valentine-Mario commented on #699
But we have to consider how much information a picture can pass across unless you wish to use an info graph, then I can supply you with some content.

[2018-05-16 05:47] nonnykul commented on #701
good concept,will like to contribute to achieve the desired task

[2018-05-16 06:05] Murphy6 commented on #699
@valentine-Mario thanks so much for your contribution. The community is for everyone aiming to keep promoting the community to make sure more Africans gets to know and understand it. Illustrations through photos can really help consider when an art teacher tells you about history just through photos. Your content will really be of a great use if you can come up with any before the completion date.

[2018-05-16 06:08] Murphy6 commented on #699
@david405 really appreciate for your time and question.. The two weeks duration is for coming up with the videos and picture illustrations which is already in progress and getting members of this great community to kindly follow back.

[2018-05-16 06:38] nonnykul commented on #696
Working on a creative,detailed video that will market RChain to the world.

[2018-05-16 06:39] Murphy6 commented on #701
Nice contribution social media platforms is one of the highest promoting platforms.. We all should kindly follow the rchain Instagram account https://www.instagram.com/rchainafrica

[2018-05-16 06:40] Murphy6 commented on #700
Nice contribution social media platforms is one of the highest promoting platforms.. We all should kindly follow the rchain Instagram account https://www.instagram.com/rchainafrica

[2018-05-16 06:41] pmoorman commented on #697
sounds about right to first work out the ToS stuff (see #616 and related issues) before we dive into this.

Although it's not perfect the app built by @dckc seems like a good approximation of what we need. I would lean towards improving that, rather than switching things around entirely.

[2018-05-16 06:42] Murphy6 commented on #697
Nice contribution social media platforms is one of the highest promoting platforms.. We all should kindly follow the rchain Instagram account https://www.instagram.com/rchainafrica

[2018-05-16 06:44] Murphy6 commented on #694
Nice contribution social media platforms is one of the highest promoting platforms.. We all should kindly follow the rchain Instagram account https://www.instagram.com/rchainafrica

[2018-05-16 06:46] Murphy6 commented on #686
That will really promot the community in a big way.

[2018-05-16 06:49] Murphy6 commented on #681
@keaycee .. Still on the promotion, Nice contribution social media platforms is one of the highest promoting platforms.. We all should kindly follow the rchain Instagram account https://www.instagram.com/rchainafrica

[2018-05-16 06:56] awesome000 opened #702 "Expanding RChain Africa community using Twitter as a tool :#promoteRChainAfrica"
Social media has been the best promoting tool in Africa and the Twitter community tops the poll. Every main issue that circulates eminates from Twitter community to the rest of the world. To put RChain Africa to the rest of the world, we must take advantage of this ever growing community.
Hence the urgent need for RChain Africa to be on that platform for strategic marketing which will in turn incr

[2018-05-16 07:02] Valentine-Mario commented on #702
An issue has already been created on this topic. And RChain Africa already has a twitter handle. Follow @ rchainafrica

[2018-05-16 07:04] pmoorman commented on #607
@ResonanceXX maybe some ideas on how we could improve on this issue, to make it more effective in aligning with what the coop needs:

- I can see we've gotten 42 views on the article. I wonder if we could use Bitly (or similarly tracked) links in the future, so we can see approx. how much traffic the blog is driving.

- If 42 views is the highest performer, I wonder if this approach is **worthwhil

[2018-05-16 07:06] #702 closed

[2018-05-16 07:36] awesome000 opened #703 "Expanding RChain Africa community using Twitter as a tool :#promoteRChainAfrica"
Social media has been a tool for promoting and marketing in Africa and Twitter community has been topping the poll. Everyday, an estimated 60million Africans tweet  which means Africa can be reached through this platform.
Hence there is an urgent need for RChain African to be on this platform which will be useful in promoting and marketing RChain African to the rest of the world. Twitter is a grow

[2018-05-16 08:26] pmoorman commented on #700
@Murphy6 please stop posting your "promotion" on all Github channels. I consider it SPAM, and I'd appreciate if you could remove all those comments.

_Your posting actively hurts collaboration by others._

[2018-05-16 08:36] jasoncruzzy opened #704 "Promoting RChain Africa on Reddit"
A subreddit has been created for RChain Africa. Reddit is an amazing social media Channel with milliions of users, the channel will be helpful for discussions and topics that promotes RChain in Africa markets and provide regular updates on the events of RChain, briefings on less complex and very complex documentation that can onboard fresh ideas for both new members and established members. Click

[2018-05-16 08:36] Murphy6 commented on #700
@pmoorman with due respect the link am posting is basically for same goal why we all are here is a link for rchain Africa on Instagram .. but will surely take it out thanks

[2018-05-16 08:45] azazime commented on #704
@jasoncruzzy this is a step in the right direction as long as you would keep managing the account and it doesn't become domant. Nice one

[2018-05-16 08:50] #703 closed

[2018-05-16 10:08] kitblake commented on #553
Best idea for the KYC app subdomain: join.rchain.coop

[2018-05-16 10:36] pmoorman commented on #701
@Valentine-Mario to me it's not obvious why it would be benefitial to have region-specific Twitter handles. To me the costs/downsides of having many handles are obvious, but the upsides are not.

**Could you better explain why this constitutes value to the RChain coop?**

Why can't African people just use the main twitter handle?

Also: since this would then be an RChain property / asset to manage

[2018-05-16 10:54] pmoorman commented on #149
this is something we'll take care of under branding, and I believe should be closed right now. We'll potentially re-open this for each individual release as the time for it approaches.

[2018-05-16 10:54] #149 closed

[2018-05-16 10:55] pmoorman commented on #193
@Mervyn853 I'll close this issue for the sake of trimming our marketing issue list, and because it seems like the time has come and past for this (right?).

_Feel free to reopen if you still deem it relevant!_

[2018-05-16 10:55] #193 closed

[2018-05-16 10:59] #144 closed

[2018-05-16 10:59] pmoorman commented on #141
closing this issue because it seems the time for this has come and past.

_Feel free to reopen if you still deem it relevant!_

[2018-05-16 10:59] #141 closed

[2018-05-16 11:00] pmoorman commented on #148
closing because we'll proceed with branding via the Branding WG & Girvin firm.

[2018-05-16 11:00] #148 closed

[2018-05-16 11:01] pmoorman commented on #138
closing this issue because it seems the time for this has come and past.

_Feel free to reopen if you still deem it relevant!_

[2018-05-16 11:01] #138 closed

[2018-05-16 11:04] #214 closed

[2018-05-16 11:05] pmoorman commented on #205
closing this, since we're past the "blockchain governance conference" and this issues has run it's course.

[2018-05-16 11:05] #205 closed

[2018-05-16 11:05] pmoorman commented on #151
closing this, since Branding WG / Girvin would take care of this

[2018-05-16 11:05] #151 closed

[2018-05-16 11:06] #142 closed

[2018-05-16 11:07] pmoorman commented on #174
@Mervyn853 @sportshark what has become of this discussion? Do we have a conclusion here?

I'll label this issue "branding" rather than "marketing" btw. If someone could post the conclusion of the discussion, that would be nice.

[2018-05-16 11:08] pmoorman commented on #207
closing this issue because it seems to lack any momentum or urgency (and I want to clean up the marketing label). Feel free to reopen if you still deem it relevant.

[2018-05-16 11:08] #207 closed

[2018-05-16 11:09] pmoorman commented on #232
closing this since the Branding WG / Girvin engagement will take care of this scope

[2018-05-16 11:09] #232 closed

[2018-05-16 11:10] pmoorman commented on #153
Closing this because Branding WG & Girvin engagement will take care of this as relevant

[2018-05-16 11:10] #153 closed

[2018-05-16 11:11] pmoorman commented on #139
@PatrickM727 @jimscarver @plantether @makys what's the status with this issue? Can we close it? Should we keep it?

Is there still any active work being done here?

[2018-05-16 11:14] #220 closed

[2018-05-16 11:14] #234 closed

[2018-05-16 11:17] #147 closed

[2018-05-16 11:17] #145 closed

[2018-05-16 11:17] #158 closed

[2018-05-16 11:18] #371 closed

[2018-05-16 11:20] #146 closed

[2018-05-16 11:26] pmoorman commented on #455
closing this issue because it seems it's completed.

[2018-05-16 11:26] #455 closed

[2018-05-16 11:28] pmoorman commented on #630
can we close this off @TrenchFloat ?

[2018-05-16 11:28] #630 closed

[2018-05-16 11:30] pmoorman commented on #408
so.... do we have a jingle that we all like?

Is this issue still relevant? Can it be closed off?  Do we need more _me_  to pick up the guitar (I hope not!)?

[2018-05-16 11:30] #456 closed

[2018-05-16 11:30] Valentine-Mario commented on #701
The timing for RChain Africa handle might not be optimal, but it's a long term goal because as RChain grows, it would have to be region specific. This would also go a long way in reducing the burden at the center. moreover, it is in response to #591 on penetrating the African market.

[2018-05-16 11:33] #642 closed

[2018-05-16 11:33] #628 closed

[2018-05-16 11:36] #617 closed

[2018-05-16 11:36] #545 closed

[2018-05-16 11:36] #602 closed

[2018-05-16 12:05] jimscarver commented on #139
This started with great enthusiasm but energy for this has gone to almost zero. and our weekly meeting has been repurposed so I'll take the liberty of closing this. The documents developed could be a bases for restarting this in the future if there is any renewed interest.

[2018-05-16 12:05] #139 closed

[2018-05-16 13:37] Pionelle commented on #700
Bonjour @kencode
Votre écriture est très directe et excellente. Il devrait être lu par un plus grand public ne pensez-vous pas, j'ai demandé la permission de traduire et de publier sur Medium_FR

[2018-05-16 13:57] Pionelle opened #705 "Translation: Medium post: RCHAIN: L'AVENIR D'UN INTERNET DECENTRALISE"
### For all issues
[Keep _italic_ labels, replace brackets with answer]

*Makeing the document availablee to Francophone and adopted French speakers:*

[Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.]

_Estimated Budget of Task:_ **$[500]**  \
_Estimated Timeline Required to Complete the Task:_ **[terminé/to review before post]**  \
_Measure of Completion:_ **[2

[2018-05-16 15:05] kitblake opened #706 "20180516 RChain Active Members Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [x]  Prepare [RAM meeting agenda.](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.7k8dkrj6f299)
- [ ]  Any key discussion poin

[2018-05-16 15:42] kitblake commented on #491
I'm getting a traceback when updating issues from Github:
pymysql.err.InternalError: (1366, "Incorrect string value: '\\xE2\\x80\\x8A - ...' for column 'title' at row 607")

[2018-05-16 16:36] casanwugo commented on #706
@kitblake... I hope that marketers would be able to discuss some keen issues affecting RChain Africa?

[2018-05-16 16:57] kitblake commented on #706
@casanwugo Best would be that somebody presents something, as material for discussion.

[2018-05-16 17:18] ICA3DaR5 commented on #685
@dckc Definitely suffice. But why should people bombard @MParlikar @Jake-Gillberg and Kelly with questions on endorsement? We can list those files here and make this a proper document.

[2018-05-16 17:36] pmoorman commented on #595
I worked with @kitblake and @Andrekuipers on content today. The MVP is release-ready from a content perspective, but blocked on a few other fronts.

@kitblake will take the lead on resolving subdomain structure / DNS control, and will sync with Patrick about approval & release.  (did I miss anything, Kit?)

For now, no new content is needed... although once we're live there are many things that co

[2018-05-16 17:42] pmoorman commented on #595
Few points that I've made in private chat with @kitblake that are maybe worth recording here (or we might forget):

1.

2.

3. I have another altogether crazy idea (but here we're getting squarely into marketing territory): I wonder how a single long-form page would convert against an entire website. I wouldn't be too surprised if a single long form "sales page"  (for lack of a better word) would

[2018-05-16 18:07] Andrekuipers commented on #595
Great!

I have thought about the first point. Because it is more of a kind of footer that comes back on every page I would keep the text the same everywhere. I think it creates more peace and unity for the user.

Point 4 sounds as a really good selling point for RChain. I think it is a 'must' to show this more on the website. People will trust it more quickly and feel more welcome :)

[2018-05-16 21:25] tschoffelen commented on #620
This one has been effectively resolved by me rebuilding the entire tutorial, see #622 for details.

[2018-05-16 21:43] tschoffelen opened #707 "D> Update RChain.cloud with 0.3.1 support"
Currently, [rchain.cloud](http://rchain.cloud/) only supports Rholang/RNode 0.2.1. This issue tracks the progress in adding support for 0.3 and future versions, which uses a different structure for executing Rholang contracts. See details in the [PR here](https://github.com/th3build/rchain.cloud/pull/9).

_Estimated Budget of Task:_ **$300**  \
_Estimated Timeline Required to Complete the Task:_ *

[2018-05-16 23:02] nonnykul commented on #694
@pmooman,working on issues#696.The videos that will be uploaded will be Research works done on RChain,it will be beneficial to the research section on rchain.coop

[2018-05-17 00:29] dckc commented on #622
done.

You already did it: placed a vote in the 201805 pay period.

The dangling vote in 201804 is just business-as-usual.

[2018-05-17 00:29] #622 closed

[2018-05-17 00:33] dckc commented on #678
@Ojimadu that report has plenty of useful information, but it's much more detail than I would expect in this report. I'd appreciate if you would
  - [ ] move the detailed info to the respective issues
  - [ ] edit your contribution to this report down to less than half a screenful

[2018-05-17 01:28] dckc commented on #673
code to sync labels is committed and deployed:
 - https://github.com/dckc/rchain-dbr d3af715

The Right Thing would have been a new `issue_label` table to relate labels to issues; but I took a short-cut by just adding labels to the `issue` table.

Still to do: train guides.

[2018-05-17 02:04] dckc commented on #379
I ran across this while auditing for issues over 5 days old with no clear approval / rejection.

@pmoorman I see you removed **Marketing**, so you evidently don't think it's important for that goal. And yet you didn't close it as **wontfix**. Do you plan to continue working on this? If so, what's the next step?

@barneycinnamon and @jimscarver is it important for **Governance**?

@makys I don't kn

[2018-05-17 02:44] dckc commented on #491
long overdue: link from an issue page in the web app to the github issue:

 - `5bb48e5c6a14`  papercuts: link to issue

I fixed the `Incorrect string value` bug in 3efc87c, too, @kitblake .

[2018-05-17 02:50] dckc commented on #401
Let's use #672 for follow-up.

[2018-05-17 02:50] #401 closed

[2018-05-17 03:12] dckc commented on #672
I added a few more goals:

### Guides are effectively reviewing new issues

I added a [Task Approval Overdue](https://rewards.rchain.coop/index.php?-table=task_approval_overdue) tab to rewards.rchain.coop. The idea is to find Task Identification Forms with insufficient feedback after five days. It currently shows **68 overdue issues**.

By filtering on labels (much like searching for issues by num

[2018-05-17 03:15] dckc commented on #417
I'm sort of experimenting with **duplicate** to mean "not worth any reward".

[2018-05-17 03:17] #422 closed

[2018-05-17 03:35] dckc commented on #539
I don't see any advantages of Ghost over wordpress.

[2018-05-17 03:43] dckc commented on #521
I'm experimenting with **duplicate** to mean: doesn't really merit a budget / reward by itself.

[2018-05-17 03:48] dckc commented on #494
@kennyrowe mentioned something about a regular "chat with members of the board" thing that seems responsive to this issue.

[2018-05-17 04:11] dckc commented on #562
@Viraculous in #672 you refer to some of your contributions; I think the May 9 update summary (#689) is particularly useful, so I have considered certifying you...

But your votes on issues such as this one don't seem fair. 78% of a $2500 budget for a blog item that was never even posted? I hope you can finish your work here and demonstrate that it's quality work that reaches a wide audience or ot

[2018-05-17 04:40] dckc commented on #408
My impression was that the goal was to use the jingle in the weekly updates. I haven't seen that happen, so I don't think we're done.

@Ojimadu endorsed the March 10 submission from @OPNO.

The Feb 25 submission from @TrenchFloat and company got support from @patrick727 (@PatrickM727 ) and @AyAyRon-P . That's two of the Marketing guides; is that critical mass? @leithaus didn't concur; rather, he w

[2018-05-17 04:41] dckc commented on #695
Let's please reserve the Development label for software development, not developer marketing.

[2018-05-17 04:43] dckc commented on #695
oh... oops...

[2018-05-17 04:49] dckc commented on #685
I suggest moving the list to the wiki... or a checked-in file, if you want a higher level of review for changes.

[2018-05-17 04:53] dckc commented on #595
@pmoorman writes:

Recall it's @ian-bloom who the executive committee said we need to coordinate with.

[2018-05-17 04:55] ResonanceXX commented on #197
**My answer to patrick jorgensen's question about coin nomenclature**

http://qr.ae/TUTumw

[2018-05-17 05:02] dckc opened #708 "May Core Development: Scala version of Rosette, RNode enhancements"
### Benefit to RChain coop / community

Build the Scala version of Rosette.
RNode enhancements in May

core development. cc @MParlikar

_Estimated Budget of Task:_ $3,400.00
_Estimated Timeline Required to Complete the Task:_ 1 month: May
_How will we measure completion?_ Pull Requests are Merged. Measure of effort is story points. We pay $150.00 per story point in RHOC. The CoOp and board set the

[2018-05-17 05:08] ResonanceXX commented on #197
**Kumail Naqvi** requested I share some info on the state of the ecosystem presently.

http://qr.ae/TUTuqH Looking to be an optimist but spiked up a bit of realism too.

[2018-05-17 05:25] ResonanceXX commented on #629
![screenshot-2018-5-17 your stories stats medium](https://user-images.githubusercontent.com/34219332/40158154-cf3f8c72-599a-11e8-85f8-de327d43eb1e.png)

[2018-05-17 05:41] Murphy6 commented on #661
@kaka56 really nice will go along way .. But will love it if you can send it across to my watsapp so as to upload on RchainAfrica handle on Instagram.. And would still love to call for soon questions. Thanks

[2018-05-17 06:35] Murphy6 commented on #661
@kaka56 really nice will go along way .. But will love it if you can send it across to my watsapp so as to upload on RchainAfrica handle on Instagram.. And would still love to call for soon questions. Thanks

[2018-05-17 06:41] Murphy6 commented on #649
@jasoncruzzy nice work on the videos.. Really would love to have most of the videos so as to upload on our Instagram handle

[2018-05-17 07:53] philipandri002 commented on #704
@jasoncruzzy this is beautiful and I think reddit is even becoming very popular in Africa and this will certainly create the needed awareness for RChain

[2018-05-17 09:09] awesome000 commented on #704
This is a very welcome idea, as collaborators will get to communicate to each other via the Reddit platform while also promoting the community. We need more of this to make RChain Africa bigger and I would also like to add that all RChain Africa platforms across the various social media channels should be synchronized so as to harness the opportunities within

[2018-05-17 09:53] kitblake commented on #595
For the record, the company descriptions on the Ecosystem page have been approved, by @llerner and GregH and @ leaf/Nash.

[2018-05-17 10:10] jasoncruzzy commented on #698
@Murphy6 I suggest the board look into this, as this will contribute to making RChain less complex, paticularly in Africa. This issue should be put up for serious contribution.

[2018-05-17 10:51] pmoorman commented on #379
Yes, I think it's governance more than marketing (since it's not outward-facing) so I removed that label. I would say that **greeter** label is justified, because that's really the biggest use case.

I would like that people could understand at a glance how the coop relates to it's partner companies like Pithia, Reflective & Pyrofex, and also how governance works inside the coop in as much detail

[2018-05-17 10:56] pmoorman commented on #607
oke, in that case I would suggest that we treat this as an experiment to see what we can do with Quora, and conclude that it's not a channel to pursue for now.

**Based on your response** I'll close off this issue, and I'd suggest we stop our efforts on Quora until we have a better strategy in place that warrants pushing more budget into it.

[2018-05-17 10:56] #607 closed

[2018-05-17 11:01] pmoorman commented on #595
@kitblake see Dan's comment above. You check with either Patrick or Ian (or both), right?

...

@Andrekuipers nice let's go for a unified 'footer' then, if we both think that makes sense. What I've said to Kit before (and I still feel the same) is that these changes are more like 'nice to have' than essential to the MVP. Same for idea #4 which I wouldn't classify as a "must" either. This shouldn't

[2018-05-17 11:08] pmoorman commented on #197
@ResonanceXX same here as #607 : if we don't see good ROI from Quora, I suggest we close this off as a failed experiment, and move on to greener pastures.

What's your take on Quora effectiveness? My vote would be to close this off, **unless we can demonstrate the ROI.**

[2018-05-17 11:27] casanwugo commented on #704
@jasoncruzzy... Nice one! We certainly need more of this to reach out more.

[2018-05-17 11:39] pmoorman commented on #669
@Barkov-F @Ojimadu feels like I need to add some color to my last statement:

I see now that your suggested budget is 1 RHOC per view.
Normally paid traffic is expressed in CPM (cost-per-mille == cost per 1,000 views).

Here we're essentially suggesting a CPM of 1,000 RHOC or  **$1,640 CPM.**

By comparison, advertising on Facebook will cost in the range of anywhere from $5-50 CPM, and advertising

[2018-05-17 11:46] pmoorman commented on #658
@allancto sounds like a great idea to me. I'd love to see what kind of things people are building on RChain, or even hear 10-min pitches of _ideas_ that could be built on RChain.

What are the next action items here?

Maybe you could create a "pilot" like with television series, and see if this is the next GoT in the making?

[2018-05-17 12:11] Andrekuipers commented on #595
@pmoorman Oke cool!

Before we migrate the website and going live I only need to check if everything is working responsive. I will do that today.

[2018-05-17 12:16] kitblake commented on #615
Progress:
- The Calendar is setup. Not the prettiest colorwise but fine for an MVP.
- The OpenGraph and Twitter tags are working.
- All the subpages have layout now.

Some ToDo's before going live (not necessarily an exhaustive list):
- Configure OG component per page
- Change footer and include social icons
- Check mobile responsive
- Optimize page speed

[2018-05-17 12:25] ResonanceXX commented on #607
http://qr.ae/TUTuqH

[2018-05-17 12:26] kitblake commented on #595
@pmoorman Yes, Patrick is already teaming up for review.
I'll be contacting @ian-bloom for the subdomain, but before any infrastructure changes, we want a signoff on the content. Otherwise this could slide into summertime.

[2018-05-17 12:26] kitblake commented on #595
I added a "Talk to the team" portlet in: https://coop-member-v1.rchain.me/about/governance/
Great idea @pmoorman. We can put it elsewhere too..

[2018-05-17 12:36] lopezi commented on #555
I can help with this, let's make a brief if you find it a good idea

[2018-05-17 12:37] lopezi commented on #555
Why was patrick727 unassigned automatically when i posted?

[2018-05-17 15:19] Keaycee commented on #681
@Murphy6  https://t.me/Rchain_Africa

[2018-05-17 15:28] lapin7 opened #709 "RChain coop in Europe, Berlin"
## Brainstorm

about the setup of RChain Cooperative in Europe, Berlin.
Edit [RChain Berlin Coop Info](https://docs.google.com/document/d/1QkdFbUaX-39BPDeJ0DaTggUpjiObohotyYIWWknzH-c/edit?ts=5aec629d#heading=h.mjd70wy8699q) in suggest mode.

_Estimated Budget of Task:_ **$[500]**  \
_Estimated Timeline Required to Complete the Task:_ **[4 weeks]**  \
_Measure of Completion:_ **[finalized document

[2018-05-17 15:43] Keaycee commented on #701
@Valentine-Mario @pmoorman @David405 . There won't be need to create another twitter handle because one already existed Check issue #662 . Do not create any other handles as it already created and is in use already.

[2018-05-17 16:10] Keaycee commented on #696
@David405 @nonnykul. All RChain videos would be update on the RChain Official youtube handle. There won't be a need to create another youtube Handle. Videos of any events anywhere in the world would be reviewed by the executives members before reflecting on the Youtube handle.

**CC**  @pmoorman

[2018-05-17 16:12] Valentine-Mario commented on #701
I was involved in developing that forum. It's not a Twitter handle. It is a forum for Rchain Africa. Rchain Africa has no Twitter handle till now.

[2018-05-17 16:29] ICA3DaR5 commented on #705
Please fill the "For Translators" section and make the Google Docs document public, otherwise there is no point in posting it.

[2018-05-17 16:29] Cryptovideos commented on #649
@Murphy6 i can send you the videos directly? or however you propose? im editing the feature at the moment and should have the first draft ready for viewing early next week sometime!

[2018-05-17 16:53] Keaycee commented on #701
@Valentine-Mario @David405 please see this. [Click](https://github.com/rchain/bounties/issues/662#issuecomment-387516149)

[2018-05-17 17:00] rolandkofler commented on #619
@Ojimadu can you help with finding one?

[2018-05-17 17:05] pmoorman commented on #591
hey guys, I've been thinking lately about all the Africa-focused issues that pop up, and the budgets that get allocated to it.

I've been looking through the big marketing plan, as well as any relevant public statements that I could think of, and I don't see Africa mentioned as a priority anywhere. It's not really mentioned anywhere as a focus area (whereas China is, for instance).

We're working

[2018-05-17 17:44] kitblake commented on #615
OpenGraph tags have been configured for all pages.

[2018-05-17 17:49] kitblake commented on #595
⚠️ Last call for content review from the team.
If no revisions come in, tomorrow we'll submit the MVP for review.

[2018-05-17 18:19] Valentine-Mario commented on #701
Thanks for the clarification @Keaycee I have edited the link to the original twitter handle created. I shall also help manage and promote it. The older twitter handle would be deleted.

[2018-05-17 18:33] dckc commented on #653
No, I don't think so.

On Thu, May 17, 2018, 1:24 PM BelovedAquila <notifications@github.com>
wrote:

[2018-05-17 18:35] dckc commented on #595
Submit to whom? We're all here, no?

And the content will remain editable after putting it at members.rchain.coop,
yes?

On Thu, May 17, 2018, 12:49 PM kitblake <notifications@github.com> wrote:

[2018-05-17 18:43] BelovedAquila commented on #653
@dckc that would make your presumption or judgment unstable or bias

[2018-05-17 19:25] dckc commented on #653
It's not complete by your own estimation and yet you claim 90% of a $3000 budget:

201805 | BelovedAquila | BelovedAquila: BelovedAquila | 90 |   | Tue May 8 11:21:59 2018
-- | -- | -- | -- | -- | --

That's plenty of evidence.

If you want me to withdraw my slashing vote, don't defend your clearly unfair position; change your votes and address the questions and criticism above.

[2018-05-17 22:03] aviationhacker commented on #673
Just an update from Jim & myself, we've cloned the open issues table/site we built (https://rchain-bounty.glitch.me), and are now updating it with a GraphQL element and a MySQL element, looking to connect the two to basically add more functions in the future. The original site (https://rhobot.glitch.me) has been left as is, as we understand some people are using it to help them with other tasks.

[2018-05-17 23:01] Ojimadu commented on #619
I think we have a problem there. There are a limited number of people that I think can represent RChain most of which I presume already has a tight schedule. Since you host ethereum meetup already how about you draft a document for the event on RChain and we'd get the document reviewed by some community members?

[2018-05-18 01:05] jimscarver commented on #697
cobuget is good when you have a fixed amount of money to play with. We hope to spend as much as possible for good work so I go not think cobudget is the right tool for us.

[2018-05-18 06:06] Valentine-Mario commented on #701
I can see that the Twitter handle does not have many followers and content. We could work together to generate daily content(s) and gather more followers.

[2018-05-18 08:56] azazime commented on #709
While we're at it, its also important for us to include social media into the strategy,,it(social media influence on the global society) cannot be over emphasized. We can initiate a targeted AD system to penetrate Europe, Berlin.

[2018-05-18 11:18] kitblake commented on #595
@dckc Yes and yes.

@PatrickM727 @pmoorman @Ojimadu @Andrekuipers @Barkov-F @ian-bloom @evanjensen
The Member site MVP is ready for review: https://coop-member-v1.rchain.me/

[2018-05-18 11:47] Andrekuipers commented on #615
Footer changes with social icons, making the website responsive is done :)

Optimize page speed will be done when the website is migrated to the new domain.

[2018-05-18 12:04] irynapopova61 opened #710 "Translate 5 Medium blog posts to Ukrainian"
# Issue

## Original (English) Content
- [Welcome Kenny Rowe!](https://medium.com/rchain-cooperative/welcome-kenny-rowe-c120ac55b404)
- [Resonate and lifeID collaborate](https://medium.com/rchain-cooperative/resonate-and-lifeid-collaborate-da2d22e43df6?source=---------3)
- [RNode v0.3.1 introduces the RChain consensus protocol](https://medium.com/rchain-cooperative/rnode-v0-3-1-introduces-the-rcha

[2018-05-18 12:31] pmoorman commented on #591
Hey, I got an email notification about the comment from @jasoncruzzy that @David405 then later removed.

I'm happy to explain further (although I'll be out for the weekend), but the main reasoning for my comment is to bring marketing efforts in the bounty system aligned with the strategic marketing objectives of the RChain coop.

Based on the marketing strategy documents, I find the budgets alloca

[2018-05-18 12:50] ICA3DaR5 commented on #686
@Murphy6 We've translated almost all the Medium blog posts up to now.

[2018-05-18 12:56] ICA3DaR5 commented on #653
@BelovedAquila Google Drives won't do. You have to create a [Pull Request](https://help.github.com/articles/about-pull-requests/).

[2018-05-18 12:57] ICA3DaR5 commented on #685
@dckc I will do that today.

[2018-05-18 13:02] ICA3DaR5 commented on #539
@dckc Let me sum-up a few of the advantages of Ghost:

- Simple to use and easier to set up
- Easy-to-use built-in SEO and Social Media
- Built-in email subscription
- Independent tests have found Ghost to be up to 1,900% faster than WordPress

Read more about it [here](https://ghost.org/vs/wordpress/)

[2018-05-18 13:04] BelovedAquila commented on #653
@dckc yes because we have to revisit the said errors and scrutinize the whole document again, more reasons why you ought not place judgment on the doc already, till its completed. And I don't see any question I haven't answered.

@ICA3DaR5 never mind, it would be resolved once we are done. Thank you

[2018-05-18 13:06] ICA3DaR5 commented on #672
Added @michaelizer as a translation guide, since he has already been assigned as a guide on the "Translation" label.

[2018-05-18 13:42] Viraculous commented on #562
Thank you very much @dckc for the prompt query. 78% my vote is the quota of my effort for the work. I personally never intended to close this issue or not to upload it to the medium channel but as most of us know, Patrick has been locked out of GitHub for a while during the period I raised up the issue. I assigned him on this issue because he was in charge of uploading blog post to the RChain medi

[2018-05-18 13:54] ICA3DaR5 commented on #663
@Pionelle Please also fill the **For Translators** section.

[2018-05-18 14:08] jimscarver commented on #673
Anyone who knows some javascript or is willing to learn GraphQL and not too afraid of typing commands should join our collaborative learning work studies Thursday 2pm EST, Mon, Tue, Thu 4pm EST in https://zoom.us/j/6853551826

I expect the rhobot project will fork from this issue once the label review app is complete.

[2018-05-18 14:16] dckc commented on #562
Since you already claimed the reward, I'm not likely to be satisfied until the work is done, reviewed and endorsed by a marketing guide, and published.

[2018-05-18 14:19] dckc commented on #673
I looked into glitch a little... pretty cool!

I know javascript and GraphQL, but I'm not available at those times. I'm available Saturdays at 9am (#403).

[2018-05-18 14:26] TrenchFloat commented on #698
@Murphy6 can you be more clear about what you mean by "introduce debit card"? Where is that form of payment not available? Membership fee, or something else?

And what is "the website"?

[2018-05-18 14:27] Viraculous commented on #562
Great @dckc, am right now on the document and will get in contact with Patrick hoping it gets a review, endorsement and publishing rights from the marketing guide.

[2018-05-18 14:30] dckc commented on #539
Easy to use is mostly a function of what people around you know. @kitblake , @ian-bloom , @jeremybusk , etc. know wordpress. We'd have to learn ghost. (I've kicked the tires on ghost; I found it acceptable but unremarkable). A typical RChain community member is much more likely to have experience with WP than Ghost.

Setup cost for WP is not an issue. I'm not aware that the folks who have ongoing

[2018-05-18 14:37] ICA3DaR5 commented on #539
@dckc Alright then!

[2018-05-18 14:41] Viraculous commented on #562
Great @dckc, am right now on the document and will get in contact with Patrick hoping it gets a review, endorsement and publishing rights from the marketing guide.

[2018-05-18 15:12] TrenchFloat commented on #678
@allancto

Could you clarify which report you think is more important to complete first?

Since I think writing the 12-month report first would be of more use to the board and the coop, I proposed the 12-month report by May 28th and the first *quarterly* report by July 15th. I'm going to start writing a 12-month report, and I would suggest everyone else do the same.

I will make a section in this

[2018-05-18 15:25] allancto commented on #678
@TrenchFloat that sounds exactly right. Apologies- I misunderstood you the first time. 12 month (or august to april since that's where our data is) May 28th is awesome, quarterlies or monthlies beginning July 15 perfect. Thanks for catching this @TrenchFloat !

[2018-05-18 15:41] pmoorman commented on #709
@azazime social media for Europe should totally play into it, but I believe it deserves it's own issue. Let's keep this one on Governance. _If you feel inspired about social media strategy in Europe, open a separate issue for it!_

@lapin7 could you provide some more details about what exactly you're looking for in terms of contributions? What help are you seeking exactly? Which areas need researc

[2018-05-18 15:47] Viraculous commented on #692
yea, @pmoorman. GregM already will be will be hosting lectures on the course "**INTRODUCTION TO THE DESIGN OF COMPUTATIONAL CALCULI**  " which will be commencing on the 28th of may and definitely we will try integrating that into the RChain's educational resource.

[2018-05-18 16:27] jasoncruzzy commented on #704
@pmoorman I'm currently working on that at the moment

On May 18, 2018 16:32, "pmoorman" <notifications@github.com> wrote:

[2018-05-18 17:20] casanwugo commented on #710
аскаво просимо Кенні Роу!

[2018-05-18 17:40] casanwugo commented on #710
@irynapopova61,,, Nice post! I have translated "Welcome Kenny Rowe" to Ukrainian and posted to medium blog.

Collaborators please check and verify. Thanks

[2018-05-18 17:49] casanwugo opened #711 "Translate 5 Medium blog posts to French"
### For all issues
[Keep _italic_ labels, replace brackets with answer]

Original (English) Content
- <a href="https://medium.com/rchain-cooperative/welcome-kenny-rowe-c120ac55b404">Welcome Kenny Rowe!</a>
- <a href="https://medium.com/rchain-cooperative/resonate-and-lifeid-collaborate-da2d22e43df6?source=---------3">Resonate and lifeID collaborate</a>
- <a href="https://medium.com/rchain-cooperat

[2018-05-18 18:45] dckc commented on #616
FYI: @kennyrowe arranged a meeting last Tuesday with @ian-bloom and me. We learned more about each other's positions, but we didn't come to an agreement.

Next step: May 25 [executive committee][ec] meeting.

Meanwhile, I'd appreciate :+1: or :-1: feedback on [my May 2 "consolidated proposal" comment][May 2]. I suggest the May 23 RAM meeting as a "speak now or forever hold your peace" opportunity.

[2018-05-18 19:19] zero-andreou commented on #303
ok, I see no comment has been made since feb 16 so I assume this is abandoned.

[2018-05-18 19:19] #303 closed

[2018-05-18 19:38] ICA3DaR5 commented on #320
This is ghost city. Closing.

[2018-05-18 19:38] #320 closed

[2018-05-18 19:40] zero-andreou commented on #328
uhm.. closing this.

[2018-05-18 19:40] #328 closed

[2018-05-18 19:44] ICA3DaR5 commented on #329
This seems abandoned!

[2018-05-18 19:44] #329 closed

[2018-05-18 19:46] zero-andreou commented on #358
closing.

[2018-05-18 19:46] #358 closed

[2018-05-18 19:59] ICA3DaR5 commented on #280
Abandoned as well.

[2018-05-18 19:59] #280 closed

[2018-05-18 20:59] ICA3DaR5 commented on #640
First, you have posted only two blog posts instead of the whole blog as implied and the budget seems too high for two blog posts.

[2018-05-18 21:04] ICA3DaR5 commented on #623
This is the same as #640

[2018-05-18 21:08] ICA3DaR5 commented on #612
@pavlos1851 What's the status of this?

[2018-05-18 21:11] dckc commented on #678
@jimscarver mentioned

 - Problems encountered
 - Planned solution

in the context of this report. I think it's a good idea. Here's hoping we manage to include some of that as well.

[2018-05-18 21:14] ICA3DaR5 commented on #215
What is the status on this? @Mervyn853

[2018-05-18 21:14] pavlos1851 commented on #612
@ICA3DaR5 Because of some unexpected personal issues, it's only halfway done. I expect it to be ready in a week or so.

[2018-05-18 21:29] ICA3DaR5 commented on #654
@truffard You have posted that this is a RChain blog post. Since it's not I am closing this issue.

[2018-05-18 21:29] #654 closed

[2018-05-18 21:34] ICA3DaR5 commented on #684
This is 2 days overdue!

[2018-05-18 21:37] #684 closed

[2018-05-18 21:38] #683 closed

[2018-05-18 22:20] ICA3DaR5 commented on #671
@truffard How's this a Medium blog item?

@Staff91 Open a new issue.

[2018-05-18 22:34] dckc commented on #368
I still don't see Italian next to English and Chinese in http://arch-doc.rchain.coop/ .

But I can follow up on that in the context of #580.

[2018-05-18 22:39] truffard commented on #654
@ICA3DaR5 fine with me

[2018-05-18 22:43] truffard commented on #671
@ICA3DaR5 i thought it was as this translation was requested by @lapin7 .Me and @niwaa will deliver in about 2 or 3 days

[2018-05-18 22:54] dckc commented on #580
https://github.com/rchain/mobile-process-calculi-for-blockchain/pull/3 is still pending, since January.

[2018-05-19 05:46] Viraculous opened #712 "Collaborating with Michiel Mulders"
**Introduction**: This effort was facilitated by a promptu request by @eedsilva on discord to get in touch with Michiel Mulders the author of "Comparism of Smart Contract platform" to do a technical walk through of RChain and to include RChain in his subsequent articles.
**About Michiel Mulders**: Michiel Mulder is a blockchain developer at The Ledger and technical writer for blockchain platforms;

[2018-05-19 06:34] ResonanceXX commented on #197
http://qr.ae/TUTgpV

[2018-05-19 08:30] casanwugo commented on #711
@truffard,,, I'm a fluent speaker. @Pionelle is really good with French though. Will have her replaced... Any suggestions from your end? Please help me out help.

[2018-05-19 08:31] Pionelle commented on #705
https://docs.google.com/document/d/16cwdJvCe7fx78NhdxlpdfgCc5h5YQN4slFZmstIj7ak/edit?usp=drivesdk

Check this now

[2018-05-19 09:04] Pionelle commented on #705
ce lien est ouvert aux gens
https://docs.google.com/document/d/16cwdJvCe7fx78NhdxlpdfgCc5h5YQN4slFZmstIj7ak/edit?usp=drivesdk

[2018-05-19 10:36] ICA3DaR5 commented on #705
@Pionelle You haven't filled the "For Translators" section on your issue.

[2018-05-19 10:41] ICA3DaR5 commented on #612
@pavlos1851 Awesome!

[2018-05-19 10:56] truffard commented on #711
@casanwugo .... I can help you out by reminding you the basic rules: @lapin7 said specifically that one must be a native speaker in order to take part in a translation issue. My recent experiences have shown that there are many valid reasons to this requirement: the technical knowledge involved for this type of document and the responsibilities attached to that can not be taken lightly, @Pionelle

[2018-05-19 11:27] ICA3DaR5 commented on #710
@casanwugo You posting a link to the translated blog post would be helpful.

[2018-05-19 11:38] ICA3DaR5 commented on #480
Please don't close this yet, the [Pull Request](https://github.com/rchain/mobile-process-calculi-for-blockchain/pull/4) is not merged yet.

[2018-05-19 12:29] casanwugo commented on #711
@truffard the idea is to reach out to mainly new members who joined through or are getting to know about RChain through the RChain Telegram Africa group  which has been very difficult for most to grasp because most articles are done in English whereas there are French speaking native of Africa descent.

[2018-05-19 13:15] dckc commented on #483
@truffard writes in #711:

Did he? In what context? Always cite your sources. Because I'm not aware that @lapin7 has any executive authority over what participants may or may not choose for their tasks. He may value some things less than others, but each of us has that authority, to the extent granted by our peers by the trust metric (#375).

Well, because not everyone is born knowing these things

[2018-05-19 14:17] casanwugo commented on #711
@dckc... Thanks for that helpful reference packed with useful comments and information. Good to know!

[2018-05-19 14:41] philipandri002 commented on #711
@dckc #483 was truly educating....@truffard I think Casanwugo was only trying to proffer a solution to a little challenge that many are scared to attribute as a problem.

One unique challenge with Africa is the multi linguistic nature which happens to be their native and official language rather than English.
For example there are native French speakers in African and also Arabic..

However I thin

[2018-05-19 14:48] philipandri002 commented on #712
@Viraculous great Job done. However how and were do we present our fact on RChain that we requested on the Task sections or do we present them here on the comment sections.

Thanks

[2018-05-19 14:55] casanwugo commented on #710
@ICA3DaR5.... dear friend, thanks for your comment and letting me know that I should have posted a link across. But this is a mutual community so please be careful with your choice of words! This is a learning process for me and I was made to believe that we are all collaborators. Please go easy! I will put the link across or better yet delete the edited write-ups. Thanks all the same.

[2018-05-19 15:48] Pionelle commented on #705
Okay sure will do

[2018-05-19 15:50] Pionelle commented on #705
https://medium.com/@rchainfrench/rchain-lavenir-de-l-internet-décentralisé-30de66829556

[2018-05-19 15:51] Pionelle commented on #705
To proof read more

[2018-05-19 15:53] dckc opened #713 "Maximum relative entropy (MRE) for quantifying and mitigating multifactor risk"
@jimscarver and I were discussing Trust Ratings and he brought up some experience at [Proven Security](http://www.provsec.com/), applying [maximum entropy](https://arxiv.org/abs/1603.00068) to trust.

I hope to learn more

## Benefit to RChain Membership or the RChain blockchain:

possible utility in smart contracts, including the RChain bounty system

_IOU more of a SMART objective_

Budget: TBD

[2018-05-19 15:59] Pionelle commented on #705
Published now, @ica3dar5 I try checking the boxes but it doesnt change.

[2018-05-19 16:25] qelentium opened #714 "Translate 5 Medium blog posts to Russian"
# Issue

## Original (English) Content
- [Welcome Kenny Rowe!](https://medium.com/rchain-cooperative/welcome-kenny-rowe-c120ac55b404)
- [Resonate and lifeID collaborate](https://medium.com/rchain-cooperative/resonate-and-lifeid-collaborate-da2d22e43df6?source=---------3)
- [RNode v0.3.1 introduces the RChain consensus protocol](https://medium.com/rchain-cooperative/rnode-v0-3-1-introduces-the-rcha

[2018-05-19 17:26] jimscarver commented on #713
Our MRE repositors at https://github.com/ProvenSecureSolutionsLLC should be made public soon.  It is cool in that it integrates the powerful R statistical language as an interface but fails to use maxent stepwise during bayesian learning in the solution.

[2018-05-19 17:34] jimscarver commented on #713
Iris diagram avatar of pseudo anonymous trust/risk factors relative to webs of trust quantified by MRE.
![irispaul](https://user-images.githubusercontent.com/3037201/40271268-e70e7618-5b68-11e8-8323-f1655550e201.png)

[2018-05-19 17:46] Viraculous commented on #712
@philipandri002 thanks. You can present them here and their links if possible. Although I have been able to sort some major facts.

[2018-05-19 18:09] ICA3DaR5 commented on #246
I am closing this one since it has been done and paid.

[2018-05-19 18:09] #246 closed

[2018-05-19 18:15] ICA3DaR5 commented on #544
Can you please add the estimated price and timeline?

[2018-05-19 18:39] BelovedAquila commented on #653
This issue is still valid, as there isn't any justified reason to it being slashed and even close when work is still ongoing on it

[2018-05-19 18:41] ICA3DaR5 commented on #714
**RCHAIN; THE FUTURE OF DECENTRALIZED INTERNET** is not an RChain blog item as you mentioned in the **For Translators** section.

[2018-05-19 18:45] ICA3DaR5 commented on #711
@casanwugo Hello I am a guide here for translators, could you please answer my previous question?

[2018-05-19 18:47] ICA3DaR5 commented on #705
@Pionelle Okay you can edit the document and put x in the little box. Also if you could make your posts in English that would be very helpful.

[2018-05-19 18:50] ICA3DaR5 commented on #710
@casanwugo I am only saying this to avoid duplication of work.

[2018-05-19 18:59] kaka56 commented on #661
@Murphy6  here is a [link](https://drive.google.com/file/d/1w_HCmq1O6rWM2ZYSZN3uNu_3DMgXmxHh/view?usp=drivesdk) you can download it.

[2018-05-19 19:10] ICA3DaR5 commented on #624
Since this has been voted for April and probably paid, I am closing this.

[2018-05-19 19:10] #624 closed

[2018-05-19 19:41] qelentium commented on #714
@ICA3DaR5 my fault, redone

[2018-05-19 20:12] Keaycee commented on #704
@awesome000   please accept this invite

- [ ] Watch video https://www.youtube.com/watch?v=vcIZSZmpO9E&feature=youtu.be
- [ ] Join rchain@googlegroups.com to get access to documents of RChain https://groups.google.com/forum/#!forum/rchain/join
- [ ] Join github/rchain/bounties in order to contribute https://github.com/rchain/bounties/invitations
- [ ] Fill out the RAM registration form https://doc

[2018-05-19 20:15] dckc commented on #672
@Jake-Gillberg , @lapin7 , would you please review [@zero-andreou's contributions][1] and certify him if you think it's appropriate? I'm not much of an expert in translation, but his work looks pretty good, and he's helping @ICA3DaR5 with guiding Translation, so for now, I certified him as **journeyer**.

[1]: https://github.com/rchain/bounties/issues?utf8=%E2%9C%93&q=is%3Aissue+assignee%3Azero-an

[2018-05-19 20:36] dckc commented on #695
When you say "we" who are you referring to? Which developers are standing by for approval? I would like to see more of a design sketch before I approve the task.

I'm not available to work on this; I don't think it should preempt any of my existing work.

[2018-05-19 21:25] allancto commented on #677
I am marking this issue spoke with @dckc about this issue and I am closing it for now, with intention to reopen, with the "wontfix" rubric explained to me by @dckc :

The guide + trust metric system is pretty much functioning now and we should get more experience with it before forging forward again. Plenty of improvement is already here. lets see what's working well and what our priorities for im

[2018-05-19 21:28] #677 closed

[2018-05-19 21:29] Keaycee commented on #695
Very well explained by @PatrickM727 . It's a nice idea to have an affiliate link for all registered members of the RChain community.  Irrespective of members area of specialty, everyone can be part of the influential marketing, it mustn't be marketers only.
I also think, onboarding newbies does not fully measure the work done by coop member or marketer, rather what you sell to them about RChain, t

[2018-05-19 21:31] Keaycee commented on #695
@philipandri002 i'm changing the thread issue to Affiliate link for influential marketing

[2018-05-19 23:06] jasoncruzzy commented on #711
@casanwugo great work

[2018-05-20 08:59] casanwugo commented on #711
@jasoncruzzy. Thank you.

[2018-05-20 12:19] ICA3DaR5 opened #715 "Translate "RChain Weekly Debrief - 9th, May 2018" blog post to Greek"
# Issue

## Original (English) Content
- [RChain Weekly Debrief - 9th, May 2018](https://medium.com/rchain-cooperative/rchain-weekly-update-9th-may-2018-687bd7c80ebd)

## Translated (Greek) Content
- [Εβδομαδιαία Ενημέρωση του RChain (Debrief 76) – 9 Μαΐου 2018](https://rchain.gr/t/rchain-debrief-76-9-2018/34)

## Tasks
- [x] Translate the content.
- [x] Check the spelling.
- [x] Review each other

[2018-05-20 12:32] David405 commented on #695
I don't believe affiliate marketing is required in RChain marketing for some very important reasons:

- Affiliate marketing was never mentioned in the <a href="https://github.com/rchain/board/blob/master/2018/04-06/Exhibit_C_-_RChain_Maketing_Plan.docx.pdf">Marketing Plan</a> as an execution strategy whereas SEM, SEO, social media ads were included, so we shouldn't go outside of the marketing plan

[2018-05-20 12:37] ICA3DaR5 commented on #711
@casanwugo I don't think that would work. The blog posts should be posted on a blogging service, such us [Medium](https://medium.com/).

[2018-05-20 12:39] ICA3DaR5 commented on #653
Alright, keep it open.

[2018-05-20 13:32] David405 opened #716 "Discussion: Is regional marketing (Africa) worth it?"
Last month, a push to specifically market RChain in Africa began, see #591. Although, there is no standard metric or KPI just yet( _this is being worked upon)_ to measure the progress, there has been evident progress _(even though not so much)_ as the movement is just starting out, there has been more exposure to the African community as there have been addition of new RAMs from Africa.

In the <a

[2018-05-20 16:42] Staff91 opened #717 "Translate Blog post "RChain Weekly Debrief | 9th, May 2018" to Italian"
# Issue

## Original (English) Content
- [RChain Weekly Debrief - 9th, May 2018](https://medium.com/rchain-cooperative/rchain-weekly-update-9th-may-2018-687bd7c80ebd)

## Translated (Italian) Content
- [RChain Debrief Settimanale | 9th, May 2018](https://medium.com/@rchaincoop.it/rchain-debrief-settimanale-9th-may-2018-d1f7d5914662)

## Tasks
- [x] Translate the content.
- [x] Check the spelling.

[2018-05-20 17:36] Murphy6 commented on #704
It is a huge development

[2018-05-20 17:39] Murphy6 commented on #698
@jasoncruzzy thanks for your contribution. It will surely go a long way if it is considered.

[2018-05-20 20:08] ICA3DaR5 commented on #705
Okay, so you should fill the "For Translators" section on your issue post. I've asked you once before and I didn't get an answer to that.

[2018-05-20 20:19] Viraculous opened #718 "RChain weekly update (Debrief 77)-20180416"
Rchain Weekly Update
[Debrief 77](https://docs.google.com/document/d/1J3wyabIsMNZkIGa9GONkDpm5eeC1NMcBkistsOlO9HE/edit?usp=sharing)
- [x]  Watch [video ](https://www.youtube.com/watch?v=ztyJ_BL_T9U)of the Debrief
- [x]   Write textual run down
- [x]   Upload on RChain [medium ](https://medium.com/rchain-cooperative?source=logo-a1d40bd789f8---e612514beea3)blog item

[2018-05-20 20:41] ICA3DaR5 commented on #544
This seems abandoned, closing this.

[2018-05-20 20:48] ICA3DaR5 commented on #368
Reopening this for the same reason @dckc mentioned.

[2018-05-20 20:56] ICA3DaR5 commented on #554
@tigermumu What's the status of this issue?

[2018-05-20 21:13] ICA3DaR5 commented on #278
What's the status of this issue? I don't see any work done here and it has been probably payed since it's voted February.

[2018-05-20 21:45] ICA3DaR5 commented on #541
Please post these on a blog post, a google docs document doesn't bring any benefit to the RChain Cooperative.

[2018-05-20 21:49] ICA3DaR5 commented on #262
@noordaa @lapin7 What is the status of this issue? It's open since Jan 30.

[2018-05-20 21:53] ICA3DaR5 commented on #230
@zsluedem Please post a link to the work done here.

[2018-05-20 21:57] ICA3DaR5 commented on #625
Please post the content to a blog service like [Medium](https://medium.com/). Also you state "Italian" in the content and "Chinese" in the title.

[2018-05-20 22:03] ICA3DaR5 commented on #453
Please post the work done here.

[2018-05-21 02:33] Pionelle commented on #705
of course I have now done that.

[2018-05-21 06:11] InternautNeven commented on #544
Yes, it is finished, i`ll put it here in a few days.

[2018-05-21 07:58] pmoorman commented on #716
@David405 I appreciate you created this issue, and let's use it as a place for discussion.

I've already more or less outlined my position [here](https://github.com/rchain/bounties/issues/591#issuecomment-389939265) which I know is more or less shared by my fellow Marketing guides @AyAyRon-P and @kitblake

For the sake of discussion, I think a few things would help me get convinced that African ma

[2018-05-21 09:28] jasoncruzzy commented on #712
@Viraculous Good work

[2018-05-21 10:58] Barkov-F commented on #669
The extraordinary high CPM is a way how the Coop compensates the me (or any other content-creator) not only for the quality traffic acquisition but, primarily, for the creation of an artifact (a post, a video and so on) that later can cross-posted on other platforms and gather attention there. The effort to get the first view is much bigger that the latter efforts to get the first thousand  or the

[2018-05-21 11:06] ICA3DaR5 commented on #544
@InternautNeven Please don't close issues that are not finished, meaning that you should always post the final work.

[2018-05-21 11:09] ICA3DaR5 commented on #705
Okay so it seems that this is not for translation. It's not an RChain Medium item, nor is it endorsed by @Jake-Gillberg, @MParlikar for translation.

[2018-05-21 11:09] #705 closed

[2018-05-21 11:18] Barkov-F commented on #697
Ok. I guess I get excited too much when I see a shiny new betas. But still I think that the Coop should approach someone, if not Cobudget, then someone else to help us with the organisational patterns and compensation and rewards practicies:

**Disco**

This US-based company, started in 2015, uses artificial intelligence to scan employees’ messages to one another. If a bot spots an employee being

[2018-05-21 11:18] #697 closed

[2018-05-21 11:32] jiyuxuan1944 commented on #304
https://mp.weixin.qq.com/s/r0OjJhqXKV0n8O2Tjr3VmA

[2018-05-21 11:33] jiyuxuan1944 commented on #270
http://www.rchain.site/wp-content/uploads/2018/01/Rchain%E7%99%BD%E7%9A%AE%E4%B9%A6%E8%AF%91%E7%A8%BF.pdf

[2018-05-21 11:55] dckc commented on #716
I guess my question is: worth _what_? These efforts are most likely worth _something_. But I'm inclined to agree with @pmoorman that last month's efforts brought in significantly less than $10k worth of value. And I also cannot judge without seeing the evidence behind the claim of  "evident progress".

I suggest setting modest budgets (some small fraction of what has been previously proposed) with

[2018-05-21 11:59] Barkov-F commented on #669
And CPM of 1,000 RHOC is less than $1,500 now...

[2018-05-21 14:25] TrenchFloat commented on #578
@tigermumu

Is the May 20th date in the initial comment what you meant by "later"?
I'm happy to vote for this once the English translation is up.

[2018-05-21 16:00] InternautNeven commented on #544
This was only addition,for that i will not request reward.- Presentation that helped us, is intelectual property from mr. Bassiry i just made some minimal changes and updates that i will put here in few days- may help someone in future.

[2018-05-21 16:15] ICA3DaR5 opened #719 "Translate "RChain Weekly Update (Debrief 77) -16 May 2018" blog post to Greek"
# Issue

## Original (English) Content
- [RChain Weekly Update (Debrief 77) -16 May 2018](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-77-16-may-2018-5ecfa806933f)

## Translated (Greek) Content
- [Εβδομαδιαία Ενημέρωση του RChain (Debrief 77) –16 Μαΐου 2018](https://rchain.gr/t/rchain-debrief-77-16-2018/35)

## Tasks
- [x] Translate the content.
- [x] Check the spelling.
- [

[2018-05-21 19:34] ICA3DaR5 commented on #251
What's the status of this issue? I see that some money have been payed. Should this be closed since it's overdue?

@lapin7

[2018-05-21 19:42] ICA3DaR5 commented on #431
@AbnerZheng This issue seems to have been payed for March. Is there any link you should post for the final work?

[2018-05-21 19:43] jimscarver commented on #716
I suggest Africa is a top priority to make rchain international and inclusive and not just a white man's club.

[2018-05-21 20:01] ICA3DaR5 commented on #510
I am opening this again to ask @rjl493456442 for a link to the final work.

[2018-05-21 20:12] ICA3DaR5 commented on #437
Please post a link to the work done here!

[2018-05-21 20:36] jimscarver commented on #609
I see I added help-wanted label after dan removed it. I believe the help-wanted category is important and some labels are categories not guided.  I definitely want to flag help wanted on this issue. The github interface suggests this label. Finding nothing people may go away.

[2018-05-21 20:50] aviationhacker commented on #208
Hey guys, the issue has just been updated from Scheduling more towards the running of and recruiting  for peer learning sessions (also occasionally referred to as the noob working group - as most of us are newbies who are learning as we go). I just thought I'd chime in with an update from that front - I've been part of these sessions for a few months now, and if you're new to developing they're hi

[2018-05-21 21:01] jimscarver commented on #208
I am not very familiar with the newer tool including things like node.js, nginx, express, react, etc. I knowledge in other areas is dated. So coaching in almost every area is needed. I have been hesitant to get more students without having more coaching. While we get a good feeling of accomplishment when we make things work, progress can be slow and tedious. Much of what needs to be dome requires

[2018-05-21 21:19] #520 closed

[2018-05-21 21:28] jeremybeal11 opened #720 "EOS vs RChain Comparison"
@PatrickM727 brought me onto the project to write up usecases for competitors and comparing them to RChain.

Here is the one i did with EOS: (EOS)[https://docs.google.com/document/d/1qoio4TrrzLzRpzcUv8cR1Q49BS3G2r0xUzHnTknZ6b8]

This was my first case study that we were going to use with the bounty program.
Hours spent: 13
Rate proposed: $40hr
Proposed bounty: $520.00

### For all issues
[Keep _it

[2018-05-21 21:28] kennyrowe commented on #494
@barneycinnamon I'll look into this and get back to you

[2018-05-21 21:29] PatrickM727 commented on #720
Good job,

I am closing this because this leg of the work has been complete.

if we would like to expand on it as a community, please open up another issue or refer to an existing one.

[2018-05-21 21:29] #720 closed

[2018-05-21 21:35] ICA3DaR5 commented on #549
What is the status of this issue?

[2018-05-21 21:56] ICA3DaR5 commented on #283
This has been done, so I am closing this, feel free to re-open this if you think it should be open.

[2018-05-21 21:56] #283 closed

[2018-05-21 22:06] ICA3DaR5 commented on #272
@lapin7 I am closing this since it seems to be completed.

[2018-05-21 22:06] #272 closed

[2018-05-21 22:30] dckc commented on #609
I trust you'll curate a critical mass of the the rest of the issues, then, and add help-wanted as appropriate, @jimscarver .

[2018-05-21 23:54] ICA3DaR5 commented on #544
@InternautNeven Okay then. :)

[2018-05-21 23:55] ICA3DaR5 commented on #270
Okay so, closing this!

[2018-05-21 23:55] #270 closed

[2018-05-21 23:57] ICA3DaR5 commented on #304
Closing this as it seems completed!

[2018-05-21 23:57] #304 closed

[2018-05-22 01:42] rjl493456442 commented on #510
@ICA3DaR5  [Contributing](https://github.com/rchain/bounties/blob/master/CONTRIBUTING/CONTRIBUTING_CN.md) && [Readme](https://github.com/rchain/bounties/blob/master/README/README_CN.md)

[2018-05-22 04:08] zsluedem commented on #251
@ICA3DaR5  I believed most of the translations have already finished. You can find most of the translation in the [google drive](https://drive.google.com/drive/u/0/folders/1zBZXvPMIC9yBneYI2c4x-xGwr-D1X1Ii). The final step here is to ask [BlockchainBrad](https://www.youtube.com/channel/UCbkjUYiPN8P48r0lurEBP8w) to put up those translations in the Youtube.
@Mervyn853 is the one who connect with `Bl

[2018-05-22 04:12] yuhuanmocmoc commented on #437
@ICA3DaR5  sorry, In two days, I will uplaod the subtitle after reviewing.

[2018-05-22 04:40] #718 closed

[2018-05-22 07:58] pmoorman commented on #716
Regarding the white man's club: I'm inviting every African that wants to join and contribute to do so. But that don't mean we need a regional strategy for everyone we want to invite.

**This kind of approach is _NOT_ `"safe enough to try"`:**   (!!)
Many people are turning their back against the bounty system because they believe the system is too wasteful, and too inefficient. We risk destroying

[2018-05-22 08:19] pmoorman commented on #669
I would suggest you put in that extra little bit of effort to get those first 1 million views! In that case, we can work with a reasonable CPM indeed.

Of course the exact idea of going for a **view-based compensation** is that it makes _views_ valuable, rather than _the artifact_ (duh!). If we value the artifact, we shouldn't have done CPM compensation to begin with!

[2018-05-22 08:42] le-dawg commented on #709
I concur - Social Media requires continuous work and a strategy as well. I do not believe in a self-propelled social media campaign - that's a full time job (for now)

[2018-05-22 10:51] Barkov-F commented on #539
@ICA3DaR5 Did you set up a budget for running a Ghost-node? I guess, if you take the content from the local language medium pages and host in on a single coop-run domain it would generate some traffic. I have registered "rchain.world" and can sell it back to the Coop for 1 RHOC.

[2018-05-22 12:35] pmoorman commented on #693
Hey all,

after discussing with the 2 other marketing guides @AyAyRon-P and @kitblake here's a first suggestion for marketing "best practices".

I'll change the title from "tenets" (which is almost like a religious belief) to "best practices" because really that's more what it's about.
**[
Here's the document](https://docs.google.com/document/d/1wMj8VGYTLc1PTRjgVtwVxEv8Byzvsb5L3fIV6Z-XENI/edit?usp

[2018-05-22 12:37] Barkov-F commented on #697
@pmoorman  We can try their tools for [free ](https://fluxicon.com/disco/download.php?dist=win)

[2018-05-22 13:31] David405 commented on #716
@pmoorman I understand you always emphasize ROI and frugality in spending which is a good thing but I think you are missing the point @jimscarver is making. At some point, **RChain will have to develop strategies for servicing its members and developers in different regions** _(take a cue from Microsoft, Google, Facebook and other global tech brands)_, if this is the case, then why not start now?

[2018-05-22 14:07] David405 commented on #693
@pmoorman I believe these _"best practices"_ should move beyond marketing issues to every other label issues. It should act as a general guideline for all issues.

Also, I think a standard metric should be developed to help RAMs measure progress on participating issues.

[2018-05-22 16:12] ICA3DaR5 opened #721 "Translation Guides' Label Report (Jan - May 2018)"
Within the RChain Bounty Rewards contribution system, issues (aka tasks or small projects) are divided into 10 different “labels”. Label Guides help contributors align their contributions with the needs of our Cooperative by making suggestions about quality and value to our Cooperative. The Lead Guide within each label is responsible for a monthly overview report, including a high level financial

[2018-05-22 21:04] allancto commented on #721
We are going to say this is complete as of right now, with the following IOU:
1. report issues from April and March
2. double check for any factual errors.

[2018-05-22 21:04] allancto commented on #721
I'm also cross referencing zoom meeting "guiding guides" Friday 8am PDT 2018-05-25, agenda:
https://docs.google.com/document/d/1NbEku_ye40H0WTBA3-7YibtjYuSFvbq_BDxk4e-900E/edit?ts=5b005aa4

[2018-05-22 21:09] ghost opened #722 "Translate Blog post "RChain Weekly Update (Debrief 77) -16 May 2018" to Italian"
# Issue

## Original (English) Content
- [RChain Weekly Update (Debrief 77) -16 May 2018](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-77-16-may-2018-5ecfa806933f)

## Translated (Italian) Content
- [RChain Aggiornamento Settimanale (Debrief 77) 16 Maggio 2018](https://medium.com/@rchaincoop.it/rchain-aggiornamento-settimanale-debrief-77-16-maggio-2018-7dcdd22a8958)

## Tasks

[2018-05-23 02:44] dckc commented on #673
@lapin7 thanks for the suggestion. How does it look?

 - `088f643` include labels in reward, budget views

[2018-05-23 02:45] dckc commented on #673
I have talked with several guides about this: @lapin7 , @TrenchFloat , @pmoorman , @jimscarver .

Optimistically, I'm going to say that's a critical mass and they'll train the rest.

[2018-05-23 03:13] BelovedAquila commented on #653
The Reviewed document of this issue has just been uploaded and its open to criticism and further independent reviews.

[2018-05-23 07:28] pmoorman commented on #693
if people find them useful outside the context of marketing, then by all means let's use them more broadly.

I didn't really think about how this would interface with governance or greeter or any other label. Maybe these guides could have a look at them, and see what they can copy?

[2018-05-23 08:41] nonnykul commented on #693
This best practices could be applied to other issues,to create a standard

[2018-05-23 12:36] Tonyprisca13 opened #723 "20180523 RChain Active Members Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [ ] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).

- [ ]  Any key discussion poin

[2018-05-23 12:38] #706 closed

[2018-05-23 12:59] Tonyprisca13 commented on #716
@David405 if time permits, this issue will be discussed in the meeting. are you up for this discussion?

[2018-05-23 13:09] David405 commented on #716
@Tonyprisca13 I can see you have added this discussion to the agenda, Yes I am ready to discuss this. I really do hope time will be squeezed out for this no matter how little.

[2018-05-23 13:27] jimscarver commented on #716
I think if we cannot guild african development of the rchain community funding it represents a systematic failure of the bounty system overall.  I do not believe our leadership would favor geographical exclusion. Such a hypocritical policy would be a black eye on the coop.

Can a team be created to guide african development so that it effective? Perhaps we need gudes covering all 3rd world develop

[2018-05-23 14:06] wangjia184 opened #724 "RChain Chinese Community First Meetup"
* Lecture to propagate RChain and explain why it is revolutionary by comparing its scalability / concurrency / compositionality with tranditional von Neumann style computering.
* Lecture to propagate RChain's advantages/friendliness on business
* To enhance the influence of RChain

**Time**: 2018-05-20 15:00 UTC+8 (BeijingTime)
**Location** :  Room 313, Building on Water ,Hunan University, Changsh

[2018-05-23 15:48] TrenchFloat opened #725 "Newsletter - May 2nd, 2018"
Here's another issue to stake your claim if you helped out with the newsletter. Here is again the [google doc](https://docs.google.com/document/d/1Va_u-I_IWCvpWVgQXNKsFuhpaH-enouhPotJMTGoiRM/edit) with the notes for all the hangouts and the [Weekly Debrief Index](https://github.com/rchain/bounties/wiki/Weekly-Debrief-Index).

[2018-05-23 15:49] TrenchFloat opened #726 "Newsletter - May 16th, 2018"
Here's another issue to stake your claim if you helped out with the newsletter. Here is again the [google doc](https://docs.google.com/document/d/1Va_u-I_IWCvpWVgQXNKsFuhpaH-enouhPotJMTGoiRM/edit) with the notes for all the hangouts and the [Weekly Debrief Index](https://github.com/rchain/bounties/wiki/Weekly-Debrief-Index).

[2018-05-23 16:42] #629 closed

[2018-05-23 16:45] #584 closed

[2018-05-23 16:53] TrenchFloat commented on #655
There seems to be no action on @allancto 's proposal after over two weeks.

[2018-05-23 16:53] #655 closed

[2018-05-23 17:35] dckc commented on #716
(_notes in progress..._)

In today's RAM meeting (#723) @David405 argued his case persuasively. We identified some connections: @Ojimadu is a certified apprentice who is in contact with @PatrickM727 on marketing issues and with @Viraculous on weekly update blog items. @lapin7 said he would support budgets and rewards in this area.

[2018-05-23 18:10] TrenchFloat commented on #675
@JUANITA-MAYBEL can you elaborate on the $800 budget for both this issue and your Quora issue, which both look like copies of the www.rchain.coop site?

[2018-05-23 18:10] TrenchFloat commented on #680
See my comment on #675.

[2018-05-23 18:14] TrenchFloat commented on #700
Could you tell me why you proposed a $500 budget? I'm not sure this post is fit to represent the RChain community until it is proofread and edited for errors.

[2018-05-23 19:12] Keaycee commented on #716
@dckc Thank you for the information. @jimscarver I agree with your points. We have about four members who signed up for the African guide and i think that will make it more effective with more collaborative efforts. See issue #672 .

[2018-05-23 19:29] zsluedem commented on #724
@wangjia184 I think you have to [become the collaborators](https://docs.google.com/forms/d/e/1FAIpQLSdP42ZJ-UQ8HU1QkO_lywWbfAqxTJWYG2TWRgbQon6h5BeuKw/viewform) first~!
Listing others' members who have contributed to the meetup would be more helpful for others to vote for the budget.

BTW, it is really a good first meetup in China.

[2018-05-23 20:04] jimscarver commented on #673
Prototyping support for the review process is continuing @dckc Is there someplace else to report that oe should this issue be reopened?
We added creation date and column sorting per member request to http://rhobot.glitch.me
Cookies to remember choices, more cross links to rewards and cosmetic improvement are in the pipe.

[2018-05-23 20:59] JUANITA-MAYBEL commented on #675
The hashnode is a community for developers and it's part of the marketing plan to educate and onboard more developers to the community, The blog post is not only meant for the awareness of our new emergent blockchain development platform (RChain Blockchain), but also avenue for further questions from developers and non developers. The blog post has 76 views from developers and i think that is a go

[2018-05-23 21:36] truffard commented on #663
@Pionelle @ICA3DaR5 @dckc  don't tell me this 2 pages document is about to be submitted...  It's honestly an embarrassment...

[2018-05-23 21:48] ICA3DaR5 commented on #663
@truffard Please elaborate. What's an embarassement exactcly? [16 days ago](https://github.com/rchain/bounties/issues/663#issuecomment-387308817) you wrote something to @Pionelle in French, what would that be?

[2018-05-23 21:58] ICA3DaR5 commented on #539
@Barkov-F I didn't set up a budget. I can't speak in behalf of the Coop for the offer you made.

[2018-05-23 22:05] truffard commented on #663
@ICA3DaR5 the document simply doesn't make any sense, has no guideline and simply doesn't serve any purpose. Not to mention the grammatical and spelling mistakes.

[2018-05-23 22:16] dckc commented on #673
Good question. Stand by for a substantive reply. If you don't see one in a
few days, please remind me.

On Wed, May 23, 2018, 3:04 PM jimscarver <notifications@github.com> wrote:

[2018-05-23 23:44] ResonanceXX commented on #693
**Marketing is the embassy of the whole operation.** Consistent with @pmoorman's view, best practices do, and should, be applied in the context of how Marketing issues are executed.

Maybe there is a proliferation of Marketers and I understand the subsequent need to have organization. Willing to conform to this, and work towards attaining the set marks. Cheers all.

[2018-05-23 23:45] Kencode7 commented on #700
The post was merely to excite young developers to try out rholang...

[2018-05-24 03:15] dckc commented on #726
@PatrickM727 @pmoorman @AyAyRon-P @ottermagically Do we still actually do a newsletter? The [newsletter archive](http://archive.sendpulse.com/shc4c/Ace65e732/) has nothing since January 3, 2018.

Meanwhile, the [blog](https://medium.com/rchain-cooperative) is an increasingly reliable place to find write-ups on the weekly debrief: May 2, May 9, May 16. Thanks, @Viraculous . I'm curious about who is

[2018-05-24 03:32] dckc commented on #716
I just re-read the bit about ...

Perhaps this issue should be re-titled to "RChain ambassador to Africa" or something like that?

[2018-05-24 03:59] dckc commented on #673
I wonder how to integrate rhobot.glitch.me into rewards.rchain.coop

But I suppose it's good to keep the discussion here for a bit...

[2018-05-24 04:04] #620 closed

[2018-05-24 04:08] dckc commented on #273
@Jake-Gillberg would you please edit the results of this discussion into CONTRIBUTING.md? Kelly Foster made a relevant contribution in #503, but it needs conflicts resolved.

[2018-05-24 05:42] dckc commented on #238
@pmoorman I trust this sort of thing is being tracked elsewhere.

(I'm reviewing Development issues to see whether they have a clear next step... that sort of thing.)

[2018-05-24 05:42] #238 closed

[2018-05-24 05:45] #268 closed

[2018-05-24 06:56] dckc commented on #678
@lapin7 How did you make that RAMb&b spreadsheet? I think I found a bug.

I merged that spreadsheet with Label info and it seemed to show substantial rewards on invalid issues, which looked odd.  But on investigation, I find the spreadsheet says @pmoorman was rewarded $1283 on 280 "Translate 20180131 Rchain Weekly Community Debrief 62 into Portugese" but rewards.rchain.coop has it as 522 "Website

[2018-05-24 11:15] ICA3DaR5 commented on #510
@rjl493456442 Could you please fill correctly the **For Translators** section.

[2018-05-24 12:52] lapin7 opened #727 "SoW lapin7"
This is an experiment to get persons with a Statement of Work into the bounty system. The goal is to provide insight for RAM's for what I'm doing and to set a budget and reward for my work. Instead of the traditional system of time recording for a typical job title, I prefer to be judged on results.

It's also meant to simplify the payment system for everybody.

[SoW @lapin7](https://drive.google.

[2018-05-24 13:39] lapin7 commented on #678
I will look into that.

[2018-05-24 13:51] allancto commented on #655
@TrenchFloat thank you for adding wontfix- this is an issue we may wish to consider in the future but on hold for now. We had hoped to find a guide/ team leader within this task who would be able to lead the team through researching and learning about stable coins. This has not happened yet.

Many of the members who have provided input into this issue here are geographically from Nigeria. At the R

[2018-05-24 13:53] lapin7 commented on #678
I've exported issues from the rewards.app
Maybe something went wrong with sorting
Will export it again and see if it gives different results.

[2018-05-24 14:13] Barkov-F commented on #669
I'm paying with a [Ghost](https://rchain-world.herokuapp.com/untitled-c/), @ICA3DaR5 I can give you admin rights, if you want. I'm struggling with [DNS](https://rchain-world.herokuapp.com). The domain should be rchain.world

[2018-05-24 17:58] David405 commented on #716
@dckc, I feel the issue title should remain the same, another issue on "RChain ambassador to Africa" would be created and properly referenced to this issue and #591.

The reason is because this issue is open to provide information regarding ROI for Africa and will continue to act as a centre for discussion, changing the title might just cause it to lose its focus.

[2018-05-24 18:38] lapin7 commented on #678
I exported issues and rewards again from the rewards app. For the month March April.
And added it to the data from the spreadsheet Bounty. That contained data from Aug 2017 to Feb 2018.
[RAMb&r](https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/edit#gid=592953635) is updated now.

[2018-05-24 18:59] jeremybeal11 opened #728 "RChain Vs Cardano Claims and Comparison"
After working with @patrick727.  I have received a request to do a claims and comparison report on Cardano.

Here is the one i did with [Cardano.](https://docs.google.com/document/d/1-MAwHS5gtOt1ugsG0Go0Uf23sgWgaa0lwPXQouUDf_U/edit)
This was the second case study I've done and we were going to use with the bounty program.
Hours spent: 10
Rate proposed: $40hr
Proposed bounty: $400.00

### For all i

[2018-05-24 19:20] lapin7 commented on #727
# Hi SoW'ers

If you could the same as me, i.e. create a seperate issue: **SoW <githubname>**.
Add a pub-version of your SoW and report what you've been doing each month.

## Github name
@alex-coinfund
@DecentralizeBanksy
@djrtwo
@evanjensen
@Jake-Gillberg
@jimscarver
@JosDenmark
@kennyrowe
@KentShikama
@lapin7
@makys
@mbejn
@nashef
@patrick727
@plantether
@rafkraft
@sportshark
@travismorehead
@Va

[2018-05-24 19:47] Keaycee commented on #728
Good job Jeremy, i just fixed the link. But the doc is not open for edit suggestions @jeremybeal11

[2018-05-24 23:05] nonnykul commented on #593
@David405, @pmoorman,@ojimadu. I suggest using the 'Discord channel meet up' to organize RChain speakers and representives for Blockchain events

[2018-05-24 23:39] nonnykul commented on #692
@David405,a coursetrack will help in promoting an education content.@pmoorman on #681,will make the 'educational idea' a reality by getting enthusiastic students in Rholang developerment.

[2018-05-25 01:00] #723 closed

[2018-05-25 01:55] Viraculous opened #729 "RChain Weekly Update (Debrief 78) 20180523"
Rchain Weekly Update
[Debrief 78](https://docs.google.com/document/d/1YCPzd4icOs5qeELZlV3x6qMlrNzf9-tMhOwpwPPoHPY/edit?usp=sharing)
- [x]  Watch [video](https://www.youtube.com/watch?v=J8fsjWNYH6A) of the Debrief
- [x]   Write textual run down
- [x]   Upload as RChain medium

[2018-05-25 03:08] dckc commented on #678
RAMb&r still doesn't look right to me. It has a March reward for the following but rewards.rchain.coop does not:

 - 334 O>Implement w3c verifiable claims api on RChain and their usecases worked out.

In fact, in RAMb&r pay periods 201803 and newer, there are 529 mis-matches (and only 21 matches with rewards.rchain.com data (based on pay_period, issue_num, and worker).

[code]

[2018-05-25 07:55] lapin7 commented on #678
Thx for your analyses.

Please try again
[All Data](https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/edit#gid=1333494031&range=A1:E4)
[All Calc](https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/edit#gid=921691599&range=A1:E4)
[March April Data](https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/e

[2018-05-25 09:51] Barkov-F commented on #678
@dckc Can you share the list of the lucky ones?

[2018-05-25 12:41] Barkov-F commented on #669
@dckc @pmoorman @lapin7 @jimscarver  I'm glad we are having this conversation. I think in the future bounty system should adopt three payment models: _"per word"_, _"per view"_ and the _mixed_ one.

**"per word"** model in my view is more suitable for the texts that will be more or less stable overtime like &#120588;-lang tutorial once &#120588;-lang turns 'Mercury', or architecture docs or other

[2018-05-25 13:54] Howsoonisnow commented on #690
We have completed the translation.

[2018-05-25 14:55] TrenchFloat commented on #678
Looks like this won't be complete by Monday, so I'm postponing to June 2nd, three days before the board meeting on the 5th. Once the last few sections are written up, I will start working on making the info into a cohesive and argumentative report with a main message. I'm working with HJ on this and the coordination of the financial data.

Much of the discussion in the #bounties discord channel is

[2018-05-25 15:02] jasoncruzzy commented on #669
@Barkov F the three ways payment plan suggested is a welcome development.
It will ensure a better transparency system.

On May 25, 2018 13:41, "Barkov-F" <notifications@github.com> wrote:

[2018-05-25 15:39] tcezi commented on #727
A bunch of this guy do next to nothing yet they are paid...  if we are truly build a transparent platform, i think the RAM deserves to what the SOW is for.

[2018-05-25 16:21] lapin7 commented on #727
These persons had someday an SoW. I don't know if they still get paid. Moreover you won't see them a lot here in Github/RChain/bounties.

@tcezi How do you know? Come with some proof!

[2018-05-25 18:03] jeremybeal11 commented on #728
@Keaycee  I'm sorry! still getting familiar to google Docs. here is the link for edits:

https://docs.google.com/document/d/1-MAwHS5gtOt1ugsG0Go0Uf23sgWgaa0lwPXQouUDf_U/edit?usp=sharing

[2018-05-26 07:57] lapin7 commented on #616
@ian-bloom came up with an implementation of a [centralized bounty system](https://sites.google.com/rchain.coop/rewards/approval-process?authuser=0)

[2018-05-26 08:10] #680 closed

[2018-05-26 08:10] #675 closed

[2018-05-26 08:18] JUANITA-MAYBEL commented on #662
It's pretty good to have a web forum for conversation and also educating the public about the cooperative. @David405 The link to the web forum has got a bug or an error, it does not load. I suppose this is the link www.talk.i.ng. Can you look it up.

[2018-05-26 10:20] lapin7 commented on #728
@jeremybeal11
Please take some time and https://github.com/rchain/bounties/blob/master/CONTRIBUTING.md
Especially fill out [RAM-registration](out the RAM registration form https://docs.google.com/forms/d/e/1FAIpQLSecwGUVFNx_Xa_Qsw5bxLnaKstPS8kQnfrUGqpuf22rLDteDg/viewform )

[2018-05-26 12:55] Valentine-Mario commented on #662
The URL has been moved to rchain.africa

[2018-05-26 13:55] dckc commented on #678
Yes, now all 555 reward records for March and April match between that spreadsheet and the rewards.rchain.coop database, @lapin7 .

[2018-05-26 15:14] #715 closed

[2018-05-26 15:36] #719 closed

[2018-05-26 15:40] casanwugo commented on #711
<a href="https://docs.google.com/document/d/1yiT3JUO-0aidXaxHzCD8eRBQJZJ3aTm_PY8h-GCEGTQ/edit?usp=drivesdk&ouid=115916130157516756180 ">Bienvenue Kenny Rowe</a>

[2018-05-26 16:04] casanwugo commented on #711
@ ICA3DaR5... Here are the translated works done via google docs. Please kindly reassign reviewers so that contents can be posted to my personal medium page, and the links posted on the Telegram Africa group as well. Thanks!

<a href=https://docs.google.com/document/d/1yiT3JUO-0aidXaxHzCD8eRBQJZJ3aTm_PY8h-GCEGTQ/edit?usp=drivesdk&ouid=115916130157516756180>Bienvenue Kenny Rowe</a>
<a href=https://

[2018-05-26 16:06] ResonanceXX commented on #197
http://qr.ae/TUTxnD

Adopting @lapin7's original link list system.

[2018-05-26 16:09] casanwugo commented on #711
<a href= https://docs.google.com/document/d/1yiT3JUO-0aidXaxHzCD8eRBQJZJ3aTm_PY8h-GCEGTQ/edit?usp=drivesdk&ouid=115916130157516756180 >Bienvenue Kenny Rowe</a>

[2018-05-26 16:15] casanwugo commented on #711
<a href="https://docs.google.com/document/d/1yiT3JUO-0aidXaxHzCD8eRBQJZJ3aTm_PY8h-GCEGTQ/edit?usp=drivesdk&ouid=115916130157516756180">Bienvenue Kenny Rowe</a>

[2018-05-26 16:18] casanwugo commented on #711
@ ICA3DaR5... Here are the translated works done via google docs. Please kindly reassign reviewers so that contents can be posted to my personal medium page, and the links posted on the Telegram Africa group as well. Thanks!

 <a href="https://docs.google.com/document/d/1yiT3JUO-0aidXaxHzCD8eRBQJZJ3aTm_PY8h-GCEGTQ/edit?usp=drivesdk&ouid=115916130157516756180">Bienvenue Kenny Rowe
 <a href="https:/

[2018-05-26 16:32] ResonanceXX commented on #197
http://qr.ae/TUTxrU

**Jessica few** Question requested and answered. All the links being there.

[2018-05-26 16:42] ResonanceXX commented on #197
http://qr.ae/TUTxy9

New method. I expect newer and more better results.

[2018-05-26 16:45] casanwugo commented on #711
@ICA3DaR5 ,,, in reference to the last comment you made, i was able to create a personal medium page where the contents would first be posted to. But specifically making sure that the links gets to the targeted audience through Telegram Africa group and other social media. Please let me know if that would work?

[2018-05-26 18:11] ICA3DaR5 commented on #489
The [PR](https://github.com/rchain/legaldocs/pull/2) is still open.

[2018-05-26 18:18] ICA3DaR5 commented on #498
Please create another PR for this, since your final work is not merged and previous PR was closed.

[2018-05-26 18:29] qelentium commented on #499
I have done pull request 2 months ago but it was denied and i can't find it anywhere right now

[2018-05-26 18:30] #510 closed

[2018-05-26 18:36] qelentium commented on #652
Can i see your diploma of knowledge of spanish?

[2018-05-26 18:47] qelentium commented on #498
Reopened PR

[2018-05-26 18:54] ICA3DaR5 commented on #499
@qelentium Could you please re-open that PR. It needs to be merged for this issue to close.

[2018-05-26 18:55] ICA3DaR5 commented on #498
@qelentium Awesome!

[2018-05-26 18:57] qelentium commented on #499
Reopened

[2018-05-26 18:58] qelentium commented on #499
That's what KellAtPyrofex said about it: "This translation is for a now outdated version of the Rholang tutorial. Please close. The current tutorial is rholangtut-0.2.md (https://github.com/rchain/rchain/blob/master/rholang/doc/rholangtut-0.2.md). Most of the work here can be applied to that, and a new PR opened for review"

[2018-05-26 19:36] ICA3DaR5 commented on #532
This issue is invalid because the PR was not accepted. I am expecting @thiefinshadows to create a new issue and upload the newest version.

[2018-05-26 19:42] ICA3DaR5 commented on #542
From now on please use the [ISSUE_TEMPLATE](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md)

[2018-05-26 19:50] ICA3DaR5 commented on #549
Closing this. Feel free to re-open if you need to.

[2018-05-26 19:50] #549 closed

[2018-05-26 19:54] ICA3DaR5 commented on #554
Closing this, but feel free to re-open if you need to!

[2018-05-26 19:54] #554 closed

[2018-05-26 20:08] ICA3DaR5 commented on #586
We'll upload the translated version of rholangtut-0.3.md soon.

[2018-05-26 20:13] ICA3DaR5 commented on #612
Any progress on this?

[2018-05-26 20:16] ICA3DaR5 commented on #625
Any updates on this issue?

[2018-05-26 20:26] ICA3DaR5 commented on #671
@truffard What's the status of this?

[2018-05-26 20:28] ICA3DaR5 commented on #690
Please leave this open until the Pull Request is merged.

[2018-05-26 20:35] ICA3DaR5 commented on #711
@casanwugo If you need a reviewer unfortunately you need to find him/her yourself. Asking on Discord would be a good start.

A new Medium account specifically for this purpose would be awesome!

[2018-05-26 21:13] ICA3DaR5 commented on #721
Issues from April and March are now reported at [Translation Guides' Label Report (May 2018)](https://docs.google.com/document/d/1yv4NhhRYD8lPKR4ZWd5chEXC1ELEWrNrIRkfyXz9zhs/edit?usp=sharing)

[2018-05-26 22:42] ResonanceXX commented on #197
New approach. Reaching out to the ecosystem of core Blockchain enthusiasts.
Being around a topic as **How can I start a career in blockchain technology?**

Then responding suitably. With all the links there.

[2018-05-26 22:45] jeremybeal11 commented on #728
I have already registered and gone through the verification process. Is their something else I’m missing?

[2018-05-26 22:48] ResonanceXX commented on #197
http://qr.ae/TUTxU9

[2018-05-27 01:29] zsluedem commented on #625
@linsheng9731 You can post it in http://www.rchain.site/

[2018-05-27 03:40] niwaa commented on #671
This has been completed. Translation is done and was uploaded to the French Rchain youtube channel.

[2018-05-27 05:32] sportshark commented on #727
I'm sorry I didn’t see this message because I’m busy
Monthly budget $ 4,993.00
Estimated working hours per month: 120
Report of tasks and results:
1.RChain fans website(http://rchain.site) in chinese operation and maintenance,In May we published a total of 7 RChain articles, including 4 community briefings and 3 technical articles.We also upgraded the site's version, added some new RChain links, a

[2018-05-27 06:32] David405 commented on #591
@pmoorman I know this is coming late but to clarify your thoughts as to why the comment from jasoncruzzy was deleted, I was on mobile that day and I wanted to edit his comment but mistakenly touched the delete function and github doesn't reverse such ( _this has happened severally with my own comments while on mobile but deleting your own comment doesn't give a notification_)

[2018-05-27 06:53] David405 commented on #662
Hey guys, this forum is live, fully functional and bug free (_at least none that has come to my notice_), lets do well to use the forum in our interactions and growing a lively community.

[2018-05-27 07:02] lapin7 commented on #727
@sportshark as far as I know we were busy to get an SoW set up for you, but we did not manage to so caused by too many organizational hurdles. So you're in the Bounty System. I've to add you again to the data of the overall overview of bounty payments.

It's awesome what you're doing and the results could be added to [Coop2Board: 201804 Bounty Progress Report](https://docs.google.com/document/d/18

[2018-05-27 07:13] lapin7 commented on #709
I think [RChain Berlin Coop Info](https://docs.google.com/document/d/1QkdFbUaX-39BPDeJ0DaTggUpjiObohotyYIWWknzH-c/edit?ts=5aec629d#heading=h.mjd70wy8699q) is a dead document. The owner doesn't confirm changes.

[2018-05-27 07:14] Howsoonisnow commented on #690
Ok

On Sat, 26 May 2018, 22:29 Donald A. Iljazi, <notifications@github.com>
wrote:

[2018-05-27 07:16] Ojimadu commented on #724
@wangjia184 It seems you're not yet a collaborator. Follow the instructions above to become one, or if any of the participants you mentioned is already a member and a collaborator, s/he can help claim the rewards for subsequent redistribution to other participants.

[2018-05-27 08:19] sportshark commented on #727
@lapin7 Thank you！This is not my personal achievement. But the result of the efforts of many members together. I'm just their representative and connect with people who are really capable to do things that are good for the community.

[2018-05-27 10:57] yuhuanmocmoc commented on #437
Have completed the work of reviewing original subtitle and translation, and upload the result subtitle to [the google doc](https://drive.google.com/open?id=1MrARXFYUlFaIc0At-PmmRE-61LTRZdKK)
You can review them across. @AbnerZheng @rjl493456442 @HaizhenZhuo

[2018-05-27 12:18] dckc commented on #653
No more than I already said.

On Sat, May 26, 2018, 3:21 PM Donald A. Iljazi <notifications@github.com>
wrote:

[2018-05-27 12:38] casanwugo commented on #711
- <"https://medium.com/rchain-cooperative/welcome-kenny-rowe-c120ac55b404">Welcome Kenny Rowe!</a>
- <a href="https://medium.com/rchain-cooperative/resonate-and-lifeid-collaborate-da2d22e43df6?source=---------3">Resonate and lifeID collaborate</a>
- <a href="https://medium.com/rchain-cooperative/rnode-v0-3-1-introduces-the-rchain-consensus-protocol-23e67666ba82?source=---------2">RNode v0.3.1 intr

[2018-05-27 12:40] casanwugo commented on #711
- <a href="https://medium.com/rchain-cooperative/welcome-kenny-rowe-c120ac55b404">Welcome Kenny Rowe!</a>
- <a href="https://medium.com/rchain-cooperative/resonate-and-lifeid-collaborate-da2d22e43df6?source=---------3">Resonate and lifeID collaborate</a>
- <a href="https://medium.com/rchain-cooperative/rnode-v0-3-1-introduces-the-rchain-consensus-protocol-23e67666ba82?source=---------2">RNode v0.3

[2018-05-27 12:54] casanwugo commented on #711
@ICA3DaR5,, Thanks alot! You've been of great assistance.

[2018-05-27 13:00] casanwugo commented on #711
@truffard, please review the translated documents in the comment section, so that they can be posted to Medium.Thank you.

[2018-05-27 15:48] kitblake commented on #616
Here's an upshot of the EC meeting (my interpretation). There's still a lot of dubiousness about the bounty system in general and no alignment within the committee. In particular there are doubts about whether our decentralized approach to the ToS will solve the current and potential problems.

We have another month to furnish proof. Therefore the long term report about the history of the bounty s

[2018-05-27 16:11] allancto commented on #681
@nonnykul can you explain the term "tertiary institutions"? Is this the same as "University" in your comment above? Are you speaking of particular institutions? Thanks!  -Allan

[2018-05-27 16:26] nonnykul commented on #681
@allancto Yes I mean Universities or generally institutions of higher learning. This work is geared towards adding RChain to various research work.

[2018-05-27 16:43] allancto commented on #681
@nonnykul  thanks! I was wondering, perhaps a longer version (long comment or short gdocs) might give everyone a bit more context on what the names of the institutions are, how many, where they are located, and so on. Also perhaps a little more context will be helpful in the measure of completiion, what might it mean for students to get involved with Rholang? In the first 2 weeks of 8 proposed, wh

[2018-05-27 16:52] allancto commented on #681
@all it looks to me like this is a very promising proposal, i would support it and suggest that if it seems to be working well we watch the results over the the length of the proposal and let the results guide our future decisions. @nonnykul the more visibility and analysis you provide as to the purpose, results and progress the easier it will be for voters to understand and make decisions about a

[2018-05-27 17:26] jimscarver commented on #637
This issue is on the task approval overdue list. Do you want to budget this?

[2018-05-27 17:37] jimscarver commented on #575
This issue is on the task approval overdue list. How do we dispose of it?

[2018-05-27 17:56] BelovedAquila commented on #653
@dckc what else haven't been addressed here please? Why does it seem like you are shying away from pointing out? You don't judge something you know nothing about that way,I know my efforts on this issue and am willing to defend it, so make your point.

[2018-05-27 18:03] ICA3DaR5 commented on #231
Closing this since it seems complete!

[2018-05-27 18:03] #231 closed

[2018-05-27 18:07] dckc commented on #575
To support it: add a budget vote.

Otherwise... close it with a label that says it was rejected. Neither
invalid not wontfix seems to apply here
 I have been experimenting with **duplicate** for things like this.

On Sun, May 27, 2018, 12:37 PM jimscarver <notifications@github.com> wrote:

[2018-05-27 18:15] nonnykul commented on #681
@allancto David and I have been talking a lot lately concerning reaching out to the university community in various parts of Africa. We reached a conclusion that the best way for now is to make as many students and researchers as possible present for the First RChain africa meetup that is coming up on the 9th of June in Nigeria. This is part of the first phase of this work.

The idea behind this i

[2018-05-27 18:27] ICA3DaR5 commented on #653
If you want me to withdraw my slashing vote, don't defend your clearly unfair position; change your votes and address the questions and criticism above.

[2018-05-27 18:46] dckc commented on #728
I'm pretty interested in learning about how RChain compares to things like Cardano. I'm struggling to get much out of the draft so far. Maybe it's because I'm too new to the field. I could go and read more of the Cardano materials, but that would seem to defeat the purpose of a document such as this.

Also, I see stuff about Cardano but nothing about RChain. Both Cardano and RChain aim to use proo

[2018-05-27 18:51] dckc commented on #484
I don't see myself getting to this any time soon.

Anybody else who wants to work on it is free to re-open it.

[2018-05-27 18:51] #484 closed

[2018-05-27 19:07] Ojimadu commented on #593
Am closing off this issue. Feel free to reopen if you're willing to work on it.

[2018-05-27 19:07] #593 closed

[2018-05-27 19:08] Ojimadu commented on #534
This seems to be done and paid for. Am closing this off.

[2018-05-27 19:09] #534 closed

[2018-05-27 19:33] michaelizer commented on #312
https://github.com/rchain/bounties/pull/341
https://github.com/rchain/bounties/pull/340

[2018-05-27 19:38] jimscarver commented on #575
I did vote for the budget. two more votes will clear the overdue status.

[2018-05-27 19:45] ICA3DaR5 commented on #423
Could you please post the PR here so it's in a public view? Thanks.

[2018-05-27 19:46] #423 closed

[2018-05-27 20:12] Ojimadu commented on #639
@Viraculous, Patrick said he asked you to drive this issue and issue #583, I would like to see that's both these issues are merged to a new issue for a monthly list of events with a time gap of one month before the actual event takes place.

[2018-05-27 20:15] Ojimadu commented on #583
@Viraculous See my comment on issues #639.

[2018-05-27 20:30] allancto commented on #681
@nonnykul @David405 your comment just above is very communicative of what you're doing. I'd vote to expand the budget by an additional $600 (or more?) could be used to provide an expanded version of this comment. In an expanded version I'd hope to see information of the following sort: an expanded version of the comment as a googleDoc with the information above and more (bios? photos?), a google/w

[2018-05-27 20:49] Ojimadu commented on #724
I have voted for B&R on this issue but I could not find Caro and Tao  to set rewards for them. This needs one more vote for budgets and two more votes for rewards.

[2018-05-27 21:16] Viraculous commented on #639
@Ojimadu thanks. Merging it is better than having two seperate events-to-attend issues. I will create a seperate google sheet ranging from blockchain to non-blockchain events as it meets the scope that @PatrickM727 listed above and sort out events a month ahead based on certain criteria. It would be wonderful to set a yardstick an event must reach before it can be deemed fit for the community to a

[2018-05-27 22:18] jeremybeal11 commented on #728
@dckc the document that i submitted is just a claims document done in google docs to show Cardano major claims for market research and compare them to what RChain is currently doing. I’m new to this as well, and still learning more and more about RChain on the technical side. Long term speaking, i want to make this a article so people can look at it and learn about both platforms in a digestible m

[2018-05-28 00:48] wangjia184 commented on #724
Thanks @Ojimadu for voting, we are new here hence not familiar with the flows. I am trying hard to follow :)

I have
* filled the RAM-registration form
* mailed ops@rchain.coop with my Discord ID / GitHubID
* Joined RChain Google Group

If I claim the reward and redistribute to them, are their names still required to appear in rewards.rchain.coop ?

[2018-05-28 02:31] yuhuanmocmoc opened #730 "Translate the Medium blog posts to Chinese Part 3"
I will translate these Medium documents into Chinese with @rjl493456442.
1.[RChain Weekly Update (Debrief 77) -16 May 2018](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-77-16-may-2018-5ecfa806933f) [1476 words]
2.[RChain Weekly Debrief | 9th, May 2018](https://medium.com/rchain-cooperative/rchain-weekly-update-9th-may-2018-687bd7c80ebd) [2601 words]
3.[RChain Weekly Update (D

[2018-05-28 04:07] ResonanceXX commented on #197
http://qr.ae/TUTmTK

[2018-05-28 04:14] ResonanceXX commented on #197
One of the key goals of any marketing strategy is to ensure as much market penetration as possible for the product/service.

[2018-05-28 05:32] #644 closed

[2018-05-28 11:10] Pionelle commented on #197
This is good.I followed the link and it shows you already have 3.5k answer views this month and 13k views in total.
You've also been consistent with what you put up!Well done!

    On Monday, May 28, 2018 5:14 AM, Chris Ken <notifications@github.com> wrote:

 One of the key goals of any marketing strategy is to ensure as much market penetration as possible for the product/service.—
You are receivi

[2018-05-28 12:14] Pionelle commented on #671
Can you post a link to the youtube video here?

[2018-05-28 13:04] lapin7 commented on #591
@allancto What do you mean with this?

[2018-05-28 13:29] lapin7 commented on #678
I've updated the spreadsheet RAMb&r
https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/edit#gid=1333494031&range=B4:E5

[2018-05-28 13:33] TrenchFloat commented on #675
You're right that posts like these are great for awareness. I'm glad you're making them. As for the budget, the task you detailed in the initial comment was making the blog post. So we should create a budget for that, and if you spend a significant amount of time _maintaining_ the post/answering questions, you can reopen this issue and campaign to be compensated for that work afterwards - not up f

[2018-05-28 13:40] TrenchFloat commented on #726
Funny enough, I've never actually gotten a newsletter, despite some effort. I'm closing these (this and #725) as duplicates and opening a "weekly debrief index maintenance" issue.

[2018-05-28 13:40] #726 closed

[2018-05-28 13:41] TrenchFloat commented on #725
See short discussion in #726.

[2018-05-28 13:41] #725 closed

[2018-05-28 14:03] TrenchFloat opened #731 "Weekly Debrief Index Maintenance"
I maintain the [Weekly Debrief Index](https://github.com/rchain/bounties/wiki/Weekly-Debrief-Index) by writing up timestamps for [Greg's streamed hangouts](https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w) each week. The timestamps help people find the updates they need without watching the hour-long updates.

_Estimated Budget of Task:_ **$400/month**  \
Patrick M gave me the task and we

[2018-05-28 14:10] #635 closed

[2018-05-28 14:18] TrenchFloat commented on #700
In that case, I propose a budget of $80, for 2 hours of work at $40/hr. With some editing, I would think to expand the budget.

[2018-05-28 14:33] ICA3DaR5 commented on #685
Due to 0 free time. I am closing this. Will move and re-write this on the Wiki soon.

[2018-05-28 15:05] TrenchFloat commented on #559
@Cryptovideos I just reached out to Patrick about putting the video on RChain's channel. Where are you on the description and tags on your video?

[2018-05-28 15:51] #679 closed

[2018-05-28 16:27] Cryptovideos commented on #559
Hey there Kyle

I won’t add Tags etc until i know whats happening?

Are you saying that the video is not going the loaded to the Youtube channel of Rchain? and that i must go ahead and add Tags and Descriptions?

Please clarify for me

tsk Kyle

On 28 May 2018, at 17:05, Kyle Connolly <notifications@github.com<mailto:notifications@github.com>> wrote:

@Cryptovideos<https://github.com/Cryptovideos>

[2018-05-28 18:07] gsofianidis opened #732 "Translate "RNode v0.3.1 introduces the RChain consensus protocol" - "RChain Weekly Update (Debrief 77) -16 May 2018" to German"
# Issue

## Original (English) Content
- [RChain Weekly Update (Debrief 77) -16 May 2018](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-77-16-may-2018-5ecfa806933f)
- [RChain Weekly Debrief - 9th, May 2018](https://medium.com/rchain-cooperative/rchain-weekly-update-9th-may-2018-687bd7c80ebd)
- [RChain Weekly Update (Debrief 75) — 02 May](https://medium.com/rchain-cooperative/r

[2018-05-28 18:20] dckc commented on #685
If you still plan to work on it, I'd rather you left it open.

[2018-05-28 18:36] dckc commented on #532
The $2300 reward was paid out in March. Perhaps it's better to do the remaining work under this issue to be sure we don't pay for it again?

[2018-05-28 18:51] ICA3DaR5 commented on #425
Could you please post a link of the final work done here for public view?

Thanks!

[2018-05-28 19:01] ICA3DaR5 commented on #437
Could you please also upload it in an .SRT format so it can be used directly on the YouTube video?

[2018-05-28 19:08] ICA3DaR5 commented on #671
Is [this](https://www.youtube.com/watch?v=4GxheRH7Ql8) the one?

[2018-05-28 19:10] truffard commented on #671
@ICA3DaR5 yes it is

[2018-05-28 19:12] dckc commented on #678
@lapin7 This update looks good from all the angles I have checked.

@TrenchFloat I think I'm done with [the Development section][1]. @Jake-Gillberg maybe you could take a look?

[1]: https://docs.google.com/document/d/18TfJWqAREEyr0wQdGb_UOxrFVk4KOigdFgpf7bV2ZL8/edit#heading=h.53k4w9k4o6yv

[2018-05-28 19:20] #262 closed

[2018-05-28 19:31] PatrickM727 commented on #726
I'll add the newsletters to archive.

ae actually havent done them for May, as we are staffing up and reconfigureing process's (note debiref posts)

@Viraculous is submitting his summaries to me and @plantether  and @TrenchFloat continues to do good work on the index.

Thanks for staying on top of this

newsletters will be coming back asap starting Mid June... growing pains.

[2018-05-28 19:43] ICA3DaR5 commented on #671
Closing this since it seems to have been completed.

[2018-05-28 19:43] #671 closed

[2018-05-28 20:02] ICA3DaR5 commented on #721
Double check is completed!

We sub-categorized the **Under Investigation** section and revisited the issues for a possible resolve.

[2018-05-28 20:12] truffard commented on #477
@ICA3DaR5  there's a slight bug regarding the reward system of issue 671

[2018-05-28 20:25] azazime opened #733 "RChain: RChain Community in relation to lives of its members"
Rchain is packed with a lot of endless possibilities and advantages for it's members and the world at large.  Hence,  understanding these advantages is very pivotal to enjoying such.

The document below describes Rchain,  The Community and how it translates to the lives of active members.
READ HERE: https://drive.google.com/file/d/1h6470-_6cFkRJIBlRuDUu2S-Or7PuziT/view?usp=drivesdk

**Task**
*Publ

[2018-05-28 21:14] azazime commented on #716
Am ready to collaborate

[2018-05-28 22:16] Ojimadu commented on #724
Your name would be the one to appear on the B&R as you received the reward on their behalf.
On the RAM registrations, I supposed you should receive an invitation to become a collaborator on this repository. Have you been KYC'ed on Discord?

[2018-05-28 22:17] InternautNeven commented on #544
Since the presentation is in the form of insights, I will add just a couple of sentences.
The goal was to explain the time and conceptual framework from where the blockchain technology has emerged. Blockchain tehology emerged from cryptography (solution of Byzantine Generals' Problem) as a discipline of Cybernetic (greek word meaning "art of steering"). Cybernetic was defined by Norman Wiener (mat

[2018-05-28 22:18] casanwugo commented on #716
@David405,,,Thumbs up! I am available if my assistance is needed.

[2018-05-28 22:29] BelovedAquila commented on #653
Ok, thank you @ICA3DaR5 what is yet to be done is  changing my vote,which aspects of the vote needed to be changed and to what? am open to fair suggestions please @dckc @kitblake

[2018-05-28 22:43] #544 closed

[2018-05-28 23:47] ResonanceXX commented on #197
@Pionelle Thank you very much. You can contribute in your own ways too. Cheers.

[2018-05-28 23:49] ResonanceXX commented on #197
@All By doing this, many people get to know about our company, what we offer and how to interact with these solutions and services.

[2018-05-28 23:53] ResonanceXX commented on #197
http://qr.ae/TUTlBb

[2018-05-29 00:01] ResonanceXX commented on #197
![screenshot-2018-5-26 chris ken s answer to what makes ripple different than other cryptocurrencies - quora](https://user-images.githubusercontent.com/34219332/40632145-a6b04a9a-62db-11e8-9f39-061f0c5a5a60.png)
Plenty of activity around Quora. Although primary interest not RChains'. Responses from @Chris.Ken imply RChain and end with supporting links.

[2018-05-29 00:09] ResonanceXX commented on #197
http://qr.ae/TUTlEN

[2018-05-29 02:33] wangjia184 commented on #724
Yep, I have been KYC'ed on Discord.
And I filled both [collaborators form](https://docs.google.com/forms/d/e/1FAIpQLSdP42ZJ-UQ8HU1QkO_lywWbfAqxTJWYG2TWRgbQon6h5BeuKw/viewform) and [RAM-registration](https://docs.google.com/forms/d/e/1FAIpQLSecwGUVFNx_Xa_Qsw5bxLnaKstPS8kQnfrUGqpuf22rLDteDg/viewform) form, no invitation email is received so far.  Perhaps I need wait longer?

[2018-05-29 03:11] zsluedem commented on #425
@ICA3DaR5 Ok~!trying to get to the man~!

[2018-05-29 11:27] ICA3DaR5 commented on #732
Closing this, it looks complete! Please don't forget to vote!

[2018-05-29 11:27] #732 closed

[2018-05-29 12:42] ResonanceXX commented on #197
http://qr.ae/TUTzTA

[2018-05-29 12:56] jimscarver commented on #609
We are seeing an emergence of an rchain ready [self sovereign user determined interface](https://docs.google.com/document/d/18GEmM0iT6UnPUhUJoHrZ6FPZi3-K96BD3RxErylayD4/edit#heading=h.wircxxj1q804) in the [noob work studies](https://docs.google.com/document/d/1HNIq_sBupkrtO3yuZT_5OlBWw8UEM3O9vNeQGtq9dpw/edit#). With a little help, you can use your own variation https://rhobot.glitch.me easily.

[2018-05-29 13:22] jasoncruzzy commented on #733
Nice work, very educating!

[2018-05-29 14:15] jimscarver commented on #208
(copied from #609 ) :D
We are seeing an emergence of an rchain ready [self sovereign user determined interface](https://docs.google.com/document/d/18GEmM0iT6UnPUhUJoHrZ6FPZi3-K96BD3RxErylayD4/edit#heading=h.wircxxj1q804) in the [noob work studies](https://docs.google.com/document/d/1HNIq_sBupkrtO3yuZT_5OlBWw8UEM3O9vNeQGtq9dpw/edit#). With a little help from your friends, you can use your own varia

[2018-05-29 14:17] lapin7 commented on #678
OK,
Then I set the access for the spreadsheet [RAMb&r](https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/edit#gid=1333494031&range=B4:E5) for RAM's to edit again

[2018-05-29 20:06] Ojimadu commented on #658
Any update on this?

[2018-05-29 21:52] jimscarver commented on #673
The answer is you don't  integrate rhobot.glitch.me into rewards.rchain.coop. rhobot is a user driven interface independent of the rewards.rchain.coop interface. It intergrates via APIs. We can integrate our own fron ends using mysql but it would be nice if APIs for each function were available, preferably with GraphQL

Todaty Allanc, JIm, Gary and Aadi Reordered columns, added ALL to label dropdo

[2018-05-29 22:11] #714 closed

[2018-05-30 02:52] Preshcode commented on #733
You did a good job there. Rchain is going to change the way the world sees blockchain technology.

[2018-05-30 03:03] Preshcode commented on #730
A wonderful idea for the Chinese speaking users of the platform. Thumbs up.

[2018-05-30 05:29] barneycinnamon commented on #471
The values poll concluded on May 29 at the end of two weeks live on Discord. The working group will move on to working on principles based on the top values.
Top three values: Collective Intelligence (26), Transparency (25), Sustainability (22)
Next three values: Integrity (16), Decentralization (15), Respect (14)

[2018-05-30 08:13] ResonanceXX commented on #197
http://qr.ae/TUT6qy

[2018-05-30 08:33] ResonanceXX commented on #197
http://qr.ae/TUT66M

[2018-05-30 12:39] yuhuanmocmoc commented on #437
@ICA3DaR5 it's ok.

[2018-05-30 13:47] casanwugo commented on #711
- <a href="https://medium.com/p/78fe872b739e?source=user_profile---------7-------------------">Bienvenue Kenny Rowe
- <a href="https://medium.com/p/48aad3d9c5aa?source=user_profile---------8-------------------">Resonate et lifeID collaborent
- <a href="https://medium.com/p/d615b7be6e03?source=user_profile---------3-------------------">RNode v0.3.1introduit le protocole de concensus
- <a href="http

[2018-05-30 15:09] kitblake opened #734 "20180530 RChain Active Members Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1, New York -4, Seattle -7

- [ ] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).
- [ ]  Any key discussion point

[2018-05-30 15:37] #606 closed

[2018-05-30 15:47] dckc commented on #261
@TrenchFloat, reminder: you said you'd make a screencast how-to video on slashing in the b&r app wiki page.

ref:
 - [May 25 meeting](https://docs.google.com/document/d/1NbEku_ye40H0WTBA3-7YibtjYuSFvbq_BDxk4e-900E/edit#)

[2018-05-30 15:48] dckc commented on #261
The only other pending work I'm aware of is updating CONTRIBUTING.md. Anybody else want to do it? Otherwise I guess I will.

[2018-05-30 15:51] dckc commented on #678
recall from [May 25 meeting][1]:

 - @lapin7  will contact Kitblake to get Telegram metrics into the report.
 - @TrenchFloat will start an issue collecting metrics/analytics on youtube videos that reflect bounty program efforts.

[1]: https://docs.google.com/document/d/1NbEku_ye40H0WTBA3-7YibtjYuSFvbq_BDxk4e-900E/edit#

[2018-05-30 15:53] kitblake opened #735 "ONGOING: Manage Telegram growth, focus, support"
_Describe how the building and implementation of this task will benefit RChain:_

The organic growth of the Telegram groups continues. Admins are keeping the conversation focused on the tech as opposed to the market. Lots of the same questions get asked and with the answers admins often send users on to Github, Jira, and the Dev site. A lot of Members onboard via Telegram. Admins steer users to jo

[2018-05-30 15:55] dckc commented on #734
I just reviewed action items from the [May 25 meeting][1]. I guess they mostly fit into existing issues: #261 slashing (@TrenchFloat ) and #678 April report (@TrenchFloat @lapin7 ).

[1]: https://docs.google.com/document/d/1NbEku_ye40H0WTBA3-7YibtjYuSFvbq_BDxk4e-900E/edit#

[2018-05-30 15:56] kitblake commented on #735
This is the May activity for the RChain_Coop group:
https://combot.org/chat/-1001123521235?start=01%2F05%2F2018&end=31%2F05%2F2018

[2018-05-30 16:02] kitblake commented on #735
We're testing the DaySandBox bot, which:
"Removes forwarded and link-containing posts from new group users (joined less than [24] hours ago)."
It's configurable.

[2018-05-30 16:07] MarioPolo commented on #477
Same here, I also have a problem with #449, we've been voting but the votes are not counting.

[2018-05-30 18:04] kmoskowitz commented on #471
Just want to add that values derived from the poll were additional values to those already agreed upon as Coop Values:

Democracy
Equality
Equity
Solidarity
Self-Help
Self-Responsibilty

This link contains the most current list and definitions of values used in our Discord poll: https://docs.google.com/document/d/1QjWxmTrR_Qx2s_x5IKMSyruQDZCw_1-VCD2o58w_Icc/edit <https://docs.google.com/document/d

[2018-05-30 18:48] TrenchFloat commented on #672
For budgeting/rewarding: I took the [minutes](https://docs.google.com/document/d/1NbEku_ye40H0WTBA3-7YibtjYuSFvbq_BDxk4e-900E/edit?ts=5b005aa4#) and participated in the 5/25 "guiding guides" meeting, as well as maintaining Education issues. We're still looking for someone with the bandwidth to guide Ops issues fully.

[2018-05-30 19:04] TrenchFloat opened #736 "Metrics for RAM-Made YouTube Videos"
There was motion in the 20180525 ["guiding guides" meeting](https://docs.google.com/document/d/1NbEku_ye40H0WTBA3-7YibtjYuSFvbq_BDxk4e-900E/edit?ts=5b005aa4#) for measurements of bounty efforts in the various channels in which we are present. This issue aims to record our presence on YouTube.

Bounty System YouTubers, I will be in contact with you soon to compile data like view counts, engagement

[2018-05-30 19:20] Staff91 commented on #717
Finished.

[2018-05-30 19:20] #717 closed

[2018-05-30 19:24] gsofianidis opened #737 "Translate rholangtut-0.3.md to German"
# Issue

## Original (English) Content
- [rholangtut-0.3.md](https://github.com/rchain/rchain/blob/master/docs/rholang/rholangtut-0.3.md)

## Translated (German) Content
- [rholangtut-0.3_DE.md](https://github.com/gsofianidis/rchain/blob/aa7d75626d4303642a6dc307c3fc6400b26f3ae6/docs/rholang/rholangtut-0.3_DE.md)

## Tasks
- [x] Download the original (English) content.
- [x] Translate the content.

[2018-05-30 19:31] ICA3DaR5 opened #738 "Translate "RChain Weekly Update(Debrief 78) — 23, May" Medium Blog Post to Greek"
# Issue

## Original (English) Content
- [RChain Weekly Update(Debrief 78) — 23, May](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-78-23-may-c919bf19a8ed)

## Translated (Greek) Content
- [Εβδομαδιαία Ενημέρωση του RChain (Debrief 78) – 23 Μαϊου 2018](https://rchain.gr/t/rchain-debrief-78-23-2018/39)

## Tasks
- [x] Translate the content.
- [x] Check the spelling.
- [x] Revie

[2018-05-30 19:38] ICA3DaR5 commented on #676
Closing this, since no work has been done.

[2018-05-30 19:38] #676 closed

[2018-05-30 19:41] ICA3DaR5 commented on #499
@KellyatPyrofex Okay, so I would expect @qelentium to upload the newest version translated, since he has already been paid for this one. I am leaving this open until then.

[2018-05-30 20:02] ResonanceXX opened #739 "Medium Article RChain: Progression and Cooperation"
### For all issues
[Keep _italic_ labels, replace brackets with answer]

*Information about the major areas prospective members interact with upon joining the cooperative. Routines, requirements and the possible areas of interest.
 Thus, an informally relaying information, moving away from the familiar links and on the job learning.
 I also subtly place an invitation to members (Developers).
Along

[2018-05-30 21:13] casanwugo commented on #733
@azazime. Great content! Keep that coming.

[2018-05-30 21:59] ResonanceXX commented on #197
http://qr.ae/TUTBGU

[2018-05-30 22:09] ResonanceXX commented on #197
http://qr.ae/TUTBGE

[2018-05-30 22:32] Staff91 commented on #645
Due to my busy schedule,  @akhs13 will be in charge of the management of the italian Website and social media.

[2018-05-31 04:06] kitblake commented on #735
The DaySandBox bot has been added to @rchain_coop with default settings.

Common commands:
/daysandbox_get publog
/daysandbox_set publog=yes
/daysandbox_get safe_hours
/daysandbox_set safe_hours=24

[2018-05-31 04:46] allancto commented on #471
Yes, i believe those six, 3 and 3, will be off enormous value to our cooperative. Thanks @kmoskowirz

[2018-05-31 09:13] lapin7 opened #740 "RHOC-REV swap communication plan"
### RHOC-REV swap communication plan #740

*Describe how the building and implementation of this task will benefit the RChain Membership or the RChain blockchain:*

Create a clear and actionable communications plan to assure the success of the swap it is critical to create and execute a communications plan that addresses the following in a timely way:

Completion of plan:

- [ ] Describes and illu

[2018-05-31 10:27] kitblake commented on #734
Just filled in a budget and rewards for yestereday's meeting but I can't find WillQ. Anybody know his Github name? [It's issue 734](https://rewards.rchain.coop/index.php?&-limit=30&num=734&title=&updatedAt=&state=&createdAt=&labels=#&detail-url=https%3A%2F%2Frewards.rchain.coop%2Findex.php%3F-limit%3D30%26num%3D734%26title%3D%26updatedAt%3D%26state%3D%26createdAt%3D%26labels%3D%26-table%3Dissue%26

[2018-05-31 11:47] gsofianidis opened #741 "Translate "RChain Weekly Update(Debrief 78) — 23, May" to German"
# Issue

## Original (English) Content
- [RChain Weekly Update(Debrief 78) — 23, May](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-78-23-may-c919bf19a8ed)

## Translated (German) Content
- [RChain Wöchentliches Update (Nachbesprechung 78) — 23. Mai](https://medium.com/@rchain_de/rchain-w%C3%B6chentliches-update-nachbesprechung-78-23-mai-3b0b05013c06)

## Tasks
- [x] Translate

[2018-05-31 12:36] lapin7 commented on #734
@zsluedem  =  Will Qiu 邱伟略

[2018-05-31 13:02] #652 closed

[2018-05-31 13:33] Viraculous opened #742 "RChain Weekly Update (Debrief summary) maintenance"
This is for work done for the month of June. As instructed by @PatrickM727, I write the textual rundown/ summary of the RChain Weekly Debrief blog post which is being uploaded on medium every Monday on agreed terms of $250 per debrief.
So far for the month of June, There are four debriefs:
[Debrief 80](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-80-june-6-2018-19927f88a3c5)

[2018-05-31 13:34] #741 closed

[2018-05-31 13:37] Viraculous opened #743 "Curating event list for RChain"
As requested by @PatrickM727, I will be curating the list of events for both blockchain and non-blockchain events on a monthly interval to ensure proper planning and preparations for the events.

Target:

- [x] Create [Gsheet ](https://docs.google.com/spreadsheets/d/1qh0daH_0KeFTQC9I6xE5RbRBsCx8XIAzZlP1cl4wGCQ/edit?usp=drivesdk&ouid=117345271212327655578   )for the events

Get the list of veritabl

[2018-05-31 13:37] Viraculous opened #744 "Curating event list for RChain"
As requested by @PatrickM727, I will be curating the list of events for for both blockchain and non-blockchain events on a monthly interval to ensure proper planning and preparations for the events.

Target:

- [ ] Create Gsheet for the events

Get the list of veritable events for RChain (10 Events monthly) for;

- [ ] July
- [ ] August
- [ ] September
- [ ] October
- [ ] November
- [ ] December

[2018-05-31 13:40] David405 commented on #742
This seems to me like a mistake

[2018-05-31 13:41] David405 commented on #743
And this too

[2018-05-31 13:42] kmoskowitz commented on #471
No they are Values we already ascribe to from the ICA Coop Values and Principles:https://ica.coop/en/whats-co-op/co-operative-identity-values-principles

The reason I brought that up is that the Discord poll lists our Coop Values:

Democracy
Equality
Equity
Solidarity
Self-Help
Self-Responsibility

and asks: What ADDITIONAL values do you personally feel Chain Coop should ascribe to and apply in th

[2018-05-31 14:11] #744 closed

[2018-05-31 14:46] Pionelle commented on #739
Nice Work @ResonanceXX  This would be quite helpful for new members . Would love to translate this to French.  Can I translate this  @ICA3DaR5

[2018-05-31 14:47] zsluedem opened #745 "upload videos to Chinese website on May"
Below is the videos I uploaded to Chinese video website.

1. ['Modeling Decentralized Organizations' w_ Rich and Nati from TheHum.org](https://www.bilibili.com/video/av23336213)
2. [Patterns for Decentralized Organization](https://www.bilibili.com/video/av23339238)
3. [Rchain Community Debrief 77](https://www.bilibili.com/video/av23627345)
4. [Rchain Community Debrief 76](https://www.bilibili.com/

[2018-05-31 15:05] zsluedem commented on #734
@kitblake That's me! Thanks @lapin7

[2018-05-31 15:20] zsluedem commented on #736
I am the video maintainer in China~! #745 is the work I have done in May. Can I work with you about that?

[2018-05-31 15:23] zsluedem commented on #745
The budget may change a little bit later. A more detailed metrics about the video management in #736 may come out.

[2018-05-31 16:57] #738 closed

[2018-05-31 19:36] pavlos1851 commented on #612
@ICA3DaR5 Hi. It is completed.

[2018-05-31 19:36] #612 closed

[2018-05-31 19:44] #710 closed

[2018-05-31 20:18] ResonanceXX commented on #740
Okay. The document is clear. Waiting for other directives to support the process.

**(Wil) the process be similar to what EOS did?** Owner of the text can put the 'l' remaining on this.

And the question could be answered too.

[2018-05-31 23:02] barneycinnamon commented on #709
Is this issue connected in any way to

[2018-05-31 23:07] barneycinnamon commented on #692
Does it make sense for this issue to live inside the bounty system as opposed to living inside the proposed new marketing organization? It seems like somebody inside the marketing organization should be managing the interface between that effort and specific issues that could be completed within the bounty system. I guess I just don't understand why "the crowd" would decompose the plan into bounty

[2018-06-01 01:29] ResonanceXX commented on #197
http://qr.ae/TUTjoo

[2018-06-01 03:06] dckc commented on #682
Database triggers enforce this constraint now.

fixed in https://github.com/dckc/rchain-dbr/commit/cac617327ec747881593f36ff9d5368ff6aa4da9

[2018-06-01 03:06] #682 closed

[2018-06-01 05:02] barneycinnamon commented on #394
I see this is still open. @patrick727, did you have a budget in mind for this? @derek7272, did you have a budget suggestion? I can't imagine we are going to solicit new accounts of the Governance Forum now unless they are more retrospective pieces situating the Governance Forum in a larger context, so let's get any relevant rewards into the bounty system and close this issue.

[2018-06-01 05:06] derek7272 commented on #394
maybe like $300? $200 for the author (me) and $100 for editors?

[2018-06-01 05:15] v56700 opened #746 "Translate Community Update21-25 to Chinese"
Estimated Budget of Task: $[200]
Estimated Timeline Required to Complete the Task: [completed already]
How will we measure completion?

Community Update 21
you can see it here http://www.rchain.site/?p=584

Community Update 22
you can see it here http://www.rchain.site/?p=591

Community Update 23
you can see it here http://www.rchain.site/?p=618

Community Update 24
you can see it here http://www.

[2018-06-01 06:07] barneycinnamon commented on #399
@Jake-Gillberg Have you been working on this without adding comments here that reflect work that has been completed to date? I want to make sure you are getting the support you need to tackle this important issue.

[2018-06-01 06:15] barneycinnamon commented on #379
@dckc @pmoorman Definitely important for Governance in my view, but I would narrow it down a little. Among the action items, I think "draft organizational diagram" and "outline relationships between parties" have both been done at various times and certainly should be covered clearly in the member website. I recall Lawrence recently making a comment about needing to spend time explaining the relat

[2018-06-01 06:20] barneycinnamon commented on #672
Just wanted to shout out to the folks who put together the Rhobot.glitch.me tool. It is a tremendous crutch for me as I attempt to be a halfway decent label guide.

[2018-06-01 06:39] barneycinnamon commented on #693
I removed the Governance label, because I think the scope of this issue is Marketing.

[2018-06-01 06:44] barneycinnamon commented on #209
@jimscarver Looking at this issue and thinking about our discussions about Loomio, ConsiderIt, Discord emoji polls, etc. It seems like various tools have been explored and used at different times with varying levels of success. I think @Jake-Gillberg has the more consequential votes covered in issue #399, so I am wondering if this issue has ongoing import as a marker for revisiting the polling deb

[2018-06-01 12:05] jimscarver commented on #209
@barneycinnamon Loomio and considerit are decision aids, not proven official vote. Making decisions is about developing consensus, not voting so much. As Vlad says, the vote just confirms what has already been decided. Voting helps get the sense of group sentiment but the results need not make any final decision.

I suggest as a governance working group activity we experiment and evaluate decision

[2018-06-01 12:33] jimscarver commented on #157
BugetBot was great for monitoring the reward system but now that we are off google sheets we need something similar to log events from the new reward system. Should we repurpose this issue or create a new one?

[2018-06-01 12:38] jimscarver commented on #186
The declaration form has replaced the email no? This issue need to be modified or closed.

[2018-06-01 12:57] dckc commented on #399
I recently stumbled across https://github.com/rchain/all-members-meeting ; I wonder how it relates.

[2018-06-01 13:53] dckc commented on #707
Looks like you didn't vote on any rewards for yourself, @tschoffelen . Is that on purpose?

Also... is this deployed? Didn't https://rchain.cloud/ used to have a thing where you could pick which version to use? I don't see any version info now.

[2018-06-01 13:55] dckc commented on #707
Oh... and getting a PR merged is less of an accomplishment when it's your own repo. :)

But seriously ... is anybody reviewing these changes?

[2018-06-01 13:58] dckc commented on #609
Umm... in what way is glitch.me "self sovereign"? It's a hosted service. They can take it down altogether without your consent, no?

[2018-06-01 13:59] dckc commented on #672
@barneycinnamon to support rhobot.glitch.me, vote for rewards on #609 .

[2018-06-01 14:00] TrenchFloat commented on #736
Thanks for reaching out @zsluedem, I will be in touch with you by tomorrow.

[2018-06-01 14:02] dckc commented on #673
Ok... then since this issue is about rewards.rchain.coop, that work is out of scope of this issue. Let's use #609 to track it.

[2018-06-01 14:03] ResonanceXX commented on #197
Stats for the week.

[2018-06-01 14:05] tschoffelen commented on #707
Since 0.3+ architecture is so much different from the previous versions, we temporarily removed the version selector in the process of adding 0.3.1 support. This has been completed, see link to PR in the description of the issue.

Sorry, thought I had voted already, will do ASAP!

[2018-06-01 14:12] dckc commented on #708
@MParlikar @KentShikama my work on CORE-410, https://github.com/rchain/rchain/pull/658 , was merged, but I'm struggling to understand whether it covers the whole scope. If it does, please close CORE-410 and support [budget and reward votes on this issue][1].

[1]: https://rewards.rchain.coop/index.php?-table=issue&-sort=num%20desc&-limit=30&num=708&title=&updatedAt=&state=&createdAt=&labels=#&deta