[2018-06-01 14:13] dckc commented on #707
You voted on the budget but not on who gets rewards.

[2018-06-01 14:13] #707 closed

[2018-06-01 15:11] TrenchFloat commented on #678
I revised my budget proposal and postponed the completion date (again) to June 8th, since the board meeting is now in the 14th (see discord Board2Coop channel, linked above).

@allancto, @jimscarver, we talked about leaving this unfinished in favor of making better reports in the future, but [I see people pushing](https://github.com/rchain/bounties/issues/616#issuecomment-392341466) for a report b

[2018-06-01 15:46] dckc commented on #226
Rewards for this were paid out in 2018Jan.

[2018-06-01 15:46] #226 closed

[2018-06-01 16:02] dckc commented on #672
@TrenchFloat you said you're struggling to keep up with **Operations** and that @jimscarver nominated @entropee , but you haven't managed to contact him. @jimscarver suggested the next peer learning meeting, Monday Jun 4 at 4pm ET (5pm CT) might be a good place to catch him.

[2018-06-01 16:07] jimscarver commented on #740
Who will do this? needs assignees for SMART objective.

[2018-06-01 16:27] barneycinnamon commented on #609
I voted a budget for this issue for May, but I am not sure how to vote rewards, because I wasn't involved in the issue and don't know who did what. Any feedback from participants would be helpful.

[2018-06-01 16:32] barneycinnamon commented on #616
Not sure where to put a general bounty system comment. Apologies for putting it here, where I believe the audience is right if not the issue number.

1. Should the trust metric and/or rule-of-three apply to budget votes but not to reward votes? It's easier to judge the value of a product than the contributions made by individuals, who has an SOW and doesn't receive bounty rewards, etc.

2. Regardl

[2018-06-01 16:39] dckc commented on #616
Interesting suggestions, @barneycinnamon . I suggest a new issue for each one.

[2018-06-01 16:51] barneycinnamon commented on #609
@entropee Did you work on this, or did you vote a reward for yourself to reward yourself for voting rewards on the issue? No judgment; just trying to figure out who did what, and 5% is a reward % that seems to carry a particular meaning around here. I don't vote for rewards for voting. If you worked on the issue in May, please see below.

@aviationhacker What $ amount of work did you do this month

[2018-06-01 17:31] philipandri002 commented on #695
@David it is a great notion you have raised however I want to state that even though there a concerns it will be a concern that should be addressed during the process of creation. The issue you raised should be treated as a one of the hurdles that we can prevent. However saying no need for an affiliate marketing or work measurement for RAM and their effort is sustainable. My reasons are, nothing e

[2018-06-01 20:30] truffard commented on #671
@lapin7 its all set me and @niwaa already voted...

[2018-06-01 21:18] tschoffelen commented on #707
Agreed on the simplicity of submitting a PR to our own repo :)

I'm very much open for transferring the rchain.cloud repo to the rchain org, but would prefer to keep it separate from the main rchain repo in that case, to make sure we can deploy quickly.

Added my vote now. Mind voting on the issue as well? Would appreciate it!

[2018-06-01 21:20] tschoffelen commented on #622
Can I bother someone to add one more vote on [rewards.rchain.coop](https://rewards.rchain.coop/index.php?-table=issue&-search=tutorial&-action=list&-submit=Search+Issue#&detail-url=https%3A%2F%2Frewards.rchain.coop%2Findex.php%3F-table%3Dissue%26-search%3Dtutorial%26-action%3Dbrowse%26-submit%3DSearch%2BIssue%26-sort%3Dnum%2Bdesc%26-cursor%3D1%26-skip%3D0%26-limit%3D30%26-mode%3Dlist%26-recordid%3

[2018-06-01 21:28] Kencode7 commented on #740
Do we have an illustrated process already??
Once a well illustrated process is achieved it reduces the risk of any RHOC holder being scammed.

[2018-06-01 21:33] dckc commented on #707
I don't mind which repo it's in, but I'd feel better if it were clear that code changes are getting reviewed.

[2018-06-01 21:42] dckc commented on #622
@TrenchFloat go ahead and vote based on comments above by @KellyatPyrofex ?

[2018-06-01 22:54] Preshcode commented on #735
I think you're doing a great job with management of the telegram group.

[2018-06-02 01:08] ResonanceXX commented on #197
![screenshot-2018-6-1 stats - quora](https://user-images.githubusercontent.com/34219332/40868877-d825d4a6-6609-11e8-858a-614b4ba36815.png)

[2018-06-02 02:10] ICA3DaR5 commented on #685
Reopened!

[2018-06-02 03:17] aviationhacker commented on #609
@barneycinnamon I estimate I did about $225 worth of work (15 hours at $15, as i'm still quite new so I think this is an appropriate rate for my level of work). I can also confirm that entropee did work on the project with me, and would value his work at more than 5%, as he put in more time than $54 and is more experienced. Thank you for keeping tabs on the issue and voting though! :)

[2018-06-02 04:41] lapin7 commented on #740
@jimscarver

@leithaus mentioned this in the last debrief as an interesting issue for the bounty system

[2018-06-02 08:39] lapin7 commented on #186
Use form [Declaration](https://docs.google.com/forms/d/e/1FAIpQLSe3ZxbwVL_yQZ7DTSw9V5VZod1U9XeZxDMZB7jupRCnx79erQ/viewform) to send your invoice and if you haven't done so already, your tax form W8 or W9.

[2018-06-02 08:39] #186 closed

[2018-06-02 08:52] lapin7 commented on #157
@jimscarver you're right.
Maybe we can do something with the [Bounty App](https://rewards.rchain.coop/)

@dckc
Suggested output to BudgetBot:

- date
- github_name
- new_budget_vote
- new_budget_voter
- new_reward_vote
- new_reward_voter
- budget
- reward
- provisional_budget
_ provisional_reward

[2018-06-02 16:47] kitblake commented on #261
The video plays fine (tested with Firefox).
Despite being somewhat ancient (the pay period is March) the video is really helpful.

[2018-06-02 23:08] Viraculous commented on #208
T

[2018-06-03 01:10] ResonanceXX commented on #197
http://qr.ae/TUTLJA

[2018-06-03 02:01] kdvalentine commented on #157
Nh.h.

On Sat, Jun 2, 2018, 1:59 PM Kevin Valentine <kdvactmgmt@gmail.com> wrote:

[2018-06-03 02:01] kdvalentine commented on #157
mL
mLl
On Sat, Jun 2, 2018, 1:26 PM Dan Connolly <notifications@github.com> wrote:

[2018-06-03 05:49] yuhuanmocmoc commented on #730
all the translation Medium blogs have been uploaded to [Google doc](https://drive.google.com/open?id=1SoO3bcXzJt3rO1me-Kr9a-P_Kb7iD_6A)

[2018-06-03 05:57] yuhuanmocmoc commented on #541
@ICA3DaR5 we have posted all of them to the Wechat official account of China.

[2018-06-03 05:58] yuhuanmocmoc commented on #730
we will post them to the public Wechat official account for a few days.

[2018-06-03 06:20] linsheng9731 commented on #625
I post them to google doc, you can check them [here](https://docs.google.com/document/d/1PtkzlQruW3CswAOce1XhgHdmyE1dxVUrl4Q6zCDAxeI/edit)

[2018-06-03 06:20] #625 closed

[2018-06-03 07:19] yuhuanmocmoc commented on #625
we have posted some of them to [Medium](https://medium.com/rchain-cooperative-china)

[2018-06-03 07:23] rjl493456442 opened #748 "M> Wechat official account for 201806"
### Benefit to RChain

The same as #258

In China, WeChat Official Account is content publishing platform similar to Medium. WeChat users in China receive all relevant content push by subscribing to the Official Account.

Taking into account that in China, WeChat is by far the most active social software, with more than 900 million users. Therefore, the promotion of RChain through WeChat Official

[2018-06-03 07:28] linsheng9731 commented on #748
Thank you very much for your work!

[2018-06-03 13:12] yuhuanmocmoc opened #749 "Translate rholangtut-0.3.md to Chinese"
## Original (English) Content
[A Rholang tutorial](https://github.com/rchain/rchain/blob/master/docs/rholang/rholangtut-0.3.md)

## Collaborators
@rjl493456442 @linsheng9731 @yyh1102 @RowlandZhou

_Estimated Budget of Task:_ **$[1200]**
_Estimated Timeline Required to Complete the Task:_ **[7 days]**
_How will we measure completion?_ **[100%]**

*See CONTRIBUTING.md for details on budget and rewar

[2018-06-03 13:27] ICA3DaR5 commented on #517
@pavlos1851 @jkost401 Is this abandoned? Since the PR is not merged and you wrote that you are going to open another issue for the new version?

[2018-06-03 13:29] ICA3DaR5 commented on #499
Since this has already been payed, I am putting a 0 budget for May, and expecting a PR of the newest version of the translated file.

[2018-06-03 13:31] ICA3DaR5 commented on #498
This has already been paid in March, waiting for the PR to merge. I am zeroing this out for May.

[2018-06-03 13:33] ICA3DaR5 commented on #489
Since this has already been paid on March, I am zeroing the month of May. Waiting for the PR to merge.

[2018-06-03 13:34] ICA3DaR5 commented on #480
This has already been paid in March. Waiting for the PR to merge.

I am putting a 0 budget for May.

[2018-06-03 13:35] ICA3DaR5 commented on #472
This has already been paid for March, putting a 0 budget for May.

Waiting for PR resolution.

[2018-06-03 13:53] rjl493456442 commented on #749
@pmoorman Hey, can you help us to allocate a budget in the bounty system? Thanks!

[2018-06-03 13:53] rjl493456442 commented on #748
@pmoorman Hey, can you help us to allocate a budget in the bounty system? Thanks!

[2018-06-03 13:54] rjl493456442 commented on #730
@pmoorman Hey, can you help us to allocate a budget in the bounty system? Thanks!

[2018-06-03 14:35] zsluedem opened #750 "Promote Rchain to Chinese universities"
### Benefit to RChain

*Describe how the building and implementation of this task will benefit the RChain Membership or the RChain blockchain:
As far as I know, there are already US study groups and Africa study groups(#681) for Rchain. China also has many universities. I think getting the students in China involved with Rchain would make a great influence to Rchain.Maybe we can find some potentia

[2018-06-03 14:47] rjl493456442 commented on #748
Attention, since the budget for 201805 can not be allocated for the time being, so i allocate the budget at the #632 .

[2018-06-03 14:55] zsluedem commented on #750
I have already get in touch with some people in China.

1.I have talk to one man who have conntact with some publishers. These publisher all have cooperations with about 600 universities.

2.There is another man who knows a lot people in University like [University of Science and technology of China](http://en.ustc.edu.cn/) and [Peking University](http://english.pku.edu.cn/) .etc. He has a really

[2018-06-03 14:59] nonnykul commented on #750
This work should be geared towards adding RChain to various Research work in the respective universities.

[2018-06-03 14:59] jimscarver commented on #740
I do not see how it is possible to communicate to everyone holding rhoc that is must be in accounts they control the private keys for and not in a multisig, escrow or time lock contract. I think we need to reconsider a contract based conversion rather than an airdrop where not all rhoc will be honored. I am also worried about people being scammed into accepting worthless rhoc after the air drop. I

[2018-06-03 15:11] #258 closed

[2018-06-03 15:20] rjl493456442 commented on #632
Update:
In the past month(201805), me and my teammates post 12 articles to the Wechat official account to spread Rchain's Idea.
Most of the articles are the rchain medium post translation. Besides, we also upload RChain team latest progress

**Please follow our account by scanning the QRCode below. You can check all posts uploaded by us in the past several months**

![image](https://user-images.gi

[2018-06-03 16:11] jimscarver commented on #740
Gtrg says he will devote some time to the rhoc2rev process reconsideration at this week debrief. :)

[2018-06-03 16:45] kitblake commented on #735
May activity for the RChain_Africa group:
https://combot.org/chat/-1001196019499?start=01%2F05%2F2018&end=31%2F05%2F2018

[2018-06-03 17:28] qelentium opened #751 "Translate RChain Weekly Update(Debrief 78) — 23, May"
### Benefit to RChain

Translation of the RChain Medium blog posts to other languages means  global marketing.
Budget and Objective

Estimated Budget of Task: $[400] Estimated Timeline Required to Complete the Task: [2 days] How will we measure completion? Post on [RChain_Ru Medium Blog](https://medium.com/@rchain_ru/rchain-weekly-update-%D0%BF%D0%BE%D0%B4%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5

[2018-06-03 17:37] kitblake commented on #672
I did some label cleanup including slight rename conventioning of the labels:
- Functional areas (Development, Marketing, etc., which have guides) are capitalized.
- Other labels (e.g. meeting, french, wontfix, etc.) are lowercase.

[2018-06-03 17:47] Valentine-Mario commented on #743
The list is still empty. It should be publicly accessible to get a variety of events updated. Eg the upcoming Rchain Africa meet up hasn't been added to the list

[2018-06-03 18:28] dckc commented on #678
@lapin7 perhaps some version of the https://github.com/rchain/bounties/issues/261#issuecomment-361633354 story belongs in the report?

[2018-06-03 19:00] David405 opened #752 "How "fair" is the current Trust metric system: Analyzing its effectiveness"
In 201805 pay period, the trust rating was put into place to be used for voting on budgets and rewards. Out of about 109 issues that have received votes for May pay period, about 80% of the rewards goes to
persons with trust ratings.

On issues where people with trust ratings and those without it collaborated, those with trust ratings usually have far higher percentages than the others (which is o

[2018-06-03 20:08] dckc commented on #752
The most straightforward change to the existing system is to tweak the parameters for the expected number of masters, journeyers, and apprentices; for example on May 9: https://github.com/rchain/bounties/issues/375#issuecomment-387924526

As motivation for this or other changes, please give two or three specific examples where the current system is working poorly.

(We have another 5 days to addre

[2018-06-04 04:09] ResonanceXX commented on #197
Another shift gone by.

[2018-06-04 07:13] David405 commented on #696
This is required right now and so I am closing it.

[2018-06-04 07:13] #696 closed

[2018-06-04 07:14] David405 commented on #701
This is already in place in #662

[2018-06-04 07:14] #701 closed

[2018-06-04 08:20] David405 commented on #752
@dckc I think you need to update your records, Here are the total rewards so far: Members with trust ratings have a total rewards of **$14,911** while members without trust rating has a total of **4,858 see [here](https://docs.google.com/spreadsheets/d/1HpakW3IZgJO6XBpVtJ3WYJjGd7KSpgYhBeGBa_WhltE/edit#gid=0). This is what I mean by "about 80% of rewards".

@TrenchFloat, you voted 5% for Makys on #

[2018-06-04 08:31] Valentine-Mario commented on #752
Nice observation @David405 I think the current method of voting is quite biased and elitist. To make the voting process easier, I suggest that each label lead should vote for issues in their label and people voted for should also raise concerns if they feel their vote is insufficient or bias. This would create a more transparent system that is open to scrutiny.

Another method that could be possib

[2018-06-04 08:36] David405 commented on #752
From the ongoing work in #471 by @jimscarver @barneycinnamon, it was stated [here](https://docs.google.com/document/d/1Sv0iPxufWezcKsQKrIoI3EXMEgvvAzXQN2Pjsn3jIcI/edit#) that RChain as a coop subscribes to the International Co-op Alliance’s set of Principles

As a Co-op, RChain Co-op already subscribes to the International Co-op Alliance’s set of Principles:
Cooperative Principles

 Open and Volun

[2018-06-04 09:11] David405 commented on #752
@dckc I would like to address your subsequent questions here,

Firstly, You asked about the **discussion** label, I add discussion labels to issues which do not involve any tasks or projects _( not all issues require tasks to be carried out and thus there have to be a way to separate issues based on this parameter)_.

Secondly, you asked about the **bounty-contract** label, the aim of the issue is

[2018-06-04 09:46] lapin7 commented on #752
What happens if we reverse the system? Every member starts as journeyer until s/he blows it.
The assumption is that there more good actors then bad actors.
All members can demote or promote the certification of all members.

[2018-06-04 10:32] Barkov-F commented on #669
@pmoorman @qelentium @lapin7 I solicit you to vote for budget and reward on the issue at the usual place

[2018-06-04 11:18] kaka56 commented on #661
@lapin please i need an explanation on the 50% reward allocated to me on this issue. Were is the rest of it going?

[2018-06-04 12:09] jasoncruzzy commented on #752
Nice Observation @David405

[2018-06-04 13:28] David405 commented on #752
@lapin7 I agree with your suggestion especially the part you said **ALL MEMBERS**

I believe on of the structures that should be changed in the bounty program is the structure of a few persons making all the decisions for everyone. The {Cooperative Principles](https://ica.coop/en/whats-co-op/co-operative-identity-values-principles) states

Co-operatives work for the sustainable development of thei

[2018-06-04 13:37] ddayan commented on #751
Not sure if that's the place to criticise but that's a bit expensive. If we start translating the weekly debriefs to every language it would cost us thousands of dollars. Is anyone measuring the demand for the translations? (youtube and medium offer analytic tools for pages and subtitles).

[2018-06-04 13:58] pmoorman commented on #752
Hey @David405 you seem to imply that right now we have a _"structure of a few persons making all the decisions for everyone."_

I don't think that's currently the case: there are currently 46 people certified under the Trust Metric system to have a vote that counts, and more people can be added whenever the trust trusts them. That's hardly elitist or centralised!

As a matter of fact, I think **th

[2018-06-04 14:21] Lapin commented on #661
@kaka56 wrong mention mate :)

[2018-06-04 14:22] zsluedem commented on #750
I have talked to Mr. Shang today. And he has connection with the  stream room in the Tsinghua University, one of the best universities in China. He said we could make a live stream to talk about Rchain which would broadcast to about 400-700 people online and the live stream can also be reviewed by their Wechat public account which has about 200000 subscribers.  He wants to charge for this about 30

[2018-06-04 14:48] BelovedAquila commented on #752
Personally I have been trying to relate RChain as a cooperative to the trust metric system too,don't understand how they both could work together without hampering the legitimacy and dictums of A COOPERATIVE.
The trust metric system ranking is obviously bias, I am still wondering on the basis at which the ranks was placed. Slashing was sufficiently enough to curtail and sanction bad actors and per

[2018-06-04 15:03] ICA3DaR5 opened #753 ""Return" of burned tokens"
### Benefit to RChain

[My Ethereum Address](https://etherscan.io/address/0x33678Cb73B27ad766FB4cF49C3b007E5C46d1a49) (which is also known to the bounty system and the co-op, since the beginning of my involvement.)

1. I got paid by the bounty system for the month of March the amount of [4,135.33 RHOC's](https://etherscan.io/tx/0xa87db2136df64e06dcf4afdbf0be49b4d2bc5c8181d7ede0d21c364b9d5a4885), t

[2018-06-04 15:06] Jake-Gillberg commented on #753
Does this conform to the bounty TOS?

[2018-06-04 15:08] ICA3DaR5 commented on #753
@Jake-Gillberg IMO, this is a special case.

[2018-06-04 15:16] jimscarver commented on #753
See [this discussion on discord](https://discordapp.com/channels/375365542359465989/406191011564617748?jump=453149174662168576) for justification.

This is a case of recovering the expense of burning RHOC, something the coop has voted to do anyway, and making whole a devastating accidental loss because we can, because we care, and because it is the right thing to do.

[2018-06-04 15:22] dckc commented on #752
@lapin7 writes:

I don't see how to square that with the Apr 6 TOS decision by the board (#616). It seems to me that we tried the "everybody gets to vote on budgets and rewards" approach and the board decided it got abused.

[2018-06-04 15:39] jimscarver commented on #609
@barneycinnamon We get a better collective intelligence if we vote with our gut rather agreement on rewards. I consider time spent is rewarded as is exemplary contribution. You might follow my votes or better yet, your own heart. You might tweak my rewards to better reflect what you feel is fare. We do not want to fall into the trap of making a formula that restricts valuation of effort to a few m

[2018-06-04 15:43] dckc commented on #752
Yes, well, she voted (Tue May 8 10:59:46 2018) to reward thousands of dollars for work that is not done. I stand by my claim that this is not fair. As I said May 17, all she has to do is delete that vote:

[2018-06-04 15:53] dckc commented on #662
In #752, @David405 writes:

In our May 23 discussion of #716, @lapin7 and @Ojimadu were identified as supporters in this area.
https://github.com/rchain/bounties/issues/716#issuecomment-391434355 . I see @Ojimadu put in one vote; perhaps he's not done? I don't see any attempt to reach out to @lapin7 .

[2018-06-04 15:57] jasoncruzzy opened #754 "Position Paper: RChain should consider Google Ads for 'Promotion'."
Objectives of SEO(google ads) for RChain.

* Inform developers about RChain~SEO has a good range of publicity
* With the RChain website on the 'google ads' it allows interested developers get vital information about RChain
* Stimulate brand preference for RChain amongst Blockchain developers
* Awareness Campaign~ SEO will help constant top mind awareness

Check here for more on 'google ads' to RCh

[2018-06-04 15:59] David405 commented on #752
@dckc says:

On Mar 31, #375, you suggested a $2000 for a work that was not yet done:

Does it mean that your action was a bad action and required slashing?

[2018-06-04 16:16] dckc commented on #752
I suggested a budget. I didn't claim a reward.

[2018-06-04 16:17] dckc commented on #752
Rather: I claimed a reward for the part that was done and available for all to see.

[2018-06-04 16:35] allancto opened #755 "8 Concurrent Workgroups following Designing Computational Calculi 1-4"
### Purpose
A workgroup is a group of members who follow the Computational Calculii workshop each week AND do all of the exercises and compilation AND provide a translation of the videos into a language other than the original OR provide a written guide in English that is usable by secondary school students.

1. Repo with code following the videos

2. Translation or Tutorial

3. Feedback (how unde

[2018-06-04 16:41] barneycinnamon commented on #609
Thank you, @aviationhacker and @jimscarver for your thoughts. I felt comfortable entering a couple reward votes for May.

[2018-06-04 16:44] barneycinnamon commented on #609
@entropee, would you be comfortable voting rewards for anybody who worked with you on this issue in May? You voted a reward for yourself for this issue, and you have reached three votes, but you did not vote for anybody else. I hope you will vote some amount of reward for compatriots who you feel deserve it.

[2018-06-04 16:55] Jake-Gillberg commented on #753
In [this discussion on discord](https://discordapp.com/channels/375365542359465989/406191011564617748?jump=453234243472982016), it sounds like these tokens might not even be burned, and they might be given back in the genesis block.

[2018-06-04 16:57] entropee commented on #609
@barneycinnamon, Yes, of course. These are my first times to use the trust system. I appreciate nudges like this. :smile: It never even occurred to me that the others needed votes. I'm on it, now.

[2018-06-04 16:59] barneycinnamon commented on #494
@dckc @kennyrowe @ian-bloom I think this issue could use a different name or some amendment of scope, and I am hoping for your constructive input. There have been lively conversations about the bounty system and what kind of coop the RChain coop is. Here we have an issue inquiring originally about the operational roadmap and financial plans/budget of the coop. What this issue is about is the coop

[2018-06-04 18:57] Tonyprisca13 commented on #752
The trust metric is totally baised and is centralized. All active member should have a say on certification of any member not just a few members or a particular member.

[2018-06-04 19:20] ICA3DaR5 commented on #753
@Jake-Gillberg That's a 50-50 approach and harder to do, contract code and scripts are needed. What @jimscarver proposed it's much easier and efficient.

[2018-06-04 19:29] Jake-Gillberg commented on #753
It is my opinion that we should hold off on returning these rhocs until we know if they will be returned via the genesis block generation process. Otherwise we risk either A) rewarding this mistake by doubling the RHOC you sent to the wrong place, or B) complicating the genesis block generation process even further by providing an exception to the rule of "rhoc sent to rhoc token address is return

[2018-06-04 19:52] pmoorman commented on #728
@jeremybeal11 I'm working with Jonathan and a few others to put together a coordinated Competitive Intelligence effort.

I would love to invite you, but can't find you in Discord.  **What's your Discord handle?**

[2018-06-04 20:00] dckc commented on #494
My impression is that "consumer coop" is a very short summary of the bylaws, and that's what we are unless and until we change the bylaws.

I don't know what the coop business model is. It's not even clear to me that we must have one. Maybe each of us has our own idea of what the coop business model is. That seems kinda silly, but for all I know, that's an acceptable state of affairs.

I suggest y

[2018-06-04 20:01] Tonyprisca13 commented on #752
@david writes on discord < Also, @dckc: I would like you to explain when there was a consensus that a member will lose his/her monthly rewards when he/she receives 0  usd votes of more than 10x weight>
@dckc reply< May 9 is when I made the decision, IIRC. To be sure, check #261>
This was implemented into the trust metric without a consensus form the RAM. My concern is why should such a KEY decisio

[2018-06-04 20:13] dckc commented on #752
without a consensus? Who objected? What did I miss?

[2018-06-04 20:20] qelentium commented on #751
@ddayan 0,2 per word 1644 word = 328.8 + 70 usd for reviewers

[2018-06-04 20:23] BelovedAquila commented on #752
@dckc you ask that the budget be changed, on the basis of it not being fair even though you understood little to nothing as to the work done on it, and that I accepted and requested to know which budget was considered fair, but got no reply. Presently you said you even meant it being DELETED, which isn't straight forward, yet even when I asked to be cleared on your actual meaning, you sounded so s

[2018-06-04 20:40] ICA3DaR5 commented on #711
This one seems complete and reviewed. So it's complete!

[2018-06-04 20:40] #711 closed

[2018-06-04 21:06] truffard commented on #711
@ICA3DaR5 At the risk of being deemed as a party pooper ,I guess Id better not make any comments on that translation work

[2018-06-04 21:23] dckc commented on #752
Yes, well, I made a best effort to get a critical mass of support, and then I proceeded.

There are different definitions of consensus, but the [W3C definition][1] is the one I have worked with the most:

[1]: https://www.w3.org/2018/Process-20180201/#Consensus

[2018-06-04 21:35] Tonyprisca13 commented on #752
What are the parameter for trust metric?

[2018-06-04 21:43] ICA3DaR5 commented on #730
Voted for the 5 blog posts posted. A budget of $1850. I'll leave this issue open, in case you decide to finish the work and add a budget for the month of June.

[2018-06-04 21:52] jimscarver commented on #752
Yes we tried the "everybody gets to vote on budgets and rewards" approach and the board decided it got abused. We would prefer a decentralized solution but there is no good model of that working.

In most coops, such as enspiral it takes more than a year for new members to get budgetary voting power at the task/project level.

If out of 48 trusted members you can get no support from any of them yo

[2018-06-04 22:26] lover33 opened #756 "Rnode Release - One step closer to Mainnet Release!"
### Benefit to RChain

https://youtu.be/Ly6ViECC3CU

*This video is part of a monthly series geared towards simplifying  and encouraging mass adoption of Rchain!
*As a COop member I see it necessary to give my view on how Rchain can benefit the public.
*I will follow the monthly Node release to update the public and encourage seamless comprehensive adoption.

### Budget and Objective

*Please make

[2018-06-04 22:37] tcezi commented on #752
All members should have at least an apprentice vote until he or she blows it and certification should be based on vote and not on familiarity with some set of persons

[2018-06-04 22:48] tcezi commented on #755
Can explain how u arrived at dis budget

[2018-06-04 22:54] tcezi commented on #591
@allancto that was a malicious statement. Please what do u mean?

[2018-06-04 23:10] lapin7 commented on #563
@dckc
If possible, I would like a query that delivers this result (in a temporary table):
- [ ] Period
- [ ] Worker
- [ ] Issues (all issues that the worker worked on)
- [ ] USD (total of the rewards of issues)
- [ ] RHOC (USD converted to RHOC, default is 1:1)

A table that contains the rhoc_price of the month

pay_period	month	rate
20170801	August	 $ 0.100
20170901	September	 $ 0.200
20171001	Oc

[2018-06-04 23:11] tcezi commented on #752
@jim why should it be closed? The unfairness in bounty trust metric is relatively high compare to d fairness and has to address... everyone deserves reward for work done and not concentrating reward to those with trust metric.

[2018-06-04 23:22] jimscarver commented on #752
Allan will be entering a proposal to improve the system. Others may be the same. We know the current system is a compromise. Find your team and make it work or the bounty system may be cut off completely.

To repeat. Everyone had a vote and the board squashed it. Now we have a committee of guides including as many people as we can. Anyone being cooperative will have no trouble finding a guide to c

[2018-06-04 23:28] dckc commented on #752
@tcezi writes:

How is this different from https://github.com/rchain/bounties/issues/752#issuecomment-394297312 ?
If it is not, how do you suggest we address the question in https://github.com/rchain/bounties/issues/752#issuecomment-394394349 ?

@David405 writes:

Then something like _democratic voting on bounty budgets and rewards_ would be a better title. The existing title says this is about ev

[2018-06-04 23:36] jimscarver commented on #752
An issue proposing a democratic seed might be worth while. The current system gives the most active and productive members the most say in the system. You may consider that unfair but I think is was a stroke of genius to answer the boards concerns in a simple manner. I bow to our most productive members and am grateful to them that we have anything at all. I worry a bit that elected members may no

[2018-06-04 23:39] barneycinnamon commented on #752
If part of the goal of the coop is to experiment with ways to get distributed groups of people working together productively, is there any reason to consider distributing some part of the available bounty budget to systems governed by different proposed rule sets? Contributors can choose which bounty system they want to participate in, and at the end of some period, some set of metrics can be prep

[2018-06-04 23:42] dckc commented on #752
Interesting idea in theory, but given the training challenges involved in following _one_ set of rules, I wonder if it's feasible.

A somewhat related suggestion I heard from Greg M. a while back is a sort of tree of budgets. It would most likely be split by function area (aka labels).

[2018-06-04 23:48] barneycinnamon commented on #752
If I got to design one bounty system scheme, it would be something like the trust metric seeded by function area SOWs. Whatever power is authorizing SOWs would approve budgets and sets of tasks (specific or vague depending on the function area and the person's qualifications and stated goals). It is not decentralized with respect to authorizing the initial trust seeds and area budgets, but there c

[2018-06-04 23:48] jimscarver commented on #752
I object to budgets by area that squash or delay necessary and worthwhile projects.

I suggest a liquid democracy where members can have their vote delegated to representatives on issues where they do not themselves vote. If I trust Kit and assign him as my representative then he would get his and my vote on issues I do not vote on. I expect the weighting of votes that results would be very close

[2018-06-04 23:55] dckc commented on #563
like this?

 - [invoice_summary tab](https://rewards.rchain.coop/index.php?-table=invoice_summary)
    - [CSV export](https://rewards.rchain.coop/index.php?-table=invoice_summary&-action=export_csv&-cursor=0&-skip=0&-limit=999999&-mode=list)

[2018-06-05 00:01] dckc commented on #752
We have an issue on delegate / proxy voting (#484) I recently closed it with some regret...

The liquid democracy idea is something that has interested me for years. I'd love to see it happen.

[2018-06-05 00:06] tcezi commented on #752
@dckc are there any parameter to justify the current trust metric?

[2018-06-05 00:27] lapin7 commented on #563
Exactly :-)
That replaces my tedious spreadsheet for a part.
What's the query?
I know some sql but have to get it up to date again.

[2018-06-05 01:05] lapin7 commented on #678
@dckc yes. Let's add a summary to the report

[2018-06-05 01:45] ResonanceXX commented on #197
http://qr.ae/TUp7t5

[2018-06-05 02:28] ICA3DaR5 commented on #753
In @jimscarver's proposition RHOC's are not returned to my Ethereum Address from the contract thus no exception is needed in the genesis block generation process.

The co-op has decided to burn RHOC's anyway, so the only thing that has to be done is re-pay me and remove those RHOC's from the total of to-be-burned RHOC's.

[2018-06-05 03:11] yuhuanmocmoc commented on #730
@ICA3DaR5 ok

[2018-06-05 03:50] jeremybeal11 commented on #728
@pmoorman my discord name is: Germany

[2018-06-05 04:08] Viraculous commented on #752
I personally appreciate the collective and individual effort of the RAM in making attempts to checkmate bad actors and to ensure that the bounty system is working towards the vision of the RChain community. I wish to air my view on this issue.
With regards to this issue, first of all, I will like every member to see the issue from a functional point rather than critical. I can boldly say from my v

[2018-06-05 04:58] ian-bloom commented on #494
@dckc

RChain Cooperative is a _Consumer-Cooperative_, much like REI or many Electric Cooperatives. The primary benefit of being a member is that you receive discounted use of the RChain Platform. The discount takes the form of a yearly rebate on the usage fees (phlogiston) that you expend.

Changing or re-interpreting the business model could jeopardize the sustainability of the Co-op itself, as

[2018-06-05 05:49] barneycinnamon commented on #494
@ian-bloom

Thank you for your response. I am going to try to push the conversation forward a little bit, and I hope you and otters will find it worthwhile to participate.

RChain Cooperative is a consumer-cooperative. The purpose of the RChain Cooperative is primarily to get the platform launched and then to maintain it. The consumer focus means that, to the extent the Cooperative represents the

[2018-06-05 08:48] tcezi commented on #752
@dckc i mean what criteria/rule used to justify those 46 person as trusted persons

[2018-06-05 10:49] kitblake commented on #658
This looks like an event in need of organizers. But they're all busy with other things.
Shall we close it? For now..

[2018-06-05 10:55] kitblake commented on #659
When I view the 'one-pager' about RChain, at the bottom I see "This post is for informational purposes only, and is not an investment advise.".
Was this posted somewhere?

[2018-06-05 11:17] azazime commented on #659
@kitblake yes it was posted on rchain.africa and social media

[2018-06-05 11:33] kitblake commented on #662
Bug report: When I try to login with Twitter the app says:
"Callback URL not approved for this client application. Approved callback URLs can be adjusted in your application settings".
Googling the error message returns possible fixes:
https://stackoverflow.com/questions/50571047/callback-url-not-approved-despite-being-provided-twitter-api

[2018-06-05 11:38] Jake-Gillberg commented on #753
RHOCs are not burned if they will result in ownership of Rev on the RChain platform.

More than just your RHOCs were sent to the RHOC contract address. In the discussion I linked above, Kenny seems to imply that these might be returned through the genesis block creation process.

Also, I seem to recall in a prior hangout Greg saying something to the effect that the resolution to burn RHOCs is not

[2018-06-05 12:32] pmoorman commented on #659
@azazime in order to vote a budget for this, could you outline where this document has appeared, or where it'll be used, so we can gauge it's impact?

Based on that, we can come up with a budget that makes sense.

Approximately how many relevant views has the document garnered? I see it's posted on rchain.africa, but I don't know if that means that anyone outside the coop has actually seen it.  Se

[2018-06-05 12:55] jimscarver commented on #692
this issue needs a smart objective.

I do not think the bounty system should confine itself to activities already being pursued by the coop marketing plan. I think we should cast a wider net and fund anything we think may provide us good exposure.  Everything is an experiment and we need to have some metrix if success.

[2018-06-05 13:37] azazime commented on #659
It has appeared in the rchain.africa website which we project would gather more members as time goes oh(New members would need the information), it was posted on Africa telegram group, it will be posted on Nairaland which is one of the most visited sites in Africa and also across various social media platforms.

[2018-06-05 14:14] Keaycee commented on #752
Well, some coop members feels like the power to place budget and allocate rewards among them self has been deprived. They also think the system is no longer decentralized like it was on the first quarter of the year. They also think that the trust metric is very biased.
The trust metric just began and has only been applied in month of May and it seem very difficult for coop members to get their re

[2018-06-05 14:36] kitblake commented on #591
@tcezi I doubt @allancto meant that maliciously. The larger problem, as noted by @pmoorman above in https://github.com/rchain/bounties/issues/591#issuecomment-389939265, is the RChain marketing plan doesn't include regional promotion on specific continents. Until we hear differently we should keep our efforts consolidated on a global level.
@AyAyRon-P

[2018-06-05 14:50] lapin7 commented on #563
@dckc
Exactly. :-)
You've made my work with spreadsheets a ton lighter.
I have to catch up with sql.
How did the query look like?

[2018-06-05 14:58] kitblake commented on #700
I see a Marketing label so I read the post. Hopefully it will excite some young developers.

Adding links from where you collected the content helps them dig in deeper. The post has 28 claps, and I added some. I'm also following @TrenchFloat's lead and adding a budget.
@pmoorman @AyAyRon-P

[2018-06-05 15:13] jasoncruzzy commented on #752
@Keaycee  your proposals are great and considerable I made similar suggestion earlier, The 'Trust metric' should have the powers to vote and adjust budgets only, while collaborators and participants should vote on the approved budget  on each issue.
 Hence the obvious majority of RAM's are clamouring  for a review/restruct on the current 'Trust Metric system' the board should kindly consider our a

[2018-06-05 15:13] allancto commented on #653
@BelovedAquila thanks for your comments. My understanding is that there was a translation done which was assessed by @truffard @ICA3DaR5 and @dckc as not an adequate within our ability to measure, and will not be eligible for reward. I'm not an expert in French translation, but @ICA3DaR5 is trusted by me and by the voting system to make this determination.

Are there other issues you might be inte

[2018-06-05 15:14] kitblake commented on #756
Nice work, I sorta scanned your video, meaning I didn't watch the whole 15 minutes but clicked thru. Just checking, did you see @TrenchFloat's effort to align "Metrics for RAM-Made YouTube Videos" in #736.

[2018-06-05 15:16] kitblake commented on #756
@lover33 One detail, when your video started I thought it would be a trading video because you went to CoinMarketCap and started talking about market performance of major tokens. I almost hit the back button.

[2018-06-05 15:42] Pionelle commented on #752
 Well said!

    On Tuesday, June 5, 2018 3:14 PM, Keaycee <notifications@github.com> wrote:

 Well, some coop members feels like the power to place budget and allocate rewards among them self has been deprived. They also think the system is no longer decentralized like it was on the first quarter of the year. They also think that the trust metric is very biased.
The trust metric just began and ha

[2018-06-05 15:43] lover33 commented on #756
@kitblake thanks for the heads up!

And yes, I cover a lot in my vids. I dont speculate. I just give a glance at market performance. Thanks for tuning in!

[2018-06-05 15:43] allancto commented on #755
@tcezi sure, $3000 is my estimate of what it would align the interests of a small group to spend 1 month working on 4 videos to produce something of $3000 value to our Cooperative.

Are you interested in forming a group and working on it?

[2018-06-05 15:44] lover33 commented on #736
Hey!!

I have my youtube issue posted! would love to join this metrics for youtube videos! I actually may start an issue for a full marketing plan for Rchain!

[2018-06-05 15:44] dckc commented on #752
@Keaycee writes:

I don't see how that's consistent with the board's Apr 6 decision (specifically steps 5, 6, and 7 of the [Task Approval process][1] regarding Project Bid Submissions); I trust you'll weigh in on #616 as to whether you think it is consistent or whether you're asking the board to reconsider their decision.

Yes, well, the whole point of slashing is to discourage unacceptable behavi

[2018-06-05 15:52] kaka56 commented on #752
@jasoncruzzy  suggested

If we put this into consideration it will ensure 'fairness' and less of human factors.

I personally agreed with @jasoncruzzy . The trust metric system needs to be balanced where by those with trust metric should be the one to place budget vote  and allow the creator of the issue and it's collaborators to place the reward vote. And if the the collaborators of the issue is

[2018-06-05 15:53] ddayan commented on #751
So let's say that from now on people will translate the weekly debriefs to 5 different languages, by the end of Q4 (main-net release) the coop will spend  $400 * 5 * 30 = $60,000. I don't think it's smart to spend the marketing budget on that. Please don't get me wrong I don't think that Russian translations are useless (6% of Russians speak English and you also have population from former USSR co

[2018-06-05 15:55] allancto commented on #752
@Keaycee thanks for your comment and Proposal above.

@dckc @kitblake @lapin7 I am wondering why our current system is designed for voters to separately vote on overall budget and then on individual contribution. As an outsider looking at a particular issue it makes sense to me to evaluate the overall impact of the work product, but I'd suppose that dividing up the reward would be primarily a job

[2018-06-05 16:10] dckc commented on #752
@tcezi writes:

Though you don't follow [best practice][1] in saying where you looked for the answer, I'll give you the benefit of the doubt that you read https://github.com/rchain/bounties/wiki/Trust-Ratings and #375 carefully and you still don't see an answer to that question.

The answer is this part of the wiki page:

and #375 includes pointers to my slides and an Raph's academic style paper.

[2018-06-05 16:43] entropee commented on #739
@ResonanceXX Nice work. I think it paints a picture that new users will be able to relate to. I would change "spelt" to "spelled".  I gave it some claps.  I feel the piece was a little short for your full estimated budget. I will vote for $150.

[2018-06-05 17:06] ResonanceXX commented on #739
The correction that you suggest, is invalid in basic nomenclature. But that is, asides the issue at hand.

If it is a justification for the steep reduction in budgetary allocation for this work. it is very unnecessary.
And additionally, article length is not ever a basis for gauging input/time invested.
ResonanceXX has remained adamant in his refusal to post plagiarized, lifted and/or poorly writt

[2018-06-05 17:48] tcezi commented on #752
@tony am sorry it was a mistake. Wanted to address your comment.

[2018-06-05 17:53] dckc commented on #563
I haven't checked this in yet, but the code is:

[code]

[2018-06-05 18:55] ICA3DaR5 opened #757 "Translate "RNode v0.4.1 introduces sending Rholang smart contracts across the network" - "RChain Weekly Update (Debrief 83) 27th June, 2018" Medium blog posts to Greek"
### Benefit to RChain

Translation of the RChain Medium blog posts to other languages means good global marketing.

### Budget and Objective

_Estimated Budget of Task:_ **$[2300]**
_Estimated Timeline Required to Complete the Task:_ **[8 days]**
_How will we measure completion?_ **[Post "RNode v0.4.1 introduces sending Rholang smart contracts across the network" - "RChain Weekly Update (Debrief 8

[2018-06-05 20:00] BelovedAquila commented on #653
@allancto thank you very much, I will not want to raise more issues on this, but I will have my doc on this issue reviewed by other French collaborators on the basis of an independent review, @truffard alone  isn't sufficient to determine the adequacy of the translated doc on this issue, @ICA3DaR5 and @dckc aren't French fluent either, so please I would have it reviewed by an independent reviewer

[2018-06-05 20:11] zero-andreou commented on #751
Please use the new [issue template](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md)

[2018-06-05 20:17] zero-andreou commented on #746
Please use the new [issue template](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md)

[2018-06-05 20:22] pavlos1851 commented on #517
@ICA3DaR5 it is not abandoned. A new pull request will be created with the updated version of the document.

[2018-06-05 20:57] truffard commented on #653
@BelovedAquila you say I alone am not enough to determine the adequacy of the translated doc. I think I'm sufficient to assess your insufficient level of French.

[2018-06-05 20:59] Jake-Gillberg commented on #653
This document is now out of date

On Tue, Jun 5, 2018 at 3:57 PM, truffard <notifications@github.com> wrote:

[2018-06-05 22:20] ICA3DaR5 commented on #672
I am removing myself as a lead guide. I am proposing @zero-andreou and @michaelizer to continue the work.

[2018-06-05 22:22] ICA3DaR5 commented on #740
I find issue #753 to be relevant to this issue.

[2018-06-05 22:51] Pionelle commented on #653
@truffard There are francophone countries apart from in Europe. Where the language is the first language and method of education. If certain aspects of translation do not sit well with you, as a native speaker, I understand. But it does not change the genuineness of other french speaking non-natives.
We all were going about making things work, having a combative attitude towards the work is okay.

[2018-06-05 22:57] Pionelle commented on #653
@dckc On the with-holding all of my rewards based on irregularities on this. I find that a bit unfair, but if it is the rule. It must stand then, shouldnt it? I only found of this today and I was left confused since the other works were unrelated to this.
But then you mention what had to be done.
But it still came to me as a surprise that I had to be punished even for the good works I had done in

[2018-06-05 23:00] Pionelle commented on #752
@dckc On the with-holding all of my rewards based on irregularities on this #653. I find that a bit unfair, but if it is the rule. It must stand then, shouldnt it? I only found of this today and I was left confused since the other works were unrelated to this.
But then you mention what had to be done. I also would suggest that an alternative to what is stated be provided by those with the power to

[2018-06-05 23:04] barneycinnamon commented on #494
A few additional thoughts on rebates:

1.  There are going to be multiple RChain Coop entities. Which one will be offering rebates? Seems minor until you remember the rebates have to be funded from revenue. Which one receives which revenue might get more complicated depending on how they pursue revenue and whether there is some kind of sharing model across them.

2.  You could imagine each transac

[2018-06-06 00:08] ResonanceXX commented on #739
Thank you guys for taking time out to read this. Cheers.

[2018-06-06 01:16] ResonanceXX commented on #197
![screenshot-2018-6-6 stats - quora](https://user-images.githubusercontent.com/34219332/41009218-83168caa-6927-11e8-835c-bb34cc52146d.png)

[2018-06-06 04:43] Valentine-Mario commented on #662
@pmoorman the issue deals with construction of an RChain Africa forum not growing the forum. #591 deals with the on boarding process. Currently the forum has 11 users which is a significant growth. But there is no "engaging" contents due to some hindering factors that eg RChain Africa is not yet fully established and are still yet to hold their first physical meetup.
I feel this forum would be a b

[2018-06-06 06:59] kennyrowe commented on #755
I do not consider video translation a good use of resources at this time.

On Tue, Jun 5, 2018 at 8:43 AM, allancto <notifications@github.com> wrote:

[2018-06-06 09:56] golovach-ivan commented on #755
@allancto, hi
I want to participate in this task. I can translate video in two languages (native speaker): Russian and Ukrainian.
---
Questions:
1) Do I have to create a team or can I do everything alone (i personally have enough expience)?
2) If we do this work for two languages, then we will have two translations of the video, but only one comments on the video and one code in repo. On what budg

[2018-06-06 11:04] Tonyprisca13 opened #758 "20180606 RChain Active Member Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [ ] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).

- [ ]  Any key discussion poin

[2018-06-06 11:20] kitblake commented on #672
@ICA3DaR5 Donald, sorry to see go. Are you feeling a bit burned?
Bad joke, I know. But guide burnout is a problem we've anticipated, and haven't found an answer yet.

[2018-06-06 11:36] pmoorman commented on #733
@azazime I have a hard time voting a budget for it under the Marketing label if this document is only living in Google Drive.

I'm holding off on voting a budget till June, in anticipation of this piece getting exposure (and thus driving results)

cc @kitblake @AyAyRon-P

[2018-06-06 11:37] pmoorman commented on #733
To put it differently: documents that never get published aren't very valuable. The value is in reaching an audience with it.

You might want to update your description, because it indicates the work is already 100% done

[2018-06-06 11:48] pmoorman commented on #745
@zsluedem would you elaborate how you come to the $780 budget?

What actual actions/tasks were performed under this issue? Is it just a matter of uploading those videos, or did you do any other work on the videos, too?

For instance: who made the subtitles to all these videos?

$780 seems pretty steep for just uploading a bunch of videos, but maybe I'm missing something!

Let me know, and I'll cas

[2018-06-06 12:28] ICA3DaR5 commented on #672
@kitblake No, I am not burned, I am taking a break for personal reasons. @zero-andreou and @michaelizer are very capable people and I trust them 100% to do great work. I might get back on the task once I feel like it.

[2018-06-06 12:31] jimscarver commented on #752
I agree with @allancto that participant reward votes should count for observers working on issues. That will simplify the task for guides greatly as they would only need to vote on rewards for certain cases. The only issue is how compete the issue is and if the full budget rewarded by the team represents the actual work done.

@dckc I agree with @Pionelle that withholding rewards on other issues b

[2018-06-06 12:54] zsluedem commented on #755
@allancto Because you have suggest a really big amount of budget of this issue. I think you should provide a more details about your goals.(What we call YOU-NEED-SMART-OBJECTIVE)
I suggest you should divide this issue into smaller issues which we can do it step by step which would make goals more clear.

[2018-06-06 13:09] jimscarver commented on #755
@kennyrowe  Do you consider video translation to be a good use of resources at some later point of time? If so how does it serve us to just keep the rhoc in the treasury when it could have been used for useful purpose?

Is it an issue that not many students of math don't speak english well? If not, why not engage them sooner rather than later? We will spend the rhocs sooner or later.

[2018-06-06 13:18] zsluedem commented on #745
@pmoorman Yeah~! I'd love to explain it about that.
I would tell you the process of uploading one video to Chinese website.First, I have download the video from Youtube and also download the subtitle. Because the Chinese video website is not convenient as Youtube. You can not just upload the subtitle to the video and display it. It is not gonna work in these video website. So I have to use some ki

[2018-06-06 14:01] ResonanceXX commented on #197
![screenshot-2018-6-6 home - quora](https://user-images.githubusercontent.com/34219332/41042809-7e3a13d2-699a-11e8-8239-b54e7320c06f.png)

[2018-06-06 14:21] allancto commented on #755
@tcezi @kennyrowe this is not a translation project, it's to form local workgroups to follow and understand the first four talks in Introroduction to the Design of Computational Calculi.

@kennyrowe, thanks for your comment. One of the central roles of Guides in our bounty system is to provide exactly this feedback: what is the likely value of this project to our Cooperative? Do you feel it's like

[2018-06-06 14:28] pmoorman commented on #745
Oke, I see what you mean. Glad that you elaborated. In that case, let me update my votes

[2018-06-06 14:39] dckc commented on #653
Since @BelovedAquila removed that May 8 vote, I removed my slashing vote. Likewise with @Pionelle .

Stay tuned to [reward votes on this issue](https://rewards.rchain.coop/index.php?-action=related_records_list&num=%3D653&-relationship=RewardVotes&-table=issue&-ui-root=main-content&-sort=num+desc&-cursor=0&-skip=0&-limit=30&-mode=list&-related%3Asort=slash+desc) for slashing status.

[2018-06-06 14:39] pmoorman commented on #752
@jimscarver @Pionelle but isn't that the whole idea of slashing: that you have actually something [significant] to lose for bad behavior?

If people misbehave and abuse our trust, that should have more severe consequences than just not getting what you ask for. Otherwise there's nothing to lose from always asking for ridiculous rewards.

**_The problem here is that @Pionelle is claiming tokens for

[2018-06-06 14:40] dckc commented on #752
Slashing is not based on disagreement. It's based on unacceptable behavior, as judged by a quorum of the community. And having consequences beyond one issue is the whole point. You have to be fair everywhere or your whole "stake" (reward) for the pay period is at risk. (If there is more discussion on this point, I would prefer to have it in the slashing issue, #261).

As noted in #653, I have remo

[2018-06-06 14:42] ICA3DaR5 commented on #672
Okay, so me, @zero-andreou and @michaelizer had a conversation on the translation guides.

We decided that @michaelizer is the best choice for a Lead Guide, and myself and @zero-andreou will follow along as guides. Is that okay?

[2018-06-06 15:18] kitblake commented on #712
@Viraculous Good networking. You wrote:

All Targets are checked. Do we have a measure now?

[2018-06-06 15:55] Staff91 commented on #645
As soon as the payment for May has been made I will leave the bounty and the translations due to personal reasons.I want to thank for everything my associates @akhs13 and @Chris-Arv the whole Rchain team and especially @lapin7.

[2018-06-06 16:17] dckc commented on #261
The rewards app should make it easier to figure out that you've been slashed. For example, the "rewards for (you)" link on the left should have a "you have been slashed in #nnn" link.

I say _should_, not _must_, because the slashing voter is also obliged to be in communication with the party that they're slashing. Slashing should be a last resort in a negotiation.

[2018-06-06 16:29] dckc commented on #672
Regardless of your role going forward, @ICA3DaR5 , thanks for your contributions so far!

[2018-06-06 17:03] dckc opened #759 "review of 201805 pay period rewards by guides"
## Objective

 - [x] get confirmation from a guide in each area that we're all set to close 201805 on June 8. Sorting by most issues:
   - [x] Marketing
   - [ ] Operations
   - [x] Translation
   - [x] Development
   - [x] Governance
   - [x] member-site
   - [x] Education
   - [x] Greeter
   - [x] Events
   - [ ] Africa
   - [x] Branding
   - [x] Voting
 - [ ] produce [May 2018 Bounty System Rep

[2018-06-06 19:19] Pionelle commented on #752
@pmoorman You could be correct.
And you maybe a little bit incorrect. Because of in doing the work, we subjected the pre-published work to inspection from other equally good workers.
**And if in the conclusion, that opening up our works to scrutiny, and whatever the result of that was, is wrong.** Then the whole process may have been easier if we had avoided any standards and went ahead to claim r

[2018-06-06 19:32] pmoorman commented on #759
As for marketing: we're working on it as fast as we can. To be honest, it's an enormous amount of work (much more than I anticipated), and @kitblake @AyAyRon-P and myself are working through it.

I don't think there's anyone to pass the ball to.

When we're done I'll open a few issues to address a couple of the things that went wrong now that we could improve in the next month to make the bounty s

[2018-06-06 19:40] #694 closed

[2018-06-06 19:46] pmoorman commented on #672
@allancto let's spin the comment above (about the need for translation/localisation/regionalisation) into it's own issue.

I have my thoughts on that, as do many others, but I don't think this is the right place to discuss it!

[2018-06-06 19:58] pmoorman commented on #752
@Pionelle I don't understand what you're talking about.

Better explain in #653 why those tokens you're claiming are deserved. That's the root problem, not the slashing system.

[2018-06-06 20:28] dckc commented on #759
A handy view of the data is:

 - [201805 Rewards for Development](https://rewards.rchain.coop/index.php?-table=reward&-limit=30&pay_period=05%2F01%2F2018&labels=Development&-action=list&-cursor=0&-skip=0&-mode=list&-sort=reward_usd+asc)  (Change the **Labels** filter as appropriate.)

That shows the status of every Development issue / worker combo where anyone has cast a vote (whether certified or

[2018-06-06 20:35] jimscarver opened #760 "RHOC2REV process alternatives evaluation"
Greg asked the community to reevaluate the planned rhoc2rev airdrop plan. A final decision is needed ASAP. Please join this issue if you can help.
goals"
- [ ] An evaluation of rhoc2rev alternatives insuring we are serving the community the best we can.
- [ ] A potentially improved rhoc2rev process.
steps:
- [ ] discord rhoc2rev channel for discussion.
- [ ] transcript of Greg's rhoc2rev discussio

[2018-06-06 20:38] BelovedAquila commented on #653
@dckc thank you very much, I appreciate. I appreciate your efforts in seeing things go well in the ways you can, the issues which ensued here wasn't pre-planned , and I haven't really been on the best side with my reaction to it, one thing led to another,all of which I am very sorry, for any disregarding statement made by me in the course of getting an understanding, I am sorry. In whatever way it

[2018-06-06 20:48] dckc commented on #759
@Ojimadu I took a quick look at Events; I don't see any critical path issues. If you do, let us know and assign yourself to this issue, please.

For Governance, the translation guide's report #721 is included, but the overall retrospective report #678  is rather in Operations. Wherever the line is, surely both belong on the same side. Otherwise, I don't see any Governance issues. And this one isn'

[2018-06-06 21:10] Viraculous commented on #712
Yes @kitblake but I will like to keep the issue open till the decond half of this month so that I can upload the statistics of the audience it has attracted. I will also prefer the to claim my reward with the work done this month.

[2018-06-06 21:11] dckc commented on #653
OK, now that we're back to a civil exchange, let's review:
 - Translation check-list: "several reviewers are involved (assign the ticket to them)" yet only 1 person is assigned since @truffard stepped aside May 11.
   - Perhaps that's an administrative detail and Pionelle is a second reviewer, but
   - I don't see an answer to kitblake's May 9 question about why you deleted the comment from @truff

[2018-06-06 21:19] jasoncruzzy commented on #756
Great work @lover33  I went thru the video and i thought it was fantastic, uploaded the link @RChain Reddit Africa u/RChain_Africa

https://www.reddit.com/u/RChain_Africa?utm_source=reddit-android

[2018-06-06 21:30] jimscarver commented on #678
I did a little editing and added stuff on education and governance.

[2018-06-06 21:55] entropee commented on #609
@jimscarver, I just tried to access issues 759 and 760 in Rhobot and I get _Permission Denied_ in the rewards window. The log also shows _Error: Can't set headers after they are sent._

[2018-06-06 22:11] lover33 commented on #756
Wow!!

Amazing! thanks so much!

On Wed, Jun 6, 2018 at 2:19 PM, Asamonye Jason <notifications@github.com>
wrote:

--
Always, always be a BRIGHT LIGHT *- Anne Guise*

Knowledge of SELF is POWER - BlacXcross

*Mark Savage Jr.*
*CEO-Founder*
*KING ARTISTRY*
*707.276.6334*
*www.BitCoinCoreAcademy.com <http://www.BitCoinCoreAcademy.com>*
www.KingArtistry.com

*REEL:* https://vimeo.com/180703754

[2018-06-06 22:48] alexbegun commented on #760
So After the Hangout

[2018-06-07 00:57] billscarver commented on #713
We have code for this in the ProvenSecure Solutions private GitHub repository. Anyone interested in accessing the project should contact me at billw@provensecure.com...

[2018-06-07 02:20] rjl493456442 commented on #632
Besides, the budget for may including the translation reward for 12 community update articles(about 600 dollar).

[2018-06-07 02:48] yuhuanmocmoc opened #761 "Translate the Medium blog posts to Chinese Part4"
I will translate these Medium documents into Chinese with @rjl493456442.

1.[Introducing RSpace](https://medium.com/rchain-cooperative/introducing-rspace-ea12897daef2) [742 words]
2.[RNode-0.2.1 integrates Rholang to the RChain Node](https://medium.com/rchain-cooperative/rnode-0-2-1-integrates-rholang-to-the-rchain-node-183c0e13b024) [779 words]
3. [rnode-v0-4-1-introduces-sending-rholang-smart-co

[2018-06-07 03:36] Phistr90 commented on #760
x-post from my discord comment:

I agree that the dump of rhoc after the snapshot and uninformed buyers is the major concern in a simple snapshot at block X approach.
I just want to throw out a mechanism to disincentivize the sell off, it is for sure not perfect but maybe worth a thought - and honstely havent thought it through by myself :D

Instead of announcing that the exact block at which the

[2018-06-07 03:47] alexbegun commented on #760
Yes I like this!

[2018-06-07 04:54] Ojimadu commented on #759
No pending issue on the events label.

[2018-06-07 05:36] niwaa opened #762 "Translate rholangtut-0.3.md to French"
## Original (English) Content
[A Rholang tutorial](https://github.com/rchain/rchain/blob/master/docs/rholang/rholangtut-0.3.md)

### Benefit to RChain

This step is an effort to translate the content of https://developer.rchain.coop/ in French. This document, once published, will be indexed by search engines and bring organic French web traffic to the RChain website.
A next task should be to prope

[2018-06-07 07:43] Cryptovideos commented on #649
BOOM!!! here we go -  https://youtu.be/C_L-yGY2CYc

[2018-06-07 08:05] pmoorman commented on #692
@jimscarver in my description I stated the goal of the issue as:

What is not SMART about that? Maybe the "timebound" is missing, but other than that it's about as SMART as I can get it. Can you suggest improvements?

[2018-06-07 08:54] #734 closed

[2018-06-07 09:21] Barkov-F commented on #669
One more vote is needed. Anyone? How much the Coop is ready to pay for the post? The audience is as close to the target as can get. Here is the media kit
[mediakit_habrahabr_eng.pdf](https://github.com/rchain/bounties/files/2079788/mediakit_habrahabr_eng.pdf)

![habr](https://user-images.githubusercontent.com/18509341/41090210-664c6a1a-6a4c-11e8-92d1-f10abbfe32c8.png)

[2018-06-07 11:06] pmoorman commented on #669
@AyAyRon-P

[2018-06-07 12:20] dckc commented on #135
@Phistr90 be sure to explain why when you reopen an issue.

[2018-06-07 12:32] philipandri002 commented on #656
@pmooreman @dckc @kitblake

[2018-06-07 12:46] philipandri002 commented on #656
I started reaching out to most who made some inquiry from me to see how far they went with the registration

[2018-06-07 12:49] Pionelle commented on #752
@pmoorman The issue has been resolved. The review never happened.
And I had never acted entitled to whatever reward there was.
 The issue still remains that extending ''punishment'' to a member's other rewards seems unfair.

[2018-06-07 12:50] philipandri002 commented on #656
![screenshot_20180607-134826](https://user-images.githubusercontent.com/38182897/41100575-acd61528-6a59-11e8-8228-75c6e7596318.png)
That's like what I am talking about

[2018-06-07 12:53] dckc opened #763 "RCon 3: guide lightning talk sessions"
I have offered to guide lightning talks at [RCon 3](https://developer.rchain.coop/conference) and the organizers responded favorably.

### Budget and Objective

_Estimated Budget of Task:_ included in my SOW
_Estimated Timeline Required to Complete the Task:_ TBD
_How will we measure completion?_

  - [ ] arrange to get myself to the event
  - [x] call for participation
  - [ ] line up speakers

[2018-06-07 12:59] golovach-ivan opened #764 "Translate to Russian + Explain + Publish translation ("Policy as Types" paper)"
Translate Lucius G Meredith, Mike Stay, Sophia Drossopoulou, Jul 2013 v2 [Policy as Types](https://arxiv.org/abs/1307.7766) with explanation/dictionary of math terms to software developers:
- capability,
- OCap,
- policy,
- deniability,
- Labeled Transition System,
- trace equality,
- bisimilarity,
- barbed bisimilarity,
- calculus of communicating systems (CCS),
- п-calculus,
- RHO-calculus,
- He

[2018-06-07 13:02] pmoorman commented on #759
Update: I believe we're more or less "on track" for marketing. We have some complications because @AyAyRon-P is out of the country on the most critical moment, but we're dealing with it.

I think there's nothing to worry about on our label.

[2018-06-07 13:06] pmoorman commented on #754
Hey @jasoncruzzy I think SEM marketing is something that's being taken care of by the marketing organisation primarily. Please check with @patrick727 or Ankur and see how you can help there.

The description texts you pulled from Wikipedia, and it's not entirely clear to me what exactly you want to do under this issue, and what you need the budget for.

I'm adding the needs-SMART-objective label,

[2018-06-07 13:38] michaelizer commented on #759
Greetings, for the translations category there are very few issues pending, cases that were extraordinary but we will solve it ASAP. We are finishing the transition from @ICA3DaR5 to me, give us a day or two to settle things up, and those Issues along with the category itself will be done for the May period.

[2018-06-07 13:51] dckc commented on #673
@jimscarver @aviationhacker given the scope clarification above, your budget votes on this issue look a bit high. Please review.

[2018-06-07 13:57] dckc commented on #759
@pmoorman and everybody,

@allancto had a question for me about the "RChain Weekly Update" blog tasks #729 , 718, 689, 667. Separate task issues for each of these blog items is clearly working against the collaborators, when it comes time to do this budget / reward voting. That's a lesson I learned a while back when doing development on rewards.rchain.coop: while I was doing the work, it was usefu

[2018-06-07 14:29] Barkov-F commented on #669
@kitblake Thanks for the reward vote. Can you put a budget vote in as well?

[2018-06-07 14:43] zsluedem commented on #672
@allancto agree with low priority for translations.Start another issue to discuss it. I remember it seems there was some discussion before.Let me check.

[2018-06-07 14:59] allancto commented on #672
@pmoorman @zsluedem @Viraculous @David405 yes, I agree with what you all have been saying. As we ourselves become more knowledgeable and experienced, we should be "upping our game". We should be not rest on our laurels, we should be able to add new kinds of value to the work we've been doing. How can we make what we do always more productive? Better tools for doing it? New initiatives? Research in

[2018-06-07 15:20] entropee commented on #760
Here is a Google document with the transcript. The transcript is readable but might be cleaned up a bit with punctuation and removal of stammering (thinking outloud. )
[Rhoc to Rev discussion during May 6, 2018 debrief](https://docs.google.com/document/d/1R5CtgBA1kJpIZmQ1WzgWbtbjTemoRoaG30tBlCJfzw8/edit)

[2018-06-07 16:12] dckc commented on #375
I just deployed:

See #758 for meeting records etc.

To elaborate on "Experience in the 201805 pay period":
 - @michaelizer didn't get rated though he was doing good work and several had certified him. As a work-around, made room for him by removing people who don't actually vote (e.g. Greg M.) by deleting certifications. Deleting certifications should only be done to indicate broken trust. We had

[2018-06-07 16:15] dckc commented on #752
As I said above on Jun 3, the most straightforward change to the existing system is to tweak the parameters for the expected number of masters, journeyers, and apprentices. Based on discussion in yesterday's RAM meeting (#758) and chatting with @jimscarver today, I did so: https://github.com/rchain/bounties/issues/375#issuecomment-395478315

  - `8ed0ddf` 45 isn't enough apprentices; try 100

[2018-06-07 16:24] Pionelle opened #765 "Translate Medium Article - RChain: Progression And Cooperation to French"
### Benefit to RChain

*I  created a copy of this article for the French speaking audience. Publishing the article is done.*
**
*Replace these 3 lines with your answer*

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[400]**
_Estimated Timeline Required to Complete the Task:_ **[4 days]**
_How will we me

[2018-06-07 16:27] Pionelle commented on #765
offline, I ran this along my Native french mate and online here ill still open the work to more scrutiny. @niwaa @truffard @ICA3DaR5

[2018-06-07 16:52] dckc commented on #375
the impact included some stuff that @Jake-Gillberg , @jimscarver and I aren't comfortable with so until next pay period starts...

  - `9ed9361aa499` roll back to 45 apprentices

[2018-06-07 17:04] azazime commented on #750
Not just getting students involved on this,  I believe or suggest you target IT inclined students who will easily understand what rchain stands for and it's importance. So approaching more of the students in the IT departments of such universities gives your work direction. @ pmoorman

[2018-06-07 17:36] David405 commented on #662
@pmoorman the budget for this work is for that which is already done, I can't vote a budget until the Marketing lead ( @pmoorman ) gives a suggestion, You may not be in support of the work but I believe the participants here deserve a reward for at least making an effort, What do you think @pmoorman ?

[2018-06-07 17:38] dckc commented on #616
Based on discussion with @jimscarver and others following this week's RAM meeting, I revised the [Task Approval][1] proposal:

So all members of the committee are ineligible for bounty system rewards; we are compensated by other means.

@ian-bloom I put you down as _nominated_; I look forward to syncing up to see if you'd like to accept the nomination. Likewise @PatrickM727 .

If so, the four of u

[2018-06-07 17:43] David405 commented on #662
Concerning the regional marketing efforts, I think I am now clear with your position but not all of regional marketing strategies are ineffective, for example, having work groups, study groups, regional meetups have all proven to be effective strategies

[2018-06-07 17:45] lapin7 commented on #649
It's a pity that the CEO @leithaus is not on.

[2018-06-07 17:46] Cryptovideos commented on #649
is there any videos of him? id be happy to include it into the edit?

On 07 Jun 2018, at 19:45, HJ Hilbolling <notifications@github.com<mailto:notifications@github.com>> wrote:

It's a pity that the CEO @leithaus<https://github.com/leithaus> is not on.

[2018-06-07 17:51] entropee commented on #662
@David405  I tried to login with twitter but it didn't work.

[2018-06-07 18:05] pmoorman commented on #662
Guys to clear this up:

I can't vote a budget until the Marketing lead ( @pmoorman ) gives a suggestion,

You don't need to wait for a marketing guide (me, in this case) to approve of the work. You can ask me to approve it, but if I don't want to (as in this case), then feel free to reach out to any of the 45 other people in the trust metric system.

Above I have outlined 4 concerns that I haven't

[2018-06-07 18:15] lapin7 commented on #649
Maybe interesting parts of the Wednesday Debriefs where Greg is talking.

[2018-06-07 18:17] Cryptovideos commented on #649
Agreed - and if anyone else could direct me to extra videos i can include this is most welcome too - and thanks to those who suggested the previous Youtube Links as well.

[2018-06-07 18:19] pmoorman commented on #692
Hey all,

I owe everyone an update here. While the 201805 pay period closes, it's clear that there is a lot of energy in marketing, but we sometimes struggle to channel that energy into productive means.

Meanwhile, Patrick has been working very hard together with Ankur and others to build out an autonomous marketing organisation to support RChain. They oversee much of the strategic marketing work

[2018-06-07 18:20] lapin7 commented on #649
My Discord went down. Sorry

[2018-06-07 18:31] David405 commented on #662
@entropee That was working until I checked after your complaint, I think Twitter updated their privacy policy and it affected the oauth, I will get sorted out.

[2018-06-07 18:31] TrenchFloat commented on #736
Awesome @lover33, I will be in touch (once I'm plugged back in after the 16th).

I'm not sure if you mean come up with a marketing plan for all of RChain on your own - the Board already did that, and handed it to the bounty system to carry out. If you'd like to pitch in on that effort, check out #692 and talk to @pmoorman.

[2018-06-07 19:08] zero-andreou commented on #761
Please use the new [issue template](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md)

[2018-06-07 19:33] lover33 commented on #736
Ok thanks will do!

On Thu, Jun 7, 2018 at 11:33 AM, Kyle Connolly <notifications@github.com>
wrote:

--
Always, always be a BRIGHT LIGHT *- Anne Guise*

Knowledge of SELF is POWER - BlacXcross

*Mark Savage Jr.*
*CEO-Founder*
*KING ARTISTRY*
*707.276.6334*
*www.BitCoinCoreAcademy.com <http://www.BitCoinCoreAcademy.com>*
www.KingArtistry.com

*REEL:* https://vimeo.com/180703754

[2018-06-07 19:36] jasoncruzzy commented on #754
@pmoorman This is a research work analysing the possibilities of Search
Engine Marketing(SEM) for RChain......The objectives of this issue is to
give a discreet guide on SEM as a Proposal to RChain

On Jun 7, 2018 14:06, "pmoorman" <notifications@github.com> wrote:

[2018-06-07 20:27] aviationhacker commented on #673
I've just had a look at my budget for this issue, but I can't see one that I've placed? Was it removed? If so, it saves me changing it :)

[2018-06-07 20:45] pmoorman commented on #754
oke, please sync with @patrick727 to make sure we're not doing double work here. I still find it hard to imagine exactly what a "discreet guid on SEM" would be worth to RChain.

I would recommend we work on clarifying a little bit better what exactly we want to produce here, and how it'll play into the wider strategy before we proceed.

[2018-06-07 20:49] dckc commented on #673
I guess I'm confusing you with @entropee .

[2018-06-07 21:13] pmoorman commented on #759
@dckc @allancto thanks for bringing it to my (our) attention.

- I think it makes sense to lump together such issues, much like Dan suggests.

- In my vote, I've done exactly that, and voted only a budget on #729 with the understanding that this accounts for all 4 issues.

- Another problem that I see -- that this set of issues raised in particular -- is that it's hard to find closed-but-relevant

[2018-06-07 21:15] pmoorman commented on #729
I'm voting a budget here to lump the payments of #729 , #718, #689 and #667 together for the 201805 pay period.

[2018-06-08 00:28] ResonanceXX commented on #197
[This is an invite/link dropping](http://qr.ae/TUppda)

[2018-06-08 03:47] David405 commented on #662
Aha, I am just getting to see @kitblake earlier complaint, I wonder how I could have missed that, l was sure the twitter sign in worked during testing procedures, I think Twitter security updates requires I register the Application, I have done that, so check back in a few days from now @kitblake @entropee

[2018-06-08 05:02] David405 commented on #662
@kitblake @ojimadu @entropee, maybe you could take a look at the issue and vote on budgets and rewards accordingly

[2018-06-08 05:51] lapin7 commented on #649
The [Amsterdam meetup of BlockchainTalks.io ](https://www.youtube.com/watch?v=RAyzSSpaeVA)on Streamed live on May 23, 2018

![image](https://user-images.githubusercontent.com/1913335/41140927-5ce89f62-6af0-11e8-8a09-321ba565a0c2.png)

Probably I will go through that video to submit the most interesting parts, because it's a 3+ hour video.

[2018-06-08 07:06] azazime commented on #659
@pmoorman I  would appreciate a higher reward budget for this issue because it would be continuously publicized regardless of the enormous effort already put into Ltd publicity

[2018-06-08 07:38] Cryptovideos commented on #649
@pmoorman @lapin7 awesome input!

@lapin7 please send me info regards the parts you want me to cut out The Amsterdam meetup of BlockchainTalks.io  video to include into my master edit - tks chief

[2018-06-08 07:53] pmoorman commented on #659
Hey @azazime in the [README](https://github.com/rchain/bounties/blob/b3238d190e0a1a55f07fcc7911999b0b88a4995d/README.md) we've said:

The value in this case is in the people that you reach. If you plan to further promote this piece in June and reach more people, then you should be entitled to extra rewards in June.

For now, I'm voting for the value that has been delivered, in my personal judgemen

[2018-06-08 08:00] Viraculous commented on #759
@dckc Thanks for expressing your concern about the Weekly Updates blog post. I am also working side-by-side with @PatrickM727 and @plantether. Immediately I am done, @plantether gets to do the review and from my little knowledge, she studied English. @PatrickM727 also gets a copy of the document and is in charge of uploading the documents to the RChain medium. I hope this satisfies your question?

[2018-06-08 08:51] lapin7 commented on #750
@azazime what's your email?

[2018-06-08 08:58] azazime commented on #750
andrewasamonye@yahoo.com

[2018-06-08 10:07] kitblake commented on #659
Hi @azazime, you put together a nice one-pager. it's too bad it's only been posted in the rchain.africa forum. That's not a public forum and afaik there are only a few already onboard bounty system participants there.
Where on social media was it posted?
I searched the @rchain_africa Telegram group and didn't find it. Can you send a link?
Messages on Telegram are URL addressable, e.g. https://t.me

[2018-06-08 10:33] azazime commented on #659
@kitblake I'm having a hard time getting the link from telegram but it has been posted on rchain Africa and rchain official telegram groups respectively...

[2018-06-08 10:39] kitblake commented on #656
Imho we shouldn't have bounties for talking about RChain on Facebook and WhatsApp.

Granted, doing so does raise awareness about RChain. The lady in the screenshot might decide to invest. But new investors is not what RChain is looking for. RChain is looking for new developers to come onboard. That is a verifiable action, just ask the new member to mention @philipandri002 when they meet with the G

[2018-06-08 11:07] Barkov-F commented on #764
@golovach-ivan Can you add the link to the original document to the issue description? I mean the document you'll base the habr post on?

[2018-06-08 11:34] jasoncruzzy commented on #754
@Patrick727 kindly reply my personal message on discord, so i can some more
clarity on this

On Jun 7, 2018 21:45, "pmoorman" <notifications@github.com> wrote:

[2018-06-08 12:05] Cryptovideos commented on #649
@makys @pmoorman @Murphy6 @jasoncruzzy @dckc Would appreciate some support... please Vote for me in the rewards/budgets app. Thanks all

[2018-06-08 12:42] kitblake commented on #662
@David405 wrote:

Some implementation points:
- The https://rchain.africa site is a login screen.
- The forum is not open to the public for reading.
- The Twitter login doesn't yet work.
- Afaik, only 7 people have joined the forum and they're already onboard bounty system participants.
- ...there are more problems.

Some marketing points:
- As far as we know, running regional forums doesn't align

[2018-06-08 12:47] entropee commented on #649
Very nice work, @Cryptovideos . I gave you a thumbs up on youtube. I'll ask for guidance about voting for the budget after just watching, but I have some thoughts.
1. We need more shots and clips of Greg and other devs, maybe while some of the other commentators are mentioning them.
2. Lawrence's content was great but his audio quality was BAD. Is there any way to cool it off a bit. Maybe get him

[2018-06-08 12:57] jasoncruzzy commented on #649
@pmoorman the video work is awesome and fantastic. Should be considered....@Cryptovideos send me a direct message

[2018-06-08 12:59] ICA3DaR5 commented on #640
I Google translated the original (English) blog posts to French, and it seems to me that the French translation you have posted here is Google translated.

[2018-06-08 13:01] dckc commented on #759
The remaining Development tweaks (#708 and #673) are all done.

[2018-06-08 13:41] dckc commented on #653
@Jake-Gillberg , I realized in conversation with @ICA3DaR5 that there's still a https://developer.rchain.coop/  > RHOLANG SPECIFICATION > https://developer.rchain.coop/assets/rholang-spec-0.2.pdf link.

The tutorial has moved on from 0.2, but I guess the spec has not.

The question of maintenance going forward remains.

[2018-06-08 13:44] Jake-Gillberg commented on #653
From talking with Mike Stay about this document I got the quote:  "...The
document ... is only of historical value; it has too much philosophizing
and not enough detail about semantics for a proper language specification.
We have a contractor working on a formal operational semantics for Rholang
using K framework. We'll add commentary to it, but the majority of the new
document will be generated f

[2018-06-08 13:46] Jake-Gillberg commented on #653
If it is still linked on developer.rchain.coop then I guess I could see a
case for translation? Though I wouldn't advocate for it ¯\_(ツ)_/¯

On Fri, Jun 8, 2018 at 8:44 AM, Jake Gillberg <jake.gillberg@gmail.com>
wrote:

[2018-06-08 14:01] pmoorman commented on #649
@Cryptovideos @entropee @lapin7 I want to vote a budget here, but I see you all have voted $3.000 already.

What is this $3.000 budget based on?

[2018-06-08 14:09] ICA3DaR5 commented on #759
I talked with @michaelizer and he agrees we're done for the Translation label for 201805.

[2018-06-08 14:44] dckc commented on #729
@Viraculous writes in #759:

It shows that you have done a reasonable job of getting review.

Truth be told, I wonder if, among all the things @PatrickM727 has going on, he can afford to look closely at these when he posts them.

If @plantether is doing a thorough review, then all is well. But I don't know much about that person. The github profile is essentially empty. The list of [certifications

[2018-06-08 15:14] TrenchFloat commented on #759
Education issues are all reviewed.

Until we get @entropee (and ideally someone else) up to speed on being an Operations guide, that label is a large pile of work that @lapin7, @jimscarver, and I don't have the bandwidth to go through. For now, Ops is at risk.

[2018-06-08 15:18] zsluedem commented on #750
@azazime Yes . I am trying to do that~!

Now report the work I have done these days.
I have reached out one of my best friend who is from Beijing University of Posts and Telecommunications which lead to build the GFW in China :). It is a very strong university on the IT area in China. I have asked him to post a introduction about Rchain in the bbs forum of his university. Looking forward to get so

[2018-06-08 15:32] nonnykul commented on #750
@zsluedem,nice updates on your work, onboarding IT university students is a progressive work that requires time and more research.

[2018-06-08 15:34] michaelizer commented on #453
Due to lack of response, I'm adding a slashing vote on this issue.

[2018-06-08 15:35] #453 closed

[2018-06-08 15:47] jimscarver commented on #511
I thought the point of bitcoin is that we do not need a payment provider. Can't we just post a bitcoin address where to send bitcoin to us and then post the transaction id of the transaction to be applied to membership.

Automating this requires showing the QR code of where to send bitcoin etc.  Any verification necessary can be done in the normal KYC process.

RChain not accepting bitcoin suggest

[2018-06-08 15:47] TrenchFloat commented on #678
Almost done! Meanwhile, @lapin7 has said he will send the report out to the board in advance of the June 14th board meeting.

[2018-06-08 15:48] pmoorman commented on #759
I think that it's fair to say that — in general — being a guide is _much more work_ than any of us anticipated. @kitblake and I are drawing the same conclusion.

Something to talk about in June!

[2018-06-08 15:51] #728 closed

[2018-06-08 16:00] Cryptovideos commented on #649
@jasoncruzzy thanks man -

[2018-06-08 16:05] Cryptovideos commented on #649
@pmoorman budget/rewards covers time - time to source, download and scour the clips individually, then cut each one down separately and extract selected pieces, then add and mix these pieces into a master edit, then amend all the sound levels on each piece individually as best as poss...based on exisitng Audio, then creating the intro separately in animation software, then incorporating that into

[2018-06-08 16:11] kitblake commented on #659
@azazime Now when I search in @rchain_africa I find your link to a Google doc. We've put in a small reward. This is the Telegram link to your post: https://t.me/Rchain_Africa/384.

For the future, to get a Telegram link, tap next to the message and choose "Copy link" from the menu. On desktop right-mouse does the same thing.

[2018-06-08 16:15] MParlikar opened #766 "Core Development work for May"
### Benefit to RChain

Build the Scala version of Rosette.
RNode enhancements in May
Issue covering May bounty work.

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ $2,400.00
_Estimated Timeline Required to Complete the Task:_ 1 month: May
_How will we measure completion?_  Pull Requests are Merged.  Measur

[2018-06-08 16:15] #305 closed

[2018-06-08 16:16] MParlikar commented on #766
Completed issues ROS-330, ROS-234, CORE-524

[2018-06-08 16:18] azazime commented on #659
I don't understand what you mean by we've put in a small reward?? @kitblake because the reward is still at 85$, please I believe this issue need more reward than is been given.... The comments of members here can attest to it,  thank you

[2018-06-08 16:19] dckc commented on #721
As discussed with @michaelizer and others, I'd like us to keep working on this until we have a summary at the top and until we have some conclusions or next steps on the "under investigation" items.

[2018-06-08 16:20] MParlikar opened #767 "Core Development work for June"
### Benefit to RChain
June Core development work on the Platform.

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ $10,000.00
_Estimated Timeline Required to Complete the Task:_  1 month- June
_How will we measure completion?_ Pull Requests are merged. Measure of effort is in story points.  Each story point

[2018-06-08 16:20] kitblake commented on #729
@plantether is a she, and she and I have collaborated previously. If she reviews then, indeed, all is well.

[2018-06-08 16:34] dckc commented on #766
This looks like a dup of #708 , which I already got votes for.

[2018-06-08 16:39] dckc commented on #766
We decided to **disallow votes on issues created after the current pay period** in #682. So we'll have to use #708.

[2018-06-08 16:39] #766 closed

[2018-06-08 16:42] TrenchFloat commented on #559
@Cryptovideos I misunderstood; I thought you could add tags and a description, and when we moved it to the RChain channel, everything would copy over. I realize now that's not the case, although it would only be a matter of some quick copy-pasting... Anyways.

I've reached out to Patrick who evidently looked at this issue and hasn't shown any sign of wanting to make the switch to the RChain channe

[2018-06-08 16:42] AbnerZheng commented on #708
@MParlikar I will complete issues ROS-330, ROS-234, CORE-524, summed up to 2400$ as issue#766 says.

[2018-06-08 16:51] golovach-ivan commented on #764
@Barkov-F

+ done
+ add terms list to explain

[2018-06-08 17:08] Cryptovideos commented on #559
100Percent

all good, any suggested preferences for the tags and description ?

happy to do it

On 08 Jun 2018, at 18:42, Kyle Connolly <notifications@github.com<mailto:notifications@github.com>> wrote:

@Cryptovideos<https://github.com/Cryptovideos> I misunderstood; I thought you could add tags and a description, and when we moved it to the RChain channel, everything would copy over. I realize no

[2018-06-08 17:16] barneycinnamon commented on #682
@lapin7 @jimscarver @TrenchFloat One vote shy for budget and one vote shy for rewards. If any of the guides want to jump in and nudge it over, that would be nice.

[2018-06-08 17:17] golovach-ivan opened #768 "Post core scientific papers of RChain founders on the developer.rchain.coop"
Place core scientific papers related to RChain on developer.rchain.coop/documentation:
+ Meredith, Radestock, 2005, [A Reflective Higher-order Calculus](http://tech.labs.oliverwyman.com/downloads/ex_nihilo_finco.pdf)
+ Meredith, Stay, 2015, [Higher category models of the pi-calculus](https://arxiv.org/pdf/1504.04311.pdf)
+ Meredith, Bjorn, 2003, [Contracts and Types](http://bbs.w3china.org/dragons

[2018-06-08 17:22] ICA3DaR5 commented on #541
This seems to have been completed, closing it.

[2018-06-08 17:22] #541 closed

[2018-06-08 17:22] dckc commented on #708
Since @KentShikama and @tschoffelen voted for me based on just the rnode enhancements, our individual votes may look a little weird. But they're getting pretty close to the target: $2400 for @AbnerZheng and $1000 for me:

Title | Worker | Reward usd | Percent avg | Budget usd | Voter qty | Voters | Reward provisional | Budget provisional | Pay period | Labels
-- | -- | -- | -- | -- | -- | -- | --

[2018-06-08 17:29] ICA3DaR5 commented on #431
No work has been uploaded here, and I haven't received a reply for 3 weeks. The translation guides are slashing all the voters.

[2018-06-08 17:29] #431 closed

[2018-06-08 17:32] dckc commented on #511
We devoted a separate issue to that option: non-USD membership payments: p2p wallet #512

[2018-06-08 17:35] dckc commented on #759
p.s. we had a bit of a snafu where Medha created #766 to reward Abner's May core dev work, but we decided to disallow votes on issues created after the current pay period in #682. We had to put in some funky votes in #708 to make it work out right.

Next time I hope to coordinate better with Medha.

[2018-06-08 17:36] ICA3DaR5 commented on #623
I have stated three weeks ago that this is a duplicate of #640, you haven't responded on either of the issues. The translation guides are going to slash all the voters of this issue.

[2018-06-08 17:36] #623 closed

[2018-06-08 17:39] dckc commented on #728
I'm surprised you close this. Was that on purpose?

[2018-06-08 17:50] TrenchFloat commented on #678
I just wrote the Operations section and copied the marketing section from the separate doc that @AyAyRon-P was working in. Now all we need is the finishing touches from the Translation guides to resolve @dckc's comments (to come in the next few days), and formatting/editing for the whole document. I'm about to leave on vacation (until the 16th) and am looking for someone to do the latter...

[2018-06-08 18:22] kitblake commented on #759
_Posted this in Discord where it surely got lost:_

For label guides: bounty hunters are driving the guides crazy with PMs. Contributors should make their case in public in the Github issue. Don't discuss bounty budgets/rewards in private.

[2018-06-08 18:31] ICA3DaR5 commented on #640
Since this is a duplicate of #623 and I have stated [my opinion](https://github.com/rchain/bounties/issues/623) there, the translation guides are going to slash all the voters of this issue.

[2018-06-08 18:31] #640 closed

[2018-06-08 18:40] ICA3DaR5 commented on #437
Work seems to have been done here, although and .SRT file has been uploaded. Voters of this issue have been slashed on issue #453

[2018-06-08 18:40] #437 closed

[2018-06-08 19:02] jimscarver commented on #713
@billscarver we only use open source code here. Make the repo public or have me made an admin. The development was funded under a public DARPA program and we are obligated to make it available on request as far as I know.

[2018-06-08 19:10] alex-coinfund commented on #760
@jimscarver did you mean me, above? I'd be happy to help by reviewing/commenting, but probably don't have a ton of bandwidth. Would I be paid for this work? Thanks.

Having read the comments above, my immediate response is that a snapshot when the contract can't be frozen (a la what EOS did) is a bad bad idea. Why not simply create an exchange mechanism, where a simple contract on ETH can receive

[2018-06-08 19:14] ICA3DaR5 commented on #278
Closing this since no one has responded for weeks.

[2018-06-08 19:14] #278 closed

[2018-06-08 19:36] jimscarver commented on #760
@alex-coinfund yes we would be paid for whatever effort you put in including the hours already spent. We just need to set a reasonable budget and vote rewards everyone who help in the effort.

As you requested I have fleshed out the wallet approach a bit in this collaborative document.
https://docs.google.com/document/d/1ujtjJQgjnWpyYv7V65T1hshGw5kXCtnpGTj5Yl_fE4U/edit#
Please review/contribute.

[2018-06-08 19:45] BelovedAquila commented on #653
@dckc
- would assign the ticket soon
       - I made a mistake ignorantly  in deleting truffard's comment, never saw it as wrong then, and it was deleted because I perceived the comment as regards to the reviewing, its not to be there, and we under a collaborative agreement, agreed on not filling the Github issue with comments with the aim of making it smart, we agreed on having an in house contri

[2018-06-08 20:00] jimscarver commented on #760
Yes @alex-coinfund you will be paid for whatever effort you can put in here. We just need to set a reasonable budget once we can estimate it and vote rewards for the month for people who participate in the issue.

As you requested I have flushed out the [rchain wallet rhoc2rev alternative](https://docs.google.com/document/d/1ujtjJQgjnWpyYv7V65T1hshGw5kXCtnpGTj5Yl_fE4U/edit#) we discussed.

[2018-06-08 20:11] jimscarver commented on #512
A solution is needed immediately as bitcoin payment is no longer supported by rchain (blush).
Having a multisig wallet for this purpose is enough to accept payment. Verification can be done as part of KYC.

[2018-06-08 20:17] dckc commented on #653
That applies more to the rholang tutorial. I have been getting the tutorial confused with the spec. The spec is not maintained in github.

I think the source form of the spec is a google doc... well, that's even older: [Rholang Spec (0.1): 2016-08-03](https://docs.google.com/document/d/1gnBCGe6KLjYnahktmPSm_-8V4jX53Zk10J-KFQl7mf8/edit#heading=h.k4bk2akncduu) cited from [rchain/reference](https://g

[2018-06-09 05:44] allancto commented on #764
Thanks @golovach-ivan and @Barkov-F . The choice of material is awesome. When you say "Explain" may I assume you are adding your own commentary/ explanations/ discussion and glossary to the original paper? That would be exactly the sort of "value add" we need. Also, PLEASE publish your additions in both the source language (English) as well as in Russian. If you like you might even host a discussi

[2018-06-09 05:51] allancto commented on #768
@golovach-ivan can this be combined with #764 ? There's been an explosion of issue numbers and combining related issues will help everyone assess value and quality using less time and allowing more focus.

Also please continue your pattern of adding value. Summaries, discussions, and even small introductions like you did above "its about how encode types of channels and pattern matching in pi-calc

[2018-06-09 06:03] allancto commented on #762
@niwaa @truffard we're trying to move toward value-add rather than simple translation. Can you form a French language group to study and comment on the documents translated rather than just translating? Please include @Pionelle and others translating into French as well. I believe that @lapin7 is a French speaker, perhaps he may recommend others who may be interested in participating in French lan

[2018-06-09 06:10] truffard commented on #762
@allancto I see your point. @lapin7 already stated that in order to translate a document, one must be a native speaker and unfortunately, this is far from being the case. Scores of people are parasitizing the issues and how can a non-native speaker review and edit our work? It's really challenging to vet and approve of qualified people, and most of the translated result is pathetic (see previous i

[2018-06-09 06:12] truffard commented on #762
@allancto  I and @niwaa will complete that translation and we will take your comment into consideration.thanks

[2018-06-09 06:19] allancto commented on #761
@yuhuanmocmoc please consider that than simple translation is less the goal of our Cooperative, we want to add value to materials that are to be translated or utilized. One way to do this is to develop groups of people working together, because we value and are trying to develop Cooperation at Scale. Another way to add value is to analyze materials being studied or translated, and encourage discus

[2018-06-09 06:31] allancto commented on #746
@v56700 it looks from your work that you've actually added commentary/ analysis/ summarization. If you can also translate this from Chinese back into English I would vote a 20% higher reward because I feel commentary and analysis makes these materials more valuable to all of us. In particular these videos represent the history of our Cooperative and anything you can do to make them more accessible

[2018-06-09 06:34] kitblake commented on #682
@barneycinnamon Done, this issue is now 'provisioned'.

That's a term the Marketing guides use, meaning the budget and rewards are not provisional anymore. So @lapin7 @jimscarver @TrenchFloat don't need to take action.

[2018-06-09 06:39] allancto commented on #762
@truffard I disagree with @lapin7 that being a native speaker is always necessary. In fact we have many non native speakers of English who make excellent contributions by being perceptive rather than fancy with words.

If you agree that "most of the translated result is pathetic" how will you improve the situation? My suggestion is to form groups with French speakers and integrate them into the st

[2018-06-09 06:46] lapin7 commented on #261
@dckc
Please set the current month to 6/1/2018 (and freeze the month of 5/1/2018)
The RHOC rate for May = $1.38

[2018-06-09 06:59] azazime commented on #659
This is the published link to this document in medium 👉 https://medium.com/@andrewasamonye/rchain-f451d42dba7b

@kitblake @pmoorman @AyAyRon-P

[2018-06-09 09:55] truffard commented on #762
@allancto how can a non native speaker review and edit my work?

[2018-06-09 11:07] akhs13 opened #769 "Translate rholang-spec-0.2.pdf to Portuguese"
# Issue

## Original (English) Content
- [rholang-spec-0.2.pdf](https://developer.rchain.coop/assets/rholang-spec-0.2.pdf)

## Translated (Portuguese) Content
- []()

## Tasks
- [x] Download the original (English) content.
- [ ] Translate the content.
- [ ] Check the spelling.
- [ ] Review each other's work.
- [ ] Have them reviewed by others with knowledge of English and Portuguese.
- [ ] Upload

[2018-06-09 12:01] dckc commented on #261
done.

On Sat, Jun 9, 2018 at 1:46 AM, HJ Hilbolling <notifications@github.com>
wrote:

--
Dan Connolly
http://www.madmode.com/

[2018-06-09 12:06] dckc commented on #759
pay period is now: **201806**. May votes are frozen.

Next step: produce the [May report][1].

@Jake-Gillberg I'm out of the office this week; would you take a stab at the Development section?

[1]: https://docs.google.com/document/d/10Zw9wIbxirDVAWTCu57F4ue1lZvx1rDQ3YtNP2ugdXY/edit

[2018-06-09 14:08] allancto commented on #762
@truffard where is your work reviewed and edited by a non native speaker? Translation per se is not a priority for our Cooperative. Working cooperatively at scale, and adding value by improving the original material may be, at least that's my suggestion.

There's some discussion of this in #755 , for instance ../755#issuecomment-394961763. If you're interested in taking the existing Rholang tutori

[2018-06-09 14:26] rjl493456442 commented on #761
@allancto We are open to cooperation! But i have not figured an effective way to do that. I mean me and @yuhuanmocmoc are focus on the translation and Wechat official account running. I have no idea what @zsluedem is doing. But yes, definitely the more cooperation, the larger promotion will be created!

[2018-06-09 15:21] kitblake commented on #491
Can we increase the session length on the rewards server? I think it's default 20 minutes, and people at the end of the month are often busy for an hour or two.

[2018-06-09 15:32] jasoncruzzy commented on #704
The reddit address has seen been posted on the telegram groups and some other RChain channels and I update the account with RChain videos and docs twice a week as a way of follow up.

[2018-06-09 15:51] dckc commented on #491
I don't remember seeing where the session duration is set, but it must be
in there somewhere...

On Sat, Jun 9, 2018, 10:21 AM kitblake <notifications@github.com> wrote:

[2018-06-09 17:51] lapin7 commented on #261
The conversion USD to RHOC is wrong. Should be /

USD | RHOC | * /
-- | -- | --
4643 | 6407.339978 | *
4643 | 3364.492754 | /

[2018-06-09 23:10] jasoncruzzy commented on #735
@kitblake  The telegram  groups has made tremendous growth and it has provided both existing and new members with relevant information on how to grow the coop . RChain Africa group will  continually intensify its efforts to involve more RAM

[2018-06-10 00:47] justinc667 commented on #678
I rearranged the draft to make major sections more distinct through formatting and subheadings under them less eye-catching to help the contrast. I also posted comments I had about incomplete or hard to understand portions of the document so that there are opportunities to shore them up before the presentation of the report.

[2018-06-10 02:36] dckc commented on #261
I'm out of office for the week. I hope you can make do by exporting and
using a spreadsheet.

On Sat, Jun 9, 2018, 1:51 PM HJ Hilbolling <notifications@github.com> wrote:

[2018-06-10 04:38] jimscarver commented on #753
I vote to go ahead and vote. We can always change our vote before july 9.

We need to estimate the rhoc price to budget this issue.  Today's price is as good as any $1.25. We can adjust the budget later. I'll vote  $6000, which is the full 6129.39 minus a129.39 penalty for not being careful :)

[2018-06-10 08:57] lapin7 commented on #678
Where's the final version to be send to the board today?

Is it this one?
https://docs.google.com/document/d/18TfJWqAREEyr0wQdGb_UOxrFVk4KOigdFgpf7bV2ZL8/edit#heading=h.xpbjkupkceyd

It still has DRAFT on it

[2018-06-10 11:12] kaka56 commented on #743
@Viraculous @PatrickM727 The Gsheet now contains curated event list for Rchain. I will like you to check it out.

[2018-06-10 12:55] dckc commented on #678
Yes, @TrenchFloat confirms that's the one.

I suggest you dispose of the outstanding comments as you see fit and remove
DRAFT.

On Sun, Jun 10, 2018, 4:57 AM HJ Hilbolling <notifications@github.com>
wrote:

[2018-06-10 12:56] dckc commented on #678
Um... Today? The meeting isn't June 14?

On Sun, Jun 10, 2018, 4:57 AM HJ Hilbolling <notifications@github.com>
wrote:

[2018-06-10 14:01] AyAyRon-P commented on #678
@trenchfloat

Did you get what you needed? I messaged you a copy to your discord. Let me know if you need anything else.

[2018-06-10 15:27] BelovedAquila commented on #653
Alright, thank you very much.

Alright, will do that.

[2018-06-10 18:46] ICA3DaR5 commented on #753
@jimscarver I am voting as well, thanks jim!!!

[2018-06-10 19:45] jeremybeal11 commented on #477
i am unable to submit a reward. i have an error screen stating: "uncaught exception was thrown"

![rewards error screen](https://user-images.githubusercontent.com/23203842/41205640-3aff4168-6cc5-11e8-81a7-77f0dfcef84e.png)

[2018-06-10 22:11] lapin7 commented on #678
They need some reading time.

[2018-06-10 22:57] ResonanceXX commented on #197
Jigar Modi is an app marketing strategist with a wonderful list on Medium, published by Hacker Noon - [Top 10 Blockchain companies](https://hackernoon.com/top-10-blockchain-technology-companies-cc1666c9da7e) Talks with him to have RChain listed with a small writeup and supporting links have been initiated.

[2018-06-10 22:58] ResonanceXX commented on #197
And also cold texting - or so - some Blockchain developer specific threads on Quora, spreading the word to a more specific audience.

[2018-06-11 04:40] yuhuanmocmoc commented on #761
all the translation Medium blogs have been uploaded to [Google doc](https://drive.google.com/drive/folders/1SoO3bcXzJt3rO1me-Kr9a-P_Kb7iD_6A).
1. [Introducing RSpace](https://drive.google.com/open?id=1ImD26UaF5LTvED7A6O2hGp68FqI2j4JS)
2. [RNode-0.2.1 integrates Rholang to the RChain Node ](https://drive.google.com/open?id=1_qvCfsqbeFyYAwdEz5TVT0pI-emCLgK1)

[2018-06-11 04:46] yuhuanmocmoc commented on #761
we have posted some of them to [Medium](https://medium.com/rchain-cooperative-china)

[2018-06-11 05:20] yuhuanmocmoc commented on #541
all the translation work have been uploaded to [google doc](https://drive.google.com/open?id=1UfGOJ6ox67zw3WBTxTKuBZ-6jBOkQyqt)

[2018-06-11 12:36] olisb opened #770 "Supporting the networking drinks at OPEN 2018 to promote Rchain"
### Benefit to RChain

This proposal is asking for some budget to support the networking drinks at the [OPEN 2018 Platform Co-ops conference](https://2018.open.coop) in London on the 26th and 27th of July.
The networking will involve 400 people from across the UK who are specifically interested in co-ops and using technology to help grow the co-op sector and to connect more members. The benefit to

[2018-06-11 14:14] zsluedem commented on #425
https://drive.google.com/drive/folders/1q6njv5uzIRkGX9WxupbFTaxlZlqD2MFw
Finally get to the man.The work is done here.

[2018-06-11 15:37] jimscarver commented on #770
Another member I know will be there, John Grant. A number of folks I know from the digital life collective who have been collaborating with us on self-sovereign technology and identity will be there also. Hopefully we can make members of more of them linking stronger our cooperation. They are also a sponsor.

I think the exposure we get becoming a sponsor is well worth it.

[2018-06-11 18:47] ResonanceXX commented on #770
Along with any meaningful gesture that does not directly reveal itself as Marketing. Using a Proximity marketing style, slightly understated gestures like this - are heart warmers - and I figure some Niche with plenty of developers having the brand name around is good.
A sort of Micro-community marketing also, and the feel good effects, warms them up to Rchain. Maybe you could have a stand with th

[2018-06-11 18:50] JoshOrndorff commented on #755
I'd love to get involved here. I don't know any languages well enough to translate, but I do have lots of highschool CS teaching experience and would love to help contribute to tutorial, lesson plans, more detailed explanations etc.

This could actually also benefit Greg and his audience as well if instead of detouring to cover topics like outer product, he could say he'll defer that to us.

Regar

[2018-06-11 18:55] Jake-Gillberg commented on #755
I have been trying to organize an effort here: https://github.com/RChain-Collaborative-Learning/Welcome , and am willing to accept contributions with the agreement of a price to be payed, most likely and immediately by the bounty system, but by other methods of revenue generation as well: https://github.com/glenbraun/CollaborativeLicense/ . It would be great if these efforts are combined.

[2018-06-11 19:00] David405 commented on #767
@dckc @MParliker, how does one find the development work?

[2018-06-11 19:39] JoshOrndorff commented on #755
RChain-Collaborative-Learning is a wonderful project. I've contributed a little, and learned a lot. It really would be nice to see the efforts merged.

[2018-06-11 23:56] ResonanceXX commented on #197
http://qr.ae/TUpvy7

[2018-06-12 00:14] jasoncruzzy commented on #770
Nice work, a very good concept.....I'm also planning on promoting RChain using an event like this in my country.

[2018-06-12 02:12] ResonanceXX commented on #197
http://qr.ae/TUpvA9

[2018-06-12 05:44] allancto commented on #762
Here's some work i just started on today's DoCC video. I got inspired because of a question @ddayan asked about the purpose of the course. I also annotated the first 1/4 of the youtube transcript a bit. I'd like your feedback, do these two documents add value for you when you watch the video? If so i've succeeded! (if not I'll try again). Even better, you can make suggestions or write another intr

[2018-06-12 08:47] zsluedem commented on #750
@feichashao was one of the students in  University of Science and technology of China who is now working in [Redhat](https://www.redhat.com/en). He helped me with the bbs posting. Although the bbs posting has been already 4 days ago, not really too many feedbacks. Trying to explore other ways.

[2018-06-12 13:28] dckc commented on #767
There's a link form developer.rchain.coop

On Mon, Jun 11, 2018, 3:00 PM David Asamonye <notifications@github.com>
wrote:

[2018-06-12 17:59] Phistr90 commented on #760
x-post from my discord post:

I see and understand your concerns and your intentions @jimscarver jimscarver  and I
assume that everyone in the RChain community wants to see the
conversion happening as smooth as possible happen without anyone left
out.

Unfortuntaley I either dont understand your proposed mechaism for
conversion correctly or in the case I do it provides IMO a huge attack
surface wh

[2018-06-12 23:00] allancto commented on #755
@Jake-Gillberg @JoshOrndorff this is awesome, I posted the links above under "resources", @zsluedem @David405 @golovach-ivan @tcezi please check them out. WAIT-- @golovach-ivan has ALREADY been checking them out and POSTING questions in the Collaborative Learning forum 👍
https://groups.google.com/forum/#!forum/rchain-collaborative-learning/join

[2018-06-12 23:09] allancto opened #771 "Rewards voting system (“Elders system”), *dogfood version*"
**Description, including links to work already done**
The “Elders” voting system is the outgrowth of a “cooperation at scale” discussion of how to make our current voting system more accessible, transparent, fair, and resistant to attack. It is a proposed method of voting rewards to contributors to completed projects for bounty rewards. In this proposed voting model, each member of our Cooperative

[2018-06-13 10:19] #758 closed

[2018-06-13 10:22] Preshcode opened #772 "The Importance of Rchain Meetups and guidelines to organizing one"
Benefit to RChain

Networking in the digital age is very important but always being reminded that in person networking is still a key to success. I created an article that explains why Rchain Meetups are essential for the growth of the platform and also gave guidelines on how to organize a successful Rchain meetup.

Budget and Objective

Please make the issue SMART: Specific, Measurable, Achievabl

[2018-06-13 10:49] Preshcode commented on #772
Link to the article <a href="http://www.nairaland.com/4452510/rchain-community#68440266>link</a>

[2018-06-13 10:52] azazime commented on #750
@zsluedem what's your personal email so we can discuss on collaborating

[2018-06-13 10:53] Preshcode commented on #772
Link to the article <a href="http://www.nairaland.com/4452510/rchain-community#68440266">link</a>

[2018-06-13 11:14] Tonyprisca13 opened #773 "20180613 RChain Active Member Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [ ] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).

- [ ]  Any key discussion poin

[2018-06-13 13:11] dckc commented on #770
I don't this was closed on purpose.

[2018-06-13 14:06] zsluedem commented on #750
@azazime Do you have a discord? Find me on will#8671

[2018-06-13 14:18] olisb commented on #770
Thanks @dckc  - I was wondering why it got closed! The Rchain logo will be printed on the event lanyards and people will have to show their lanyard to get a free drink so the Rchain brand will be very visible - we will also place other Rchain branded info around the space where the drinks take place.

[2018-06-13 14:33] nonnykul commented on #772
That's a good write up

[2018-06-13 17:04] David405 commented on #755
@allancto I have checked it out and joined the group

[2018-06-13 17:10] jasoncruzzy commented on #772
Nice one comprehensive, i will post it on Reddit(RChain_Africa)

[2018-06-13 17:50] ResonanceXX commented on #197
http://qr.ae/TUpK09

[2018-06-13 18:15] ResonanceXX commented on #197
![screenshot-2018-6-13 home - quora](https://user-images.githubusercontent.com/34219332/41369904-1dd4ec84-6f3e-11e8-90a7-e4f2734b96c9.png)

[2018-06-13 18:53] ICA3DaR5 commented on #753
Voting $6000 on this.

[2018-06-13 19:52] Valentine-Mario commented on #755
Currently I and @david405 are working on a Google document to introduce newbies to Rspace and rholang. How can we add our contributions to this main document??? Because our guide is mainly targeted at African developers.

[2018-06-13 19:59] allancto commented on #755
@Valentine-Mario perhaps create a gdocs folder for this and other documents or a github repo and share the link the folder or repo?

[2018-06-13 20:03] Valentine-Mario commented on #755
Okay that would be a good idea.

[2018-06-13 20:07] Valentine-Mario commented on #755
The project ought to last for about 2-3 weeks. When the course work is ready, we would share it to the community.

[2018-06-13 23:12] barneycinnamon commented on #494
As far as charging transaction fees and wondering if the network would be forked, one option would be to have a value-add service of operating machines for lazy validators. If you stake your REV on your own system, running the node software implementation of your choice, you keep the fees/rewards. If you stake your REV on a Coop system, you pay a cut to the Coop.

[2018-06-14 01:39] ResonanceXX commented on #197
http://qr.ae/TUpsMh

[2018-06-14 01:52] ResonanceXX commented on #197
http://qr.ae/TUpsMJ

[2018-06-14 02:28] ResonanceXX commented on #197
http://qr.ae/TUps58

[2018-06-14 02:32] ResonanceXX commented on #197
http://qr.ae/TUps5h

[2018-06-14 06:40] azazime commented on #659
This is the published link to this document on Reddit👇

https://www.reddit.com/user/RChain_Africa/comments/8qw689/all_you_need_to_know_about_rchain/?utm_source=reddit-android

[2018-06-14 10:30] philipandri002 commented on #771
@allancto even though this idea seem good  and doable. I would have asked that we build on the already existing trustmetric.

I agree that there are some little challenges with the TrustMetric but it is still a beautiful and very smart platform that instead creating another we should all join hands and perfect the TrustMetric.

There is no guarantee that this Elder System won't have its own lapses

[2018-06-14 11:03] Murphy6 commented on #699
@pmoorman thanks for your time .. But this issue is basically set to grow African on Instagram and educate them about the community. This platform can also be used as a medium to share other people's issues from the platform.

[2018-06-14 11:54] qelentium commented on #755
I want to be in group #3 with @golovach-ivan

[2018-06-14 17:29] allancto commented on #771
Frank, thanks for your comment. Let me state right here at the beginning I agree with your statement: the coop needs to appreciate @dckc  for putting up such a brilliant idea with the TrustMetric platform. The Elders system is a very similar, weighted voting system. The main differences are

1. Name: "trust metric" vs "Elders". These are quite similar, but not exactly.

2. Participation: In the El

[2018-06-14 18:11] alex-coinfund commented on #760
Having read the document and the above discussion I propose the following much simplified approach.

RHOC2REV conversion proceeds in two stages.

Stage 1. Before RChain is launched. There is a smart contract on Ethereum launched by the Coop that will accept RHOCs. RHOC holders who send RHOCs to the contract will be included in the root of the RChain and their REV will appear in their wallet (same

[2018-06-15 02:44] allancto commented on #771
@philipandri002 here's why I believe why you, and our Cooperative, should place a high value on this project. This introduction was written by @dckc and others, many of whom have been with RChain since the beginning and will certainly be considered "Elders".
https://github.com/rchain/bounties/blob/master/README.md

Some important things that new RAMs should be aware of:
- Be a self-starter :: beca

[2018-06-15 07:18] #773 closed

[2018-06-15 08:14] pmoorman opened #774 "Decision on the need (or lack thereof) for translations/localisation/regionalisation"
As guides for marketing @kitblake @AyAyRon-P and myself found out that it's incredibly hard to allocate budget to proposed tasks or tactics when they don't clearly fit into a larger kind of strategy.

One area in particular, is all the work that's being done for localisation & regionalisation: making RChain available in different languages, for different geographic regions, etc.

### Goal

As a gu

[2018-06-15 08:21] pmoorman commented on #774
To start things off...

### My personal take on this:

- A cool part of RChain is the community, and how international it is. It's cool that we work together with Asians, Africans, Europeans and Americans alike.

- We shouldn't push people into region-specific channels. That would mean all Dutch people hang out on the Dutch forum, all French on the French forum, etc.  That will cannibalise on the

[2018-06-15 08:46] pmoorman opened #775 "Question: What's a Rholang developer worth?"
As marketing guides, we ran repeatedly into the issue of how to value certain (marketing) work without any top-level directions on what constitutes "value" to the RChain coop.

I think that we can all agree that the goal of marketing is —ultimately— to get Rholang developers on board, and to get DApps built on the RChain infrastructure.

### Goal

Guesstimate the worth (as expressed in $$$) of the

[2018-06-15 08:56] pmoorman opened #776 "Set up a Competitive Intelligence WG"
### SMART Goal

Creation of a Competitive Intelligence working group (or similar structure) to organize CI gathering and processing for RChain.

###  Status

- The WG is formed, and composed of the following 5 people: Dror D., Jeremy B., Jonathan K., Patrick M., and myself.

- We've had our first meeting, this Monday

- _More status updates will follow here... it's a bit early to call this a succe

[2018-06-15 09:38] jasoncruzzy commented on #774
I suggest we support Option(strategy 1 and 2) non should be left but I will elaborate more on Regional marketing Reasons;
   Regional marketing is also effective, because those familiar with the regions and having a good knowledge of what is most effective for each region for on boarding new developers,,"As local media has a closer relationship with its audience, people tend to trust it. If you ca

[2018-06-15 13:39] jimscarver commented on #774
Planting seeds in virgin markets before our competition takes hold bears fruit in the long term. There are many benefit to global marketing](https://www.quora.com/What-are-the-benefits-of-international-marketing). There is little benefit to leaving our rhoc treasury idle when it might be invested in the future of rchain. A focus on the short term is not necessary and thus undesirable. Getting rhoc

[2018-06-15 15:14] dckc commented on #775
Please give examples of tasks where this is a problem.("repeatedly")

[2018-06-15 15:20] dckc commented on #776
I sure wish you would create specific issues and generalize later. What does "getting the WG going" mean? Meeting for the sake of meeting?

[2018-06-15 16:48] pmoorman commented on #776
Hopefully not!

The first effort was getting a group of people together that want to help with this, and working out how to organize things between the coop, the marketing org, and the bounty system. Credit to @patrick727 and @jonathan (what's his Github handle?!) for helping with that.

We now have a place to put all the stakeholders together, we have an inventory of what's actually needed, and w

[2018-06-15 16:55] pmoorman commented on #775
Almost every marketing task suffers from this.

If issue X brings us 10 new Rholang developers but I don't know what a Rholang developer is worth.... then how can I judge the value that the Coop has received due to the work (and thus the worth of the issue)?

Examples could be (for instance):

- #197
- #750
- #739
- #669
- and honestly almost every issue with the goal to "tell people about RChain"

[2018-06-15 17:01] jasoncruzzy commented on #754
@pmoorman collaborated with @patrick727 on the 'proposal' for SEO. He considers the #754 as a very good idea and open for consideration. @pmoorman knowing exactly what we want to produce, I will request you read the google docs(proposal), Thanks 👉 https://docs.google.com/document/d/1Hxpxduf6dEgESOGhdPtI5kD3y1xBJVhGSnFvfi_7nMw/edit?usp=drivesdk

[2018-06-15 17:58] philipandri002 commented on #771
@allancto! Like I earlier stated the Elders  system sounds nice and doable my only concern which was expressed above.

Going through all that you have said I believe it is a great ideal too just like the Trust metric to bring in some level of decency, sincerity and decorum to the system.

Now my second concern is, how do we rate one to Bevan elder and another a beginner.

From the brief you said t

[2018-06-15 18:01] philipandri002 commented on #771
@allancto! Like I earlier stated the Elders  system sounds nice and doable my only concern which was expressed above.

Going through all that you have said I believe it is a great ideal too just like the Trust metric to bring in some level of decency, sincerity and decorum to the system.

Now my second concern is, how do we rate one to Bevan elder and another a beginner.

From the brief you said t

[2018-06-15 18:55] jimscarver commented on #770
Sounds great Oli. I added [my vote](https://rewards.rchain.coop/index.php?-action=related_records_list&-related-record-id=issue%2FBudgetVotes%3Fnum%3D770%26BudgetVotes%253A%253Apay_period%3D2018-05-01%26BudgetVotes%253A%253Aissue_num%3D770%26BudgetVotes%253A%253Avoter%3DOjimadu&-table=issue&num=%3D770&-ui-root=main-content&-sort=num+desc&-cursor=0&-skip=0&-limit=30&-mode=list&-relationship=BudgetV

[2018-06-15 21:05] philipandri002 commented on #774
First I would like to support@jasoncruzzy &@jimscarver. Marketing as a major business tool for growth is very important and also very expensive. To penetrate into peoples mind and capture their attention takes a lot of work and strategy.

Marketing for either company's whether for new products or existing product has always been strategy and very expensive too.

The essence of regional marketing a

[2018-06-15 21:11] allancto commented on #771
@philipandri002  yes! another good question, who becomes weighted as an elder? In the future this process will become more dynamic and may require an evolution to a next generation voting system (which might involve tokens to signify experience, trust and so on). For our first iteration the process is quite ad-hoc but hopefully you will find it reasonable. Currently there are ~1500 members, so 5/1

[2018-06-15 21:51] dckc commented on #775
The marketing plan has KPIs and costs by section, yes?

[2018-06-15 21:56] dckc commented on #775
Yes... Section 4 goals lists several and refers to an appendix for a full list.

[2018-06-15 22:04] dckc commented on #776
Where? What did I miss?

A specific issue would have, for example,  Cordano in the title.

p.s. Jonathan is @ottermagically IIRC

[2018-06-15 22:08] dckc commented on #772
How is this different from https://github.com/rchain/bounties/wiki/local-meetup-program:-summary ?

There should at least be links in both directions.

[2018-06-16 07:28] Ojimadu commented on #774
Am in support of "focusing on the core" but there's a need to support localization to a certain extent; when there's an audience. Most translations have little or no audience, there needs to more organization around it like what documents to translate and into what languages.
Same goes for social media channels, these channels are good to organize people of specific regions and countries for now I

[2018-06-16 07:33] nonnykul commented on #772
The aim is to promote the writeup on different platforms.

[2018-06-16 07:46] Ojimadu commented on #770
@olisb I like the idea you're proposing. I'll add a vote. Until when is the sponsorship open? I ask because this is for the pay period 201806 which would likely be paid for by mid or late July. I'd like to know if you can fund the sponsorship from your side and claim the rewards later in July that'll be great.

[2018-06-16 09:15] ibesoft11 commented on #775
@pmoorman, I agree with you. For example I am a .Net/JavaScript software developer that joined the RChain community but I am yet to understand what I stand to get by becoming a Rholang developer on the platform. I think it will be helpful if people like me are given lighting talks on the merits of becoming Rholang devs. Thank you
cc @Valentine-Mario @ian-bloom

[2018-06-16 09:30] Valentine-Mario commented on #775
@pmoorman, there should also be a way to measure such input either through the on boarding video interview or through words of mouth.
@ibesoft11, rholang is the official language of the RChain community community and it is open source which means anybody can contribute. The bounty program (which many believe to be the worth of being a rholang developer) is actually just an experimental process to

[2018-06-16 09:30] ibesoft11 commented on #755
@allancto hi, I am also helping @Valentine-Mario and @David405  on the document guide to introduce newbies to Rholang and RSpace. I have experience developing tutorial guides for African developers. I want to be in group #2.
cc @Valentine-Mario @David405 @nonnykul

[2018-06-16 09:54] Valentine-Mario commented on #774
Focusing on the core would only limit the outreach/popularity the community needs. Let's take some frameworks likes React JS, Vue JS, etc they only became popular due to meetups which involved localization. Localization is a very vital marketing tool that many big guns in the tech industry have exploited. And further still, some of these documents for on boarding new members sound quite technical

[2018-06-16 13:06] pmoorman commented on #776
**Where** => in the meeting minutes, but I'll have to check with everyone whether we can publish them. Will check that next call (which is on Tuesday), and then update here.

**As for specificity:** I'll try my best to spin work like this into issues that all RAMs can work on, but it's best if we can just get started with 5 people to define the process, then invite everyone to collaborate once we

[2018-06-16 13:17] pmoorman commented on #775
@dckc yes the marketing plan has (rough) numbers on what to spend on certain groups of tasks, but — as a marketing guide — I'm looking for much more low-level numbers.

Imagine the following: someone comes to us (= marketing guides) and says _"hey, I told my friend about RChain, and he happens to be an Elixer/Haskell (functional) developer, and he's now writing his first Rholang contract."_

What'

[2018-06-16 13:49] pmoorman commented on #774
UPDATE: had a call yesterday with @allancto @ICA3DaR5 and @michaelizer regarding this topic. A few (partial) outcomes that I think are worth sharing:

### Discourage regional entities that encourage siloing of members.

Consider the following scenario:

- I create an issue to open a "RChain Holland" Discord channel. The purpose is to have a Dutch discussion forum.

- In here @lapin7 , @kitblake ,

[2018-06-16 13:58] pmoorman commented on #754
awesome, great work @jasoncruzzy

[2018-06-16 21:05] jimscarver commented on #770
It needs one more [vote](https://rewards.rchain.coop/index.php?-action=related_records_list&-related-record-id=issue%2FBudgetVotes%3Fnum%3D770%26BudgetVotes%253A%253Apay_period%3D2018-05-01%26BudgetVotes%253A%253Aissue_num%3D770%26BudgetVotes%253A%253Avoter%3DOjimadu&-table=issue&num=%3D770&-ui-root=main-content&-sort=num+desc&-cursor=0&-skip=0&-limit=30&-mode=list&-relationship=BudgetVotes) (3) t

[2018-06-16 22:14] jimscarver commented on #770
We have 2 votes a $1500 budget now, but also an issue, we usually pay an rchain member.

Is there a company to be paid? @lapin7 can we pay a company?

[2018-06-17 00:52] AyAyRon-P commented on #774
After reading all of the comments and feedback there is something to be said about both sides of the coin.

There are a multitude of regional activities as @pmoorman mentioned above particularly with the meetups that add a great deal of localization value. What doesn't add value to me is the translation into every language as I had openly stated before and mentioned in #483.

These questions immed

[2018-06-17 04:40] azazime commented on #774
Well, having read about the different perspectives people have on option 1 & 2 I would like to start by saying everybody made a valid point and its really important this debate is coming up now.

Firstly, regional marketing in itself doesn't affect the global goal of Rchain negatively and should be encouraged because I believe Rchain members in various communities around the world should know how

[2018-06-17 08:04] Preshcode commented on #772
They are quite different @dckc. While the local Meetup program summary only listed the materials, prerequisites, and budget for Meetup, this article I wrote went ahead to discuss the essence of Rchain Meetups in the growth of Rchain tech globally, Precise guidelines to Organizing the Meetups and finally examples of Blockchain technology meetup organizers and their experiences.
But since both conta

[2018-06-17 09:14] ResonanceXX commented on #770
I don't know if votes from non trusted members like mine counts.

I have been very dismissive of the voting app for a while now. Count on my giving this a try at some time later today.

[2018-06-17 09:25] ResonanceXX opened #777 "Medium Post: RCHAIN’s: HELLO WORLD — TO DEVELOPERS."
### Benefit to RChain

*An article document to complement the efforts at reaching a more targeted developer community:*

*Replace these 3 lines with your answer*

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[Guides decide?]**
_Estimated Timeline Required to Complete the Task:_ **[2 days]**
_How will w

[2018-06-17 10:57] kitblake commented on #774
This has been a fruitful discussion. It's so broad that I don't think we can draw conclusions (so here I'm with @allancto). You can see it already in the title: translations/localisation/regionalization. Wow. But here are my two Satoshis:

Translations
I think @ojimadu is correct when he says: "Most translations have little or no audience". Imho translation is a decision that should by made by nat

[2018-06-17 12:10] jimscarver commented on #770
@ResonanceXX you have been certified. Due to the current limit on apprentices I am not sure your vote will count. I added my certification so I think it will. I do not like the fact that this can push someone who had a vote before to having their voted not counted. I expect we will increase the number who can vote to help reduce the burden on guides.. We tried increasing it last month by too much

[2018-06-17 13:36] nonnykul commented on #755
Hey guys, check out [A brief Introduction to the design of computational calculus](https://docs.google.com/document/d/1ic7yCa37Jjx9l6UBpoFJf8o6CZzmEwtRBvfUj81lLvw/edit)

cc: @allancto @jimscarver @Jake-Gillberg

[2018-06-17 13:38] qelentium commented on #755
Good job @nonnykul!

[2018-06-17 15:06] jimscarver commented on #678
Is it time to close this issue?  I think we did a pretty good job and HJ's letter to the board was near perfect but lament I did not do more.  I got caught up with rhoc2rev and failed to add to the report a justification for the reward system addressing issues like in nature and culture of the coop, how member engagement augments hiring of employees in a positive manner and support the cooperative

[2018-06-17 20:43] Viraculous commented on #743
@kaka56 you did a good work.  Amongst the conferences in the month of **July** I recommend:

[Blockchain World Conference](http://bwcevent.com/) July 11-13
[Blockbeats: Blockchain conference](https://block-beats.com/) July 19-20
[Open:2018](https://2018.open.coop/) July 26-27

Parametre for recommendation:
Expected attendance
Sponsors
partners
Locality

[2018-06-17 21:09] jasoncruzzy commented on #775
@pmoorman I agree with you on the need to add some ways to place value on any marketing issues to increase transparency and fairness.
 I think there should be no specifics(level) on boarding developers as that might stagnate the 'marketing'
 I suggest all categories of developers should be placed on same value.
 But we can work out other modalities to add value like;
1) How many developer's on boa

[2018-06-17 21:43] golovach-ivan commented on #755
I create a [little internal Scala DSL](https://github.com/golovach-ivan/Computational-Calculi/tree/master/src/main/scala/net/golovach/dcc) for building stream of all correct terms in any BNF-gramma.

Example:
* import some utils
[code]

* define types (Process, Channel) and productions (∅, Par, Lift, Input, Drop, Quote) for RHO-Calculi
[code]

* define BNF-like generators
[code]
**Thats all!**

If

[2018-06-17 23:08] dckc commented on #775
Really? I see **Social media and ads ($500K, 10K engaged followers, 1M+ reached)** in [the big plan][1]. So the haskell-to-rholang person is certainly reached ($0.50) and more likely an engaged follower ($50).

Seems to me the Marketing WG owes us an answer to this one. I guess you somewhat agree, since you assigned yourself.

[1]: https://docs.google.com/document/d/1tfoZMB7tedcsqZG6enGsCN4qR6l6AZ

[2018-06-17 23:12] ResonanceXX commented on #770
@jimscarver Thank you very much for your efforts. As I type this, I am giving a corresponding vote for this issue.
@olisb Good luck with the meeting, I honestly hope that it goes to plan.

[2018-06-18 00:32] allancto commented on #755
All: your work is awesome! Thanks @nonnykul , and @golovach-ivan !!! I found one typo in @nonnykul 's work and no bugs in @golovach-ivan , has anyone read more carefully than me?

Workgroups: @ibesoft11 I'm assigning you to that group now, if any of the other team members have opinions about that please speak up. Please begin by reading @nonnykul 's document. Also @qelentium I'm assigning you to t

[2018-06-18 13:02] dckc commented on #579
In the retrospective report (#678), the translation guides wrote:

[2018-06-18 13:04] dckc commented on #208
In the retrospective report (#678) we find:

[2018-06-18 13:09] dckc commented on #775
Perhaps this section of the retrospective report (#678) is the genesis of this issue?

If so, in the future, please note that sort of context when opening the issue.

[2018-06-18 13:13] dckc commented on #678
@lapin7 can you get us a pointer to the minutes of the board meeting? Or would you like to summarize it?

@jimscarver writes:

What letter is that? Pointer?

Are all the follow-up items discovered in preparing and delivering the report captured in other open issues? For development, they are. I just reviewed the other areas and updated a few issues to match.

I'm inclined to keep this open until w

[2018-06-18 13:53] dckc commented on #563
I fixed the computation of `RHOC` to use `usd / rate` rather than `usd * rate` and checked it in:

 - `d731413` invoice_summary - reward by worker, pay period

[2018-06-18 14:21] zsluedem commented on #750
I have talked with @rjl493456442 today. He is doing his master degree on [Zhejiang University](http://www.zju.edu.cn/english/). He is maintaining one of the Wechat official account with some other students in Zhejiang University.

He told me that there is Blockchain club in Zhejiang University. And now we are discussing some promotion plans about Rchain. Maybe more details would come up soon.

[2018-06-18 15:19] ibesoft11 commented on #775
@pmoorman I am interested, I have a lot of developers here I can help onboard to the community.
Chat me up on discord.

[2018-06-18 16:14] dckc commented on #128
looks like this was fixed Jan 31.
https://github.com/rchain/architecture-docs/commit/392535fe1355ecfe36851943c66cd1667f560852

[2018-06-18 16:14] #128 closed

[2018-06-18 16:42] jasoncruzzy commented on #770
Very sorry  I closed  this before,  it was a mistake

[2018-06-18 17:01] jasoncruzzy opened #778 "Promoting RChain on Bounty-one(Blockchain discourse web)"
Bounty-one
A place for blockchain developers and enthusiasts to talk about new ideas and build dapps together. Explore ideas, contribute to them, build the future.

Bounty-one is for blockchain developers to get together and combine their minds to create the truly exceptional!

You can find project ideas, news, learning resources and much more.

Post new ideas or questions that you want to share.

[2018-06-18 18:00] kitblake commented on #595
The Member Site has passed the review with no changes. 👍

We'd like to point the domain member.rchain.coop at what is now https://coop-member-v1.rchain.me/

In order to do that the member registration app/site will need to move to a new subdomain. The best suggestion so far is join.rchain.coop. Any better ideas?

@ian-bloom, can you guys implement these changes?
Please let us know and we'll adjust

[2018-06-18 18:08] Ojimadu commented on #595
+1 For join.rchain.coop

[2018-06-18 18:12] Andrekuipers commented on #595
Good news :)!
+1  join.rchain.coop

[2018-06-18 18:38] kitblake commented on #735
Yesterday we had somebody PMing users with spam, including @ddayan who reported it in the group. Then the spammer left and returned under a new name with @ddayan's avatar. So If you're dubious about a user, inspect the avatar. If the old avatar is obviously a different person, ban.

[2018-06-18 18:40] kitblake commented on #735
The main group just passed 2500 members.

[2018-06-18 19:34] dckc commented on #427
or perhaps TinySES https://github.com/Agoric/TinySES

[2018-06-18 21:06] dckc commented on #776
I look forward to those meeting minutes -- or at least the inventory of what's actually needed.

Meanwhile, while working on arch doc review / revision today, I ran across the [comparison of blockchains][1] which looks like it could use some love. Doesn't mention REV as a protocol token, for example.

[1]: http://arch-doc.rchain.coop/en/latest/introduction/comparison-of-blockchains.html

[2018-06-18 21:21] jasoncruzzy commented on #704
@JimsCarver @azazime so far we have made significant progress:~RChain Reddit now has 40followers and we have made over 19post to update our followers regularly

[2018-06-18 23:39] Pionelle commented on #755
@allancto Hi, I worked on some issues in the translation label for the coop. I also could  be a part of a group working on documents,I can also do translations

[2018-06-19 00:31] allancto commented on #755
@Pionelle that sounds awesome. Please contact @nonnykul or @David405 . I saw the work you started on DoCC1, have you watched the video? I'll make some notes about what's still missing from those videos, hopefully those may be of use to others. Thanks!! -Allan

[2018-06-19 09:05] lapin7 commented on #678
The board meeting of Friday, June 15, 2018.
The [201804 and 201805 Bounty Progress Report](https://docs.google.com/document/d/18TfJWqAREEyr0wQdGb_UOxrFVk4KOigdFgpf7bV2ZL8/edit#heading=h.94qzgjy9eyk0) was received, but the objectives and evaluation criteria were missing. Greg @leithaus  will formulate the objectives and evaluation criteria of the bounty program and in the month of June we need to i

[2018-06-19 09:10] jasoncruzzy commented on #775
@pmoorman you should be very careful with this,, as this might lead to gross abuse in the nearest future and some RAM members taking advantage of this. Have you considered some of the challenges with what you are proposing?
1)  How do u intend to verify the authenticity(category) of  each new developer on boarded
2)  Do you intend to 'interview' new RAM?, if yes then its more like employing develo

[2018-06-19 09:29] pmoorman commented on #775
@jasoncruzzy thanks for thinking along!

In short:

1. I don't know exactly how we can verify them. That's a next problem to sort out. I agree with you that this is important to think about next!

2. I think we should assume that each RAM falls roughly in the $50 category, _unless we can prove otherwise_. For instance: if someone has 10+ years experience in governance... that's probably worth some

[2018-06-19 09:37] pmoorman opened #779 "Develop a "meetup in a box""
The big marketing plan calls for developing a "meetup in a box" to make it as easy as possible for everyone to organize local meetups. Think of it as a checklist or playbook of sorts, to make meetups run smoothly.

Since the bounty program is incredibly locally active (see also the discussions on localisation/regionalisation we've recently had), I suggest it's the right place to develop such work.

[2018-06-19 09:44] #745 closed

[2018-06-19 09:48] pmoorman opened #780 "Develop website information architecture"
The marketing organisation has decided that — following the strategic branding work done with Girvin — the website needs a redesign and restructuring.

@PatrickM727 asked me to create an information architecture for the new website.

The (DRAFT) document can be found here:  https://docs.google.com/document/d/1dPMLkoXWnHZVZQ41eGNxlOF17g56eVRHaa1x1xlULyE/edit?usp=sharing

Once we have agreement on t

[2018-06-19 09:52] zsluedem commented on #779
China has set up the first meetup before #724. @wangjia184 is one of the presenters in the meetups. He made a very good [technique slides](https://docs.google.com/presentation/d/122Y6eVp2c_pXT_ztRkjvyJgXsSR7WJ5jT15K9DGWtko/edit) although it's in Chinese.

@David405 @Eknir try to post the materials you use for the meetups and then we can sort out
something useful for meetups.

[2018-06-19 10:09] zsluedem commented on #779
I think we can set up some basic topics about Rchain which we can present in the meetups and attract developers or contributors.

Some topics which some up in my mind is:
1. Rchain bounty program
2. Rholang Introduction
3. Rchain's Namespace
4. Reflective-Venture on the dapp development investment(I am not sure about it . Because Shahankhoshafian from discord has told me about that)

We can sort o

[2018-06-19 11:05] jasoncruzzy commented on #775
@pmoorman nice idea but I still think if we put value on each new RAM($50) I think🤔 it might still be abused by some members we might just have an influx of RNAM(RChain non active members) coming in just to add up value for members taking advantage of the system.
  I suggest we should only put value on budget for different categories of marketing, hence we have a good bounty system its already a g

[2018-06-19 11:07] David405 commented on #779
@zsluedem every material for the meet-up will be posted as soon as the video is out, an issue will be created to review the meet-up.

@pmoorman I think we need to collate documents like (this) [https://github.com/rchain/bounties/wiki/local-meetup-program:-summary] and others to serve as guides and then come up with a more elaborate standard for organizing an RChain local meetup.

Also,  we have to

[2018-06-19 11:08] pmoorman commented on #692
### Short update

Today I created:

1. An issue on creating a "meetup-in-a-box" => https://github.com/rchain/bounties/issues/779
2. An issue on creating website information architecture, with more tasks to come concerning website => https://github.com/rchain/bounties/issues/780

I spoke with Dan yesterday about this topic, today will speak with @makys about what we can do regarding onboarding, and

[2018-06-19 11:18] jasoncruzzy commented on #780
Very nice idea, the web actually needs a review. Some features needs to added like @pmoorman mentioned

[2018-06-19 11:32] nonnykul commented on #779
@pmoorman, I believe all meetup should be geared towards attaining the marketing plan, more research work should be done to attain a 'standard' for meetups.

Check [this] (https://github.com/rchain/bounties/issues/772) more of a start to drive this issue.

[2018-06-19 11:34] nonnykul commented on #779
@pmoorman, I believe all meetup should be geared towards attaining the marketing plan, more research work should be done to attain a 'standard' for meetups.

Check https://github.com/rchain/bounties/issues/772 more of a start to drive this issue.

[2018-06-19 11:36] lopezi commented on #780
would be glad to help on the frontend implementation

[2018-06-19 16:59] Ojimadu commented on #780
@pmoorman writes

This should be the focus for now. A one-pager would be easier to navigate and flesh out later espescially on the homepage. Made some more comments in the doc.

[2018-06-19 17:04] Ojimadu commented on #678
@lapin7 By "task force" you mean the Task approval committee?  We're 2/3 into June already.

[2018-06-19 17:47] lopezi commented on #780
I think we are getting to a point where simplification is not the right adjective. Let's do what's need to be done. With the proximity of some main deliveries there's no need to be shy... We'll do it right, or I don't do it at all. Looking forward to see what the branding agency comes up with

[2018-06-19 23:11] dckc commented on #616
@deannald I hope you'll accept the nomination. I look forward to talking with you about it.

In a meeting, today, the [EC][1] agreed:

I make a [revision of Task Approval][2] to match.

@PatrickM727 I think you don't get much choice. :)

[1]: https://www.gov.rchain.coop/executive-committee
[2]: https://github.com/rchain/bounties/wiki/Task-Approval/_compare/0008b8f3b610589839f97d3014466113e082b4f4.

[2018-06-19 23:19] Pionelle commented on #755
@allancto Yes I did watch the video, its a very long one, but I am hopeful to get it done. @nonnykul and @David405 I sent some messages to you too.

[2018-06-19 23:28] Pionelle commented on #775
There is not too much importance contributed to the cooperative, when we have to rely on people's pedigree to clearly quantify their value addition to the team.
More emphasis to me, could be placed on the work done, as seen and felt. The CV and or experiences of individuals are important and like @Ojimadu said above, the proven metrics on the work done and accessed should serve as important pointe

[2018-06-20 00:02] deannald commented on #616
@dckc Yep, I'm down with it. 👍 We'll talk more on Friday and discuss what next steps are involved. @patrick727 Do you want to be included in this call (11 am PDT, Friday)?

[2018-06-20 01:34] ICA3DaR5 commented on #774
I completely agree with everything @jimscarver said in his above comments!

[2018-06-20 06:44] Ojimadu commented on #780
Yes, let's do what needs to be done but what needs to be done has to start from somewhere. The one pager would be like an  MVP from there things can move up.

[2018-06-20 07:45] zsluedem commented on #779
Also, @dckc has made [good slides about Rchain bounty program](https://docs.google.com/presentation/d/1B2Vu8o3ACwruY6HY1ayXRQ4qkNKsMy4hdbOdxrCHI2o/edit) for the Boulder Dev con #641 .  This is very helpful material,too.

[2018-06-20 07:49] casanwugo commented on #778
Good one @Jasoncruzzy,, i was able to create an account on the bountyone web space. Hopefully, will be able to follow through with what's going on there. Nice work you put!

[2018-06-20 08:29] azazime commented on #780
@pmoorman I would appreciate if the methods of payment are looked into, possibly adding Debit-card payment and others...

[2018-06-20 08:31] azazime commented on #659
This is the published link to this document on instagram👇

https://instagram.com/p/BkLkgmBDe1k/

[2018-06-20 09:05] azazime commented on #733
Published link of document on medium👇

https://medium.com/@andrewasamonye/rchain-as-it-relates-to-life-of-members-8be21385535e

[2018-06-20 09:16] azazime commented on #733
Published link of document on Reddit👇

https://www.reddit.com/user/RChain_Africa/comments/8sgs4i/rchain_how_the_bounty_system_works/?utm_source=reddit-android

[2018-06-20 10:45] philipandri002 opened #781 "Hosting RChain on AMAfeed.com"
### Benefit to RChain

*What is AMAfeed?

AMAfeed is a platform for knowledge exchange in an Ask Me Anything format. We make it easy for you to present yourself, your story, your expertise, project or a topic you are interested in and engage the audience in participating in a discussion about it.

Create new connections
Engage your existing following
Promote your service, expertise, project

It bo

[2018-06-20 11:17] ResonanceXX commented on #197
![screenshot-2018-6-20 stats - quora](https://user-images.githubusercontent.com/34219332/41655107-b80643d0-7483-11e8-95e7-5f11fd1a9f1c.png)

[2018-06-20 12:39] lapin7 commented on #616
@deannald @dckc I would like to be invited for this call of the Task Approval Committee.

[2018-06-20 13:36] jimscarver commented on #704
Nice work! Be sure to coordinate with other rchain africa initiatives.

[2018-06-20 13:58] jasoncruzzy commented on #704
@jimscarver thanks, I have/will be updating it thrice a week..

On Jun 20, 2018 14:36, "jimscarver" <notifications@github.com> wrote:

[2018-06-20 15:46] Tonyprisca13 opened #782 "20180620 RChain Active Member Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [ ] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).

- [ ]  Any key discussion poin

[2018-06-20 16:47] allancto commented on #755
@golovach-ivan are you available for the RAM meeting today? You've done a lot of work on this issue which I'd like to highlight but i don't know your discord handle. I'm @allanc on discord if you need a link to RAM. Thanks! -@allancto

[2018-06-20 16:50] allancto commented on #755
@nonnykul can you make this document "Comment" instead of "view only"?
https://docs.google.com/document/d/1ic7yCa37Jjx9l6UBpoFJf8o6CZzmEwtRBvfUj81lLvw

[2018-06-20 18:09] nonnykul commented on #755
@allanc, I have made the document accessible for 'comment'.

[2018-06-20 19:23] lapin7 commented on #678
@Ojimadu The train is rolling. So in the mean time the executive committee appointed a Task Committee. Members are: @dckc @deannald @PatrickM727
Ask Them Anything!!!

[2018-06-20 19:35] dckc commented on #616
I don't expect the committee to have meetings... not regular ones, anyway. We'll be sure to communicate any substantive decisions thru **bounty-contract** issues.

Deanna and I happen to have a call this Friday to talk about overlap of our newly-started SOWs, including the bounty system. I guess I don't mind if you join us.

[2018-06-20 19:45] dckc opened #783 "Goals, objectives and metrics for the bounty program"
The 201805 Bounty Progress report (issue #759), had no statement of the objectives and evaluation criteria for the bounty program, which was noted as a deficiency during the board meeting Friday, June 15, 2018 (minutes not yet published).

The purpose of this issue here is to establish Goals Objectives and Metrics for the bounty system.

Note draft initiated by @allancto :
 - [Interim Report; Goal

[2018-06-20 20:43] lapin7 commented on #755
@golovach-ivan
Please read [CONTRIBUTING.MD](https://github.com/rchain/bounties/blob/master/CONTRIBUTING.md)

[2018-06-20 20:54] deannald commented on #616
@lapin7 - This meeting was going to be more of a casual call, some of it related to the bounty system. You are more than welcome to join us, but as @dckc mentioned, it's not a Task Approval Committee call, per se.

[2018-06-21 02:48] ResonanceXX commented on #197
http://qr.ae/TUpudA

[2018-06-21 03:42] ResonanceXX opened #784 "Medium Post: Simple Steps To Joining The RChain Developer Community"
### Benefit to RChain

*Steps and processes + pictorial guide to nudge potential members into signing for membership and contributing to Development*
*Get in touch with a guide (https://github.com/rchain/bounties/wiki/Bounty-Task-Guides ) to align your contribution with goals of the RChain cooperative.*
*Replace these 3 lines with your answer*
[Medium Post](https://medium.com/@kenechukwuoliaku/thr

[2018-06-21 06:39] lapin7 commented on #616
Please let me know the link to the communication channel. Zoom, Skype, Google or whatever.

[2018-06-21 07:33] kovmargo commented on #755
Hi! Could you please add me to a workgroup 3 to @golovach-Ivan?

[2018-06-21 11:39] Valentine-Mario commented on #755
This <a href="https://docs.google.com/document/d/1BxVgqE8fAsg_bNDSJyrZMfI_9hZj6jhKrBdQA30dKpg/edit#">here</a> is the unfinished documentation team 2 are working on. Hopefully it would be ready in about a week

[2018-06-21 14:38] lapin7 commented on #755
Does an installation for Mac also make sense?

[2018-06-21 16:34] Jake-Gillberg commented on #755
@Valentine-Mario What does that document have to do with the Introduction to the Design of Computational Calculi? Seems way off topic.

[2018-06-21 16:37] Valentine-Mario commented on #755
@nonykul who is also a member of our team is working on intro to computational calculi. This document is focused on intro to Rholang and Rspace

[2018-06-21 16:50] dckc opened #785 "how many apprentices, journeyers, and masters should there be?"
IOU details.

for now, see https://github.com/rchain/bounties/issues/375#issuecomment-395478315

cc @jimscarver  @lapin7

[2018-06-21 17:07] jimscarver commented on #785
It might be good to see the list of who gets in if we increase the number of apprentices to 55.
As we scale the number need to increase.
We may want to also bump up the number of journeyers and masters to see how that changes who gets in.

[2018-06-21 17:12] dckc commented on #785
In case you'd rather not wait 'till I get around to it, you should be able to see who gets in by running:

[code]

ref https://github.com/dckc/rchain-dbr/blob/master/social_coding_sync.py

[2018-06-21 17:51] barneycinnamon opened #786 "Community Involvement In Governance"
### Benefit to RChain

*We need to connect the top (Board, Officers) and the bottom (interested Coop members).*
*But how those two poles connect and what contribution is desired from each part hasn't always been clear.*
*Before there can be an effective Governance working group or committee, there needs to be some minimal shared understanding of the objectives for that group.*

Posting this stub t

[2018-06-21 18:30] pmoorman commented on #783
Spoke with @kitblake just now, and he suggested we (him and me) maybe could help with this.

[2018-06-21 18:53] dckc commented on #783
@lapin7 I just re-read your comment; which "we" needs to create metrics? Did Greg take the ball on that part too?

The first I heard of metrics for the bounty system was in the [May 9 weekly update][1] after board meeting. I'm still standing by for records of that board meeting too; I don't see them in https://github.com/rchain/board/tree/master/2018 .

[1]: https://github.com/rchain/bounties/wiki

[2018-06-21 20:24] casanwugo commented on #784
@ResonanceXX.. Nice piece you got there... But the membership fee is $20, and not 25 as stated in the content.

You might need to correct that if its a typo. Great work. Kudos.

[2018-06-21 20:29] qelentium commented on #786
I think the best way to communicate is just to speak with users in their daily work. Know what people needs, which are the problems inside of coop, improvements. For example meetings in zoom with agenda of people who wants to speak to the board or officers/board who wants to speak with RAM's

[2018-06-21 21:24] ResonanceXX commented on #784
@casanwugo I've had that fixed. Typo, caused by weary eyes. Thank you. Cheers.

[2018-06-21 21:35] ResonanceXX commented on #784
Feel free to applaud and comment on the post.

[2018-06-21 21:54] ResonanceXX commented on #197
http://qr.ae/TUpw5p

[2018-06-21 21:56] ResonanceXX commented on #665
@Kencode7 How has this gone so far?

[2018-06-22 02:36] AyAyRon-P commented on #777
Hey @ResonanceXX

Thank you for writing this. I did have a few questions and comments after reading this.

Who was the proofreader for the article?
Do you have the ability to make edits?

After reading the article, it seemed a bit vague and less developer-inclusive than anticipated since the article was addressed to developers.  The image should be at the very least show the coding for 'hello worl

[2018-06-22 04:15] zsluedem commented on #779
@wangjia184 and I have translated the [slides](https://docs.google.com/presentation/d/1EXBY6xFm6eu6VHkE9RGcxhmjz5l_xhNdzm96p9qQfDk/edit?usp=drive_web&ouid=115573881377148283245)  to English. See if anyone can give some advice.

[2018-06-22 07:39] Valentine-Mario commented on #780
I think I can also help in the front end

[2018-06-22 09:04] ResonanceXX commented on #777
@AyAyRon-P   Thank you for your inquiry.

1. I proof read, thoroughly. (And I would appreciate specifics if you'd see any 'error')
2. On the coding for 'Hello World' I chose to make the article very - non technical, Basically, potential members are first timers sometimes. And seeing that writing code is a very intensive process, selling our own language (Especially since tech/programming is tendin

[2018-06-22 09:15] lapin7 commented on #783
@dckc Yes getting the minutes correct and approved, is a cumbersome thing.

I guess it's up to the Task Approval Committee (@dckc @PatrickM727 @deannald) now to create metrics, evaluation criteria, objectives, KPI's  for the bounty system. I don't know if @leithaus comes up with objectives and criteria.

Until now the objective was:

**Do whatever you can to get RChain on the rails, according to y

[2018-06-22 11:33] #632 closed

[2018-06-22 11:41] casanwugo commented on #784
Ok. Will do.

[2018-06-22 14:50] dckc commented on #783
No, I don't see anything about metrics in the description of the Task Approval Committee. Perhaps you're asking that we take this on? I'll consider it, but without records of the board meeting, we're missing a lot of essential context. Putting something together for the 201806 pay period seems impractical.

What do you mean by that? You just wrote "Greg @leithaus will formulate the objectives and

[2018-06-22 15:05] casanwugo commented on #780
Interesting.

@pmoorman,, I would love to help out on "Creating copy & content for the website" if possible.

[2018-06-22 15:44] casanwugo commented on #779
The big marketing plan has no doubtedly initiated a great development here. But let's not forget to mention all the Pros and Cons that goes with hosting meetups.

@David405 successfully hosted a meetup recently, but backstage, we know how much time, resources, and committment was put-in to bring it to standard. Therefore, i am of the opinion that every single area involved should be combed through

[2018-06-22 16:16] deannald commented on #783
I agree with @dckc - I don't see anything about the Task Approval Committee taking on this body of work (creating metrics, etc.) nor direction on this from the Executive Committee minutes from this week.

[2018-06-22 16:27] #737 closed, assigned to gsofianidis

[2018-06-22 16:47] casanwugo commented on #774
I support Option 1 alongside @jimscarver and the others. This is because, in a business context Localization includes translation, but it also works with everything else in your content that has meaning: Pictures, colors, prices. Because these points are more subliminal, localization connects with consumers on a deeper level, improving their likelihood to buy.

For example, imagine you’re comparin

[2018-06-22 18:51] golovach-ivan commented on #764
@AyAyRon-P

yes

yes, i decided to divide work in 3 parts
1) i'll publish russian version of explanation/dictionary on habhabahb.ru until 27 Juny (without paper translation, only link to en version)
2) i'll publish on habrahabr translation of paper until 4 July
3) i'll show to RChain community explanation/dictionary for paper until 6 July
i decided to divide work in 2 posts on habrahabr because bi

[2018-06-22 20:06] lapin7 opened #787 "create short instruction videos about operational processes"
### Benefit to RChain

- less how to person to person explanations
- better impression of RChain
- faster user experience

Let's contact @kennyrowe and @deannald

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[250]**
_Estimated Timeline Required to Complete the Task:_ **[2 day]**
_How will we measure co

[2018-06-22 20:37] #708 closed

[2018-06-22 20:38] dckc commented on #616
@deannald and I had a good discussion of this, along with @lapin7 .

We presume we'll sync with @PatrickM727 before much longer.

[2018-06-22 20:38] #616 closed

[2018-06-22 21:30] dckc commented on #157
I'm reviewing my assignments... the webhook idea here is somewhat buried. I did some technical exploration, but I'm not sure where this fits in my priorities, so rather than a new bounties issue I put it in https://github.com/dckc/rchain-dbr/issues/6

[2018-06-22 21:32] dckc commented on #199
This seems to be subsumed by #755.

[2018-06-22 21:36] #261 closed

[2018-06-22 21:38] dckc commented on #458
@PatrickM727 asked that we migrate from readthedocs to developer.rchain.coop for SEO.

[2018-06-22 22:04] dckc opened #788 "smart contracts for medical research data sharing"
TODO: split this into two issues
  1. policy enforcement for clinical data repository
  2. research data sharing analog to prescription risk management (with Manu)

### Benefit to RChain

_IOU_

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.* _IOU_

_Estimated Budget of Task:_ $0 (included in my SOW)
_Estimated Timeline Required to Comp

[2018-06-23 09:20] #775 closed

[2018-06-23 12:40] philipandri002 commented on #781
**Update** of RChain Event ***

Event has started and we all ready have 171 likes and 15 comments.
You can still catch up with happen between now and tomorrow

[2018-06-23 12:58] jimscarver opened #789 "User driven rchain bounty system dashboard development"
### Benefit to RChain
The success of the rchain bounty system relies on the ability for the task committee, label guides and members to easily monitor and participate in the system. An effort was begun to build an independent user driven front end interface to the bounty system in Peer learning, work groups and open meetings #208 as an exercise in building toward a GraphQL Self sovereign front end

[2018-06-23 13:29] jimscarver commented on #471
It is time for a final review of [Results of Members Discord poll ending 5/29/2018](https://docs.google.com/document/d/1XZFEcURYVLjDHMVqlbULxhq8UqGzml5lns7W-xr4VOU/edit) document.

Outstanding are how many of the values do we propose to be coop values and how do we derive principles from these values. https://diglife.com/principles/ is a result of a similar process we did in the digital life colle

[2018-06-23 13:44] dckc commented on #786
@kennyrowe does just that on Thursdays, @qelentium . See the #boardtocoop channel.

[2018-06-23 14:41] Valentine-Mario commented on #787
This is a short video I made. Hope it helps <a href="https://drive.google.com/open?id=1gUMGeXRsmQOiXR_jPDz5YHi2klBffMLa">here</a>

[2018-06-23 14:44] jimscarver commented on #789
Engaged @cryptovideo for explainer video and started a [doc](https://docs.google.com/document/d/12IQeQ7MJNMrZ2PVMCk-_G3OuYx5EWbnHxgjvbbzRP-A/edit#).   An introduction text is needed. We made [a video](https://drive.google.com/drive/folders/0B1NGPD-lkLedb2E3UW5rM3B5UUk) going over the basic features to be a bases for the final video.

@entropee can you get a raw transcript of the video? The side ch

[2018-06-23 14:57] Cryptovideos commented on #789
Thanks for the brief and discussion Jim

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: jimscarver <notifications@github.com>
Sent: Saturday, June 23, 2018 4:56:13 PM
To: rchain/bounties
Cc: Cryptovideos; Assign
Subject: Re: [rchain/bounties] User driven rchain bounty system dashboard development (#789)

Assigned #789<https://github.com/rchain/bounties/issue

[2018-06-23 15:30] jimscarver commented on #752
It should not be easy to discredit a person. Caring for the individual is a coop ethic.  The current slashing rules seem worse than the the chinese social credit system https://www.facebook.com/NowThisFuture/videos/vb.1010847105623136/2164563946918107/?type=2&theater

[2018-06-23 20:38] akhs13 opened #790 "Translate 5 Medium blog posts to Italian"
### Benefit to RChain

Translation of the RChain Medium blog posts to other languages means good global marketing.

### Budget and Objective

_Estimated Budget of Task:_ **$[1950]**
_Estimated Timeline Required to Complete the Task:_ **[7 days]**
_How will we measure completion?_ **Post "RNode v0.4.1 introduces sending Rholang smart contracts across the network" - "RChain Weekly Update (Debrief 81

[2018-06-23 22:18] allancto commented on #789
Here's a "Help Wanted" plug. @jimscarver is a brilliant teacher of how to use tools. Members who are developers or would like to be on par with developers should learn from Jim. Jim is currently using an online developer collaboration tool called Glitch, in conjunction with live recording Zoom. Jim knows as much as anyone about developing collaborative intelligence (aka Cooperation at Scale). This

[2018-06-23 23:20] jimscarver commented on #789
Thanks Allan but I am not a great teacher. I am socially inept. I have experienced accelerated peer learning for 50+ years.  I am not up to date with the current and emerging technologies and unless we have a coach it often becomes the blind leading the blind unless a coach is present. I do bring a lot to the table for what I do know and I'd like to pass that knowledge to the next generation. I am

[2018-06-24 00:10] jimscarver commented on #786
Kenny's office hour seems like a good time to connect community engagement to related coop activities.

[2018-06-24 07:37] lapin7 commented on #786
kennyrowe office hour
Thursday, June 28
22:00 – 23:00
Weekly on Thursday
Join Zoom Meeting
https://zoom.us/j/7911989023
Description:https://zoom.us/j/7911989023
Organizer: RChain Calendar
RChain Calendar
Creator: Created by: Jim WhitescarverCreated by: Jim Whitescarver

[2018-06-24 08:38] lapin7 commented on #752
I suggest to slash per issue. Then the effects are less drastic

[2018-06-24 08:57] lapin7 commented on #783
I meant to say: @leithaus said that he would formulate objectives and criteria, but I’m not sure that he will actually do it.

[2018-06-24 08:59] Valentine-Mario commented on #787
Thanks for the feedback. I would do just that.

[2018-06-24 12:10] ResonanceXX commented on #197
http://qr.ae/TUpUCo

[2018-06-24 14:41] qelentium opened #791 "Promoting RChain on Facebook"
### Benefit to RChain

Promoting RChain on Facebook.My page have 3700 users there.Most of them are developers,designers or blockchain enthusiasts.I will write 3 articles about RChain: 1.Introduce to RChain + How to join Coop.  2.Technology + How to become developer.  3. Conclusion and why RChain is the best choice to invest.

### Budget and Objective

*Please make the issue SMART: Specific, Measur

[2018-06-24 14:49] jimscarver commented on #678
@dckc the letter from HJ accompanning the report is [here](https://youtu.be/ofi9FeoW75Q).
H J
5:16 PM Jun 14
The report has been sent on Jun 14, 23:15 CET to the board with this message:

I 'm sending you the management report of the Bounty System that covers the history from the beginning to April 2018.

May is the first month that the trust metric takes effect. The result is "slashing" a lot of

[2018-06-24 14:57] qelentium commented on #791
![proof](https://user-images.githubusercontent.com/37076124/41820288-054d44f2-77d8-11e8-86de-56c876542eef.jpg)
Proof of real number of friends

[2018-06-24 15:14] Cryptovideos commented on #787
Great initiative and idea @Valentine-Mario  - is it in English? the audio is an major issue , and yes, needs a major upgrade in look and the duration a bit long -thats my 5cents...

[2018-06-24 15:20] allancto commented on #783
@kennyrowe can we have a rough summary of what the board discussion was on Jun15 (complete minutes would be great, but summary relative to bounty will do)? @lapin7 @deannald @pmoorman @patrick727 @dckc @kitblake are you all available at 9am PDT monday june 25 to discuss objectives and metrics? @leithaus (and others) you are invited certainly as well if it fits your schedule. @lapin7 will you set u

[2018-06-24 15:53] Ojimadu commented on #740
It looks like the dev team is already working on this. Am checking up with Patrick to confirm.

[2018-06-24 16:43] deannald commented on #783
@allancto I would prefer to get some clarity and direction on who will be working on objectives, criteria and metrics before we start working on them with the group you mention above.

[2018-06-24 16:57] dckc commented on #783
I'm not available during business hours Monday. Not until Friday.

[2018-06-25 00:29] wangjia184 commented on #724
Hi @Ojimadu

I(@wangjia184) and @TiffWang received the rewards.

However,  @cmrc2018, @taobixin, @cmycaro they havent receive the rewards last month because they registered late and dont have insufficient votes.

Could you please kindly vote for them in this month?

https://rewards.rchain.coop/index.php?-table=issue&-search=China&-action=view&-submit=Search+Issue&-sort=num+desc&-cursor=7&-skip=0&-

[2018-06-25 06:29] #678 closed

[2018-06-25 06:41] dckc commented on #783
@lapin7 I just re-read your [Jun 19 comment][1]:

In what way were they missing? Why did anyone expect them in that report? That's the first mention of objectives and evaluation criteria in issue #678.

[1]: https://github.com/rchain/bounties/issues/678#issuecomment-398328976

[2018-06-25 11:51] #782 closed

[2018-06-25 13:05] pmoorman commented on #774
Hey all,

I think my aim with this issue — to get a top-level decision on what to do with regards to localisation, regionalisation & translations — was probably unattainable from the start. Because of that, I want to close off this issue now.

That said, I think it's led to valuable discussion, that helps the bounty system forward. Here's to hoping we can further converge towards a "social consens

[2018-06-25 13:05] #774 closed

[2018-06-25 13:10] pmoorman commented on #219
I suggest we close this issue, since the Executive Committee has made a decision on this matter, and is taking the lead towards further action:

From the [Exec Committee minutes](https://docs.google.com/document/d/1QSOZfzx7vU3q-towxerJscioOT5dXz2sA-AaRV65BE4/edit?usp=sharing):

[2018-06-25 13:10] #219 closed

[2018-06-25 13:12] pmoorman commented on #180
Closing this due to inactivity, and because [a Competitive Intelligence WG](https://github.com/rchain/bounties/issues/776) is taking over most of this area of concern.

[2018-06-25 13:12] #180 closed

[2018-06-25 13:13] #252 closed

[2018-06-25 13:16] pmoorman commented on #522
Closing this (and it's sibling #538), since rollout turned out to be very hard, and the marketing organisation has decided to completely overhaul the website instead.

[2018-06-25 13:16] #522 closed

[2018-06-25 13:16] #538 closed

[2018-06-25 13:19] pmoorman commented on #408
Looking at this issue again.

@dckc you said

I don't think our guiding role should be to make decisions on jingles. If anyone wants to push this jingle, maybe let's do a vote/contest somewhere?

I'll slap on the `Needs SMART-objectives` label for now, because clear next actions are missing

[2018-06-25 13:22] pmoorman commented on #277
Do we need to keep these "social media management" issues open constantly? Can we find a way to close issues, and potentially set new goals/targets for new issues when we grow certain communities?

As a marketing guide I'm not sure how to treat these issues, since there's no activity for a long time already.

I'll close for now, but feel free to re-open

[2018-06-25 13:22] #277 closed

[2018-06-25 13:30] pmoorman commented on #588
@ICA3DaR5 what's the status with this? I haven't seen you address Dan's concerns yet, and I'm not sure you intent to proceed with this.

I'll close it now (to keep the issue list sanitized), but you can reopen it once you're ready to work on it again!

[2018-06-25 13:33] #601 closed

[2018-06-25 13:36] pmoorman commented on #619
@rolandkofler how is this issue coming along?

Is a meetup in München still in the works? Did it already happen? Can we close this issue?

[2018-06-25 13:38] #712 closed

[2018-06-25 13:45] #669 closed

[2018-06-25 13:50] #700 closed

[2018-06-25 13:58] AhsanFazal opened #792 "Mobile app for exploring bounties"
### Benefit to RChain

Exploring bounties and staying up to date with them becomes way easier and accessible.

### Budget and Objective

_Estimated Budget of Task:_ **$[1400]**
_Estimated Timeline Required to Complete the Task:_ **[14 days]**
_How will we measure completion?_ **[App available for download in the Apple App store and Google Play store]**

![simulator screen shot - iphone x - 2018-06

[2018-06-25 14:00] #555 closed

[2018-06-25 16:31] dckc commented on #555
Is this done? Or wontfix?

[2018-06-25 16:35] dckc commented on #539
Do I really have to contact them individually to track this work? Can't we continue to coordinate via this issue, or at least some other shared web page?

[2018-06-25 16:39] dckc commented on #408
We did a vote. I enumerated the results above.

And I think it *is* up to the guides to clarify whether RChain wants a jingle for the weekly updates or not. At least @Patrick727 who opened the issue should say whether he still wants it.

[2018-06-25 16:40] Ojimadu commented on #724
Done.

[2018-06-25 17:20] allancto commented on #790
@akhs13 @Chris-Arv translation per se is NOT a priority for our Cooperative. Giving back to our community (opinions, local wisdom, research, development based on documents which you might need to be translated)- these are.

Here is a document which has been started explaining the kind of "Value Added Translation" that our Cooperative may find useful. Please consider contributing to this document.

[2018-06-25 17:35] dckc commented on #788
See also collaboration with @msporny going back to on Oct 8, 2017: https://github.com/w3c-ccg/did-spec/issues/11#issuecomment-335055812

[2018-06-25 17:37] allancto commented on #788
Developers, cryptographers, statisticians: I'm adding Help Wanted. @dckc knows about the medical community and this will be a successful project. If you're serious about Rholang or protecting privacy, this is a great opportunity for you.

[2018-06-25 17:41] dckc commented on #427
Some progress Jun 21: https://github.com/dckc/tinyses2rho 0e24be8

[2018-06-25 17:57] dckc commented on #539
I guess I'm willing to keep in touch with them and update this on their behalf.

[2018-06-25 18:10] allancto commented on #786
@jimscarver i agree that @kennyrowe 's office hours address this issue and are the logical place to start.

@barneycinnamon , we found it very effective at the RAM meetings to have a posted agenda where participants may list all their questions in advance. In addition to that we have a weekly scribe who converts the agenda into minutes "real-time"  as those items get addressed. @Tonyprisca13  has

[2018-06-25 18:35] dckc commented on #786
I just realized... this issue seems awfully similar to #564. If this isn't a duplicate, somebody explain to me how it's different?

[2018-06-25 18:41] barneycinnamon commented on #786
I am surprised by all the action. What I posted was really a placeholder just to remind me to come back the issue when I had some time to articulate what @jimscarver and I had discussed on a Governance WG call. This has some aspects in common with #564, @dckc, but this issue is about establishing some coop governance goals, in conjunction with the board, with clarity about which ones will be the r

[2018-06-25 18:44] barneycinnamon commented on #786
I see the reason for the confusion.

When I wrote...

I meant collecting some of _my_ thoughts on Governance. :)

[2018-06-25 19:31] lapin7 commented on #783
@dckc
@leithaus expected them in the report.

[2018-06-25 22:06] pmoorman commented on #555
wontfix (unfortunately).

I forgot to add the label. Good catch

[2018-06-25 22:29] dckc commented on #759
This issue is showing up on the Task Approval Overdue list, believe it or not.

Based on a wild guess of 10 guides * 4hrs each, on average, I suggest a $1600 budget. I updated the issue description and submitted a [budget vote on this issue][1]. If you did work on this issue, please add a reward vote and I'll consider matching it.

Do we want / need a report for May? The title of the report we alr

[2018-06-25 22:49] allancto commented on #783
@deannald based on your comment above I changed the title of this issue to "Interim Report". @dckc , @lapin7 I have also edited the task description to include discussion from the comments above.

[2018-06-25 22:52] dckc commented on #752
This has been a useful discussion, but I don't see anyone taking the ball to follow up, so I'm closing this. I supported the $400 budget suggestion with a vote. If you seek a reward, add a reward vote for yourself and I'll consider matching it.

Feel free to re-open this issue if you see more progress to be had.

@Valentine-Mario it's not clear to me why you assigned yourself, but I don't see any

[2018-06-25 22:52] #752 closed

[2018-06-26 03:54] yuhuanmocmoc commented on #749
the translation have been uploaded to [Google doc](https://drive.google.com/file/d/1RcWtbdQEtZMkHIq4oCUCXPGu4azImvSw/view?usp=sharing) and we have posted it to Wechat official account of RChain.

[2018-06-26 05:41] Cryptovideos opened #793 "Bounty Dashboard explainer video"
Part 1 of a 2 part video series this first episode is an animated explainer overview video about the Bounty Dashboard

**PART 1**
- Receive the Script for the Voice Over, record and edit the Voice over in studio
- Create Various Animated Scenery to Sync & visually marry up to script
- Import all elements, audio and compositions into the timeline for main editing & post production
- Handover of fin

[2018-06-26 05:43] Cryptovideos commented on #793
Engaged @jimscarver for explainer video and the Doc has been started as well as the introduction text created for Part 1. We have made a video going over the basic features to be a bases for the follow up video part 2 -the tutorial video walking through the various features

[2018-06-26 05:44] Cryptovideos commented on #793
@entropee has been working on the Transcript for Video Part 2  - an update will follow

[2018-06-26 06:20] dckc commented on #776
I studied [diro](https://www.diro.io/) tonight, per suggestion from @ottermagically.

In sum: very strong identity story.

I wonder about privacy, though. Let's see if they answer https://twitter.com/dckc/status/1011489718901641216

[2018-06-26 10:09] jasoncruzzy commented on #793
Nice work👍👍

[2018-06-26 13:20] akhs13 commented on #790
I will add value to the translation. @allancto

[2018-06-26 13:32] zsluedem opened #794 "Bounty for QQ group management on May"
### Benefit to RChain

Last month because the trust metrics was turned on and the QQ group maintain team in China didn't have a well understanding about the new rules(3 trusted rating) and all of the votes for the QQ group team don't count at all. So I'm starting a new issue for the reward to make that up.

Feel free to ask if you have any questions.

### Budget and Objective

*Please make the iss

[2018-06-26 13:44] zsluedem commented on #750
Recent update for this issue, I have talked to @AbnerZheng and @cenyuhai if they have time to be a representer for a meetup or something. But they are both really busy these days.

I talked with @rjl493456442 and @yyh1102 who is the head of the Blockchain club in Zhejiang University. @yyh1102 has told me athat it is ok to borrow a class room or something in Zhejiang University for a meetup. But th

[2018-06-26 13:56] entropee commented on #793
I uploaded the raw transcript, totally uncorrected in the SRT format. Jim didn’t like it and I agree it needs a lot of work I am still looking for ways to come up with a script for this. my thinking is we should use something like iMovie to create the the script by recording a new audio track and then use that to create a script. Here is the link for the raw transcription in srt format. https://dr

[2018-06-26 14:02] Cryptovideos commented on #793
Hey Gary geat idea...let me catch up with you a touch later

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Gary (otomplodomo on Slack) <notifications@github.com>
Sent: Tuesday, June 26, 2018 3:56:48 PM
To: rchain/bounties
Cc: Cryptovideos; Assign
Subject: Re: [rchain/bounties] Bounty Dashboard explainer video (#793)

I uploaded the raw transcript, totally u

[2018-06-26 14:57] allancto commented on #750
@zsluedem are any of these people interested in working on #788 Smart contracts for medical data sharing
or #789 User driven RChain bounty system dashboard development, or #755 Design of Computational Calculi?

[2018-06-26 15:51] pmoorman commented on #659
@azazime reached out asking for Guides to review the issue once more for June. I'm not inclined to award additional budget on top of what has already been funded in May, reasons being:

1. I don't see any reason to assume this has reached any significant level of exposure (@azazime feel free to prove otherwise)

2. The medium article lacks even the most basic formatting that I would expect from an

[2018-06-26 16:17] tschoffelen commented on #792
I think we need the following functionality in the app to be on par with what is being created in #789:

- [ ] Filter by label
- [ ] See budget votes
- [ ] Vote
- [ ] Display open/closed status
- [ ] Commenting?

[2018-06-26 16:23] tschoffelen commented on #789
Do you guys still need help building a general API for interacting with the bounties database?

@AhsanFazal and I would love to help if the need still exists.

[2018-06-26 17:14] dckc commented on #789
Yes! See also https://github.com/dckc/rchain-dbr/issues/6

[2018-06-26 21:37] michaelizer opened #795 "Translate "RNode v0.3.1 introduces the RChain consensus protocol" - "RChain Weekly Update (Debrief 83) 27th June, 2018" Medium blog posts to Spanish"
### Benefit to RChain

It will help the slowly growing Spanish community (With some extra efforts from Marketing) to develop. Another step to reach the level of a Multilingual and Multicultural community.
These translations will be made satisfying the guidelines suggested [here](https://docs.google.com/document/d/1wh-GYj_MxquhUL-VyE0BkeuoskHHeq5KVdd8tL77AKQ/edit).

### Budget and Objective

_Estim

[2018-06-26 23:19] dckc commented on #792
Can this be done as a mobile-happy web site, please?

[2018-06-27 01:15] ResonanceXX commented on #792
Kudos! This is nice, definitely good to have android/IOS versions for this.
Mobile phone penetration is ripe and plenty of limitations to mobile users would be removed.
RAMs from developing countries having access to important documents, even with basic cell phone/internet coverage - is a key change, to see.
If this improves interaction with shared files, its a very good project to embark on. @Ahs

[2018-06-27 06:45] azazime commented on #733
Published link of document on facebook group with over 20,000 active users👇

https://m.facebook.com/groups/438390979539823#!/groups/438390979539823?view=permalink&id=1785644351481139&refid=18&_ft_=qid.6571649239004128086%3Amf_story_key.1785644351481139%3Atop_level_post_id.1785644351481139%3Atl_objid.1785644351481139%3Asrc.22&__tn__=%2As%2As-R

[2018-06-27 07:20] lapin7 commented on #733
@azazime
IMHO Facebook should not be used as a marketing channel.
And we should take care about sending out messages to groups, with respect being regarded as a SPAM'r.

[2018-06-27 08:06] David405 opened #796 "RChain Africa Meetup Review"
**Overview of the Meetup**

 On the 9th of June, RChain had its first local meetup in Africa. The meetup was a success as more people became more aware of RChain generally and also got handy in setting up RNode. Before the meetup, there was a lot of interaction with the University community and the Tech community in the around the region (Nigeria) where the meetup  was held.

The meetup included a

[2018-06-27 08:07] pmoorman commented on #659
@azazime reached out asking for Guides to review the issue once more for June. I'm not inclined to award additional budget on top of what has already been funded in May, reasons being:

1. I don't see any reason to assume this has reached any significant level of exposure (@azazime feel free to prove otherwise)

2. The medium article lacks even the most basic formatting that I would expect from an

[2018-06-27 08:11] pmoorman commented on #733
@lapin7 can you elaborate?

[2018-06-27 08:27] David405 opened #797 "An elaborate guide to setting up RNode, Rholang and RSpace"
**Benefit to RChain**

Despite this [guide](https://rchain.atlassian.net/wiki/spaces/CORE/pages/428376065/User+guide+for+running+RNode) which is good for running RNode, a lot of persons still encounter issues while trying to set up Rnode on their local machine. One of the major problems not addressed by this guide is that the user **must create a var/lib/rnode directory** and this is fundamental t

[2018-06-27 08:35] lapin7 commented on #733
Well, Facebook is abusing our personal data by selling it for a high price to third parties. RChain is AFAIK against this practice.

[2018-06-27 08:36] tschoffelen commented on #789
@lapin7 What would be the purpose for that? Determining the bounty payouts end-of-month?

[2018-06-27 08:57] lapin7 commented on #789
@tschoffelen
Before this system we had a spreadsheet to fill out budgets and rewards. It took only 15 minutes for a individual RAM to process all issues for all RAM's. Now it would take him/her over 3 hours.

So in fact I need just a simple command to import a spreadsheet in the Bounty App Database.

[2018-06-27 08:59] pmoorman commented on #759
Can't speak for other labels, but in marketing we needed _much more_ time to do all the guiding work, and all the back-and-forth with people that wanted more rewards, etc. etc.

It's probably on the conservative end to say that @kitblake and I spent about **2 full days each.**

Does it make sense to break up these tasks per label (I have an idea between Kit and Aaron and me how to suggest a reward

[2018-06-27 09:14] pmoorman commented on #733
I wasn't aware of any such policy, and I think the marketing organisation is also engaging in Facebook promotions [so if this is really the policy, then we have more places to solve it]!

Bear in mind that almost all free services on the internet also need to make money, mostly through selling data or ads. _Almost all places where we could reach exposure have this nature! (Medium, Reddit, LinkedIn

[2018-06-27 10:00] pmoorman commented on #780
Y'all deserve a little update here on progress:

- The marketing organisation (run by Patrick & Ankur et al.) is aware of the above work, and looking to engage with people to help build out the website.

- The timeline is roughly to deliver this together with the main branding updates. That means deployment probably before Sept 1st, in time for the RCon in Berlin.

- The marketing organisation is

[2018-06-27 10:02] pmoorman commented on #780
@azazime regarding payment method: this is out-of-scope for this topic, since this is the marketing website. People that want to become members need to make a payment. There is a separate issue for this, here: https://github.com/rchain/bounties/issues/511

[2018-06-27 10:16] pmoorman commented on #776
### Update

Here's a short update regarding the activities of the Competitive Intelligence WG.

- There have been concerns about what information from the competitive intelligence WG needs to remain confidential and not be open to "the general public". Until we have everyone in the WG agreed on the approach on this, we can't publish minutes / meeting notes (yet).

- The aim of the WG is to provide

[2018-06-27 11:52] ddayan commented on #797
The marketing team is working on a simple guide to onboard validators and non-tech users.

[2018-06-27 12:56] David405 commented on #796
Hi @JoshOrndorff sorry about that, kindly check again

[2018-06-27 13:13] pmoorman commented on #693
This has been open for review for a little over a month now. Since it's been well-received, I've proceeded to roll this into the wiki.

**[See the wiki page here »](https://github.com/rchain/bounties/wiki/Marketing-best-practices)**

I'm closing out this issue now, but I can imagine we make further improvements on it in the next couple months, to further fine-tune it.

[2018-06-27 13:13] #693 closed

[2018-06-27 13:17] irynapopova61 opened #798 "Translate last 6 Medium blog posts to Ukrainian"
### Benefit to RChain

Translation of the RChain Medium blog posts to other languages means good global marketing.

### Posts

- RChain Weekly Update (Debrief 77) -16 May 2018
- RChain Weekly Update(Debrief 78) — 23, May
- RNode v0.4.1 introduces sending Rholang smart contracts across the network
- RChain Weekly Update (Debrief 80) June 6–2018
- RChain Weekly Update (Debrief 81) — 13 June, 2018
-

[2018-06-27 13:23] dckc commented on #759
quite possibly, especially for Marketing.

Another possibility is: reward yourselves in the issue(s) that you're guiding. But getting 3 votes for each such reward could be more trouble than it's worth.

make the issue now yes (did I already? hmm...) but given that the work goes right up thru July 8 and possibly a few days after for rewarding, I think it make more sense to have its rewards in July.

[2018-06-27 13:31] dckc opened #799 "rewards don't freeze due to trust metric interactions"
The budget votes and reward votes freeze, but the trust metric certifications don't, so they can have retrospective effects.

@lapin7 reports Wed, Jun 27, 2018 at 3:04 AM:

Output of invoice_summary_results_2018_06_11_16_36_25.csv

pay_period | worker | issues | USD
-- | -- | -- | --
5/1/18 | azazime | 662, 659, 693 | 160.00

Output of invoice_summary_results_2018_06_21_17_00_35.csv

pay_period |

[2018-06-27 13:39] Tonyprisca13 opened #800 "20180627 RChain Active Member Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [x] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).

- [x]  Any key discussion poin

[2018-06-27 13:41] AyAyRon-P commented on #155
Hey @patrick727 I'm going to close this out, if we determine that this is needed we can always open this issue back again.

[2018-06-27 13:41] #155 closed

[2018-06-27 13:46] AyAyRon-P commented on #173
@sportshark have there been any updates to this website? Please share any updates of content or other items that pertain to the scope of this issue.

[2018-06-27 13:51] AyAyRon-P commented on #198
@traviagio are there any updates to this project? Do we need to add anything or can we close this out and archive the links in the issue?

[2018-06-27 13:52] dckc commented on #789
Yes.

Is that really your question, though? ;-)

I suspect your question is: would you please add it?

I'm happy to coach somebody else in developing it: copy-and-paste of spreadsheet data into web forms results in tab-separated data that's easy to process in python / PHP / js etc.

But I find it hard to justify my coding time on anything other than
  - critical functionality bugs
  - migrating th

[2018-06-27 13:53] AyAyRon-P commented on #197
@ResonanceXX changed the title to ONGOING

[2018-06-27 13:55] sportshark commented on #173
In May we published a total of 7 RChain articles, including 4 community briefings and 3 technical articles.We also upgraded the site's version, added some new RChain links, and upgraded the article editor.In June we published a total of 9 RChain articles, including 3 community briefings and 3 Rchain news and 3 technical articles

[2018-06-27 13:56] AyAyRon-P commented on #173
That's great!

Would you please include those links here so we can have all items relating to this website in one location?

[2018-06-27 13:59] AyAyRon-P commented on #202
@sportshark would you please create an initial post following the NEW ISSUE template:

[2018-06-27 14:01] sportshark commented on #173
you can visit http://www.rchain.site any time you like,the links in June
http://www.rchain.site/?p=692
http://www.rchain.site/?p=690
http://www.rchain.site/?p=686
http://www.rchain.site/?p=683
http://www.rchain.site/?p=676
http://www.rchain.site/?p=670
http://www.rchain.site/?p=667
http://www.rchain.site/?p=664
http://www.rchain.site/?p=655

[2018-06-27 14:02] AyAyRon-P commented on #281
@kitblake did you fix this and can we close this out?

[2018-06-27 14:04] sportshark commented on #173
OK ,I will update my initial post following the NEW ISSUE template

[2018-06-27 14:22] gsofianidis opened #801 "Translate "RNode v0.4.1 introduces sending Rholang smart contracts across the network" - " RChain Weekly Update (Debrief 81) — 13 June, 2018" Medium blog posts to German"
### Benefit to RChain

Translation of the RChain Medium blog posts to other languages means good global marketing.

### Budget and Objective

Estimated Budget of Task: $[1600]
Estimated Timeline Required to Complete the Task: [7 days]
How will we measure completion? [Post "RNode v0.4.1 introduces sending Rholang smart contracts across the network" - " RChain Weekly Update (Debrief 81) — 13 June, 2

[2018-06-27 14:55] kitblake commented on #281
Yes, closing.

[2018-06-27 14:55] #281 closed

[2018-06-27 15:20] kitblake commented on #759
Having it in one issue means all guides have to proportion the budget between all guides.

[2018-06-27 15:20] AyAyRon-P commented on #332
Closed

[2018-06-27 15:20] #332 closed

[2018-06-27 15:30] AyAyRon-P commented on #559
Hey @Cryptovideos

This is a great looking animation, is there anything else we need to add to this project or are we ready to close this out?

[2018-06-27 15:32] lapin7 commented on #733
@pmoorman
I clearly said IMHO.
But I like the way you separate “repairing” FB and using FB
So let’s use the channels  where the folks hang out (IMHO)

[2018-06-27 15:34] AyAyRon-P commented on #589
@Cryptovideos

Please update your initial post following the NEW ISSUE template:
https://github.com/rchain/bounties/issues/new

Are there any updates to this project? Do we need to add anything or can we close this out and archive the links in the issue?