[2017-11-27 20:38] patrick727 commented on #184
Core devs are working out of Jira, with visibility through the wiki and it's bounties. right?

In regards to #177 Dan doesn't need to contribute there, it just would be nice and a plus to our culture we want to foster.

That issue is for community input/feedback

I'll aggregate it and if any points are glaring I can pass them on to Dan and Steve.

[2017-11-27 21:27] patrick727 commented on #162
@lapin7 yes i believe "cell phone expenses" was from another template

it is totally possible that the answer to "proposing compensation packages for Officers and other Important Roles" is "They get nothing outside of their SOW's"

I have to take myself out of direct proposals for that because I fit into one of those categories. But i will say that options and other packages are great for getting

[2017-11-27 22:16] MParlikar commented on #184
Hi there,

You raise some good points, and I will try to answer them.  For the areas
that you have described above, with the exception of Recruiting, we do not
have a designated person that is working on these areas *full time as their
primary role*.  I believe that this role is needed.  The closest person we
have right now is Daniel G to fill some of this.  But he is only 1 person.

It became cle

[2017-11-27 22:34] dckc commented on #100
A queue of pull requests? I'm struggling to find them. Help, @kitblake?

[2017-11-27 22:42] ValeBF commented on #148
Hello everyone I been reading all your comments and also working on some new concepts based on what you have talked. But first I would like to make clear that I am not claiming any other people job as mine. Please take a look to concept #1 I did that following @kitblake feedback and suggestions  I find this is a pretty good icon and I am almost sure he did not follow any reference to guide his com

[2017-11-27 23:20] ValeBF commented on #145
@jbassiri  In this issue we are looking for comments about the graphics I created for the website

<img width="854" alt="screen shot 2017-11-27 at 6 53 33 pm" src="https://user-images.githubusercontent.com/33433916/33294187-cb60f0b2-d3a5-11e7-9306-9e02ad7f6d67.png">

I would like to know if this graphs In your opinion make a good representation of the mentioned characteristic of the project.

@nik

[2017-11-27 23:25] ValeBF commented on #151
I am working in this I will show you soon

[2017-11-27 23:37] dckc commented on #184
So we have one data point to suggest that @MParlikar represents core here from time to time. :) When you make sure you're not the only one with this responsibility, I'm sure you'll let us know who shares it.

[2017-11-27 23:43] MParlikar commented on #184
It is reasonable to state that I represent 'core' here.  The rest of the
above statement also rings true.  :-)

On Mon, Nov 27, 2017 at 3:37 PM, Dan Connolly <notifications@github.com>
wrote:

[2017-11-28 00:42] dckc commented on #184
That addresses the issue to my satisfaction.

Everybody is welcome to continue to add notes, of course.

[2017-11-28 00:42] #184 closed

[2017-11-28 00:51] dckc opened #185 "D> Rholang play web site like rust playground, crystal playground, etc."
The core team tracks this as [RHOL-35](https://rchain.atlassian.net/projects/RHOL/issues/RHOL-35) and [Compiler-Web](https://rchain.atlassian.net/browse/RHOL-103?jql=project%20%3D%20RHOL%20AND%20component%20%3D%20Compiler-Web).

suggested budget: $1500 (for 31 story points, plus reviews of related PRs)

escalated from https://github.com/rchain/rchain/pull/40#issuecomment-341991949

[2017-11-28 02:22] sportshark commented on #177
@lapin7 Hello,http://www.rchain.site/ is not under construction by @Mervyn853 but by @sportshark and My friend @jiangnanmei

[2017-11-28 03:08] Mervyn853 commented on #166
@dckc Hey Dan, I have shared it to the following :

https://www.reddit.com/r/RChain/
https://www.reddit.com/r/RChain_Official/
Telegram RChain Official Chat Group: @rchain_coop [Telegram Chat Invite Link: https://t.me/rchain_coop]
Telegram RChain Official Announcements Channel : @RChain_Official [Telegram Announcement Channel Link: https://t.me/RChain_Official]

Feel free to join us. I will be set

[2017-11-28 05:20] derek7272 commented on #162
I think the value we get from officers and people in other important roles
right now is quite important, and we should be compensating them
accordingly ... :)

On Tue, Nov 28, 2017 at 8:27 AM, patrick727 <notifications@github.com>
wrote:

[2017-11-28 05:20] kitblake commented on #114
A note for people trying this: HJ had everything working and I was helping with testing the mic. Then, a few minutes before the Meetup started, it seemed like Zoom ran out of memory or something. Zoom started dropping aspects, like the microphone, behaving like it does when the Internet connection is too slow and it stops updating the video. After a quit and relaunch everything worked again. It mi

[2017-11-28 05:21] Mervyn853 commented on #180
Really great stuff guys! @jbassiri thanks for the quick response!

[2017-11-28 05:24] kitblake commented on #100
@dckc I was referring to https://github.com/rchain/reference/pulls
This is a friction point. The FAQ has been updated for awhile but not merged. I will ping again in #60.

[2017-11-28 05:27] kitblake commented on #60
Hello Ian, Ed, Greg, Joe, Navneet,
aka @drbloom, @edeykholt, @leithaus, ?, @n10n,

@pyrocto responded with some welcome developer feedback that's now been incorporated. What's needed is content review before merge.
Can somebody pick this up?

[2017-11-28 05:28] kitblake commented on #60
The pull requests are in /reference for the FAQ:
https://github.com/rchain/reference/pulls

[2017-11-28 08:15] lapin7 commented on #177
thx. sorry

--
Cheers,
HJ

On Tue, Nov 28, 2017 at 3:22 AM, Andy li <notifications@github.com> wrote:

[2017-11-28 10:39] lapin7 opened #186 "F> Communication on New Email for Invoices"
Our CFO, Lisa, has set up the procedure around [invoicing and payments.](https://docs.google.com/document/d/11Wh0i8ysRvnzAdYk5e985I3OX9lRffV036JqLmQC764/edit) . The new email for invoicing is invoices@rchain.coop
Feel free to add suggestions, comments, etc.

[2017-11-28 12:20] Ojimadu commented on #156
I think the
1. RChain logo should be clickable and lead to the home page
2. The colour combination is rather too simplistic. Just a dark (black?) colour and white produces a stark contrast which imho is too bold. A play of three to four colours blending into each other would create a better flow (a colour wheel might help here). Also I'd recommend this read http://www.vandelaydesign.com/the-psycho

[2017-11-28 12:40] Ojimadu commented on #145
@ValeBF The graphics for concurrency should be something parrallel but linked in a way, the idea of concurrency is the ability of RChain to split larger task into smaller concurrent processes so as to increase efficiency and throughput. A swap between the concurrency graphics and multichain graphics would be better. Multi chain should have a different branches linking to a single parent chain.

[2017-11-28 14:22] lapin7 commented on #137
I made a movie about how to fill out the decentralized budget/spending
  https://youtu.be/m6xiTWbEdpA?t=55

[2017-11-28 14:42] drbloom commented on #148
@lapin7 As far as I can see, there is no bounty assigned to this issue. At this stage, we are just bouncing around ideas & concepts. The Cooperative has not even decided that a new design is warranted.

[2017-11-28 15:15] #106 closed

[2017-11-28 15:43] lapin7 commented on #159
dev.rchain.coop #177 is better

[2017-11-28 16:11] lapin7 commented on #29
@azreed1141 Hi, if you scroll up then you find an explanation of @kdvalentine
Could you please send your email to ops@rchain.coop? Then you can participate in the collaboration and earn RHOC

[2017-11-28 16:16] patrick727 commented on #179
@Ojimadu thanks for the catch and I made those updates

[2017-11-28 16:17] patrick727 commented on #42
Thanks @kitblake I did just.

Great job with telegram

[2017-11-28 16:20] patrick727 commented on #184
thanks @MParlikar and @dckc for helping to clarify

[2017-11-28 16:22] patrick727 commented on #162
How can we formalize this vote?

The task for this committee is

1. Confirm a compensation package for Board of Directors
2. Propose compensation packages for Officers and "Other Important Roles"
3. Self Govern

[2017-11-28 16:23] patrick727 commented on #162
p.s @lapin7 I am the owner of the facebook account not derek7272

[2017-11-28 16:26] kitblake commented on #42
@jbassiri I agree about pushing the culture too

[2017-11-28 16:57] patrick727 commented on #137
@lapin7 I love it and we could use it, already shared through twitter, etc

[2017-11-28 17:03] patrick727 commented on #148
@ValeBF nice iterations

Order that I like them 1, 2, 5, 3, 4

[2017-11-28 17:43] kitblake commented on #148
@ValeBF Yes, nice work!
Order that I like them 1, 3, 2, 5, 4 (almost the same as @patrick727's order)
I'll post an expanded response soon, it's been a distracted day..

[2017-11-28 17:47] pythonical commented on #148
this is out of left field and i am not completely happy with it but will throw it out there for ideas.
![screen shot 2017-11-28 at 11 44 58 am](https://user-images.githubusercontent.com/4267762/33335147-d69fe352-d431-11e7-89af-0568533429e0.png)

[2017-11-28 18:07] patrick727 opened #187 "Newsletter - November 30th"
Feedback welcome on [Newsletter Draft Document](https://docs.google.com/document/d/1Pn41cz0Q0BFgD7hI9c91VOCqMHNMoFPeoRAXKS3bO80/edit#)

[2017-11-28 19:22] kitblake commented on #148
Fuel for the fire is good. @pythonical, since you're going out on a limb, I will too.

This is a quick and dirty sketch based on @ValeBF's construction drawing (you can still see the gray lines)

![intoout](https://user-images.githubusercontent.com/912545/33339168-92e18200-d478-11e7-9b45-46dbd338186f.png)

I think it looks like a REV.
But not saying this is 'it'.

[2017-11-28 19:55] dckc commented on #159
Meanwhile, https://rholang.rchain.coop/ actually exists. So if we aim to merge them, there's work to do here.

[2017-11-28 22:47] drbloom commented on #29
@lapin7 - Please **remove this bounty**. I'm closing this issue because it goes against what the other directors of the Cooperative, as well as counsel have advised regarding the classification of RHOC/REV as a security vs utility token.
If you disagree, please take it up with the other directors before continuing your efforts in this direction.

[2017-11-28 23:30] ValeBF commented on #148
@kitblake here is your sketch on clean lines, I really like it.

![rev-l](https://user-images.githubusercontent.com/33433916/33349832-32506a6a-d472-11e7-812d-8e4c40da27ed.jpg)

[2017-11-29 00:06] ValeBF commented on #151
I would like to hear what you think of my construction of @patrick727  idea for the Reddit page.

<img width="216" alt="rai" src="https://user-images.githubusercontent.com/33433916/33350689-86a8736a-d476-11e7-87b7-3930137e3b73.png">

And in order to follow the style I am proposing the whole cover could look like this
![reddit-banner](https://user-images.githubusercontent.com/33433916/33350803-1ff8

[2017-11-29 00:24] entropee commented on #148
That last one I find disturbing. If you rotate the left side in the plane it looks like a devil. My favorite is:
![image](https://user-images.githubusercontent.com/8934799/33351417-5a7d10fa-d469-11e7-8ad3-ce678dc6cd70.png)

[2017-11-29 00:25] entropee commented on #148
Sorry, didn't mean to close it, I guess.

[2017-11-29 12:48] lapin7 commented on #53
@dckc I'm not working on the [CoopCalendar](https://github.com/rchain/Members/wiki/CoopCalendar), however that would be very useful. Please pick it up.

[2017-11-29 13:11] lapin7 commented on #148
@drbloom there is almost a bounty assigned to this issue!

As you can see below: @kitblake and @lapin7 have set a budget for this issue.
When one more collaborator/member sets also a budget, then the average of the 3 entries **is** the budget. An approval of the Coop (whoever you mean with that) is not needed. Because the Coop has agreed that the members can raise and work on any issue that they t

[2017-11-29 13:48] kitblake commented on #29
@drbloom, there's a governance overstep here. The Members have the right to do as they wish with their tokens. They can trade them, and if they wish they can get the RHOC listed on additional exchanges. The board cannot make a decree and forbid Members from such an effort. Only the Members can decide such a thing.

What the board can do – and is doing – is make it clear that the Co-op itself canno

[2017-11-29 13:53] kitblake commented on #148
@ValeBF Thanks for the clean version! It makes a big difference. But it's a lossy JPG, could you post a (clean :) PNG?

[2017-11-29 14:56] drbloom commented on #148
"Some logo design elements have been used so many times that they can no longer be claimed as original creations, and thus will probably not be eligible for trademark registration. These clichéd, outdated-looking symbols are labelled "generic"."
(Excerpt from - [99Designs.com)](https://support.99designs.com/hc/en-us/articles/204761625-Generic-and-common-logo-concepts)

[2017-11-29 15:19] dckc commented on #53
I was referring to work you had already done.

Is there more work to do? If so, what is it? And how would someone like me pick it up?

[2017-11-29 15:21] patrick727 commented on #151
@ValeBF thank you,

so with reddit there is the background image and the subreddit profile image. The profile image should be the logo as you have it ant thats where I would put those three aliens, not the middle structure, just have them around the logo.

as for the background it could be the rest of the image as is, id make the meshnet a bit lighter so it blends into the background more.

thank

[2017-11-29 15:29] Rafkraft commented on #156
Modifications:
- Top logo is now cliquable and leads to the home page (@Ojimadu ). Moreover I put it on the top left corner as @patrick727 guesses, I think it's a good idea.
- Sections have been renamed/added.
- Footer: "Social Media" -> "Quick links".
- @Ojimadu I added some animations on some content (team members, grey square on home page).

Regarding the colors, I find it harmonious now and wo

[2017-11-29 15:36] dckc commented on #29
Making it findable is not a good reason to re-open an issue. If you want it findable, @kitblakke, make links to it.

An open issue represents work to be done (even if just answering a question). As documented in [CONTRIBUTING](https://github.com/rchain/Members/blob/master/CONTRIBUTING.md), an open issue in this repository represents work we intend to do, as part of the bounty program, sponsored by

[2017-11-29 15:44] dckc commented on #29
Also, @kitblake , as to what rights members have, we agreed to give up some rights when we executed the [membership agreement](https://github.com/rchain/legaldocs/blob/master/Coop_Membership_Agreement.md):

A member who knowingly acts against advice of co-op council regarding legal issues and the value/status of RHOC would seem to run afoul of that policy.

[2017-11-29 15:45] drbloom commented on #29
@kitblake, I agree that there is valuable information here, but links to closed GitHub issues work just fine. There is no governance overstep. Nobody is telling members what they can and can't do with their tokens. No decrees or prohibitions have been made. Closing an issue is not censorship.

The Co-op's board has made clear that it will not take action to list RHOC on exchanges. Now that HJ is o

[2017-11-29 15:47] patrick727 commented on #148
I also really like @kitblake 's design

thank you @ValeBF

I would like to push this to the board to get a movement

[2017-11-29 16:05] lapin7 commented on #29
I will counsel our legal advisor, Evan.

--
Cheers,
HJ

On Wed, Nov 29, 2017 at 4:45 PM, drbloom <notifications@github.com> wrote:

[2017-11-29 16:14] patrick727 commented on #53
So this is actually going to get picked up by Alberto most likely.

He is in discord and will get him into github soon.

thanks

[2017-11-29 16:24] patrick727 commented on #156
Thanks @Rafkraft for moving to in progress.

I like where it is going.

I think we can make the first tile shrink some though, so that the image links to it top to bottom(right now there is space between the top and where the image begins)

also the rchain cooperative needs "cooperative" and could be aligned up more, which goes with the tile 1 being a bit smaller.

does that make sense?

thanks fo

[2017-11-29 17:24] kitblake commented on #148
It's not 'my' design. It was a collaboration. @ValeBF drew the structure (above), I filled in spaces.

[2017-11-29 20:24] jimscarver opened #188 "D> Rho-calc/Rholang programming on Holochain"
Holochain has many of the same design objectives as RChain. Like Rosette, Holochain is based on an actor model. The aim is to generate Holochain apps from the rosette output of the Rholang compiler.

To this end we have engaged in a cooperation with DigLife.com and Holochain.org in the [Social Ledger trial](https://docs.google.com/document/d/1v7JaVwJUhWix52y7piNqlpAYiVCtNhim2I0KvJyE16M/edit#).

[2017-11-29 20:31] lapin7 commented on #29
I close this issue #29 because of my organizational position. That doesn't stop somebody else from opening it in a new issue ;-)

[2017-11-29 20:31] #29 closed

[2017-11-29 20:59] patrick727 opened #189 "O> Governance Forum - Agenda"
_p.s. Planning the agenda mostly happened elsewhere, but this issue served as a useful place to keep up-to-date with plans as they evolved. -- @dckc_

----

Lets plan out some agenda items for the governance conference

1. formalize ["Declaration of Interdependence"](https://docs.google.com/document/d/1E8FCjRjbUDu8nSwkbl-z_lcA97Y3P7wQ4eOaWlIxEr4/edit#)

2. [Governance Agenda template ](https://doc

[2017-11-29 21:13] ValeBF commented on #151
Do you think work better like this ?

![rp](https://user-images.githubusercontent.com/33433916/33398214-95be5bd6-d524-11e7-8668-b7f4d78dffb1.jpg)

![reddit-banner](https://user-images.githubusercontent.com/33433916/33398233-a4bbea9a-d524-11e7-8bc7-eb804aa0bb36.jpg)

The graphics on the background are a little different to the previous, because I as long as I have been knowing more about the brand

[2017-11-29 21:27] patrick727 commented on #151
@ValeBF thank you

see https://www.reddit.com/r/eos/ and see hwo there are too images?

One is the background and one is the profile image "eos"

For the profile image I like what you did with the aliens surrounding the logo, but would prefer that the logo with the text "rchain cooperative" remain unaltered and the aliens worked around the words too.

For the background image(header) please just m

[2017-11-29 21:30] ValeBF commented on #151
Yes I know that is going to be 2 images... It was just for visualization proposes let me fix that right now.

[2017-11-29 21:45] lapin7 commented on #53
With concern to that wiki page:
2017-11-29 >> @lapin7 thinks that this calendar in ZOHO is obsolete. There's a Google calendar in place. One can find that calender #calendar of Discord.

@dckc the wiki page has to be updated with:
- link to the iCal
- who can update, add events and so
- where to publish

[2017-11-29 22:02] patrick727 commented on #151
@ValeBF sorry i didnt realize

thank you

[2017-11-29 22:17] patrick727 commented on #53
@lapin7 he is not on github yet. i will get him on soon, he is a member though on discord @alberto jauregui

we will most likely use a combo of airtable, meetedgar and hootesuite

[2017-11-29 22:25] patrick727 commented on #187
[test email](http://archive.sendpulse.com/shc4c/8d6dcfc2/?_ga=2.156152187.1550925975.1511990937-85970949.1511818720)

[2017-11-29 22:51] ValeBF commented on #151
I think i miss understood the propose of the images
First here is the cover image
![cover](https://user-images.githubusercontent.com/33433916/33402680-b630c520-d533-11e7-820c-5c2741848932.png)
Here you have the profile picture

[2017-11-29 23:01] ValeBF commented on #151
For the medium profile here is the profile image
![rcs--p_medium](https://user-images.githubusercontent.com/33433916/33403634-85432684-d537-11e7-87a8-4776d6bf610a.png)

There is no cover for the profile. just cover for the posts  you tell me if it anyone needed right now

[2017-11-30 04:05] bjornagain commented on #156
Hey folks nice to make your acquaintance!
I'll be working on http://developer.rchain.coop/, as well as some other web work for pyrofex. I am also available to help out here with https://rchain.fabco.tech/.

Can someone tell me if we're going to be using the styling from the new site in progress, or what is currently live at rchain.coop?

[2017-11-30 05:18] Ojimadu commented on #115
@momchilov I sent you a messsage on reddit. Am u/chid3x

[2017-11-30 10:03] momchilov commented on #115
@ojimadu Added you.

Any further additions will be considered by the moderator's collective.

On Thu, Nov 30, 2017 at 5:18 AM, Ojimadu <notifications@github.com> wrote:

[2017-11-30 17:28] patrick727 commented on #151
those look good @ValeBF thank you!

[2017-11-30 18:50] rchain-travis commented on #176
Here is the wiki page for the Bounty tickets:
https://rchain.atlassian.net/wiki/spaces/CORE/pages/105938971/Bounties+for+Development+work

[2017-11-30 18:50] kennyrowe commented on #165
Great discussion, I think it's also probably a good idea for the members of this committee to participate in the budgeting process as well.

[2017-11-30 18:56] kennyrowe commented on #162
I think we get more information regarding the first item. As far as the second is concerned I don't think there are any "Officers or Other Important Roles" that require immediate attention. I suggest the committee define compensation for important roles as they come up. Last I think we well on our way to self-governance, but we do need to set a meeting to formalize our process.

[2017-11-30 19:04] kitblake commented on #29
To follow up with @dckc: taking your commentary into account, in the Members meeting we made a consensual decision to close this issue.

Coincidentally, in the Debrief meeting that followed, the RHOCs on exchanges issue came up and Ed and Greg cleared up inconsistencies (and we still all agree that setting a bounty on the issue is a bad idea).

[2017-11-30 19:22] kitblake commented on #151
Those look **really** good :)

[2017-11-30 21:28] lapin7 commented on #29
Issue #29 is closed. Until now no bounties have been paid for this issue.
In November nothing will be paid for issue #29. So we are still clean on
this :-)

--
Cheers,
HJ

On Thu, Nov 30, 2017 at 8:04 PM, kitblake <notifications@github.com> wrote:

[2017-11-30 21:38] lapin7 commented on #53
@patrick727 You can invite @alberto as a collaborator on Github/Members through https://github.com/rchain/Members/settings/collaboration

[2017-11-30 22:18] Ojimadu opened #190 "Get RHOCs on Cryptocompare"
This is issue is to get RHOCs listed on Cryptocompare.com This was suggested by a user in our Telegram group. I think it can give RHOCs more exposure. I already sent out an email awaiting response from them

[2017-12-01 02:35] fiebsy commented on #151
Probably a dumb question, but any reason why the Rchain sub says "(Unofficial)" on the search queue?

<img width="773" alt="screen shot 2017-11-30 at 8 34 56 pm" src="https://user-images.githubusercontent.com/34101760/33465527-f8e8e85e-d60d-11e7-84f5-ee03ff9ea73a.png">

[2017-12-01 04:23] nikhil9865 commented on #190
https://docs.google.com/forms/d/1jC5rzzOsK0Mwhlr9A4eRv01km9u5IeRZjmWTGPeddDE/viewform?edit_requested=true
I have submitted the form waiting for response

[2017-12-01 05:17] Ojimadu commented on #151
Those are really good images. Great work @ValeBF

[2017-12-01 05:34] kitblake commented on #182
Ok, the Telegram group member number is climbing steadily. When the 300th user arrives, we'll inform him/her that IF s/he becomes a Member, THEN a prize of 300 RHOCs will be awarded. That's like $60 at the private sale rate, so it covers the $20+fee expense of joining.

[2017-12-01 07:04] alberto commented on #53
please don't @ me.

[2017-12-01 08:12] lapin7 commented on #182
I suggest to add a bounty of 50 RHOC:
Condition: a Telegram user who is also a Member get's 50 RHOC when s/he
brings in a new Telegram user

Another bounty of 100 RHOC:
Condition: a Telegram user who is also a Member get's 100 RHOC when s/he
brings in a new Github/Member collaborator

Another bounty of 200 RHOC:
Condition: a Telegram user who is also a Member get's 200 RHOC when s/he
brings in a n

[2017-12-01 08:52] Mervyn853 commented on #115
https://bitcointalk.org/index.php?topic=2494040 Hey guys, this is the latest Bitcointalk thread i've created. I will be updating the other channels i'm in control of. @kitblake @patrick727 Please take note of the new [[ANN] Official RChain Cooperative](https://bitcointalk.org/index.php?topic=2494040) thread.

[2017-12-01 10:31] kitblake commented on #53
This is off-topic but the Collaborators list is almost full. There's one seat left. However there are many unaccepted invitations, so if it's full, delete the oldest invitations at the bottom.

[2017-12-01 10:49] kitblake commented on #115
The FAQ patch (in the merge queue) is updated with the new Bitcointalk thread link.

[2017-12-01 14:28] patrick727 commented on #151
@fiebsy because we hadnt confirmed between r/rchain and r/rchain_offical

I think because /rchain is now completely under our ownership and that it has more subs, we can drop the other and make r/rchain the official

Cheers

[2017-12-01 14:35] patrick727 commented on #53
@lapin7 that is not the same alberto.

@kitblake collaborators to what?

[2017-12-01 14:47] #167 closed

[2017-12-01 14:48] #166 closed

[2017-12-01 15:03] patrick727 commented on #165
what do you guy think about organizing the reward sheet by projects?

Each project could be a tab within the document? and then we can set a total monthly budget as well as highlight SOW'd work

[2017-12-01 15:16] patrick727 commented on #115
@Mervyn853 awesome!!!

@kitblake thanks for your continued driving of this effort

[2017-12-01 15:46] kitblake commented on #53
@patrick727 Collaborators in the /Members repo. You'll see it when you add someone.

[2017-12-01 17:32] Jake-Gillberg opened #191 "M> (B) RChain Developer Retreat Summary"
M> Indicates that this is a project within the "Marketing" category
(B) Indicates that this is a Blog post

Goal:

Blog post with paragraphish long descriptions of sessions with a link to the corresponding video

[2017-12-01 17:40] Jake-Gillberg commented on #191
Target publication by 2017-12-31

[2017-12-01 18:39] kitblake commented on #190
Does Cryptocompare compare ERC20 tokens? I just took a look and don't see any that I recognize.

[2017-12-01 18:52] kitblake opened #192 "C> RHOCs on Exchanges"
This issue tracks the everchanging scenario of RHOCs on exchanges and provides current answers to common questions that come up in chat channels. The issue includes How-Tos, listing statuses, and discussion. It supersedes #29 which became outdated and bloated.

[2017-12-01 18:52] kitblake commented on #192
How to Trade RHOCs on OasisDex, EtherDelta, and 0x:
https://github.com/rchain/Members/issues/29#issuecomment-324218666

[2017-12-01 18:54] kitblake commented on #192
CoinMarketCap info:
https://github.com/rchain/Members/issues/29#issuecomment-342401211

[2017-12-01 21:44] dckc commented on #191
Here's hoping I find a moment to write one up, now that the videos are out.

[2017-12-01 21:45] dckc commented on #189
"the governance conference"? What does that refer to? Is it an idea from a teleconference or something? I'd appreciate a pointer.

[2017-12-01 21:51] dckc commented on #188
Holochain is based on an actor model? Help me find any documentation about that? I looked for a few minutes without luck.

[2017-12-01 22:09] dckc commented on #115
Why was there a new "[ANN][RHOC] Official RChain Cooperative" thread on bitcointalk today? The RChain co-op isn't new. It's been around for a while, no?

I'm confused.

[2017-12-02 02:33] Mervyn853 commented on #115
@dckc I spoke to @coininterview and he said that the existing RChain thread he started with icocountdown was locked anyways. This was his reply : "you would have to talk to icocountdown alex@icocountdown, i suggest you start a new thread so you have complete control over the thread. "

We agreed to start a new [ANN] Official RChain Cooperative Bitcointalk Thread as there was no way to access and h

[2017-12-02 03:13] dckc commented on #115
What's wrong with letting the old thread be locked? It's quite old news, no?

It might make sense to start a new thread, but it should be about a new topic, no?

[2017-12-03 07:24] Mervyn853 commented on #115
@dckc Nothing wrong with the old thread which can be found here : https://bitcointalk.org/index.php?topic=1747033 Most of the discussion surrounds RChain from the Synereo days and it will remain open to all for viewing.

It's just that the thread is locked and no one can post new replies or engage in the discussion on Bitcointalk. As @lapin7 and @coininterview had suggested, it is better to open a

[2017-12-03 09:40] Mervyn853 opened #193 "M> Research Group Review: CHAINROCK"
I've been contacted by CHAINROCK which is a digital asset research and investment group, focused on blockchain technology and cryptoassets. They've released an analysis of our project cited here : https://chainrock.io/rchain/

I believe this is our first research group review and I find the analysis fair and valid with criticisms similar to those that have been conveyed to me in other social chann

[2017-12-03 14:15] jimscarver opened #194 "O> Gov Conference Travel expenses"
Travel expenses for committee members and invited guests need to be budgeted and approved.

[2017-12-03 20:52] ResonanceXX commented on #194
I'm willing to assist in doing this.

[2017-12-04 05:18] Phistr90 commented on #115
If you need some more help with the reddit subreddits, I am willing to help. /u/phistr90

[2017-12-04 09:49] lapin7 commented on #194
Just create an Issue "Travel Expenses"
Set a budget for example $10.000
Find 3 members to set this budget in Budget 201712
Travellers write in the comment of the issue for what reason they travel,
when, and the amount. And they add an invoice with copy/paste (see #171)
Ask your friends if they agree with your expenses and ask them to fill out
a percentage in Rewards 201712

For example:
If you go

[2017-12-04 10:03] lapin7 commented on #176
@rchain-travis are you the same person as @travismorehead ??

[2017-12-04 12:20] ResonanceXX commented on #189
The governance forum should decide how to govern the RChain platform. I believe it is instructive to have a  constituted authority to lead us through.

[2017-12-04 13:01] ResonanceXX commented on #194
@lapin7 I would need authorization access for the budget sheet document. I await your response to begin work.

[2017-12-04 13:46] lapin7 commented on #194
Please send me your email and then I can add you to the Google group RChain

--
Cheers,
HJ

On Mon, Dec 4, 2017 at 2:01 PM, ResonanceXX <notifications@github.com>
wrote:

[2017-12-04 14:11] ResonanceXX commented on #194
Kenechukwuoliaku@yahoo.com

Sent from Yahoo Mail on Android

  On Mon, 4 Dec 2017 at 14:46, HJ Hilbolling<notifications@github.com> wrote:   Please send me your email and then I can add you to the Google group RChain

--
Cheers,
HJ

On Mon, Dec 4, 2017 at 2:01 PM, ResonanceXX <notifications@github.com>
wrote:

—
You are receiving this because you commented.
Reply to this email directly, view it on

[2017-12-04 14:33] patrick727 commented on #191
thankyou @Jake-Gillberg and yes please @dckc !

[2017-12-04 14:38] patrick727 commented on #189
@dckc see the last hangout, and previous ones. It has been greg and vlads idea to hold a conference on blockchain governance and co-op governance for RChain Co-op.

[2017-12-04 14:47] patrick727 commented on #193
@Mervyn853 this is great!

It would need to be someone who could address the token supply terms directly.

[2017-12-04 14:56] pyrocto commented on #176
No, it's the build system.  https://travis-ci.org/

[2017-12-04 16:17] dckc commented on #176
the build system made https://github.com/rchain/Members/issues/176#issuecomment-348283808 ???

[2017-12-04 16:23] dckc commented on #189
OK... I hope it shows up in the [debrief index](https://github.com/rchain/Members/wiki/Weekly-Debrief-Index) soonish. "See the previous hangouts" would otherwise take several hours.

I'm not used to all this business done with only video records. I'm sure it's easier for the participants at the time, but it's a pain for folks who want to catch up later (which is a larger and growing audience, if t

[2017-12-04 16:24] dckc commented on #191
I just ran across "Greg summarizes the developer retreat" in the [Nov 21 community debrief](https://github.com/rchain/Members/wiki/Weekly-Debrief-Index#november-22nd---community-debrief-52).

[2017-12-04 16:31] pyrocto commented on #176
Oh, must have been Alex or Medha while logged into that account.

[2017-12-04 17:24] ValeBF commented on #156
Hi there !
I have worked on some design editions for rchain.coop I been approaching all your comments in order to build a better site that follow a global stethic that we are trying to usea across the brand elements. Also I did some editions on the graphics in order to follow some suggestions from  #145 issue.

I would like to know your thoughts and get the approbal on this desing to give @Rafkraf

[2017-12-04 17:40] patrick727 commented on #156
Thanks for this @ValeBF

Tile 1

- can you lift the RChain logo and call to action of whitepaper up about 10-15 points so its a bit more center.
- its "white paper" you have "withe paper"
- can you have the background mesh art faded into the background a bit more, and also will you make the size of the circles vary sum. maybe experiment with some different colors to demonstrate different size node

[2017-12-04 18:22] ValeBF commented on #156
Sorry for my  bad spelling ....

I edited what you pointed thanks.  I left out the mesh net graphic edition, I will work on it... thanks for sharing that simulation, great visual reference to use.

Did you check the ABOUT page ? there are some changes too.

[2017-12-04 18:55] MParlikar commented on #176
It was my bad.  I was logged in there and didn't realize it until after I
made the comment.

On Mon, Dec 4, 2017 at 8:31 AM, Mike Stay <notifications@github.com> wrote:

[2017-12-04 20:15] patrick727 commented on #189
@dckc you asked for a pointer. The last hangout. Im the one having to manually do the summarys so feel free to pick back up or propose an automated soltuion. I know that @entropee was suppose to be working on one

[2017-12-04 20:44] patrick727 commented on #156
Thank you and I didnt, but I will and get back to you. thankyou

[2017-12-04 22:02] dckc commented on #59
I just discoved this issue; is #79 a dup of this one? I did most of my work there.

Then there's #48, which is specific to one event. I prefer the style of #48... I'm inclined to reduce the scope of #79 to "hangout summaries thru October" and close it.

[2017-12-04 23:04] ResonanceXX commented on #194
Take a look at this dear Mr. HJ

Sent from Yahoo Mail on Android

  On Mon, 4 Dec 2017 at 15:11, Kenechukwu Oliaku<kenechukwuoliaku@yahoo.com> wrote:   Kenechukwuoliaku@yahoo.com

Sent from Yahoo Mail on Android

  On Mon, 4 Dec 2017 at 14:46, HJ Hilbolling<notifications@github.com> wrote:   Please send me your email and then I can add you to the Google group RChain

--
Cheers,
HJ

On Mon, Dec 4,

[2017-12-04 23:20] ResonanceXX commented on #194
@ #

[2017-12-04 23:29] ResonanceXX commented on #194
How much money will you need in Seattle? $149 is the average daily price for traveling in Seattle. The average price of food for one day is $37. The average price of a hotel for a couple

![screenshot_20171205-002313](https://user-images.githubusercontent.com/34219332/33581792-9353ca5c-d952-11e7-8ecd-0c3f634ab811.png)

[2017-12-05 00:40] ResonanceXX commented on #194
![screenshot_20171205-002307](https://user-images.githubusercontent.com/34219332/33583931-2faf9264-d95d-11e7-9506-90b5848c7c91.png)

[2017-12-05 00:55] ResonanceXX commented on #151
Can the reddit sub be up and running. And what contents would be put on there to excite interested community members. The images are outstanding by the way.

[2017-12-05 04:26] Phistr90 commented on #194
@ResonanceXX The current discussed options on discord are:

Proposed Dates
Thursday 2/15 - Sunday 2/18
(Valentines day is Feb 14, 2018)(edited)
Location:
St. Petersburg FL (TPA)
Denver, CO (DEN)

[2017-12-05 08:27] n10n opened #195 "M> Convert some of existing doc into md format and upload into github"
For example: https://docs.google.com/document/d/1sGlObhGhoEizBXC30Ww4h1KHKGkmcy4NiCKitIBqiUg/edit# and there are many more.

[2017-12-05 09:57] lapin7 commented on #194
@ResonanceXX sorry for the mis-communication. But it seems to be good now. You're set up for google groups and github. So please go ahead.

[2017-12-05 10:30] ResonanceXX commented on #194
Thank you. I will research some more with the updated info. 

Sent from Yahoo Mail on Android

  On Tue, 5 Dec 2017 at 10:57, HJ Hilbolling<notifications@github.com> wrote:
@ResonanceXX sorry for the mis-communication. But it seems to be good now. You're set up for google groups and github. So please go ahead.

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2017-12-05 12:12] traviagio commented on #67
More than happy to do a few content articles for Rchain. Do I need to pick something from the Content Ideas Sheet or can I go with my own?

[2017-12-05 12:29] traviagio commented on #83
Just added Jeroen van Dijk in the spreadsheet. Will be looking for more

[2017-12-05 12:47] traviagio commented on #154
I did a few infographics on the topics a few years ago. Here are some links: https://cointelegraph.com/news/bitcoin-growth-in-2016-show-us-your-numbers and https://faisalkhan.com/2015/06/30/bitcoin-acceptance-for-everyday-use-infographic/ Also this is another one on a different topic https://medium.com/the-mission/why-working-from-the-beach-in-bali-is-the-new-cool-f84329d3f4aa But it's a hell a lo

[2017-12-05 14:48] nikhil9865 commented on #190
RHOC is now listed on Cryptocompare i have received email and checked on their website.

[2017-12-05 14:48] #190 closed

[2017-12-05 15:36] patrick727 commented on #189
It has been a valuable resource in my opinion, but yes aside from the initial work that you did, I have done every single one since.

[2017-12-05 15:39] patrick727 commented on #59
@dckc yes we can go ahead and close this bad boy down and work through #48

[2017-12-05 15:39] #59 closed

[2017-12-05 15:41] dmsn0067 commented on #190
I got them on crypto compare. I emailed them and told em I been waiting for
months to add my stack to my portfolio, they just emailed me back a bit ago
to tell me they added it.

On Tue, Dec 5, 2017 at 9:48 AM, Nik <notifications@github.com> wrote:

[2017-12-05 15:42] patrick727 commented on #151
@ResonanceXX yes its up and running with all new content https://www.reddit.com/r/RChain/

@momchilov is working on getting the images up there ASAp but he has some work obligations.

I think we should close down RChain_Offical asap, @Mervyn853 arent you the lead on that one?

[2017-12-05 15:46] patrick727 commented on #67
@traviagio either or, if you have your own idea, please add it to the content sheet, change the field color to yellow and comment your working on it.

[2017-12-05 15:49] patrick727 commented on #154
@traviagio it sure would be amazing to have #180 formed into an infographic.

also as for the casper infographic, if you could help sketch it out as per, Vlad, Greg and Michaels outline that would also help alot.

What capacity can you work on an infographic?

[2017-12-05 16:14] Mervyn853 commented on #151
@patrick727  I believe @derek7272 is the original creator of the /r/RChain_Official subreddit.

If i recall,  you can't delete a subreddit. The closest you can come is making it private and not letting anybody in, essentially parking in which is good for security reasons.

[2017-12-05 16:19] patrick727 commented on #151
thanks @Mervyn853, @derek7272 will you go ahead and privatize that subreddit so that we can promote the r/RChain as the official channel.

Cheers

[2017-12-05 17:29] ResonanceXX commented on #194
Hello HJ
A little clarity on the exact amount of attendees. I can compute a final figure. But check this out meanwhile.

https://docs.google.com/document/d/10nsH-bE0De1cqaaYQg4woi1QHMcYXds5RaOVVy1RkCE/edit?usp=drivesdk

[2017-12-05 18:06] #187 closed

[2017-12-05 18:14] patrick727 opened #196 "M> Newsletter - December 14th"
[newsletter draft - December 14th](https://docs.google.com/document/d/1vVxpWZrJq463Gs9WHtCf-PYKSAKuyJocESu2EWABsWk/edit)

[2017-12-05 22:21] ResonanceXX commented on #189
@patrick727  Can there be a clear information on how many attendees for the conference.

[2017-12-05 22:31] derek7272 commented on #151
sure. Done.

On Wed, Dec 6, 2017 at 3:19 AM, patrick727 <notifications@github.com> wrote:

[2017-12-05 22:56] ResonanceXX opened #197 "M> ONGOING: Quora Knowledge-Base Engagement"
Quora is a unique platform for knowledge gathering. The status of Rchain and Rhoc knowledge on the platform to the best of my knowing is non existent.

An anonymous user asked a question. Working on sourcing concise answer.

_Estimated Budget of Task:_ **$[500]**
_Estimated Timeline Required to Complete the Task:_ **[4 weeks]**
_How will we measure completion?_ **[Post Links and Screen shots]**

S

[2017-12-05 22:57] ResonanceXX commented on #197
Other Coop members can add bits of information about the same thing.

[2017-12-05 23:16] ResonanceXX commented on #197
Here the response

https://www.quora.com/What-is-rchain-all-about/answer/Christian-ThankGod?share=2bbef2f2&srid=50Tjl

[2017-12-05 23:28] ResonanceXX commented on #197
Generating information demand?

https://www.quora.com/anonymous/09650550f7604f448d5b2463aa0b1e3e

[2017-12-06 07:56] traviagio commented on #154
I usually do the research and build a story line and basic sketching. Then I send it over to a designer to build it and later I would pitch it to major publications. Let me see what I can do.

[2017-12-06 08:04] ResonanceXX commented on #194
HJ I suppose this could work.

https://docs.google.com/document/d/1JZR5t88dtdcMtn5ICoeQxkK6imLh-iSVS1O8yS9As6w/edit?usp=drivesdk

[2017-12-06 10:08] Ojimadu commented on #186
The new invoicing requires a tax form to be filled before rewards can be sent. For US residents and aliens that might not be a problem but for Non-US residents how do they go about that? Also, is there a way to auto-generate invoices based on the usernames on the spreadsheet so it would be faster and easier to submit the invoices?

[2017-12-06 11:51] lapin7 commented on #186
For non-us-residents it depends per country i think 🤔. It depends whether there exists a tax treaty between the USA and the country of the non-us-resident.

With concern to auto generate an invoice all manual work has to be programmed with a script. Who could do such a thing?

Best,
HJ

[2017-12-06 12:09] kaka56 commented on #195
I just joined but will give the issue a try". Please how do I become a collaborator?

[2017-12-06 16:10] Phistr90 commented on #194
@ResonanceXX Did you intentionally leave out flight expenses as they vary a lot and have to be set on case by case basis?

[2017-12-06 18:15] Rafkraft commented on #156
I everyone, I read the last post

As @ValeBF I'll wait for green light from @ValeBF and @patrick727 to get this coded.

Today I worked on social integration of the website (for facebook and twitter). I added every facebook and twitter metatags (basically title, image and description).

You can have a look here -> https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Frchain.fabco.tec

[2017-12-06 18:57] patrick727 commented on #156
@Rafkraft great work  on the social and about page.

under Cooperative Governance, we will need to clarify the profile and descriptions are the "Board of Directors"

I will start focusing on copy for website soon and provide you with those wordings.

That's a great idea for the documentation page.

Let's create a separate issue for that within this "website" project for that.

[2017-12-06 19:06] patrick727 commented on #189
@ResonanceXX for the governance conference?

We estimating 75-100, but that's a very rough number.

[2017-12-06 21:37] ResonanceXX commented on #194
Yeah. There would have to be a list of  location guide. Because naturally do not suppose all attendees are from same state. I'll check the average costs of travel to both probable host cities.  Thank you. 
- ResonanceXX

Sent from Yahoo Mail on Android

  On Wed, 6 Dec 2017 at 17:10, Phistr90<notifications@github.com> wrote:
@ResonanceXX Did you intentionally leave out flight expenses as they vary

[2017-12-07 01:32] sportshark commented on #196
Great! Many Chinese are waiting for the newsletter,I will translate it as soon as possible when you're done

[2017-12-07 05:11] Ojimadu commented on #196
The draft seems okay. Please post a comment here when you update with content.

[2017-12-07 11:12] Ojimadu commented on #188
The white paper [here](https://github.com/metacurrency/holochain/blob/whitepaper/holochain.pdf) can be  a good resource. Quite technical for me yet. Also the FAQ might help. I think it has element of concurrency (actor model) as RChain.

[2017-12-07 11:52] kaka56 commented on #197
The idea is so great because most questions are been answerable so people tend to  check the site in search 4 knowledge

[2017-12-07 13:02] lapin7 commented on #197
That’s true. Quora is great

Sent from my iPhone

[2017-12-07 13:53] patrick727 commented on #197
This is a great idea! I've been answering whatever blockchain questions on quora I could link to rchain and it gets consistent traffic see(and upvote):

[What is the best programming language to program the blockchain](https://www.quora.com/What-is-the-best-programming-language-to-learn-if-you-want-to-work-on-the-blockchain/answer/Patrick-Maguire-22)

[What is the next ethereum?](https://www.quora

[2017-12-07 13:55] patrick727 commented on #196
Thanks @Ojimadu will do!

I'd remove any links to slack, we are actively moving away from slack.

Yes this draft isn't populated yet, Id encourage members to propose news topics for me to cover in there.

[2017-12-07 13:55] ResonanceXX commented on #197
Very impressive, must say. I'll get back with more. Cheers. 

Sent from Yahoo Mail on Android

  On Thu, 7 Dec 2017 at 14:53, patrick727<notifications@github.com> wrote:
This is a great idea! I've been answering whatever blockchain questions on quora I could link to rchain and it gets consistent traffic see(and upvote):

What is the best programming language to program the blockchain

What is the

[2017-12-07 14:10] Mervyn853 commented on #197
Great idea here @ResonanceXX , that will help to drive inbound traffic from a really targeted audience together with some decent inbound links. I will get started on some of these questions too.

[2017-12-07 14:11] ResonanceXX commented on #197
Sure Merv. All the best while you're at it. 

Sent from Yahoo Mail on Android

  On Thu, 7 Dec 2017 at 15:10, Mervyn853<notifications@github.com> wrote:
Great idea here @ResonanceXX , that will help to drive inbound traffic from a really targeted audience together with some decent inbound links. I will get started on some of these questions too.

—
You are receiving this because you were mentioned

[2017-12-07 14:15] Mervyn853 commented on #196
@patrick727 I have created a official links page here : https://github.com/rchain/Members/blob/master/projects/Links%20to%20Official%20Channels.md as per  @kitblake suggestions.

Please help to update the links in there if they get outdated and update them with the new ones. Going forward, anyone can reference that as a resource for all our official RChain Coop Channels.

[2017-12-07 18:17] patrick727 commented on #189
Hello everyone fill out this form for the location that we choose. Deadline will be 12/27/2017

https://goo.gl/forms/x4766jd6o66jSsUh2

[2017-12-07 19:28] kitblake commented on #182
The reward campaign seems to be working. We informed the 300th Telegram member that, if he becomes a Member of the Co-op, he'll get a 300 RHOC reward. He checked it out and said he'd join.

We need to get the transaction logistics worked out. I would suggest that we create a wallet for the reward payouts, share the private key with a couple operators and ops, transfer 5500 RHOCs into it, and dole

[2017-12-07 19:32] kitblake commented on #197
Upvoted the answers on Quora. Please share any others that need some love.

[2017-12-07 20:00] Kencode7 commented on #195
I am willing to handle this. How do I get the doc.?

[2017-12-07 23:12] ResonanceXX commented on #197
@kitblakehttps://www.quora.com/anonymous/0ec36fefc26b461bba46ccde7d0a486e

Give this one a try

[2017-12-07 23:30] lapin7 commented on #182
For coop-payments there's already a multisig Gnosis wallet. I can just
enter the payment to the winning address. And Kenny can approve. Then the
payment will be send.
A few month a go, I could do it on my own. With the PRE-member
registration. People send in about $20 worth of BTC or ETH for the member
fee. And they got a 100 RHOC in return. It went into the accounting books
and all was fine.

--

[2017-12-08 06:31] sportshark commented on #100
Hello,I have translated the FAQ to Chinese,You can see it here
https://docs.google.com/document/d/1nXAMWJg9nCkHRfFBXt0JiunjWnT0m4v90WFxNq0d_os/edit?usp=sharing

If there is no problem, I will release it to the Chinese Web site in 2 days. It is convenient for Chinese to understand RChain

[2017-12-08 06:58] kitblake commented on #182
Sending payments from the Gnosis wallet won't have the reaction speed that we'd prefer for the Telegram environment, but since the rewards require Member registration and KYC verification that will create a slower process anyway.

So: once the new milestone Member has been verified, a Telegram operator will collect and pass the payment address to Ops. Then, when the payout has been sent, the opera

[2017-12-08 07:01] lapin7 commented on #182
OK, then the gnosis wallet will work like a back up and reimburse at the
end of the month to the payer of milestone rewards.

--
Cheers,
HJ

On Fri, Dec 8, 2017 at 7:58 AM, kitblake <notifications@github.com> wrote:

[2017-12-08 07:11] kitblake commented on #182
That's a good idea. Plus it means Ops doesn't take on additional tasks of dealing with reward logistics. The Telegram operators will track and handle that.

[2017-12-08 07:24] kitblake commented on #100
I can't read Chinese but it looks great. The Chinese users will really appreciate it. @sportshark, can we store the Chinese FAQ in Github? The public URL of the English FAQ is:
https://github.com/rchain/reference/blob/master/faq.md
We could create a doc, for instance faq_cn.md, and publish it at:
https://github.com/rchain/reference/blob/master/faq_cn.md
Then in the future, if we have the FAQ in ot

[2017-12-08 08:10] Ojimadu commented on #186
@lapin7 I just did some reading on that and it depends whether tax treaty between the USA and the country of the non-us-resident. The W-8 form seem like the most appropriate for non-US-resident. Please add the instructions on how to fill both the W-9 and W-8 form for ease of use.
[Instructions for Form W-8BEN](https://www.irs.gov/instructions/iw8ben/index.html)
[Instructions for Form W-8BEN](https

[2017-12-08 08:21] sportshark commented on #100
@kitblake Good idea!
The chinese faq that I wrote is part of the faq.md,and I add some othe things what Chinese people care about.So it is not exactly the same as faq.md
According to your proposal, Next,I'm going to write a Chinese FAQ, which is exactly the same as FAQ in English.

[2017-12-08 08:29] kitblake commented on #100
@sportshark Ok, if you wish. But imho it's fine if the Chinese FAQ is slightly different from the English FAQ because it has a different audience. So you don't need to maintain two documents that have a lot of overlap.

[2017-12-08 09:08] sportshark commented on #100
@kitblake Yes，you are right !I will follow your opinion

[2017-12-08 09:43] ResonanceXX commented on #194
@Phistr90  Here are some prices for a round trip ticket to Denver, CO.

Pending the final  collective choice location. This only just guessing.
https://docs.google.com/document/d/1fnEZO5rMC5AMDRBvy1mXZzGYhjVY6LPr_JuV3c-4GQE/edit?usp=drivesdk

[2017-12-08 11:03] kitblake commented on #100
Yeah, the FAQ is a constantly evolving document so minimizing maintenance will pay off :)

The /reference location is a different repository than /Members. So when we think we have an iteration ready we'll do a pull request and somebody with permissions in /reference (usually @n10n) will review and merge. @sportshark, if you don't know Github don't worry, it's pretty simple.

[2017-12-08 11:35] kitblake commented on #197
Done.
(Ha, I was worried that it was a techy question. I'm not technical. Responding to market questions is fine.)

[2017-12-08 12:21] traviagio opened #198 "M> Influencer Outreach / Research Groups/ Directories tracking sheet"
As a background: I asked earlier in the general channel that I want to start outreaching to podcasts/blogs/influencers/directories but I wanted to make sure that it's coordinated effort and that I don't reach out to people you may have already contacted. For example @Mervyn853 did Chainrock and few others did CryptoCompare etc.)

After discussing it over with the marketing group we decided to 1) M

[2017-12-08 17:06] kitblake commented on #115
We have our first scam:
Mervyn, [08.12.17 16:09]
SCAM ALERT: There is a google doc circulating on twitter announcing a crowdsale and airdrop for RChain.

DO NOTE THAT THERE IS NO CROWDSALE AND AIRDROP. PLEASE DO NOT SEND ETH OR FILL UP ANY FORMS RELATED TO RHOC AIRDROPS.

On Telegram I've pinned this message and changed the welcome message to warn new users about it.

Also:
ian, [08.12.17 16:40]
H

[2017-12-08 18:27] patrick727 commented on #156
quick side note: @Rafkraft I can create another issue if this is works out, but would there be a way to do a similar plugin translation option for the RChain Developer wiki https://rchain.atlassian.net/wiki/spaces/CORE/overview ???

[2017-12-08 19:42] patrick727 opened #199 "From Pi Calc to Rholang"
M> Indicates that this is a project within the "Marketing" category
(B) Indicates that this is a Blog post

Goal:

Create a 2-5 blog post educational series taking people from pi calculus > rho calculus > rholang

[2017-12-08 20:19] #75 closed

[2017-12-08 20:20] #74 closed

[2017-12-08 20:20] #73 closed

[2017-12-08 20:21] #69 closed

[2017-12-08 20:50] patrick727 opened #200 "M> Create Assign Other Social Media Channels"
M> Indicates that this is a task within the "Marketing Category"

Goal:

Because of membership activism is the one of the top in the space we can differentiate by hitting the long tail of social media and forums.

Where can we go that others are not?

RChain leeroy?
RChain steemit profile?

hackernews?
others youtube livestreams?

If you frequent random channels let me know, or we can add these to

[2017-12-08 21:27] llerner commented on #198
All, this is great work and much appreciated.

As @leithaus mentioned in the Dev and Community hangouts, I am driving some of our Marketing efforts with @patrick727. I've implemented a CRM to collect and manage communication Partner, investors, media (influencers, bloggers, press, etc.). We'll have one source of truth and this becomes a company asset for contacting third parties.

Fill in what inf

[2017-12-08 22:26] patrick727 commented on #165
For the purpose of team building at scale a larger scale, i have broken up marketing projects into separate projects, some task may bridge two or more which will create sociocratic links between the co-operators who drive it.

[2017-12-08 22:30] patrick727 commented on #165
For the purpose of easier reporting on budgets and KPI's, @lapin7 gave me the idea for an easy naming scheme for issues that we can use to sort the decentralized budget system.

M> indicates Marketing
O> indicates Operations
F> indicates Finance
L> indicates Legal
D> indicates Development

[2017-12-08 22:38] ResonanceXX commented on #165
Great move it is. Makes sense to compartmentalize these information. As we grow they could also be departments with specifics attached to them. 

Sent from Yahoo Mail on Android

  On Fri, 8 Dec 2017 at 23:30, patrick727<notifications@github.com> wrote:
For the purpose of easier reporting on budgets and KPI's, @lapin7 gave me the idea for an easy naming scheme for issues that we can use to sort th

[2017-12-09 00:06] #143 closed

[2017-12-09 00:30] sportshark commented on #115
@kitblake Some Chinese are asking about the crowdsale!So I will tell them this is SCRAM as soon as possible via http://rchain.site and QQ group！

[2017-12-09 02:23] dckc commented on #165
@patrick727 did you consider using issue labels?

[2017-12-09 02:28] dckc commented on #7
This is done to my satisfaction.

If there is more to do, let us know and re-open it.

[2017-12-09 02:28] #7 closed

[2017-12-09 05:43] kitblake commented on #115
[In reply to 北京之东--Andy Li]
Good move @sportshark. The community needs to pounce on these scams and prevent anyone from getting hurt. So far there is no eth at the scammer's address, but the fake form is still online.

If anybody hasn't reported the form yet, please do so, see the forward from @ian above.

[2017-12-09 05:48] kitblake commented on #165
That's a superb suggestion. If the issues are labeled the label works as a filter. So if you click on a "Marketing" label, you get a listing of all Marketing issues.

[2017-12-09 18:46] dckc commented on #115
@kitblake the scam would be better as its own issue, no? Easier to find, easier to mark done, etc. I don't see why it was discussed under this issue.

[2017-12-09 22:00] ResonanceXX commented on #200
@patrick727  Very eager to work on this issues with guidance from yourself.
.Leeroy  and steemit.. Are good platforms to brighten the Rchain brand light.
I'm off to create accounts.

[2017-12-09 22:44] ResonanceXX commented on #200
While my applications for a profile is processed on steam.

Steemit is a wonderful platform where curated contents can also earn money. Owners describe it as a decentralized social network similar to twitter. Cryptocurrency issues, especially of bitcoin was abundant. Now would be a good time for the rhoc to get some "game time"

The only limitation was the coop official email address. Needed to re

[2017-12-09 22:46] llerner commented on #193
@Mervyn853 hi, please direct these to me. I'll find someone or answer it myself. Let's connect offline to follow up. Thank you!

[2017-12-10 05:46] kitblake commented on #115
@dckc Good point!

[2017-12-10 05:46] kitblake opened #201 "O> Google Form scam circulating on Twitter"
We have our first scam:

    Mervyn, [08.12.17 16:09]
    SCAM ALERT: There is a google doc circulating on twitter announcing a crowdsale and airdrop
    for RChain.

    DO NOTE THAT THERE IS NO CROWDSALE AND AIRDROP. PLEASE DO NOT SEND ETH OR FILL UP ANY FORMS
    RELATED TO RHOC AIRDROPS.

On Telegram I've pinned this message and changed the welcome message to warn new users about it.

Also:

[2017-12-10 06:24] ResonanceXX commented on #200
The leeroy Setup requires installing a MetaMask plugin to complete.
Was doing that with my Android device. Would complete with a PC.

[2017-12-10 06:53] kitblake commented on #115
As the next step in the Telegram rollout we've setup an @rchain_test group. The idea is all the @rchain_coop admins can use this test group to practice their skills. Plus we'll use it to test future coupling of bots and integrations. This way the main group doesn't get spammed by mistakes and test messages.

The @rchain_coop group is growing organically (374 members now). When the group goes fully

[2017-12-10 07:00] coininterview commented on #115
Please remove me from this cc

On Sun, Dec 10, 2017 at 07:53 kitblake <notifications@github.com> wrote:

[2017-12-10 13:50] #134 closed

[2017-12-10 15:05] #129 closed

[2017-12-10 15:17] #124 closed

[2017-12-10 15:18] #123 closed

[2017-12-10 15:18] #122 closed

[2017-12-10 15:19] #121 closed

[2017-12-10 15:20] #116 closed

[2017-12-10 15:22] kitblake commented on #192
List of exchanges and statuses:
https://github.com/rchain/Members/issues/29#issue-226203655

[2017-12-10 17:15] Mervyn853 commented on #201
Looks like there are a lot of fake accounts on twitter spamming the same airdrop / crowdsale scam. Please stay vigilant and help to REPORT ABUSE on the Google form too.

https://twitter.com/search?f=tweets&q=rhoc%20airdrop&src=typd

[2017-12-10 19:08] nikhil9865 commented on #201
report spam everyone bottom right on page of this form.

[2017-12-10 19:22] kitblake commented on #201
@patrick727 Can you post a scam alert on the RChain account(s)?
Something like:
SCAM ALERT: There is a Google form circulating on Twitter announcing a crowdsale and airdrop for RChain. THERE IS NO CROWDSALE OR AIRDROP. It's a scam.

[2017-12-11 04:36] Mervyn853 commented on #201
Done on Telegram announcements channel, Reddit and Bitcointalk. Pinned message in Telegram chat has also reflected that.

[2017-12-11 07:01] Ojimadu commented on #195
The above document"Notes on the DAO re-entrancy bug and behavioral types" has been converted and added. More documents would be converted and added. Please documents should be added to this folder https://github.com/rchain/Members/tree/master/Docs

[2017-12-11 07:15] Ojimadu commented on #189
Since the event is expected to last 2-3 days, am more inclined to vote for weekends where more persons would be free and able to attend.

[2017-12-11 07:28] sportshark opened #202 "M> The management and promotion of QQ group in China"
After several months of development, China's QQ group has more than 300 people and is still increasing, and our goal is 1000. At present, QQ group in China has become the most important place for Chinese people to discuss RChain. At present, the group is responsible for the Etan (Chinese name 江南梅). The management and promotion of QQ group every month have become a more time-consuming thing.
Apply

[2017-12-11 07:38] Mervyn853 commented on #202
I support this and will vote for a budget for the work @sportshark , Ethan ,  Mao Zhuang zhuang and the rest are doing to build up the Chinese RChain Community

[2017-12-11 07:43] sportshark commented on #202
@Mervyn853 Thank you very much! You do a lot of work for RChain ,Your work has greatly promoted the development of RChain in the world.

[2017-12-11 08:10] sportshark commented on #126
Hello All,
So far, the site of rchain.site has been running and serving Chinese people. Thank everyone for help. The next step is the operation and maintenance of the site. Please see https://github.com/rchain/Members/issues/173
If everyone has no opinion, I'm applying for closing the Issue and running http://rchain.site on the line.

[2017-12-11 10:04] Ojimadu commented on #201
Lets use this links to report the doc as scam. http://bit.ly/2klgwe4
The spammer maintains multiple accounts on twitter and is actively using them to spam.
I've also sent a message with @kitblake text to patrick on discord. We need to be alert.

[2017-12-11 11:34] Ojimadu commented on #202
I think this issue should be integrated with issue #173 or with issue #115  because it won't be efficient to set a budget for every social media platform and also to avoid redundant budgeting because roles can easily overlap.
@sportshark, you've been of great help in bootstrapping the Chinese community please invite more of your friends to join the coop as the Chinese community is key in our expan

[2017-12-11 11:38] Ojimadu commented on #126
We can close the issue and focus on #173

[2017-12-11 18:17] ResonanceXX commented on #202
@sportshark is a real example to newer collaborators like myself.

[2017-12-11 18:19] ResonanceXX commented on #201
Ill keep sharing the word.

[2017-12-11 19:41] kitblake commented on #192
Starting Dec 12th, RHOCs start trading on [Kucoin](https://www.kucoin.com/). It's a new up and coming exchange with simple email signup, 2fa, friendly UI.

[2017-12-11 19:43] ResonanceXX commented on #192
Cheers!  Great work team.

[2017-12-11 21:39] #111 closed

[2017-12-11 21:45] patrick727 commented on #90
@lapin7 is this issue complete?

[2017-12-11 21:46] patrick727 commented on #89
@jimscarver  i believe that this is a duplicate issue

[2017-12-11 21:47] #89 closed

[2017-12-11 21:50] patrick727 commented on #58
@lapin7 I will close this issue now and we can publish into /reference the process for SOW/Invoices
Re-open for any reason you see fit please.

[2017-12-11 21:50] #58 closed

[2017-12-11 21:51] patrick727 commented on #43
Im going to close this tab because its really general in title and will be hard to assign budgets too.

[2017-12-11 21:51] #43 closed

[2017-12-11 22:38] Ken-dahl commented on #58
Hi HJ - I contributed about 5 hours to Issue # 139 in the Taxonomy document
in November. I went to the Pub Member Budget Allocation-Spending
spreadsheet and thought I would try to make an entry, but it would not
allow me to edit in the spreadsheet. How do I get credit for time spent in
an issue?

Thank you,

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-emai

[2017-12-11 22:44] ResonanceXX commented on #200
Hurray!
Steemit approval has been granted after a somewhat agonising wait.

Profile link was sent. Right now.

https://steemit.com/start/35b1456e47d6c95e54fda40fde
 I'll go ahead to make changes.

[2017-12-12 06:45] Mervyn853 commented on #202
While I agree with @Ojimadu on the inefficiencies of setting up a budget for every platform, I feel that issue #115 is too broad to provide an accurate % of work done seeing that there are so many channels to cover.

I'm personally managing both the telegram channels with @kitblake and @Ojimadu , while also building the community on Reddit and Bitcointalk together with several others. All of which

[2017-12-12 06:51] sportshark commented on #202
@Mervyn853 @Ojimadu I think you are right!

[2017-12-12 08:21] Phistr90 commented on #194
@ResonanceXX I brought up this issue due to the fact that I am from Germany and travel costs will be higher for me. So I guess flight expenses have to be set on case by case basis.

[2017-12-12 08:28] Mervyn853 commented on #197
https://www.quora.com/What-is-an-Rchain-all-about/answer/Mervyn-Chng-2?srid=ulHUf

https://www.quora.com/What-is-an-RHOC-How-valuable-is-it-and-how-is-it-traded/answer/Mervyn-Chng-2?srid=ulHUf

https://www.quora.com/What-is-the-next-Ethereum/answer/Mervyn-Chng-2

Updated with the following answers, please help with upvoting :)

[2017-12-12 09:23] Ojimadu commented on #197
Nice one, would upvote.

[2017-12-12 10:29] lapin7 commented on #58
Dear @Ken-dahl, I have some questions to you:
If you talk about #139, why do you add a comment in #58?
In #139 you're not a participant. Meaning that no comment of your pen has been added.
How should I know that you've been working 5 hours on an issue?
If you can not edit "Pub ....." why don't you ask somebody for helping you out?
Please watch the [explanation video](https://www.youtube.com/watch?

[2017-12-12 12:20] ResonanceXX commented on #197
Have upvoted. Nicely done.

[2017-12-12 12:40] ResonanceXX commented on #194
@Phistr90 Yeah. That would be carefully done.

Although the vote for final location is ongoing.
I do hope you have voted.

[2017-12-12 12:44] Mervyn853 commented on #192
RHOCs can now be purchased at https://www.kucoin.com/

​https://www.kucoin.com/#/trade/RHOC-BTC
https://www.kucoin.com/#/trade/RHOC-ETH

[2017-12-13 15:41] lapin7 commented on #198
@llerner Is it possible to get access to your CRM?
Which application are you using?

[2017-12-13 15:50] Ojimadu commented on #196
This should be fit for the "In the other news" section of the newsletter?
“The attention of the coop has been drawn to a fraudulent google form advertising a crowdsale/airdrop for RHOCs.
DO NOTE THAT THERE IS NO CROWDSALE OR AIRDROP. PLEASE DO NOT SEND ETH OR FILL UP ANY FORMS RELATED TO RHOC CROWDSALE/AIRDROPS.
Please help us to report this phishing scam by clicking the link below:
http://bit.ly/

[2017-12-13 16:04] lapin7 commented on #194
@Phistr90 Please raise the budget for #194 in Gsheet "Pub...." https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=176786742

[2017-12-13 16:07] llerner commented on #198
I’ve taken two licenses for FreshSales. it’s a subscription model, we’re paying for it from Holdings. @edeykholt and I have licenses. I can do exports as needed.

[2017-12-13 16:15] lapin7 commented on #198
In the coop we do some email things with ZoHo.
I suggest to use [HubSpot](https://www.hubspot.com/crm/e010a?utm_content=e010a&utm_term=crm&utm_campaign=Capterra-AllCountries-AllSegs&utm_medium=paid&utm_id=e548a&utm_source=capterra) for the Coop.
It's free and it has more features then FreshSales.
We could now and then do a sync between the two apps

[2017-12-13 16:18] llerner commented on #198
That would have been good to know. I think we should settle on one product and create two instances if necessary. Can we touch base offline and discuss on the needs of the team? Since I am supporting both I'd like to have one way for us to message the community.

I'll ping you on Discord.

[2017-12-13 16:22] patrick727 commented on #165
@kitblake within the reward allocation sheet?

[2017-12-13 16:25] patrick727 commented on #165
This is mainly as an easy way to organize the reward sheet so that we can measure the return on our budgets.

[2017-12-13 16:33] patrick727 commented on #198
For an immediate solution bridging organizations I like @llerner 's suggestion of

Have the existing CRM
Update xl file ongoing

[2017-12-13 16:42] patrick727 commented on #200
@ResonanceXX thanks Chris!

This looks good, feel free to take the lead with this.

It also be awesome if we had a category in steemit, like a subreddit.

[2017-12-13 16:44] patrick727 commented on #196
Good idea will do!

[2017-12-13 17:37] lapin7 commented on #198
Let's talk Monday on a zoom.

[2017-12-13 18:54] Rafkraft commented on #156
The translations document has been done. 😃 Now we'll just have to fill it 😄

Concerning the wiki website and dynamic translations, I don't really know how this atlassian wiki works... If a wiki will be developped like rchain.coop (wiki.rchain.info for example), I guess the developper will figure out how to handle dynamic translations.

[2017-12-13 21:35] ResonanceXX commented on #200
@patrick727 need a password for that. Do you have that?

[2017-12-13 21:39] ResonanceXX commented on #197
https://www.quora.com/unanswered/I-have-300-RHOCs-what-shoud-I-do-with-it

CAN WE GET ANSWERS TO THIS?

[2017-12-13 21:40] ResonanceXX commented on #197
https://www.quora.com/anonymous/f141745174ae4add973acfe0d0f41574

[2017-12-13 23:55] patrick727 commented on #197
answered this one

https://www.quora.com/I-have-300-RHOCs-what-shoud-I-do-with-it/answer/Patrick-Maguire-22?prompt_topic_bio=1

[2017-12-14 00:05] patrick727 commented on #196
Here is the test draft of the newsletter drafted in archive
[link to newsletter](http://archive.sendpulse.com/shc4c/2fbc7244/?_ga=2.53744744.1919355233.1513205746-85970949.1511818720)

[2017-12-14 08:30] ResonanceXX commented on #197
@patrick727 saw that.

an an0nym0us user asked I answered t0 her
https://www.quora.com/I-have-300-RHOCs-what-shoud-I-do-with-it/comment/6499236

[2017-12-14 10:01] ResonanceXX commented on #197
https://www.quora.com/unanswered/What-are-the-advantages-of-the-RHOC-cryptocurrency

an0ther

[2017-12-14 10:19] lapin7 commented on #197
@kaka56 Please send your email to ops@rchain.coop

[2017-12-14 11:17] lapin7 commented on #195
@Kencode7  Awesome that you want to help getting the RChain platform on the rails.
Please send your email to ops@rchain.coop
and because you seem to a new collaborator please read [How to contribute](https://github.com/rchain/Members/blob/master/CONTRIBUTING.md)
thx

[2017-12-14 16:10] lapin7 commented on #193
I think it deserves to be open.

[2017-12-14 16:45] lapin7 commented on #190
@dmsn0067
Great that you want to cooperate on RChain issues. Please read "[How to contribute](https://github.com/rchain/Members/blob/master/CONTRIBUTING.md)"
And raise the budget for #190 in Gsheet "Pub...." https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=176786742
Please send your email address to ops@rchain.coop. Then I send you an invite for rchain@g

[2017-12-14 18:10] lapin7 commented on #165
I can add a column "Label" to the Reward sheet. Let's all try add labels to the issues. And as we get used to this system, we can add also Milestones etc.

[2017-12-14 23:44] Kencode7 commented on #195
Already sent... Thanks @lapin7

[2017-12-15 05:27] sportshark commented on #196
@patrick727 wonderful! I love this news letter!

[2017-12-15 07:30] sportshark commented on #196
@patrick727 wonderful！ I love your newsletter!

[2017-12-15 10:18] ResonanceXX commented on #196
Good job done.
Just a few observations.

The Latin sentence could be in italics.
The word /procesess's/ is quite incorrect. Should be revised.

**however if there's  a need for document accessing and proof reading. I can do further work.

[2017-12-15 10:30] ResonanceXX commented on #196
I am willing to help make **minor** adjustments. Because the initial job done is marvelous.

[2017-12-15 13:09] lapin7 opened #203 "Profile page for Member/Activists and KYC"
There's a need for a clear sign up procedure and a self-service to update personal profiles.
The personal profile contains following data:
Email
First Name
Middle Name
Last Name
Discord ID
Github ID
Telegram ID
QQI ID
Address
City
State
Country
GPS-location 2 digit (00,00)
Personal folder at GDrive: RChain/Contracts/Contractors/[First Name] [Last Name]
URL to SoW
URL to TaxForm
URL to Invoices
Mai

[2017-12-15 13:18] ResonanceXX commented on #203
Please is this on the github platform?

[2017-12-15 15:06] lapin7 commented on #203
No, I think it should be on the main site https://rchain.coop somewhere.
You login to have access to your profile page. But this still has to be made!!!

[2017-12-15 17:28] kaka56 commented on #197
Thank you @lapin

[2017-12-15 19:24] BelovedAquila commented on #195
I tried adding a document to the link pasted above but had no access. @lapin7 It seems like i would be needing an invitation to collaborate. I have sent my email and github id to you.

[2017-12-16 11:28] #196 closed

[2017-12-16 13:23] patrick727 commented on #196
Thank you @sportshark , @ResonanceXX , and @Ojimadu.
Most of those changes got caught in the editing phase, I did miss the "exerpts" error.

The next newsletter we are planning for 1/3 so I will work on getting it qued up days in advance so that everyone has adequate time to review it.

Cheers

[2017-12-16 13:36] sportshark commented on #173
I have added 11 articles of RChain，and a lot of chinese said they need more chinese papers to know about the RChain.
 Also I have sent the link of rchain.site to other chinese QQ groups.It will make more and more people to know RChain.

[2017-12-16 13:47] sportshark commented on #100
@patrick727 hello,I have translated the Newsletter December 14th 2017,
https://docs.google.com/document/d/1vVxpWZrJq463Gs9WHtCf-PYKSAKuyJocESu2EWABsWk/edit
You can find the Chinese Newsletter here
https://drive.google.com/file/d/1nvMSGD-7-sBvCG2RZnYufhPKaHm8m2Vk/view?usp=sharing

[2017-12-16 13:53] Ojimadu commented on #173
Nice work.

[2017-12-16 15:45] patrick727 opened #204 "M> Newsletter - January 3rd, 2017"
[Here is the template for the next newsletter to be published Jan, 3rd](https://docs.google.com/document/d/1iyLXDfiGDQsis_Ynz_ZHoo1TuxjVYF2dfB-aaWBPMYQ/edit#)

[2017-12-16 15:48] ResonanceXX commented on #204
Should work commence? Would be  Willing to collaborate. 

Sent from Yahoo Mail on Android

  On Sat, 16 Dec 2017 at 16:45, patrick727<notifications@github.com> wrote:
Here is the template for the next newsletter to be published Jan, 3rd

https://docs.google.com/document/d/1iyLXDfiGDQsis_Ynz_ZHoo1TuxjVYF2dfB-aaWBPMYQ/edit#

—
You are receiving this because you are subscribed to this thread.
Reply t

[2017-12-16 16:06] Ojimadu commented on #204
Sure, the earlier the better. :)

[2017-12-17 12:43] sportshark commented on #180
Well done! I'm going to add what I know about it, just as I'm just studying this.

[2017-12-18 00:57] phluid commented on #148
I guess the logo is already being pushed through, but I'll leave my concept based on the UTF8 character based approach, and particularly "℞"

![800](https://i.imgur.com/b2OLplW.png)
![128](https://i.imgur.com/fG166ZR.png)
![64](https://i.imgur.com/4NjLaHu.png)
![32hand](https://i.imgur.com/FNpjWHs.png)
![greyscale](https://i.imgur.com/ZAryupQ.png)

Closest variations of this particular concept
![V

[2017-12-18 06:20] Ojimadu commented on #198
@lapin7 what time is the meeting today?

[2017-12-18 06:27] ResonanceXX commented on #198
I saw somewhere 7am PDT. Which is about +8 Hours on the GMT.

  On Mon, 18 Dec 2017 at 7:20, Ojimadu<notifications@github.com> wrote:
@lapin7 what time is the meeting today?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-18 06:32] Ojimadu commented on #198
That's for a different meeting.

[2017-12-18 06:33] ResonanceXX commented on #198
Okay. I understand. 

Sent from Yahoo Mail on Android

  On Mon, 18 Dec 2017 at 7:32, Ojimadu<notifications@github.com> wrote:
That's for a different meeting.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-18 07:42] traviagio commented on #198
@llerner the excel sheet you shared only contains one entry. Is this correct or did you mean to send another one?

[2017-12-18 22:38] llerner commented on #198
It’s for others to fill in the contacts they’ve received. It’s there as an example.

Sorry for some reason notifications are coming late to me.

========================
Lawrence I Lerner
o/m: 630.248.0663
lawrencelerner@gmail.com

Blog: lawrenceilerner.com
 <http://www.lawrenceilerner.com/>twitter: RevInnovator <https://twitter.com/#!/RevInnovator>

On Dec 17, 2017, at 23:42 , Georgi Georgiev <no

[2017-12-19 06:38] sportshark commented on #192
RHOC listed at https://decentrex.com/#RHOC-ETH

[2017-12-19 06:41] sportshark commented on #173
published the Newsletter 12.13  http://www.rchain.site/?p=83 and send link to the community discussion group

[2017-12-19 14:10] patrick727 opened #205 "M> Thoughts on "Blockchain Governance""
Let's reach out to industry professionals and get their thoughts on blockchain governance.

It could be a paragraph or it could be an in depth article.

We will use this to build buzz for the blockchain governance conference

[2017-12-19 14:11] patrick727 commented on #205
Joe Blankenship will be doing a guest post with his thoughts on blockchain governance

His work can be found here https://github.com/joeblankenship1

[2017-12-19 17:12] ResonanceXX commented on #197
If Bitcoin is cryptocurrency 1.0 and Ethereum is cryptocurrency 2.0, which is the cryptocurre… by Christian ThankGod https://www.quora.com/If-Bitcoin-is-cryptocurrency-1-0-and-Ethereum-is-cryptocurrency-2-0-which-is-the-cryptocurrency-3-0/answer/Christian-ThankGod?share=042c6654&srid=50Tjl

[2017-12-19 17:13] ResonanceXX commented on #197
This answer has got RHOC mentioned on a similar thread where other up and coming cryptocurrency are mentioned on quora.
I expect a lot of exposure and inquiry.

[2017-12-19 17:17] Ojimadu commented on #197
Please edit your answer. There was no ICO, RHOCs are not listed on coinbase and it's KuCoin not kukoin

[2017-12-19 17:19] ResonanceXX commented on #197
Yeah about that. I based my answers more on what I felt. With the presiding authority to source more accurate answers. It is very important that people who have prior information assist in answering these questions. 

Sent from Yahoo Mail on Android

  On Tue, 19 Dec 2017 at 18:17, Ojimadu<notifications@github.com> wrote:
Please edit your answer. There was no ICO, RHOCs are not listed on coinbase

[2017-12-19 17:23] ResonanceXX commented on #197
Check to see if the revised answers are more conformant. 

Sent from Yahoo Mail on Android

  On Tue, 19 Dec 2017 at 18:19, Kenechukwu Oliaku<kenechukwuoliaku@yahoo.com> wrote:   Yeah about that. I based my answers more on what I felt. With the presiding authority to source more accurate answers. It is very important that people who have prior information assist in answering these questions. 

Sen

[2017-12-19 17:23] ResonanceXX commented on #197
Thank you.

[2017-12-19 17:27] Ojimadu commented on #197
I think you should remove the ICO thing and instead use "a private sale was held in October". Listing EtherDelta as an exchange too won't be bad even though some complain about it being a little technical.

[2017-12-19 17:32] ResonanceXX commented on #197
@Ojimadu I have made these modifications. Listed etherdelta but made no mention of difficulty. I presume the other info is accurate and acceptable.

[2017-12-20 11:16] lapin7 opened #206 "O> Chantal as host of member debrief meeting"
@dcpnlau is invited to host the weekly member debrief meeting
She will:
- act as the chairman
- host the meeting
- make summaries
- prepare newsletter updates
- and more

[2017-12-20 11:32] ResonanceXX commented on #206
Best of luck to her. Well done.

[2017-12-21 04:29] Kencode7 commented on #195
unable to upload converted files to the folder https://github.com/rchain/Members/tree/master/Docs

[2017-12-21 07:03] traviagio commented on #198
@llerner can you add it to Google Docs then rather than excel file? That way I can just point the e-mails section from this the current list to your sheet.

[2017-12-21 07:06] Ojimadu commented on #195
What's the feedback you get?

[2017-12-21 11:10] lapin7 commented on #195
Please help him out. I don’t know how that works.

Sent from my iPhone

[2017-12-21 16:21] patrick727 commented on #204
@Ojimadu yes typically its every two weeks

but because of the holidays this next will go out on the 3rd

[2017-12-21 16:23] patrick727 commented on #204
@ResonanceXX the earlier we start on it the better, please add your suggestions

[2017-12-21 16:31] kaka56 commented on #206
That's a very good effort. All the best.

[2017-12-21 17:17] ResonanceXX commented on #205
[Block.docx](https://github.com/rchain/Members/files/1579964/Block.docx)

This is a little summary of Fred Ehrsam's views.

[2017-12-21 17:35] ResonanceXX commented on #204
Yeah @patrick727 I am solidly in support of this initiative. I wish not to make wild guesses. Reviewing the previous Newsletter. Get back to you.

[2017-12-21 17:46] patrick727 commented on #204
Awesome,

so as to not make wild guess's look at the debriefs and then formulate information around the themes described in the debriefs.

for example, the last hangout there was big news about the developer site, rholang .2 specs, and node.hello release all coming, so that would be good to expand upon.

[2017-12-21 17:49] patrick727 commented on #205
@ResonanceXX is this original content?

Would be cool if you reached to him and got permission to post this, or asked him to expand his thoughts on this summary for a guest post on our medium.

good work!

[2017-12-21 17:54] ResonanceXX commented on #204
Just to be completely precise. where can I access those?

[2017-12-21 17:57] patrick727 commented on #204
Sure, the releases arent going to be available until January but you can see the hangouts on Youtube.
https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w

Also see the timestamped summaries for easier searching.
https://github.com/rchain/Members/wiki/Weekly-Debrief-Index

[2017-12-21 19:47] #159 closed

[2017-12-21 19:51] dckc commented on #177
Since https://rholang.rchain.coop/ actually exists, I think it's important to keep track of. #159 was closed, so I'm emphasizing it here.

[2017-12-22 01:24] sportshark commented on #204
Great, I will translate it!

[2017-12-22 14:46] patrick727 opened #207 "Blockchain Governance Group"
Kevin had a great idea of forming a counsel that includes members of various organizations to participate in blockchain governance R&D and thought leadership

[2017-12-22 18:31] ResonanceXX commented on #207
But, does this not negate the core principles of  a "decentralized governance." Since a new hierarchy consisting of a select few form this counsel. Other Developers may feel left out and without power. Also several other small players in the Block chain may be without adequate resources, information and persuasion to join. 

  On Fri, 22 Dec 2017 at 15:46, patrick727<notifications@github.com> wrot

[2017-12-23 04:35] sportshark commented on #173
published the news of Node.Hello http://www.rchain.site/?p=85 and send link to the community discussion

[2017-12-23 04:39] sportshark commented on #173
Add RHOC trade links https://www.kucoin.com/#/trade.pro/RHOC-ETH on the rchain.site

[2017-12-23 13:48] kdvalentine commented on #189
As of the last Governance Committee meeting the plans for the Governance Forum are as follows:

Date: | February 15, 16, 17, and 18
Location: | Seattle
Venue: | TBD
Agenda: | Work in progress

[2017-12-23 13:54] kdvalentine commented on #207
@ResonanceXX I concern for exclusion is fair. The thought here is to discuss paths towards best practices. The counsel would be inclusive to blockchain projects, academia, government, not-for-profit organizations and developers. Since this is a very nascent subject, collaboration across segments may prove useful in establishing best practices. Especially with regard to cooperative governance which

[2017-12-23 15:48] ResonanceXX commented on #189
Oh nice one. Seattle, the "Jet city."

Sent from Yahoo Mail on Android

  On Sat, 23 Dec 2017 at 14:48, Kevin Valentine<notifications@github.com> wrote:
As of the last Governance Committee meeting the plans for the Governance Forum are as follows:

Date: | February 15, 16, 17, and 18
Location: | Seattle
Venue: | TBD
Agenda: | Work in progress

—
You are receiving this because you were mentioned.
R

[2017-12-23 20:09] jimscarver opened #208 "Peer learning, work groups and open meetings"
Running peer learning sessions and recruting coaches and students.  Consider adopting and adapting tools such as "Meet for good" to enable scheduling of peer learning, work groups and open meetings in the coop. Organize a peer learning program.

[2017-12-23 22:58] Ojimadu commented on #203
@patrick727 along with the developer should have access to the back-end of the [website](member.rchain.coop). These updates are necessary for updating personal information of the coop members would call patrick's attention to it.
@lapin7 If this data fields are updated on the website there will be need for members to update their information on the coop's website.

[2017-12-23 23:19] nikhil9865 commented on #190
@lapin7  Thats my email id in response

[2017-12-24 02:10] dmsn0067 commented on #190
@lapin7 Email sent

[2017-12-24 05:01] Ojimadu commented on #193
@Mervyn853 Has anyone been able to talk to chainrock? When I last read the review I couldn't find any definitive concern about the technology except a subjective one. If there are concerns concerning the tech we can get to set up an interview with Nash foster.

[2017-12-24 05:03] Mervyn853 commented on #193
Yes. Me and Lawrence are in contact with Don. Will work to schedule something since Nash has volunteered to take on interviews.

[2017-12-24 05:05] Ojimadu commented on #193
Is Don from chainrock?

[2017-12-24 05:09] Mervyn853 commented on #193
Yes @Ojimadu . Also, I might have more reviews coming in, will update again.

[2017-12-24 05:12] Ojimadu commented on #198
@traviagio You can update the file with the xls sheet with the one posted by llerner above. He requested that to be done by the person managing the first sheet we were using.

[2017-12-24 05:51] Ojimadu commented on #148
This is coming quite late just incase this logo has not been submitted to the board.
I share some sentiments with @drbloom last post. Circular logos are 'a dollar, a dozen', they are quite plenty While the image posted by @ValeBF and @kitblake is good I fear we might have a very similar logo. Take a look at vodafone's and Der-Grune-Punkt's logo it is somewhat similar to what we have. If we can add

[2017-12-24 06:08] Ojimadu commented on #195
@Kencode7 Do not use the 'upload files' button. Go to the folder posted above and click on 'Create new files' that should do the fix.

[2017-12-24 06:16] Ojimadu commented on #173
Why not add the BTC trade links instead of ETH since we already have ETH on ED or better still add both.

[2017-12-24 06:23] BelovedAquila commented on #207
Kevin has a great  idea,the formation of such counsel is a good step ahead, it would out spread Rchain broadly and make it possible for useful and developmental information  to spread and be shared,because  information remains power and remains it's sole communication is its key.

[2017-12-24 19:32] lapin7 commented on #203
I think this could go through a google form.

--
Cheers,
HJ

On Sat, Dec 23, 2017 at 11:58 PM, Ojimadu <notifications@github.com> wrote:

[2017-12-25 02:43] jimscarver opened #209 "Explore solutions for member voting"
https://www.coindesk.com/voting-scheme-ethereum-doesnt-give-away-vote/

[2017-12-25 07:14] #179 closed

[2017-12-25 14:28] sportshark commented on #173
@Ojimadu I have updated the reddit link  and add bitcointalk ann page.At the same time I changed the 'blochchain' to 'blockchain','FQA' to 'FAQ'. Thank you for your advice.
Of course, I'll add the BTC trade links next. Don't worry about it.

[2017-12-25 16:20] lapin7 opened #210 "Onboarding request: flesh out your discord profile"
Onboarding request: flesh out your discord profile a little, everybody. bonus points for your "how I came to RChain" story. But a linkedin profile would be great to keep names / faces straight.
Example item on http://www.madmode.com/
( hint: it will go under http://www.madmode.com/search/label/capabilities/ )

$4000

[2017-12-26 02:16] kitblake commented on #210
A way to provide links to existing profiles (LinkedIn, Twitter, Medium, Github, personal blog, whatever) would be useful, especially for those in the oh-no-yet-another-profile group.

[2017-12-26 06:32] sportshark commented on #100
hello All I have translated the News
https://www.reddit.com/r/RChain/comments/7lo003/rchain_prealpha_hellonode_v01_software_released/
You  can find the Chinese news here
https://docs.google.com/document/d/1exmlAmlu43TGoPpCWhdF8M5lTlwLnvB9zdtkKLRl2i4/edit?usp=sharing

[2017-12-26 06:36] sportshark commented on #100
@kitblake hello I have finished the FAQ translation you can find it here
https://drive.google.com/file/d/1a1VAdLxpWyzUR5tJ7NPeunk1rlhVZIav/view?usp=sharing
plz review it ,if all is ok I will do a pull request

[2017-12-26 06:41] sportshark commented on #173
Add RHOC trade links https://www.kucoin.com/#/trade/RHOC-BTC on the rchain.site
@Ojimadu this is what you want.

[2017-12-26 10:06] kitblake commented on #100
@sportshark Looking good! Really cool to see this content in Chinese. I'm not sure where the "Members" section is (but I can only read URLs and things with English, and I don't see a link to CONTRIBUTING.md).

Let's both change the description of the Discord server. ok? There is only one now, so I've removed the word 'private' from any descriptions. The only link should be: https://discord.gg/fvY8

[2017-12-26 12:21] BelovedAquila commented on #176
@dckc how does it go please, want to see what contributions I can make to help resolve this issue

[2017-12-26 12:23] BelovedAquila commented on #176
@MParlikar please would likewise want to know how to engage and be assigned to a ROS please .

[2017-12-26 12:47] jimscarver commented on #15
onboarding krishna to myetherwallet and metamask https://youtu.be/S1b8x4NxwtA
it turned our he knew nothing about rchain or blockchain but wants to learn and earn.
What are recommended videos or other resources for this task?

[2017-12-26 14:04] BelovedAquila opened #211 "Brief but elaborate enlightenment of prospective collaborators on Github Rchain cooperative via a group or forum."
Good Day,

I (Beloved Aquila)  think Rchain needs more hands on deck for its issues to be effectively HANDLED, resolved  and managed.
OBSERVATION AND PROBLEM :
Having observed that there are much issues to be resolve and little or not enough hands to handle them or storm on them till it's resolutions are ascertained. I resolved to think on the reasons, because "If there is a problem, there is defi

[2017-12-26 15:33] lapin7 commented on #211
Nice observation. Now go ahead and change  things as you see fit. See what you can do yourself in solving issues. Invite also your friends. Organize yourself to be effective. Most things are not clear. They only become clear when people start doing things. New structures or platforms won’t help a lot.

Sent from my iPhone

[2017-12-26 15:44] dckc commented on #176
@BelovedAquila which of the Jira bounties most interests you?

Before you start making any changes, have you checked out the code and gotten the tests running in your development environment?

[2017-12-26 16:00] patrick727 commented on #188
@jimscarver i see a reminder for the meeting but how can one join?

[2017-12-26 17:03] Keaycee commented on #133
Hi Patrick
I could not find any summary on the above topic written by Kenny Rowe. Please if you do have a link to the above topic, it will be very needed.

[2017-12-26 19:38] BelovedAquila commented on #211
Yes, very much helpful, thank you @lapin7 I think I do understand better now, thank you much.

[2017-12-26 21:57] patrick727 commented on #204
We will also want to create the newsletters in markdown and upload them to github the same day they are released to the public.

[2017-12-26 22:11] n10n commented on #204
Here is link to the last weeks version: https://github.com/rchain/reference/blob/master/newsletters/20171214.md

[2017-12-27 01:14] sportshark commented on #100
@kitblake Good idea! I will follow your advice

[2017-12-27 01:27] dcpnlau commented on #206
Hi Everyone,

Nice to meet you and thanks for the introduction.

I will kick off hosting the weekly meeting in January. I am based in Sydney
so time difference can make meetings slightly challenging. Can you
therefore let me know which of the below works best for you - day and time
with most votes win:

Tuesday 8:30am CET
Tuesday 9:30am CET
Wednesday 8:30am CET
Wednesday 9:30am CET

I understand t

[2017-12-27 09:54] vishyim commented on #206
Hi Chantal

Nice to meet you :)

I could help with digital marketing and white hat Seo (area of expertise)
and am also very proficient in WordPress development and setup.

Happy to help as needed

Best
Vishal
YetiYogi.com

On Wed, 27 Dec 2017 at 6:57 AM, dcpnlau <notifications@github.com> wrote:

[2017-12-27 10:08] ResonanceXX commented on #211
Agree with Lapin7. Aquila try to solve problems, not see problems. The world is not good for anybody. 

Sent from Yahoo Mail on Android

  On Tue, 26 Dec 2017 at 20:38, BelovedAquila<notifications@github.com> wrote:
Yes, very much helpful, thank you @lapin7 I think I do understand better now, thank you much.

—
You are receiving this because you are subscribed to this thread.
Reply to this email d

[2017-12-27 10:38] ResonanceXX opened #212 "RHOC Missing In Wikipedia's Official List Of Cryptocurrency."
I came by this problem about two weeks ago. Since that time, howbeit painstakingly, I have applied to Wikipedia for Editor powers. Seemed my Regional location was not eligible.

The good news however is this: I have gotten provisional authority to edit the page, include the RHOC and give it plenty of exposure.
All of this would not have been possible if I had not searched for such a vague informat

[2017-12-27 10:38] BelovedAquila commented on #176
@dckc no I haven't how do I do that

[2017-12-27 10:44] BelovedAquila commented on #211
@resonance I understand, thank you.

[2017-12-27 11:45] kitblake commented on #211
Thanks @BelovedAquila, it's always hard to know what newbies experience, and the first steps when joining a community are important. In the comm channels we send interested people to https://github.com/rchain/Members/blob/master/CONTRIBUTING.md. It's a long document but it needs to be complete. The intention is to ease newbies into the collaboration process. Its content should be continuously impr

[2017-12-27 12:01] Ojimadu commented on #204
I just added the news about Node.Hello release to the newsletter. It is an edited copy from a post of Nash foster.
@n10n Uploading to that repository would require some privileges to be granted to @patrick727 since he sends out the newsletters or if you don't mind doing the uploads yourself you can.

[2017-12-27 12:09] BelovedAquila commented on #211
@kitblake yes yes yes, just saw it, it's OK, though it actually needs to be completed, how can one go about its completion please ?. Those links to are paramount to create broad understanding for newbies.

[2017-12-27 13:58] lapin7 commented on #206
For your questions I could make a google form.

Sent from my iPhone

[2017-12-27 14:36] patrick727 commented on #206
Hey @dcpnlau nice to have you on Board!

I currently help with a lot of the digital marketing and community building activities.

Cheers

[2017-12-27 16:32] kitblake commented on #211
Various people maintain the doc. You're welcome to edit. it's a collaborative effort.

[2017-12-27 18:41] patrick727 commented on #206
hey @dcpnlau can ypou put your availability into this?

https://meeting.freecodecamp.org/event/5a43e8221f9aac1956bb5fe0

[2017-12-27 22:34] dckc commented on #211
Is this issue resolved? https://github.com/rchain/Members/issues/211#issuecomment-354005235 makes it look like yes, it is.

If it's not resolved, go ahead and reopen it and explain what the next step is.

[2017-12-27 22:34] #211 closed

[2017-12-27 22:49] dckc commented on #176
@BelovedAquila this issue is about collaborative software development in scala (or perhaps C++). Do you have experience with that? I can't tell from your github profile whether you do.

You check out the code like any other github project; see [Propose changes to someone else's project](https://help.github.com/articles/fork-a-repo/#propose-changes-to-someone-elses-project). Then use [sbt test](htt

[2017-12-27 23:22] n10n commented on #212
Can you please add wiki link also?

[2017-12-27 23:51] dckc commented on #212
applied to Wikipedia for Editor powers? I'm not familiar with that process. Anyone can edit any wikipedia page, no?

I see a https://en.wikipedia.org/wiki/List_of_cryptocurrencies page. I don't see RHOC there. I wonder if it's sufficiently [noteable](https://en.wikipedia.org/wiki/Wikipedia:Notability). Ah... "The notability guidelines do not apply to contents of articles or lists". So I started to

[2017-12-27 23:53] dckc commented on #195
Why convert "Notes on the DAO ..."? What's wrong with the google doc as it is?

[2017-12-27 23:57] ResonanceXX commented on #212
Exactly. I was on the exact same level of work. Was unable to add update(recently fell ill) "We can push for RHOC publication by drawing attention to some of our "good media"
Media marketing can help us with articles from just about any competent blog, website, Cryptocurrency expert around. 
Nice work Dan, All. Myself too. Quick recovery to me too. 

Sent from Yahoo Mail on Android

  On Thu, 28 D

[2017-12-27 23:59] ResonanceXX commented on #212
Also Dan. You're able to Edit liberally because of the location of your IP. Where I am, this powers so not exist so liberally. We have to apply for them.

[2017-12-28 00:11] dckc commented on #212
Wikipedia's stated [editing policy][1] is:

So you don't need to apply to them. Is there some other party between you and Wikipedia that you need to apply to? Would you care to share a pointer to this application process?

Have you tried [creating a wikipedia account][2]? (for reference, the user page for my account is https://en.wikipedia.org/wiki/User:DanConnolly )

[1]: https://en.wikipedia.org

[2017-12-28 00:50] ResonanceXX commented on #212
![screenshot_20171228-014844](https://user-images.githubusercontent.com/34219332/34396922-732db662-eb71-11e7-97dd-a374a0406401.png)
@dckc
![screenshot_20171228-014829](https://user-images.githubusercontent.com/34219332/34396921-6b30758a-eb71-11e7-9dff-d9dd6c6caeb0.png)

[2017-12-28 00:54] ResonanceXX commented on #212
![img_20171228_015322_191](https://user-images.githubusercontent.com/34219332/34396985-ed777fe8-eb71-11e7-99cd-0b3685e40f0c.jpg)
![screenshot_20171228-014844](https://user-images.githubusercontent.com/34219332/34396990-f552b8e0-eb71-11e7-820b-278270114f9f.png)

[2017-12-28 00:55] ResonanceXX commented on #212
@dckc This was the reason! Deleting your previous comment was unintentional. Did I have it mixed up? Was there an easier way to go about things that I didn't?

[2017-12-28 08:50] Ojimadu commented on #173
Yes, Nicely done.

[2017-12-28 09:51] Ojimadu commented on #206
A google form would make it easier to collate and analyse data. Welcome aboard @dcpnlau

[2017-12-28 14:37] #126 closed

[2017-12-28 14:52] Viraculous opened #213 "M>RChain; Why Cooperative?"
Hello good day all. I was introduced to the RChain cooperative by @Ojimadu  and have had quite a thrilling experience exploring through the global economy of blockchain technology. That of the Rchain cooperative particularly caught my interest more for using a cooperative model because I have had an academic background on Cooperative Economics and Management and currently on Economics. I wish to p

[2017-12-28 15:01] llerner commented on #213
@Viraculous thanks for taking time to write this piece. I'll review it from a Marketing perspective and help circulate as appropriate.
Please ping me off list. I'd like to understand your background a bit better and see if there is other collaboration we can work on.

[2017-12-28 15:08] Viraculous commented on #213
OK. @llerner

[2017-12-28 15:48] n10n opened #214 "M> Consolidating channel (social) media links"
https://github.com/rchain/Members/blob/master/projects/LinksToOfficialChannels.md
and
https://github.com/rchain/reference

Can we consolidate list in one place? and reference on page everywhere. We have these links in many places and some of them are old/outdated. Please send a pull request for "reference" repo.

[2017-12-28 16:31] n10n commented on #213
Interesting article if they are same https://drive.google.com/open?id=15bSRb-38TtMU5o47eqZ0ihKK8QGbpTun. Sent you access request for the original article.

[2017-12-28 16:47] dckc commented on #212
OK... the [blocking policy](https://en.wikipedia.org/wiki/Wikipedia:Blocking_policy) is new to me. I wrote a [request to reconsider blocking those IP addresses](https://en.wikipedia.org/wiki/User_talk:Primefac#Reconsider_indefinite_block_of_197.210.0.0/16?).

[2017-12-28 16:56] patrick727 commented on #213
cool stuff @Viraculous ! will review.

are you looking to publish this as a contributor to RChain medium or through your own independant source?

[2017-12-28 16:59] BelovedAquila commented on #213
Fabulous piece by @viraculous very insightful and as well understandable, goes a long way in helping newbies understand Rchain better, Nice!

[2017-12-28 17:00] ResonanceXX commented on #212
Abundantly helpful Dan. Wikipedia is an amazing place to be locked out from. 

Sent from Yahoo Mail on Android

  On Thu, 28 Dec 2017 at 17:47, Dan Connolly<notifications@github.com> wrote:
OK... the blocking policy is new to me. I wrote a request to reconsider blocking those IP addresses.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, o

[2017-12-28 18:21] Ojimadu commented on #60
M> Marketing
O> Operations
F> Finance
L> Legal
D> Development

Was thinking of where to add the issues markers above. Whether it should be added to the FAQs or the [contributing.MD](https://github.com/rchain/Members/blob/master/CONTRIBUTING.md) or both.

[2017-12-28 18:32] n10n commented on #60
@kitblake don't see any pull request. Let me know when you have one. Here is another issue that I added. https://github.com/rchain/Members/issues/214.

[2017-12-28 18:39] Viraculous commented on #213
Thanks @patrick727. am looking towards being a contributor in the RChain medium.

[2017-12-28 19:41] kitblake commented on #214
If you're suggesting merging this with the FAQ, I/we don't think that's a good idea. Because:
- Updating the FAQ requires a pull request and it is often out of date, easily for hours and sometimes for many days.
- Usually the channel operators want to send someone to this list only, and not the entire FAQ.
- When a critical issue arises (like EtherDelta getting its DNS hacked) the operators need t

[2017-12-28 20:11] kitblake commented on #60
@n10n that nudge about a pull request on november 28th got merged on december 5th, so we're good. In the meantime there have been more, and they've been merged more quickly (so thanks).

@Ojimadu imho the MOFLD tagging is for internal use, and not for a public facing document like the FAQ. Contributing.md is sorta in between, but more on the public side as it's for newbies.

[2017-12-28 21:51] patrick727 commented on #213
sweet whats your medium username? @Viraculous

Once we do our round of feedback, we can have @plantether review it for grammar etc. and then we can schedule it out.

Is there any way you can do another one about cooperative structures and how they can fit into blockchain governance?

p.s dont forget to propose a budget for this.

Cheers!

[2017-12-28 22:06] patrick727 commented on #173
Great work as always @sportshark and @Ojimadu

[2017-12-28 22:25] dckc commented on #185
I got started with some research and a trivial HTTP server in scala: https://github.com/dckc/rholang-playground e86af15

I got as far as building a single-jar assembly, only to realize the machine I had in mind for initial deployment doesn't have java installed. :-/

Maybe I'll just use python...

[2017-12-29 00:15] dckc commented on #185
ok... I've got a possible deployment path using codenvy: http://node13.codenvy.io:54968/index.html

[2017-12-29 00:42] Viraculous commented on #213
Thank you sir. My user name is Victor Ojimadu. Concerning your question, I will in much that is in me.

[2017-12-29 01:16] n10n commented on #214
@kitblake, I hear your concerns. Lately, I've been paying more attention to Github updates. Going forward will merge pull request quickly and @patrick727 also has access. You will not have issues merging items anymore. Keeping the documents in one place is better than syncing. Let me know what you think.

[2017-12-29 02:41] sportshark commented on #173
published the nows of “Correct-by-construction Casper | A Visualization for the Future of Blockchain Consensus” , you can see it here http://www.rchain.site/?p=88,  send link to the community discussion

[2017-12-29 04:13] kitblake commented on #214
@n10n Great to hear that pull requests and merges will happen quickly! That's a definite friction point in the FAQ workflow and if we can reduce it to hours that would be agile.

The channel list is used in multiple channels. It works like an abridged FAQ and is really handy. Of course when questions arise that aren't answered in the list, then we link directly to the entire FAQ.

When things are

[2017-12-29 08:05] traviagio commented on #198
@Ojimadu  @llerner to keep things simple, we haven't yet and won't be collecting influencer/media contact details in this sheet. For now we will just limit this project to Directories list and Research Groups.

[2017-12-29 09:01] ResonanceXX commented on #208
Always ready to learn from the very best on here!

[2017-12-29 14:23] patrick727 commented on #156
@Rafkraft I inputted a bunch of content to the doc and still awaiting some confirmations for other portions.

[The latest website preview can be found here. ](https://preview.webflow.com/preview/rch-35ecec-60ff624c600ad0-38511c9c61961?preview=a090150234e29526c189d1e0a418907d)Note the color pallete will change, think more about the layout and what color pallets you'd like to see.

[2017-12-29 14:28] patrick727 commented on #70
Here is the calendar that I will be filling in with all related RChain speaking engagements.
https://calendar.google.com/calendar?cid=cmFyZnVuZzRndnE2c3A2NWY3Y2JvbmpzbzhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

[2017-12-29 14:57] llerner commented on #70
The link is taking me somewhere else. My own calendar. @MParlikar also has a speaking calendar. Can we consolidate? I have four events that I will be speaking at in January and the rest of the year is filling up. I'll add ASAP.

I want to give away RHOC cards at each to help make our brand message sticky.

[2017-12-29 15:29] patrick727 commented on #70
yes lets definitely do that. please link to me the calendar that you want it all consolidated under

[2017-12-29 15:33] llerner commented on #70
https://docs.google.com/spreadsheets/d/1WCwsVoV02wqvgDzPYBn2BVLPsen_tKl7IdMpxTVH7Ls/edit#gid=0

Let’s please reduce to one place where we keep all of our events. @MParlikar Can you give @patrick727 access and close down this second one? Thanks

[2017-12-29 17:13] kitblake commented on #156
The new logo looks superb in the website context! I think #3 is a keeper.

[2017-12-29 19:04] patrick727 commented on #204
@Ojimadu thanks

i also went back in and filled it up some, lets get the feedback into that doc so we can finalize it on New Year.

wewh this one is packed, lots to look forward to in 2018

to mercury and beyond!!!

[2017-12-29 19:30] kitblake commented on #214
Just to be clear @n10n, your input is appreciated. It helped us to evolve.

[2017-12-29 19:58] n10n commented on #214
@kitblake I believe I'm missing something from this discussion. Let's have a quick hangout session. Similarly, I see fragmentation in how RChain communicates with the community and similarly, the documentation we need to support it. Let me know the best time, I'm on Seattle, PST.

There can be many channels where the community can interact with each other but we shouldn't have so many official cha

[2017-12-30 07:50] kitblake commented on #214
Quick detail: are you using Telegram on (Mac) desktop? If so, the pinned message doesn't automatically appear. To see it, click on the group header (where it says "580 members"). Then click "< BACK". Then the pinned message will appear. Not sure if this is a feature or a bug..

Most Tg users are on mobile where the pinned message is always visible. Or you can tap it away to conserve space.

In Tel

[2017-12-30 08:10] ResonanceXX commented on #204
Good work guys.
Let's go!  I'm good to proof read, make edits!

[2017-12-30 19:01] Jake-Gillberg commented on #191
Feedback welcome!

Here is a preview for a summary of Day 1 of the retreat. https://medium.com/@jake.gillberg/rchain-developer-retreat-roundup-day-1-759091f53795

[2017-12-30 19:33] n10n commented on #191
@Jake-Gillberg Good work! Looking forward to talking to you.

[2017-12-30 20:48] ResonanceXX commented on #191
Good work Jill!  Still some typo's to weed out. But great thinking. 

Sent from Yahoo Mail on Android

  On Sat, 30 Dec 2017 at 20:33, n10n<notifications@github.com> wrote:
@Jake-Gillberg Good work! Looking forward to talking to you.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-31 12:15] Viraculous commented on #213
Please @patrick727, how do i propose a budget when the issue has not been uploaded to the public member budget-allocation spending?

[2017-12-31 22:15] jimscarver commented on #41
### 2017-12-30

Jim, Gary, Raymond Powell, Kit, Gurinder, Rao

Topics (likely not all items will be completed today - some are future ToDo)

1. Understand Raymond Powell’s (Holochain) requirements, use cases and relationship to DID and Directory service
    1. Node.js? javascript?

2. Get Rchain requirements in (Kit Blake?)
3. Explore funding possibilities, including from Holochain, to meet their

[2018-01-01 01:24] patrick727 commented on #213
@lapin7 may be able to answer that better, But I believe that you can simply input the issue into the sheet

Will look more into things this week if it has not been solved.

happy new year!

[2018-01-01 02:37] Jake-Gillberg commented on #191
@ResonanceXX Gave it another pass and caught a few typos. Let me know specifics if you find any more; thanks!

[2018-01-01 02:38] Jake-Gillberg commented on #191
Published here: https://medium.com/@jake.gillberg/rchain-developer-retreat-roundup-day-1-759091f53795

[2018-01-01 02:40] Jake-Gillberg commented on #191
Oops, nvm. Reopening because we still have days 2 and 3 to summarize and those don't have separate issues.

[2018-01-01 10:12] dckc commented on #191
My write-up might not be exactly on target, but... FWIW:

 - [Smart Contracts and Capabilities Up Close](http://www.madmode.com/2017/rchain-dev-retreat.html)

[2018-01-01 14:08] jimscarver commented on #188
raymond will be in brooksville around jan 20th and we hope to have a meetup in the tampa bay area while he is here @patrick727

activity is in the [holochain mattermst](https://chat.holochain.net/signup_user_complete/?id=uc7j4tp8jbga78nw363gbgqdxc) w.r.t. our collaboration.

[2018-01-01 14:17] patrick727 commented on #191
@Jake-Gillberg please submit the post to the RChain Cooperative medium account

In the future can you submit the draft to the publication as well. we want the content to be scheduled...

Thanks

[2018-01-01 14:32] patrick727 commented on #204
thanks @ResonanceXX

https://docs.google.com/document/d/1iyLXDfiGDQsis_Ynz_ZHoo1TuxjVYF2dfB-aaWBPMYQ/edit?userstoinvite=ns68751@gmail.com&ts=5a474adb&actionButton=1#

thats the latest draft, want to finalize copy by today and que it into the newsletter software tommorow

[2018-01-01 14:42] jimscarver commented on #207
@leithaus mentioned a governance colloquium along the same lines. I suggest that is a good way to frame this activity.

[2018-01-01 15:15] Mervyn853 opened #215 "M> Translating RChain Vision Video"
Had a quick discussion about building the Global RChain Community presence with @edeykholt and he suggested translating the [RChain Vision video](https://www.youtube.com/watch?v=Qftq9S34xgg) found on the RChain Coop website. I think that would be a great idea and we should set a budget for this and other future translations.

@sportshark Would you like to engage members of the Chinese community to

[2018-01-01 15:34] kitblake commented on #188
@jimscarver @patrick727 When the meetup date gets nailed down please post it.

[2018-01-01 17:54] kitblake commented on #198
Fyi, I've appended an "Address Roster" sheet to track all the RChain Internet addresses and their attributes (as discussed with @patrick727) for all the comm channels:
https://docs.google.com/spreadsheets/d/1M9kqbnYxotaOLtWOj7MWquE41KADZJLtwFdgDqtoEck/edit?usp=sharing

It also lists addresses that are parked, or not in use, so scammers can't create them in the future. Not complete yet..

[2018-01-01 21:36] Viraculous commented on #213
Thanks a lot @patrick727 , a Happy and a prosperous new year to you all. Congrats!!!

[2018-01-01 21:58] Rafkraft commented on #156
Very cool stuff !

I'll work on these new designs and texts very soon, then I'll give an update here !

[2018-01-01 22:06] dcpnlau commented on #206
Thanks to those who replied.

I had a look at the calendar and realised that my time zone and
availability isn't ideal - most of the suggested times are during the night
time for me. If there are weeks where more people can make it and I can't,
I'm more than happy to have someone else facilitate the meeting, but we can
play it by ear.

Who manages the calendar? Is there a new calendar for the next

[2018-01-02 00:42] Viraculous commented on #210
Wonderful an idea but the link is not going. I have tried loading the page but it does not

[2018-01-02 01:22] Viraculous commented on #208
Wow!  nice idea in line with the principles of cooperative no 5. " Education, Training and Information", it is step towards self-sufficiency and advancement.

[2018-01-02 05:32] sportshark commented on #100
@kitblake @lapin7 I have create 'faq_cn.md' in github,you can see it here https://github.com/rchain/Members/blob/master/projects/FAQ_CN.md
And I re-translated FAQ, this version is a complete and accurate translation of FAQ. while I find an independent third person to proofread the translation.

[2018-01-02 07:04] ResonanceXX commented on #204
I've set out to make changes. 

Sent from Yahoo Mail on Android

  On Mon, 1 Jan 2018 at 15:32, patrick727<notifications@github.com> wrote:
thanks @ResonanceXX

https://docs.google.com/document/d/1iyLXDfiGDQsis_Ynz_ZHoo1TuxjVYF2dfB-aaWBPMYQ/edit?userstoinvite=ns68751@gmail.com&ts=5a474adb&actionButton=1#

thats the latest draft, want to finalize copy by today and que it into the newsletter softwar

[2018-01-02 10:59] Kencode7 commented on #204
Is anyone converting the newsletter into markdown format to be uploaded to github?

Also, the rchain medium link can be added to the list of important links. A lot happens technical information is carried on medium.com

[2018-01-02 11:03] kitblake commented on #100
@sportshark Looks great! :)
If it's ok with you, I will do some format editing to bring the faq_cnin line with the faq_en. I'll change things like headings, which right now (due to the simple conversion) are just bold text, while they should be level 1, 2, 3 etc. I don't think it will get in the way of the proofreading.

[2018-01-02 13:03] sportshark commented on #100
@kitblake no problem！

[2018-01-02 13:23] Rafkraft commented on #156
Multi-language is now stored in cookies, and can be overriden with the URL parameter **lng=**
I added german support just to show how it works:

https://rchain.fabco.tech/index?lng=en
https://rchain.fabco.tech/index?lng=de

Visit the two, you'll see the language change (upper right corner with the flag), this happens on the server side (html page is initially loaded with the correct texts).
You ca

[2018-01-02 14:04] patrick727 commented on #100
Great stuff @sportshark! this is great work
Thanks @kitblake for helping things move forward

[2018-01-02 14:05] patrick727 opened #216 "M> The future of Blockchain, Identity and Governance - Tampa Bay"
I put this issue here as a reminder for myself and @jimscarver , but anyones invited to contribute.

Blockspaces.io is the tampa bay blockchain innovation center and we are now going to be running local meetups in st pete as well.

the first one will Tuesday January 23rd. so @jimscarver I believe that fits into your collegues schedule.

We want to create an agenda for the night.

Because its the f

[2018-01-02 14:11] MParlikar commented on #176
@BelovedAquila Select a ROS ticket from the list of bounty tickets and advise in Discord (DM) or you may advise here.  I will assign a label to your username (hopefully your Git and Discord handles are the same) on the ticket, so others will see that you are on it.  You can also look at ROS-197, which was recently completed by a member also.

[2018-01-02 14:15] patrick727 commented on #214
I have update the reference with all major links.

I now have edit access so please ping me with any updates you'd like to see to that

[2018-01-02 14:18] patrick727 commented on #204
@Kencode7 the important links is just a refernce for the draft, but your right non the less.

We are working out a process to add the newsletter in markdown @n10n was leading that.

I believe he has a process down for a simple way to convert the google doc into markdown so its important for me to make sure any draft changes happen in the google doc.

Great input all thank you a ton!

[2018-01-02 14:21] patrick727 commented on #213
Happy New year!
@Viraculous are you vimirimious34 on medium? I added you as a writer please accept

[2018-01-02 14:24] patrick727 commented on #198
thanks @kitblake I added linked in

[2018-01-02 14:40] patrick727 commented on #198
@decentralizebanksy went ahead and added a bunch of "infleuncers" and "followers"

Alberto maybe you can coordinate with @llerner to continually update the exel sheet so we can update CRM

[2018-01-02 14:54] MParlikar commented on #70
I think I need more clarity, which sheet is redundant and which to keep.
Both links are taking me to the same sheet.  Confused.

On Fri, Dec 29, 2017 at 7:33 AM, Lawrence I Lerner <notifications@github.com

[2018-01-02 15:54] Viraculous commented on #213
yes @patrick727 thanks a lot man and a prosperous new year to you too.

On Tue, Jan 2, 2018 at 3:21 PM, patrick727 <notifications@github.com> wrote:

[2018-01-02 17:06] kitblake commented on #156
Great news about the multi-language options!
Can anybody recommend a translation tool or site? By that I mean a website/service where you put up the English strings, and then others can translate them one to one. I've seen these in action but never used them, and  they're much more friendly than editing i18n files.

[2018-01-02 17:19] kitblake commented on #214
@patrick727 Is a rename of the Facebook id possible? Changing it to rchain_coop for consistency would be ideal.

[2018-01-02 18:27] ResonanceXX commented on #214
I totally agree with consistent nomenclature. Also the pinned message appears repeatedly on Telegram. 
Happy New Year to  the team. 

  On Tue, 2 Jan 2018 at 18:19, kitblake<notifications@github.com> wrote:   @patrick727 Is a rename of the Facebook id possible? Changing it to rchain_coop for consistency would be ideal.

—
You are receiving this because you are subscribed to this thread.
Reply to t

[2018-01-02 18:46] BelovedAquila commented on #215
Nice suggestion made by @edeykholt, translating the Rchain Vision Video would go a very long way in globalizing the RCHAIN community presence indeed, because one major barriers to the upshoot, growth and solidification of any cooperative organization e.g Rchain  is THE INABILITY TO COMMUNICATE anywhere, anytime and to anyone, at anytime. And to do that transcription of specific strategic  language

[2018-01-02 18:54] patrick727 commented on #214
@kitblake @ResonanceXX i totally agree. so facebook doesnt allow  the underscore in the username and @rchaincoop (no underscore) is taken.

We should most definitely strive towards consistent language. If it helps though we have the check mark on facebook that lets people know we are official ;)

[2018-01-02 19:35] patrick727 commented on #215
Nathan W's group at Macroscape worked on the video, I pinged them about the transcript.

Open to all languages, i can give a list of the languages that are most engaging with the website but don't let that limit any others.

en-us
en-gb
zh-cn
ru
de
nl
fr
es
nl-nl
en-ca
pt-br
en-au
ru-ru
de-de
pl
tr
it
nb
sv
ko

basically as international as it gets

[2018-01-02 19:37] patrick727 commented on #213
cheers!
@plantether when you have a moment can you review this article for grammar and spelling?

[2018-01-02 19:39] patrick727 commented on #70
@llerner, @MParlikar I thought that timeline link was being used for different purpose(internal coordination) I was intending to have a public calendar in which members can view all of the events in a given time that they may engage with.

[2018-01-02 20:00] kitblake commented on #100
Ok @sportshark, I marked up the doc. If you edit you'll see the Markdown syntax. It's pretty simple.
https://github.com/rchain/Members/blob/master/projects/faq_cn.md

Change anything that doesn't jive with Chinese presentation.

I also renamed the file to lowercase for consistency.

There's one stylistic detail: in the English faq there's no line space between questions and answers. I didn't chang

[2018-01-02 20:04] BelovedAquila commented on #216
Questions and Answers panel?, of course it's an interesting agenda. it's likewise a lift to marketing Rchain . but please @patrick727, would there be a kind of video coverage on that?maybe on YouTube, to carry along those not present at the St Pete meet ups, perhaps reason being that they are not residing around the locals.
 Secondly  @patrick727 if there would be,would there be a need of creating

[2018-01-02 20:41] patrick727 commented on #204
[Drafted in sendpulse](http://archive.sendpulse.com/shc4c/6c82b012/?_ga=2.219459737.1476390129.1514922887-85970949.1511818720 )

please any edits use the suggestion feature in the google doc so that the doc remains consistent with the sendpulse for easy markdown.

[2018-01-02 20:44] patrick727 commented on #180
How is this going guys? Lots of people on twitter liked the post about this?

Should we turn this into a graphic or keep this is a running doc somehow?

[2018-01-02 20:51] Viraculous commented on #213
yes @plantether, It will be great to have the post on medium, that calls on
the need of proofreading the article. Meaning while am doing a research
more on cooperative organizing and how it suits the blockchain governance.
Thanks @plantether as you cooperate, to @patrick727 and other esteemed
cooperators.

On Tue, Jan 2, 2018 at 8:37 PM, patrick727 <notifications@github.com> wrote:

[2018-01-02 22:21] 9rb opened #217 "Social Ledger on Discord"
Explore issues in implementing social ledger on Discord so RChain team can play with it and provide feedback.  Discord does not support markdown (no way to embed URL, click on it and have it do something).  We may need to provide folks a link that they can follow to act on those.

[2018-01-03 02:00] sportshark commented on #100
@kitblake I have reviewed the doc!  great work!  I think it's very good now

[2018-01-03 03:21] decentralizebanksy commented on #198
Hey all,

I added a bunch of my twitter network to the influencer section. I'll make sure to add more as I come across more influential people in the space.

I think it would be a great idea to add a section dedicated to FB groups, google + communities, meetups, and other forums with hyperlinks directing to those respective locations.

Sincerely,

Alberto

[2018-01-03 04:55] ResonanceXX commented on #214
Yes. The check mark is authentic. Correct. 

Sent from Yahoo Mail on Android

  On Tue, 2 Jan 2018 at 19:54, patrick727<notifications@github.com> wrote:
@kitblake @ResonanceXX i totally agree. so facebook doesnt allow the underscore in the username and @rchaincoop (no underscore) is taken.

We should most definitely strive towards consistent language. If it helps though we have the check mark on f

[2018-01-03 06:22] Mervyn853 commented on #182
Telegram just reached 700 members and I think it has become an essential tool for RChain membership Coop onboarding.

Had some discussion with @kitblake and would like to suggest doing away with the round number prizes for membership onboarding as some of the recent winners have come on solely with the motivation to receive RHOCs.

I would like to suggest an alternative rewards program where we re

[2018-01-03 06:33] ResonanceXX commented on #182
Hello Merv, I  was a round number myself, but with membership of coop and contributor status on here. The telegram group growth has been phenomenal. 
I would still support any other kind of reward, this is because human beings thrive more when expectations are held on to. Any new ideas as to engaging members is always welcomed. And I shall be lurking, always aiming to win some. Cheers! 

Sent from

[2018-01-03 07:11] BelovedAquila commented on #215
Ok, that's OK @patrick727, can you list the most engaging  languages please?

[2018-01-03 07:17] BelovedAquila commented on #213
@patrick727 can someone else review the documents for grammatical and spellings error or its just opened to @plantether?, because am open to helping on that.

[2018-01-03 08:17] kitblake commented on #100
@sportshark Ok, thanks. So we still want an "independent third person to proofread the translation", yes?

@n10n Fyi, the Chinese FAQ is almost done. @sportshark will move it into /reference and do a pull request when ready. Then we'll have these URLs for the FAQs:
https://github.com/rchain/reference/blob/master/faq.md
https://github.com/rchain/reference/blob/master/faq_cn.md

Please review the co

[2018-01-03 08:21] sportshark commented on #100
@kitblake I have found an independent third person to proofread the translation before I uploaded the doc. I mean that other members can also proofread translation,Thank you for your great work!

[2018-01-03 08:52] Mervyn853 commented on #180
![image](https://user-images.githubusercontent.com/33376108/34514041-477bad5a-f0a6-11e7-90c9-3f4d9ebe97eb.png)

Saw this image spread around some Telegram groups. We could get a graphic like that done. Would @ValeBF or anyone be interested?

[2018-01-03 10:51] kitblake commented on #115
The Telegram RChain chat group has grown organically to over 700 members. It's time to complete the rollout. This means we include Telegram group links in all comm channels:
RChain Chat: https://t.me/rchain_coop
RChain Official Announcements: https://t.me/rchain_official

@ Telegram operators: it's going mainstream now (I banned our first spammer yesterday). Remember that you can practice warning/

[2018-01-03 11:14] kitblake commented on #100
@sportshark Gotcha, so we're almost ready to publish. I realized that we didn't have the QQ group in the FAQ, so I added it and the Telegram chat group and channel too. Can you translate those?

[2018-01-03 11:33] Rafkraft commented on #156
I worked on a google doc that I called "tanslations document - EN", it contains all texts and sentences that appear on the website, when it's filled and finished we will create CN, DE and other documents to handle the translations.

I guess this document has not been shared with you since I don't have your mail address :/ (right now it's editable by @patrick727 and @ValeBF)

Maybe there is a bette

[2018-01-03 11:48] ResonanceXX commented on #212
@dckc I revisited the page, and those changes to not seem to have reflected. Are you aware?

[2018-01-03 13:10] Ojimadu commented on #204
Really good inclusion @patrick727. The newsletter is really packed. It looks good to go.

[2018-01-03 13:16] ResonanceXX commented on #210
Currently fleshing out my profile. With recent display picture from me at home. This is on my discord. If it's needed in Github, I could change it also.

[2018-01-03 13:45] ValeBF commented on #180
do you need to replicate the graph or make something similar with different content? @Mervyn853

[2018-01-03 13:48] ResonanceXX commented on #180
Since we have the information about the rest on there. I simply presume that adding unto this might be tacky(fonts and all)  you could do a new infographics. Just pull these info onto newer  one with the Rchain on it. 

Sent from Yahoo Mail on Android

  On Wed, 3 Jan 2018 at 14:45, Valeria Benitez Florez<notifications@github.com> wrote:
do you need to replicate the graph or make something similar

[2018-01-03 14:29] patrick727 commented on #204
@Ojimadu very packed!!! Tons of good news.

Thanks you all for your continued input, great cooperators.

This newsletter is qued up now to send.

On to the next thing!

[2018-01-03 14:35] ResonanceXX commented on #204
Cheers team. 

Sent from Yahoo Mail on Android

  On Wed, 3 Jan 2018 at 15:29, patrick727<notifications@github.com> wrote:
@Ojimadu very packed!!! Tons of good news.

Thanks you all for your continued input, great cooperators.

This newsletter is qued up now to send.

On to the next thing!

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub, or mu

[2018-01-03 14:55] patrick727 opened #218 "M> Newsletter - January 18th, 2018"
Great job on the last newsletter team.

[Here is the doc ](https://docs.google.com/document/d/1RYdHq3fh4Z5BXoavKvjtFNRZHhTHPavp7wi-HZUEMVc/edit#)for the next one, scheduled for January 18th

[2018-01-03 15:02] ResonanceXX commented on #218
Again, again! Can't wait. 

Sent from Yahoo Mail on Android

  On Wed, 3 Jan 2018 at 15:55, patrick727<notifications@github.com> wrote:
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-01-03 16:18] patrick727 opened #219 "re-consider Newsletter Service, marketing automation"
sendpulse seems to show up in spam too often. We are going to switch over to a new service that may be more trustworthy for major email providers such as gmail

[2018-01-03 18:36] #204 closed

[2018-01-03 18:43] dckc commented on #212
@ResonanceXX I don't understand your questions. You revisited which page? And which changes are not reflected?

[2018-01-03 18:45] ResonanceXX commented on #212
The rhoc is still not listed on the Wikipedia page. That contains the list of cryptocurrency.

Sent from Yahoo Mail on Android

  On Wed, 3 Jan 2018 at 19:43, Dan Connolly<notifications@github.com> wrote:
@ResonanceXX I don't understand your questions. You revisited which page? And which changes are not reflected?

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2018-01-03 18:49] dckc commented on #212
Why would you expect RHOC to appear on https://en.wikipedia.org/wiki/List_of_cryptocurrencies ? Did you address your blocking issue and make an edit there? As I explained [above](https://github.com/rchain/Members/issues/212#issuecomment-354197347), I did not.

[2018-01-03 18:55] ResonanceXX commented on #212
 I assumed you handled it because you put the picture. Honestly, that made me feel it had resolved. I revisited that just as a spare time. Unknown to me it was still unchanged.  

Sent from Yahoo Mail on Android

  On Wed, 3 Jan 2018 at 19:49, Dan Connolly<notifications@github.com> wrote:
Why would you expect RHOC to appear on https://en.wikipedia.org/wiki/List_of_cryptocurrencies ? Did you addres

[2018-01-03 20:06] n10n opened #220 "M > Need help to consolidate media coverage and article written"
https://github.com/rchain/reference/blob/master/mediacoverage.md

[2018-01-04 01:31] sportshark commented on #173
Because of the rapid growth of the site's access, I upgraded the server configuration, increasing the number of CPU and the size of the memory and hard disk.

[2018-01-04 01:49] iamnathanwindsor commented on #215
@Mervyn853 Do you know someone who can translate the speech? Do you want to record it?

If so, I can edit the video with your new recording, I did the sound.

Nathan

[2018-01-04 07:45] BelovedAquila commented on #213
@patrick727 while reviewing, there were some corrections that needs to me made in the doc, so I requested an edit permission from @Viraculous and he gave the access to comment on the mistakes, so am commenting on them,so he could make the necessary corrections. what do you think please?

[2018-01-04 08:42] lapin7 commented on #215
Great
set a budget
Ask @entropee about how to make a transcript from a video.

Sent from my iPhone

[2018-01-04 11:02] BelovedAquila commented on #213
@patrick727  i just finished reviewing the article,after @Viraculous makes the necessary corrections that needs be made,then i think the article is good to go.

[2018-01-04 21:58] iamnathanwindsor commented on #215
@entropee let's chat about translation, I'm reaching out to my friends who speak Mandarin

[2018-01-04 23:03] Keaycee commented on #133
Hello,

Base on the issue of Governance committee, i have done a comprehensive work on it. I want the members of the cooperative to make a review on it. Below is the document link.

https://docs.google.com/document/d/1U3elyL4y-H8Z6uBU61tiO0sRTWu7DeRmPjfdYgpUOKY/edit?usp=sharing

[2018-01-05 00:16] patrick727 commented on #103
is this issue done to close?

[2018-01-05 00:22] #90 closed

[2018-01-05 00:24] #80 closed

[2018-01-05 00:25] #72 closed

[2018-01-05 00:25] #66 closed

[2018-01-05 02:10] Ojimadu commented on #206
@dcpnlau The link you sent is a spreadsheet and not a google form. Please recheck the link.

[2018-01-05 02:17] Keaycee commented on #194
The major issue about the governance conference travel budget is mainly on the members not residing in the United States (North America). There is a huge difference in the ticket reservation fares especially outside the United States. An average ticket fare on economy class within United States ranges from $179 - $250 but for members outside the United States, it ranges from $650-$1,050 on average

[2018-01-05 06:49] kitblake commented on #206
Hi @dcpnlau,
Setting a time for the meeting that works across the world is going to be tricky. Currently, the Member activist meeting is Wednesdays at 19:00 CET (UTC +1). This works nicely because it's followed by the Weekly Debrief (with a much larger group) at 20:00 CET. Often we plug in some points from the Member meeting into the Debrief.

If you're in Sydney that's UTC +11 so I presume the cu

[2018-01-05 09:52] lapin7 commented on #206
Hi @dcpnlau,

Below you find a shortened time table that defines the ideal time for you
and the rest of the world.
Wednesday is a great day because it's after Weekly Debrief of Greg is also
around that time.
Instead of doing it before Greg's meeting, we're going to do after that
meeting.
So the next meeting is at: 10th of January, at 21:00 GMT (UTC)
We will see who is going to join.

GPS -41,174 -

[2018-01-05 10:17] lapin7 commented on #206
GPS | -41,174 | -33,151 | 39,116 | 52,4 | 51,0 | 42,-78 | 47,-122
-- | -- | -- | -- | -- | -- | -- | --
Delta Hours GMT | 13 | 11 | 8 | 1 | 0 | -5 | -7
Time Code | NZDT | AEDT | CST | CET | GMT | EST | PST
Country | Wellington | Sydney | Beijng | Amsterdam | London | New York | Seattle
Meet | 10 | 8 | 5 | 22 | 21 | 16 | 14

[2018-01-05 14:02] patrick727 commented on #133
woah great work @Keaycee

can you join the governance meetings thursdays?

I just lightly reviewed it and will go more in depth as we move forward.

Cheers

[2018-01-05 15:06] kaka56 commented on #220
The Merkle(September 4 2017 by JP Bontinx )https://themerkle.com/what-is-rchain/

[2018-01-05 15:46] Jake-Gillberg commented on #133
@Keaycee Added a few comments to the doc.

[2018-01-05 15:53] patrick727 commented on #205
An adviser from the World Economic Forum will be sharing a post as well!

Anyone else have updates?

[2018-01-05 17:09] patrick727 commented on #205
Anthony the founder of Raincube will be creating a post as well.

[2018-01-05 17:13] patrick727 commented on #205
Alex Landry of earth.nation and earth democracy will also be creating a post

[2018-01-05 19:37] kitblake commented on #182
I'm pleased to report that our last round number prize winner, #400, is not in it for the money. He's a Java/Python dev and will go after some bounties. However as @Mervyn853 pointed out, it's likely that we'll get users who join for free money, especially with the skyrocketing RHOC price.

So to sum up, we had 100, 200, 300, and 400 RHOC winners for a budget of 1000 RHOCs.

Now we have to figure

[2018-01-06 02:45] Viraculous opened #221 "M> My request to Trebor Scholz to be an RChain collaborator"
Hello Collaborators greetings from my side. I sent an email this morning to Trebor Scholz requesting him to become a collaborator in the  RChain community. I realized his relevance in building a cooperative structure in the RChain platform. This was his reply  "We are already familiar with and excited about Rchain and Greg Meredith was a speaker at our last conference. We are planning to collabora

[2018-01-06 04:23] dckc commented on #185
Ah... this is also tracked as [RHOL-35](https://rchain.atlassian.net/projects/RHOL/issues/RHOL-35).

[2018-01-06 05:37] kitblake commented on #221
Nice. Maybe we can get him as a speaker for one of our future conferences.

[2018-01-06 07:42] dckc commented on #210
How much of this bounty should I claim? Is $4K for updating everybody's profile? Surely it's not just for my own discord profile and [blog item](http://www.madmode.com/2017/rchain-dev-retreat.html).

[2018-01-06 07:43] kitblake commented on #182
One of the more active 'helpers' on Telegram is YSGjay. He answers lots of questions and provides links. He's on Discord but not on Github yet. He should get some RHOCs. The question is how.

[2018-01-06 07:52] kitblake commented on #115
Have you seen the Telegram analytics? @Mervyn853 installed a bot that collects metrics.
RChain Combot: https://combot.org/chat/-1001123521235

[2018-01-06 08:03] Viraculous commented on #221
I think he is a prospect for RChain's adoption @kitblake . He is also a contributor at Open:2017 platform ( see link: https://2017.open.coop/contributors/ ) which  features people at the cutting edge of the cooperative, open source and collaborative economy.

[2018-01-06 08:11] dckc commented on #194
I would appreciate support to travel to the governance conference to share my [15 years of consensus building in the World Wide Web Consortium](https://www.w3.org/blog/2010/06/thanks-for-a-great-15-years-at/).

I would be travelling from Kansas City airport (MCI). Flights seem to be priced around $375. $100/day * 5 = $500 should suffice for food, lodging, and ground transportation.

[2018-01-06 08:24] kaka56 commented on #218
Newsletter for  January 3rd - Community Debrief 58 updated

[2018-01-06 08:25] ResonanceXX commented on #182
Kitblake, well said. I lurk mainly because of several limitations on my end. I am confined to the use of my mobile phone to make contributions to the co-operative. Once this is resolved, then my recent contribution would be insignificant to my future contribution.
The rewards system could be split in a way that is consistent with equity and fairness. Also people who show dedicated response to issu

[2018-01-06 12:12] Viraculous commented on #213
Nice review @BelovedAquila. Thanks for your collaboration. Here is the link for the edited text https://docs.google.com/document/d/1EaisxJo7Id1xCkZ_OkAqMH3g20VCgjw5r2kuwdk3RIs/edit

[2018-01-06 13:16] Ojimadu commented on #219
The newsletter shows up mostly as spam for the few I have received. FWIW I did not receive the last newsletter. The newsletter never show up a couple of times too.

Campaigner, HubSpot, Pardot, MailChimp has nice reviews we might want to try out one of those.

[2018-01-06 15:17] dckc commented on #185
@KentShikama tells me there's already a start: https://github.com/KentShikama/RholangWeb

[2018-01-06 15:56] dckc commented on #185
another deployment path for testing: [ngrok](https://ngrok.com/).

[2018-01-06 17:41] Ojimadu commented on #156
Cool stuff @Rafkraft. You have a very good idea creating the "translation documents" it would come handy for translations and would ensure consistency.
@kitblake Peer translations or paid translation services offered by companies?

[2018-01-06 17:56] Ojimadu commented on #103
I think  it's done.

[2018-01-06 17:56] #103 closed

[2018-01-06 18:04] Ojimadu commented on #206
@lapin7 The meeting on 10th of January, at 21:00 GMT (UTC). That would make it difficult for me to attend. I usually catch up with the debriefs but can't find anywhere the members meeting is uploaded on youtube for persons that missed out and would like to catch up.

[2018-01-06 18:10] Ojimadu commented on #205
I don't really know these guys but it feels nice seeing the steam build up for the governance conference.n good work @patrick727

[2018-01-06 18:25] Ojimadu commented on #115
The telegram chat link is on Reddit. @patrick727 is in charge of twitter but I cant remember who is in control of the Facebook page (@dckc?). Also linking the twitter with the Facebook page for cross-posting would be nice and increase activity on the Facebook page.
The combot is a nice addition as it would  would enable better analytics in future it seems to be doing well so far.

[2018-01-06 18:30] ResonanceXX commented on #205
Patrick you done it yet again. Well done!!

Sent from Yahoo Mail on Android

  On Sat, 6 Jan 2018 at 19:10, Ojimadu<notifications@github.com> wrote:
I don't really know these guys but it feels nice seeing the steam build up for the governance conference.n good work @patrick727

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub, or mute the thread

[2018-01-06 18:36] kitblake commented on #156
I mean peer translations. But I just spent some time searching and I can't find the tool I once saw. It was a web-based service that made it easy to translate website or application text. You upload the English strings, then volunteer translators select a language to translate into, say French.
In the UI the English strings appeared on the left, with textareas on the right for the French version o

[2018-01-06 18:40] Ojimadu commented on #182
I also feel we should do away with the TG sign up bounty, current winners can receive their reward. I still don't understand how the combot aggregates it data that might be a way to reward TG users but that's not until we understand how the bot gathers its data and sets its parameters.
I won't like us to set rewarrds for activity as that might breed something we may not like and some users would s

[2018-01-06 18:47] kitblake commented on #182
Yes, I've been puzzling about the 'how' too, and it was YSGjay's activity that triggered it. :)

[2018-01-06 19:23] Keaycee commented on #133
Thank you, for reviewing the issue. I will make a correction base on the your suggestions.

[2018-01-06 20:24] tet123 commented on #156
You probably mean something like:
https://locize.com
or
https://www.oneskyapp.com

[2018-01-07 05:55] ResonanceXX commented on #115
If the twitter handle is shared on telegram. More followers would help increase visibility on that platform. Mentioning the RHOC also helps to create desirability. Telegram group is growing steadily. And is well moderated. 
A link to the Facebook page also, so members can like or belong to the group. 

Sent from Yahoo Mail on Android

  On Sat, 6 Jan 2018 at 19:25, Ojimadu<notifications@github.com

[2018-01-07 22:13] dckc commented on #201
@kitblake and everybody, when would you consider this matter resolved?

 - [ ] now?
 - [ ] when the google doc has been taken down?
 - [ ] when the party that posted it is identified?
 - [ ] when the [RChain FAQ](https://github.com/rchain/reference/blob/master/faq.md) has been updated to say "Is there an airdrop? No. contrary to fraudulent reports in Dec 2017."?
 - [ ] when the RChain board has ac

[2018-01-07 22:40] dckc commented on #156
The body text font size is quite small. Chrome dev tools tells me it's 0.9em. Shouldn't it be 1.0em by definition?

[2018-01-07 22:41] dckc commented on #156
What is the goal of this redesign?

[2018-01-07 23:14] dckc commented on #195
I appreciate the effort, but again, what is the purpose of [the converted document](https://github.com/rchain/Members/blob/master/Docs/Notes%20on%20the%20DAO%20re-entrancy%20bug%20and%20behavioral%20types) ? It wasn't converted to markdown; it was converted to plain text; and pretty messy at that. Are Jack Pettersson  and Lucius Gregory Meredith happy to have their work republished in this form?

[2018-01-07 23:19] dckc commented on #213
Please add a byline to the document and clarify whether it's endorsed by the board of directors.

[2018-01-08 00:02] dckc commented on #209
I read the article and browsed the code... it looks plausible, especially since our membership isn't yet so large that we need a mechanism that is robust in the face of concerted attack. We trust each other, mostly, and if something goes wrong, we can just talk it over.

The code is 1300 lines of solidity, and it would take a long time for me to convince myself it has no bugs.

[2018-01-08 00:23] dckc opened #222 "onboarding skills inventory: developer? writer? redditor? etc."
I suggest we encourage new members to fill out a skills inventory. Perhaps when they join formally, but also as part of "welcome to RChain" messages on telegram etc.

By way of example:
 - [https://docs.google.com/forms/d/1JoLDULTCIAECpYT2PENjqFwQBw77uK2OF3Hh84DX2lA/edit i2b2 transmart foundation kick-off survey] June 2017

This perhaps overlaps with #15, but that discussion is so long I can't tel

[2018-01-08 00:33] dckc commented on #15
Ooh! a recording of onboarding. Nice, @jimscarver !

The work I did on README.md CONTRIBUTING.md  was my answer to "What are recommended videos or other resources for someone who wants to learn and earn?" But it didn't occur to me that somebody might be interested in rchain without being somewhat familiar with Ethereum and bitcoin.

[2018-01-08 08:35] lapin7 commented on #206
@Ojimadu
Oh that's a pity. What's your time difference with GMT/UTC?
We will do it anyway on 21:00 GMT (UTC).
The recordings can be seen at https://www.youtube.com/user/lapinutube

[2018-01-08 08:49] lapin7 commented on #222
I created once this form:
https://docs.google.com/forms/d/1FJMSkmscappmuN5HbZz1TlqgOWRcgQsdike4Q6-X8p0/edit

We need a kind of form, because there's no interchange between the official member onboarding and the Activist/Member onboarding.

We need to add a request for becoming a member of rchain@googlegroups.com. How do we do that?

[2018-01-08 09:06] kitblake commented on #222
In terms of onboarding workflow, this form should probably follow CONTRIBUTING.md, as in "Please scan the contributing doc, and IF you wanna contribute, THEN fill in this \_form_."

(Btw, if anybody is reading this issue via email the form link doesn't work, but it does via the Github UI.)

[2018-01-08 09:11] kitblake commented on #201
Since I see (Github-specific) markup to create checkboxes, I would check "when the google doc has been taken down". As of last week it was still circulating on Twitter.

And since they're checkboxes, not radio buttons, one can check more than one. It'll be added it to the FAQ.

Thanks for 'making the rounds' :)

[2018-01-08 15:03] patrick727 commented on #215
"The current blockchain platforms are inspirational, but have design problems. They lack formal semantics and as a result they’re slow, they don’t scale, and are unsafe for mission critical applications

RChain is designed to solve these problems. The RChain platform is a transformation in blockchain technology that will empower users on the industry’s first scalable & safe blockchain. Smart contr

[2018-01-08 15:27] n10n commented on #220
Added.

[2018-01-08 18:16] MParlikar commented on #176
ROS-243 completed by @AbnerZheng, ROS-197 completed by @AbnerZheng.  RHOL-44 and RHOL-45 in flight with @AbnerZheng.

[2018-01-08 18:31] kitblake commented on #192
From @isepick:
looks like it went up on IDEX as well
https://idex.market/eth/rhoc

[2018-01-08 18:32] Viraculous commented on #222
Nice @kitblake. I think the skills inventory when followed, in collaboration with #208, particularly concerning peer learning and work group would bring about constructive synergy among cooperating peers.  It could be an adaptive tool for onboarding members.

[2018-01-08 19:37] plantether commented on #213
@Viraculous @BelovedAquila @patrick727 Sorry to be so late in replying. Is this still the current version? https://drive.google.com/open?id=15bSRb-38TtMU5o47eqZ0ihKK8QGbpTun
I do have some suggestions and I want to make sure I'm working in the correct document.

[2018-01-08 19:54] Rafkraft commented on #156
Yeah locize seems like a very good and powerful tool, on rchain.coop I'm working with **i18next** at the moment, this tool seems to be compatible and provide options for it. I'll check it more deeply and maybe open an account.

@dckc ok your remark about font-size is wise, I think I'll shrink default body text to 1.0em.

**Updates:**
- I brought some updates on https://rchain.fabco.tech/about , al

[2018-01-09 00:50] Viraculous commented on #213
yea but i would that you review the from the edited document https://drive.google.com/open?id=1EaisxJo7Id1xCkZ_OkAqMH3g20VCgjw5r2kuwdk3RIs

[2018-01-09 01:26] Viraculous commented on #222
Nice @kitblake. I think the skills inventory when followed, in collaboration with #208, particularly concerning peer learning and work group would bring about constructive synergy among cooperating peers.  It could be an adaptive tool for onboarding members.

[2018-01-09 07:18] Keaycee commented on #144
@patrick727 Well, this thread has been an issue since Nov 3, 2017. I suggest more light to be thrown on it so that collaborators can team up for a better plan.

[2018-01-09 08:08] dckc commented on #185
I'm kinda happy with https://da6247d5.ngrok.io/ now.

I found a full 5 hr chunk to work on it. Results: 54ddeda https://github.com/KentShikama/RholangWeb/pull/10

[2018-01-09 08:18] dckc commented on #222
@lapin7 Do you have any/many developer responses from that survey?

I'm interested to work toward something simpler.

[2018-01-09 08:20] dckc commented on #213
Turn on comments, perhaps?

[2018-01-09 13:18] jimscarver commented on #188
Today diglife/rchain folks are meeting with @rayzer at 1pm EST in  https://zoom.us/j/6853551826  This is the warm up... getting people up to speed with Holochain app development while we wait for the meeting with Eric to really dig into a plan to roll out DPKI,-Identity

[2018-01-09 15:17] Mervyn853 commented on #215
Working on the RChain Vision Chinese transcript translation right now. Will update in awhile. @patrick727

Unfortunately, I'm not a native fluent speaker @iamnathanwindsor since I mainly converse in Chinese. I believe @sportshark might be able to find one from the chinese community once I've got the transcript translated.

[2018-01-09 16:05] patrick727 commented on #221
@Viraculous this is an awesome prospect. what is the intended outcome of this outreach?

I say we ask him to write a guest post on his thoughts on governance, we can promote his book in it too, and then invite him to the conference.

What do you think?

[2018-01-09 16:07] patrick727 commented on #194
@dckc yes!

[2018-01-09 16:10] KentShikama commented on #185
I'm really liking what I see so far :+1: I'll take a look at the PR now.

[2018-01-09 16:16] patrick727 commented on #219
yes we are thinking mailchimp because its the one that I am most comfortable with.

Cheers!

[2018-01-09 16:20] patrick727 commented on #205
some individuals from the blockchain education network will be creating posts as well.

yes this space is so big that its hard to keep track of everyone, but so long as there posts are thoughtful we will use them and give them our platform.

we cherish the ideas and the actions more then the names and the labels

keep em coming!

[2018-01-09 16:24] patrick727 commented on #115
Great work,

twitter/facebook/linkedin are managed by myself @decentralizebanksy and @llerner

would you like for us to link to the telegram on the profile or add the telegram link to the messaging?

great work guys I think youve done an amazing job on the telegram and reddit.
one thing  for saftey for the co-op though is if we could have a simple form for the mods that say "i've read and understa

[2018-01-09 16:26] patrick727 commented on #209
@dckc good points
@jimscarver thanks

@Jake-Gillberg is also considering voting mechanisms for a while and has some ideas worth sharing soon

[2018-01-09 16:27] patrick727 commented on #15
I second that!

I tend to connect rchain to those to as an entry.

good work @jimscarver

[2018-01-09 17:13] Viraculous commented on #222
I buy this idea, very necessary,it tends to streamline and create effective management of issues. I find it that if every member (new members perse) fills In a form containing it's skills inventory, i.e areas of deep knowledge, expertise and experience, issues would be easily managed. Such that, the management of issues would also be guaranteed to be at  trusted hands who can effectively manage, a

[2018-01-09 17:23] BelovedAquila commented on #222
I buy this idea, very necessary,it tends to streamline and create effective management of issues. I find it that if every member (new members perse) fills In a form containing it's skills inventory, i.e areas of deep knowledge, expertise and experience, issues would be easily managed. Such that, the management of issues would also be guaranteed to be at  trusted hands who can effectively manage, a

[2018-01-09 17:52] lapin7 commented on #222
@dckc My skills-inventory-form never went on line. Great that you want to work toward something simpler. I'm looking forward to the new form and to the integration in the [CONTRIBUTING.md](https://github.com/rchain/Members/blob/master/CONTRIBUTING.md).

We could also create a form for a skill endorsement. Something like LinkedIn.

I think it's still to early for management of matching issues and s

[2018-01-09 18:08] lapin7 commented on #194
Let's just say that RChain reimburses travel and lodging cost at a fair rate. The only thing a visitor has to do is to send in proves of expenses.
BTW There's no upfront payment. The budget of this issue should be used for "organizing" the reimbursement. Not for actual reimbursements. Therefore I've changed the suggested rewards for December in TAB: Rewards 201712

[2018-01-09 18:52] dckc commented on #210
turns out the link to madmode.com from my profile is a note that only I see.

But I learned we can connect twitter handles etc.

Too bad it doesn't do linkedin; lots of RChain folks use linkedin.

I wish it supported IndieAuth...

[2018-01-09 18:53] dckc commented on #222
Oh... right... linkedin skills... why reinvent the wheel? For better or for
worse, a critical mass of the RChain community uses linkedin. We might as
well just collect linkedin profile URLs.

I wish discord supported links to them. (#210)

[2018-01-09 19:01] lapin7 commented on #213
@Viraculous please make a Google Doc of it. Then we can make comments, edit in suggestion mode etc.

[2018-01-09 19:30] lapin7 commented on #201
Something like this????

Which of these *features* will you need?:
* [X] simplicity
* [ ] Don't know
* [ ] complete

[Source](https://talk.commonmark.org/t/introducing-markdown-extensions-for-form-input/432/2)

[2018-01-09 19:56] lapin7 commented on #182
I've PM'd YSGjay for getting in touch for a reward.

[2018-01-09 20:05] Keaycee commented on #201
Well, i think i can take care of the airdrop & crowd sale scam on twitter.

This is a very serious issue because it's fraudulent. There are lot of ignorant people out there interested in RHOC and don't know how to purchase it legally. I believe we all can collaborate and broadcast the the Airdrop and crowdsale scam on social media. (Facebook, Twitter, Whatsapp, Telegram, blogs and others.

[2018-01-09 20:49] Keaycee commented on #197
As collaborators (Team), it's part of our duty to be able to answer most of the questions on Quora. Quora  it's been known to impact knowledge on individuals world wide. I think participating or engaging in  Quora  questions about Rchain will enable people see the future in Rchain. I volunteer to be part of the Quora  collaborators.

[2018-01-09 21:12] Keaycee commented on #133
Yes i can @patrick727

[2018-01-10 02:11] Viraculous commented on #221
Exactly @patrick727  i will be requesting his opinion and thought on governance. Nice

[2018-01-10 02:17] Viraculous commented on #213
I have done just that.  comments acess is open, thanks/

On Tue, Jan 9, 2018 at 8:01 PM, HJ Hilbolling <notifications@github.com>
wrote:

[2018-01-10 08:57] kitblake commented on #182
Great, ysgjay is coming onboard. Just invited him to join this repo.
"Awaiting jplepel's response"..

[2018-01-10 09:01] sportshark commented on #180
hello everyone I have contacted a new exchange chaoex.com, RHOC will be  listed in January 11th or January 12th. you can visist https://www.chaoex.com/
ChaoEX provides the world's most mobility order book, allowing users to easily exchange with the minimum slippage.

[2018-01-10 13:16] patrick727 commented on #213
Great work all, sorry for my late response.

In the future, no it doesn't need to be only @plantether that does the review. But she is our resident "editor" so that Is why I specifically tagged her.

But if enough(3+) people review it and sign off, then we should be good to go.

Cheers

[2018-01-10 13:19] patrick727 commented on #180
@ValeBF the content would be pulled from [this sheet ](https://docs.google.com/spreadsheets/d/1fbh37xWa898raYm0NTgI4XL23hmI6ndCsyNz2_QhOIw/edit?usp=sharing)

But with our branding.

If you choose to work on this, i request that we set a deadline for everyone to submit the final content to the sheet so we have the most up to date information, because we will not be able to go back and edit it so fr

[2018-01-10 13:20] patrick727 commented on #221
rchain.coop/events (please dont widely circulate as ill be making design edits today)

you can see slots for "guest speakers" maybe he is willing to do a spot?

anyhow @Viraculous great stuff thanks

[2018-01-10 13:28] patrick727 commented on #197
@Keaycee thanks, all you need to do is monitor quora and answer to the best of your abilities.

I personally focus on the platform itself and the cooperative and less about the rhoc, because the rhoc is just a placeholder. see my comment on @ResonanceXX 's [link](https://www.quora.com/If-Bitcoin-is-cryptocurrency-1-0-and-Ethereum-is-cryptocurrency-2-0-which-is-the-cryptocurrency-3-0/answer/Christi

[2018-01-10 14:22] lapin7 opened #223 ">M Extremely helpful Telegram interaction"
One of the more active 'helpers' on Telegram is YSGjay ( Github: @jplepel ). He answers lots of questions and provides links. He's on Discord but not on Github yet. He should get some RHOCs. The question is how.

Suggested Budget: $500

[2018-01-10 14:36] lapin7 commented on #182
I've created #223  >M Extremely helpful Telegram interaction
<https://github.com/rchain/Members/issues/223>

And set the budget to $500 :-)

--
Cheers,
HJ

On Wed, Jan 10, 2018 at 9:57 AM, kitblake <notifications@github.com> wrote:

[2018-01-10 14:49] lapin7 commented on #222
If you click on your own name, then you can write a note. For example the url to your linkedin profile. Like this:

![image](https://user-images.githubusercontent.com/1913335/34778520-d932bb7c-f61d-11e7-8690-5d62cb8fb4c8.png)

[2018-01-10 16:12] Rafkraft commented on #156
In order to track daily conversions/clicks on buttons/audience, we need to setup an analytic solution, the default one is Google Analytics, I've set it up on many website already and know how to work with it.

Has anyone ever used Heap ? https://heapanalytics.com/ Seems to be a great tool (and even easier than GA), maybe we could use it instead of google analytics.

@patrick727 any thought on this

[2018-01-10 16:15] dckc commented on #222
That was my first idea too, @lapin7 , but nobody else can see those notes.

[2018-01-10 16:39] kitblake commented on #182
Then I suggest we close this issue and pick up the 'how' in #223.
However, I need budget on this issue for january. Does the invoice generator pick up closed issues? If not we'll wait till the end of the month.

[2018-01-10 16:40] ResonanceXX commented on #182
@Kitblake I support that position. 

Sent from Yahoo Mail on Android

  On Wed, 10 Jan 2018 at 17:39, kitblake<notifications@github.com> wrote:
Then I suggest we close this issue and pick up the 'how' in #223.
However, I need budget on this issue for january. Does the invoice generator pick up closed issues? If not we'll wait till the end of the month.

—
You are receiving this because you were me

[2018-01-10 16:44] lapin7 commented on #222
Oh what a bummer :-(

--
Cheers,
HJ

On Wed, Jan 10, 2018 at 5:15 PM, Dan Connolly <notifications@github.com>
wrote:

[2018-01-10 16:50] lapin7 commented on #182
The budget for #223 will stay, even if it's closed.
The new rule will be that issues without a budget and older then 1 month,
will be closed. And they won't appear anymore in "Budget 201802" nor in
"Rewards 201802".

--
Cheers,
HJ

On Wed, Jan 10, 2018 at 5:40 PM, Chris Ken <notifications@github.com> wrote:

[2018-01-10 16:51] kitblake commented on #182
Ok, closing this.

[2018-01-10 16:51] #182 closed

[2018-01-10 17:04] Mervyn853 commented on #215
"目前的区块链平台虽然令人振奋，但却掩盖不了其设计问题。它们缺乏严谨的系统语义，导致他们运行缓慢，无法扩展，对于以执行关键任务为主的应用更是不安全的。

RChain旨在解决上述问题，RChain平台是区块链技术的一次变革，为用户带来业内首个可扩展且安全的区块链平台。智能合约在RChain上能够并发执行并同时还能进行正确性校验，所以它们非常高效，通用，并且十分安全。

在RChain上，智能合约使用RhoLang来编写，这是一种强类型，支持并发和构建型正确的编程语言。

Rholang智能合同运行在Rho虚拟机上——一个支持并发执行的引擎。RhoVM虚拟机，能够赋予区块链应用前所未有的性能和扩展性。

RChain平台能够支持公共和私有的多重区块链，即使在同一个节点上，这些区块链也能安全可控的进行交互。它受到由整个区块链行业期待已久的共识协议的保护——权益证明。

由于RChain平台让互

[2018-01-10 17:09] ResonanceXX commented on #223
I forfeited, and directed my round number prize be used for registering a new member. Or could be the incentive for attracting one. Provided that is the only limitation. Human resource is a true resource. 
Cheers!

Sent from Yahoo Mail on Android

  On Wed, 10 Jan 2018 at 15:22, HJ Hilbolling<notifications@github.com> wrote:
One of the more active 'helpers' on Telegram is YSGjay. He answers lots o

[2018-01-10 18:12] 9rb commented on #169
what happened to the Udemy Rholang course idea?  Is that a separate topic?

[2018-01-10 19:56] Keaycee commented on #156
Great work @Rafkraft and @ValeBF . I think we are making progress and things are really taking good shape. Accessing this site on a pc really look responsive but static. But on the mobile aspect, the web design is not responsive. The mobile view is also very important in this present age because individuals prefer to access site more on their cellphone because it's handy. The blockchain site is ve

[2018-01-10 20:53] Viraculous commented on #221
Thank you @patrick727. Although, I got a reply from him this morning after
requesting for his thought in blockchain governance and if he could
volunteer to speak in one of our conferences but this was his reply " We
are working with Greg Meredith already.
I don’t really have the capacity to engage in parallel collaborations." . i
was thinking maybe i could contact other open source and cooperative

[2018-01-11 00:29] Viraculous commented on #213
My vote of thanks to all collaborators for contributions and edit work, you all are Great.

[2018-01-11 01:00] sportshark commented on #215
I have reviewed it！It is good ~~

[2018-01-11 01:04] ValeBF commented on #180
Yes I can create the file, let me know when do you have the info ready to work

[2018-01-11 01:59] sportshark commented on #100
@kitblake thank you  I will do it

[2018-01-11 04:34] jplepel commented on #223
Thanks! Who should I send my ETH address to? Also, is it possible to set aside $40 for two people I'd like to bring into the co-op?

[2018-01-11 04:57] Viraculous commented on #223
First of all, welcome aboard the community of collaborators. I think @lapin7 is in a better position about your question.

[2018-01-11 05:12] Viraculous commented on #223
Sorry that I couldnt reply you @jplepel (ysgjay:). I tried to but but was  typing way too fast and an icon popped up to requesting that i join chill zone, i could reply you. I am Victor on discord

[2018-01-11 06:42] ResonanceXX commented on #223
@jplepel The person who I presume incharged is  @kitblake. Hopefully hasn't been changed.
Welcome aboard

[2018-01-11 06:47] ResonanceXX commented on #220
@n10n Shingai Thornton wrote what could be a good piece here. You should check it out.
https://blog.coinfund.io/an-introduction-to-rchain-d5fe303e9fe1

Cheers.

[2018-01-11 06:56] ResonanceXX commented on #208
@jimscarver Hello, please when does the actual peer learning take place. Could this passive, or could a more formal meet be organised. If so you should consider the platforms where this can occur.. Thank you. Cheers.

[2018-01-11 12:12] lapin7 commented on #194
I've made a [proposal](https://github.com/rchain/Members/issues/194) that has to be approved by the COO and/or CEO.

Feel free to edit in suggestion mode.

[2018-01-11 12:18] Keaycee commented on #220
Here is also an article written by **Aleksandr Bulkin** on Rchain. It was written (August 4, 2017)
https://blog.coinfund.io/rchain-series-introduction-985a05804ab

[2018-01-11 13:24] Ojimadu commented on #195
Same inclinations here @dckc. Perhaps, @n10n can put forward some clarification as he created the issue.

[2018-01-11 13:35] Ojimadu commented on #206
@lapin7 My time is UTC +1. It's not a big problem as I can always catch up. Thanks for the YouTube link.

[2018-01-11 14:10] kitblake commented on #220
One of our members, @Viva La Crypto:, created this video which takes the viewer on a tour of RChain info: https://youtu.be/MCCXzvO0Hhk Technical or marketing feedback welcome.

[2018-01-11 15:15] jimscarver commented on #208
My apologies for not seeing the activity on this thread sooner.

Thus far, the work studies have been held in my zoom room
https://zoom.us/j/6853551826. We try,  and sometimes succeed in recording
activity in the log
<https://docs.google.com/document/d/1OVUGmxv4q1ywcxDG-V926lrXpkQNDs7n2eO2R5OJdOk/edit#>.
rchain noob group regular meeting is Thusdays 2pm EST where we can decide
what we want to lear

[2018-01-11 15:47] ResonanceXX commented on #208
Jim very detailed explanation.
"We are self organizing here and without a leader we must all lead" I couldn't agree more. Great stuff. 
Thanks for this. Cheers. 

Sent from Yahoo Mail on Android

  On Thu, 11 Jan 2018 at 16:15, jimscarver<notifications@github.com> wrote:   My apologies for not seeing the activity on this thread sooner.

Thus far, the work studies have been held in my zoom room
htt

[2018-01-11 16:16] lapin7 commented on #206
OK,
Please get in touch with ResonanceXX ( Kenechukwu Oliaku )
for setting up a Telegram group for Nigeria or Africa.
Maybe you have some ideas about that ;-)
--
Cheers,
HJ

On Thu, Jan 11, 2018 at 2:35 PM, Ojimadu <notifications@github.com> wrote:

[2018-01-11 16:48] patrick727 commented on #156
@Rafkraft we could try heap, i've never used it as i'm used to the default GA and GTM's
@Keaycee thoughtful points
@ValeBF coudl you share the latest preview here?

[2018-01-11 16:52] Keaycee commented on #206
@lapin7  It's nice creating a Telegram group for Africa rather than Nigeria alone.  It's a very good idea as it educate individuals about the future crypto coin. I will support in doing the marketing aspect in Africa, precisely Nigeria.  Nice work.

[2018-01-11 17:03] lapin7 commented on #206
Please create an issue: >M Telegram Africa
Discuss about a name, something like: RChain_Africa
Add a budget of for example $1000

--
Cheers,
HJ

On Thu, Jan 11, 2018 at 5:52 PM, Keaycee <notifications@github.com> wrote:

[2018-01-11 17:05] ResonanceXX commented on #206
@lapin7 Did a little digging around.
Chanced to discover the Dutch (Netherlands)  community Telegram name - "RChain_nl"

1) For the purpose of consistency should the nomenclature for the proposed new telegram group name be similar I. E RChain_(NG)  An abbreviation for Nigeria.
2) Also helps clarify above. I believe that dealing with the Nigerian community alone could be premature. So "RChain_Afric

[2018-01-11 17:10] ResonanceXX opened #224 "A New Telegram Group - RChain Africa"
Although progressive modifications may be made to the final name.
This group is a clear signal to the fine emergence of  RChain as a truly global entity.
There are a lot of important pointers to encourage the inclusion of a very youthful African population in the RChain project. Expect a lot of enthusiasm.

**Modalities on getting the Telegram group to take off.

[2018-01-11 17:11] lapin7 commented on #206
Yes in fact I'm also against - and _
If a space works then that's fine as well
@kitblake and I were discussing this naming also. RChainNL was also an option.

And by the way: Announcement:

Zoom Meeting ID:Date, time | https://zoom.us/j/197490909 (webinar)2018-January-17, 20:00 UTCSydney +11, Beijing +8, Lagos +1, Amsterdam +1, New York -5, Seattle -8
-- | --
Agenda + Minutes: | https://docs.googl

[2018-01-11 17:11] ResonanceXX commented on #224
@lapin7  First issue is this 1). RChain_Africa  or 2). RChain Africa.

Kindly get your thoughts across.

[2018-01-11 17:12] ResonanceXX commented on #206
I concur with the both of you. I have a personal bias against the extra symbols. 

Sent from Yahoo Mail on Android

  On Thu, 11 Jan 2018 at 18:11, HJ Hilbolling<notifications@github.com> wrote:
Yes in fact I'm also against - and _
If a space works then that's fine as well
@kitblake and I were discussing this naming also. RChainNL was also an option.

And by the way: Announcement:

| Zoom Meeting

[2018-01-11 17:13] Keaycee opened #225 "M> RChain Africa Telegram group"
The RChain_Africa is geared towards the following goals:

 * Bootstrapping RChain cooperative platform in Africa.
 * On boarding potential African developers to RChain's ecosystem.
 * On boarding, educating and training members, elected representatives, managers and employees so they can contribute effectively to  the development of the cooperative. Also, to inform the general public about the nat

[2018-01-11 17:18] ResonanceXX commented on #225
@Keaycee that had  been done. But good observation. 
Sent from Yahoo Mail on Android

  On Thu, 11 Jan 2018 at 18:15, Keaycee<notifications@github.com> wrote:
Hello Everyone,

I suggest there is a need to create an Rchain channel for Africa especially on Telegram. There are lot of people who barely know about Rchain. They are most familiar with Blockchain and. Ether. I think Africa has a potential

[2018-01-11 17:23] ResonanceXX commented on #225
This is the link to the newly created group. https://t.me/joinchat/HkeA-g9DExa8-6UOpAaC1Q

Sent from Yahoo Mail on Android

  On Thu, 11 Jan 2018 at 18:18, Kenechukwu Oliaku<kenechukwuoliaku@yahoo.com> wrote:   @Keaycee that had  been done. But good observation. 
Sent from Yahoo Mail on Android

  On Thu, 11 Jan 2018 at 18:15, Keaycee<notifications@github.com> wrote:
Hello Everyone,

I suggest the

[2018-01-11 17:27] Keaycee commented on #224
This is the link on the new telegram group for Africa

https://t.me/joinchat/HkeA-g9DExa8-6UOpAaC1Q

[2018-01-11 17:28] ResonanceXX commented on #224
Yeah this is the link
https://t.me/joinchat/HkeA-g9DExa8-6UOpAaC1Q

[2018-01-11 17:34] ResonanceXX commented on #224
Creating a responsive Bot for the group. Requires to be solved. Also a group butler would be necessary.
@lapin7

[2018-01-11 17:44] Keaycee commented on #225
Thanks @ResonanceXX I think africa has a big market for the future crypto Rchain.. But a lot of marketing has to be done to educate individuals on it.

[2018-01-11 18:25] dckc commented on #194
Is encouraging international participation a goal? The financial burden would be higher for those further from the venue. I'm still learning what RChain's goals are w.r.t. international collaboration.

That's the most substantial of my comments; I annotated the proposal with that and other comments.

[2018-01-11 18:30] dckc commented on #156
Whatever surveillance technology we employ, **be sure to disclose it plainly in a privacy policy**.

The current rchain.coop site uses google analytics without disclosing it. Very un-cool.

[2018-01-11 18:30] Viraculous commented on #224
Am truly impressed by the recent development which is a step towards a global identity of this community. Credit to @ResonanceXX  and @Keaycee for your observations and concern but I also think this #224 and #225 should be consolidated in one that accommodates a broader view of the idea.

[2018-01-11 18:41] kitblake commented on #224
Please upgrade the group to a supergroup. Then you can create a memorable join link like:
https://t.me/rchain_africa

The others that we have are:
https://t.me/rchain_coop
https://t.me/rchain_official
https://t.me/rchain_nl

[2018-01-11 19:05] ResonanceXX commented on #224
It is now a super group. 

Sent from Yahoo Mail on Android

  On Thu, 11 Jan 2018 at 19:41, kitblake<notifications@github.com> wrote:
Please upgrade the group to a supergroup. Then you can create a memorable join link like:
https://t.me/rchain_africa

The others that we have are:
https://t.me/rchain_coop
https://t.me/rchain_official
https://t.me/rchain_nl

—
You are receiving this because you were

[2018-01-11 19:08] Keaycee commented on #224
The link has been created, it can now be added to the other telegram channels as you have listed above.

[2018-01-11 19:28] dckc commented on #177
Note discussion of an SDK release in [the Jan 10 debrief](https://github.com/rchain/Members/wiki/Weekly-Debrief-Index#january-10th---community-debrief-59).

I expect it to largely address this issue.

I'm putting in some effort polishing #185, the web playground / sandbox that Kent and Navneet started.

[2018-01-11 20:21] ResonanceXX commented on #224
@kitblake The memorable join link

t.me/RChainAfrica

Cheers. Thanks for the head's up.

[2018-01-11 20:24] ResonanceXX commented on #224
@lapin7 Just that this has only began. I could add some more admins. Have I the right to do so?

[2018-01-11 20:29] Ojimadu commented on #224
The group is supposed to be https://t.me/rchain_africa which is consistent RChain's social handles and nomenclature.

[2018-01-11 20:30] ResonanceXX commented on #224
@kitblake t.me/rchain_africa was rejected after some consideration @lapin7 implied that you had a discussion about it.
I'm just curious as to why there's a new group. And how necessary it is creating options for a single entity.
If this is an error could it corrected for the greater good of RChain.
Misleading information isn't all that good.

- [ ]

[2018-01-11 20:32] ResonanceXX commented on #224
That would be difficult to search out. Members may only come by sharing links. You could have weighed in on the discussion earlier. 

Sent from Yahoo Mail on Android

  On Thu, 11 Jan 2018 at 21:29, Ojimadu<notifications@github.com> wrote:
The group is supposed to be https://t.me/rchain_africa which is consistent RChain's social handles and nomenclature.

—
You are receiving this because you were

[2018-01-11 22:53] Keaycee commented on #225
This comment was made by @ResonanceXX  and was accidentally deleted
"This is the link to the newly created group. https://t.me/joinchat/HkeA-g9DExa8-6UOpAaC1Q

Sent from Yahoo Mail on Android

On Thu, 11 Jan 2018 at 18:18, Kenechukwu Oliaku<kenechukwuoliaku@yahoo.com> wrote: @Keaycee that had  been done. But good observation.

Sent from Yahoo Mail on Android

On Thu, 11 Jan 2018 at 18:15, Keaycee<

[2018-01-11 22:54] dckc commented on #222
I drafted something:

 - [RChain Coop Introductions](https://docs.google.com/forms/d/1RcwaDPlMeMaTE9O-31lx9KOz9edK-mLn7J0bnuGEHQE/edit)

[2018-01-12 04:49] Mervyn853 commented on #224
I also think this #224 and #225 should be consolidated in one. I agree with @Ojimadu in using one that is consistent with the other social handles. We should close out the one that @ResonanceXX created to prevent confusion

[2018-01-12 05:07] sportshark commented on #100
hello ,In December,the translation budget is 1600USD,but I fogot to vote for me in the translation work. So the reward for this month's translation work is 0. next month. please vote for my translation work,Thank you very much!

[2018-01-12 05:14] kitblake commented on #224
Yes, let's merge the conversation into one issue. Closing this one, I'll follow up in #225.

[2018-01-12 05:22] kitblake commented on #225
Sorry about the nomenclature confusion. @lapin7 and I don't like having punctuation in addresses but that's a personal opinion. We must follow the conventions on the existing social media channels, so we use the underscore. Thus https://t.me/rchain_africa is consistent with the other channels. (However, in titles we have to option to dispense with the underscore.)

Note that with Telegram both upp

[2018-01-12 05:42] kitblake commented on #222
That works. I filled it in. Took two minutes, that's what we want.

[2018-01-12 06:52] ResonanceXX commented on #225
You did not weigh in on the discussion. These actions were taken at parallel to each other. And for me, that is never a good sign. 

Sent from Yahoo Mail on Android

  On Fri, 12 Jan 2018 at 6:22, kitblake<notifications@github.com> wrote:
Sorry about the nomenclature confusion. @lapin7 and I don't like having punctuation in addresses but that's a personal opinion. We must follow the conventions on

[2018-01-12 07:06] ResonanceXX commented on #224
Why have @kitblake closed this so soon. A lot of effort has gone in to the Decided group. Will this all be waste.
@Mervyn853 I actually felt that the Former group would have been changed to reflect the nomenclature you desire.
Going through the process of creating a new group. And projecting that before the explanation was given.
That's a lot of confusion.
As much as possible since I was involved

[2018-01-12 07:36] ResonanceXX commented on #222
Checking the boxes. There doesn't seem to be a change when it is prompted. I'll try some other way. But keep an eye on that. Cheers and well done.

Sent from Yahoo Mail on Android

  On Fri, 12 Jan 2018 at 6:42, kitblake<notifications@github.com> wrote:
That works. I filled it in. Took two minutes, that's what we want.

—
You are receiving this because you are subscribed to this thread.
Reply to t

[2018-01-12 08:52] sportshark commented on #100
Hello,I have pull request the faq_cn.md to the reference @patrick727 @kitblake
https://github.com/rchain/reference/pull/29/commits/5996a8d4a0f85cf729513df899777b2f23a2d31b

[2018-01-12 09:21] kitblake commented on #100
Nice! Will be great to have a Chinese FAQ.

[2018-01-12 10:21] lapin7 commented on #224
Yeah. Do as you seem fit.

--
Cheers,
HJ

On Thu, Jan 11, 2018 at 9:24 PM, Chris Ken <notifications@github.com> wrote:

[2018-01-12 10:31] lapin7 commented on #222
Sweet.

Could you add GPS location: latitude, longitude. 2 digits is enough. like
52, 4 for NL

And consider optional sections

The intro could give some links to social media
and a sign up for rchain@googlegroups.com like:
https://groups.google.com/forum/#!forum/rchain/join

Think also about a confirmation message and what we could put in there.

Once you fill out this form, there has to be an on

[2018-01-12 10:38] kitblake commented on #197
@ResonanceXX I looked at your Quora answer here
https://www.quora.com/If-Bitcoin-is-cryptocurrency-1-0-and-Ethereum-is-cryptocurrency-2-0-which-is-the-cryptocurrency-3-0/answer/Christian-ThankGod
and there is a bunch of stuff that doesn't make sense, or it's wrong.
[code]
It's not about the RHOC token, it's about RChain. The second sentence doesn't make sense. Can you clarify it?
[code]
There is n

[2018-01-12 10:45] ResonanceXX commented on #197
Have you only just seen this now. You should have made the correction a lot of time before. And above there's a point where similar calls were made. With corrections by me. You can supplant more information. This is marketing. That's by the way. 
Sent from Yahoo Mail on Android

  On Fri, 12 Jan 2018 at 11:38, kitblake<notifications@github.com> wrote:
@ResonanceXX I looked at your Quora answer her

[2018-01-12 11:10] ResonanceXX commented on #224
I was able to get a graphic design software. I'm not artistic. So an fx  was invited  came up with this. 

Sent from Yahoo Mail on Android

  On Fri, 12 Jan 2018 at 11:21, HJ Hilbolling<notifications@github.com> wrote:   Yeah. Do as you seem fit.

--
Cheers,
HJ

On Thu, Jan 11, 2018 at 9:24 PM, Chris Ken <notifications@github.com> wrote:

—
You are receiving this because you modified the open/clos

[2018-01-12 11:12] Ojimadu commented on #215
Working on the RChain Vision French transcript translation. Will update the transcript and audio soon.
@iamnathanwindsor since you did work on the sound. Would you work on merging the audio in sync with the video? I presume you will do a better job than I would.

[2018-01-12 11:19] Ojimadu commented on #215
Working on the RChain Vision transcript translation french. Will update in audio and transcript soon.
@iamnathanwindsor since you worked on the sound can you help on getting the video merged with the audio?

[2018-01-12 11:23] kitblake commented on #224
@ResonanceXX Don't worry, there is no implication on budget and rewards. All the work you've done will be considered by everybody. That's how the system works, and it works really well.

We simply don't need two issues for one task. Or in this case, one Telegram group.

Because https://t.me/rchain_africa follows the RChain naming convention, we'll use that for the RChain Africa group.

Closing thi

[2018-01-12 11:25] kitblake commented on #197
Yes, i only reviewed it now, and you should change it now. It's wrong.

[2018-01-12 11:30] Ojimadu commented on #219
Let's give mailchimp a try and see how it goes.

[2018-01-12 11:32] #224 closed

[2018-01-12 12:08] kitblake commented on #225
Don't see it as a bad sign. That's the challenge of working remotely, things sometimes happen simultaneously. When that happens it seems like double work but we shouldn't see it that way. It's a team effort, we support each other, and we learn from the work that was done. That improves the team.

[2018-01-12 12:22] kitblake commented on #222
Did trying another way work?

I requested editing rights from @dckc for the form. @ResonanceXX, if you do the same we can work on improving it.

[2018-01-12 15:16] patrick727 commented on #221
Interesting @Viraculous.

Thank you for that effort.

Please do that!

[2018-01-12 15:19] patrick727 commented on #213
@Viraculous and thank you!

@BelovedAquila @plantether @dckc do you all check off on this?

If yes then we can que it up in medium

[2018-01-12 15:37] dckc commented on #189
Lots of details are on https://www.rchain.coop/events and ...

[2018-01-12 15:42] patrick727 commented on #225
yes the double work is a function of redundancy and as long as we communicate and make necessary edits to consolidate the work we are good to go.

Let me know if there is anything in specific you would like to penetrate African market as I have little information about the countries that are progressing with blockchain.

[2018-01-12 15:46] patrick727 commented on #100
I doesnt look like I can merge the pull request.

@n10n or @lapin7 please see https://github.com/rchain/reference/pull/29 and merge the china reference page.

[2018-01-12 16:27] ResonanceXX commented on #197
You should consider making the call on quora. I'll leave it there till someone else makes an edit. Then I'll upvote that.  

Sent from Yahoo Mail on Android

  On Fri, 12 Jan 2018 at 12:25, kitblake<notifications@github.com> wrote:
Yes, i only reviewed it now, and you should change it now. It's wrong.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Gi

[2018-01-12 16:29] ResonanceXX commented on #222
Of course. I'm strongly inclined to help out. But I wouldn't rush off to make edits. I'd have to know alot more about the subject matter.  

Sent from Yahoo Mail on Android

  On Fri, 12 Jan 2018 at 13:22, kitblake<notifications@github.com> wrote:
Did trying another way work?

I requested editing rights from @dckc for the form. @ResonanceXX, if you do the same we can work on improving it.

—
You a

[2018-01-12 16:33] ResonanceXX commented on #225
This was parallel not simultaneously. Of course we are a team. I admire all of the work done. Integration of the structure and material efforts of #224 should commence. Except nomenclature was not the only desired Change? @kitblakeSince naturally #224 comes before #225.

Sent from Yahoo Mail on Android

  On Fri, 12 Jan 2018 at 13:08, kitblake<notifications@github.com> wrote:
Don't see it as a bad

[2018-01-12 18:01] 8lcarte commented on #141
I know the folks at http://melrosepr.com/ I know they recently left another protocol level project and may be interested in working with RChain.

[2018-01-12 18:09] patrick727 commented on #189
another thing i want to do is create a survey with if then statements to try and get feedback regarding these questions.

What brought you to RChain Cooperative?
What would cause you to devote your full-time efforts on the RChain Platform/Ecosystem?

What would cause you to leave the RChain Cooperative? Platform?

What would cause you to fork the RChain platform?

What would cause you to actively

[2018-01-12 18:11] kitblake commented on #192
RHOCs are now listed on https://token.store/trade/RHOC

[2018-01-12 18:22] patrick727 commented on #189
The final thing I think would be fun(ill try to propose if time permits) is a consenus game using the ether.cards we have.

Something like this. Maybe people have a better idea for a verzion of this.

1. Everyone gets the same Sudoku puzzle at the same time
2. Each person gets 3 RHOC cards
3. 5-10% of the group will secretly be "bad actors"
4. Everyone stakes 1-3 cards on if they will choose the c

[2018-01-12 18:52] kitblake commented on #222
Hey, why don't we work together on this @ResonanceXX? Instead of editing @dckc's form (because his forte is actually core code), we'll make a new form and recreate what he did. Then as we craft the content we'll learn about Google forms and we can fine tune the user experience.

Here's a start:
https://docs.google.com/forms/d/171oKtb6Y7h3ICeoVkUoWQeSTc8vD2bU8YHns9tRd3os/edit?usp=sharing
You should

[2018-01-12 19:24] llerner commented on #141
Cool. Look forward to introductions

========================
Lawrence I Lerner
o/m: 630.248.0663
lawrencelerner@gmail.com

Blog: lawrenceilerner.com
 <http://www.lawrenceilerner.com/>twitter: RevInnovator <https://twitter.com/#!/RevInnovator>

On Jan 12, 2018, at 10:24 , Lee Carter <notifications@github.com> wrote:

I know the folks at http://melrosepr.com/ <http://melrosepr.com/> I know they rec

[2018-01-12 19:46] dckc commented on #222
I don't know my lat/long. I like to use "nearby airport" for rough
geographic location. I'll try that.

More on the rest later...

On Fri, Jan 12, 2018 at 4:31 AM, HJ Hilbolling <notifications@github.com>
wrote:

--
Dan Connolly
http://www.madmode.com/

[2018-01-12 20:40] Keaycee commented on #194
@lapin7  In line with the proposal on governance conference,  I created this form with the characteristics stated on the proposal. Members of the RChain cooperative who would like to attend the Governance Conference are expected to fill in the form below.

https://docs.google.com/forms/d/e/1FAIpQLSc7PSiN8D0Af60Wbaz-sMnt0jMcFjO5EZMxjHYuGFiU7y1DDQ/viewform

This form would be a placeholder form pend

[2018-01-12 21:03] #14 closed

[2018-01-12 21:03] #16 closed

[2018-01-12 21:04] #17 closed

[2018-01-12 21:04] #20 closed

[2018-01-12 21:04] #21 closed

[2018-01-12 21:04] #42 closed

[2018-01-12 21:05] #46 closed

[2018-01-12 21:05] #53 closed

[2018-01-12 21:05] #60 closed

[2018-01-12 21:05] #63 closed

[2018-01-12 21:05] #67 closed

[2018-01-12 21:05] #68 closed

[2018-01-12 21:05] #70 closed

[2018-01-12 21:05] #77 closed

[2018-01-12 21:05] #81 closed

[2018-01-12 21:05] #83 closed

[2018-01-12 21:05] #84 closed

[2018-01-12 21:05] #85 closed

[2018-01-12 21:05] #87 closed

[2018-01-12 21:24] lapin7 opened #226 "O> Add participants to issues in "Budget 201801""
@ResonanceXX
Could you add the participants to issues in "Budget 201801" ?
Tomorrow I can explain you how to do it.
thx

[2018-01-12 21:25] kitblake commented on #225
Hey, look at this:

![africa_2018-01-12_11-38-37](https://user-images.githubusercontent.com/912545/34895777-70fb967a-f7e7-11e7-99b7-2cd6fcd7e8e9.jpg)

That looks like a RChain Africa emblem. Nice work!

[2018-01-12 21:40] dckc commented on #194
@Keaycee would you please mark that form "draft" or something?

[2018-01-12 21:44] dckc commented on #213
I have not reviewed more than the first paragraph or so.

[2018-01-12 21:58] Keaycee commented on #225
@kitblake that's a very nice emblem. Can we use it on the telegram group? nice work

[2018-01-12 23:42] dckc commented on #226
There are no judgement calls in that step, right? If that's the case, some javascript could do it automatically. I'm interested to give it a try. Care to write down the steps? Maybe I could just figure it out.

[2018-01-13 00:02] dckc commented on #222
I marked mine OBSOLETE in favor of the copy by @kitblake and made some edits there.

  - added a "get involved in the bounty system" blurb above the list of skills
  - added location / airport
  - in confirmation message, added mention of youtube and twitter and link to FAQ

I'd rather not do sections. I'd like to keep this to "front side of one page". I don't want anybody to go "ugh. too long. Sc

[2018-01-13 01:22] BelovedAquila commented on #220
Actually likewise stumbled upon this while, doing some research and study, I hope it helps in more enlightenment on the Rchain, here please : https://mobile-process-calculi-for-programming-the-new-blockchain.readthedocs.io/en/latest/

[2018-01-13 01:47] BelovedAquila commented on #222
@kitblake would love contributing to the recreation, I considered this adding somethings :https://docs.google.com/forms/d/171oKtb6Y7h3ICeoVkUoWQeSTc8vD2bU8YHns9tRd3os/edit , what do you think?

[2018-01-13 02:19] Viraculous commented on #225
Good emblem @kitblake. Can You make it green in background than black, I think green is associated with Africa.

[2018-01-13 02:40] Viraculous commented on #213
@plantether did the last edit work but dckc can still review but for me I think its set.

[2018-01-13 02:54] Viraculous commented on #221
@patrick727 Thanks I will

[2018-01-13 02:54] Viraculous commented on #221
@patrick727 Thanks I will

[2018-01-13 03:15] Viraculous commented on #208
Interesting @jimscarver. What's going to be the nature of the work group? Based on specialization, interest or technical know-how?

[2018-01-13 07:06] Keaycee commented on #115
@patrick727 I will take on that. I already have one created but i would like to know if there is already a "I've read and understand the guidelines" document or memo so i can make an adjustment in the form.

[2018-01-13 08:08] lapin7 commented on #225
Green is a holy color for Moslims. I know that Heineken had a problem with their green tins of beer.

[2018-01-13 08:09] kitblake commented on #225
The image was created by @ResonanceXX (and a designer friend I think). It would work for the Telegram group, indeed.

:thumbsup: for the graphic artist's work :)

[2018-01-13 08:41] lapin7 commented on #226
The data needed from Github at each change of an issue is:
Issue Number, Pipeline, Participants, Number of Comments per Participant (each comment adds 1 to creator of comment),

You could assume that an issue is already created in the spreadsheet TAB "Budget 201801". However it would be nice to have a spreadsheet that records a new issue at creation time.

I will try to give an overview of how the

[2018-01-13 09:00] lapin7 commented on #194
Make it a draft and editable for rchain@googlegroups.com

Maybe it's nice to integrate these forms:

https://docs.google.com/forms/d/e/1FAIpQLSc7PSiN8D0Af60Wbaz-
sMnt0jMcFjO5EZMxjHYuGFiU7y1DDQ/viewform
https://docs.google.com/forms/d/171oKtb6Y7h3ICeoVkUoWQeSTc8vD2bU8YHns9tRd3os/edit

I like sections and before a section begins you can add a way out to
submit. When you get bored of the form you can

[2018-01-13 09:02] lapin7 commented on #222
Maybe it's nice to integrate these forms:
https://docs.google.com/forms/d/e/1FAIpQLSc7PSiN8D0Af60Wbaz-sMnt0jMcFjO5EZMxjHYuGFiU7y1DDQ/viewform

https://docs.google.com/forms/d/171oKtb6Y7h3ICeoVkUoWQeSTc8vD2bU8YHns9tRd3os/edit

I like sections and before a section begins you can add a way out to submit. When you get bored of the form you can submit at any moment.

[2018-01-13 09:16] Keaycee commented on #226
@lapin7 I agree with you on "However it would be nice to have a spreadsheet that records a new issue at creation time" and "It would be great if that could be automated with JavaScript".
Can it be automated on a new spreadsheet using a JavaScript?
Well, since the manual ways of input is good i think we should keep up with it pending when a new automated spreadsheet is created. I would like to also

[2018-01-13 09:17] kaka56 commented on #223
@jplepel Welcome aboard .your efforts are indeed remarkable.

[2018-01-13 10:18] Keaycee commented on #223
Thank you so far for your contribution @jplepel good to have you aboard. You mentioned about setting aside $40 for two new members who wants to join our community. You must know that each of them have to pay the registration fee of $20 solely. But if you do want to assist in paying both fees, i suggest pay using a credit card as it's more easier and faster to get a payment confirmation.

[2018-01-13 11:36] ResonanceXX commented on #226
@lapin7 I'll await your prompt tomorrow/today.

[2018-01-13 11:39] ResonanceXX commented on #225
@lapin7 Important observation. @kitblake I concur with you. He made a few pitches. But this stood out.

[2018-01-13 12:01] Keaycee commented on #194
@lapin7 it's open for rchain@googlegroups.com to make any necessary update or edit.

[2018-01-13 13:02] kitblake commented on #222
Thanks for the improvements @dckc and nice work @BelovedAquila. Looks much better! Especially now that the default google style is gone.

Somehow the submit button is gone too. I tried to fill in the form. Probably a result of the burst of editing.

We should do some testing, meaning fill in the form so we have some example data. That will help us determine what fields we want to keep. For this pa

[2018-01-13 13:11] kitblake commented on #225
Thanks @ResonanceXX. Nice that he is a local contributor too. The idea of superimposing the RChain logo on an outline of the continent is simple and effective. We could do the same for others, e.g. RChain South America.

So yeah, I'm all for using it for the group. Let's try it out!

[2018-01-13 13:12] Keaycee commented on #222
Nice work everyone who edited the form @BelovedAquila @dckc . But the form need some adjustment. Especially the skill acquisition form. I will have to work on the form and grant an access rchain@googlegroups.com for any further edit.

[2018-01-13 13:29] kitblake commented on #222
Go for it @Keaycee. On second look, I'm also missing the:
'added a "get involved in the bounty system" blurb above the list of skills'

This form will be part of the onboarding workflow so mentioning the bounty system provides incentive. It'll be nice to have a definitive signal that so-and-so is onboard and would like to contribute. That bell has been missing so far. (Ideally a real living person

[2018-01-13 14:06] sportshark commented on #173
published the nows of “RChain Developer Retreat Roundup (Part 1 of 4)” , you can see it here http://www.rchain.site/?p=96, send link to the community discussion

[2018-01-13 14:13] BelovedAquila commented on #225
How about something like this?
![photogrid_1515850889466](https://user-images.githubusercontent.com/34511117/34906692-77b3f2b0-f872-11e7-9aa8-ba46e3901b5e.jpg)
![photogrid_1515850911814](https://user-images.githubusercontent.com/34511117/34906698-8e91a522-f872-11e7-9dc4-b999d2c2f03c.jpg)

Or
![photogrid_1515850977016](https://user-images.githubusercontent.com/34511117/34906700-9bcfc476-f872-11e7-8