[2017-09-17 14:08] patrick727 commented on #79
@dckc again great work on this!

The video description is "RChain Debrief" so we will use that moving forward, zoom is the software to hold the video conferences.

Id like to see this page a bit more detailed then the newsletter verzions moving forward, perhaps @plantether can help with this.

see https://docs.google.com/document/d/1Va_u-I_IWCvpWVgQXNKsFuhpaH-enouhPotJMTGoiRM/edit?usp=sharing

[2017-09-17 14:50] patrick727 commented on #94
http://archive.sendpulse.com/shc4c/c8107a1c/?_ga=2.188387880.1813575932.1505574399-455718163.1494599085

here is the test newsletter, feedback welcome sooner then later

[2017-09-17 15:13] plantether commented on #94
@patrick727 I gave some editing suggestions for the top part in the original doc.

[2017-09-17 15:26] plantether commented on #94
Chris-kirkwood-watts should be Chris-Kirkwood-Watts
Giatto should be Giotto

I would suggest rephrasing a couple of the summaries:

Technical Discussions: Q&A on Namespaces from discord
TO
Technical Discussions: Q&A on namespaces and channels

Greetings Giatto + further Q&A on UI for DApps
TO
Welcoming Giotto and RChain use case discussion

 - Chris-kirkwood-watts gives a demo of the comms layer
T

[2017-09-17 15:34] plantether commented on #94
For the Sept. 13 summaries

```- Greg new updates: Slack is outward facing communications, and discord is the communications for the membership.```
TO
```- Greg new updates: Slack is for outward facing communications, and Discord is for members communication.``

 ```- Griff and Greg to schedule a demo.```
on what?

```- Kent is absent: greg updates on kents work.```
TO
```- Kent is absent: Greg up

[2017-09-17 15:46] plantether commented on #94
The use of periods at the end of each summary line is inconsistent. It seems without the period has been the style usually used.

[2017-09-17 16:40] plantether commented on #79
@patrick727 @entropee @dckc @kitblake What do you think the more detailed format should be? More and more detailed summary lines, more summary lines but shorter, existing summary lines but annotated?

For example, for Sept. 6:
The newsletter summary line is:
```- Technical Discussions: Q&A on Namespaces from Discord```

Do you prefer:
(A) Breaking it down into more and more detailed links like the

[2017-09-17 17:58] kitblake commented on #85
Using Chrome (not Firefox because you need the git-vote Chrome extension), set your Metamask or Parity on the Ropsten testnet, then send Jake your address.

[2017-09-17 18:21] lapin7 commented on #96
I found a new issue:
Cleaning up (the behavioral-types section of the rholang spec](https://github.com/dckc/rholang-spec/blob/grammar-markup/specification.rst#behavioral-types) by @dckc
Don't know yet where and how to place it.

[2017-09-17 20:19] lapin7 commented on #100
Hi @jeamick
Great that you could do a translation in French.
But there's first some investigation to do, because there's no language policy at the moment. In fact we need first a plan. Maybe you feel like helping with that, since you have experience with translation of Ethereum documentation.
It's all about self-organisation. So you have to set up your own team, set your goals and define your USD

[2017-09-17 21:50] plantether commented on #88
@dckc I don't understand either. Could you ELIF for us, please?

[2017-09-17 22:29] dckc commented on #88
No, I can't think of a simple way to convey several years of experience. And maybe this context is different.

But I'm curious: what's the intended audience of the document? What situations are likely to cause someone to read / consult it? What are triggers to maintain / update it?

[2017-09-17 22:43] dckc commented on #80
Ah... so the scope here is /reference. As I was trying to get myself oriented, that was one of the more useful pages. While I'm sure it can be improved, it's not clear to me that it's broken in any critical way.

As to that particular outline... I doubt Research should go first. After the architecture document and the FAQ, the weekly community update is perhaps the main thing to know about. And fo

[2017-09-17 22:55] dckc commented on #81
Oh. That template is for personas / roles, which is a pre-requisite to what I had in mind: an [User Stories in Extreme Programming](http://www.extremeprogramming.org/rules/userstories.html). So they're related, but not the same. Now I can see why your list looks like it does. I'll have to mull it over some more.

[2017-09-17 23:15] dckc commented on #79
I very much like the idea of elaborated summaries of the videos, but I wouldn't add them to the same index. The current list of 5 to 7 links per week was just what I, as a new person, needed: it was the difference between

 - _yikes! 40 weeks of updates! I'll never find time to watch them all. And how will I keep track of which is which?_
to
 -  _ah. OK... now I can pick and choose which ones to w

[2017-09-17 23:29] dckc commented on #79
Thanks @patrick727 ; I made an edit to use "RChain Community Debrief" (more) consistently and add serial numbers and renamed it to https://github.com/rchain/Members/wiki/Weekly-Debrief-Index

[2017-09-17 23:33] dckc commented on #96
Not every issue goes here, does it? Issues in that spec can go in the `rholang-spec` repo, no?

Oh... I guess in order to show up in the budget process it should be represented here somehow. Hm.

[2017-09-18 04:42] kitblake commented on #80
@dckc, this is illuminating feedback. Please continue to post your impressions - especially the bad ones – as you explore. We know the onboarding experience needs to be much smoother. In terms of larger goals, that's what a lot of us are focusing on. The comments you're making are like light in the forest.

[2017-09-18 04:52] kitblake commented on #96
If this is something a core developer should fix then it needs to be tasked within that team. Note that there is also a Jira which is only accessible to the core developers. Putting the issue in the rholang-spec repo is probably the right place. Budget only applies if someone from the community spends time on it.

[2017-09-18 05:25] kitblake commented on #88
The dictionary/nomenclature is meant for clarifying RChain-specific jargon for people who are not indoctrinated insiders. While many of the words listed, like "Tuple Space", are generic concepts the intention is to flesh out the definitions with RChain context. Other words, like "RhoVM", will be RChain-only.

Since they're Github headings the words are URL-addressable. If someone asks "What's that

[2017-09-18 05:52] dckc commented on #88
FYI, I just ran across another pattern language via lobste.rs: https://martinfowler.com/eaaCatalog/

[2017-09-18 07:50] lapin7 commented on #96
The whole process of Budget Allocation and Spending is now prototyped in
Google sheets, - forms and a Chrome extension for Mail merge.
Spreadsheets are a pain to maintain and the process should go to a kind of
database construction or let's try to give it a go in Rholang, if that's
already possible.

Soon I will have finished the functional spec which is independent of
implementation. The techniqu

[2017-09-18 08:02] lapin7 commented on #80
This week I want to invite Activist, that have gone through the
PRE-membership registration and paid a fee of $20, to become a Member and
get access to Discord.
In issue #93
<http://t.sidekickopen68.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs2zhDwMW5v_SgK2zWN1RW1p1hXH56dLy3f6WHqqH02?t=https%3A%2F%2Fgithub.com%2Frchain%2FMembers%2Fissues%2F93&si=5281391242641408&pi=1fdc5a0b-e142-4338-8a08-ea

[2017-09-18 09:52] lapin7 commented on #93
This week I want to invite Activists, that have gone through the PRE-membership registration and paid a fee of $20, to become a Member and get access to Discord.

A personalised email will be send. The content is drafted in Gdrive: RChain/Members/Identification/[Template Activist to Member](https://docs.google.com/document/d/16szs0_Obml8x6gm3MO1fas8S4p1V7pbweiMeqjq2L6Q/edit#heading=h.iznzyifbq2y3

[2017-09-18 13:23] patrick727 commented on #79
@plantether I agree with @dckc 's points, so if i had to choose something like B would be my choice but considering the lenghtyiness.

@edeykholt made the same comment in our meeting yesterday In regards to this issue as well as the Wiki issue which go hand in hand. "Less like a complete transcript, and more like a clean primer"

[2017-09-18 13:30] patrick727 commented on #88
@dckc I get it now, based on that example. Thanks for that.

That would require a catalog of pages for each word and definition.

Is this doable in github?

I like the simplicity of the dictionary so far.

Audience would be 1. a bot to pull definitions from. 2. an RChain researcher that wants to become accustom to the nomenclature and how it is used within the documentation.

[2017-09-18 13:35] patrick727 commented on #80
@dckc @kitblake yes this is not the most critical of tasks, hence "should not take much time"

That feedback is great thankyou. So how about lets comment are proposed new /reference that includes the weekly update. Something that someone with proper access can just copy and paste over

[2017-09-18 19:07] dckc commented on #88
I can see the chat bot scenario working well. (In fact, I have seen it work well...) The bots I have seen use some sort of database that isn't published as a web page, but using a page in git as the db makes as much sense as anything else.

But for researchers, I'm less confident; for them (i.e. us; I count myself as an occasional researcher), seeing the terms used in context is essential, with ea

[2017-09-19 01:56] dckc opened #105 "O> How best to organize the /Members repo"
_oops! scope of this issue has gotten muddy. Use of labels should be split out from how to organize files in the repo. And "use of labels" is not SMART either; I'm noodling on how to attack it._

One of my goals for this issue in particular is:
 - [ ] establish pull request workflow with reviews (_done in #319_)

Stuff for an issue to-be-created:

  - [ ] close issues that have no clear next steps

[2017-09-19 03:35] dckc commented on #103
ok... maybe I should have gotten more review first, but I kinda pulled the trigger: https://github.com/rchain/Members README and CONTRIBUTING 4685732

[2017-09-19 03:44] dckc commented on #96
@lapin your https://github.com/rchain/Members/issues/96#issuecomment-329787842 seems to be the best description of how things actually work. I used it to update CONTRIBUTING in 69d02c4

I orgainzed it in a way that I think is more clear, though there were some parts I didn't completely understand, so I just copied them verbatim.

[2017-09-19 03:46] dckc commented on #93
oops... "Activist" is passe? I didn't realize that in the update of README and CONTRIBUTING that I just did.

[2017-09-19 03:53] kitblake commented on #88
@dckc, I'm trying to find that IndieWeb bot.. is it in their Slack?

```<off-topic>```
They have all the channels bridged:
"Join the #indieweb discussions via the web, IRC, Matrix or Slack!"
```</off-topic>```

[2017-09-19 03:56] dckc commented on #88
@kitblake I don't know. But they're very friendly and responsive. Head over and ask!

[2017-09-19 03:58] dckc commented on #88
oh... and actually, I think that indieweb bot does publish its DB on the web - in their wiki.

[2017-09-19 04:52] Lapin commented on #96
Wrong reply buddy :)

On Sep 19, 2017 06:44, "Dan Connolly" <notifications@github.com> wrote:

[2017-09-19 11:58] lapin7 commented on #96
Yes apparently we have @Lapin and @lapin7. The last one is me: HJ

[2017-09-19 12:09] lapin7 commented on #93
Activist is not passé yet. I'm in the process of converting Activists into
Members. Respectively:

   1. Activists that have paid $20 and/or are collaborator on Github/Members
   2. Activists that are a collaborator on Github/Members
   3. Collaborators on Github/Members that didn't go through a registration
   process
   4. Members that have paid $20 in order to become a member and have
   partic

[2017-09-19 12:10] lapin7 commented on #103
Your edits are fine, because it's really an improvement :-)

--
Cheers,
HJ

On Tue, Sep 19, 2017 at 5:35 AM, Dan Connolly <notifications@github.com>
wrote:

[2017-09-19 12:14] lapin7 commented on #105
@dckc It would indeed be better if things are split up in different projects. Please make a proposal and let's see how we can implement this. Probably you're more experienced in Github then I am ;-)
The goal is to make things manageable and workable for collaborators.

[2017-09-19 13:28] lapin7 commented on #79
Great @dckc has assigned himself a reward for this issue and a budget was already allocated. It would be nice if @dckc also set's a percentage for the work that @patrick727 , @entropee and @plantether have done.
He also needs 2 more collaborators to vote as well on the rewards.

And @dckc could still assign a budget to this issue, according to his opinion. This however not needed, because there ar

[2017-09-19 17:39] #94 closed

[2017-09-19 18:13] kitblake commented on #88
I inquired. The DB is the wiki itself: https://indieweb.org/User:Loqi.me
Storage questions aside, it's a nice bot that does a lot of stuff.
Also it's working in all their chat channels, because all their channels are bridged, including irc, Slack, Matrix, riot.im.

[2017-09-19 18:55] dckc commented on #105
Well, I propose:
  - @kitblake creates a repo for welcomebot: https://github.com/kitblake/welcomebot and moves the contents of https://github.com/rchain/Members/tree/master/projects/bots/welcomebot there
    - peers can fork that repo as usual...
    - if / when it becomes important for there to be a "master" repo that isn't owned by kitblake, create `/rchain/welcomebot`
  - @jimscarver (or anyone

[2017-09-19 20:09] jimscarver commented on #105
@dckc how does one find projects related to rchain member activities. It is convenient to find them the under projects. I guess we could just have a projects file that points to them. We put it unders /members because the community only has access there.

[2017-09-20 05:20] dckc commented on #105
Yes, you link to them from a projects file (or wiki topic).

The awkward thing about the current arrangement is: if you want to clone any of the projects, you end up cloning them all. And a commit to one has to be sync'd (push / pull) by all, and so on.

[2017-09-20 05:31] kitblake commented on #105
/projects was created to keep the root of /Members clean. It's also where things-being-incubated live before they move to a permanent home, e.g. the FAQ was in /Members/projects before it was ready for prime time. Then it moved to the public facing /reference. Presumably dictionary.md will do the same.

As for the three reorganization points:
1. I don't want to own the Welcome Bot because I didn't

[2017-09-20 06:26] drbloom commented on #93
**FOUR MEMBERSHIP REQUIREMENTS**
1. Affirm Membership agreement
2. Photo of current govt issued ID
3. Verified payment of membership fee
4. Verify face on live video

The private-sale portal will be modified to support this process and I've asked for items #1 & #2 to be expedited to help us collect data from activists who have already paid.

The process can be expedited further for those who have

[2017-09-20 10:56] kitblake commented on #85
There are a few decisions to be made before we take any next steps on a code level. However I also want to remind everyone that one of our objectives is KISS. Voting can get ridiculously complex. Feel free to debate or amend:

* Do we want to charge more, like 1 RHOC, in order to vote?
  - If so, what should happen with the collected RHOCs?
* Do we care that people can vote more than once?

I'll p

[2017-09-20 12:17] dckc commented on #105
things-being-incubated belong on branches

[2017-09-20 14:28] jimscarver commented on #105
living documents are not being incubated they are being evolved. It may be
the wiki is a better place for those.

We want things in the same place to facilitate working together community
wide. Branches in members are for individuals or small teams working
independently. External branches are good for starting experimental stuff
but need to be brought in to get wider community participation.

The

[2017-09-20 22:57] vamvari commented on #29
I got onto changelly again with a bunch of informaiton. They responded with
"Thanks for all your info about your project. Please kindly note we can't list any token without it being listed on Bittrex or Poloniex".

Looks like Bittrex or Poloniex listing is now the high priority. I will follow them up

[2017-09-20 23:04] vamvari commented on #29
NB: Bittrex requires an Enhanced Verified Account of team member registered on Bittrex. This team member must be either a core developer or a major shareholder (10% or more) of a company that backs the development of the coin. That member will need to submit identifying documents to get their account Enhanced Verified.

[2017-09-21 05:42] lapin7 commented on #29
I don't think there's a shareholder that has > 10%
Probably a board member has to back the process of registering.

Plz ask this question to all board members

Best,
HJ

[2017-09-21 12:15] Rafkraft commented on #47
- I assigned myself to this issue
- To be a contributor of the project, I must have at least one commit on this repo, I don't have anything to commit on this repo, I'm working on another one (private one) for now.

I filled up the form to became RChain activist, didn't receive any update on my status so far, am I ok or did I miss something ?

By the way, the url changed -> https://rchain.fabco.tec

[2017-09-21 13:26] patrick727 commented on #47
@Rafkraft i believe its comment not commit.
@lapin7 should be confirming your activist submission in no time. Lets also get you to registrister as a member of the cooperative if that is something you are interested in.

Thank you for waiting for the designer, you will recieve rhocs rewards for the work done up until this point and then going forward as well.

cheers!

[2017-09-21 18:32] jimscarver opened #106 "Member Voting"
A mechanism is needed for member voting

[2017-09-21 18:49] jimscarver commented on #106
We are looking into a mechanism to have ethereum signed messages indicating the proposal and vote that could be on or off the blockchain. @kennyrowe should we continue on this?

A web3 app
* binary votes on proposal.
* list of alternatives ranked
    * group rank algorithm? tigman?

User experience?
Admin role?
Reporting?

[2017-09-21 19:46] jimscarver commented on #106
Prior to today's meeting  I deployed a very simple voting contract on ropson https://ropsten.etherscan.io/address/0x5bcd0088aacc6e39d7506fed06606db358bb19be#code
The idea was that we could tally the votes for whitelisted member ids later for free.
The vote itself would have cost members about 28 cents each on the mainnet.
Using the signed message approach seems preferable.

[2017-09-22 02:13] patrick727 opened #107 "Important!!! Promote this Press Release"
Hey Guys, I figured we would drop it here to the activist community first.

Here is the press release announcing that Vlad Zamfir, will be the 7th Board of Director for the RChain Cooperative and help guide our Casper Proof-of-Stake implementation

https://docs.google.com/viewer?url=https://github.com/rchain/board/raw/master/Vlad%20Zamfir%20joins%20the%20RChain%20Cooperative.pdf

Let's get this pi

[2017-09-22 02:15] llerner commented on #107
I don't see a link?

[2017-09-22 02:28] patrick727 commented on #107
@llerner added it!

[2017-09-22 02:44] dckc commented on #105
@kitblake you didn't write welcomebot? The git history strongly suggests you did... but now I see that you moved it from something that @jimscarver commited. That's one reason to use branches rather than subdirectories: git isn't very good at tracking history when things move around. Hmm... maybe it does better than I thought; blame shows most of lines as written by @jimscarver.

Still: renames /

[2017-09-22 02:50] dckc commented on #107
It would be easier to promote if it had a more traditional URL like https://www.rchain.coop/news/2017/09/​zamfir​-joins-rchain ... one that's clearly owned by rchain.

[2017-09-22 02:54] dckc commented on #107
Oh... now I see google docs is just being used as a viewer. https://github.com/rchain/board/raw/master/Vlad%20Zamfir%20joins%20the%20RChain%20Cooperative.pdf works too. That's a little better, but [sharecropping][] on github still isn't ideal, especially when it's not social coding.

[sharecropping]: https://www.tbray.org/ongoing/When/200x/2003/07/12/WebsThePlace

[2017-09-22 03:08] patrick727 commented on #107
@dckc  those are good points, right now i'm working with what was given.

Here are the linked tweets
https://twitter.com/rchain_coop/status/911062616222715906
https://twitter.com/rchain_coop/status/911063763599667201

[2017-09-22 03:14] djrtwo commented on #107
Both links are broken for me on mobile btw.

On Thursday, September 21, 2017, Dan Connolly <notifications@github.com>
wrote:

[2017-09-22 03:16] djrtwo commented on #107
Or at least from my mobile mail. I copied the PDF link and pasted to
browser and it worked. Exciting news!

On Thursday, September 21, 2017, danny ryan <dannyjryan@gmail.com> wrote:

[2017-09-22 03:19] patrick727 commented on #107
@djrtwo thanks for the pointer! and yes very Exciting, can't wait to see what the co-op looks like by the time Mercury gets released! Medha is doing a great job as well with project management too makes me feel very confident.

[2017-09-22 03:33] patrick727 commented on #107
Here is the reddit thread https://www.reddit.com/r/CryptoCurrency/comments/71og5p/vlad_zamfir_joins_the_rchain_cooperative/

[2017-09-22 03:43] djrtwo commented on #107
I threw it onto /r/ethtrader. Those guys usually get pretty hyped up about
Vlad.

https://www.reddit.com/r/ethtrader/comments/71ohhp/casper_research_vlad_zamfir_joins_the_rchain/

On Thursday, September 21, 2017, patrick727 <notifications@github.com>
wrote:

[2017-09-22 05:16] kitblake commented on #105
@dkkc thanks for your input on this Github usage question. We discussed it during the weekly Activist meeting but didn't arrive at any conclusions.

The /Members repo is not populated with engineers and there's no appreciable code base yet. Considering onboarding and the fostering of community activism we want to keep everything visible. Hiding stuff in branches makes sense given a mature code bas

[2017-09-22 05:19] kitblake commented on #105
Following on @jimscarver's suggestion I edited @dckc's issue title (also it exceeded the Github recommended 50 character summary limit ;)

[2017-09-22 05:24] kitblake commented on #106
It's important to define – in advance – exactly what will be voted on and what sort of vote type it'll be.

[2017-09-22 08:49] lapin7 commented on #105
@dckc @jimscarver @kitblake Please don't forget to add a budget through form [Budget allocation and spending](https://docs.google.com/forms/d/e/1FAIpQLSfz-EGexMGPaw0eHwlBBNssQIR5hQCEOsWOZceVrPCo5mjGUA/viewform)

URL | Status | Project / Issue | Category | Votes | Last month | Left over | New Budget | $ Sep Budget | ⍴ Sep Budget | Voters
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
https://

[2017-09-22 08:52] lapin7 commented on #106
@jimscarver @kitblake Please don't forget to add a budget through form [Budget allocation and spending](https://docs.google.com/forms/d/e/1FAIpQLSfz-EGexMGPaw0eHwlBBNssQIR5hQCEOsWOZceVrPCo5mjGUA/viewform)

URL | Status | Project / Issue | Category | Votes | Last month | Left over | New Budget | $ Sep Budget | ⍴ Sep Budget | Voters
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
https://github

[2017-09-22 09:05] lapin7 commented on #107
@patrick727 @dckc @djrtwo @llerner  Please don't forget to add a budget through form [Budget allocation and spending](https://docs.google.com/forms/d/e/1FAIpQLSfz-EGexMGPaw0eHwlBBNssQIR5hQCEOsWOZceVrPCo5mjGUA/viewform)

@patrick727 please be careful with assigning people to issues without their consent. Best is that collaborators assign themselves ;-)

@llerner please fill out the form [Activist R

[2017-09-22 11:22] jimscarver commented on #106
I added a budget for $5000. If that enough to get this in production before oct 24?

[2017-09-22 12:41] patrick727 commented on #107
@djrtwo thanks!

medium post https://medium.com/rchain-cooperative/vlad-zamfir-joins-the-rchain-cooperative-a05f8e32c110

[2017-09-22 12:45] patrick727 commented on #107
New tweet pairs

https://twitter.com/rchain_coop/status/911209280434515969
https://twitter.com/rchain_coop/status/911209323581313024

[2017-09-22 12:49] patrick727 commented on #107
retweet this tweet and/or tweet at this guy https://twitter.com/crypt0snews so that he will cover it on his news show, hes got about 50k subs.

my tweet: https://twitter.com/patrickpresents/status/911210439626850304

[2017-09-22 13:09] jimscarver commented on #107
I created a link http://tinyurl.com/RChainVlad

[2017-09-22 16:48] kennyrowe commented on #106
@jimscarver I think we should take the path that is most straightforward. My guess would be that would be to complete the work already started on github voting.

Since the agenda will be posted prior to the meeting, proxies can be delegated as well.

[2017-09-22 16:56] patrick727 commented on #107
@kdvalentine or @plantether

are you able to whip up a quick 500-750 word blog post on Vlad joining the Cooperative?
this will be a guest post for State of the Dapps (ethercasts)

All it needs to do is highlight the news, talk a bit about casper proof of stake, and then talk about the importance of blockchain governance and the reasoning behind doing rchain as a cooperative, and how vlad and kenny

[2017-09-22 17:54] kitblake commented on #107
Upvoted both. This is creating some buzz, great.

[2017-09-22 18:24] kitblake commented on #106
Imho the path of least resistance is a signed Ethereum message. No RHOCs.

The github voting requires Metamask/Parity, a custom RChain Chrome extension, and RHOCs. However we ( @Jake-Gillberg and @jimscarver ) can use what we learned from that project and create a voting contract for the Members meeting.

[2017-09-22 18:55] kennyrowe commented on #106
That sounds right @jimscarver. A signed message from a whitelisted address should work. We might also be able to assign proxies in this manner.

For reference here are a few other ways to sign messages in Ethereum:
 - [helpEth](https://github.com/ethereumjs/helpeth),
 - [MyEtherWallet](https://www.myetherwallet.com/signmsg.html)
 - Geth console `eth.sign("0x123...", web3.sha3("text"))`

[2017-09-22 19:04] entropee commented on #63
I want to remind everyone that we are running a Social Ledger trial on Mattermost. All research into the AI chatbot and to the Video Production Group will proceed from there. I also want to give a big thank you to Jim for finding another valuable resource that will prove most useful. The next step seems to be how do we merge the social ledger into RChain. Everyone needs to see Mattermost!

[2017-09-22 19:06] entropee commented on #63
I feel like any second now I am going to reach the singularity in personal productivity.

[2017-09-22 19:09] entropee commented on #63
It occurs to me that the best way to experience the Social Ledger thingamabob is to try to try to build your own pet project there like I did. Or you can help me.

[2017-09-22 19:10] entropee commented on #63
It's already much better than both slack and shadowslack, combined.

Sorry for the rant. I am not used to github.

[2017-09-22 20:43] lapin7 commented on #105
**Budget update**
**2 more Activists votes needed for setting the budget** (please find them :-)

URL | Status | Project / Issue | Category | Votes | Last month | Left over | New Budget | $ Sep Budget | ⍴ Sep Budget | Voters
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
https://github.com/rchain/Members/issues/105 | New | How best to organize the /Members repo | Marketing | 1 | $ - | $ - |

[2017-09-22 20:45] lapin7 commented on #106
**Budget update**
**1 more Activist votes needed for setting the budget** (please find one :-)

URL | Status | Project / Issue | Category | Votes | Last month | Left over | New Budget | $ Sep Budget | ⍴ Sep Budget | Voters
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
https://github.com/rchain/Members/issues/106 | New | Member Voting | Marketing | 2 | $ - | $ - | $ 5,000.00 | $ 5,000.00 | ⍴

[2017-09-22 20:47] lapin7 commented on #107
**Budget update**
**2 more Activist votes needed for setting the budget** (please find one :-)

URL | Status | Project / Issue | Category | Votes | Last month | Left over | New Budget | $ Sep Budget | ⍴ Sep Budget | Voters
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
https://github.com/rchain/Members/issues/107 | New | Important!!! Promote this Press Release | Marketing | 1 | $ - | $ - | $

[2017-09-22 20:53] lapin7 commented on #107
Who wrote [the blog post](https://medium.com/rchain-cooperative/vlad-zamfir-joins-the-rchain-cooperative-a05f8e32c110) on Medium?

[2017-09-22 21:34] lapin7 commented on #63
Please always insert links to referenced material or tools.
Like what's the address of mattermost. :-)

--
Cheers,
HJ

On Fri, Sep 22, 2017 at 9:10 PM, Gary (otomplodomo on Slack) <
notifications@github.com> wrote:

[2017-09-22 21:49] jimscarver commented on #106
We might have a page listing issues linked to a page like a modified MEW
signer <https://www.myetherwallet.com/signmsg.html> having a submit button
to post the issue and signed vote message.

To start simple the post can read a file containing the whitelisted
addresses, verify the address, and store the signed message in a file
having the name of the account address under a directory for each issu

[2017-09-23 05:18] lapin7 commented on #100
Hi @jeamick
Please post here some links of your translations of Ethereum Documents. So we can see what you've done so far.
Regards,
HJ

[2017-09-23 11:45] lapin7 commented on #93
Please edit [Invite Activists to become Member.md](https://github.com/rchain/Members/blob/master/Invite%20Activists%20to%20become%20Member.md) ASAP.
The MD formatting needs some adjustments.

[2017-09-23 11:50] jeamick commented on #100
Hi, @lapin7
 Here is the link to the translation:  I work with Asseth a French association working on the development of Ethereum.
[](https://www.ethereum-france.com/yellow-paper-ethereum-livre-jaune-traduction-complete/)

[2017-09-23 13:34] lapin7 commented on #100
Salut @jeamick
Thx, but the link is missing. Nice that you work with [Asseth](http://www.asseth.fr/). Maybe this could be the start of a great cooperation.

Le mois d'Octobre je suis en France. Donc peut-etre nous pouvons se fixer un RDV d'intro?

A+ HJ

[2017-09-23 13:44] patrick727 commented on #107
@lapin7 the medium post is a direct copy from the press release.

@kdvalentine said that he would draft up another guest post as well.

[2017-09-23 15:13] lapin7 commented on #93
@drbloom @navneet @kennyrowe @dckc @kitblake

Hi guys,
Is [this file Contributing.md](https://github.com/rchain/Members/blob/master/CONTRIBUTING.md) the correct process and is it well explained?
Then we can tweet it as a reaction on the Vlad tweets.

[2017-09-23 16:33] jimscarver commented on #106
@lapin7 do we have eth addresses for all members? We need to get address to be whitelisted from everyone. Suggestions.

[2017-09-23 17:28] jimscarver commented on #106
[notes from byoid meeting]https://docs.google.com/document/d/1OVUGmxv4q1ywcxDG-V926lrXpkQNDs7n2eO2R5OJdOk/edit#heading=h.msn4vw3867m7)
[video](https://youtu.be/BwM9b56xBfA)

[2017-09-23 17:36] jeamick commented on #100
Oui bien sur !

[2017-09-23 17:47] jimscarver commented on #93
The message looks good @lapin7. I do miss not being able to comment and
suggest edits with the ease of google doc.

I lament the end of Activists as there will always be an rchain community
beyond members who we want to engage so they may ultimately become
members.  Some will never join because they wish to remain anonymous.

On Sat, Sep 23, 2017 at 11:13 AM, HJ Hilbolling <notifications@github.co

[2017-09-23 19:02] Ojimadu commented on #107
Hello there, Am new here. Can i write an article on this?

[2017-09-23 22:28] drbloom commented on #93
@jimscarver - I agree with you, especially regarding anonymous members. Every RChain Cooperative member gets one vote, necessitating strong proof of individuality. This is not compatible with anonymity unless we had a trusted 3rd party handling identity.
It would be easy, however, to accept **anonymous membership** allowing full privileges, with the exception of voting rights. There is also the qu

[2017-09-24 00:44] jbassiri commented on #107
This is great news! (Sorry for late response been off line for the Jewish new year and Sabbath.) Happy to promote this asap!

--
Jacob Bassiri-Tehrani
(516) 458-7439

[2017-09-24 12:52] patrick727 commented on #107
@Ojimadu great, yes please share it with us and we will review it!

[2017-09-24 13:00] Ojimadu commented on #107
Prominent Ethereum Researcher Vlad Zamfir joins R-chain Co-op as Director.
Prominent Ethereum  researcher has joined R-chain cooperative as a director of the platform. Vlad who is popularly known for his work on ethereum’s POS (Proof-of Stake) consensus mechanism ‘Casper’ posted on his twitter handle that he is excited to help the R-chain ecosystem with blockchain governance.
Until recently, most

[2017-09-24 13:05] patrick727 commented on #107
@Ojimadu this is great!, I'd like to see ssomeone with better editing skills thne I(such as @kitblake or @plantether) comb through this for grammer and spelling, one thing that poppoed is its RChain and now R-Chain.

Overall great stuff, where did you intend to publish this?

[2017-09-24 13:09] Ojimadu commented on #107
Was thinking of steemit or medium. I think Medium seem to be better. Anyone can post it elsewhere too.

[2017-09-24 13:10] patrick727 commented on #107
Awesome, we need some coverage on steemit and medium so please go ahead and post to both and we can swarm like-share it! Great stuff dude lets get you into the activist reward sheet for this issue, or @lapin7  maybe there should be a seperate one for guest posts?

[2017-09-24 15:38] plantether commented on #107
Nice work, @Ojimadu!  Attached is a Word doc with some suggested changes and comments.

[Ojimadu Vlad post comments.docx](https://github.com/rchain/Members/files/1327436/Ojimadu.Vlad.post.comments.docx)

[2017-09-24 18:40] dckc commented on #93
What prompted the move toward github? A lot of what's going on seems easier to do in google docs.

[2017-09-24 20:26] lapin7 commented on #93
I will move it back. Source is Google doc and it will be copied to the .MD
file.

--
Cheers,
HJ

On Sun, Sep 24, 2017 at 8:40 PM, Dan Connolly <notifications@github.com>
wrote:

[2017-09-25 16:58] Ojimadu commented on #107
@plantether, Nice comments. I've edited the original post here is the medium link

https://medium.com/@Ojimadu/ethereum-researcher-vlad-zamfir-joins-rchain-co-op-board-of-directors-6d70a035d0d8

[2017-09-25 17:34] patrick727 commented on #107
@Ojimadu awesome, you should submit it to https://medium.com/ethercasts and I will get it accepted and that will broader your reach with it!

[2017-09-25 18:00] Ojimadu commented on #107
@patrick727 If it can be done soon, the better.

[2017-09-25 18:00] patrick727 commented on #107
@Ojimadu yes just request it on their publication

[2017-09-25 18:04] Ojimadu commented on #107
@patrick727 how please? Email?

[2017-09-25 18:11] patrick727 commented on #107
@Ojimadu sorry it has to be on their side, my bad.

I am working on it now

[2017-09-25 18:14] patrick727 commented on #107
It would be great to email Crypt0 show and ask for them to cover the story. I got one reply so if we follow up with some demand it may help to close things.

Cheers

[2017-09-25 19:00] Ojimadu commented on #107
@patrick727  Sure

[2017-09-25 20:45] entropee opened #108 "Social Ledger Trial on Mattermost"
The social ledger trial on mattermost is ongoing. I'm creating this issue because one of our norms over there is to try to tie channels back to a github issue. Also this will be a place to show some results of the efforts over there, so far.

[link to video production group on mattermost](https://chat.divvydao.net/signup_user_complete/?id=au57xr9fxbb65bmssnpz9xsy7h)
[link to social ledger trial do

[2017-09-25 21:34] entropee commented on #108
Social LedgerBOT
3:55 PM
 otomplodomo has claimed commitment level 60 tokens for activity introduce-new-users-to-essentional-tools-and-concepts in circle outreach-trial (done by otomplodomo)!

Social LedgerBOT
3:55 PM
 otomplodomo has claimed commitment level 20 tokens for activity pitch-groovy-ideas-to-marketing in circle outreach-trial (done by otomplodomo)!

Social LedgerBOT
3:55 PM
 otomplodom

[2017-09-25 23:51] jimscarver commented on #106
I suggest we start with a clone of myetherwallet for the browser based code and flat files on the server side to keep it simple. What do you think @Jake-Gillberg ?

[2017-09-26 15:29] dckc commented on #93
I mean in a larger sense - why is there a `/rchain/Members/` github repo at all?

It's not a software development project. It's not even one coherent document development project where version control is cost-effective. A github repository has a very strong sense of what's inside and what's not inside: git keeps a cryptographic history of every change to any part of the repository. Any change to o

[2017-09-26 19:36] lapin7 commented on #93
You're right but for the moment github suits fine.
We've tried another project management-tool, Taiga, before. It became a mess. Probably we're moving towards Mattermost. Google docs, sheets and forms are extensively used. We've created bridges to other environments.
The tool discussion is not so important. On-boarding people is the most important and we will see where the most interaction is taki

[2017-09-26 20:09] lapin7 commented on #100
Merci. Merveilleux :-)
Do you think you could make such a site for RChain?
A kind of third party clone but then in French?
It could probably serve as a template for other languages. In that way it would become a whole project under your supervision and of course in cooperation with the site manager of the rchain.coop

[2017-09-27 07:06] lapin7 opened #109 "Faulty link to "DRAFT COOP MEMBERSHIP AGREEMENT""
There have been two persons that asked for access to [DRAFT COOP MEMBERSHIP AGREEMENT](https://drive.google.com/open?id=1iqhimjR38h-5mgv_km54wXrJkIK9PD7wzp_sXXOPIus). This doc is maybe referred to in the Coop Sign Up process.

The link has to be [Coop Membership Agreement](https://github.com/rchain/legaldocs/blob/master/Coop%20Membership%20Agreement.pdf)

Please repair that ASAP. Or give more deta

[2017-09-27 07:44] lapin7 commented on #109
You can set the budget here with a remark.

URL | Status | Project / Issue | Category | Votes | Last month | Left over | New Budget | Voters
-- | -- | -- | -- | -- | -- | -- | -- | --
https://github.com/rchain/Members/issues/109 | New | Faulty link to "DRAFT COOP MEMBERSHIP AGREEMENT" | Marketing | 1 | $ - | $ - | $ 40.00 | @lapin7
-- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2017-09-27 07:48] lapin7 commented on #108
You can set the budget here with a remark.

URL | Status | Project / Issue | Category | Votes | Last month | Left over | New Budget | Voters
-- | -- | -- | -- | -- | -- | -- | -- | --
https://github.com/rchain/Members/issues/108 | New | Social Ledger Trial on Mattermost | Marketing | 0 | $ - | $ - | $ - |  
-- | -- | -- | -- | -- | -- | -- | -- | --

[2017-09-27 10:17] lapin7 commented on #93
Process of converting Activists into Members. Respectively:

   1. Activists that have paid $20 and/or are collaborator on Github/Members
10 persons

   2. Activists that are a collaborator on Github/Members
   3. Collaborators on Github/Members that didn't go through a registration
   process
   4. Members that have paid $20 in order to become a member and have
   participated in the Private Sale

[2017-09-27 11:13] kitblake commented on #93
Made some minor adjustments in the mail template.
As the Private Sale ends tomorrow, that will make some of Contributing.md obsolete. Which is good because that section was overly complex. HJ, if you move the content back to the Gdoc we can modify accordingly.

[2017-09-27 12:24] lapin7 commented on #93
Kit,

Thx for the adjustments. But Ian did some work on it as well. And I'm using
now this template.
We can see how this one evolves in further direct mailings.

TEMPLATE
<http://t.sidekickopen68.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs2zhDwMW5v_SgK2zWN1RW1p1hXH56dLy3f6WHqqH02?t=https%3A%2F%2Fdocs.google.com%2Fdocument%2Fd%2F16szs0_Obml8x6gm3MO1fas8S4p1V7pbweiMeqjq2L6Q%2Fedit%23heading%3

[2017-09-27 12:52] jimscarver commented on #108
[Social Ledger Prototype Demo and Trial](https://docs.google.com/document/d/1v7JaVwJUhWix52y7piNqlpAYiVCtNhim2I0KvJyE16M/edit#) document.

Add actions is an related channel in mattermost for github issues you are working on with others.
`/dig action [name of issue](github link)`
claim a commitment smiley.

[2017-09-27 23:16] jimscarver commented on #93
I think I paid only $10 in bitcoin before the amount was changed to 20. If
I remember a few people paid only $10. Now I paid $20 in the real
registration so I guess I will get the $10 back. It will be a lot less ETH
than I paid. I wonder if it would be better to just refund the exact amount
of btc or eth they paid. It does not matter to me.

On Wed, Sep 27, 2017 at 8:24 AM, HJ Hilbolling <notifica

[2017-09-28 06:42] Ojimadu commented on #109
The link can be found at the coop website. Here precisely https://www.rchain.coop/coop-information-1#more-information under reference linlks at the bottom of the page.

[2017-09-28 07:34] lapin7 commented on #109
@Ojimadu that's great. Thx a lot. And please claim your reward by setting a % of work done for yourself and the other collaborators. Like:

@Ojimadu 90%
@lapin7 5%
@patrick727 5%

@patrick727 @drbloom Please repair this link !!
The link has to be [Coop Membership Agreement](https://github.com/rchain/legaldocs/blob/master/Coop%20Membership%20Agreement.pdf)

**Rewards**

URL | Description | Category

[2017-09-28 11:08] Sprkz commented on #95
hi guys can I get a Telegram invite ?  please , thnx - - I am   @sprks

[2017-09-28 11:29] jeamick commented on #100
Yes , I could traduce it in french sure.

I will create my own translation repo and after submitting it to you yes.

I do not know who is in charge of the site manager of the rchain.coop ...

Should I also ask for a budget nope?

Could someone explain it to me about this?

[2017-09-28 11:57] kitblake commented on #95
Done.

[2017-09-28 12:57] patrick727 commented on #109
@Ojimadu good catch, @lapin7  it's fixed now

[2017-09-28 13:13] patrick727 commented on #70
Here is a draft proposal for local meetups.
https://docs.google.com/document/d/1V8mMfYBS9ubXpm5gz18dmLGSyxS-Xmih5Jmb9SByQ-s/edit?ts=59cab4d2

[2017-09-28 13:14] patrick727 commented on #70
This is a search for all blockchain meetups groups

https://www.meetup.com/find/?allMeetups=false&keywords=blockchain&radius=Infinity&userFreeform=united+states&gcResults=United+States%3AUS%3Anull%3Anull%3Anull%3Anull%3Anull%3A37.09024%3A-95.71289100000001&change=yes&sort=recommended&eventFilter=mysugg

[2017-09-28 13:21] pythonical commented on #70
@patrick727 Access to the draft?

[2017-09-28 13:40] pythonical commented on #70
it looks like there are 2 'main' blockchain groups in my area. one Ethereum focused and the other generic. a dedicated rchain group would be awesome.

[2017-09-28 14:08] patrick727 commented on #70
@pythonical where are you located?

Do you think that there are enough interested devs to warrant a dedicated RChain group, or maybe is that participation in the ethereum/blockchain groups may work best?

[2017-09-28 15:16] pythonical commented on #70
@patrick727 i think i will have to see about playing 'Paul' and spreading the good news to see who is interested. it's Austin so i imagine there are many who might be (or already are i just don't know about them)

[2017-09-28 15:25] djrtwo commented on #70
I run the ethereum meetup and ethereum dev meetup in New Orleans. I'm not
certain we have enough demand for another meetup in town, but I'm
interested in informing them about rchain. I'd also be interested in
hosting a one off talk or series about rchain if we think that'd be a
valuable format.

Lisk is pushing hard and doing new sponsored "blockchain" Meetups in a
bunch of cities. The meetups are

[2017-09-28 16:18] entropee commented on #99
[This is a link to the Discord Bridge channel in Mattermost](https://rchain.divvydao.net/community/channels/discord-bridge)

[2017-09-28 17:00] entropee commented on #108
Please share these links to direct people to new RChain Mattermost site. Feel free to make any suggestions. If anyone has any time we need much in the way of setting up channels, circles, norms, etc. Plus you will get to learn the Social Ledger.

[AI bot dev](https://rchain.divvydao.net/community/channels/ai-chessbot)
[community governance](https://rchain.divvydao.net/community/channels/community-

[2017-09-28 17:52] pythonical commented on #108
can i get an account?

[2017-09-28 17:57] entropee commented on #108
If you can't self-register, I can send you an email invite. what email should I use?

[2017-09-28 18:00] entropee commented on #108
I sent an invite to get9@pythonical.com

[2017-09-28 18:06] jimscarver commented on #108
Here is an [rchain mattermostr invite link](https://rchain.divvydao.net/signup_user_complete/?id=x37h6j8iotgpzkrs9ysksjc8cc) anyone can use.

[2017-09-28 18:08] pythonical commented on #108
get9 will work. thanks to all!

[2017-09-28 18:15] jimscarver commented on #108
This short [first steps video demo](https://youtu.be/EINuSvd3ggw) I made yesterday may help  people get started using /dig

[2017-09-28 19:54] entropee commented on #59
This github issue has enlarged to encompass more than just transcripts and summaries. It is now being referenced from the [Video Production Group domain on Mattermost.](https://chat.divvydao.net/video-team/channels/transcripts)

 I encourage anyone interested in finding interesting things that they can do which will contribute to the success of the RChain project to join us there. You can learn th

[2017-09-28 20:09] Ojimadu commented on #109
I think the reward has been set. It needs an extra vote to be claimed right?

[2017-09-29 03:14] entropee commented on #88
[Agent] - In computer science, a software agent is a computer program that acts for a user or other program in a relationship of agency, which derives from the Latin - agere (to do): an agreement to act on one's behalf. Such "action on behalf of" implies the authority to decide which, if any, action is appropriate.

[Agent-based model](https://en.wikipedia.org/wiki/Agent-based_model) - Agent-based

[2017-09-29 08:08] jimscarver commented on #14
I have added all the emails in the activist registration sheet which has been retired and replaced with the new member registration process.
I have received a request to join the group but cannot confirm they are a member.

The group has been underutilized but I suggest it should be maintained. Having an email alternative for members to reach out to one another is an important channel to have as a

[2017-09-29 18:19] kitblake commented on #95
The pool worked out and is now closed.

[2017-09-29 18:19] #95 closed

[2017-09-30 02:12] optictopic commented on #95
Can I get a Telegram invite too?  @optictopic

[2017-09-30 06:29] lapin7 commented on #95
Yes can. But the speaking language will be mostly Dutch, NL. Does that
still interest you.
HJ

--
Cheers,
HJ

On Sat, Sep 30, 2017 at 4:12 AM, Rich Beer <notifications@github.com> wrote:

[2017-09-30 06:32] lapin7 commented on #14
I agree.
Email is essential.
And we will (sometime) find a way to get the group operational.

--
Cheers,
HJ

On Fri, Sep 29, 2017 at 10:08 AM, jimscarver <notifications@github.com>
wrote:

[2017-09-30 15:54] lapin7 commented on #100
Hi @jeamick
We're a bunch of people who are interested in getting the platform RChain up and running. We are all member of the Cooperative RChain. Development is going fine, but all business functions have to be developed by the members of the Coop.
We can also try to branch off per country and make a translation of the site, white paper, etc. But as soon as that happens, then members in that lang

[2017-09-30 22:15] pythonical commented on #51
How are the videos coming along?

[2017-10-01 01:49] pythonical opened #110 "gather/publish a list of values that rchain would like to convey in its content"

[2017-10-01 14:45] lapin7 commented on #110
**Mission​:**

​​The RChain Cooperative’s mission is to build a decentralized, economically sustainable
public compute infrastructure. The platform boasts a modular, end-to-end design that commits to
correct-by-construction software and industrial extensibility. It’s multi year undertaking and involves
many different part of software components.

The cooperative attracts members that share the mis

[2017-10-01 14:46] lapin7 commented on #51
Good question!!!!
Who knows the answer?

--
Cheers,
HJ

On Sun, Oct 1, 2017 at 12:15 AM, charlie <notifications@github.com> wrote:

[2017-10-01 15:20] lapin7 commented on #58
We've now a standard template for SoW's

[NEW SoW](https://docs.google.com/document/d/1MH-wHbLy_4KSjQeyd5bJNwCS6mGYsuXEA8q4GyooAwY/)

[2017-10-01 18:24] jimscarver commented on #106
In the meeting yesterday we scrapped the plan to use signed messages for voting as it was determined that voting is best put on the member registration site. Thanks @drbloom .We need to engage with @kennyrowe and navneet as to what help if any they would like. https://youtu.be/Z0K_f5p7miw

[2017-10-01 19:46] lapin7 opened #111 "Kenny and Vlad are missing on Coop-Info"
https://www.rchain.coop/coop-information-1#member-benefits

The board is extended with 2 VIPs: Kenny and Vlad.

Please add them :-)

[2017-10-02 10:51] lapin7 commented on #106
Sergey Ivliev of Lykke.com was so friendly to give insight in their voting process of their meeting in June,2017.

Citation:
_Hi HJ, we did a very simple open voting, identifying coinholders by sending the unique link to their email and/or login to web-site page with the credentials they use to access Lykke Wallet. We published all the results so that everyone could check that his voice was counte

[2017-10-02 11:42] jimscarver commented on #106
The two choices given Lykke voters are good. We need at least one choice

We do not have an rchain wallet but we do have all members registered at
the admin site. That why we can add the voting to the admin site.

Emailing a unique link is another good choice we could implement. A login
to the admin site could be enhanced to provide the members unique link also
so one solution could work for both

[2017-10-02 11:58] jimscarver commented on #106
If there will be live voting at the meeting we need to be mobile friendly.

We should also be prepared to enter votes manually on request of the member.

On Mon, Oct 2, 2017 at 7:42 AM, Jim Whitescarver <jimscarver@gmail.com>
wrote:

[2017-10-02 12:00] lapin7 commented on #93
I suggest to keep calculating in $.
At the time you paid $10 so you get $10 back. It doesn't matter if BTC or ETH have gone up or down during that timeframe. Otherwise RChain would take the risk of speculative actions. That's not wise.

[2017-10-02 12:50] lapin7 commented on #93
Batch 2 has been emailed.
Criteria: Fee paid with TxID, Collaborator on RChain/Members

Github ID
--
optictopic
ervin-lemark
magicmirage
kirkwood
jnicolau
jimscarver
kitblake
niwaa
yenda
hierophantos

@drbloom I need more Discord ID invitations

[2017-10-02 12:55] jimscarver commented on #93
My understanding is the member signup is now working per this slack announcment yesterday.
ian [1:31 PM]
This is a big project and there will be many related projects with their own communication channels.
If you'd like to become a *MEMBER* of the RChain Cooperative you may signup here:
https://presale.rchain.coop
You will get access to the Co-op's Discord channel and have an actual *vote* in Co-o

[2017-10-02 13:25] pythonical commented on #106
can i get the discord invite resent to my member email 'get9@pythonical.com'
i didn't realize i was logging in with different email address...

[2017-10-02 13:34] entropee commented on #106
Pythonical, How many times did bitbay time out on you at 15 minutes? I tried twice and ran out of bitcoin.

[2017-10-02 13:47] drbloom commented on #106
Kenny Rowe is organizing the annual meeting and vote.
The Co-op has very tight control of the Member Registration website and associated database. It makes sense to me that voting is done through that website.

[2017-10-02 13:50] jimscarver commented on #93
And @drbloom provided a better link in mattermost going to the page.
Please help us sign up members to the RChain Coop.
http://member.rchain.coop

[2017-10-02 13:52] pythonical commented on #106
@entropee once. then payment went through but i then created the discord account with different email address.

[2017-10-02 13:58] pythonical commented on #106
my thanks! that worked.

[2017-10-02 14:02] drbloom commented on #93
I worked with a Scala programmer this past weekend to make several updates to the member registration website. The changes are being reviewed this morning by N., and hopefully go live in a few hours.

- Payment is still collected in BTC by BitPay.
- There is an additional payment button for both those who have previously _pledged_ payment and also for people whose transaction with BitPay failed co

[2017-10-02 14:06] jimscarver commented on #106
Good. I am glad to hear @kennyrowe is on top of it. Time is short. I hope we can begin testing soon. I'll stand by is any help is needed.

[2017-10-02 14:14] vishyim commented on #106
@jimscarver I paid but I guess I did not get an option for the collective
crowdsale . I guess I missed it?

On Mon, 2 Oct 2017 at 7:37 PM, jimscarver <notifications@github.com> wrote:

[2017-10-02 14:48] jimscarver commented on #106
You missed the sale @vishyim  If you have other questions ask in discord or enter a new issue rather that clutter the member voting issue. Thanks.

[2017-10-02 17:07] patrick727 opened #112 "Newsletter - October 16th"
Here is the draft document for the newsletter October 16th

https://docs.google.com/document/d/1Orkm59F4VPGxIKIf_jBZhLTabEVufXsI21MFQNgCHKo/edit?usp=sharing

[2017-10-02 19:31] kennyrowe commented on #106
@jimscarver @lapin7 @drbloom lets get a call scheduled asap to sort this out. From what I can see I think a solution using the member's site will be the easiest to implement in the time available.

[2017-10-02 22:38] jimscarver commented on #106
I am free after noon NY time tomorrow.

[2017-10-03 00:43] n10n commented on #106
@kennyrowe Agree. @jimscarver @lapin7 @drbloom,  Today, talked briefly about integrating with SurveyMonkey using API and making the end user experience easy for voting without going outside of membership site. This would be a good topic for Wednesday Activist meeting.

[2017-10-03 17:13] kennyrowe commented on #106
This would likely be a short-term solution as we need something in place very soon for the meeting on Oct 24th. The other benefit of using something like SurveyMonkey is that voting can also be done in person with a mobile device at the meeting. More info to come.

[2017-10-03 18:11] vishyim commented on #95
@kitblake - i missed this... any chance this opening up again shortly?? thx

[2017-10-03 20:12] entropee opened #113 "O> Working Group on the use of the Social Ledger by RChain"
[Go here and use the Dig A and Join the Committee](https://rchain.divvydao.net/community/pl/s9w46xihj3bg3csn4ngiu1gj8c)

[What is the Social Ledger?](https://docs.google.com/document/d/1L0GieXDlJ1CEdOSlwvlRAYjZ_ANy3c7DNpNf0bXZj34/edit)

Why is Social Ledger so good?

Why is it important to RChain?

Is there a problem?

Is the Mattermost / social ledger work environment conducive to smart contracts

[2017-10-03 22:14] lapin7 commented on #106
Hi Navneet,
I'm in the process of banning the term "activists". It was a nice word and
it was meant to move on. But now I prefer to talk about members.
So activists are now treated as members. Activists don't exist anymore.

If you prefer we can talk about Active Members :-)

--
Cheers,
HJ

On Tue, Oct 3, 2017 at 2:43 AM, n10n <notifications@github.com> wrote:

[2017-10-04 02:45] kitblake commented on #95
It's done and delivered. If another opp shows up I'll find you in this issue and let you know.

[2017-10-04 10:21] kitblake opened #114 "M> Work out the A/V setup for streaming presentations in a How-To"
We need to have a repeatable setup for streaming presentations at meetings and meetups. These usually involve a speaker with a presentation laptop, a host doing the recording and streaming with a controlling laptop, a smartphone recording video, a microphone for the speaker, and audio amplification for the audience. Objective: write a How-To.

[2017-10-04 10:22] kitblake commented on #114
The quality of the audio is more important than that of the video, especially for remote viewers.

[2017-10-04 10:40] entropee commented on #114
The Video Production group can help with this.

We have a channel called livestreams. I have linked from there to this issue number.

use /dig a to see the channel procedures

(Video Production Group)(https://chat.divvydao.net/video-team/channels/live-streams)

[2017-10-04 10:51] kitblake commented on #114
Great! I added "Objective: write a How-To" to the description and title.

[2017-10-04 16:38] #107 closed

[2017-10-04 16:53] patrick727 opened #115 "M> Community Co-operators"
M> Indicates that this is a project within the "Marketing" category

Goal:

Brief:

The RChain Cooperative is looking for activists/members to actively engage with the broader crypto-community in a way that clearly communicates RChain's value proposition in the native language and within the most important channels for that community, so that developers and enthusiasts have a constant point of ref

[2017-10-04 17:03] Ojimadu commented on #115
Was thinking of the community creating a subreddit page

[2017-10-04 17:15] patrick727 commented on #115
@Ojimadu yes, I believe we have a subreddit /r/rchain-coop.But reddit is one of the main reasons that we will want a position like this. we need to have active engagement on these channels more then currently.

[2017-10-04 18:55] Ojimadu commented on #115
How does one apply?

[2017-10-04 22:28] patrick727 commented on #115
At this point I dont know, was putting it as an issue in order to get feedback on what we think the role should entail, and if its worthwhile filling in out a personalized SOW.

I'll take this as your interested and will keep you updated. You can pm me your linkedin on discord if you'd like, I enjoyed the article that you wrote.

[2017-10-05 07:27] Ojimadu commented on #115
Sure :)

[2017-10-06 00:50] dckc commented on #79
Thanks, @patrick727 !!

[2017-10-06 04:59] kitblake commented on #106
About voting and timing: apparently the Member meeting will take place from 6-9pm Pacific Time. That is 3-6am Central European time so it's unlikely that many votes from Europeans will come in during the meeting. Voting in advance, perhaps given an international time zone, would be cogent.

[2017-10-06 09:27] momchilov commented on #115
What about /r/RChain subreddit? If you have 200+ karma for your reddit
profile, contact me.

On Thu, Oct 5, 2017 at 8:27 AM, Ojimadu <notifications@github.com> wrote:

[2017-10-06 15:58] jimscarver commented on #115
Community managers is somewhat ambiguous. I suggest Ambassador rather than Manager.
While there should be one responsible person we should encourage more links.
I suggest each channel be a /dig action activity in mattermost where members can commit to cover the channels they frequent

[2017-10-06 16:22] patrick727 commented on #115
@momchilov yes we need the karma to take that one over. it was established by someone during the synereo days. @jimscarver ok I changed it to co-operators.

Did you apply to be on the governance committee?

[2017-10-06 16:50] kennyrowe commented on #106
@kitblake yes online voting will begin in advance of the meeting. The goal is to open voting a week prior to the meeting and conclude online voting at 00:00 UTC Oct 25 (roughly an hour before the meeting starts)

[2017-10-06 16:59] kitblake commented on #106
@kennyrowe Great. I'll be up for beta testing the voting mechanism.

[2017-10-06 17:16] kitblake commented on #115
I'd like to be an admin of the Telegram group.

[2017-10-06 17:57] Ojimadu commented on #115
@momchilov, I frequent reddit but mostly just to read and not really engage in discussion until recently because some sub-reddit I use requires certain amount of  karma to participate especially /r/ethtrader. I also frequent Telegram, Facebook and discord.

[2017-10-06 18:53] kennyrowe commented on #106
@all here's is the draft agenda https://docs.google.com/document/d/1uyoOYPu2PLAy32Vxs0xmMlOvao6IFvgWU2p8SIovqfU/edit?usp=sharing

[2017-10-06 19:27] jimscarver opened #116 "Annual meeting planning"
[Meeting adgenda doc](https://docs.google.com/document/d/1uyoOYPu2PLAy32Vxs0xmMlOvao6IFvgWU2p8SIovqfU/edit)

[Meeting Github project](https://github.com/rchain/Members/projects/5)

[2017-10-06 19:41] jimscarver opened #117 "DIRECTOR ELECTIONS"
DIRECTOR ELECTIONS
List of names
Greg Meredith
Evan Jensen
Ian Bloom
Alex Bulkin
Kenny Rowe
Vlad Zamfir
Navneet Suman
David Currin (?)
Hendrik Jan Hilbolling

Directors for staggered terms; most votes = longest terms
3 year
2 year
1 year

Condorcet method  (rank in order of preference)

[2017-10-06 19:43] jimscarver opened #118 "MEMBER COMMITTEES"
MEMBER COMMITTEES

Executive Committee
Nominating and Governance Committee
Compensation Committee

[2017-10-06 19:47] jimscarver opened #119 "Maximum Number of Tokens for Circulation"
Token Governance
Maximum Number of Tokens for Circulation
200m / 220m / 300m / 500m

Date is needed?

[2017-10-06 21:21] djrtwo commented on #119
These suggestions are not including any future inflation, correct?

[2017-10-06 21:39] entropee commented on #115
I suggest putting Mattermost in the list of platform experience. High on the list.

[2017-10-06 22:41] kennyrowe commented on #116
Thanks @jimscarver

A few more details for everyone.

**Location:**
Washington Hall Lodge Room
153 14th Ave, Seattle, WA 98122

**When**
October 24, 2017 at 6pm Pacific Time

**RSVP**
http://evite.me/HWdMTbZYx6

[2017-10-06 23:27] kdvalentine commented on #118
@jimscarver @kennyrowe When will the committee responsibilities be posted?

[2017-10-07 00:00] kennyrowe commented on #118
@kdvalentine yes I will post that son

[2017-10-07 00:00] kennyrowe commented on #118
If you are a member and interested in serving on a committee please use this form.

https://docs.google.com/forms/d/e/1FAIpQLSdH1XjJcZw2g8JZdyB6KtTaza4mrpiadqdwFAezAkcTAXL78A/viewform?usp=sf_link

[2017-10-07 17:04] patrick727 commented on #115
@kitblake awesome! That would be great. @Ojimadu also very good to know.

@entropee when is the next hangout on social ledger/mattermost trial?

[2017-10-07 17:07] patrick727 commented on #118
Yes wondering the responsibilities as well.

[2017-10-07 17:25] entropee commented on #115
@patrick727 None formally scheduled. I suggest the noob class on Thursday, however we may be doing something else. I am available on short notice to  zoom and show it to individuals or groups. Did you see the video that HJ and I did? [HJ and Gary explore the Social Ledger in Zoom](https://www.youtube.com/watch?v=aZeJguGlT-Q)

[2017-10-08 03:57] kitblake commented on #115
@patrick727 Do you happen to know who owns the rchain group on Telegram? Looks kinda parked.

[2017-10-08 05:24] jbassiri commented on #119
How is this different from a burn?

If tokens are not in circulation (and they are not burned) then they are in the Coop.

--
Jacob Bassiri-Tehrani
(516) 458-7439

[2017-10-08 14:07] lapin7 opened #120 "Use Docusign for signing documents."
We have now several documents that need a signature of either one person or more persons:
- [SoW](https://docs.google.com/document/d/1MH-wHbLy_4KSjQeyd5bJNwCS6mGYsuXEA8q4GyooAwY/editP)
- [W9 tax form](https://www.google.com/url?q=https://www.irs.gov/pub/irs-pdf/fw9.pdf&sa=D&ust=1507471167994000&usg=AFQjCNEbXCPjmkmAvOiIrgH8trSWW0zE4Q)

So we don't have to paste a Signature.jpg in documents anymore.

[2017-10-08 14:38] jimscarver commented on #120
You do not need to use Docusign to sign documents. You can sign in a google
doc by Insert Drawing, and Line, Scribble tool before exporting as PDF or
using Adobe acrobat, Tools, Sign.

On Sun, Oct 8, 2017 at 10:07 AM, HJ Hilbolling <notifications@github.com>
wrote:

[2017-10-08 20:09] Ojimadu commented on #120
Don't you think signing documents digitally would be easier to verify?

[2017-10-08 20:14] Ojimadu commented on #112
You may want to add the official website to the newsletter.

[2017-10-08 20:28] Ojimadu commented on #109
This is fixed and should be closed right?

[2017-10-08 20:57] patrick727 commented on #109
yes thank you

[2017-10-08 20:57] #109 closed

[2017-10-08 21:40] Ojimadu commented on #103
[Made a commit here]
 (https://github.com/rchain/Members/commit/e9be194b88b0e547764f9842a910c9fdb70a6cae)

[2017-10-10 06:52] sportshark commented on #100
I can translate the website of Rchain and News to Chinese and also build a  Rchain-fans pub website to pubulish news about Rchain in Chinese

[2017-10-10 06:54] sportshark commented on #100
Well, I have bulilt a blockchain explorer for Asch ,you can see it http://asch.pub and http://aschd.org

[2017-10-10 16:12] patrick727 commented on #115
@entropee no I haven't yet but that's good to know.

@kitblake I believe Ed or navneet picked it up and it is parked. Will have to check into that

[2017-10-10 16:30] kitblake commented on #115
@patrick727 Ok, no panic, lemme know..
When we're set we'll announce/add it to the channels.

[2017-10-10 18:53] patrick727 commented on #118
Was thinking about another committee called "Curation Committee" which essentially is a branch of Research but cleverly leverages the research for content. Example being the Identity EBook.

[2017-10-10 18:54] patrick727 opened #121 "User Stories - Exercise"
It would be awesome and effective to do a 10 Minute exercise with all the attendees and have everyone fill out(can be anonymously) there idea for Persona's and Stories for people that will use RChain.

Also, It seems like it be a cool way of getting the juices flowing to at the beginning of the meeting.

[2017-10-11 01:44] sportshark commented on #100
What shuold I do next?

[2017-10-11 07:31] lapin7 commented on #100
@sportshark @jeamick @mbein
I think we should start with the most important pages of the website.

@mbein is in charge of https://rchain.coop. He told me that everything is configured for translating the website in several languages.

So we have to create first a Gsheet [website items](https://docs.google.com/spreadsheets/d/1jYQ9bOZpe26-3aApH9XCmTU4C2rar5ttVoH5_vQ95Rg/edit#gid=0) with items to tra

[2017-10-11 09:49] #1 closed

[2017-10-11 09:50] #12 closed

[2017-10-11 09:51] #19 closed

[2017-10-11 09:53] #30 closed

[2017-10-11 09:53] #37 closed

[2017-10-11 09:54] #45 closed

[2017-10-11 09:57] lapin7 commented on #78
Please replace "Activist" with "Member"

[2017-10-11 09:57] #92 closed

[2017-10-11 09:58] #93 closed

[2017-10-11 09:58] #97 closed

[2017-10-12 03:58] derek7272 opened #122 "M> a few minor typos on homepage"
On https://www.rchain.coop/#home

Evan Jensen - general counsel not "counsil"

Lisa Rice - space between "companies." and "Lisa". Then the line that begins, "In addition to the Board of Directors and Management team, RChain..." should be on a new paragraph.

David Otto - no semicolon after "counsel". I'd rephrase the last sentence. Maybe, "His credentials include bar admissions in Washington and N

[2017-10-12 17:49] patrick727 commented on #122
thanks @derek7272! the only thing I didnt change was the last sentence on Davids profile but will double check if they are ok with that and go back through.

Great catches man appreciate it

[2017-10-12 17:55] patrick727 opened #123 "Sync Community Process"
It would be nice to block off a bit of time to get everyone in sync with some of the community process and intial boost to get them going.

this could include the budget voting and allocation sheet that @lapin7 has done such a good job initiating as well as the social ledger trial that I shamefully have not spent enough time on lol.

 @jimscarver @kitblake @kdvalentine @lapin7 will you be in Seatt

[2017-10-12 18:49] patrick727 commented on #47
Hey @Rafkraft ! Here is the first draft back from the designer on the website https://preview.webflow.com/preview/rch-35ecec-60ff624c600ad0-fa626c6d317d3?preview=a195789934c854a0f0c52675a6259724

What does everyone think?
Are there activists on here that want to have a working idea session for the website moving forward, would be a nice exercise at the members meeting as well.

Cheers

[2017-10-13 00:56] patrick727 commented on #112
@Ojimadu yes will add that, but in order to sign up for the newsletter you would have had to land on the hp. But i see your point.

[2017-10-13 00:58] patrick727 commented on #112
Did the summaries and added them to the draft guys, will start to draft the wording tomorrow and this weekend, lots of new things happening in anticipation for the members meeting and any input is welcome!

[2017-10-13 01:16] patrick727 commented on #79
the index is up to date again guys! added the past two hangouts

[2017-10-13 09:33] lapin7 commented on #122
@derek7272 @patrick727
Although this issue is fixed, please don't forget to set a budget and to set a reward for this issue.
You can do that through the Gsheet [Pub Member Budget Allocation-Spending](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=2052218093)

[2017-10-13 09:39] lapin7 commented on #123
@patrick727
Please don't forget to set a budget and to set rewards for this issue.
You can do that through the Gsheet [Pub Member Budget Allocation-Spending](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=2052218093)

[2017-10-13 13:14] jimscarver opened #124 "Pre meeting Blocktoberfest --- Beers , Brats and Blockchains"
http://evite.me/5pw4qcPXdW
MESSAGE FROM HOST

In preparation for our first member meeting, those of us who are not busy in meetings will get a chance to meet face to face for the first time and have conversations over the finest German beers. This is an open event so bring whomever you want. The location is a short 3/4 mile walk or cab to the Washington Hall .

[2017-10-13 14:30] Rafkraft commented on #47
Very cool draft

My main concern about it: too much colors, first page is orange/green, second is green/blue, bottom is all blue, plus the pink of the logo. There is too much color. The general tone and color is interesting but I think it could be more focused on 2/3 max main colors (I vote for the dark green as main color).

**Top section:**
- Cool header
- The image is cool, but maybe a bit comp

[2017-10-13 14:56] patrick727 commented on #122
@lapin7 your right thanks!

[2017-10-13 15:18] patrick727 commented on #123
@lapin7 I apprecate your dilligence but this is a proposal for the members meeting. I dont see how it would need a budget, maybe I can just set the budget to 0

[2017-10-13 15:20] patrick727 commented on #79
@drbloom will you please add this summary index to the /reference page. I believe it belongs there and the FAQ. I did a pull request for the FAQ but couldn't figure it out for the /reference page.

https://github.com/rchain/Members/wiki/Weekly-Debrief-Index

[2017-10-13 15:44] patrick727 commented on #47
@Rafkraft thanks for the feedback.

I like the color scheme, but would be interested to see what you do with it based on the feedback that you gave.

Would you like for me to pass this feedback on to the designer? maybe give me a couple more action items, or you could take this and run with it to see what you come up with?

These discussions are the "ideation" and super important so please do incl

[2017-10-13 16:39] lapin7 opened #125 "M> First Meetup in Zagreb, Croatia about RChain"
nathan is coordinating in New York.
ask about central meetup

[2017-10-13 16:53] kitblake commented on #112
You can quote #124:

Beers, Brats, and Blockchains
In preparation for our first member meeting, those of us who are not locked in meetings will get a chance to meet face to face for the first time and have conversations over the finest German beers. This is an open event so bring whomever you want. The location is a short 3/4 mile walk or cab to the Washington Hall.
http://evite.me/5pw4qcPXdW

[2017-10-13 20:19] lapin7 commented on #119
All tokens should be available for market circulation. The idea is simple. The token get's only USD value when there's enough market cap and market volume. So we have to find ways to distribute all the tokens to as much persons possible. If possible in a way that makes sense, like rewards for: work or investments made for running a node.

[2017-10-13 21:44] drbloom commented on #79
@patrick727 - I don't think it belongs there because the rchain/reference README currently makes no mention of Co-op membership, newsletters, hangouts, projects, etc.

What do you think about adding the item **Membership** to the above, linking to the README for rchain/Members? A link to the summary index **Weekly-Debrief-Index** is already included there.

 rchain/reference > Membership > Weekly-

[2017-10-16 03:00] kitblake commented on #112
There are a bunch of tweaks in the Gdoc @patrick727, added a few of my own. This is a complex but exciting edition.

[2017-10-16 03:34] kitblake commented on #125
Also @jbassiri has created a useful generic RChain presentation, see #102.

[2017-10-16 09:06] lapin7 commented on #100
@sportshark here you can coordinate with @jeamick and @patrick727

[2017-10-16 10:34] tgrospic commented on #125
Thanks @kitblake, I will definitely need it and use it.

[2017-10-16 13:13] sportshark opened #126 "M> RChain fans website in chinese"
As we all know,China is a big market ,well we should build a Rchain fans website in chinese and publish news on the website  in Chinese.

[2017-10-16 13:13] sportshark commented on #126
I am planning to do it

[2017-10-16 14:48] jbassiri commented on #102
@lapin7 can you share the privilege for me to add documents into here:
[RChain/Activists/Marketing-Community Dev/Content/Presentations](https://drive.google.com/drive/folders/0BwX0krsxHncTdEhSUjZNZkpKTlU) and then I will paste the presentation into there @kitblake @tgrospic -- it's currently available in the #business-development channel of Discord if you have access

[2017-10-16 14:50] Ken-dahl commented on #98
We need to have a Zoom meeting with all the participants to clarify what exactly is expected for this issue. Patrick could you set that up?

[2017-10-16 15:34] Rafkraft commented on #47
I can run with it since there is some changes to code, I think it will in fact be faster too have a mockup -> code -> mockup -> code workflow.

So I'll work on the implementation of this mockup for now, and we will probably have a clearer view of what needs to be improved. I think I will have something online in 4-5 days.

PS @patrick727 : I sent a PM on slack, asking for direct contact to chat wi

[2017-10-16 16:48] patrick727 commented on #126
@sportshark nice! yes please do, @Rafkraft and I are working with a designer right now for website redo we could coordinate on that issue

[2017-10-16 16:55] patrick727 commented on #98
@Ken-dahl good idea, thanks for checking back in on this. I believe that the traditional identity meetings are held Saturdays at 11AM EDT, we could chat about it then?

[2017-10-16 17:02] patrick727 commented on #47
@Rafkraft nice i got your message and sent you the email.

I agree about the workflow so we should coordinate through email about dates and times to chat about the iterations.

thanks again!

[2017-10-16 17:21] jbassiri commented on #102
Presentation is there now

[2017-10-16 17:42] lapin7 commented on #102
Great.

--
Cheers,
HJ

On Mon, Oct 16, 2017 at 7:23 PM, jbassiri <notifications@github.com> wrote:

[2017-10-16 19:54] Ojimadu commented on #29
How about paying a fee to get listed on some exchanges like cryptopia?

[2017-10-16 19:57] lapin7 commented on #29
May be a good idea. See if you can get some support for this idea.

--
Cheers,
HJ

On Mon, Oct 16, 2017 at 9:54 PM, Ojimadu <notifications@github.com> wrote:

[2017-10-16 20:33] jbassiri commented on #29
Sounds good. What is the fee. Is cryptopia a popular exchange? Hadn't heard
of it

On Mon, Oct 16, 2017 at 3:57 PM, HJ Hilbolling <notifications@github.com>
wrote:

--
Jacob Bassiri-Tehrani, MBA
(516) 458-7439

[2017-10-17 00:40] Ken-dahl commented on #98
Are you referring to Jim's BYOID work study? If so I think that takes place
in Jim's Zoom room, yes? That would work for me.

On Mon, Oct 16, 2017 at 10:55 AM, patrick727 <notifications@github.com>
wrote:

--
Kendall Williams
Divvy DAO Ltd.
Proven Secure Solutions, Inc.
office: 970-963-3471
Cell: 970-376-6362
kendall@provensecure.com

Confidentiality Statement:
This email/fax, including attachment

[2017-10-17 02:33] sportshark commented on #126
@patrick727 Great! where are you from? and How can I add the issues to the buget?

[2017-10-17 08:10] lapin7 commented on #126
​Thanks for adding Issue #126 Rchain fans website in chinese
<http://t.sidekickopen68.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs2zhDwMW5v_SgK2zWN1RW1p1hXH56dLy3f6WHqqH02?t=https%3A%2F%2Fgithub.com%2Frchain%2FMembers%2Fissues%2F126&si=5281391242641408&pi=da4a9b9d-3af2-4d04-e77c-64fa68600bf6>
I will add it to the spreadsheet Pub Member Budget Allocation-Spending
<http://t.sidekickopen68.com/

[2017-10-17 08:55] lapin7 commented on #29
The listing on [Cryptopia](https://www.cryptopia.co.nz/Paytopia) costs 5,000,000 DOT or about
BTC      5
USD      25,000
RHOC   125,000
Let's see how we can fund that amount. Any ideas?

[2017-10-17 15:12] patrick727 commented on #98
Ok @Ken-dahl would you please send a calendar invite and i'll make an announcement in the channels.

Cheers

[2017-10-17 15:14] patrick727 commented on #98
Agenda item:

-Create an outline of the themes and chapters,
-Assign roles and next milestone
-Assign budget

[2017-10-17 18:13] lapin7 opened #127 "D> Rholang plugin for the IntelliJ Platform"
@tgrospic writes an extension for IntelliJ for a code formatter. It's under construction.

[2017-10-17 18:40] Ken-dahl commented on #98
Hi Patrick - I think I made the invitations correctly in Google Calendar. I
invited you as well , so please look for the invitation and confirm that I
have done this correctly.

Thank you,

On Tue, Oct 17, 2017 at 9:23 AM, patrick727 <notifications@github.com>
wrote:

--
Kendall Williams
Divvy DAO Ltd.
Proven Secure Solutions, Inc.
office: 970-963-3471
Cell: 970-376-6362
kendall@provensecure.com

[2017-10-17 19:11] kennyrowe commented on #115
@patrick727 would it be helpful for this person to have a designated sponsor? Not a boss exactly but a person responsible for showing them the ropes, and helping them navigate the existing community?

[2017-10-17 20:09] Ojimadu commented on #115
I think that would be nice @kennyrowe. Especially when the person is beginning.

[2017-10-17 20:10] tgrospic commented on #127
Or more precisely this is in fact plugin for Rholang not for Rosette. And for now it has only syntax highlighting support at the initial stage. Also it is only tested in IntelliJ Idea IDE. Contributions and feedback are very welcome.
https://github.com/tgrospic/rholang-idea

Code formatting and more interesting features are comming. :)

I changed the title of the issue to be more accurate.

[2017-10-17 23:21] Ojimadu commented on #98
Sketch Outline

Identity: Defines and describes identity, and various views/school of thought on identity.

Identity through the ages: Describes the evolution of human identity and means of identification from ancient times to the 21st century.

Identity and Identity management in the modern society: Examines identity and identification in the 20th to  21st century.

Identity and Identity manageme

[2017-10-18 18:00] patrick727 commented on #118
@kennyrowe I dont remember if I had expressed interest in the executive and governance committee but Id like to make that clear. I think @kitblake and @ian would also serve well together along with me.

[2017-10-18 18:36] #110 closed

[2017-10-18 18:49] kitblake commented on #118
@kennyrowe Yes, we discussed this in today's Member Meeting. FYI, I just filled out the form with executive committee checked.

[2017-10-19 01:29] sportshark commented on #126
@lapin7 what is the meaning of "Please note that you have to be
at least 3 members to set the budget.",doese it means "The budget should be finished by 3 persons at least"? But as you konw ,there are no chinese to help me in the rchain members. So,do I have to find other 2 chinsese members together?

[2017-10-19 02:16] sportshark commented on #47
@patrick727 @Rafkraft here we go! I can help translate the website to chinese The new site should have multiple language interfaces.And I know a litte of NODEJS

[2017-10-19 02:28] jbassiri commented on #126
Andi I like this project and I will vote for it don't worry. Between you, me, and HJ that's 3 (I'm sure there will be others too)

--
Jacob Bassiri-Tehrani
(516) 458-7439

[2017-10-19 02:32] sportshark commented on #126
@jbassiri Thank you very much!Hope to cooperate with you happily!

[2017-10-19 02:33] sportshark commented on #126
I have bought the domain name "rchain.vip" as the chinese fans website domain name

[2017-10-19 02:36] jbassiri commented on #126
I like the sound of that a lot. Bravo

--
Jacob Bassiri-Tehrani
(516) 458-7439

[2017-10-19 04:43] derek7272 commented on #115
I'd be interested in working as a Coop Co-Operator as well, maybe for a Facebook group.

[2017-10-19 06:53] lapin7 commented on #126
Probably we have to choose an scheme for translated sites, like:
cn.rchain.coop  China
fr.rchain.coop  France
de.rchain.coop Germany
nl.rchain.coop  Netherlands
or
rchain.vip has to recognized as an official site of rchain.coop
or
rchain.vip is just a individual initiative.

We also need to know if there is a local population that is interested in reading rchain-stuff in local languages. It could

[2017-10-19 14:29] lapin7 opened #128 "M> Wrong reference to slack in Architecture Doc"
In Architecture Document [Rate limiting mechanism](http://rchain-architecture.readthedocs.io/en/latest/execution_model/rhovm.html#rate-limiting-mechanism) is a reference to Slack #rhovm.

I think it has to be replaced by a channel in Discord #development

Citation:
*For more details join the #rhovm channel on the RChain Slack here. Compiler work can be seen on GitHub.*

[2017-10-19 16:18] patrick727 commented on #47
@sportshark awesome for taking the initiative. One thing I have to wonder is how I will verify that it is correct?

You can collaborate with us in this issue but for your own bounty reward we will assign to the translation issue.

Cheers

[2017-10-19 16:21] patrick727 commented on #115
@derek7272 awesome! Yes, in particular we need to get reddit working for the more technical audience. But a FB group is close behind so lets work that out.

@kennyrowe most certainly. I will help show them the ropes and part of the role will include engaging in the activist weekly meeting to provide feedback.

[2017-10-19 17:12] kitblake commented on #88
A link to the Dictionary draft has been posted in the comm channels. Any inputs?
https://github.com/rchain/Members/blob/master/projects/dictionary.md

[2017-10-20 02:28] sportshark commented on #126
There are so many domain names.eg.rchain.cn,rchain.info,rchain.top.So do not care of it.
@lapin7 well many people just want to invest the project , so they do not care what to do next.
After that, I will set up QQ group, WeChat group and so on for Chinese Fans

[2017-10-20 14:23] patrick727 commented on #126
@sportshark great thanks, i also backed the issue so thats 4 and your definitely going to be rewarded once the work is done.

That does not mean that you need 3 other people to complete the task, its only to determine the budget.

Awesome so if you do a good job and feel like engaging with the chinese community more through those channels, i suggest also checking out the "community drivers" issues

[2017-10-20 15:14] lapin7 commented on #127
Hi @tgrospic
Maybe you can look at the [Language Specification](https://github.com/dckc/rholang-spec/blob/c62b2c69c758586c17a369c988d6b4160ef1b4f2/specification.rst) of @dckc
Maybe it helps with syntax highlighting in IntelliJ.

[2017-10-21 02:33] dckc commented on #88
I saw this interaction in discourse chat (I presume it's OK to share). This would have been a perfect time to use a chat bot:

The answer given isn't very close to the one in dictionary.md, though the one in dictionary.md does match [the official FAQ](https://github.com/rchain/reference/blob/master/faq.md).

I like the bit about biological cells.

As a small investment in the wiki-powered chat bot

[2017-10-21 02:36] dckc commented on #88
Maybe #63 is more relevant to the chat bot approach...

[2017-10-21 02:37] dckc commented on #88
What does the "MatterMost Migration" tag mean?

Is the MatterMost stuff publicly available? I much prefer to collaborate in public.

[2017-10-21 14:46] Ojimadu commented on #121
Can you explain this a little? Does it involves writing a draft?

[2017-10-21 18:37] kdvalentine commented on #123
I will be there. What are you thinking in terms of timing?

[2017-10-21 18:39] kdvalentine commented on #118
@kennyrowe I also have an interest in serving on the governance committee.

[2017-10-21 20:30] jimscarver commented on #118
I signed up for governance committee last week. Is it true that the deadline for nominations was yesterday?

[2017-10-21 20:42] patrick727 commented on #88
@dckc thanks great job, yes building out a wiki is one the to-do list, integrating the discord chatbot would be really cool.

[2017-10-21 20:43] patrick727 commented on #121
@Ojimadu it involves drafting up something like another survery on survey monkey to send out and print out for people to fill in at the meeting.

[2017-10-21 20:45] patrick727 commented on #118
@jimscarver yes the deadline was yesterday and @kennyrowe we should publish the list of interested members so that everyone can have an idea before the vote

[2017-10-21 21:02] entropee commented on #88
@dckc MatterMost migration was a tag that I put on quite a few issues to remind me which need to be addressed by the RChain MM team. Yes, everything on MM is open. Except for things like tags and links, I see MM as a supplement to github rather than a replacement. We can remove the tags if they are confusing. BTW, I'm all in with your pattern language idea. I'm reading up on it now.

[2017-10-22 00:51] dckc commented on #88
MM stuff is open? Do you have an example of a URL I can access without logging in? I looked around buy could not find any.

[2017-10-22 09:20] tgrospic commented on #127
Thanks @lapin7!

I published (still in approval) a new version `v0.0.3` of plugin which successfully highlight all examples from [github.com/rchain/.../rholang/examples](https://github.com/rchain/rchain/tree/master/rholang/examples). :tada:
Although some of the _old_ ones are still with errors and not completely understandable to me.

As a source for plugin I'm using grammar directly from the Rhol

[2017-10-22 11:57] Ojimadu commented on #121
I earlier thought this activity would be for those physically attending the meeting. It's kind of late but here is something https://goo.gl/forms/TEDRnDKIUe1LQLvo2

[2017-10-22 13:49] lapin7 commented on #127
That looks great.

[2017-10-22 17:32] kitblake commented on #88
The MMs in the Mattermost Social Ledger trial (#108) and RChain MM working group (#113) are not open to the world. Could be others are.

[2017-10-22 17:43] kitblake commented on #88
That was an inspired answer @jbassiri. You changed the definition of RChain! I like the biological cell metaphor too.

Now that @dckc put his edit in a wiki page, someone could implement a bot that'll search for wiki pages where the page title matches the term to be defined (see the existing example from IndieWeb pioneers in the [above message](https://github.com/rchain/Members/issues/88#issuecomm

[2017-10-22 20:31] dckc commented on #116
That google doc meeting agenda is helpful but I think it's not authoritative and it's increasingly out of date. As Greg discussed in the Oct 11 and 18 [weekly debrief][1], items to be voted on

  1. have been assigned ethereum addresses which have been posted in discord
  2. are in a surveymonkey

I suppose I should add a comment on the google doc too...

[1]: https://github.com/rchain/Members/wik

[2017-10-22 20:32] dckc commented on #116
What should we expect by way of meeting records? Written minutes? Informal notes? An audio recording?

[2017-10-22 20:32] dckc commented on #116
What's the duration of the meeting?

[2017-10-22 20:47] kdvalentine commented on #118
@jimscarver @patrick727 I was not aware of the deadline, though of course I assume there was one. I didn't see that information published in the membermeeting2017 channel. Where was this information shared?

[2017-10-22 20:49] kdvalentine commented on #118
Or at least I would expect that information to be posted here.

[2017-10-23 07:07] sportshark commented on #126
I am a newer for RChain Members ,Great Thanks to @patrick727 @lapin7 @jbassiri ,I will learn how to wolk with other members to get the job done.
I've added a working folder to record the work progress and work status,you can see it [Fans website](https://drive.google.com/drive/folders/0B4unBXRXuKesQ09iVDRvcE43YzA?usp=sharing)
One of these files is used to record weekly work reports,you can see it

[2017-10-23 07:48] lapin7 commented on #126
Great.

Please move the folder Fans Website to Translation
<http://t.sidekickopen68.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs2zhDwMW5v_SgK2zWN1RW1p1hXH56dLy3f6WHqqH02?t=https%3A%2F%2Fdrive.google.com%2Fdrive%2Ffolders%2F0BwX0krsxHncTLWc5eU1qaEkyR2c&si=5281391242641408&pi=00c22417-6fe2-4f48-8701-6db6d5c53811>

Thx.

--
Cheers,
HJ

On Mon, Oct 23, 2017 at 9:07 AM, Andy li <notifications@git

[2017-10-23 15:12] kennyrowe commented on #118
Member Committees are a volunteer position. The meeting is meant to facilitate the formations of the committees, not an election of members. Once the committees are formed they will self-govern. Each committee will have a few task assigned by the board, but they committees will also have the freedom to approach the board on their own.

Here is a working description of the committees.

**Executive

[2017-10-23 15:59] kitblake commented on #118
@kennyrowe I think everybody, myself included, thought that people who volunteered to serve on a committee using the form would end up on a ballot. Then the seats on the committee would be filled  via voting.

How do people who aren't physically at the meeting participate in the facilitation?

[2017-10-23 16:02] kennyrowe commented on #118
@kitblake If someone who is not at the meeting filled out the form, the chair of the committee will follow up with them.

[2017-10-23 16:06] kitblake commented on #118
I was hoping to participate in the decision about the proposed chair.
Will everybody who volunteered end up on the committee?

[2017-10-23 16:09] kennyrowe commented on #118
@kitblake the chairs are only proposals. At the meeting, a chair can and should be appointed. Yes everyone who volunteers will probably be on the committee, but keep in mind that as soon as the committees are formed they are self-governing. This means they will be responsible for creating their own rules about membership in the committee.

[2017-10-23 16:18] kitblake commented on #118
@kennyrowe Thanks for the clarification. Self governance in such a group is a good thing.

I would gently suggest (vote?) that we make that form deadline a soft one, as some motivated players like @kdvalentine didn't hear about it.

[2017-10-23 16:21] kennyrowe commented on #118
@kitblake I always intended the deadline to be soft. Deadlines help get people motivated though :)

@kdvalentine (and other motivated members) will be welcome for sure

[2017-10-23 18:48] lapin7 commented on #118
I cannot imagine that such deadlines are very strict. It depends as always on new insights ;-)

Best,
HJ

[2017-10-23 21:49] jimscarver commented on #116
re surveymonkey: provisional ballot from @kennyrowe: : https://www.surveymonkey.com/r/Preview/?sm=1GMx476HqTZ70o7gbp3LQbDH7oMr4XMYoDF7esqH7bt4bJ_2B0NWXX9qHnpExCwjP_2B

The member committee elections are missing from the survey @kennyrowe
Who are the candidates?

[2017-10-23 21:52] kennyrowe commented on #116
@jimscarver committees are not elected see comments from https://github.com/rchain/Members/issues/118

[2017-10-24 01:30] sportshark commented on #126
@lapin7 OK ,I have moved the folder to Translation

[2017-10-24 15:05] Ken-dahl commented on #98
Oops, did I accidentally close the issue? Only deleted a draft comment that had sat for several days.

[2017-10-25 01:09] dckc commented on #116
I see the duration is 3hrs (6-9pm).

[2017-10-25 02:29] sportshark commented on #126
**Weekly report(October 9, 2017---- October 15, 2017)**
(1)	Familiar with the workflow, read RChain related documents, participated in GitHub, Google group and other organizations
(2)	Put forward the idea of establishing Chinese fans website and communicated with some members
(3)	Designed website architecture and evaluated NODEJS technology solution.
(4)	Based on nodejs, built and test the Ghost,

[2017-10-25 21:24] patrick727 commented on #121
@Ojimadu I like this form and it could prove useful.
I also wanted to see stories written like a paragraph or two explaining a user experience.

[2017-10-25 21:31] patrick727 commented on #126
@sportshark  awesome work Andy I look forward to seeing your continual work on this.

[2017-10-25 22:43] entropee commented on #118
After the discussion in the emails about not serving on more than one committee. I choose the Compensation committee. It has the fewest members, also.

[2017-10-28 02:35] sportshark commented on #126
@lapin7 I agree with you about domain names. So if need, I can get RChain officials to use "rchain.vip"".

[2017-10-28 17:40] Ojimadu commented on #29
Setting a budget for the listing seems to be a way to raise fund for it.

[2017-10-29 17:55] lapin7 commented on #29
With respect to [Hitbtc](https://hitbtc.com/) and probably other exchanges, there's a need for official communicators on:

- [Bitcointalk](https://bitcointalk.org/index.php?topic=1747033) is currently moderated by mprep
- [Reddit](https://www.reddit.com/r/RChain/) is currently moderated by twitfreak

Who can contact these persons?
Which RChain email address and account can be used to moderate thes

[2017-10-29 23:00] patrick727 commented on #29
@lapin7

In regard to reddit, it's going to take some time to control r/RChain, but I believe we secured r/RChain_Cooperative or r/RChain_Official. It'd be nice if someone checked and secured as many of those as possible.

Check "Community Driver" issue and we can add bitcointalk to that list. I believe there are some volunteers so far and will be spending sometime soon on securing these channels,

[2017-10-30 02:37] sportshark commented on #126
**Weekly report(October 23, 2017---- October 29, 2017)**
(1)	Bought a VPS as the website server
(2)	Through testing and comparison, the final decision was based on PHP, using WordPress as template to build website.
(3)	Configured VPS server environment
(4)	Installed PHP7 running environment
(5)	Installed FTP tool and configured environment
(6)	Installed Nginx server and configured environment
(7)

[2017-10-30 09:37] lapin7 commented on #126
Great.
Is the budget high enough?

URL | Status | Project / Issue | Category | Votes | Last month | Left over | $ Oct Budget | ⍴ Oct Budget | Current Budget | Voters
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
[126](https://github.com/rchain/Members/issues/126) | New Issues | Rchain fans website in chinese | Marketing | 4 | $ - | $ - | $ 2,050.00 | ⍴ 10,250.00 | $ 2,050.00 | @sportshark @

[2017-10-30 11:00] momchilov commented on #29
@patrick727 I've got access to /r/RChain. I would like to form a group of
members, who would join the moderators collective and to agree on the
principles of governance.

On Sun, Oct 29, 2017 at 11:00 PM, patrick727 <notifications@github.com>
wrote:

[2017-10-30 13:31] Rafkraft commented on #126
Very cool news in here :)

It has been said earlier, I'm currently working with the designer to build the alpha public website (rchain.coop). I'll take in consideration the fact that it must be multi-lingual.

We do not necessary have to handle multiple domains (fr.rchain.coop, en.rchain.coop etc...). We could have a toggle in the upper-right corner and the user switches from one language to anoth

[2017-10-30 18:26] jbassiri opened #129 "RChain Constitution Drafting"
See this draft: https://docs.google.com/document/d/1aFeUSN7M_AWNCWvThQ0ZFKAqg3T4bZj-wnKk5Q-r-JI/edit?usp=sharing -- ALL may edit & comment on this

Helpful resource(s):
https://ica.coop/sites/default/files/basic-page-attachments/guidance-notes-en-221700169.pdf

Working group sessions to be created...

Check-in on Wed member meetings for updates...

[2017-10-31 07:06] sportshark commented on #126
@Rafkraft Thank you for your encouragement! I will use Wordpress in chinese fans website ,maybe I can help you.
@lapin7 Thank you for budget! I'm going to set up this website in November. In order to save costs, only one low performance server is currently purchased. After more users access, we can spend money to purchase high-performance servers.

[2017-10-31 17:14] lapin7 commented on #129
@jbassiri Please don't assign other members to your issue. Members have to assign themselves to an issue if they want to participate.

[2017-10-31 23:24] entropee commented on #129
@jbassiri  They had to tell me the same thing on Mattermost about assigning other people to roles. The rules that we use on MM is - _Everyone self selects their role. No one should have to opt out of a role._

[2017-10-31 23:34] jbassiri commented on #129
Ah OK! did not know that. Now i know :)

On Tue, Oct 31, 2017 at 7:24 PM, Gary (otomplodomo on Slack) <
notifications@github.com> wrote:

--
Jacob Bassiri-Tehrani, MBA
(516) 458-7439

[2017-11-01 16:58] patrick727 opened #130 "Newsletter - November 2nd"
https://docs.google.com/document/d/1sRez-kki99HWwP6XhoumYAko9U5QS79Brfp2PNYSkGY/edit#

Is the google draft doc

@kitblake @plantether would be awesome if you had sometime today to review the wording and add any ideas you have.

Test email will go out today too so we can review that

[2017-11-02 11:43] kitblake commented on #130
@patrick727 Google says I need permission, so I requested access. Can you check?
Weird, usually an edit link works.

[2017-11-02 12:11] kitblake commented on #60
The faq.md doc has 5 pull requests in the queue. Can somebody deal with them before the next major edit?
https://github.com/rchain/reference/blob/master/faq.md

[2017-11-02 12:14] Ojimadu commented on #60
Would attempt to fix it. Let me take a look.

[2017-11-02 12:16] kitblake commented on #60
Thanks. There's an edit from @drbloom about Discord that should supersede the earlier one.

[2017-11-02 15:28] patrick727 commented on #130
ah sorry @kitblake I just saw this. I thought i had permissions set

[2017-11-02 17:34] patrick727 opened #131 "O> Map Teams/Roles to Social Circles"
[ Team/Role Spreadsheet](https://docs.google.com/spreadsheets/d/1i548cX214_gxgZ1IPOKc7PSk1fUO8MVbIe6pesgZiZo/edit#gid=0)

1. Fill out team/roles spreadsheet as best as possible (minimum 5 - maximum 11)
2. Get consensus from team and roles
3. Map team/roles as circles within social ledger

[2017-11-02 17:41] patrick727 opened #132 "O> Move RChain Mattermost instance to server owned by RChain."
[RChain Mattermost on DivvyDAO](https://rchain.divvydao.net/community/channels/social-ledger)

1. Move Mattermost from DivvyDAO to RChain owned server
2. Explore scaling options

[2017-11-02 17:49] patrick727 opened #133 "O> Outline Scopes of the Governance Working Group into a document"
1. Take Kenny summary "Identification and selection of directors, officers, and other important roles in the Cooperative, subject to Board approval. Oversee selection of Executive Committee general membership." clarify each point.

2. Propose/discuss ideas that members consider related to "Governance"

3. Outline and Draft "Governance Committee" overview

[2017-11-02 17:50] patrick727 opened #134 "Live Meeting - Thursday at 10AM(PDT), 1PM(EDT)"

[2017-11-02 17:52] patrick727 opened #135 "O> Attack Governance Model"
Phil's POV "a critical part of the security of the whole platform. one has to avoid that the coop ends up being a SPOF due to political centralization & centralization of development decisions as well as centralization of staking coins. after all the coop has a jurisdiction and that might be an SPOF as well.  I know it sounds weird at this point but maybe more restrictions of the coop's power migh

[2017-11-02 18:00] patrick727 opened #136 "O> Formalize Social Ledger Experiment"
Block 30-Minutes in next Thursday hangout to setup the social ledger trial by mapping the teams and roles into mattermost instance.
Evaluation of the trial and social ledge 2.0 work is included here.
#113 addresses implementation of the trial in working groups

[2017-11-02 18:08] patrick727 opened #137 "M> Curate Content for platform cooperativsm and goverance"
What we are doing is very much on the cutting edge so we should capture and present it in a way to the internet at large that works to establish RChain Cooperative as thought leaders in the space. Patrick will be the link for this between Governance and Marketing

[2017-11-02 18:33] kitblake commented on #60
Thanks for dealing with those pull requests.
A lot has changed and the FAQ needs work so I'm reopening this issue.

[2017-11-03 12:24] kitblake commented on #115
@patrick727 Any luck finding out if the Telegram channel @rchain is parked by someone we know?
Just in case I made a backup, but it really would be good – given the impending demise of the RChain Slack – to have it up and running beforehand....

[2017-11-03 17:06] patrick727 commented on #115
Sorry kit, I forgot to do this. I will send out email today.

[2017-11-03 17:54] patrick727 opened #138 "M> KY - Campaign Outline"
Outline the purpose of the campaign in a document.

Outline the overview of the message we are getting across

[see notes document](https://docs.google.com/document/d/1Mi1JXoYu6zqQlsm12tIktSKA6FVe9mgpDnrCd-sMY_g/edit#)

[see campaign spreadsheet](https://docs.google.com/spreadsheets/u/2/d/1mKHdWF6-UhYqQ8J-Nk7QxgQuIvE5F1aY6AxSQpfaSrs/edit#gid=0)

[2017-11-03 17:56] patrick727 opened #139 "M> KY - Identity ebook"
See the links below for drafted table of contents

 - [EBook - Know Yourself](https://docs.google.com/document/d/1rePsjOK6pIfLe_5q6vfr62gkTgkG54TtHaLj0EJZ2g8/edit#heading=h.a02o7owja9e1)

- [Notes doc](https://docs.google.com/document/d/1Mi1JXoYu6zqQlsm12tIktSKA6FVe9mgpDnrCd-sMY_g)

 - [Own Yourself](https://docs.google.com/document/d/1ZXy-7_lEzuPp0ptoO92CT3hz-fTXQF6RC0GNmGkzz3A/edit#heading=h.ik5

[2017-11-03 17:59] patrick727 opened #140 "KY - Build List - Potential Contributors"
Create a contact list of potential contributors/partners to the campaign in order to reach out to at a later date.

[2017-11-03 18:03] patrick727 opened #141 "M> KY - Build List - PR Opportunities"
Build out a list of things that we can do in order to position this campaign as a through leadership campaign for the identity space.

Example:

Having representation in the Decentralized Identity Foundation
Attending large conferences
Presenting at smaller conferences
Newsjacking privacy related convo

etc.

[2017-11-03 18:05] patrick727 opened #142 "M> KY - Outline - Complementary Content"
This is where we take the message, table of content, and available  partnerships/PR opps to design content that will be complimentary to the main release.

Ex. If we get representation on the DIF, then we can create an interview series with other leaders in the space. Publish it to their medium with links back to our information

[2017-11-03 18:08] patrick727 opened #143 "M> KY - Determine Roles, Release Schedule, Sprints, and Budget."
This is were we take the scope of the work, and allocate the bits off to members along with assigning budgets.

We then create setup our firsts sprints to actually creating the content.

[2017-11-03 18:08] patrick727 opened #144 "M> (EB) KY - Content Creation"
This is a placeholder for when we define further the content that is to be created

[2017-11-03 18:12] Ojimadu commented on #138
I thought there is still an open issue for this? Issue 98 precisely.

[2017-11-03 18:17] patrick727 commented on #115
@kitblake so it doesn't seem ATM we have the info for @rchain, lets run with the one that you have.

@derek7272, @Ojimadu, @kitblake @momchilov

I'll need to make a form to fill out for those that are interested.

subreddit is first priority, so if we could get RChain_Official operational asap would be of great help.

[2017-11-03 19:25] patrick727 commented on #138
yes and I will close that out.

[2017-11-03 19:27] patrick727 commented on #98
Hey guys im closing this issue because I have itemized everything into the "Identity" project
https://github.com/rchain/Members/projects/3

[2017-11-03 19:27] #98 closed

[2017-11-04 07:18] derek7272 commented on #115
Okay, I've set up https://www.reddit.com/r/RChain_Official/  .... not completely happy with how it looks, but it's a start. Message me your reddit usernames and I'll make everyone moderators.

[2017-11-04 10:23] Ojimadu commented on #115
@derek7272  /u/chid3x

[2017-11-04 10:40] entropee commented on #115
@derek7272 my username on reddit is otomplodomo .  I am not a skillful reddit user but am willing to lend a hand.

[2017-11-04 11:32] derek7272 commented on #115
I've added you both.

On Sat, Nov 4, 2017 at 9:40 PM, Gary (otomplodomo on Slack) <
notifications@github.com> wrote:

[2017-11-04 11:56] kitblake commented on #115
So far no response to my @rchain queries on Discord and Slack. In Discord Merv, based in Singapore, setup a couple Telegram channels and is willing to participate.
@patrick727 Why is there no marketing channel on Discord? I wanted to post about keeping the social media handle naming consistent. Or is there but I'm not in..

[2017-11-04 17:07] Mervynchng commented on #115
Hi guys, Merv here. As mentioned above, I believe the @rchain handle is parked, so I've set up the following:

Rchain Coop Chat Group at https://t.me/Rchain_Official_Chat
Rchain Coop Announcements Channel at https://t.me/Rchain_Official
(Telegram only allows underscores in their handles. I've set the names up to synchronize with @derek7272 new subreddit which I think is great and clears the FUD fr

[2017-11-04 19:35] kitblake commented on #115
@Mervyn853 Great to hear! There is a FAQ at:
https://github.com/rchain/reference/blob/master/faq.md
It's overdue for an update after the Member meeting. I'm one of the maintainers (but all are welcome to contribute).

We – and this is a larger we – need to coordinate our activities across multiple social channels. Please see Discord where we can chat about it.

[2017-11-05 09:39] Mervyn853 commented on #126
@sportshark Hi Andy, I've created the  RChain Coop Chat Group at
https://t.me/RChain_Official_Chat and an RChain Coop Announcements Channel at
https://t.me/RChain_Official.

I'm based out of Singapore and am fluent in Mandarin too. I've created a Mandarin telegram channel here : https://t.me/RChain_Official_Chat_CN for public communications and would like you to join me in managing the community.

[2017-11-05 09:52] Mervyn853 commented on #115
@derek7272 Can i be a moderator on RChain_Official subreddit too? Username on reddit is mervynchng and I would love to contribute some content there

[2017-11-05 19:32] kitblake commented on #126
Actually there's a discussion going on in Discord that isn't clear yet. Sorry, I should've said something. I wanted to wait until the monday workday to get consensus.

One of our goals is to have all the social media channels use the same characters. Each network has one or more 'punctuators' that are allowed. On Twitter you can use an underscore but not a hyphen. Since the underscore is a given,

[2017-11-06 07:07] sportshark commented on #126
**Weekly report(October 30, 2017---- November 5, 2017)**
(1)	Installed WordPress and configured environment.
(2)	Learn how to use WordPress.
(3)	**Set up QQ group for Chinese fans.QQ group num: 530718666, By November 1st, there were 185 people.**
(4)	There were too many WordPress Themes, and about 16 themes were downloaded for testing and comparison.
(5)	Use BEGIN as the website theme finally.
(6)

[2017-11-06 07:24] sportshark commented on #126
@Mervyn853 @kitblake
So far, the Chinese community has established QQ group, there are currently 187 people, group members are rchain enthusiasts and investors, Ethan and I are responsible for management. Webchat group has been established, there are currently 23 members. Eason and I are responsible for management.
--------------------------------------------------------
Chinese QQ group num: 5307

[2017-11-06 11:02] derek7272 commented on #115
you've been added as well Mervyn.

On Sun, Nov 5, 2017 at 8:52 PM, Mervyn853 <notifications@github.com> wrote:

[2017-11-06 14:37] lapin7 commented on #130
I've updated the access rights. Anyone who's member of Google Group Rchain@googlegroups.com can edit. The rest can only insert comments.

Like that people have to be logged in to edit and we can see who changed the doc.

[2017-11-06 14:54] #120 closed

[2017-11-06 14:55] #119 closed

[2017-11-06 14:58] #118 closed

[2017-11-06 14:59] #117 closed

[2017-11-06 15:02] #112 closed

[2017-11-06 17:14] patrick727 opened #145 "M> Feedback on the website graphics"
graphics that represent key value props https://rchain.fabco.tech/

[2017-11-06 17:15] patrick727 opened #146 "M> (G) "Rholang" Style Guide"
Get with Greg, Medha and Steve to collaborate on Rholang imagery for Valeria to use in design.

[Link to Rholang Brand Guideline Doc](https://docs.google.com/document/d/1cqAgjQfE_bmnhTzIFxr75BdSNjk3ROOgIa148QU-7uI/edit)

[Link to RChain Platform Brand Guideline Doc](https://docs.google.com/document/d/1Ax5tLUJ1Bhl_qJ_j90TdmEp78mbV31f6lApv2H_IT1s/edit)

[2017-11-06 17:15] patrick727 opened #147 "M> (G) "RChain" Style Guide"
Work on brand book and style guide for RChain

[2017-11-06 17:16] patrick727 opened #148 "M> (G) REV Token Logo"
Summary of member driven initiative to reinvent the RChain Cooperative logo.

Public Discord - #logo-design

Drivers - @ValeBF, @llerner, @patrick727

Summary:

[Final Design](https://drive.google.com/file/d/1PgWzDl0VBc1I_hGT5VQNIkqtmmiNElJs/view)

[Runner-Up](https://drive.google.com/file/d/1HH5ClD_t7fGAaQ2LO-I52SDclS_hABJk/view)

After weeks of collaboration on the github issue, the drivers move

[2017-11-06 17:18] patrick727 opened #149 "M> (G) "Mercury" "Venus" "Terran" Brand Guide"
Seasonal looks for messaging around each platform release

[2017-11-06 17:22] patrick727 opened #150 "M> (G) Ether.cards - design"
continued ether.card designs for

- business cards
- special events

[2017-11-06 17:22] patrick727 opened #151 "M> (G) Social media profile designs"
More social media profile images for
- Medium
- Reddit

[2017-11-06 17:23] patrick727 opened #152 "M> (G) Newsletter design"
New design and style for the newsletter based on the new brand book

[2017-11-06 17:25] patrick727 opened #153 "M> (G) EBook covers and Brand Marks"
Cover and Brand Marks for
- Rholang Specs
- E Plurubis Unum 2.0
- Platform Cooperatives with Blockchain
- "Know Yourself" Identity EBook
- "Own Yourself" Identity EBook

[2017-11-06 17:27] patrick727 opened #154 "M> (G)Casper - Infographic"
Infographic for

What is Casper?
Want to know a layout and imagery for Casper infographic.

see vlads new paper https://github.com/ethereum/research/tree/master/papers/CasperTFG

[2017-11-06 17:28] patrick727 opened #155 "M> (G) RChain - Infographic"
What is RChain - infographic

[2017-11-06 22:18] patrick727 opened #156 "M> rchain.coop v.3 - cooperator feedback"
This is to aggregate comments from the cooperators about https://rchain.fabco.tech/ which will be the next website iteration.

Goal: Re envision the rchain.coop to include new information funnels for beginners edu, developer edu, events, and membership.

[2017-11-06 22:19] patrick727 commented on #156
The top graphic has a past-(present)-future look. A switch from mechanical age to network age. (I put present in parens because unless it's that cylinder I don't really see a present, just past-future). I like the green-orange colors.

The "Key Value Proposition" level is kinda white and weak. The borders and text needs to be darker to be better legible. Maybe an image in each box. Something....

[2017-11-07 07:45] Mervyn853 commented on #29
@patrick727 While I understand that the co-op has no intention to fund listings, I feel it will create better visibility for RHOC to have the correct and updated supply / market cap of RHOC updated on Coinmarketcap through this form :

https://docs.google.com/forms/d/e/1FAIpQLSeqpM6DVuxNRJ43oD90fCsm8UltR9oIiFaVxxqt3ch_eJ5Dlw/formResponse

This will require the following information the complete th

[2017-11-07 07:56] Mervyn853 commented on #29
@lapin7 @patrick727 @momchilov

As for Reddit, @derek7272 has secured the r/RChain_Official and a few of us have volunteered to moderate that. I feel that the old /r/RChain subreddit has a lot of FUD from the old Synereo days which we will be better off starting from scratch.

Will be great if we can further this discussion on Issue #115 to coordinate our messaging across the different communicati

[2017-11-07 13:53] momchilov commented on #29
@Mervyn853  The FUD can only be removed by the moderators. I'm looking for volunteers. Preferably, one working for the project who can provide accurate insight, as part of the `/r/RChain` subreddit moderator team.

[2017-11-07 14:47] lapin7 commented on #29
@Mervyn853
Please update the doc for the [Bittrex Submission](https://docs.google.com/document/d/1x4IU6xfvj9fcB5WMrGTz5OmNfdf_I9vHrl8599akt9M/edit)
It has also information about the Private Sale of September.
According to my figures the situation is now as follows:

Total | ⍴ 870,663,574
-- | --
Burned | ⍴ 129,336,426
Treasury RChain.coop | ⍴ 689,700,379
Treasury RChain holding | ⍴ 98,015,693
In m

[2017-11-07 16:23] patrick727 commented on #29
@momchilov yes I totally agree.
One thing that I agree with is that a co-op director or officer should have the admin control of social accounts.
Are you able to do that?

We have some people interested in moderating. Let's check cooperators issue and we can get them started.

There will be rewards for the mods and activists that support the subreddit.

You can add me, and I will help oversee and

[2017-11-07 17:04] momchilov commented on #29
@patrick727 what's your reddit username?

On Tue, Nov 7, 2017 at 4:23 PM, patrick727 <notifications@github.com> wrote:

[2017-11-07 18:22] kitblake commented on #126
@sportshark Yeah, a unified design is a must. Currently work is being done on a new website design (ref #156 and the #rchain-websites-dev channel on Discord). We will probably be able to use elements of that.

@patrick727 This is something to keep in mind with the design. We'll need assets, like backgrounds and images, that can be used on these co-operator driven platforms. We already have logos a

[2017-11-07 18:35] kitblake commented on #115
@Mervyn853 @lapin7 @patrick727 @momchilov @derek7272

[code]
Imho we should keep and cleanup/moderate both r/rchain and r/RChain_Official.

[2017-11-08 02:46] sportshark commented on #152
well,maybe I will pullish Newsletter for chinese fans

[2017-11-08 03:05] sportshark commented on #145
Great work！

[2017-11-08 07:19] sportshark commented on #115
Great idea,set me in the discord groups @patrick727

[2017-11-08 09:08] lapin7 opened #157 "O> Github, Mattermost, Discord, Telegram data feed into Google sheet"
The API's of Github, Mattermost, Discord, Telegram provide maybe a way to get a data feed into a Google sheet:
It would be great if I could get this data into [Pub](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=634479823):

Application | Issue Nr | Participant | Gsheet cel
-- | -- | -- | --
Github | 001 | Github ID 1| Budget 201711!R3
Github | 002 | G

[2017-11-08 18:12] #78 closed

[2017-11-08 18:45] patrick727 opened #158 "M> Policy - Official vs. Community - Assets"
M> Indicates that this task is in the "Marketing" Category

Goal:

We will need to figure out a policy for the cooperative community channels. meaning how they can represent themselves and use the RChain assets.

The draft should be reviewed by the Governance & Executive committee and then approved by the Board of Directors.

[2017-11-08 19:08] jimscarver commented on #134
We can meet in my room https://zoom.us/j/6853551826

[2017-11-08 19:13] jimscarver commented on #136
A separate mattermost team have been created for the gov committee https://rchain.divvydao.net/rg-rchain-gov

The main channel will be linked with the discord channel

[2017-11-08 19:18] jimscarver commented on #136
google sheet member reward sheet update and github issue updates log to event-log channel on mattermost

[2017-11-08 20:11] kitblake commented on #115
For Telegram operators:
There's a bot in rchain_coop named Group Butler now. It's used on a bunch of other channels (including MaidSafe which might have the most awesome community in the cryptoverse). The bot enables new users to be informed about the rules of the channel. It does many other things useful for administrators. Chat with it, it's impressive.

The bot supports Markdown so we can work

[2017-11-09 05:28] Mervyn853 commented on #115
Here's a list of Official RChain Channels I've gathered and pinned to the telegram chat.

Telegram Channel Name: @rchain_coop
Telegram Invite Link: https://t.me/rchain_coop

Please utilize the telegram group search function to search for commonly asked questions. A more detailed FAQ can be found here : https://github.com/rchain/reference/blob/master/faq.md

Official Website: https://www.rchain.coo

[2017-11-09 05:33] kitblake commented on #115
Nice list.
Slack is indeed being phased out and the ourchain invite page informs users of this.  @drbloom, do we want to publicize the persistent Pub-Discord invite link? Or hold for awhile?

[2017-11-09 14:09] lapin7 commented on #157
@jimscarver Please don't add members to an issue. They prefer to do that themselves. Only assign yourself as you see a fit. :-)

[2017-11-09 14:42] lapin7 commented on #126
@sportshark I saw that RHOC can be exchanged also at:
https://ex.singularx.com/exchange/RHOC/ETH

Nice.

[2017-11-10 05:22] sportshark commented on #126
@lapin7 hello，My friend 毛壮壮list RHOC on the https://ex.singularx.com/balance, and he has a very good relationship with the management organization of this website.The manager of the website has joined our private QQ group.

[2017-11-10 15:01] patrick727 commented on #156
More feedback from discord
"Will there be a website redesign before the main launch?
Don't have access to post in the website-dev channel. So here is some feedback, if someone could please relay this to the right channel. On https://rchain.fabco.tech/  :

Don't like the green-orange gradient at the top. Also not clear what the main image represents. Old to new tech? Middle white section, value pro

[2017-11-10 15:02] patrick727 commented on #156
Hello @ValeBF you're in now!!!

@Rafkraft, and Valeria keep in mind that we don't necessarily need to follow all feedback, just read through the comments and we can meet about any points that we consider to be change-worthy.

[2017-11-10 19:10] kitblake commented on #29
The SingularX exchange is now online. You can trade RHOCs:
https://ex.singularx.com/exchange/RHOC/ETH
Works with Metamask or transfer from wallets.

[2017-11-10 19:12] kitblake commented on #126
@sportshark That's really positive. I posted about Sx in #29 which is linked from the FAQ.

[2017-11-10 19:24] patrick727 commented on #29
@momchilov its @noveltymechanics

[2017-11-10 19:42] patrick727 opened #159 "M> rholang.rchain.coop"
updated verzion of rholang.rchain.coop to be consistent with total brand imagery

[2017-11-10 19:43] patrick727 opened #160 "M> Member.Rchain.coop"
member.rchain.coop design in coordination with coop brand imagery.

[2017-11-10 19:53] kitblake commented on #60
Just checked in an intermediary update:
https://github.com/rchain/reference/pull/15

[2017-11-10 20:12] #130 closed

[2017-11-10 20:13] patrick727 opened #161 "Newsletter - November 16th"
https://docs.google.com/document/d/1Oo6TFDRqp8aS9gAzxWAmOSdmF6wbvM2U4b9-vOuqRRY/edit#

[2017-11-10 20:14] #88 closed

[2017-11-10 20:15] #50 closed

[2017-11-10 20:21] patrick727 commented on #47
Hey Guys, im going to close this issue because we now have a dedicated project to website updates.

Thank you everyone for your input. lets continue to collaborate!!!

[2017-11-10 20:21] #47 closed

[2017-11-10 20:22] #76 closed

[2017-11-11 13:26] lapin7 commented on #29
mail conversation @Mervyn853

[2017-11-11 13:32] lapin7 commented on #29
Hi Mervyn,

Thanks for going into this.
Do you use also the work done on document Bittrex submission? https://docs.
google.com/document/d/1x4IU6xfvj9fcB5WMrGTz5OmNfdf_I9vHrl8599akt9M/edit

In fact we don't have to specify Holdings treasury. It can be considered as
in Circulation.

(1) The initial distribution of coins

Initial supply 1,000,000,000
Burned 129,336,426
Total supply 870,663,574
Treasu

[2017-11-12 14:30] patrick727 opened #162 "O> Define "Officers" and "Important Roles""
The compensation committee needs to work with the governance and executive committee, and the financial team in order to define what Officer and other Important Co-op roles need to be filled in order to propose a compensation package for them.

[2017-11-12 14:32] patrick727 opened #163 "F> Compensation Committee: Propose Board of Director packages"
This is the one true deliverable accountable to this committee.

Some helpful points to know would be.

Was there a pre-determined package already proposed for the Board? If yes then we can simply approve or disapprove.

Where in the financial forecast is the room for the compensation packages for the Board, Officers and Important Roles so that we know the parameters.

[2017-11-12 14:34] patrick727 opened #164 "O> Compensation Committee: Determine meeting times"
The compensation committee probably doesn't need to meet weekly, but should define the date and time for those meetings.

[2017-11-12 14:36] patrick727 opened #165 "O> Review of Community Reward Program by compensation committee"
I believe that a perfect role for the compensation committee is to drive the community reward program forward.

This could happen as an agenda item in the meetings. Couple things to work out though are

1. What issues are being worked on within an SOW's scope
2. What issues are being worked on within a volunteer position scope?

maybe if the "drivers" label issues as "community" or "co-operators"

[2017-11-12 14:48] patrick727 opened #166 "Get Rholang Presentation video from Devcon3"

[2017-11-12 14:49] patrick727 opened #167 "Get platform.coop presentation video from from NYC conference"
Video Link to all presentations - http://isoc-ny.org/p2/platform-coop-2017

Would be nice content to get a summary and a specific clip from gregs talk

as good faith and relationship building someone could clip the whole thing and add titles and descriptions to send out to there team for use. More work but more value generated

[2017-11-13 01:53] sportshark commented on #126
**Weekly report(November 6, 2017---- November 12, 2017)**
(1)	Learn how to use WordPress
(2)	Added website top menu, uploaded website icon and LOGO
(3)	Designed the sidebar, home page, menu and bottom page of the website.
(4)	Classified the website column content.
(5)	Finished the home page style design and coding
(6)	Finished the main menu design and coding.

[2017-11-13 09:53] Ojimadu commented on #161
The doc requires access permission.

[2017-11-13 14:40] patrick727 commented on #161
Good catch @Ojimadu , thats fixed now and ill be working on it today

[2017-11-13 15:12] ValeBF commented on #148
Some questions I have:
- About the first REV Logo concept you sent me, Do you want to keep that style and colors ?
- Are the possibilities open to shape adjustments ? or should I follow the current concept ?
- Any additional consideration for the design ?

I as understand Rchain I think REV logo should look as a son brand... in my opinion should follow the style it use currently.  I know the conce

[2017-11-13 15:30] patrick727 commented on #148
Hey @ValeBF

- it is very much open to shape adjustments if you have a creative angle to take.
- style and colors should match the overall style of RChain
- additional considerations: the REV logo will actually be more prominent moving forward. Much like how the ethereum logo is there coin logo and branding is built around that.

Does that help?

[2017-11-13 16:19] lapin7 opened #168 "Edit board meeting agenda 2017-11-14"
Edit the agenda of [2017-11-14 Board Meeting](https://docs.google.com/document/d/1GQm3iZCMEf3Z4AxX52tmBT_WDSp43TE7e1rCUZpFIEc/edit#heading=h.mrpd2jj9w2q3)

[2017-11-13 16:57] lapin7 commented on #29
To make it a bit shorter

Initial supply | - | 1,000,000,000
-- | -- | --
Burned | - | 129,336,426
Total supply | - | 870,663,574
Treasury | - | 688,700,379
In circulation | - | 181,963,195

[2017-11-13 17:44] #71 closed

[2017-11-13 18:11] lapin7 opened #169 "review of core dev team's Rholang Tutorial"
Alex of Coinfund is working on this.

[2017-11-13 18:47] kitblake commented on #115
Update on the ongoing Telegram config:
- Based on user feedback we've moved the rules into the Pinned Message.
- The /rules command requires that (new) users start the Group Butler bot in their Telegram. Only then do they see the rules. And they must leave the rchain_coop channel to do so :(
- However the rules still exist and we'll keep them in sync. Admins can always call up the rules, in-channe

[2017-11-13 19:06] patrick727 commented on #161
did some outlining in the document guys! Feedback welcome, this will be drafted up into the sendpulse by tommorow

[2017-11-13 19:08] patrick727 commented on #115
@kitblake there is the medium post https://medium.com/rchain-cooperative/annual-meeting-summary-3827a82a2e33

[2017-11-13 19:19] kitblake commented on #115
@patrick727 Ty.
We have our first post on the RChain Coop Official Announcements channel.

[2017-11-13 19:20] patrick727 commented on #162
So in regards to Compensation Packages

9 Board of Directors

4 Officers
- President
- VP
- Secretary
- Treasurer

"Important Roles" - ???
- Community Manager
- Director of Markeing
- COO
- CFO
- VP of HR
- Director of Development
- Developer Teams
 - comms
 - storage
 - VM
 - language
 - devops
 - mathematics

What do you all think about this?

And then based on [financial forecast](https://docs.

[2017-11-13 21:03] kennyrowe commented on #164
We can also do meetings on a ad-hoc basis. This would be my preference for this committee since it's business is infrequent.

That being said we should set a meeting to review our first action which will be to set board compensation.

It should also be stated that since I am a board member, I will be recusing myself from any vote.

[2017-11-13 21:04] kennyrowe commented on #163
I will ask Lisa to do this since it would not be appropriate for me to offer suggestions

[2017-11-13 21:12] kennyrowe commented on #165
Yes this could also fall under the preview of the committee.

@lapin7 Could you comment on what is working well and what can still be improved with the process?

One comment I've received is that community members should be responsible for submitting their own invoices.

[2017-11-13 21:15] lapin7 opened #170 "O> Get regulated by strict organizational security practices (ISO 27001, 27002)"
[27001](https://www.iso.org/isoiec-27001-information-security.html)
[27002](http://www.iso27001security.com/html/27002.html)

That makes it finally possible for enterprises to trust a blockchain with sensitive or private business processes.

[2017-11-13 21:18] kennyrowe commented on #162
@patrick727 how many of the suggested important roles are currently filled?

[2017-11-13 21:44] lapin7 commented on #169
We need probably a Graphical User Interface (GUI) contract constructor, containing templates of contracts and typical actions. The GUI will provide ability to create smart contracts without special technical skills.

[2017-11-13 21:55] lapin7 opened #171 "How to add an image to a file in .md format on Github."
- Make a screen copy
- Create an issue
- Paste the screen copy in the issue body
- below '[' is '{' for text displaying purpose
- !{Uploading image.png…}() This text will appear a short moment
- and it will be replaced by
!{image}(https://user-images.githubusercontent.com/1913335/32751185-35e61f0c-c8c5-11e7-96b8-47a4e13cd7ff.png)
- the result is here under
![image](https://user-images.githubuserco

[2017-11-13 23:04] patrick727 commented on #164
@kennyrowe ok awesome,

Well give Lisa some time to provide her feedback.

How about next week. Monday & Tuesdays are pretty open for me.

[2017-11-13 23:07] patrick727 commented on #162
So i'm not sure about the "Director of Development" or "Director of Marketing" or "Community Manager" yes but aside from that I believe all the rest are.

[2017-11-14 09:38] lapin7 opened #172 "Rewards for board members, directors and other important roles"
Rewards for board members can be based on:

- the number of expected regular meetings annually and expected length of regular meetings
- regular materials that will be sent out to the board for their review and benefit
- requirements to attend or not attend the annual member meeting in person
- frequency of President communication and performance review
- a reasonable solution based on the open ma

[2017-11-14 13:23] #172 closed

[2017-11-14 13:23] lapin7 commented on #163
Rewards for board members can be based on:

- the number of expected regular meetings annually and expected length of regular meetings
- regular materials that will be sent out to the board for their review and benefit
- requirements to attend or not attend the annual member meeting in person
- frequency of President communication and performance review
- a reasonable solution based on the open ma

[2017-11-14 14:51] lapin7 commented on #161
@patrick727

I've moved this file to RChain/Members/Marketing-Community-Dev/Content

Like that we can restrict access to RChain google group.

Please create next newsletter from the start on into this folder.

[2017-11-14 15:22] patrick727 commented on #161
thanks @lapin7 will do

[2017-11-14 17:08] lapin7 commented on #159
Development Progress

- The scala port of the Rosette VM is underway [here] (https://github.com/rchain/Rosette/tree/dev/rosette-scala/src/main/scala/coop/rchain/rosette)
- There's C++ code for the virtual machine under rchain/Rosette and the current grammar for the language is [here](https://github.com/rchain/Rholang/blob/source-to-source-rosette/src/main/bnfc/rholang.cf)
- There's a [Wiki](https:

[2017-11-14 20:56] kitblake commented on #161
Made a bunch of minor edits, added a comment and content from @medha.

[2017-11-14 21:36] kitblake commented on #161
That bit about cooperative governance sounds really good.

[2017-11-15 03:34] Mervyn853 commented on #29
Alright, just got an update from [Coinmarketcap](https://coinmarketcap.com/currencies/rchain/), token total and circulating supply have been updated. Also, managed to get them to update the Medium and Github links for better references / backlinks.

I have also made a submission to cryptocompare pending review.

On the issue of exchange listings, I am discussing with some exchanges that are open t

[2017-11-15 04:35] Mervyn853 commented on #115
Also, I was thinking about setting objectives and our target audience for growing the community while the devs are focusing on working on the platform.

At such an early stage, I feel the main purpose of the social strategy will be to recruit advocates, activists, people who really believe in the potential of rchain and will espouse the values to their own circles and communities through word of m

[2017-11-15 05:20] kitblake commented on #29
@Mervyn853 Bravo!
We would very much like to be on Bittrex so (it's not my decision but) I think we'll make the compliance fee happen.

[2017-11-15 06:05] sportshark commented on #161
I will translate it  to chinese ,after it done

[2017-11-15 06:10] sportshark opened #173 "Rchain fans website in chinese operation and maintenance"
We plan to complete the construction of the website before the end of November. Later, we will run this website, including Chinese articles release, format modification, security processing, column additions and deletions, server stability and so on. Let Chinese people know RChain better through this website.

[2017-11-15 07:52] lapin7 commented on #29
Great work.
As members we could set up a pool that collects the needed money and then
the pool pays for the compliance fee(s).

--
Cheers,
HJ

On Wed, Nov 15, 2017 at 6:20 AM, kitblake <notifications@github.com> wrote:

[2017-11-15 08:14] sportshark commented on #100
What is the first I should to translate to chinese?The official website or the official blog or newsletter?

[2017-11-15 08:32] lapin7 commented on #100
I suggest to start with the official website. But we have to talk with
Branko Gvoka how to do translations for regular items and so.
I assume the Chinese website is a 1:1 copy of the English one? Isn't it?

--
Cheers,
HJ

On Wed, Nov 15, 2017 at 9:14 AM, Andy li <notifications@github.com> wrote:

[2017-11-15 14:54] patrick727 commented on #161
hey guys here is the test drat in sendpulse!

@jimscarver would you or diglife mind if we used an image from your content in the newsletter.

See the bit about governance as it highlights yours and hj's work.

[2017-11-15 15:11] patrick727 commented on #29
Firm no on funding/supporting any type of listing.

Really important guys, the co-op is really supportive of a lot of activism, but this matter specifically is a must avoid. Hands tied.

Please don't continue to push further on ways the cooperative can, even indirectly, support this.

I am, personally uncomfortable with it even being an issue on github. It's been very clear this can only be an ind

[2017-11-15 16:31] Ojimadu commented on #161
There is a minor edit of 'teh' instead of 'the'. The edit still needs to be done on the sendpulse links as it is still there. It is at the last paragraph before the agenda list.

[2017-11-15 16:34] lapin7 commented on #29
Even coupons that are redeemable for REV have a certain value. The coop
estimates the value at $0.20 and rewards workers using this rate.

We can ask in Greg's debrief if getting RHOC on poloniex or bittrex is an
activity that's not allowed to be done by employees, directors and
officers, but maybe it's allowed to be done by members or contractors.

--
Cheers,
HJ

On Wed, Nov 15, 2017 at 4:11 PM,

[2017-11-15 17:16] kitblake commented on #29
Imho, don't ask. The coop cannot do anything that makes the RHOC look like a security.

There are dangerous rumblings, like an interview with the SEC chairman, that indicate he's thinking that ICOs are issuing securities, and should be subject to the same regulation.

We already have a go, as Members, to get RHOCs listed on additional exchanges. Let's leave it at that. (And make it happen.)

@patr

[2017-11-15 17:32] Rafkraft commented on #156
Today I uploaded the new /about page i worked on with Valeria, and some updates on the footer and home page.

https://rchain.fabco.tech/about

I also set up the structure to handle multi-language properly, when all texts are ok, it will be easy to set up a chinese version, accessible with an argument **?lng=cn** (for example) at the end of the URL.

[2017-11-15 18:20] patrick727 commented on #161
@ojimadu great catch

[2017-11-15 18:52] patrick727 commented on #156
@rafkraft great work thank you!

I will make it a point in the near future to start working on content for you to use in the website.
Shouldn't take much time.

[2017-11-16 02:39] sportshark opened #174 "The chinese name of RChain"
What is the chinese name of RChain?

[2017-11-16 02:40] sportshark commented on #174
I find a name "微积链"
微积 is calculus in chinese
链 is chain in chinese

[2017-11-16 03:25] Mervyn853 commented on #174
Seems good, I know some wanted a standard RChain brand across all languages but even bitcoin (比特幣) and ether (以太幣) have chinese translations come up. I find 微积链 fitting and apt.

[2017-11-16 03:44] kemihu2011 opened #175 "Coop Membership Agreement plagiarism"
Hey fellow members,

I skimmed our docs and found this egregious error on the Coop Membership Agreement page, directly off a link on the main Holdings website. (https://github.com/rchain/legaldocs/blob/master/Coop%20Membership%20Agreement.pdf)

![image](https://user-images.githubusercontent.com/31378480/32872731-05a8d9b4-ca3d-11e7-8c7f-b8e1c56511d7.png)

That's not okay. A closer eye needs to be p

[2017-11-16 05:23] kitblake commented on #161
Is the content now in sendpulse? Some fixes are needed before it goes out.

[2017-11-16 05:40] kitblake commented on #161
Actually just three fixes:

Feature set and timelines for Mercury release in Q3 2018 where a strong focus.
Feature set and timelines for Mercury release in Q3 2018 were a strong focus.

...is primarily it’s correct-by-construction approach...
...is primarily its correct-by-construction approach...

"blockchain economic forum" should be capitalized

[2017-11-16 06:22] lapin7 commented on #174
That’s a nice name 微积链
Google translates it as
Calculus chain

You’re right it needs à Chinese name

Best,
HJ

[2017-11-16 06:25] lapin7 commented on #174
Otherwise it would be

R 链

And R doesn’t exist in Chinese?

Best,
HJ

[2017-11-16 06:59] sportshark commented on #174
R is a English letter in Chinese.In 2016 when RChain is a part of Synereo,It is called R链。

[2017-11-16 07:00] sportshark commented on #174
We can collect some names and choose one from them

[2017-11-16 11:51] kitblake commented on #175
Good catch. This needs to get passed on to the cooperative officers, i.e. legal counsel.
It would be advisable to search all legal docs for '@' and 'http' and check the address.

[2017-11-16 13:05] patrick727 commented on #175
Great catch

[2017-11-16 17:22] Ojimadu commented on #139
"know yourself" link requires permission.

[2017-11-16 17:25] lapin7 commented on #175
Hi Evan,

Could you please change the email address in the Coop Membership Agreement?
https://github.com/rchain/legaldocs/blob/master/Coop%20Membership%20Agreement.pdf

*Notice; Informal dispute resolution*

*.......legal@civic.com <legal@civic.com> .....*

Thx

--
Cheers,
HJ

On Thu, Nov 16, 2017 at 2:05 PM, patrick727 <notifications@github.com>
wrote:

[2017-11-16 17:50] #161 closed

[2017-11-17 17:12] Mervyn853 commented on #174
Hi Andy, who is 毛 in QQ chat? Can you check your telegram rchain Chinese group? Have a few issues to discuss with the name

[2017-11-17 21:05] lapin7 commented on #60
New Questions that evaluate RChain:
How good is RChain?

**Website: **

- Does it look good/presentable?
- Are the links informative?
- Does the website have a roadmap for the cryptocurrency development?
- Is there a Trello board https://trello.com/
- Does it have a whitepaper.
- Is the whitepaper good? explaining problems and own solutions
- Is the domain name good?
- Is it a quick wordpress temp

[2017-11-17 21:12] ValeBF commented on #148
Hi!
Here I have some concepts I worked on for the REV token logo, I tried to keep on mind the theme you mentioned but also was very important see REV as son brand of RCHAN. This is a initial phase I wait for your feedback and thoughts to keep working.

Please let me know how the brad should named : REV or REV TOKEN or none of them just the icon. Also I would like to know if the proposed colors are

[2017-11-17 22:18] lapin7 opened #176 "D> RChain Development for Bounties: VM primitives, CI integration"
**[Jira Bounties](https://rchain.atlassian.net/browse/ROS-271?jql=labels%20%3D%20bounty)**

- Story ROS-271 | Integrate into CI Pipeline
- Bug ROS-270 | Fix C++ Rosette builds
- Story ROS-266 | Make C++ Rosette VM read in an RBL file in addition to boot.rbl
- Story ROS-253 | Create primitive definitions located in RBLString.cc
- Story ROS-251 | Create primitive definitions located in RblStack.cc
-

[2017-11-17 22:26] MParlikar commented on #176
Please advise which ticket you wish to work on, and your Discord handle will be added to the ticket - so no one else will work on the ticket.

[2017-11-17 22:41] lapin7 commented on #176
Wow,
You're fast as light. I didn't even finish my intro email to you ;-)

--
Cheers,
HJ

On Fri, Nov 17, 2017 at 11:26 PM, MParlikar <notifications@github.com>
wrote:

[2017-11-18 12:36] patrick727 commented on #148
@ValeBF thank you for working on this immediately.

I sent it out through our channels for feedback and will have the feedback for you soon.

Cheers

[2017-11-18 12:40] patrick727 commented on #60
@kitblake on call yesterday Ed went through and accepted pull requests I believe.

Thanks for reopening and @lapin7 these are all great questions.

We also have the need for a fully fleshed out Wiki to be published to the updated rchain.coop.

Great stuff all!

[2017-11-19 10:36] Mervyn853 commented on #115
Hey guys,

Just an update. I've been reaching out to interested parties and slowly funneling them into our Telegram / Discord groups. Hopefully we get more activists helping out. I'm also looking to generate more activity on the Reddit at https://www.reddit.com/r/RChain/ and https://www.reddit.com/r/RChain_Official/

@momchilov Could you add me as a moderator for https://www.reddit.com/r/RChain/ ?

[2017-11-19 18:49] kitblake commented on #148
Hi Valeria,

It's always fun to see a doc with variants like you made. Later in this mail I'll provide some design critique, which is a personal opinion, but first let me explain a couple requirements of a logo for a token.
1. The logo has to be reducible.
2. It has to function in B&W.

Since the logo is for software, as opposed to print, it must have a distinct form and be reducible. It'll need t

[2017-11-19 19:53] patrick727 commented on #115
@momchilov same please add me as a moderator and if we could work on moving ownership to an "official" rchain account then that would be help greatly

[2017-11-19 19:58] patrick727 commented on #148
Great feedback @kitblake.
I'm not quite sure what the REV is an acronym for but the metaphors for revolution(s) work well.

[2017-11-19 20:01] patrick727 commented on #156
@Rafkraft and @ValeBF  this is Steve @bjornagain!

he has been contracted by pyrofex to work on rholang.rchain.coop so we should keep in the design loop as well.

Cheers

[2017-11-19 20:34] Ojimadu commented on #135
https://docs.google.com/document/d/1EW0H833BsBZV9hWQC7cl3_KucMbckQfPpVQtEK3JOuQ/edit?usp=sharing

This a first draft i wrote, we would be need some volunteers to test these postulations.

[2017-11-19 23:01] pythonical commented on #148
![screen shot 2017-11-19 at 4 53 35 pm](https://user-images.githubusercontent.com/4267762/32996659-3f3c862e-cd4b-11e7-9c5f-a7f880216b43.png)

[2017-11-19 23:13] pythonical commented on #148
My early rough take on it

[2017-11-20 01:22] sportshark commented on #174
In Chinese  QQ group  ,Echo suggests that the RChain name is “瑞链”，瑞 represents luck and happiness.
And some Chinese  people think R链 is  a good name.

[2017-11-20 08:08] sportshark commented on #126
**Weekly report(November 13, 2017---- November 19, 2017)**
(1)	It took some time to move the site from rchain.vip to rchain.site., and solved several bugs in migration
(2)	Installed BBR for VPS server, BBR (Bottleneck Bandwidth and RTT) is a new congestion control algorithm which is contributed to the Linux kernel TCP stack by Google. With BBR in place, a Linux server can get significantly increas

[2017-11-20 09:00] sportshark commented on #173
The website is http://rchain.site

[2017-11-20 10:41] Ojimadu commented on #29
I think if there is a legal acquaintance who can advice on this before we proceed that would be better.

[2017-11-20 11:58] ValeBF commented on #148
Hi there!

That is a great feedback @kitblake . Everything you mention is an invaluable input for me to work, there are very important elements to have on mind and you made clear some doubts I had.

I will keep working in some new concepts based on your comments and I will show you soon.

[2017-11-20 12:26] Ojimadu commented on #60
I was about creating an issue to aggregate outdated information on the website and constantly update the FAQ so all FAQs and information on the website would be the same and updates. These information can be aggregated and updated weekly or bi-weekly.
@lapin7  Nice great questions there. I would attempt writing answers for them and merging them with the FAQ am also compiling.

[2017-11-20 13:44] pythonical commented on #148
All are good ideas! I am just throwing some things out there for thought.
![rev-logo-ideas](https://user-images.githubusercontent.com/4267762/33021208-a3b94ada-cdc6-11e7-9974-db7de7a5899e.png)

[2017-11-20 17:23] kitblake commented on #60
Two fyi points:
1. This weekend I renovated the FAQ and sent a pull request this morning, but I neglected to reference this issue #60.
2. I added the following at the end of the FAQ, which dovetails with the aggregation idea:

### *Suggestions?*
Have a question that hasn't been answered? You can suggest additional FAQ entries by including the hashtag #faq in any of the comm channels.

[2017-11-20 17:24] patrick727 opened #177 "M> developer.rchain.coop and rholang.rchain.coop"
_edit: this is subsumed by https://developer.rchain.coop/ as of the [Jan 31 SDK 0.1 release](https://medium.com/rchain-cooperative/sdk-v0-1-5f6bc35bf3e9)._

work out dedicated landing page for developers that includes

getting started
bounties
documentation
how to contribute
api docs

[2017-11-20 17:50] kitblake commented on #148
Nice input @pythonical. Electrons whirling around a nucleus could represent concurrent processes. Did you make this yourself? I've seen something like it used for Generator, a sound art space in NYC, but that was more of a retro rendition.

Concurrency is a tricky concept to visualize. I thought about:
1. A multi-armed spinning spiral
2. An octopus

But having faint or fading lines is problematic

[2017-11-20 18:13] kitblake commented on #177
In what context/site will this landing page be?

Getting this content created will also help the woefully spare Developers section of the FAQ #60.

[2017-11-20 18:14] pythonical commented on #148
i made it using free 'swooshes' and such but yes the problem with it is waaaay too many look a likes (i was looking at them this morning i hadn't before i made it) but a circle is also a very tough one to make stand out since so many use them and when small a circle doesn't stand out much. i also was trying to think of different ways to show 'revolving/motion' and came up with this idea. i have lo

[2017-11-20 18:18] pythonical commented on #148
oh i also like using the 'Raleway' font. I think it is a bit more elegant than Roboto (Ethereum uses that) but both are open source and great.

[2017-11-20 18:28] kitblake commented on #148
Ah, so that was it, I was wondering while looking at that broad opening in the R.

Raleway also has a lower case l that can be differentiated from an upper case I (which the font in Github does not, sigh). Always look for the capitalized word Italic to test.

[2017-11-20 20:50] Ojimadu commented on #60
@kitblake, Thanks would put those into consideration.
@lapin7, are all those questions meant for the FAQ? Or are they meant for evaluation?  Because some of the questions are more evaluatory than explanatory.

[2017-11-21 01:43] dckc commented on #29
Last night I confirmed that the https://etherdelta.com/#RHOC-ETH smart contract exchange works as advertised.

[2017-11-21 01:51] dckc commented on #177
We had a session on this at the developer retreat last week. Dan Grachanin presented his picture of how to go about it, which seems pretty good to me. The presentation was recorded and should be available in due course.

[2017-11-21 01:53] dckc commented on #171
Nice.

[2017-11-21 01:53] #171 closed

[2017-11-21 01:55] dckc commented on #159
I would expect this to be part of dev.rchain.coop #177

Is it cost-effective to have a separate site?

[2017-11-21 02:09] dckc commented on #167
bio: [LUCIUS GREGORY MEREDITH](https://platform.coop/2017/participants/lucius-gregory-meredith)
session: [BREAKOUT PANEL - NEXT MONEY: NEW TECH FOR NEW FINANCE](https://platform.coop/2017/schedule/breakout-panels-next-money-new-tech-for-new-finance)
Sat, November 11
01:30 PM - 03:00 PM

[livestream video](https://livestream.com/accounts/9198012/events/7768901/videos/166029144); Greg starts aroud 6

[2017-11-21 02:12] dckc commented on #169
@alex-coinfund care to share a pointer to your work in progress?

[2017-11-21 03:08] dckc commented on #176
I spent a little time orienting myself to work on ROS-271 but eventually discovered @KentShikama has done the bulk of it: [PR 52]( https://github.com/rchain/rchain/pull/52/)

For reference: https://travis-ci.org/rchain/rchain build logs

[2017-11-21 05:12] dckc commented on #176
After discussion with @KentShikama, I put some more time in: https://github.com/rchain/rchain/pull/54

time log: about 3 or 4 hrs tonight.

[2017-11-21 05:21] dckc commented on #165
Re what can be improved: yes, let's please narrow the scope of this. The program can always be improved. What's at least one thing that is worth changing? What would be enough of a change to close this?

[2017-11-21 05:22] dckc commented on #168
surely this is as done as it's going to get; is there some reason not to close this?

[2017-11-21 05:31] dckc commented on #167
FWIW: I think Ian mentioned making contact with the https://www.buytwitter.org/ effort at this Platform Co-ops conference.

[2017-11-21 09:08] momchilov commented on #115
@patrick727 what's your username on reddit?

[2017-11-21 12:03] lapin7 commented on #168
Yep it can be closed

[2017-11-21 12:03] #168 closed

[2017-11-21 12:13] lapin7 commented on #60
Those questions are indeed a kind of evaluation of RChain. I think they are
of interest to people who want to know a bit more about RChain.
Not all questions have to be answered. Skip as you see it fit.

On the other hand, those questions can be turned into issues.

--
Cheers,
HJ

On Mon, Nov 20, 2017 at 9:52 PM, Ojimadu <notifications@github.com> wrote:

[2017-11-21 13:41] lapin7 opened #178 "Wiki space about RChain"
@MParlikar created a publick [Wiki Space](https://rchain.atlassian.net/wiki/spaces/RCHAIN/pages)

Let's see how we can make use of that space

[2017-11-21 15:28] patrick727 commented on #178
Its very nice,

But I spoke with her yesterday and she would like for us not to push it too hard yet because some of the dates for milestones are fillers and not "official" an she wants to clarify that before linking it out and promoting it greatly.

[2017-11-21 15:33] patrick727 commented on #115
@momchilov its "patrickpresents"

there is a marketing channel on discord under "administration" but we can also work out of co-operators

[2017-11-21 15:35] patrick727 commented on #178
I believe there should only be 1 "Offical Channel" for reddit, what do you guy think that it should be

/RChain
/RChain_Official

we can only link to one from official sources and if we own both then we can simply shut one down.

[2017-11-21 15:50] patrick727 commented on #165
@dckc thanks for help narrowing this down.

I think that one small change could simply be that at least 1 Member of the compensation committee has approved the budget of the of an issue and that 0 have objected.

If HJ is on the committee, then it runs smoothly. and if the committee is tasked, every other week to review the program then they can recommend and objection.

An objection can result fr

[2017-11-21 15:54] patrick727 commented on #169
yes please,

this is something that @Jake-Gillberg would also like to help out with

[2017-11-21 16:00] patrick727 commented on #177
this will be a landing page for essentially answering the question

"how to contribute?"

audience is "interested open-source developers"

[2017-11-21 16:01] patrick727 commented on #177
@kitblake @dckc , yes getting those presentations shortly

[2017-11-21 16:14] patrick727 commented on #29
@kitblake thank you

I'm still personally uncomfortable with this issue specifically.
Is why I removed myself mostly from this convo.

[2017-11-21 16:14] alex-coinfund commented on #169
Well, I am not working on a tutorial per se, just a series of articles. Will work on the next one shortly, it will focus on the Cell contract.

[2017-11-21 17:09] Ojimadu commented on #178
Same here. There should only be one official subreddit channel maybe the other can be a fan subreddit. Having two doesn't really cast good light and might be confusing.

[2017-11-21 17:22] MParlikar commented on #178
I created a separate space for Members to use the wiki.  You are correct, I
am still in the process of cleaning up the Project sites for roadmap, etc...

But the members have a blank, public space that they can use as they wish.

I hope this clarifies.

Medha

On Tue, Nov 21, 2017 at 7:28 AM, patrick727 <notifications@github.com>
wrote:

[2017-11-21 17:29] Ojimadu commented on #165
I think the compensation committee should have the final say when an issue is objected to. If an issue is objected to, the committee might review it if there's a mistake or if the issue deserves more reward if a majority of the if more members of the committee agreed to improve the reward for a certain issue then that'll be it if otherwise the member takes the reward as it is.
The committee doesn'

[2017-11-21 17:36] kitblake commented on #178
It seems we already have a fan/user sub and an official sub, with:

/RChain
/RChain_Official

We should absolutely not shut /RChain because someone else will create it (for trolling).

Maybe some active Reddit users want to disagree about the naming convention (I'm not active).

But it's like registering a .com domain, you have to register .org too, or some scammer will. This happened with Monero

[2017-11-21 17:48] patrick727 commented on #178
yes, we should secure as many as possible, but determine what is official

i.e accountable mods, links from the website, AMA's, etc

Trolls go wherever there is activity lol

my vote is /RChain_Official

[2017-11-21 18:27] patrick727 commented on #158
@drbloom just linked this too me, important.

[.coop terms](http://www.coop/wp-content/uploads/2017/05/terms_of_use_for_the_global_coop_marque.pdf)

[2017-11-21 20:19] kitblake commented on #165
I second what @dckc just said.
The Co-op is slowly but organically growing and we should avoid adding bureaucratic friction to processes.
Someday we will need an arbitrating entity and the compensation committee would fit that purpose.

[2017-11-21 22:22] n10n commented on #175
Uploaded the correct version and thank for pointing it out.

[2017-11-21 22:22] #175 closed

[2017-11-21 22:33] n10n commented on #165
Agree with @dckc in general. Bring compensation committee into a community reward dispute or deciding on the amount of a bounty complicates the focus of the committee and managing individual bounties is out of their scope of work. Of course, the committee can help guide the budget for the reward program in general. We should have community members decide for it in some way. For example, a group of

[2017-11-21 23:35] ValeBF commented on #148
Hi!
I worked on some new concepts based on your comments I maintained option #2 as long as you favorite was that one. Here I tried to show you the minimum size and B/W version.

I also deleted completely the font for now, because as I understood it we ned to focus on the icon and when we decide any direction I will look for a complementary Typography and style.

Please let me know your thoughts.

[2017-11-22 00:04] patrick727 commented on #148
Ooh @ValeBF the first 4 are really nice

I like what you did.

@kitblake , @pythonical , @llerner what do you think?

[2017-11-22 00:14] pythonical commented on #148
Those are all very well done! My favs are 2 and 4!

[2017-11-22 01:43] sportshark commented on #100
@lapin7 aggree that the Chinese website is a 1:1 copy of the English one

[2017-11-22 01:51] sportshark commented on #100
I am translating Newsletter 11.16 to Chinese.We are so lack of Chinese docs

[2017-11-22 02:20] derek7272 commented on #29
I'm quite happy with the tokens being listed just on Ethedelta, as it's
been an opportunity for me to accumulate quite a bit more. (Not sure who
would be selling at this point??)

On Tue, Nov 21, 2017 at 12:43 PM, Dan Connolly <notifications@github.com>
wrote:

[2017-11-22 03:37] kemihu2011 commented on #29
I'm still concerned as to whether or not the trading on Ether delta puts
into question our project and token.

On Tue, Nov 21, 2017 at 6:20 PM derek7272 <notifications@github.com> wrote:

--
*KEVIN HUYNH*
*Partner *| *CryptoParency*

*+1 (650) 933-4107*

[2017-11-22 03:58] derek7272 commented on #29
There's really nothing we can do about that now, so not worth worrying
about. Investing in any crypto project comes with a lot of risks!

On Wed, Nov 22, 2017 at 2:37 PM, kemihu2011 <notifications@github.com>
wrote:

[2017-11-22 04:00] kemihu2011 commented on #29
Well the coop better approve of rhoc to Rev translation of all those token
holders. It better not revert back to just the addresses that contributed
during the private sale.

On Tue, Nov 21, 2017 at 7:58 PM derek7272 <notifications@github.com> wrote:

--
*KEVIN HUYNH*
*Partner *| *CryptoParency*

*+1 (650) 933-4107*

[2017-11-22 06:53] drbloom commented on #148
Avoid Generic & Overused (swirls and atoms).
Google [swirl logos](https://www.google.com/search?q=swirl+logos&source=lnms&tbm=isch&sa=X)
Google [atom logos](https://www.google.com/search?q=atom+logos&tbm=isch&tbo=u&source=univ&sa=X)

![Seagate Logo](https://vignette4.wikia.nocookie.net/logopedia/images/0/07/Logo_Seagate_One-color.svg/revision/latest?cb=20150418130739) ![Focus Web Marketing](https:

[2017-11-22 07:07] sportshark commented on #100
@lapin7
I have translated the Newsletter 11.16 to Chinese,you can view the draft
https://docs.google.com/document/d/1f1lTdmFOC5Ng4qI1rQ24nDFV0LByrQvBIJZZ4LTzaUQ/edit
and the original Newsletter 11.16 is here
https://drive.google.com/open?id=1Oo6TFDRqp8aS9gAzxWAmOSdmF6wbvM2U4b9-vOuqRRY

[2017-11-22 07:08] sportshark commented on #161
@patrick727
I have translated the Newsletter 11.16 to Chinese,you can view the draft
https://docs.google.com/document/d/1f1lTdmFOC5Ng4qI1rQ24nDFV0LByrQvBIJZZ4LTzaUQ/edit
and the original Newsletter 11.16 is here
https://drive.google.com/open?id=1Oo6TFDRqp8aS9gAzxWAmOSdmF6wbvM2U4b9-vOuqRRY

[2017-11-22 12:08] momchilov opened #179 "M> Slack to Discord: Update all references."
All documentation, website etc., pointing to Slack, needs to be modified to point to the public Discord (https://discord.gg/fvY8qhx)

[2017-11-22 13:21] lapin7 commented on #114
**Setting**
Room with audience of 80 people watching a presentation on screen and amplified audio.
Online Zoom-webinar with panellists and attendees
Direct live stream to Youtube

**Hardware setup.**

Apple MacBook Pro (Mac)
Iphone as panellist that is the camera
Samson Stage PXD1 (wireless mic that plugs in with receiver into Mac usb port)
Samson Expedition XP106 (karaoke box that receives in mp3

[2017-11-22 15:17] patrick727 commented on #161
Nice work @sportshark!

[2017-11-22 15:27] Mervyn853 opened #180 "M> (G) Comparisons with Other High Throughput Scalable Blockchains"
In my outreach attempts to grow the RChain community, I'm often faced with questions as to how RChain compares to other High Throughput scalable blockchains like EOS, Hashgraph, Zilliqa, Red Belly Blockchain.

I think it would be beneficial to have a simple comparison table to compare between potential competitors in RChain's space similar to the [Comparison of Blockchains Architecture Documents](

[2017-11-22 15:37] patrick727 commented on #165
Thanks for the feedback.

So I still lean towards the compensation committee meeting(maybe twice a month) and reviewing the decentralized program for "objections."

I assume that individuals mostly won't care about the set budgets and will lean towards getting people as much as possible, which is a great thing, to a point.

Example(maybe Lisa can help clarify) I do believe that as soon as the Co-o

[2017-11-22 15:42] patrick727 commented on #148
Thanks @drbloom.

I actually think the swirl is really nice and a base that we started with, but I see your points.

In the interest of time, can we put this for a vote through Jake's github voting mechanism. Or is there another way that we can vote on the option we like the most?

SurveyMonkey?

I sent off feedback for leadership but we will need to drive this forward.

[2017-11-22 15:42] llerner commented on #148
I agree. These all look familiar. There was an earlier design that looks like this. I think the mathematics and notion of ratios plays well on the math of RChain

========================
Lawrence I Lerner
o/m: 630.248.0663
lawrencelerner@gmail.com

Blog: lawrenceilerner.com
 <http://www.lawrenceilerner.com/>twitter: RevInnovator <https://twitter.com/#!/RevInnovator>

On Nov 21, 2017, at 22:53 , d

[2017-11-22 15:44] patrick727 commented on #100
@lapin7

its actually @Rafkraft and @ValeBF working on rchain.coop

branko is tasked for member.rchain.coop
dan and steve are tasked for developer.rchain.coop

[2017-11-22 15:54] patrick727 commented on #179
thanks!

Will help if people point out those links

I've changed it on rchain.coop

[2017-11-22 15:57] patrick727 commented on #180
This is a great idea and is something we have in the plans for Marketing. @Mervyn853

I've added this to the "Marketing" project and if you wanted to start the table that would be great!

let me know what your thinking and I'll help where I can

[2017-11-22 17:08] kitblake commented on #148
My fave is #5 (if it were red :), I'll explain later.

[2017-11-22 18:25] dckc commented on #165
Good point: the invoicing step already constrains the bandwidth of the system.

[2017-11-22 18:39] dckc commented on #178
We already have https://github.com/rchain/Members/wiki ; somebody tell me a story about how https://rchain.atlassian.net/wiki/spaces/RCHAIN/pages is usefully different?

I could see an argument that github is overly centralized and hence we should set up a wiki in dev.rchain.coop. But I don't see much reason to use rchain.atlassian.net outside the core dev team. Github's community dwarfs atlassian

[2017-11-22 18:45] ValeBF commented on #148
I saw the close similarity to the concepts I sent but  I draw everything  from scratch I have every lines and sketches also I know more research is my responsibility.

The golden ratio is infinite but some times we (designer)  take same lines some times, they are clean and our eye follows them easily. I know there are some concepts that please some people on the team and some others dont, likable

[2017-11-22 18:46] MParlikar commented on #178
It's not usefully different IMHO.  I wanted to offer it to the membership.
If it is not needed, I have no issues with not using it.

Kind regards,

Medha

On Wed, Nov 22, 2017 at 10:39 AM, Dan Connolly <notifications@github.com>
wrote:

[2017-11-22 18:49] ValeBF commented on #148
@kitblake  Here is option #5 on Rchain Red

[REV-.native.b2.0.pdf](https://github.com/rchain/Members/files/1497191/REV-.native.b2.0.pdf)

[2017-11-22 19:40] dckc commented on #177
The video is up:

 - [Rchain Retreat Day Four Part Three - Release Management &
Open Source Software Relations](https://www.youtube.com/watch?v=tjLGuvuc0dI&list=PLf2bbiic5ZjCPzin3gCSMGiBtbT8UO5o2&index=15)

[2017-11-22 21:24] drbloom commented on #148
Do you all remember these logo submissions from last year ?
![from Slack #Design channel](https://files.slack.com/files-pri/T2Z29K9DK-F3N004YJ2/logo_submissions.png?pub_secret=a0d91e4798)

[2017-11-22 21:31] pythonical commented on #148
Does REV need its own logo? Does XRP have its own or just the Ripple logo?

[2017-11-22 23:21] drbloom commented on #148
It was previously suggested to create a simple **symbol** to represent the REV. It would be nice to design a symbol that somehow emphasizes Utility over Value. By _utility_, I mean what the REV actually measures - bandwidth, storage, and compute. Contrast this with today's tokens that represent economic value:

Character | Name | Browser
-- | -- | --
U+0024 | DOLLAR SIGN | $
U+00A2 | CENT SIGN | ¢

[2017-11-23 10:26] momchilov commented on #179
Submitted PRs for the reference repo.

[2017-11-23 12:49] Rafkraft commented on #100
Let's resume here:
As @patrick727 wrote, we are working with @ValeBF on the **rchain.coop** website. I18n is already implemented, when the design/integration is ok or 90% ok, I will contact you both @sportshark and @jeamick to get translations in chinese and french (je suis français aussi @jeamick  au passage ;) ).

I'll give you a list of all the sentences and text of the website, and you'll just

[2017-11-23 15:59] drbloom commented on #148
# Icon or Logotype for REV (Draft)

**Background**:
RChain Cooperative is developing a scaleable blockchain as a public utility. Our membership owns and controls the chain. The RChain platform consists of many individual computers (nodes), each running the RChain software stack. Consensus between nodes is negociated using Casper POS (Proof of Stake). Transactions on the platform are metered in REV

[2017-11-23 16:37] lapin7 commented on #148
Spirals are also used by Scala
https://duckduckgo.com/?q=scala+logo&iax=images&ia=images

[2017-11-23 16:53] lapin7 commented on #148
@ValeBF please send your email address to ops@rchain.coop
Like that you can be compensated in RHOC for your work done on issue #148
or
I think that @patrick727 has also these details

[2017-11-23 16:54] dckc commented on #169
So is this a duplicate of #51?

[2017-11-23 17:03] lapin7 commented on #51
@dckc I close #169 and leave #51 open.

[2017-11-23 17:03] lapin7 commented on #169
@dckc I close #169 and leave #51 open.

[2017-11-23 17:31] Mervyn853 commented on #180
Hey Patrick,

As I come from a non-technical finance background, it might take me awhile to work through the whitepapers. Will see what I can come up with.

Just thought that this would be useful for outreach / marketing, so anyone who might be interested, feel free to take on this issue!

[2017-11-23 17:35] lapin7 commented on #178
Let's close https://rchain.atlassian.net/wiki/spaces/RCHAIN/pages
and work on
 https://github.com/rchain/Members/wiki

--
Cheers,
HJ

On Wed, Nov 22, 2017 at 7:46 PM, MParlikar <notifications@github.com> wrote:

[2017-11-23 18:08] lapin7 commented on #165
**Let's avoid bureaucratic hurdles.**

The way I see it it that the system is fine as it is. The committee can talk about it's features but not about it's execution. That becomes very cumbersome. In stead we just simply trust the fairness of collaborators and of course the social control under collaborators.

**SoW versus bounties**
Simple rule: A member who get's a monthly reward, doesn't get bou

[2017-11-23 18:17] lapin7 commented on #165
**Tax Liability**

_Example(maybe Lisa can help clarify) I do believe that as soon as the Co-op pays out RHOCs it has a tax liability for those._

I understand the tax liability as that the coop has to give to the IRS a [1099 form](https://www.irs.gov/pub/irs-pdf/f1099msc.pdf) for each contractor that has been paid more then $600.

The data to be filled out are basically:
personal ID + total sum p

[2017-11-23 18:43] lapin7 commented on #115
@Mervyn853 could you promote the DEV issues **( #176 )** on Reddit and other channels where developers gather?

[The DEV issues](https://rchain.atlassian.net/browse/ROS-271?jql=labels%20%3D%20bounty) that @MParlikar has released for collaboration. Try to get interest people to become a member through Discord and finally become a collaborator on github/rchain/members. They can read [CONTRIBUTING.md

[2017-11-23 19:26] kitblake commented on #148
Definition of consensus
1 a : general agreement : unanimity
.. b : the judgment arrived at by most of those concerned
2 : group solidarity in sentiment and belief
First Known Use: 1843

"Consensus implies that everyone accepts and supports the decision, and understands the reasons for making it. See also collective responsibility."
Read more: http://www.businessdictionary.com/definition/consensus.

[2017-11-23 19:49] azreed1141 commented on #29
Hello everyone,

Super noob here. My first ICO and I am wanting to send my RHOC tokens to Etherdelta to sell. I need help though. I have Meta Mask, when I get taken to my Etherscan account it shows me how many RHOC tokens I have. I have no idea how to send those tokens to an Etherdelta account though? PLEASE HELP!!  THANKS!!

[2017-11-23 20:03] nikhil9865 commented on #148
![img_0311](https://user-images.githubusercontent.com/4531201/33187395-7aa6d3a6-d05f-11e7-8e31-4718e917ca99.jpg)

[2017-11-23 20:45] lapin7 commented on #148
Hard to be original. See existing logo's. My 2 cents ;-)

![image](https://user-images.githubusercontent.com/1913335/33188044-c56fd568-d096-11e7-91dd-a1c7e23aeb43.png)

![image](https://user-images.githubusercontent.com/1913335/33188082-18f63f1a-d097-11e7-92ba-f82720d1aef6.png)

![image](https://user-images.githubusercontent.com/1913335/33188090-2539f000-d097-11e7-9b88-1d4c9a07dbea.png)

![image](

[2017-11-23 20:52] lapin7 commented on #148
And so on.

![image](https://user-images.githubusercontent.com/1913335/33188189-154146f2-d098-11e7-83c6-0a4eae5a26be.png)

![image](https://user-images.githubusercontent.com/1913335/33188196-31ad70ae-d098-11e7-8b92-a3ea887a6930.png)

![image](https://user-images.githubusercontent.com/1913335/33188219-6eba7ece-d098-11e7-9d5a-e0cc24439819.png)

[2017-11-23 21:56] jimscarver commented on #29
RHOCs are our property and trading them does not make them a security. The
coop cannot prevent or control us trading them. However if the coop
supports listing RHOCs on an exchange that clearly pegs it as a security
under SEC guidelines.

There is no problem if individuals create a fund for listing rhoc on
exchanges as long as the coop does not invest in the fund, however it may
be best that neith

[2017-11-24 00:05] #40 closed

[2017-11-24 00:13] patrick727 commented on #165
@lapin7 thanks for that, very clearly put.

[2017-11-24 00:27] Mervyn853 commented on #115
Sure, will do :) @lapin7

[2017-11-24 01:39] patrick727 commented on #115
@momchilov please add me as a mod, thank you. @patrickpresents is the name

[2017-11-24 02:47] patrick727 commented on #180
Hmm, ok I will add it to the content ideas sheet and will work on getting some people onto it.

[2017-11-24 03:06] nikhil9865 commented on #145
#FF6A38; This color is not blending in the page.

[2017-11-24 03:11] nikhil9865 commented on #180
Hey Guys,
I will join you Mervyn i found comparision chart on ICON 's website we can have kickstart with this.
<img width="792" alt="comparision" src="https://user-images.githubusercontent.com/4531201/33194076-3b770778-d09b-11e7-8705-bd8d93f65dcc.PNG">

[2017-11-24 03:26] patrick727 commented on #177
Mentioned in the Video
- [developer.riotgames.com](developer.riotgames.com)
- [firebase.google.com](firebase.google.com)

[2017-11-24 04:00] Mervyn853 commented on #115
Alright @lapin7 , I have promoted the Dev issues on Telegram (@rchain_coop )and Reddit threads here https://www.reddit.com/r/RChain/ and https://www.reddit.com/r/RChain_Official/ Glad to see that the numbers on these 3 channels are growing organically as progress on the development front is being made.

I've made several attempts to take over or post on the thread at https://bitcointalk.org/index.

[2017-11-24 05:22] drbloom commented on #148
@kitblake - I added the (above) design brief to add some structure, but was not involved in opening this issue. As far as I'm concerned, the 'double-R' logo is fine for now, but we can do far better.

@patrick727 - Can you add some explanation about why we should re-brand now, and how this fits in to website re-design?

[2017-11-24 05:25] sportshark commented on #100
@Rafkraft Great work! Glad to work on it!

Next, I'm going to translate RChain's FAQ. Because too many Chinese are asking RChain questions again and again. If anyone thinks the translation work is necessary, please vote for me in the budget allocation  this month.Thank you !
You can see it https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit?ts=59e46ec5#gid=2052

[2017-11-24 08:51] nikhil9865 commented on #151
We can scale this to reddit and medium
![Uploading IMG_0314 (1).jpg…]()

[2017-11-24 10:13] momchilov commented on #115
@patrick727, I'm a bit confused. You mentioned two different usernames.
Which one are you going to use?

On Fri, Nov 24, 2017 at 4:00 AM, Mervyn853 <notifications@github.com> wrote:

[2017-11-24 11:01] ValeBF commented on #145
@nikhil9865 you are right, I deleted it. I did some editions to the page that are under construction, here is the mockup of the site if you would like to take a look just click the little eye
<img width="118" alt="screen shot 2017-11-24 at 6 55 13 am" src="https://user-images.githubusercontent.com/33433916/33207561-85f12e5c-d0e4-11e7-8a94-58f43de3b785.png">
https://preview.webflow.com/preview/rch-

[2017-11-24 11:04] ValeBF commented on #151
Would you like me to scale this design to the mentioned social media or you want to keep the new look I proposed ?

[2017-11-24 11:09] kitblake commented on #100
That would be great @sportshark! Please wait a bit before you start because there are big changes checked in that haven't been merged yet.
We have – again – a queue of pull requests @patrick727, and some of them are probably going to conflict with each other.

[2017-11-24 12:07] kitblake commented on #148
@ValeBF,
I'm psyched to see that you're using Fibonacci spirals to construct these. As @llerner said, the mathematicians in the co-op will appreciate that.

The Golden Section is a proven balanced proportion, and we've all seen it in Nautilus shells and the spiral branching of plants. Surprisingly, the Fibonacci sequence also shows up in the movement of markets. The waves of price changes, while s

[2017-11-24 13:46] patrick727 commented on #148
Its not really a re-brand, everything was done in a hurry and now that we have matured to this point the presence needs makeover on all fronts.

If the logo thing is going to cause debate its not worth it for me, but I like the above logo that @kitblake is pushing.

[2017-11-24 14:13] as1ndu opened #181 "What exactly are the benefits of being an Rchain member?"

[2017-11-24 14:18] patrick727 commented on #148
So these are the people that we can ping about accepting pull requests
Ian
Hj - member not owner
Ed
Greg
Joe denman
Navneet
Rchaintravis
Mike stay

[2017-11-24 14:19] patrick727 commented on #100
So these are the people that we can ping about accepting pull requests
Ian
Hj - member not owner
Ed
Greg
Joe denman
Navneet
Rchaintravis
Mike stay

[2017-11-24 14:31] patrick727 commented on #151
@nikhil9865, @ValeBF  Id like to see some variations based on the proposed profile images in here

For reddit specifically it'd be really cool to play of the aliens like how most people customize their subreddit. think of a cooperative of aliens building a decentralized teleportation network lol

[Members Google Drive](https://drive.google.com/drive/u/0/folders/0B1YxVxO-qg0CQlpHWElvTVo1cTQ)

[2017-11-24 14:41] edeykholt commented on #148
![image](https://user-images.githubusercontent.com/8242469/33214845-696e1b48-d0e2-11e7-82e5-e6a7867593cd.png)

[2017-11-24 14:45] patrick727 commented on #115
@Mervyn853 its @coininterview and icocountdown that begun the bct thread, dm coininterview on discord

@momchilov we just verified in chat but for consistenc, sorry lets stick with patrickpresents

[2017-11-24 14:46] lapin7 commented on #148
https://www.google.nl/search?q=fibonacci+logo&rlz=1C5CHFA_enNL633NL633&tbm=isch&source=iu&ictx=1&fir=w4xnUHRvyMgZeM%253A%252CIApvSaqGD8PrBM%252C_&usg=__TxIDGatEsfg7uWQz7KRJQ0aToY4%3D&sa=X&ved=0ahUKEwjEqKvUudfXAhWFzRoKHc1BBnYQ9QEIRjAJ#imgrc=w4xnUHRvyMgZeM:

[2017-11-24 14:48] patrick727 commented on #145
thanks the nav on the site should be updated as follows

"Home | About | Developers | Documentation | Join Co-op"

The first call to action may need to be changed from whitepaper but either way we will need it "above the fold" meaning that the person should not need to scroll down at all on there device to see it

[2017-11-24 14:54] patrick727 commented on #156
The nav on the site should be updated as follows

"Home | About | Dev Portal | Documentation | Join Now"

The first call to action may need to be changed from whitepaper but either way we will need it "above the fold" meaning that the person should not need to scroll down at all on there device to see it

[2017-11-24 15:01] patrick727 commented on #156
The bottom under "social media" we could change to "Quick Links"

and put the following

FAQ - icon with a ?    Medium -
Youtube -                  LinkedIn -
Twitter -                    Telegram -
Reddit -                     Github -

possibly hackernews

[2017-11-24 15:05] pythonical commented on #148
Going to have to come at this from a different angle if you want a spiral involved. The standard take on it is filled up and hard to stand out

[2017-11-24 15:30] jbassiri commented on #145
Looking good Valeria, let us know what you want specific feedback on - also
share in the Discord or TG so you get more opinions (if you want them)!

On Fri, Nov 24, 2017 at 9:48 AM, patrick727 <notifications@github.com>
wrote:

--
Jacob Bassiri-Tehrani, MBA
(516) 458-7439

[2017-11-24 15:54] llerner commented on #181
You become a voting member of the organization that is building the RChain platform. Everyone’s vote is equal, there is a plan for equity disbursement.

========================
Lawrence I Lerner
o/m: 630.248.0663
lawrencelerner@gmail.com

Blog: lawrenceilerner.com
 <http://www.lawrenceilerner.com/>twitter: RevInnovator <https://twitter.com/#!/RevInnovator>

On Nov 24, 2017, at 06:13 , Asindu Dril

[2017-11-24 16:49] llerner commented on #148
Pulling together a couple of threads on the logo **design**

- The original design was created as placeholder. The current effort is to complete the REV design. This is not a change or rebranding. Should the design be the same for REV and the Company (RChain Co-op) I think it must. That's me I am somewhat minimalistic in the utility of design
- We are voting and discussing because that's the found

[2017-11-24 17:20] nikhil9865 commented on #145
@ValeBF Hey it looks good there is a delay in motion for board of directors section may be you can remove that slide motion. You forgot to add Vlad Zamfir. Drive in to tech section those graphics are very nice.

[2017-11-24 17:44] jbassiri commented on #180
Side-by-Side Comparison of Blockchains --> contribute, offer comments,
where you see fit

https://docs.google.com/spreadsheets/d/1fbh37xWa898raYm0NTgI4XL23hmI6ndCsyNz2_QhOIw/edit?usp=sharing

On Thu, Nov 23, 2017 at 10:11 PM, Nik <notifications@github.com> wrote:

--
Jacob Bassiri-Tehrani, MBA
(516) 458-7439

[2017-11-24 17:49] as1ndu commented on #181
Ok cool Thanx!

[2017-11-24 18:37] drbloom commented on #148
Nice discussion of design *concepts*. This could help guide an artist to design something **original**.
So far, all images in this tread are generic, copied or derivative works, E.g.

![http://bpando.org/2014/06/30/logo-peter-dibdin-by-o-street/](https://www.summerhall.co.uk/wp-content/uploads/2014/06/peter-dibdin-photography.png)

[2017-11-24 19:28] pythonical commented on #148
the lines are thinner and placed differently on this one. not saying it isn't too close for comfort but look at the Target logo and Beats. But agree too common and not distinctive enough.

[2017-11-24 19:43] drbloom commented on #148
@pythonical - The *Target* logo was created in 1962, before the spamming of thousands of generic logo designs onto the internet. The only way to acquire such a generic design is to purchase one that has already been trademarked.

Making tiny changes to existing logos does not give a designer the right to claim them as his/her own. To do so is highly unprofessional.

[2017-11-24 20:03] pythonical commented on #148
I agree but I do not think anyone is intentionally copying here. dealing with common shapes is going run a foul of Something already out there is very true.

[2017-11-24 20:11] kitblake commented on #148
The idea to use a typographical symbol for RChain dovetails with the REV's usage on crypto exchanges. A unique (textual) symbol helps differentiate currencies. This can be seen on Kraken which, despite its flaky infrastructure, has a super advanced trading UI and uses typography well in its balances listing. Let's look at some of their currency symbols:

฿ Bitcoin
Ł Litecoin
Ξ ETH
ξ ETC
Đ Dash
Ğ G

[2017-11-24 21:51] kitblake opened #182 "M> Prizes in RHOC for new 'round number' Telegram users"
When we congratulated the 100th user on joining the rchain_coop group he asked, "What do i get?". The response was: 100 RHOCs. So we sent the guy 100 RHOCs. Now the group is already at 190 members. It would be fun to continue the prizes with the next round number levels: 200, 300, 400, 500, 600, 700, 800, 900, up to 1000.

That will require a budget of 5500 RHOCs (including the initial 100 prize).

[2017-11-24 22:18] kitblake commented on #148
Yeah, spiral swirls are trending on Crypto.
This showed up in the RChain QQ group:

![bhc_spiral](https://user-images.githubusercontent.com/912545/33224723-c451938e-d16c-11e7-8e12-0bedcb0b51f7.png)
It was spam. The admin banned the poster.

But there's a silver lining. @ValeBF, notice the icons in the notification bar at the top of the Android screen. They are: Telegram, Tripit, Tumbler, Swarm, Yo

[2017-11-24 23:01] lapin7 commented on #182
I think the reward makes sense when those tg users sign up also for being a member.
And then become a member of Github\rchain\member
And then for creating an issue
And then for adding a budget to an issue
And then for adding rewards to the collaborators on an issue
And also for bringing a friend to RChain

[2017-11-25 00:49] patrick727 commented on #177
most of those are ideas are already in progress. would be nice to have individuals engaging on these channels.

[2017-11-25 06:26] Ojimadu commented on #179
Good you created this issue. I wanted to create it.
This link has outdated member meeting on the upcoming event page.
https://www.rchain.coop/coop-information-1/#more-information

[2017-11-25 08:06] Ojimadu commented on #165
@lapin7  nice input. The system does not seem to be broken so lets work with what we have and watch how we evolve organically.

[2017-11-25 08:28] Ojimadu commented on #151
@nikhil9865 The colour composition of the picture above seem to need more contrast like an a dark outline for the text to increase readability and some the background image need to be consistent with the ones being created by @ValeBF

[2017-11-25 08:37] Ojimadu commented on #181
You become a voting member and help shape governance on the coop
You are able to contribute to the coop and earn RHOCs
You can stand as a candidate for elections

[2017-11-25 09:09] #181 closed

[2017-11-25 12:40] lapin7 commented on #177
There are some alternatives for development-blogs.
- https://rchain.atlassian.net/wiki/spaces/RCHAIN/pages
- https://github.com/rchain/Members/wiki
- https://rchain.github.io
- https://en.wikipedia.org/wiki/Draft:Rchain_Cooperative

I suggest to create just one.
https://rchain.atlassian.net/wiki/spaces/RCHAIN/pages
Because it's in the air and most developed.

[2017-11-25 14:33] patrick727 commented on #177
In the process of on-boarding marketing and community managers.

See "co-operator" channel.
Although more developer advocates we need, will follow up with jake.

[2017-11-25 17:58] pythonical commented on #148
the 2 R's in that list are awful. are those actually posted on the token owners site as 'official'? Ripple uses that?? i guess this obvious style R attached
![typer](https://user-images.githubusercontent.com/4267762/33233215-f7d8147e-d1d7-11e7-9980-33f6c9989d79.png)
 must be used somewhere already?

[2017-11-25 18:08] pythonical commented on #148
And i don't intend that to be an offering for the double R replacement. i think the official logo/symbol should be just a symbol with no typography.

[2017-11-25 18:11] llerner commented on #148
Playing off that.

========================
Lawrence I Lerner
o/m: 630.248.0663
lawrencelerner@gmail.com

Blog: lawrenceilerner.com
 <http://www.lawrenceilerner.com/>twitter: RevInnovator <https://twitter.com/#!/RevInnovator>

On Nov 25, 2017, at 09:58 , charlie <notifications@github.com> wrote:

the 2 R's in that list are awful. are those actually posted on the token owners site as 'official'? Ri

[2017-11-25 18:12] kitblake commented on #148
That's the character for the Rupee.

[2017-11-25 18:13] pythonical commented on #148
@kitblake ah ha ha.

[2017-11-25 18:15] kitblake commented on #148
I'm not sure if the ones Kraken uses are 'official' but it's a representation of character usage. All of those currencies also have a logo which is not a typographical character.
This is not saying we can't do that, but having a distinctly recognizable logo is the goal.

[2017-11-25 18:31] pythonical commented on #148
@kitblake Wouldn't we use (if we were going to) the Rho not the Pi? (as in calculus and letters).

[2017-11-25 18:32] kitblake commented on #148
"Our message is open, transparent and consensus driven. Representing that in the logo takes a bit of thinking."

It's an intriguing puzzle. One aspect of consensus is it's a cycle, part of a larger rhythm. Thousands of nodes converge, attain consensus, and then move on with their tasks until the next consensual event. So there's this pattern of repeating convergence and separation.

Geometrically,

[2017-11-25 18:35] kitblake commented on #148
@pythonical That's an option too. @lapin7 has used the p character in invoices.

Rho (/roʊ/; uppercase Ρ, lowercase ρ or ϱ; Greek: ῥῶ) is the 17th letter of the Greek alphabet. In the system of Greek numerals, it has a value of 100. It is derived from Phoenician letter res. Its uppercase form uses the same glyph, Ρ, as the distinct Latin letter P; the two letters have different Unicode encodings.

[2017-11-25 19:48] kitblake commented on #60
Hello Ian, Ed, Greg, Joe, Navneet, Mike,
aka @drbloom, @edeykholt, @leithaus, ?, @n10n, @pyrocto,

We have pull requests for the FAQ queuing up, and I fear some will trigger conflicts.
Nothing complicated for a coder but what's needed is content review.
Can one of you move it forward?

Once this version gets published a translation to Chinese is in the works.

[2017-11-25 19:56] pyrocto commented on #60
There are no pull requests that I can see to review.  Do you mean some project other than rchain/Members?

[2017-11-26 04:02] kitblake commented on #60
Sorry, should've linked it. The pull requests are in /reference:
https://github.com/rchain/reference/pulls

[2017-11-26 11:09] kitblake commented on #148
@pythonical We could play with this. It's the symbol, as opposed to the letter, for the Greek letter Rho. @llerner probably thinks it's too decorative ;)

![greek_rho](https://user-images.githubusercontent.com/912545/33239335-0e6fa364-d2a0-11e7-83ad-2cccc6211fac.png)

The font is Lucida Grande. Not all fonts have Greek letters, but I found out that they're available in Arial, Helvetica, Helvetica

[2017-11-26 11:13] kitblake commented on #148
There is also a variant of the Greek letter Rho with a stroke if we want to have a single line for a currency symbol:

![greek_rho_stroke](https://user-images.githubusercontent.com/912545/33239341-492bc30c-d2a0-11e7-9f51-5ef6e544944a.png)

But it has associations and is less pure.

[2017-11-26 11:21] kitblake commented on #148
@ValeBF, I assume you're reading this convo. Don't be discouraged, we still want to see the next iteration of your thinking. We're exploring a character-based approach because it's a valid option. But a cool, distinct, evocative form might work the best.

[2017-11-26 14:16] patrick727 commented on #42
There is a need to reiterate this issue for

discord
reddit
telegram

[2017-11-26 14:34] jbassiri commented on #42
What worked and didnt work about Slack etiquette & guidelines? It didn't seem widely effective. Rule breakers will break rules anyway.

Our best tool in terms of etiquette is culture. Our culture of transparency, accountability, and open dialogue speaks for itself and brings people into the fold.

--
Jacob Bassiri-Tehrani
(516) 458-7439

[2017-11-26 14:55] patrick727 commented on #42
@jbassiri I agree about pushing the culture.

The etiquette came at a time where we were shifting gears anyway.
The guidelines are also for people running channels/meetups as an added layer of accountability

[2017-11-26 16:51] lapin7 commented on #138
See the notes of the retreat
[Go+to+Market+breakout+notes]https://rchain.atlassian.net/wiki/spaces/DOC/pages/93552934/Go+to+Market+breakout+notes)

[2017-11-26 16:53] kitblake commented on #42
@patrick727 You could rename this issue "Channel Etiquette & Guidelines". Or close it.
For Telegram we're keeping the rules in code (it supports Markdown):
https://github.com/rchain/Members/blob/master/projects/bots/groupbutler/rules.md

[2017-11-26 17:24] Rafkraft commented on #156
I worked on general design issues on https://rchain.fabco.tech today.
https://rchain.fabco.tech

@patrick727 I'll work on your last remarks very soon !

[2017-11-26 19:18] kitblake commented on #148
In Discord Mike Stay confirmed some doubts about using the ϱ symbol:
"As a businessman, I think using rho is likely to be confusing: it looks to an English speaker like a p ρ or an e ϱ. A capital rho is exactly the same as a P. We could emphasize the process calculs aspect and make P mean both "process" and "rho", but "rho" itself is an acronym for "reflective higher order". It's the letter R that

[2017-11-26 20:51] lapin7 commented on #148
https://de.wikipedia.org/wiki/Libertarismus#/media/File:Amagi.png
![image](https://user-images.githubusercontent.com/1913335/33244224-fdfe4fa4-d2f3-11e7-85fa-5cec4904c8fc.png)

[2017-11-27 02:36] Mervyn853 commented on #166
https://www.youtube.com/watch?v=7tW1fAWg6s8  This was just published by the Ethereum Foundation and I have shared it through all the channels I'm in control of.

[2017-11-27 09:34] sportshark commented on #126
**Weekly report(November 20, 2017---- November 26, 2017)**
(1)	Completed contact details, animation effects and other details.
(2)	Completed SEO settings.
(3)	Added exchange links for RHOC
(4)    Published Newsletter 11.16 in chinese.
(4)	The first version of the website can run now. Now chinese fans are getting info from it.
Http:// rchain.site

[2017-11-27 12:24] Ojimadu commented on #166
You got your hands on it pretty quick. The video is a nice introductory video to Rho-lang smart contracts, explains some basic concepts. It is be worth adding to rholang.rchain.coop page.

[2017-11-27 13:15] Mervyn853 commented on #115
@patrick727 I spoke to @coininterview and he said that the existing RChain thread was locked anyways. This was his reply : "you would have to talk to icocountdown alex@icocountdown, i suggest you start a new thread so you have complete control over the thread. "

Would it be okay for me to start a new RChain ANN thread on bitcointalk ?

[2017-11-27 13:24] lapin7 commented on #162
**Draft**
Channel  | Moderator |   |   |   |  
-- | -- | -- | -- | -- | --
[Official Website RChain](https://www.rchain.coop/) | @patrick727   | @branko  |   |   |  
[Member registration](https://member.rchain.coop/) | @leithaus | @n10n  |  |  |
[Newsletter](https://docs.google.com/document/d/1sRez-kki99HWwP6XhoumYAko9U5QS79Brfp2PNYSkGY/edit#) | @patrick727   |   |   |   |  
[Chinese RChain](https

[2017-11-27 14:00] jbassiri commented on #162
I would do nothing - 0 - on compensation. People are working because they believe in the mission. If their work is valued they have a coop SOW or get paid through activist rewards.

We dont have to give more coins to the few people who are already committed.

If anyone has an issue and feels their time isnt being compensated they should speak up! We should make this part of our open transparent cu

[2017-11-27 16:09] lapin7 commented on #162
I don't understand why the post "Cell phone expenses" has to be specified. Maybe it comes from the template for expenses.

_I would do nothing - 0 - on compensation. People are working because they believe in the mission. If their work is valued they have a coop SOW or get paid through activist rewards.
We dont have to give more coins to the few people who are already committed._

Does "Compensati

[2017-11-27 16:11] lapin7 commented on #115
@coininterview is right. Let's start a new RChain ANN thread on bitcointalk
and say there that the "old one" is obsolete.

--
Cheers,
HJ

On Mon, Nov 27, 2017 at 2:15 PM, Mervyn853 <notifications@github.com> wrote:

[2017-11-27 16:40] lapin7 commented on #148
used in presention of @leithaus at [devcon3](https://www.youtube.com/watch?time_continue=1084&v=7tW1fAWg6s8)
![image](https://user-images.githubusercontent.com/1913335/33277643-6b4dd2fa-d399-11e7-8b99-62c25c4f2b54.png)

[2017-11-27 16:42] MParlikar commented on #178
okay!  No problem!

On Thu, Nov 23, 2017 at 9:35 AM, HJ Hilbolling <notifications@github.com>
wrote:

[2017-11-27 16:49] lisa commented on #162
@lapin7, I think you mean another Lisa for the project. :)

[2017-11-27 17:02] #178 closed

[2017-11-27 17:04] dckc commented on #166
@Mervyn853 nice! What are some of those channels, by the way? (I don't see any from your github profile.)

@patrick727 is this done now? Or should we follow up on putting it on https://rholang.rchain.coop/ ? Who is in a position to do that?

[2017-11-27 17:08] dckc commented on #177
I just discovered that https://rholang.rchain.coop/ already exists. I wonder who has write access.

And is that in addition to or instead of developer.rchain.coop?

Whee!

[2017-11-27 17:17] dckc commented on #177
@lapin7 I like using https://rchain.github.io as a way to build the site collaboratively, but I'd still give it a name under rchain.coop such as https://dev.rchain.coop (a) for branding purposes, and (b) so that we could move it to a different back-end if we choose to later.

https://help.github.com/articles/using-a-custom-domain-with-github-pages/
https://www.w3.org/Provider/Style/NoMechanics.htm

[2017-11-27 17:27] Ken-dahl commented on #138
How are we handling invoices on this KY project now? What is the correct issue # to use in the Invoice. Do we have ledger to enter our hours in? Thank you

[2017-11-27 17:30] lapin7 commented on #177
It's indeed becoming a mess and there's risk of double effort and inconsistency.
Find herewith an overview of the initiatives.

Site | Comment
-- | --
https://rchain.atlassian.net/wiki/spaces/RCHAIN/pages | Will be closed by @Mparlikar
https://github.com/rchain/Members/wiki | Just a start @lapin7 , can be deleted
https://rchain.github.io | Is an idea of the Utah retreat
https://en.wikipedia.org/wi

[2017-11-27 18:11] MParlikar commented on #177
https://dev.rchain.coop will be https://developer.rchain.coop - and will be managed by Pyrofex team.

[2017-11-27 18:40] dckc commented on #177
gak! @lapin7 don't delete https://github.com/rchain/Members/wiki please! https://github.com/rchain/Members/wiki/Weekly-Debrief-Index is really handy and has momentum. Plus, it's a home for dictionary stuff (https://github.com/rchain/Members/issues/88#issuecomment-338495466 ).

[2017-11-27 18:55] dckc opened #183 "Signing of commits"
@lapin7 for proposals, I think issues work better than wiki pages such as https://github.com/rchain/Members/wiki/dev-Signing-of-commits

Wiki pages work best when they document already-accepted community norms. See [DocumentMode](http://wiki.c2.com/?DocumentMode) in the original wiki.

I suggest you delete that wiki page (or agree that I may do so).

[2017-11-27 19:01] lapin7 commented on #183
@dckc Yes! Please go ahead as you see it fits best. You know much more about these things :-)

[2017-11-27 19:15] dckc opened #184 "representation of core dev team in member issue process?"
A few days ago, @lapin7 wrote:

 -- https://github.com/rchain/Members/issues/177#issuecomment-346898729

I was at the retreat and while `rchain/Members` seems like a reasonable forum for collaborating on the dev site (#177), Dan Grachanin is the main person funded to work on it and I don't know whether his SOW includes participating here.

Other devs at the retreat have put stuff in JIRA, which se

[2017-11-27 19:23] dckc commented on #183
OK. I deleted it.

@kitblake or anyone who wants to follow up on a signature policy for  https://github.com/rchain/rchain , I suggest you raise an issue there.

Meanwhile, I opened #184 on representation of the core dev team to the `/Members` issue process.

[2017-11-27 19:23] #183 closed

[2017-11-27 20:03] lapin7 commented on #184
The difference between [rchain/issues](https://github.com/rchain/rchain/issues) and [rchain/Members/issues](https://github.com/rchain/Members/issues/) is for me that I can invite "collaborators" on members/issues and with rchain/issues one has to be a "member" of the organization rchain. Members and Collaborators can be assigned to issues.
_BTW I don't know how @ValeBF got there. Apparently she ca

[2017-11-27 20:18] lapin7 commented on #100
For inspiration, you might want to see https://www.w3.org/Consortium/Translation/ --@dckc
see also https://www.w3.org/Consortium/Translation/
And please edit the [translation policy](https://docs.google.com/document/d/1xSXK4DAVwcc-OnrvRm4KP-LOSwWKnAxVOWIpFcCAYaw/edit?ts=5a1a68e7) doc

[2017-11-27 20:28] lapin7 commented on #138
Create a budget for #138 through [Pub Member Allocating Budget - Spending](https://docs.google.com/spreadsheets/d/1uxuxx8YN17KCIWcH1cUoGuSm2hAnIya2iAc6wxoaq1o/edit#gid=634479823)
Here's a [webinar](https://www.youtube.com/watch?v=m6xiTWbEdpA&feature=youtu.be&t=57) that explains how to do it
Or have a [brief overview ](https://github.com/rchain/Members/blob/master/CONTRIBUTING.md)