[2018-07-24 02:33] michaelizer commented on #841
Hello @deannald! and yes, that has already taken place. Now @AyAyRon-P guides the label, transition between the Translation label and Community Building is still under discussion <https://github.com/rchain/bounties/issues/483#issuecomment-407191341>

[2018-07-24 03:01] kitblake commented on #824
@David405 That Markdown conversion worked nicely, thanks for posting the report.

I'm going to close this issue.

[2018-07-24 03:01] #824 closed

[2018-07-24 06:52] dckc commented on #561
## web UI connected to RChain! (fa1554f)

OAuth parts are still a bit rough.

I'd like to demo this. And/or deploy it to our staging server. Or maybe make a screencast.

For now, how about just a screenshot...

[2018-07-24 06:57] David405 commented on #561
This is supercool!!!

@dckc is it possible for us to have a zoom session, or better still show it to us during Colab today(perhaps we could deploy it to the staging server there too) or Saturday's office hours? I could use a lot of help from this.

[2018-07-24 08:21] iamcoderisk opened #853 "Email Marketing"
### Benefit of Email Marketing to RChain

*After researching for closely two months, I realize if Rchain really wishes to stretch beyond the category of people that knows about her existence, other than sensing weekly news letter to people who already subscribed to the platform, I think sending of bulk mails to different regions would be extremely awesome and something we can leverage on.*
*There

[2018-07-24 11:18] zero-andreou commented on #672
I removed @michaelizer from the Translation label as a guide as per his request.

[2018-07-24 13:40] dckc commented on #561
Please do try to deploy it to a staging server. I put some effort into
documentation. Let me know where it's not enough.

If collab is during office hours today, no, I'm not available.

On Tue, Jul 24, 2018, 1:57 AM David Asamonye <notifications@github.com>
wrote:

[2018-07-24 18:02] nonnykul commented on #779
Africa had its First developers meetup on 21st of July [here](https://github.com/rchain/bounties/issues/852)
Material used during the meetup [check](https://docs.google.com/presentation/d/1uiKntDxXs8m3V-cbwerURBq2YJ7DJAnGfdrNMSeJTBc/edit#slide=id.p).
An interactive session was held about computational calculus[here](https://github.com/rchain/bounties/files/2223605/RCHAIN_SLIDE.pptx)

[2018-07-24 19:42] BelovedAquila commented on #852
Interesting @David405 and @Ibesoft.
How often are meet ups to be organized? Does it have a limit, duration or frame? Annually or something? @kitblake

[2018-07-24 20:14] AyAyRon-P commented on #736
No worries @TrenchFloat

I'm sure we can start a new issue for this once we're in a better spot.

[2018-07-24 23:14] dckc commented on #561
Anybody got a validating node whose gRPC port I can connect to via an ssh tunnel? Aside from a gRPC server to connect to, I have the app deployed at https://dckc-rchain-dbr.glitch.me/ .

As I mentioned: the OAuth parts are a bit rough. After you log in, replace `?` with `#` in the URL. Then the page should start to do more useful stuff.

Unfortunately, when you hit **Save** it will hang waiting fo

[2018-07-25 00:06] jimscarver commented on #561
you don't need a tunnel for grp access to rnode.test.rhobot.net

[2018-07-25 01:00] Kencode7 commented on #852
Engaging Meetup!

[2018-07-25 02:06] dckc commented on #561
I'm pretty confident that I do, @jimscarver . I'm pretty sure that the gRPC service isn't exported to the public internet. I just tested that I cannot connect to it:

[code]

The gRPC host defaults to localhost.

https://github.com/rchain/rchain/blob/master/node/src/main/scala/coop/rchain/node/conf.scala#L56-L58

When you run a validating node, you give it a private key. You don't want just anybod

[2018-07-25 06:55] Ojimadu commented on #604
Closing this out for now. If any one6is willing to take on it then feel free to reopen.

[2018-07-25 06:56] #604 closed

[2018-07-25 11:08] jimscarver commented on #561
@dckc we only  opened 40000-40405 on the firewall and you are running on 50000. After the command:
ufw allow 50000
the port is now open and accept connections to rnode-test.rhobot.net 50000 from anywhere.

[2018-07-25 13:02] Cryptovideos opened #854 "RChain Membership Signup Explainer Video"
In the last video (#793) we gave an overview of the decentralized RChain bounty budget and reward system. In this next video we introduce how you might participate in that system.

 - [x] Develop [the Script ](https://docs.google.com/document/d/12IQeQ7MJNMrZ2PVMCk-_G3OuYx5EWbnHxgjvbbzRP-A/edit#)for the Voice Over,
 - [x] Grab screenshots for steps in script
 - [x] Record and edit the Voice over in

[2018-07-25 13:47] AyAyRon-P commented on #672
Thank you @zero-andreou

@pavlos1851 I've added you on discord to create our Translation Label Guide Chat - is this you?
pavlos1851#6292

[2018-07-25 14:52] Ojimadu commented on #770
@olisb the conference starts tomorrow, any updates on this?

[2018-07-25 15:04] olisb commented on #770
i have joined the co-op, done the sync, had my ID verified etc but still not worked out how to actually get the bounty...? However, @jimscarver has kindly loaned us some funds to enable us to promote Rchain, which we will be doing tomorrow and on Friday - and once we have the bounty we will pay him back! - Thanks Jim! @Ojimadu I hope that answers your question?

[2018-07-25 15:21] Ojimadu commented on #770
Yes, thank you.

[2018-07-25 16:30] #559 closed

[2018-07-25 16:46] TrenchFloat commented on #681
@nonnykul How did it go? Any updates for us?

Provided it went well and your Measure of Completion in the initial comment is fulfilled, this issue can be closed. GitHub issues don't lend well to continuous works in progress (aside from exactly repetitive tasks like #812); separate issues will help clarify the work you're doing as your goals for this new community change. A new issue like "Expand R

[2018-07-25 16:58] TrenchFloat commented on #784
I'm tentatively closing this due to inactivity and a budget agreed upon in the rewards app.
Please re-open if anyone feels the discussion should continue.

[2018-07-25 16:58] #784 closed

[2018-07-25 18:31] #851 closed

[2018-07-25 21:03] kennyrowe commented on #494
Feel free to keep pestering. The documents I've seen aren't ready for
general consumption yet, but I don't think it would be hard to get them in
shape.

On Mon, Jul 23, 2018 at 2:06 PM barneycinnamon <notifications@github.com>
wrote:

[2018-07-25 21:49] jimscarver commented on #561
You can use ufw to control the interface or ip address that is allowed.
https://www.digitalocean.com/community/tutorials/ufw-essentials-common-firewall-rules-and-commands

[2018-07-26 15:05] AyAyRon-P commented on #846
@casanwugo

- Where are these being posted in French?
- Is there an audience to support the need for this to be translated?
- What is the value to RChain having these translated?
- What other value added content will you be posting along with these debriefs, medium posts, RChain blog posts?

The metrics to this completion should be the number of views/clicks/upvotes/likes/etc not simply completing

[2018-07-26 15:23] AyAyRon-P commented on #844
@ICA3DaR5 What is the timeline for adding Russian to the community blog?

- Will these be posted in Russian somewhere else or only the RChain Forum? What other value added content will you be posting along with these debriefs, medium posts, RChain blog posts?

Other thoughts:
- Is there an audience to support the need for this to be translated?
- What is the value to RChain having these translated

[2018-07-26 15:24] AyAyRon-P commented on #842
- Will these be posted in Greek somewhere else or only the RChain Forum? What other value added content will you be posting along with these debriefs, medium posts, RChain blog posts?

Thoughts on translation at this time are that the metrics to this completion should be the number of views/likes/etc not simply completing the translation. We need to make sure that the right audience is reading the

[2018-07-26 15:30] AyAyRon-P commented on #829
Are there any updates to this automated translation @allancto @ICA3DaR5 ?

[2018-07-26 16:08] ICA3DaR5 commented on #842
@AyAyRon-P These will also be posted on [Medium](Η έκδοση RChain Node 0.1.3 κυκλοφόρησε).

We are in a process of thinking of other ways for more people to view these.

How can we measure views and likes? These can only be measured in retrospect. IMO posting them to the RChain forum is an added value for community building. These articles are going to **also be read in the future**, not just now.

[2018-07-26 17:10] casanwugo commented on #846
@AyAyRon-P,,  The French section on the RChain forum is already being worked on by @ICA3DaR5 as i have already communicated the details to him. Thank you.

[2018-07-26 17:29] AyAyRon-P commented on #846
@casanwugo, @ICA3DaR5 is no longer a translation guide, this is the reason I'm asking for this information. Please answer my other questions above with the exception to the one I directed to @ICA3DaR5

[2018-07-26 18:00] David405 commented on #846
@AyAyRon-P I do support the idea that translation requires an audience to be of any practical value _(which I believe @casanwugo has shown over time, I may be wrong)_.

I also think it is necessary to have important articles such as the weekly debriefs, rnode/rholang updates in other widely spoken languages like French, Chinese etc and finally I DO NOT support the idea that metrics such as likes,

[2018-07-26 18:30] casanwugo commented on #846
@AyAyRon-P... Translations will be posted on my <a href="https://medium.com/@annchidinma5">Medium Blog</a> which has a constantly growing following with the French audience in between. Also when the French section is created on the RChain Community Forum, i will have the contents posted there as well.

I believe that these Translations are beneficial to the RChain coop, in that, they are archived

[2018-07-26 19:34] pavlos1851 commented on #846
@casanwugo How did you come up with the budget? The [tool](https://www.stepes.com/) is giving a quote of $2,481.00.

[2018-07-26 20:50] casanwugo commented on #846
@pavlos 1851... I only estimated. Didnt make use of the tool initially. But now that you've pointed it out,,, i'll have it corrected immediately. Thank you.

[2018-07-26 21:19] dckc commented on #483
See also discussion of valuation in #841

[2018-07-26 21:44] casanwugo commented on #852
Kudos! @David and team.

[2018-07-27 04:22] cool007zqw commented on #174
微积 sounds exactly the same as 危机（crisis）in Mandarin so I would oppose it
In fact in China most people will call RChain RChain or 日链 (日 = sun as a noun in Chinese, but can be interpreted as 'fuck' if one uses it as a verb)
IMO how people will call somthing is not decided by a certain group so how about let's just wait and see how things will go.

[2018-07-27 05:52] kovmargo commented on #821
HI, guys! Sorry that I'he write this here, but how can we get the reward? What we need to do next? What is the process of? It's not clear (

[2018-07-27 06:40] allancto commented on #821
@kovmargo @golovach-ivan there is a vote on budget. You may vote and ask people who respect your work to vote now and up until the 8th of August. On or after the 9th you may submit an invoice for the voted amount. I'd recommend editing the issue statement above with a full description of the work you did and how you would like to be rewarded so that people may vote intelligently. For instance, if

[2018-07-27 06:58] allancto commented on #174
@Shakakai @ottermagically @zsluedem i agree with the sentiment of going with experienced people on decisions like this, with one caveat. The names RChain, rholang and so on and so on were conceived out of (dare i say?) love and not by professionals. So there are many paths that can lead to a good way. How to recognize what's cool and what's drool, seems to be some kind of art. -@allancto

[2018-07-27 10:42] rjl493456442 opened #855 "M> Wechat official account for 201807"
### Benefit to RChain

The same as #258

In China, WeChat Official Account is content publishing platform similar to Medium. WeChat users in China receive all relevant content push by subscribing to the Official Account.

Taking into account that in China, WeChat is by far the most active social software, with more than 900 million users. Therefore, the promotion of RChain through WeChat Official

[2018-07-27 13:49] dckc commented on #799
For 201806, note that I downloaded the total of rewards per person ("invoice summary") as of a week or so ago:
https://gist.github.com/dckc/4982f0b1704c394018f4b29860b1d2b6

[2018-07-27 14:50] dckc commented on #799
I have a fix in mind, which is to copy the weight of a voter into the reward vote, and to update all of the weights in the reward votes in the current pay period when the trust metric is updated. So on the 8th of the month, we update the trust metric and then switch the current pay period, and now the rewards are fixed.

[2018-07-27 15:01] allancto commented on #799
@dckc @lapin7 @deannald @patrick727 this is a critical bug which affects all accounting records. The last frozen record available to accounting was made several days ago, how can we tell whether the rewards are correct? They seemed to be stable, until today there were no errors reported in invoices etc.

What do we need to do to ensure that "Invoice Summary" produces the correct data for all perio

[2018-07-27 16:30] allancto commented on #785
@dckc @jimscarver @David405 it appears that adding a new certification can affect certification of others (happened to @David405 today). This seems like unexpected behavior in two regards, first of all there is no warning about who is going to fall off as the result of a new vote and second the one who falls off is chosen by a LIFO algorithm which is not transparent.

I'd recommend a different pro

[2018-07-27 16:44] AyAyRon-P opened #856 "M > RChain Community: Local Meetup Development Server"
### Benefit to RChain Community

- Create a server that can be used as a documentation depot for facilitators of a meetups to ensure consistency of content from meetup to meetup
- Protect the brand by maintaining the quality of presentations and keeping visibility on items and collateral used by facilitators
   -Not all presentations and content are created equal, we must be sure that the facilita

[2018-07-27 16:46] dckc commented on #799
I'm not sure what's going on here... I  added a way to freeze weights for `reward_vote`, but using the July 22 frozen ratings doesn't cause the Invoice summary to match the July 22 snapshot.

## Detail:

I uploaded the July 22 ratings in a `auth_0722` table and put them into a new `reward_vote.weight` field for June votes:

[code]

And I changed `reward_wt` to use  `coalesce(rv.weight, uf.weight)`

[2018-07-27 16:52] dckc commented on #799
Oh... tee hee... prolly should do likewise with budget votes...

[2018-07-27 17:36] dckc commented on #799
With this fix, I _think_ June is right now:

  - `d62bad1` budget, reward: don't retrospectively drop votes
    Don't require current uf.weight > 0 when the "locked" weight > 0

At least in the case of @David405, the list of issues (755, 800, 752, 773, 796, 758, 809, 779, 789, 735, 681) and the total amount matches.

[2018-07-27 17:57] dckc commented on #799
I hope this is close enough for June.

In this new code (d62bad1), the total of June invoices is $86,304 vs. $86,164 in the snapshot. The biggest difference is @qelentium, who comes out ahead by $124. The invoice amounts for @irynapopova61  @jplepel        @kitblake       @Mervyn853      @Ojimadu        @thiefinshadows differ by $11 or less.

Details: https://gist.github.com/dckc/887c297eee81abd4b

[2018-07-27 18:03] TrenchFloat commented on #408
I asked Patrick on discord if he's still interested in a jingle.
DM from Patrick:
"Let it die.
But it would be nice"

:(

[2018-07-27 18:03] #408 closed

[2018-07-27 19:19] dckc commented on #785
As to **notice and transparency**: that's perhaps feasible. Right now, the rewards site doesn't send mail nor write to github, but perhaps it could. There's a time when it has the new ratings in memory and the old ones in the DB and it could compare and, say, write a comment to a github issue for transparency (and github could handle notification from there).

The algorithm isn't LIFO. It's a capa

[2018-07-27 20:11] nonnykul commented on #856
Hey **AyAyRon-P**, you doing a good job promoting local meetups, but this issue seam's kind of similar with[779](https://github.com/rchain/bounties/issues/779).
I will like to understand the difference

[2018-07-27 20:51] akhs13 commented on #841
Hello @AyAyRon-P  .
Regarding the added value,we are going to convert these articles to markdown format and post them on Medium and on rchaincommunity.xyz
We are currently searching for blogs and forums that will give publicity and resonance to these articles. If we find something remarkable, we will let you know.
I provided the word count. You can check above.

[2018-07-27 21:14] AyAyRon-P commented on #856
Hi @nonnykul

What I've done is continued on with #779 and thought a bit bigger in terms of reach and accessibility to all facilitators. I'm building on what @pmoorman started and took it a step further by creating a space and eventually a format/structure to help guide all meetups in the most effective way possible. Think of it as a market for everything RChain related. As a facilitator I could i

[2018-07-27 22:13] qelentium commented on #844
@AyAyRon-P it will be posted at Medium [RChain_ru](https://medium.com/@rchain_ru). I think its good to know when and what updates were plugged, its like history of RChain.When Russian blog will be created, i will post all debriefs and blogs there.Via [The World's Fastest Human Translation Service](https://customer.stepes.com/instant-translation-quote/#) it will be [RChain Weekly update (Debrief 77

[2018-07-27 22:16] qelentium commented on #844
@kovmargo is reviewer cant add her as assigner

[2018-07-27 22:48] pavlos1851 commented on #844
@qelentium The word count and budget are correct, however I can't find @kovmargo anywhere in the user database. If she is not a verified member then she can't collaborate with you and thus, you can't complete the bounty since you don't meet the minimum requirement of two assignees. Please post an update about @kovmargo's membership status so that we know how to proceed.

[2018-07-27 22:51] jasoncruzzy opened #857 "RChain on Bounty-one Forum Report(July) 201807"
### Benefit to RChain
RChain on Bounty-one Discourse web #778  have made significant progress, It has been a great platform to showcase the RChain ideas

 RChain Bounty-one Forum Report(July)

Last Month(june) I created RChain account on Bounty-one Forum to act as a representative(developer) for RChain, sell the RChain ideologies, create RChain awareness amongst developers and possibly on board ne

[2018-07-28 04:42] kovmargo commented on #844
Hi, guys!

I can't understand what's going on. I passed verification process with
ysgjay (nick from discord) on 07/06/2018, I paid fee. You can see my
comments at the task #821 <https://github.com/rchain/bounties/issues/821>.

Maybe, I miss something else? Who can help me? Nobody is answering on
discord and I can't find the person who is responsible of the process

Thx in advance!

Best regards,
M

[2018-07-28 07:13] Ojimadu commented on #844
@kovmargo This is probably because you're not a collaborator on this repository. Have you requested access?

[2018-07-28 07:49] David405 commented on #799
@dckc it seems the changes works quite well for 201806 pay period( with a few errors) but it generated a bug for voting for 201807 pay period, my votes counts but carries no weight

[2018-07-28 08:33] azazime commented on #780
$2700 is quite interesting, am sure @pmoorman has prepared a one pager document to explain the budget.

I'll always reference this budget, nice one.

[2018-07-28 08:40] azazime commented on #807
@pmoorman I would really like to understand why this budget has not been shared and allocated accordingly yet???

Or is there a mistake on it? Please kindly clarify guider @pmoorman, thanks

[2018-07-28 09:04] jasoncruzzy commented on #857
Report statistics is from June 27--July 27

[2018-07-28 09:33] Ojimadu commented on #821
Like allancto said, "I'd recommend editing the issue statement above with a full description of the work you did" as this meet up issue is quite technical and academic, I don't understand how participants would be able to contribute to the coop with the above topics or is this work more related to knowledge about RChain technology stack - Pi-calculus, Rho calculus etc.? If yes, then a [grant](http

[2018-07-28 13:15] dckc commented on #799
I can't reproduce that problem.

The system seems to be neither counting your votes nor giving them weight, which is consistent with no trust rating for you. (see also #785 )

[2018-07-28 13:43] dckc commented on #785
I just deployed:
  - 158d792 resize good_nodes to 60,30,20

I've been trying since Jun 30 to get agreement with @deannald and @PatrickM727 but we're struggling with communications / timing /  logistics.

So since this is getting in thew way of people doing good work, I'm going ahead with what feedback I've got.

[2018-07-28 22:10] dckc commented on #561
As I showed the code to @JoshOrndorff and @jimscarver we agreed the `rnodeAPI.js` part should go in its own repository / package. So:

 - https://github.com/dckc/rchain-dbr `596f795` rchain-api has moved to its own package
 - https://github.com/dckc/RChain-API `f3748e9`

[2018-07-29 03:33] allancto commented on #783
I am closing this issue subject to the measure of completion listed in the issue statement  (endorsement of metrics by RChain president, executive committee, Task Approval Committee, and/or RChain Board of Directors).

Budget requested: 3600
Valuation model: Value should be assessed by TAC and Directors (reflecting value to our Cooperative).
%contribution:
82% @allancto
6% @pmoorman
6% @lapin7
3%

[2018-07-29 03:43] dckc commented on #783
I don't see the endorsements

[2018-07-29 05:18] kovmargo commented on #844
Seems yes... And I found the problem - my name on Git and  on Rewards
systems are different... Don't know bow this happens to be honest...You can
find me as 'Margaryta'

On Sat, Jul 28, 2018 at 10:13 AM, Ojimadu <notifications@github.com> wrote:

[2018-07-29 06:02] pavlos1851 commented on #844
@kovmargo Great, I can find you now in rewards.rchain.coop by searching for kovmargo as well, so that's resolved.

[2018-07-29 06:25] Cryptovideos opened #858 "Rchain File Management Tutorial Video"
File Management is substantial to the system - this video will walk you through the correct process involved in structuring and organizing your folders correctly

Estimated Budget of Task:_ **$[500]**
Estimated Timeline Required to Complete the Task:_ **[3-5 -work in progress]**
How will we measure completion?_ **[Video Link submitted / original video transferred directly]**

 - [x] Develop the Sc

[2018-07-29 09:18] rjl493456442 commented on #828
Debrief84 translation has been uploaded [here](https://medium.com/rchain-cooperative-china/rchain%E6%AF%8F%E5%91%A8%E6%9B%B4%E6%96%B0-%E7%AE%80%E6%8A%A584-2018%E5%B9%B47%E6%9C%884%E6%97%A5-cec42b530d31)

[2018-07-29 16:56] ICA3DaR5 opened #859 "Translate a total of 9 blog posts to Spanish"
### Benefit to RChain

**_This issue has been created on behalf of @michaelizer (now @michaelizer1), since he has some issues with his GitHub account Most of the work has already been done but because of the account issues that he had, his GitHub issue has been vanished (#843)_**

Reach a larger audience and help expand the community building.

Translations will be posted both on the [RChain World

[2018-07-30 00:39] deannald commented on #785
Sounds good. I'm hoping to meet up with @PatrickM727 sometime in the next two weeks to discuss the Bounty System. We should follow up with a team call to get everyone on the same page.

[2018-07-30 03:50] pavlos1851 commented on #846
@casanwugo @philipandri002 Could you please go through the "Verify Coop Membership" procedure? [Instructions](https://github.com/rchain/bounties/wiki/How-To-Use-the-Budget-Rewards-Web-App).

[2018-07-30 04:01] pavlos1851 commented on #690
Hi @tgrospic. Please verify your membership as per [the wiki](https://github.com/rchain/bounties/wiki/How-To-Use-the-Budget-Rewards-Web-App#connect-your-coop-membership).

[2018-07-30 06:41] pmoorman commented on #807
@azazime good question.

Because the issue was created only on the 28th of June, we decided that it would be better to allocate the rewards in the month of July rather than June. As such (even though we had already voted a budget), we decided to let it expire in June, and re-vote it in July.

I've just gone in and voted the suggested budget for this month ($2,000), and will vote for rewards a bit

[2018-07-30 06:58] pmoorman commented on #780
The budget reflects the work done towards creating the website information architecture as requested by the marketing org (Patrick, specifically), and the discussions around it to get the website workstream started.

$2700 specifically reflects that fact that I) doing the proper research and work to create such an architecture is quite involved, II) that it's non-trivial work, and requires more ex

[2018-07-30 10:00] casanwugo commented on #846
@pavlos 1851 oops... I thought i had completed all process. Will do that today.

[2018-07-30 12:13] Tonyprisca13 opened #860 "Well wishes to Hendrik Jan Hilbolling"
This issue aims to send our wishes to a board of director and the steward of the bounty system, HJ who has not been fine for some time so I thought it's going to be nice for the RChain  community to send some well wishes to him. Our words of care and love can go a long way in making him feel better so I created this document to have members typing in their well wish to him so he view them in one p

[2018-07-30 12:32] pavlos1851 commented on #855
@rjl493456442 Please use the updated [issue template](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md). Also, could you justify the budget? From a quick glance at the wechat account all I can see are reposts of the debriefs posted on medium, the rholang tutorials, as well as a couple of videos. What do you intend to post to warrant a budget of 3600 USD?

[2018-07-30 13:38] AyAyRon-P commented on #855
@rjl493456442 please provide links and to the articles you translated/posted and give a word count for each. Also, please provide the date translated/posted for reference. Then as @pavlos1851 stated update the objectives using the new issue template and populate the template with more precise objectives.

I have a few other questions:

- Are you migrating content from your already existing public

[2018-07-30 14:14] zsluedem opened #861 "Rchain Asia Debrief 20180731"
### Benefit to RChain

The first meeting will hold at 04:00 UTC 20180717
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

The zoom link is https://zoom.us/j/2522161381.

- [x] Prepare [agenda](https://docs.google.com/document/d/14ybKRWeRH69JZrSXpC4OVbMqTLk58mnpHJAVabCsoh0/edit#).
- [] invite people to attend to the meeting
### Budget and Objective

*Please make t

[2018-07-30 14:36] dckc commented on #799
I just deployed:

  - `3934d169c813`    Hide weight field when entering votes

cc @pmoorman

[2018-07-30 14:57] zsluedem commented on #750
Not really working on this one in July.

[2018-07-30 14:58] #803 closed

[2018-07-30 14:58] #794 closed

[2018-07-30 14:59] #814 closed

[2018-07-30 14:59] #813 closed

[2018-07-30 15:04] zsluedem commented on #552
I believe this one is no longer available now. close it now~!

[2018-07-30 15:04] #552 closed

[2018-07-30 15:37] v56700 commented on #855
I see a serious overlap between the content and rchain.site.
Each article has a reading of less than 40.
It's worth noting that I noticed that you applied for a budget for each article posted on WeChat.
What is included in the current budget?
I want to reiterate that WeChat is a public platform with no maintenance costs.
Should your budget be reduced to $1000?

[2018-07-30 15:47] TrenchFloat commented on #733
It looks like the writers have already collected their rewards for the article before all the work was done (like getting an audience), by a mistake on the label guides' part (that includes me). That said, here is some feedback for next time:

Blanket statement concerning all articles: An article with less-than-professional quality or appeal can actually harm the image of the RChain community, pro

[2018-07-30 15:47] #733 closed

[2018-07-30 16:11] TrenchFloat commented on #793
@Cryptovideos any updates on THIS video in particular? If you are going to collect you reward early, I suggest you publish it very soon, regardless of your progress on part 2.

[2018-07-30 16:15] TrenchFloat commented on #854
@Cryptovideos Can you explain how you got to your budget proposal?

[2018-07-30 16:17] pmoorman commented on #588
@ICA3DaR5 I don't really know how to proceed with allocating budgets on this issue for the month of July.

For me —as I've said before— much of the value of a forum is in the users, rather than in the software. Do we have any indication already that people are actively using the forum?
Do we have a plan on how to increase usage and activity?

I'm standing by for further suggestions from your side

[2018-07-30 16:20] pmoorman commented on #591
Yeah, I would also prefer if we could allocate budget based on issues like #796 for instance, rather than ongoing / open-ended tasks like these.

Of course, there is a place for articulating the overarching strategy of a series of tasks, and maybe this issue could serve that purpose. In that case, it would be good to reflect that in the issue.

For now, I'll close this issue out (to keep things tr

[2018-07-30 16:20] #591 closed

[2018-07-30 16:21] pmoorman commented on #615
@kitblake any news here?

[2018-07-30 16:22] pmoorman commented on #645
I'm closing this out due to (what looks like) inactivity. If anyone actively wants to pursue this task, feel free to reopen and recommit to it!

[2018-07-30 16:22] #645 closed

[2018-07-30 16:23] pmoorman commented on #649
Closing this, because the work is completed (hurray!)

[2018-07-30 16:23] #649 closed

[2018-07-30 16:29] jasoncruzzy commented on #857
@AyAyRon-P  Also for the coming months I have also considered to carefully include RAM weekly debrief as a topic included, which be a very good follow up content.

[2018-07-30 16:31] pmoorman commented on #692
I'm tempted to close this issue, because explicit goal as laid out in the description has been achieved.

However... I think we (marketing guides) are still doing a bad job passing work from the marketing org to the bounty system. As such, I'll keep this issue open with the aspiration to widen the scope in the next month(s), and improve on this area.

[2018-07-30 16:32] pmoorman commented on #699
I'm closing this issue, because I don't believe marketing further wants to pursue this line of work (see comments from Kit and Aaron above)

[2018-07-30 16:32] #699 closed

[2018-07-30 16:35] pmoorman commented on #695
@philipandri002 are you available any of these days to think through how we can better define the scope / goal of this issue?

I think you're generally on to something here, and with a move more and more towards value-based pricing for all marketing work, this kind of idea makes sense.

The problem for now is: how to articulate properly what we want to do, and how to set up a decent strategy to ge

[2018-07-30 16:39] pmoorman commented on #704
I'll close this issue, for a combination of 2 reasons:

- The issue has turned inactive. No new content has been posted on the Reddit in question

- Generally, we want to move our regionalization strategy towards more of a focus on official channels, so new people wouldn't be confused about what's "real" and what could potentially be scam accounts (remember: for new people it's hard to tell apart

[2018-07-30 16:39] #704 closed

[2018-07-30 16:39] #716 closed

[2018-07-30 16:40] pmoorman commented on #735
@kitblake can you post a status update again (and lead a suggestion on budget & rewards distribution on this issue)?

[2018-07-30 16:41] pmoorman commented on #739
closing because it's completed

[2018-07-30 16:41] #739 closed

[2018-07-30 16:43] pmoorman commented on #750
@zsluedem can you post an update here on the progress for July?

Again: I would appreciate someone more initiated on these matters to suggest what they think is an appropriate budget allocation here.

[2018-07-30 16:44] pmoorman commented on #756
Closing this, because it's already been completed long ago!

[2018-07-30 16:44] #756 closed

[2018-07-30 16:44] pmoorman commented on #777
With the above discussion, I think this issue can be closed.

[2018-07-30 16:44] #777 closed

[2018-07-30 16:50] pmoorman commented on #778
Hey guys,

there's an issue that I would like to raise here (holds for this issue, but also potentially for other situations):

**When one visits the page as it's been created, the impression is that clearly this is an account under the control of the RChain Cooperative. However, this is not the case. (!!)**

Whenever we engage in marketing outreach from the bounty system, we should make it abunda

[2018-07-30 16:51] pmoorman commented on #779
Guys, can anyone post an update / summary of progress here over the course of July, so we can vote an appropriate budget?

[2018-07-30 16:53] jasoncruzzy commented on #778
@pmoorman always verify first from source, I have done my introduction in
the Bounty-one and I clearly stated my position, I could post a link of
that. Don't raise false alarm

On Jul 30, 2018 17:50, "pmoorman" <notifications@github.com> wrote:

[2018-07-30 16:59] jasoncruzzy commented on #778
@Pmoorman here is a link
https://talk.bountyone.io/t/introduce-yourself/13/23?u=rchain_coop , are
you clarified now, I hope something more optimistic could be heard now!!

On Jul 30, 2018 17:53, "Emeka Obinna" <jasoncruzzy@gmail.com> wrote:

@pmoorman always verify first from source, I have done my introduction in
the Bounty-one and I clearly stated my position, I could post a link of
that. Don't

[2018-07-30 17:03] pmoorman commented on #815
@kitblake I take it this can be closed, right? Work has been completed, and bounty has been paid last month.

[2018-07-30 17:03] #815 closed

[2018-07-30 17:05] pmoorman commented on #832
Any updates here, @Cryptovideos ?

[2018-07-30 17:06] pmoorman commented on #853
@iamcoderisk this is an issue that has already been discussed previously, before you probably joined RChain.

You can read more about it in issue #219. I'll close this issue now, because it directly overlaps with that issue (and the decisions taken under it).

[2018-07-30 17:06] #853 closed

[2018-07-30 17:14] jasoncruzzy commented on #778
@pmoorman you talked about onboarding developers for RChain but you yet to role out a definite plan for but fault moves made by others.
1) presenting the RChain the way I did is more viable at this point,  which states the authenticity of the coop
2) In line with being a representative of RChain on Bounty-one, I also resolved to posting RChain approved docs and I have conducted my self there in a

[2018-07-30 17:18] azazime commented on #780
Its still not clear @pmoorman, can you please give a mathematical breakdown of how you arrived at 2700$ for reference purposes, thanks

[2018-07-30 17:21] pmoorman commented on #857
@jasoncruzzy

In my opinion, this report should be posted on issue of #778 as just a regular status update. There is no need to create separate issues to report on a platform page that's gotten **exactly 34 views.**

Asking a $1000 budget for doing so, is in my opinion something that actively damages the collaborative and trust-based spirit of the coop. As such I've put a slashing vote on this iss

[2018-07-30 17:22] pmoorman commented on #778
@jasoncruzzy I don't mean to say that you have any bad intentions, but rather that we all should be more up-front about the fact that we're a community effort rather than an RChain-controlled "official" thing.

Btw, I think this holds much more generally that just this particular issue.

Please, post a bit more about the interest you've gotten from the community. That's what we're looking for here

[2018-07-30 17:29] jasoncruzzy commented on #857
@Pmoorman I spoke with @AyAyRon-P  as a lead guide he advised me to create a separate issue for this. @pmoorman Please this issue will be put up at as a minute for the next RAM meeting on Wednesday please try to attend this time around to further defend your reasons for a zero vote.

[2018-07-30 17:40] nonnykul commented on #779
Meetup in a box is a successful project, and I believe it's still open for more work in project.

Contribution:
**zsluedem** has being active ever since the issue was created, he did the privilege to post slides used for the month of July for **meetup**;

  * [Formalisms: Formal language,Algebra,calculi logic.v1](
https://github.com/golovach-ivan/Computational-Calculi/blob/master/slides/00.formali

[2018-07-30 17:43] nonnykul commented on #779
@ **pmoorman**

Meetup in a box is a successful project, and I believe it's still open for more work in progress.

Contribution:
**zsluedem** has being active ever since the issue was created, he did the privilege to post slides used for the month of July for **meetup**:

  * [Formalisms: Formal language,Algebra,calculi logic.v1](
https://github.com/golovach-ivan/Computational-Calculi/blob/master/

[2018-07-30 17:44] nonnykul commented on #779
@ **pmoorman**

Meetup in a box is a successful project, and I believe it's still open for more work in progress.

Contribution:
**zsluedem** has being active ever since the issue was created, he did the privilege to post slides used for the month of July for **meetup**:

  * [Formalisms: Formal language,Algebra,calculi logic.v1](
https://github.com/golovach-ivan/Computational-Calculi/blob/master/

[2018-07-30 17:49] David405 commented on #860
@Tonyprisca13 I am thinking if we could organize a zoom call with HJ after his surgery

[2018-07-30 18:19] pmoorman commented on #857
Oke, it's good that you checked with Aaron about it. Would love to hear his opinion here (@AyAyRon-P).

I don't plan on attending the RAM meeting, and to be honest haven't got much more to add to my reasons other than what I've already outlined above.

- I think updating us on progress for an issues is just business-as-usual (and should thus fall under the parent issue)

- The reason for my zero v

[2018-07-30 18:27] pmoorman commented on #780
@azazime there is no mathematical breakdown here, rather a judgement of effort invested and tentative value to the RChain coop. Producing a high-quality website redesign is both important and complex work, and costs a lot of time.

On top of that, there is (unfortunately) a tremendous amount of communications overhead, because so many people have a say in the effort.

[2018-07-30 18:31] AyAyRon-P commented on #828
Hi @rjl493456442  Please review my findings below and update your budget accordingly.

- [ ] [rchain-weekly-update-debrief-83-27th-june-2018](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-83-27th-june-2018-67f309a9500) 1322words / 1179 - **143 word discrepancy**

- [ ] [rchain-weekly-update-debrief-84-4th-july-2018](https://medium.com/rchain-cooperative/rchain-weekly-update-de

[2018-07-30 18:52] AyAyRon-P commented on #857
Hi @jasoncruzzy @pmoorman

Would be glad to lend some visibility and perspective from my side. Jason reached out to me last week asking me how best to report on content he had worked on for the Bounty One Forum, which to me sounded like a good idea as a follow up. He had valid responses to my questions ranging from: reads, joins to RChain, topics, unique or sourced content, and how they built inte

[2018-07-30 19:17] jasoncruzzy commented on #857
The budget reflects the work done towards creating Awareness and management of the profile as discussed with AyAyARON P specifically

$1000 reflects the input and management of the RChain Cooperative on Bounty-one (Blockchain developers forum).
Let me Restate the statistics

* 374 views(read) in total for the month of July which translates to 374 BlockChain developers viewing our topic.
* 10commen

[2018-07-30 19:32] pmoorman commented on #857
@jasoncruzzy @AyAyRon-P first things first: **I have removed my slashing vote,** because we're clearly dealing with a communications mix-up here.

Secondly, I think we now have 2 issues open, tracking essentially the same thing (= Bounty-one engagement). I suggest that to avoid confusion, either one of the issues should be closed. I'd suggest we close this one in favor of #778, but that's your cal

[2018-07-30 19:34] tucsonblockchain commented on #854
@Cryptovideos asked: @Cryptovideos Can you explain how you got to your budget proposal?
Answer:
I logged into my GitHub account after I obviously had previously registered. I then clicked the #854 link as provided in the previous email from @jimscarver: Assigned #854 to @tucsonblockchain. which in turn took me to this very page.[](https://github.com/rchain/bounties/issues/854)
So in this case, I s

[2018-07-30 19:37] David405 commented on #857
@AyAyron-P I don't see why there is a "need-SMART-objective" label in this issue, it is well formatted by the SMART standard, see #778 for clarification.

@pmoorman I see no justification of your voting a zero budget. The statistics clearly shows that there is value generated from maintaining a BountyOne account for RChain, I dont think the budget of $1000 is overpriced, maybe @jasoncruzzy you may

[2018-07-30 20:07] AyAyRon-P commented on #857
@David405 I invite you to reread my comment again. #778 needs to be referenced in the objectives because there was no clear indication that this was a report to 778, only that it was a report. Even under 778 the objectives are not SMART they're stats about Bounty-One.

The collaborator can decide but as a marketing guide it is our responsibility to help organize the information and with this issue

[2018-07-30 20:14] kovmargo opened #862 "Construction and support Facebook community on Russian, involving people"
Reach a larger audience and help expand the community building.
Meetups in Kharkov and Kyiv, conducted by @golovach-ivan (#821, #822), entailed a lot of questions. Now the discussion is around Skype chat - it's not very convenient and we feel a big need for a social network. The best way to discuss hot topics (not only RChain organization about; also RHOlang, calculus, complexity with understandin

[2018-07-30 20:58] dckc commented on #778
In the text of https://talk.bountyone.io/t/introduce-yourself/13/22 I see "I’m Jason a member of the RChain_Coop ..." but the username is RChain_Coop and the avatar is the coop logo. This gives an impression that the 1000+ members of the RChain cooperative have gone through some due process to make you their representative to Bounty-one. Unless I missed something, this isn't the case.

I have simi

[2018-07-30 21:05] qelentium commented on #844
All translated and reviewed.Posted at [Medium](https://medium.com/@rchain_ru). @qelentium 90% @kovmargo 10%.

[2018-07-30 21:16] #844 closed

[2018-07-30 21:39] kovmargo opened #863 "Translate 5 Top Post on Russian"
Translation of the RChain hot topics to other languages means good global marketing: reach a larger audience and help expand the community building.

### Budget and Objective
**Collaborators Work:**
@kovmargo: 90%
@qelentium: 10%

**Estimated Budget of Task: $ 498**

Estimated Timeline Required to Complete the Task: **7**
How will we measure completion? **Fill the Translated Content section below.

[2018-07-30 21:59] Viraculous opened #864 "RChain update(Debrief 87), 20180725"
Rchain update
Debrief 87
- [x]  Watch [video](https://youtu.be/hkxLLweBUGU) of the Debrief
- [x]  Write [textual run down](https://docs.google.com/document/d/1HqIx931PgidcasFFu_kfrqhSjabmfeVEFuvTz13hUQs/edit?usp=sharing)
- [x]   Upload on RChain [medium](https://medium.com/rchain-cooperative/rchain-update-debrief-87-july-25th-2018-f5d7e8f3a53a)

[2018-07-30 22:02] #845 closed

[2018-07-30 22:10] Viraculous commented on #860
Impressed by this issue, Please let's keep the Doc in line.

[2018-07-31 00:10] rjl493456442 commented on #855
@v56700 Hey, for some explanation here. We posted all articles which translated by me and my teammates, so we have no idea the content on the rchain.site.
And for the wechat official account maintaining, typesetting and content translation is the most important work, it still needs some people to spend hours on it.
And for the viewing time of articles, yes it is not too much, we will try to promot

[2018-07-31 00:55] jasoncruzzy commented on #778
@dckc I spoke with @PatrickM727 about the name and logo, clearly stating the position of RChain on bounty-one forum and also requested to retain the name and logo which he did ACCEPT and commended the job done. He approved of it hence the contents generated are sourced from Approved RChain document on our website or other RChain official channels.

[2018-07-31 01:12] jasoncruzzy commented on #857
@AyAyRon-P #778 has been referenced to this issue. #778 was created in the month of June and had its topics(contents) created for the month of June which I provided the stats and links for verifications on the said issue#778. The Report statistics for July began from June 27th to July 27th, So this month report should an issue of its own.

[2018-07-31 02:14] zsluedem commented on #750
@pmoorman No reward this month is appropriate.

I have reached to a student in Shenzhen University in July. But we don't talk so much . I have been busy with some other things. I am busy with the Rchain Asia this month . I will spend more time on this one in August.

[2018-07-31 02:34] AbnerZheng commented on #857
I also think 1000$ for the budget is ridiculous. I will vote a slashing vote.

[2018-07-31 02:39] AbnerZheng commented on #856
We can use google drive for storing the document.

[2018-07-31 03:03] philipandri002 commented on #695
@pmoorman! That would be great..

[2018-07-31 03:24] rjl493456442 commented on #828
@AyAyRon-P I use typora MD editor to count the word. Which tool do you use for counting?

[2018-07-31 04:56] #748 closed

[2018-07-31 07:11] David405 commented on #824
@kitblake you only voted for budget, kindly vote on rewards for this issue.

@allancto @trenchfloat please complete the vote for this report

[2018-07-31 07:51] Tonyprisca13 commented on #860
@ David405 I think it is a welcome idea.

[2018-07-31 08:02] David405 commented on #857
@AyAyRon-P this issue and #778 meet the bounty criteria of SMART, they are both Specific and Mensurable, Attainable, meaning they are also Realistic and they are time bound (Monthly). I see no reason for the needs-SMART-objectives, hence I am removing it. Also, if you look carefully #778 has its own [report](https://github.com/rchain/bounties/issues/778#issuecomment-401387622), this issue is a rep

[2018-07-31 08:25] David405 commented on #852
@allancto I kindly request your input in completing the vote for this task.

[2018-07-31 09:02] yuhuanmocmoc commented on #828
“the-future-of-blockchain-event-with-greg-meredith-and-greg-heuss” translation has been uploaded here [here](https://medium.com/rchain-cooperative-china/%E5%8C%BA%E5%9D%97%E9%93%BE%E7%9A%84%E6%9C%AA%E6%9D%A5-%E6%B4%BB%E5%8A%A8-greg-meredith-and-greg-heuss-7633dd0d140f)

[2018-07-31 10:49] kovmargo opened #865 "Translate a total 11 Top Post on Ukrainian"
Translation of the RChain hot topics to other languages means good global marketing: reach a larger audience and help expand the community building.

### Budget and Objective
**Collaborators Work:**
@kovmargo: 90%
@qelentium: 10%

**Estimated Budget of Task: $ 1675**

Estimated Timeline Required to Complete the Task: **10**
How will we measure completion? **Fill the Translated Content section belo

[2018-07-31 14:50] zsluedem opened #866 "upload videos to Chinese website in July"
### Benefit to RChain

Below is the videos I uploaded to Chinese video website in June.
1. [Introduction to the design of computational calculi 06
](https://www.bilibili.com/video/av26118077)
2. [Rchain Community Debrief 84](https://www.bilibili.com/video/av26354764)
3. [Introduction to the design of computational calculi 07](https://www.bilibili.com/video/av26606691)
4. [Rchain Community Debrief

[2018-07-31 15:02] zsluedem opened #867 "July report for RChain community in China"
### Benefit to RChain

Monthly report for the Rchain community in China.

**It is still under draft** I will finish it in these two days.
https://docs.google.com/document/d/1vC5MW6_iz1K88T-2DPoyF38W24GaUlTm1aEaIMMD0YM/edit#heading=h.l69nb2ivqvtw

*Describe how the building and implementation of this task will benefit the RChain Membership or the RChain blockchain:*
*Get in touch with a guide (http

[2018-07-31 15:25] AyAyRon-P commented on #865
@kovmargo

- If you're posting on the RChain Medium account - I'm assuming then  you will place these in markdown text?
- What other value added content will you be posting along with these debriefs, medium posts, RChain blog posts?

Other thoughts:
- Is there an audience to support the need for this to be translated?
- What is the Ukrainian community
- What is the value to RChain having these tra

[2018-07-31 15:28] AyAyRon-P commented on #863
@kovmargo

- There isn't currently a Russian section of the RChain forum that is being worked on by @ICA3DaR5
- If you're posting on the RChain Medium account - I'm assuming then  you will place these in markdown text?
- What facebook pages are you posting these on?
- What other value added content will you be posting along with these debriefs, medium posts, RChain blog posts?

Other thoughts:
- W

[2018-07-31 15:40] zsluedem opened #868 "Start up a Rnode test QQ group in China and make Rnode test video"
### Benefit to RChain

@cool007zqw and I have start up a Rnode test QQ group in China .There are already 68 people in the group. We helped others with Rnode testing.

And @cool007zqw has made two videos on how to do the node testing thing.

1. Chinese version: https://www.bilibili.com/video/av27717965
2. English version: https://youtu.be/3w8bBBb1-nw

*Describe how the building and implementation o

[2018-07-31 15:41] zsluedem commented on #868
@TrenchFloat I believe there is a metrics for the video making. Am I right? I can't find it now . Are the metrics all settled down now?

[2018-07-31 16:00] allancto commented on #783
@dckc thanks. I can't tell from your response whether the TAC will be endorsing it or not. I'll be happy to work to get it endorsed by our board or president if that's your request, but in that case I'd like to mark the issue as ONGOING and get the part that's already completed voted. I've been working on it for the last 6 weeks.

Thanks! -@allancto

[2018-07-31 16:35] AyAyRon-P commented on #828
@rjl493456442 I use microsoft word.

I have never seen anywhere a rate of .2 per word, @ICA3DaR5 I've seen you also make this comment, correct? Regardless, we are now using this tool moving forward.

cc @pavlos1851

[2018-07-31 17:11] pavlos1851 commented on #863
@kovmargo So is this for russian only now? Because the budget doesn't reflect that, and all 5 of these blog posts are included in #865

[2018-07-31 18:04] AyAyRon-P commented on #856
@AbnerZheng I've created a Google Drive for this golovach-ivan, is uploading files to the drive now for future meetup use.

@David405 This is not a project that has a mathematical breakdown. This was countless conversations determining viability, it's potential to benefit facilitators, and it's value to RChain by ensuring quality of documentation and consistency.  This is an effort driven reward s

[2018-07-31 18:27] TrenchFloat commented on #868
YouTube metrics have stalled for now (#736). If that issue is something you'd like to see completed, PM me and let's work together on it.

[2018-07-31 19:34] pavlos1851 opened #869 "ONGOING: Label Guiding for Translations - July 2018"
### Benefit to RChain

The report will provide transparency regarding the translation label issues and the actions performed by the guides.

This month we have also implemented the use of this [tool](https://customer.stepes.com/instant-translation-quote/#) for word counting and pricing of the translations now and moving forward. This is to ensure consistent and fair pricing and eliminate a guessti

[2018-07-31 19:51] ICA3DaR5 commented on #588
I updated the **_Estimated Budget of Task_**.

[2018-07-31 20:15] ICA3DaR5 commented on #799
Clicking **Update Trust Ratings** at https://rewards.rchain.coop/aux/user returns:

`Oops!
An error has been logged.

Please report the problem to #bounties in RChain-pub discord.`

Also, I just voted for July. The Weight column is empty both on **BudgetVotes** and **RewardVotes**

[2018-07-31 22:17] jasoncruzzy commented on #857
I removed the marketing label and added the community building label. The community building label guide approved of this as a wonderful idea and advised the work continues.
@pmoorman kindly remove your $0 vote on this issue as it no longer relates to marketing but approved by the community building team.

@dckc @AyAyRon-P @David405 @jimscarver

[2018-08-01 06:43] jasoncruzzy commented on #857
![screenshot_20180731-025822](https://user-images.githubusercontent.com/37456249/43505154-e96a9796-955d-11e8-8bdd-1f163fa2878c.png)

@pmoorman here👆👆 is a proof of your request yesterday, Also Here is the link just in case you want to check it out https://talk.bountyone.io/t/web-interface-to-play-with-the-rholang-language-check-it-out-fam/223?u=rchain_coop

[2018-08-01 12:08] Tonyprisca13 opened #870 "20180801 Active Member Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [ ] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).

- [ ]  Any key discussion poin

[2018-08-01 13:13] dckc commented on #783
The goal here is to come up with something the TAC endorses. Whether we endorse the current draft isn't clear; I haven't finished my review.

It's reasonable to request a reward for a small part of the budget for getting past a blank page, but what looks like the last 20% of the document is often 80% of the work, so most of the budget should be reserved for when the whole job is done.

[2018-08-01 13:14] dckc commented on #783
I changed the estimated duration from two weeks to six months based on the amount of time it's taking to get feedback from the parties involved.

[2018-08-01 13:27] dckc commented on #857
@David405 writes:

Being critical doesn't prevent people from giving their ideas a try. The possibility of a financial reward creates an incentive to try things. The guides are not here to be cheerleaders.  It's the duty of the [label guides][1] "to align contributions with goals of the RChain cooperative"; that is: to vote for the 1000+ members who are not directly involved in the project. Being

[2018-08-01 13:56] pmoorman commented on #857
Hey all, I thought I wrote a response this morning, but it looks that it hasn't published somehow. Weird. Below is a reproduction:

1. How is this work not marketing? The goal of the issue (as per the description) is to: `sell the RChain ideologies, create RChain awareness amongst developers and possibly on board newdevelopers for RChain.` Isn't that's _exactly_ what marketing is?!

2. It's great

[2018-08-01 14:07] pmoorman commented on #857
UPDATE: @jasoncruzzy just sent me some additional proof of Benji being enthusiastic about RChain, but has only posted it in DM to me. I thought (for the sake of transparency) that I should probably share my response here, in public.

**As a rule of thumb: don't message guides in DM, but let's keep all discussion in public, so other people can also understand based on what information decisions are

[2018-08-01 14:37] jasoncruzzy commented on #857
![screenshot_20180801-144919](https://user-images.githubusercontent.com/37456249/43527227-fa72f408-959d-11e8-9b8c-5c208ace82e6.png)
Here is the evidence @pmoorman mentioned earlier, Good to see we finally moving towards the right direction.
  @pmoorman Onboarding professionals takes a while, it should be done gradually and professionally as well to avoiding issues of spamming or scams. @Benji is a

[2018-08-01 15:03] zsluedem commented on #755
Hello @allancto . @Whisker17  have already made an update of our  [slides](https://docs.google.com/presentation/d/1Z21jWW45mlhJ8do-hzlES41jl_XSfy8fOJ3jr-RFc0A/edit#slide=id.p7).

[2018-08-01 16:56] BelovedAquila commented on #653
@ICA3DaR5 please can I now get vote's on this issue?

[2018-08-01 17:08] Cryptovideos commented on #477
Hi guys - any way i can remedy the folowing error : Uncaught exception was thrown while processing this request. Troubleshooting steps:

    Refresh the APC Cache. - This may help in cases where you have changed a table column definition and your server has the APC opcode cache installed.
    Clear Cache Views - This may also help in cases where you have changed a table column definition and some

[2018-08-01 18:28] TrenchFloat commented on #854
@Cryptovideos We (the label guides) are pushing for more budgeting based on the product's value to the coop rather than budgeting based on time or effort spent. Can you tell me why you claim this video to be over twice as valuable than the last video in #793?
In any case, it is difficult to determine the value of a marketing or educational product before we know the scope of its audience. Some sta

[2018-08-01 18:46] Cryptovideos commented on #854
Yes tks Kyle- appreviate the label guides query...

Just to fill you in this is a jouney im walking out with Jim
1) as mentioned above already part of the budget will need to be paid to tucsonblockchain for assisting with the content for the video

2) yes you are correct #793, some of my animated character rigs and had already been created in a previous video -thus i did not need to charge extra t

[2018-08-01 19:03] jimscarver commented on #854
@TrenchFloat this is enterprize spawned #video-colab originating with gary transcriptions of videos. @entropee @tucsonblockchain and Owans have contributed and are eligible to receive some bounty. I think we allowed for $400 in the budget for others.  How much of that we will spend is TBD.

[2018-08-01 19:29] tucsonblockchain commented on #854
I think we need to bring this to the Rchain Debate Arena where we can play
the videos produced, discuss - not debate necessarily, though that could be
healthy, but do so via civil discourse as a team. I think the Debate Arena
is perfect place for such discussion for transparency and ideas and
multiplicity and to see the process play out.

On Wed, Aug 1, 2018 at 12:10 PM, Jim Whitescarver <notifica

[2018-08-01 19:32] tucsonblockchain commented on #854
Jim, could we put in for bounty to bring this motion forward with Debate
Arena and seek consensus and approvals and use it as a proving ground? The
RAMS get the benefit of the process, can chime in, and somene's work can't
go unnoticed. That is the value proposition I see above contributing to
dialogue and scripting of such videos.

On Wed, Aug 1, 2018 at 12:29 PM, brent woods <tucsonblockchain@gm

[2018-08-01 19:33] ICA3DaR5 commented on #588
Stop what?

First of all, I am not expecting anything.

I am working according to the [README](https://github.com/rchain/bounties/blob/master/README.md)

"Some important things that new RAMs should be aware of:

Be a self-starter :: because there is no boss, nobody is going to tell you what to do. Being a RAM is much more like being an entrepreneur than it is like being a employee.
The greeter iss

[2018-08-01 19:38] TrenchFloat commented on #847
I'm having trouble finding the quote, but I remember @pmoorman saying something like "One thing none of us saw coming is that being a guide takes a LOT more time than anticipated." I agree. While we're moving towards rewarding value, not time spent, the value of this endeavor goes up if we're all dedicating enough time to it. So I propose a $2400 budget for this month, instead of $1600, what we ag

[2018-08-01 21:14] dckc commented on #588
Which part of the objective regards community participation? I still don't see it.

[2018-08-01 21:24] dckc commented on #868
Let's reserve **Development** for writing software.

[2018-08-01 21:34] dckc commented on #797
Please turn on comments so we can collaborate.

Meanwhile, please add a link to [the official documentation][1] from your guide. Also, add information about [who wrote it and when](https://www.w3.org/Provider/Style/SignIt.html), and what its [status](https://www.w3.org/Provider/Style/DateIt.html) is.

[1]: https://rchain.atlassian.net/wiki/spaces/CORE/pages/428376065/User+guide+for+running+RNode

[2018-08-01 21:41] ICA3DaR5 commented on #588
@dckc It's written under the **Benefit to RChain**, should I move that under **Budget and Objective**?

[2018-08-01 21:58] ICA3DaR5 commented on #829
@AyAyRon-P As of now I am trying to resolve an issue with the [Microsoft Translator Text API](https://www.microsoft.com/en-us/translator), once resolved I'll post about it on issue #588

[2018-08-01 22:00] ICA3DaR5 commented on #653
@BelovedAquila I am not a guide anymore.

cc @AyAyRon-P @pavlos1851

[2018-08-01 22:03] ICA3DaR5 commented on #863
@AyAyRon-P @kovmargo

I need someone to translate the following words to Russian (and/or other languages) in order to create the relevant categories:

- Forum Feedback
- Blog
- Introductions
- Questions
- Ideas
- Governance
- Meetups
- Off-Topic

[2018-08-01 22:05] ICA3DaR5 commented on #828
@AyAyRon-P Correct.

[2018-08-01 22:06] ICA3DaR5 commented on #844
@AyAyRon-P

I need someone to translate the following words to Russian (and/or other languages) in order to create the relevant categories:

- Forum Feedback
- Blog
- Introductions
- Questions
- Ideas
- Governance
- Meetups
- Off-Topic

[2018-08-01 22:47] dckc commented on #588
You might move it, but mostly you should make it measurable (the M in SMART). How can we tell when we have achieved the objective? My suggestion above is: when we have hundreds of participants.

[2018-08-01 22:54] dckc commented on #588
regarding:

How many people have studied all these settings? Please add something to the objective about having redundancy in the administrative role.

[2018-08-01 23:02] ICA3DaR5 commented on #588
@dckc I know what SMART means.

I studied those settings, I would very much like to have redundancy in the administrative role. I am open to conversation/consensus on how we should proceed with that carefully!

I added that to the objective.

[2018-08-02 06:07] jasoncruzzy commented on #854
@Cryptovideos you did a very job with the explainer video,  I see this will go a long way to provide guide. Nice work!

[2018-08-02 06:57] BelovedAquila commented on #653
Alright,thanks @ICA3DaR5
@AyAyRon-P and @Pavlos1851 please can I get votes on this issue?

[2018-08-02 06:59] cool007zqw commented on #868
maybe we will need a node/validator label in the short future

[2018-08-02 07:16] Valentine-Mario commented on #755
@allancto I and @ibesoft11 have made modifications to our pdf. It can be viewed <a href="https://docs.google.com/document/d/1kBuBQ71MNMKhXqqko5sUOqEBvKV8sohGpfP-HwPguR4/edit?usp=sharing">here</a>

[2018-08-02 08:11] nonnykul commented on #779
@ **pmoorman**, **AyAyRon-P, **zsluedem**

**meetup in a box** had a massive improvement this month, part of the improvement led to [#856
M > RChain Community: Local Meetup Development Server
Opened by AyAyRon-P 6 days ago
Marketing  Meeting](https://github.com/rchain/bounties/issues/856). I believe this two issues "work hand in hand" so it derserves an improvement in the budget and rewards.

I su

[2018-08-02 08:30] nonnykul commented on #779
@**pmoorman**, **AyAyRon-P**, **zsluedem**

**meetup in a box** had a massive improvement this month, part of the improvement led to[#856
M > RChain Community: Local Meetup Development Server
Opened by AyAyRon-P 6 days ago
Marketing  Meeting](https://github.com/rchain/bounties/issues/856). I believe this two issues "work hand in hand" so it deserves an improvement in the budget and rewards.

I sug

[2018-08-02 08:31] kitblake commented on #735
Numbers at the end of the month:
@rchain_coop 2698 members
@rchain_africa 59
@rchain_china 244
@rchain_france 24
@rchain_nl 51
@rchain_ru 9
QQ group China: 908

Member growth is clearly slowing, not sure why. Summertime? Activity has been consistent with previous months but shows a small drop in July.

Accordingly I've dropped the budget a bit in my vote, to 2240, and I used combat statistics to d

[2018-08-02 08:40] kitblake commented on #816
@philipandri002 Good point. Up till now the group has worked as a meritocracy where people who clearly demonstrate skills take on appropriate roles. But indeed, with recruitment it'll be necessary to have trainings where the master/journeyer people pass on their knowledge to apprentices.

[2018-08-02 09:01] kovmargo commented on #863
@ICA3DaR5

Forum Feedback - Обратная Связь (Форум)
Blog - Блог
Introductions - it's depend on context - 'Представление' (if you mean to tell someone about RChain, statement with a proposal for something) OR 'Введение' (Introductory, initial part)
Questions - Вопросы
Ideas - Идеи
Governance - 'Руководство' (If you are going to tell about Board of Directors) OR 'Управление' (if you want talking abou

[2018-08-02 09:55] Cryptovideos commented on #854
Hey Andrew yes...this video and a few others are needed to be added there on the offical Youtube Channel... so ill definatley put a push on that on the next Ram meeting..again...thanks to all for the positive feedback..much appreciated

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andrew <notifications@github.com>
Sent: Thursday, August 2, 2018 11:22:11 AM

[2018-08-02 10:31] Ojimadu commented on #735
Yeah, July was slow except for this past week where talks about marketing and the Validator discussions has spurred interest. August would be better I believe.

[2018-08-02 11:06] nonnykul commented on #854
@crptovideo

Nice Video, the video depicts the name of the issue **RChain Membership signup Explainer video** , it would be helpful to push the video to the next RAM meeting to clarify your stand on the budget, and again Nice video.

[2018-08-02 11:10] pmoorman commented on #862
I think it's an excellent idea to try engage the Russian community. Russia produces some of the most outstanding software developers, so I'm confident an investment here could pay off.

Two thoughts:

- The suggested $1500, would that be monthly costs to maintain the activity, or rather the costs until we hit certain targets? How would the cost structure develop over time?

- @ICA3DaR5 is working

[2018-08-02 11:35] pavlos1851 commented on #862
@kovmargo

What kind of "topics" will be posted?

What people do you have in mind? From which community/forum/etc are they coming from? Are they developers/something else? How do you intend to increase their quantity?

Also, @pmoorman's question regarding the nature of the budget.

[2018-08-02 11:45] pavlos1851 commented on #865
@kovmargo I see a budget of 3500$ which is 1824,95$ higher that it should have been. In #863 you had initially provided a word count, then went on and deleted it, removed ukrainian, and despite that, left the budget unchanged. In this issue, you did not provide a word count (Even though you obviously know how to do it and that it's required) and you somehow came up with a budget of 3500$. Please e

[2018-08-02 11:53] pavlos1851 commented on #863
@kovmargo See [#865](https://github.com/rchain/bounties/issues/865#issuecomment-409898879)

[2018-08-02 12:30] kovmargo commented on #865
@pavlos1851 yes, first, I create issue for translation both - Russian and Ukrainian languages, then I found that Debriefs 83-87 are not translated on Ukrainian yet and I decided to split the issue - one for Russian #863 and second for Ukrainian #865.

According the budget, it's very tricky for me how it should be count, to be honest. I found the similar articles in another issues (translate Englis

[2018-08-02 12:46] kovmargo commented on #863
@pavlos1851 sorry for delay with answering - my child was ill(
<<So is this for russian only now? Because the budget doesn't reflect that, and all 5 of these blog posts are also included in #865.

This articles in the separate issue because translating will be doing on the different languages - #863 will be translated on Russian and #865 will be translated on Ukrainian. It's two different language

[2018-08-02 12:51] kovmargo commented on #863
@pavlos1851 @AyAyRon-P I've updated the budget. The reason is described at the #865

[2018-08-02 14:29] zsluedem commented on #868
@dckc Sorry for the bothering and I don't know there is a Rchain Technical Literacy

[2018-08-02 15:22] pmoorman commented on #857
I understand that onboarding people takes time, and that's fine. If he comes on board in August rather than July my budget guidelines still stand, and we'll pay it in August.

For what it's worth: my $500 vote is based on the engagement evidence you provided above (which signals "value" created for the RChain Coop), rather than the work that went into it (which is only a means to an end).

[2018-08-02 15:49] dckc commented on #868
no problem.

[2018-08-02 18:29] #841 closed

[2018-08-02 18:58] ICA3DaR5 commented on #588
Awesome @pavlos1851

Let's chat on Discord(?)

[2018-08-02 19:01] pavlos1851 commented on #588
@ICA3DaR5 Sure!

[2018-08-02 20:34] kovmargo commented on #863
@AyAyRon-P  @panos1980 The translations will be posting on the RChain Medium account (Russian) in markdown text; I'm going to create Facebook account with the aim to popularize RChain and involve people/developers to the coop. I think, I will post some of this articles or all (now discussion about it at the #862 issue). I thinks, it will be better to add short summary to each article or explanatio

[2018-08-02 20:36] kovmargo commented on #865
@AyAyRon-P The translations will be posting on the RChain Medium account in markdown text; I'm going to create Facebook account with the aim to popularize RChain and involve people/developers to the coop. I think, I will post some of this articles or all (now discussion about it at the #862 issue). I thinks, it will be better to add short summary to each article or explanation in short form to get

[2018-08-02 20:56] dckc commented on #477
I just created https://github.com/rchain/bounties/wiki/VotingTrouble and pointed the oops message there.

* 2f43fc9       2018-08-02 20:54:59 +0000       change oops pointer from #477 to wiki page

[2018-08-02 20:56] #477 closed

[2018-08-02 20:59] golovach-ivan commented on #779
He should have at hand information with answers to the most popular difficult questions.

### RChain Coop
#### General
#### Abstract
#### Concrete

### Cryptocurrency, Mining, Exchange
#### General
- сколько вы сегодня стоите?
- могу ли я майнить вашу валюту? Кто майнит вашу валюту?
- есть ли block-exploirer?
- есть ли wallet?
#### Abstract
#### Concrete

### Blockchain Node
#### General
#### Abst

[2018-08-02 21:28] kovmargo commented on #862
@pmoorman I suggest $1500 will be monthly costs to maintain the activity because it
requires a lot of time to select context, to make right idea and some resume for articles that will be posted; it must be all time promotion in Russian/Ukrainian social networks to involving new participants to RChain;

<<Why don't we engage the Russian community on Telegram, Discord or the forum? That way, they're

[2018-08-02 22:44] tucsonblockchain commented on #854
https://medium.com/@tucsonblockchain/rchain-cooperative-membership-sign-up-join-the-scalable-blockchain-application-experience-1258cb4bcf7e Here is the scripting I did and posted it on Medium. Criticize it if you wish, but did the best I could and did it step by step with hopes people would see it and sign up given what I feel was proper instruction. i don't think quality of previous work matters

[2018-08-02 22:49] allancto commented on #770
@olisb i see a reward due but i you do not seem to be properly registered. Please see contributing.md and particularly [RChain Active Member Registration](https://docs.google.com/forms/d/e/1FAIpQLSecwGUVFNx_Xa_Qsw5bxLnaKstPS8kQnfrUGqpuf22rLDteDg/viewform). Let me know if you need any help with this.

Thanks! -@allancto
/cc @Ojimadu @jimscarver

[2018-08-02 23:05] allancto commented on #724
Hi, it appears there are rewards due to @carochan @taobixin, but you need to first please join (see contributing.md) and then you will be able to submit a declaration with invoice. If you have any questions please contact myself or @wangjia184 or @Ojimadu.

Thanks! -@allancto

[2018-08-02 23:16] jimscarver commented on #854
I think we just need to answer any questions. Questions do not mean anything is being disputed. If any dispute arises, we might debate it in loomio.

The video work product for july is https://www.youtube.com/watch?v=YHgwkvoxUfY

[2018-08-03 01:35] v56700 commented on #855
If you need 7 people to typeset articles, this is really reasonable.

[2018-08-03 04:30] Cryptovideos commented on #854
Nice work Brent

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jim Whitescarver <notifications@github.com>
Sent: Friday, August 3, 2018 1:16:22 AM
To: rchain/bounties
Cc: Cryptovideos; Mention
Subject: Re: [rchain/bounties] RChain Membership Signup Explainer Video (#854)

I think we just need to answer any questions. Questions do not mean anything is being

[2018-08-03 04:44] AyAyRon-P commented on #653
After review this is what I read and now know based on all of the comments and my own research into the issue:

1) This is an old document and has been well before it was completed
2) There are several comments that indicate to her that this document is either a) not needed at this point b) only of historical value
3) This is now being translated by a contractor using K framework
4) The quality is

[2018-08-03 08:46] pmoorman opened #871 "Candy for HJ"
As almost everyone will know, HJ is in the hospital because of treatment on a brain tumor that was found earlier this month.

Even though we all work "distributed", a personal touch remains invaluable. Since I'm in Holland anyway, I am in the train right now to deliver some candy and fruit to him, as well as best wishes from all of us.

My idea is to bring a card and write this Github issue number

[2018-08-03 08:59] David405 commented on #871
@pmoorman I think this issue has been created already #860, write your comment there and add the issue number to your gift, also don't forget to send my warm regards, if you can zoom perfect!.. I am closing this issue.

[2018-08-03 09:02] David405 commented on #860
Is it just me? The document has been refusing to open on my device

[2018-08-03 09:10] pmoorman commented on #871
oh shit, I missed that!

If you wouldn't mind, I'll re-open it (but keep the reference to that other issue), since I've just copy-pasted this issue all over the place! It probably doesn't hurt to have a double set of health wishes, anyway 👍

[2018-08-03 09:32] Tonyprisca13 commented on #860
@David405  i think so.

[2018-08-03 09:33] David405 commented on #871
I will prefer #860 is fronted since the issue was generally agreed upon from July 25 RAM meeting, @pmoorman, you don't attend the RAM meetings, do you go through the meeting notes?

[2018-08-03 09:40] David405 commented on #860
If you can access the document, then copy-paste it into comment here

[2018-08-03 10:01] David405 commented on #860
## Well wishes with love to HJ from

RChain community

We are sad that you have been away for a while. We miss your presence & we praying you

get better soon & experience the joys of being healthy again

.Hoping to hear you are well again soon!

                                                Tonyprisca

Like a flower in gloom, you lie helpless. Arise and bloom and dance like a fresh blade of gra

[2018-08-03 11:24] Tonyprisca13 commented on #856
@AyAyRon-P  Nice work but i dont think it justifies the budget.

[2018-08-03 11:41] Tonyprisca13 commented on #841
can you post  the link to this translation on medium and rchain community xyz here

[2018-08-03 11:46] ICA3DaR5 commented on #863
@kovmargo

Can someone verify and clarify these a little bit better?

[2018-08-03 13:39] jimscarver commented on #854
This turned out the due to great teamwork less effort than expected was involved and while I feel the work is worth every penny the team agrees to reduce the budget to $1600.

While label guides are free to exercise their personal values I suggest that the coop is as concerned with rewarding cooperation on activities in line with coop objectives encouraging experimentation as it is with value ulti

[2018-08-03 14:04] dckc commented on #871
@David405 please stop closing issues that represent work by other people. Peter has offered to personally deliver a gift and has added pointers to this issue "all over the place".

[2018-08-03 14:15] dckc commented on #871
@pmoorman I added a note in #860.

[2018-08-03 14:33] kovmargo commented on #863
@ICA3DaR5  what words embarrass you? Maybe, it will be better if you are link us on the pages with the similar context? Then we will not guess

[2018-08-03 15:08] ICA3DaR5 commented on #863
@kovmargo I didn't say that any words embarrass me. Check:https://rchaincommunity.xyz/c/English or https://rchaincommunity.xyz/

[2018-08-03 15:31] zsluedem commented on #779
@pmoorman I agree with @nonnykul ~!

[2018-08-03 16:36] dckc opened #872 "redundancy in rewards.rchain.coop development, admin"
### Benefit to RChain

reliable rewards.rchain.coop maintenance and service even when @dckc is unavailable

See [VotingTrouble](https://github.com/rchain/bounties/wiki/VotingTrouble) for why this is particularly important / urgent.

cc @zsluedem @kitblake @jimscarver

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of

[2018-08-03 16:47] AyAyRon-P commented on #871
Let me know your ether address and I'll send you some RHOC :smiley: maybe you can get him so ROCK CANDY 👍

[2018-08-03 17:19] dckc commented on #869
That's circular, no? That is: we'll close the issue when the work is complete. The question is: how do you / we define complete?

I suggest: this task is complete when the Translation guides have summarized the July work in a concise report that discusses rewards paid vs. value produced as well as issues / problems / solutions.

Meanwhile... is there any particular reason to do this separately fro

[2018-08-03 17:22] dckc commented on #819
@MParlikar I see no July bounty work. Is that correct?

cc @AbnerZheng

[2018-08-03 17:29] dckc commented on #836
@golovach-ivan Do you want to propose a budget and reward for the work you have done in July? Have you discussed it with anyone? Or do you want to wait on budget and such until you have had more chance to make more progress and discuss it with others?

[2018-08-03 17:35] dckc commented on #835
I encourage progress on this issue, but at least for July, the work was done in sub-issue #836. So I put $0 in [July budget votes for this issue][1] to keep it off the [overdue task approval audit][2].

[1]: https://rewards.rchain.coop/index.php?&-limit=30&num=835#&detail-url=https%3A%2F%2Frewards.rchain.coop%2Findex.php%3F-action%3Drelated_records_list%26num%3D%253D835%26-relationship%3DBudgetVot

[2018-08-03 17:38] dckc commented on #830
I don't see anyone claiming a reward on this issue. Some of the node testing work was done on rnode-test.rhobot.net seems worth a reward. I'm prepared to back such rewards, but I expect you to claim them first.

[2018-08-03 17:51] David405 commented on #872
@dckc what time can you be available for a code walkthrough?

Also, I think some data such as voting records have been deleted from the database

[2018-08-03 17:54] David405 commented on #872
By the way, were there any recent changes you made before the application started throwing these errors?

[2018-08-03 17:55] dckc commented on #847
Looking at [rewards for the July pay period][r7] with less than a week before the pay period closes, I see just 10 rewards scheduled to go out to 7 persons on 8 issues -- all in Marketing or related areas (Translation, Community Building).

[r7]: https://rewards.rchain.coop/index.php?-table=reward&-limit=30&issue_num=&title=&worker=&reward_usd=&percent_avg=&budget_usd=&voter_qty=&voters=&reward_pr

[2018-08-03 17:57] dckc commented on #817
How are things going for the July pay period? It looks quiet here.

After I did some tidying, [Task Approval Overdue audit][tao] has 19 items, mostly related to Marketing.

cc @PatrickM727

[tao]: https://rewards.rchain.coop/index.php?-table=task_approval_overdue

[2018-08-03 17:58] deannald commented on #871
HJ,

I'm hoping you are having a speedy, uncomplicated and comfortable recovery. Cancer treatment can be a very daunting challenge, but I can think of few others who possess the strength and network of support to help you through.

Best wishes,
Deanna

[2018-08-03 17:59] David405 commented on #847
I believe this is due to the fact that a lot of persons have been unable to access rewards.rchain.coop for a while now

[2018-08-03 18:01] dckc commented on #872
Yes, there are recent changes; I detailed them in VotingTrouble.

About a code walkthrough: go ahead and suggest some times. And between now and those times, please study the code to some extent on your own and write down at least a couple questions.

[2018-08-03 18:25] David405 commented on #872
How about office hours tomorrow? I should have looked at VotingTrouble and RChain-dbr to a little more detailed extent by then.

[2018-08-03 18:32] allancto commented on #871
Good morning HJ! We're paying attention to your wish to build awareness of who are ALL the stakeholders in the health of our planet. Kindness and fairness to our fellow humans is just the start.

Thank you for your inspiration, HJ!
Allan

[2018-08-03 18:57] dckc commented on #872
Office hours tomorrow should work.

[2018-08-03 19:04] dckc commented on #850
@TrenchFloat due to VotingTrouble and the like, I'm struggling to find time and no longer confident I can do my part by Aug 4. Here's hoping, though.

[2018-08-03 19:08] thiefinshadows opened #873 "Translate 4 last blogs to Ukrainian"
### Benefit to RChain

*Translation of the RChain hot topics to other languages means good global marketing: reach a larger audience and help expand the community building.*

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[414 +10%=455.6$]**
_Estimated Timeline Required to Complete the Task:_ **[29 of Au

[2018-08-03 19:26] irynapopova61 opened #874 "Translate 6 last blogs to Russian"
### Benefit to RChain

Translation of the RChain hot topics to other languages means good global marketing: reach a larger audience and help expand the community building.

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[1002+10%(markdown)=1102$]**
_Estimated Timeline Required to Complete the Task:_ **[1

[2018-08-03 19:57] philipandri002 commented on #871
Hi HJ! I believe in prayer and miracles, so I pray for you today that you will have a speedy supernatural recovery.. God will cause you to share this testimony to many who are fighting cancer as a message of hope and strength to them..

Love you!!

[2018-08-03 19:58] dckc commented on #872
What makes you think so?

[2018-08-03 20:04] jimscarver commented on #830
There was work on the rewards staging also totalling several people for several hours. I think a budget of $250 will cover it.

[2018-08-03 20:04] akhs13 commented on #841
The links to both sites are posted above, in the issue description. @Tonyprisca13

[2018-08-03 20:13] jimscarver commented on #872
The ssh issue was solved. database management and dump loading is provides by webmin.
I think https://rewards-test.rhobot.net/ is good to go as a staging area for rchain-dbr

[2018-08-03 20:25] David405 commented on #872
@dckc, it is not an issue, at first, I couldn't find some voting records but they all seem to be in place now

[2018-08-03 20:46] dckc commented on #872
OK... bonus points to anybody who clones rchain-dbr, makes any visible change and deploys it to rewards-test.

Also: go ahead and try loading a database dump.

[2018-08-03 20:59] ibesoft11 commented on #609
Hey guys, this is the link to the github repository for the Graphql server https://github.com/ibesoft11/graphql
It's still under development and has been reviewed by Jimscarver and others on the collab.

[2018-08-03 21:12] dckc commented on #609
Good start, @ibesoft11 . I did a quick look at the source code and raised a handful of issues.

I'd like to see some Quickstart info in the README.

[2018-08-03 21:42] qelentium commented on #873
First 2 translations are already being translating in issue #865 .This issue were opened before yours.So please cancel those 2 translations

[2018-08-03 21:58] akhs13 commented on #841
We have already posted the blog posts on several social media sites such as Facebook,Twitter and Reddit so that they will acquire the publicity that we seek.We will continue to search for tech-forums that will attract as many viewers as possible.You can check the links below:
- https://www.reddit.com/r/oknotizie/comments/943dbr/qui_puoi_trovare_tutte_le_notizie_importanti_su/
- https://www.faceboo

[2018-08-03 23:57] nonnykul commented on #755
[Introduction to the design of computational calculi 03](https://docs.google.com/document/d/18A1GKLHsHEK2i14BAdXawWmwmA6fC6aJYdr89RN4Aew/edit).
comments and further input are highly appreciated

**cc**: **Jake-Gillberg**, **allancto**

[2018-08-04 00:15] BelovedAquila commented on #871
Hello Mr Hendrik,I actually wanted to make this look official, but I realized there isn't any need to be official and not pass my heart felt wishes, encouragement and acknowledgement to you, in the sincere and honest way it spills from my heart. Moments of your absence in the coop are of great worth and dearly missed,if it were for just our needs of your friendly, warm, calm,accommodating, underst

[2018-08-04 00:27] nonnykul commented on #755
[Introduction to the design of computational calculi 04](https://docs.google.com/document/d/1JmuvqMi7EZ7XvwACLnA0PYBfenfE3mxZ6CvN14BBqlQ/edit?usp=sharing)

**cc**: **Jake-Gillberg**, **allancto**

[2018-08-04 01:38] allancto commented on #755
@nonnykul please link @Jake-Gillberg , @JoshOrndorff who have been leaders in the Collaborative Learning version of this issue, as well as @glenbraun, @jbassiri, @leithaus , @kennyrowe @jimscarver. Hopefully that will generate an autoemail to them (or perhaps ping them on discord as well!). I'm eager to get outside feedback for how our workgroups are doing so that we can get some external validati

[2018-08-04 06:37] pmoorman commented on #779
Hey guys, I've voted the budget & rewards, and just wanted to say....

I think this issue is an amazing example of the best of the bounty system, where people from all over the world come together to truly collaborate and create something of value. The issue was created by me from Europe, then taken well care of from Asia, Africa, and America. How cool is that?!

Awesome!

[2018-08-04 06:59] #870 closed

[2018-08-04 07:15] pmoorman opened #875 "Creation of core value props document for marketing"
The most significant work stream for marketing at the moment, is clearly defining value propositions, positioning relative to competitors, and messaging. All this work will ultimately serve all other marketing communications, but most notably the website.

After the marketing organization pushed [their core piece on messaging](https://docs.google.com/document/d/17bCHdhvQ97KgJFMWAgbxXiUYyxefseZ1-5T

[2018-08-04 07:43] pmoorman opened #876 "Main website design/development"
As I wrote in #780, the marketing org has invited collaboration from the bounty program to craft the main website redesign. Kevin W. leads the effort, with support from @AyAyRon-P, myself and a few contractors.

The work to produce the website redesign is now split into 2 separate "tracks" that move in parallel (wait.... _concurrently?!_):

- Content creation (involves website structure, narrative

[2018-08-04 07:55] pmoorman opened #877 "Main website narrative/copywriting"
As I wrote in #780, the marketing org has invited collaboration from the bounty program to craft the main website redesign. The work to produce the website redesign is now split into 2 separate "tracks":

- Content creation (this one)
- Design & development (see #876)

The goal of this part is to create the narrative, messaging and ultimately copy that will go on the website. (This follows from wo

[2018-08-04 07:56] #875 closed

[2018-08-04 07:58] pmoorman commented on #780
I will close this issue for now, since the scope has been set for what we want to produce on the v1 website, prior to RCon3.

I might re-open this again after that v1 scope, to track for iterative website updates.

[2018-08-04 07:58] #780 closed

[2018-08-04 08:00] David405 commented on #872
Upon further investigation, here's what I found https://stackoverflow.com/questions/15534977/mysql-cannot-add-foreign-key-constraint

[2018-08-04 08:05] jasoncruzzy commented on #807
@pmoorman What's our input on this, I think the objective of this issue has long been accomplished!

[2018-08-04 08:15] pmoorman commented on #817
yeah, we're having a bit of a rough start this month.

By now, most of it is covered though. I think we've got it under control 👍

[2018-08-04 08:17] azazime commented on #780
Hurrayyyy!!!

[2018-08-04 09:32] pmoorman commented on #807
@jasoncruzzy yes I agree! In fact, I think you're right that the issue can be closed, because the work has more or less concluded.

I have voted everyone who's made a contribution an equal part of the reward. That's what @kitblake suggested, and mostly for practical reasons. **If anyone feels treated unfair about that, then let us know.**

[2018-08-04 09:32] #807 closed

[2018-08-04 10:11] ibesoft11 commented on #609
Thanks for the pointers @dckc, I'll resolve them accordingly.

[2018-08-04 10:45] pavlos1851 commented on #653
@AyAyRon-P I agree with all the points that you've made.
Had this been done right the first time round then everything would have been ok. Voting for this now (3 full months after the creation of the issue) would just be a waste of the coop's resources. I am closing this issue.

[2018-08-04 12:01] BelovedAquila commented on #653
@Pavlos1851 yes, actually so many developments have been undertaken in the course of making the doc to required quality, you are almost completely right. But this,

 it' an unfair and faulty conclusion, I don't know if you had put into consideration what an ISSUE is before now?
@AyAyRon-P this is still an issue,please you may go ahead to have your colleague check on it, if necccesary
.
I consider

[2018-08-04 13:35] #489 closed

[2018-08-04 13:45] AyAyRon-P commented on #498
Has the PR happened? I'm closing this out since there has been no update in almost 30 days and payment was already delivered in March.

[2018-08-04 13:45] #498 closed

[2018-08-04 13:48] AyAyRon-P commented on #480
Has the PR happened? We need to close this out - please complete the task. There has been no update in almost 30 days and payment was already delivered in March.

@akhs13 @Chris-Arv @panos1980

cc @pavlos1851

[2018-08-04 13:49] AyAyRon-P commented on #499
@qelentium has the PR happened? There has been no update in almost 30 days and payment was already delivered in March.

cc @pavlos1851

[2018-08-04 13:51] AyAyRon-P commented on #517
@pavlos1851 @jkost401 @irynapopova61  what is the status of this issue? Has the PR happened? There has been no update in almost 30 days.

**Please complete the task and close the issue.**

[2018-08-04 13:53] AyAyRon-P commented on #579
@ICA3DaR5 what is the status of this translation issue? Based on what I'm reading this is no longer a valid issue and we can close this.

cc @pavlos1851

[2018-08-04 13:57] AyAyRon-P commented on #580
Hi @dckc is there any update for this issue or can we close this out and use it as a point of reference?

cc @pavlos1851

[2018-08-04 13:59] AyAyRon-P commented on #651
@ICA3DaR5 @zero-andreou @michaelizer1

Hello, can you we close this out or are we still waiting on a PR merge to happen?

Please provide a status update to this issue so we can proceed accordingly.

cc  @pavlos1851

[2018-08-04 14:09] AyAyRon-P commented on #653
This is the FINAL CLOSING of this project.

All arguments as to why it should be reopened again are invalid. Let me reiterate the reasons why I am closing this:

**1. This is an old document and has been well before it was completed**
2. There are several comments that indicate to her that this document is either a) not needed at this point b) only of historical value
3. This is now being translat

[2018-08-04 14:09] #653 closed

[2018-08-04 14:10] pavlos1851 commented on #579
After contacting @ICA3DaR5, I'm closing this issue since there are no plans for the continuation of this issue and no payment has been received.

[2018-08-04 14:10] #579 closed

[2018-08-04 14:10] dckc commented on #580
I still plan to work on it.

It's only tangentially related to Translation though...

[2018-08-04 14:11] AyAyRon-P commented on #690
@tgrospic @Howsoonisnow @MarioPolo @InternautNeven

What is the status of this issue? Have you completed the PR that was requested back in May by Donald?

cc @pavlos1851

[2018-08-04 14:16] AyAyRon-P commented on #721
Hi @ICA3DaR5

What is the status of this issue? Is there any update to the work? Please advise what items remain or close this issue out if no action items remain

cc @pavlos1851

[2018-08-04 14:17] AyAyRon-P commented on #730
Hi @yuhuanmocmoc

What is the status of this issue? Is there any update to the work? Please advise what items remain or close this issue out if no action items remain

cc @pavlos1851

[2018-08-04 14:29] AyAyRon-P commented on #846
@casanwugo please provide word counts for each of the documents that you've translated as requested on  June 26th.

Also, what is the status on your final translation?

cc @pavlos1851

[2018-08-04 18:25] dckc commented on #609
Based on some quick data collection (details below), I'm voting $1000 for progress on https://github.com/ibesoft11/graphql in July.

[code]

[2018-08-04 18:51] pmoorman commented on #875
This Github issue was created in August (today), but tracks a scope of work done in July. The Rewards app system won't allow to vote on a July budget for an issue that was created in August.

While I understand why the app logic is set up that way, _I consider this to be a technicality in the rewards app,_ rather than a hard rule in the bounty system.

As such, **I have decided to track the budget

[2018-08-04 18:55] pmoorman commented on #877
Similar to #875, I'm gonna track budgets & rewards for this issue in another issue. #780 to be exact.

More explanation, as X-posted from #875:

[2018-08-04 19:03] ICA3DaR5 commented on #846
@AyAyRon-P

[code]

It has already been added!

[2018-08-04 19:04] pmoorman commented on #876
When I created this issue today, I was in the understanding that I could log budget & rewards to it for the work done in July. Turns out that's not the case.

This comment is merely a note that I suggest pushing suggested B&R from July over to August. My suggestion would be:

- $500 budget for the work in July
- 60% to @AyAyRon-P  ||  40% to @pmoorman (me)

[2018-08-04 19:05] ICA3DaR5 commented on #842
@AyAyRon-P

The last item of the list is ready for posting. I am doing this in a while and I'll close the issue!

- [RChain update (Debrief 87), July 25th, 2018](https://medium.com/rchain-cooperative/rchain-update-debrief-87-july-25th-2018-f5d7e8f3a53a)

[2018-08-04 19:08] ICA3DaR5 commented on #721
Hi @AyAyRon-P

There is no update. I don't know how to proceed with this.

See [@dckc 's comment above](https://github.com/rchain/bounties/issues/721#issuecomment-395812550).

[2018-08-04 19:16] ICA3DaR5 commented on #651
@AyAyRon-P

The translation on the [Pull Request](https://github.com/rchain/rchain/pull/766) has been done by @michaelizer1 and @kjmcqueen

I've asked for a merge. I had previously created another [Pull Request](https://github.com/rchain/rchain/pull/750) and was told by @KellyatPyrofex to create another Pull Request, so I did!

[Comment](https://github.com/rchain/rchain/pull/750#issuecomment-39105

[2018-08-04 19:27] casanwugo commented on #846
@AyAyRon-P  Completed!

[2018-08-04 20:59] dckc commented on #721
Since #678 is done, I'm content for you to close this.

[2018-08-04 21:03] pavlos1851 commented on #721
Closing this issue.

[2018-08-04 21:03] #721 closed

[2018-08-04 21:07] pavlos1851 commented on #653
@AyAyRon-P :+1:

[2018-08-04 21:35] jimscarver commented on #609
@dckc the code was not developed originally on github. Getting it on github was done after the fact. Total efforts is estimated to be over 70 hours.

[2018-08-04 22:36] Kencode7 commented on #871
HJ,
Trust you are coming out of this treatment stronger... your faith only needs to be absolute, cause you are being prayed for.
Cheers!!

[2018-08-04 22:37] kayvank commented on #755
@nonnykul , thank you for putting this doc together. I'd like to contribute to this doc once I get back.

[2018-08-04 22:44] ibesoft11 commented on #609
@dckc most of the work was not done originally on github as mentioned earlier by @jimscarver

[2018-08-05 00:15] qelentium commented on #755
[Introduction to the design of computational calculi 03-04](https://docs.google.com/document/d/1_h1qcOzbq_24U_EdxD1bdnm6hjSPl1dGwe51RwMz_l0/edit?usp=sharing)

[2018-08-05 01:35] zsluedem commented on #839
@pmoorman Roger that~!

[2018-08-05 01:43] dckc commented on #609
I'm voting based on the value I see, not the hours someone might have spent.

I collected data on hours spent on the assumption that (a) we want this service developed, and (b) if we had to hire somebody to write what was done so far, what would it cost?

The service is not, as far as I know, deployed nor integrated with any friendly front-end UI. So thus far, not much value has been delivered yet

[2018-08-05 03:00] zsluedem opened #878 "Rchain Asia Weekly Debrief 20180807"
### Benefit to RChain

The first meeting will hold at 04:00 UTC 20180717
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

The zoom link is https://zoom.us/j/2522161381.

The Rchain Asia Weekly Defrief note folder:https://drive.google.com/drive/folders/1PcIaVLwU4pH5wBf-mIk1zAeBMJUUjsdB

- [x] Prepare [agenda](https://docs.google.com/document/d/1E9eD94OxY8r-gaA5i8h

[2018-08-05 04:17] TrenchFloat commented on #850
I took the Greeter section off the report (only issues since March has no budget), slightly expanded the budget to account for the overview and conclusion sections, and postponed 2 days to Tuesday, August 6th.

Still waiting to hear back from @kennyrowe if he'll present to the board.

[2018-08-05 05:49] dckc commented on #850
@TrenchFloat thanks for getting started on this; finishing it up was pretty straightfoward:

 - [Q2 Financial Data](https://docs.google.com/spreadsheets/d/1iz4CHcigL1J3V-TPX2laz9Al2KkJ2jEJ6Zws5JVfaCM/edit?usp=sharing)

[2018-08-05 07:04] Ojimadu commented on #850
I think there is a mix up in the numbers on the sheet. Some budgets were not fully claimed or voted for and this affects the actual amount paid out. Like issue #724 the 4k budget that was voted was not fully claimed hence another vote was effected the following month to those that could not claim their rewards but these reflected on the sheet.
Is there a way we can sum the budget based on the amou

[2018-08-05 07:15] dckc commented on #850
The sheet is all based on actual rewards, not budgets. What do you see that suggests otherwise?

[2018-08-05 07:53] v56700 commented on #855
https://github.com/rchain/bounties/issues/828
The cooperative paid a translation fee of $1,848 and the reprint fee was $1,500. If your budget is reasonable, I am willing to complete this work, my budget is $500.

[2018-08-05 07:56] rjl493456442 commented on #855
@v56700 Definitely you can setup the wechat official account by yourself and apply for the budget. There are already 2 accounts in China, if you think there is a necessary to do this.

[2018-08-05 08:01] rjl493456442 commented on #855
@v56700 The most important thing for Wechat official account is promoting the RChain in China. We already have more than 700 people as the subscribers. Yes it is definitely a small group and we need to work continually, but we all know that there are a few people know **What is rchain**. And it is our goal and mission to make more people know the quintessence of RChain.

If you want to do the same

[2018-08-05 08:04] rjl493456442 commented on #855
@v56700 And for your personal information, please show me you have the ability to understand what is blockchain. All my teammates are blockchain developers and graduate from Zhejiang University, we have the confidence to do this thing professionally.
So please post more your personal information and we definitely welcome professional people join the promotion group

[2018-08-05 08:10] v56700 commented on #855
We seem to be discussing whether reimbursement and translation fees should be paid separately. So what do you do through WeChat as a developer? Any Rholang teaching? Or any article that helps others understand Rchain? These jobs are included in the budget? Please explain separately.

[2018-08-05 10:48] yuhuanmocmoc commented on #828
“ rchain-update-debrief-86-july-18th” translation has been uploaded to[medium]https://medium.com/rchain-cooperative-china/rchain%E7%A4%BE%E5%8C%BA%E7%AE%80%E6%8A%A586-2018%E5%B9%B47%E6%9C%8818%E6%97%A5-39ae1dbad5f4) and Wechat official account of China.

[2018-08-05 10:58] JoshOrndorff commented on #755
I'm trying to look over this work so far and I want to be sure I'm looking at the right things. It seems like https://drive.google.com/drive/folders/1x_9mFtsQqck358U9-PsHUMcdB7LBI7lP is the canonical source of the work?

The stated value to RChain was, "Cultural literacy around our fundamental computational and scientific models.", and I believe we have begun to accomplish that. On the other hand,

[2018-08-05 11:18] kovmargo commented on #865
@thiefintheshadows Could you please provide me with credentials for Medium RChain Ucrainian account ? I’m going to post transactions. Thanks!

[2018-08-05 11:40] David405 commented on #755
@JoshOrndorff I am excited to have your input here, _(I know you want an answer directly from @allancto )_ but allow me to share my idea of the concurrent working groups. The purpose of this work is to produce simpler and more concise notes on Greg's lecture and Jake's workstudy and provide a collection of these materials to be accessible at any point by anyone. We got an offer from RChain's direc

[2018-08-05 11:42] David405 commented on #755
@allancto I believe the measure of completion has to updated beyond lecture 1-4

[2018-08-05 12:29] Ojimadu commented on #850
In issue #724 for April, only 38% of the rewards was claimed while the remainder of the rewards was claimed in May. But the sheet recorded 4k and 2480 vote for April and July respectively.

[2018-08-05 12:58] Ojimadu commented on #822
Hello, @golovach-ivan @kovmargo It is three days before the end of voting for this period and I have not seen a response on #822. Also, I see the slides are not yet complete so I would vote $1800 for this issue pending when the slides are complete and would vote on rewards when I get a response on #822.

[2018-08-05 16:28] zsluedem commented on #834
Hello every one. We start a good meeting every week right now. @pmoorman and I suggest 3000$ budgets for the meeting this month. The budget reward includes #849 #861 .

In the next month , we are going proposed 1500$ each month on the Rchain Asia Weekly Debrief .

[2018-08-05 16:28] zsluedem commented on #849
No budget on this issue. See [my comment](https://github.com/rchain/bounties/issues/834#issuecomment-410531449).

[2018-08-05 16:29] zsluedem commented on #861
No budget on this issue. See [my comment](https://github.com/rchain/bounties/issues/834#issuecomment-410531449)

[2018-08-05 16:47] dckc commented on #850
Unfortunately, "sheet" is used both for entire google sheets as well as named tabs within those sheets, so "the sheet" may refer to any number of things. Where exactly do you see any rewards for #724 in April?

There were $4,000.00 in May:

worker | reward
-- | --
cmrc2018 | $1,000.00
cmycaro | $480.00
taobixin | $1,000.00
TiffWang | $520.00
wangjia184 | $1,000.00

and $2,480.00 in June:

worker |

[2018-08-05 17:09] Ojimadu commented on #834
@pmoorman @zsluedem What is the idea behind the $3000? Being that this is a subset of the regular RAM meeting and @deannald is [suggesting a budget](https://github.com/rchain/bounties/issues/823#issuecomment-405065113) of $100-$150 for the RAM meeting and @dckc also is [suggesting the same amount for the budget](https://github.com/rchain/bounties/issues/823#issuecomment-404297930)

cc: @deannald @

[2018-08-05 17:31] InternautNeven commented on #651
A PR je pull request, hm možda da maknemo pull request, to ću preksutra pa
napiši da ćemo PR maknuti i poslat novu verziju uskoro

On Saturday, August 4, 2018, AyAyRon-P <notifications@github.com> wrote:

[2018-08-05 17:32] Ojimadu commented on #850
My bad. The reward I was referring to was for May and June rather than April.
Only three people received a reward for the issue in May because the votes for other participants were not complete hence another vote was done in June for the remaining collaborators to claim their reward. The actual reward that went out in May was $1520 and June $2480 summing to $4000 total.
I suppose this error is com

[2018-08-05 17:34] ICA3DaR5 commented on #651
@InternautNeven I tried to do a Google translate on your comment, but I cannot understand what you mean exactly :)

[2018-08-05 17:37] InternautNeven commented on #651
Sorry, i send it by mistake

[2018-08-05 17:49] JoshOrndorff commented on #755
@David405 your answer is perfect for me! I'm glad to hear that this effort will continue for the entire course. Is the proposed budget of $3,000 / group for the entire course or the first four weeks?

Jake's RCL repos have a few good exercises such as [Am I a process](https://rchain-collaborative-learning.github.io/PiCalc-to-Rholang/lesson1.html#/am-i-a-process), "Am I Observable", and the [bisimu

[2018-08-05 18:05] dckc commented on #850
Where are you getting your information, exactly? What are you looking at? Share a screenshot or something?

What suggests that "Only two people received a reward for the issue in May"? I see no error. "the Web app ... counts the voter quantity to include everyone that voted on the issue irrespective of whether the vote counts or not" makes no sense; the Web voter quantity is defined as those votes

[2018-08-05 18:13] dckc commented on #834
That suggestion of mine was for a particular meeting which seemed to have little value because no progress was made on any of the actions recorded in the meeting. I'm not aware that it applies to this meeting.

[2018-08-05 18:59] kovmargo commented on #873
@thiefinshadows Could you please provide me with credentials for Medium RChain Ucrainian account ? I’m going to post transactions at the #865 issue. Thanks!

[2018-08-05 19:57] Valentine-Mario commented on #588
@ica3dar5 made me an moderator in the English category. So far, I've promoted the forum among RAM members who speak English and does who are not RAM members but hope to join and contribute to the community

[2018-08-05 21:38] Ojimadu commented on #850
[This comment](https://github.com/rchain/bounties/issues/724#issuecomment-399801500). Also looking at the rewards app for [this issue](https://rewards.rchain.coop/index.php?-table=issue&-search=Asia&-sort=num+desc&-search=Chinese+&-action=list&-submit=Search+Issue#&detail-url=https%3A%2F%2Frewards.rchain.coop%2Findex.php%3F-table%3Dissue%26-search%3DChinese%2B%26-sort%3Dnum%2Bdesc%26-action%3Drela

[2018-08-05 22:12] allancto commented on #799
@dckc Kudos!! rewards app seems back and humming along with accurate voting records from the past. I also noticed there is a verified_coop which I was not aware of previously. This could serve as a primary key for RAM databases and help us deal with the issue of @michaelizer updating now to @michaelizer1 . Question, where does verified_coop come from, and is it available for all members (in reward

[2018-08-05 22:25] dckc commented on #799
I am yet to freeze the weights for May. I think I have to re-play the history of the trust_cert table to find it status as of June 9. Ugh. I hope this explains the Bug that @Ojimadu recently found: https://github.com/rchain/bounties/issues/850#issuecomment-410549994

See #413
https://github.com/rchain/bounties/wiki/How-To-Use-the-Budget-Rewards-Web-App#connect-your-coop-membership

[2018-08-05 22:28] akhs13 opened #879 "Translate a total of 16 blog posts to Italian"
### Benefit to RChain

Reach a larger audience and help expand the community building.

Translations will be posted on the [RChain Worldwide Community Forum > Italian (Italiano) > Blog](https://rchaincommunity.xyz/c/Italian-Italiano), the [RChain Cooperative (Italian)](https://medium.com/@rchain_it) Medium account, Facebook,Twitter and Reddit.

### Budget and Objective

_Estimated Budget of Task:_

[2018-08-05 22:35] allancto commented on #799
@dckc thanks, i believe i understand verified_coop from that, and would indicate that the field is filled only after a contributor has logged in to vote rewards at least once.

[2018-08-06 00:14] TrenchFloat commented on #869
All of the guides are rewarded for their work through monthly issues like #847. In that issue and in #850, the budgets are decided by all the guides. I suggest this issue is a duplicate.

[2018-08-06 01:03] #637 closed

[2018-08-06 01:47] rjl493456442 commented on #828
@AyAyRon-P Summary:

- [x] [rchain-weekly-update-debrief-83-27th-june-2018](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-83-27th-june-2018-67f309a9500) [**Translation Link**](https://medium.com/rchain-cooperative-china/rchain%E6%AF%8F%E5%91%A8%E6%9B%B4%E6%96%B0-%E7%AE%80%E6%8A%A583-2018-6-27-8195027bbd0f)

- [x] [rchain-weekly-update-debrief-84-4th-july-2018](https://medium.c

[2018-08-06 05:24] Preshcode commented on #871
Hello HJ,
I wish u a quick and full recovery, so u resume work with full energy and in your jolly good spirit. This is just a trying moment of your life but I believe it'll pass. You are one of the most experienced of us and we need you back soon for your support, advice and wise contributions. Stay strong HJ.
Thank you for all your advice so far,
Preshcode.

[2018-08-06 06:45] pmoorman commented on #834
My thinking was a significant budget for the first month, considering all the hustle and bustle to get this routine started (hence the $3000 vote), and then a fixed "per meeting" budget moving forward (much like you suggest).

**I think RAAM should be considered as equal to the RAM meeting, just 12 hours apart.**

[2018-08-06 07:43] pmoorman commented on #871
Hey all,

on behalf of all of us, I went to visit @lapin7 yesterday, and checked how he's doing.
Considering circumstances, he's doing very well!

HJ is back at home, and being very well taken care of by everyone around him. We took a selfie together, so everyone can verify that he's in good spirits:

https://www.dropbox.com/s/0tgwr5k8sprmcgh/38462130_698596667154206_2498116922550255616_n.jpg?dl=0

[2018-08-06 07:44] pmoorman commented on #860
_(X-posted from #871 )_

---

Hey all,

on behalf of all of us, I went to visit @lapin7 yesterday, and checked how he's doing.
Considering circumstances, he's doing very well!

HJ is back at home, and being very well taken care of by everyone around him. We took a selfie together, so everyone can verify that he's in good spirits:

https://www.dropbox.com/s/0tgwr5k8sprmcgh/38462130_698596667154206_

[2018-08-06 07:46] azazime commented on #871
Nice one @pmoorman,

[2018-08-06 07:48] allancto commented on #860
@lapin7 @pmoorman best selfie EVER!!!!

[2018-08-06 10:11] David405 commented on #755
Thanks Josh for the feedback, the exercises and assignments will be implemented as soon as possible.

The budget is not fixed but merely a suggestion, the actual budget is decided at the end of the month depending on the value created by each of the groups. For example, in June, each group was rewarded with $1000 which was based on the value created.

[2018-08-06 11:12] David405 commented on #872
@dckc I created a [pull request](https://github.com/David405/rchain-dbr/pull/1/commits/43f66d9fabdee3c9b5601b0f8c4579034db854be) using `test` branch to commit a change to the `master` branch of the rewards app.

@jimscarver I tried to deploy the change to https://rewards-test.rhobot.net/ but I can't do that because I don't have the right permissions, kindly grant me permission so I could test chan

[2018-08-06 12:35] kitblake commented on #862
There are a lot of aspects considered in this issue, but we're missing an underlying problem: the RChain Marketing org is not targeting Facebook as a primary communications channel.

This is because, in most of the world the people we're trying to reach are not on Facebook. Its platform is good for general awareness of a somewhat older generation. But right now RChain wants to reach developers and

[2018-08-06 14:15] Howsoonisnow commented on #690
We are working on it. It will be finished soon.
Regards!

On 4 August 2018 at 16:11, AyAyRon-P <notifications@github.com> wrote:

[2018-08-06 15:07] #764 closed

[2018-08-06 15:10] #681 closed

[2018-08-06 15:18] TrenchFloat commented on #847
@dckc Previous months have consisted of watching B&R votes regularly. July (for Education) has entailed more sustained conversations with RAMs over budgets, as we raise standards for value creation. There has been more communication among guides, the TAC meeting, and lots of issues to keep up with in general. I estimate I spent 6 hours guiding this month, and with 10 guides (right?) at $40 an hour

[2018-08-06 15:42] AyAyRon-P commented on #847
@pavlos1851 and I have spent a collective total in excess of 40 hours this month researching, testing and implementing new processes for translations: the translation [tool](https://customer.stepes.com/instant-translation-quote/#), devising a method for quality control with online English Proficiency [testing](https://www.kaplaninternational.com/english-level-test/form), responding to DMs, and gui

[2018-08-06 15:58] pavlos1851 commented on #847
@TrenchFloat  Also, by having a separate issue we can create a discrete, more verbose report of our actions there, and later move the key parts to the quarterly reports. My suggestion is to keep #869 alive.

[2018-08-06 16:26] qelentium commented on #863
@ICA3DaR5 i verify translation of the words

[2018-08-06 17:48] deannald commented on #834
I agree with @dckc and @pmoorman in that a fixed per meeting budget moving forward makes sense and should be commensurate with the amount of effort put into the meetings.

[2018-08-06 18:57] David405 commented on #872
We ( Jim and I) are working on updating the logo but have a hard time figuring out where the favicon was placed.

[2018-08-06 19:37] #842 closed

[2018-08-06 20:05] qelentium commented on #863
Work is done. Reviewed. Posted. Closing this issue

[2018-08-06 20:05] #863 closed

[2018-08-06 20:06] dckc commented on #872
favicon? I'm not aware that there is one.

[2018-08-06 20:10] dckc commented on #869
Separating budgets for particularly burdensome areas such as Marketing and Translation seems reasonable to me.

I would still appreciate a "Translation guides are done for this month" signal in the overall monthly review issue (#847).

[2018-08-06 20:32] dckc commented on #847
@TrenchFloat writes:

Let's see how many guides check the "My area is finished with budgets and rewards for this month" boxes I just added to the description of this issue. I noted the separately budgeted issues for Marketing and Translation, but I would still like those boxes checked.

Everybody is also encouraged to note estimated time spent along with where the time went: were there any particu

[2018-08-06 21:16] ICA3DaR5 commented on #863
I am adding them today then!

[2018-08-06 21:25] jimscarver commented on #789
Rewards were added to table in july and experimental chatbot developed.

[2018-08-06 21:31] David405 commented on #872
We were able to deploy changes to the logo and favicon, see https://rewards-test.rhobot.net/

I also saw your comment on the pull request, I would edit it to accommodate further changes and resubmit it.

[2018-08-06 23:56] Tonyprisca13 opened #880 "20180808 RChain Active Member Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/6853551826]( https://zoom.us/j/6853551826)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [x] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).

- [ ]  Any key discussion p

[2018-08-07 00:08] MParlikar opened #881 "August core Development work"
### Benefit to RChain

*Build the platform

(much like May #766 June #767 July #819 )

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$5700.00**
_Estimated Timeline Required to Complete the Task:_ **4 weeks**
_How will we measure completion?_ **PR's Merged**

*See CONTRIBUTING.md for details on budget and

[2018-08-07 01:15] AyAyRon-P commented on #869
Hi @dckc as soon as we're finished over here I promise to check off the "done for this month" box 👍

[2018-08-07 02:50] dckc commented on #819
@MParlikar has got some rewards for @AbnerZheng after all.

[2018-08-07 03:12] dckc commented on #799
@lapin7 for the Q2 report (#850 ) I need help reconstructing May rewards due to this bug. Do you have a backup of the invoice summary page from around June 8 or 9? Well, some equivalent of it? I see I didn't add that page until June 18.

[2018-08-07 05:22] Lizen0512 opened #882 "Translate medium post to chinese"
### Benefit to RChain

- [x] [RChain update (Debrief 87), July 25th, 2018](https://medium.com/rchain-cooperative/rchain-update-debrief-87-july-25th-2018-f5d7e8f3a53a) 1970 words
- [x] [RChain update (Debrief 88), 1st August, 2018](https://medium.com/rchain-cooperative/rchain-update-debrief-88-1st-august-2018-8058f8f94527) 1855 words

### Budget and Objective

*Please make the issue SMART: Specific

[2018-08-07 05:31] v56700 commented on #882
They have been translated, please check
http://www.rchain.site/?p=745
http://www.rchain.site/?p=757

[2018-08-07 05:38] yuhuanmocmoc commented on #882
@v56700 they are just Google translations, please be serious.

[2018-08-07 05:39] v56700 commented on #882
@yuhuanmocmoc  You can find a professional translation team to review, or ask the Chinese community for advice.

[2018-08-07 05:48] yuhuanmocmoc commented on #882
@v56700 please  remember that the review work is for checking your spelling, grammar, specific-term and so on, but the article you translated doesn't make sense at all!

[2018-08-07 05:56] v56700 commented on #882
The Chinese community wants to see timely news, not outdated news.
The old news on July 25th needs to be translated now?

[2018-08-07 06:05] v56700 commented on #882
I use machine translation + post editing
I don't think there is any problem with this translation. I don't need a cooperative to provide a budget, and I have done a good job.

[2018-08-07 06:10] v56700 commented on #882
Do you have a certificate from a professional institution?

[2018-08-07 06:34] David405 commented on #872
@dckc I am having troubles pushing changes from my github account, I keep getting a `permission denied: 403` error, this makes it difficult to make a pull request from rewards-test to commit the changes there.

[2018-08-07 06:47] lapin7 commented on #799
I have given you access to reporting

[2018-08-07 09:43] kovmargo commented on #865
Work is done. Translations are stored on the docs now and will be posted at Medium RChain (Ukrainian) account as soon as @thiefinshadows provides me with credentials.

@AyAyRon-P  @pavlos1851 I've tried to contact with @thiefinshadows on Discord and on his issues #873... I see that he has activity but does't answer. I would like to believe that he is interested in the overall contribution to build

[2018-08-07 09:44] #865 closed

[2018-08-07 10:37] kovmargo commented on #862
@kitblake Could I ask you?

<<But right now RChain wants to reach developers and potential validators. These people are not on Facebook but more technically oriented channels.

How is the RChain going to do this (I mean Internet channels). Which technically oriented channels do you mean? What about Russian-speaking channels?

I can see the [Rchain co-op FB account](https://www.facebook.com/rchainc

[2018-08-07 11:38] dckc commented on #872
Did you add your own fork as a remote? You shouldn't expect to be able to
push  to someone else's fork. Getting a 403 in that case is normal.

As usual, it's best if you detail exactly what steps led to the problem.
Exactly what command? From what directory?

It's possible that you may need to clone the source to your home directory
on rewards-test. You could check the video recording of our sessi

[2018-08-07 12:26] qelentium opened #883 "Translate RChain Blogs - Russian"
### Benefit to RChain

Reach larger audience and help to build the community
Translation will be posted at [RChain Worldwide Community Forum](https://rchaincommunity.xyz/) and at [Medium RChain_RU](https://medium.com/@rchain_ru)

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[344.6 (313.3+10% 31.3 markd

[2018-08-07 14:01] jimscarver commented on #872
David did a fork on github and pushed a update with and error in it.  I thought we did a git push david of the fix. If there are updates maybe another git push david is needed?
What else is needed to get david's changes into production?

[2018-08-07 14:04] golovach-ivan commented on #821
Why is RChain different from other blockchain technologies?
1. Casper concensus protocol and blockchain (sharding, namespaces, dag).
2. RhoLang smart contract formal verification (auditability, behavioral/spatial external type system).

What is RhoLang smart contract formal verification?
It is writing liveness/safety/security properties (behavioral/spatial types) as Namespace Logic formulae and ru

[2018-08-07 15:00] David405 commented on #872
@jimscarver Yeah we did but when I tried it again to update the favicon, it threw a permission denied error

[2018-08-07 15:10] pavlos1851 commented on #846
@philipandri002 I see that you still haven't completed the Coop verification process. Could you please do so?
Also, closing issue, since it's complete.

[2018-08-07 15:10] #846 closed

[2018-08-07 15:14] David405 commented on #208
**Report for the 201807**

The work study group meets three times a week, mondays, tuesdays, and thursdays. Also, this issue is covering the rnode testing sessions that we had during the month. More info on this can be seen the [log](https://docs.google.com/document/d/1HNIq_sBupkrtO3yuZT_5OlBWw8UEM3O9vNeQGtq9dpw/edit#)

[2018-08-07 15:17] ICA3DaR5 commented on #863
@kovmargo

Introductions is about people introducing themselves. What would be the appropriate translation?

[2018-08-07 15:17] David405 commented on #830
we successfully have staged three test environments https://rewards-test.rhobot.net/, https://rnode-test.rhobot.net/ and https://rchain-bounty.rhobot.net/

[2018-08-07 15:27] David405 commented on #797
@dckc I have added the comment access and also a link to the official documentation.

[2018-08-07 16:07] pavlos1851 commented on #883
@qelentium Please change the title so that the target language is visible. Also, state the assignees/reviewers for this issue. Finally, you've clearly misunderstood the meaning and puprose of the  "What about maintenance?" section. These are blog posts and thus, they are stable. Please select the first option.

[2018-08-07 18:52] tucsonblockchain commented on #854
I tested the waters, I did what was asked to do, to get something on the board, the process was not anything I would want to continue doing, asked to redo something I did to a T, but you slide something in with a reasonable expectation and then some guide pops in questioning work. I can see it would be how people drop like flies, but being free to say what I want as it relates to collaboration, or

[2018-08-07 19:07] golovach-ivan commented on #822
Please see [comment on issue 821](https://github.com/rchain/bounties/issues/821#issuecomment-411067969) and vote.

[2018-08-07 19:32] kovmargo commented on #863
@ICA3DaR5 for Introductions will be 'Представление' and for Governance 'Управление'

Don't know yet how voting works... Will ask you to vote for my issues: #863 (this issue) and #865

[2018-08-07 19:33] qelentium commented on #883
@pavlos1851 @kovmargo gonna be reviewer i still can not assign her here.Thanks for helping!

[2018-08-07 20:02] Ojimadu commented on #881
@Medha I suppose this should for August right?

[2018-08-07 20:08] Ojimadu commented on #882
@will You recently joined the translation guide can have a look here?

[2018-08-07 20:30] Ojimadu commented on #822
After seeing the [comment](https://github.com/rchain/bounties/issues/821#issuecomment-411067969) by @golovach-ivan I think this deserves full rewards.

[2018-08-07 20:50] dckc commented on #881
Yes, since this ticket was created in August, you won't be able to reward for it in July.

[2018-08-07 20:56] dckc commented on #875
Hm. #682 was labelled **bounty-contract**. I thought of it as a hard rule. But I didn't make any change to CONTRIBUTING.md, and all the hard rules are supposed to be in there.

In any case, there are any number of situations where work in July might not be rewarded until August... perhaps somebody didn't drum up sufficient votes in July but got lots of support in August, for example.

[2018-08-07 21:36] ICA3DaR5 commented on #863
@kovmargo I'll add them tomorrow. Thanks!

[2018-08-07 22:28] dckc commented on #208
The estimated budget and timeline part of the issue hasn't been filled out. It's reasonable to postpone that during an initial brainstorming period, but by the time anyone is ready to claim a reward, it's pretty much essential.

According to our [Task Approval](https://github.com/rchain/bounties/wiki/Task-Approval) process, I can't support tasks with unclear budgets and timeframes.

If this issue

[2018-08-07 22:32] David405 commented on #830
I have made some changes but will work on the wiki page tomorrow, I need to get some sleep now.

[2018-08-07 22:34] David405 commented on #208
This issue is both covering the general colab meetings and the Thursdays node testing sessions

[2018-08-07 22:51] dckc commented on #208
@jimscarver I found a little inspiration to add detail to the title and description. Please confirm that you're OK with it or tweak it as you see fit.

I'd appreciate confirmation from others (in the form of reactions) that it's consistent with your expectations.

[2018-08-07 23:01] dckc commented on #834
If you agree with me, then you're not arguing for a fixed budget :)

From what I have seen in RAM meetings, the quality of meetings varies significantly from meeting to meeting. I'm OK with budget commensurate with effort to the extent that putting effort into a meeting usually produces quality results. But it's the results that I'm really looking for.

I don't have much direct experience with the

[2018-08-07 23:18] dckc commented on #849
@zsluedem I'm using **duplicate** as a signal to the audit tools that the budget for this work is elsewhere.

[2018-08-07 23:18] #849 closed

[2018-08-07 23:27] dckc commented on #856
According to our [Task Approval](https://github.com/rchain/bounties/wiki/Task-Approval) process, we can't have tasks with unclear budgets and timeframes. On an exceptional basis, we can use ONGOING tasks as short-hand for opening a new task each month. But there should be a measure of completion for each month. Take a look at #208 for the sort of justification I expect to see for ONGOING issues.

[2018-08-07 23:30] dckc commented on #208
@JoshOrndorff how many people do you think learned to do rnode testing in these meetings in July? Just a rough guess would be handy.

[2018-08-07 23:33] dckc commented on #856
@AyAyRon-P please add a link from https://github.com/rchain/bounties/wiki/local-meetup-program:-summary to the discord server and if that wiki page isn't consistent with the advice and general knowledge that goes on there, please update it.

[2018-08-07 23:38] dckc commented on #880
I added "reasonable follow-up on items discussed" to the measure of completion.

For each discussion item, before moving on, please make it clear in the minutes whether an item is complete, and if not, who is taking action on the item. And in preparing the agenda, please note the status of all outstanding items from the previous week and contact any action owners who have not reported progress.

[2018-08-08 01:34] Tonyprisca13 commented on #880
Alright, I would be following up on that and also tracking the meeting issues.

[2018-08-08 01:45] philipandri002 commented on #846
@pavlos1851 pls tell me what to do

[2018-08-08 02:08] AyAyRon-P commented on #856
Hi @dckc

The community of global facilitators so far is at 20 and growing. I see what you're saying as far as an unclear budget and timeframe, and I should correct that because the initial setup, gathering, and posting the information was only part of this issue. I have and will continue to actively contribute, gather presentations, provide resources, branding elements, and organize meetup collat

[2018-08-08 03:04] kitblake commented on #783
Given the current examination of the bounty system, this doc, with its sections on metrics and historical achievements, has turned out to be quite timely. Initially I thought it was an 'extra' but it gathers and provides a lot data to work with.

Note that the title includes "Interim Report". Once things take a definitive form, we might bring out an update based on followup and evolution of the ap

[2018-08-08 03:50] dckc commented on #588
On Aug 1, at the invitation of @ICA3DaR5 , I represented my position formally as a vote: a large negative budget vote. So as it stands, anyone who claims a reward on this issue this month is losing RHOC.

I just double-checked to see if there has been any movement on the several requests to add something about actual numbers of users to the objective, and I see nothing.

In fact, I see this circul

[2018-08-08 04:00] dckc commented on #847
I only see two guides (leaving Marketing and Translation aside) claiming a reward on this issue. There's only one day left to do so.

[2018-08-08 04:13] dckc commented on #819
@MParlikar , @AbnerZheng please add a budget vote and a reward vote like mine **by August 8**.

I just talked with @MParlikar . She tells me @AbnerZheng completed 29 story points in July. At $150 ea, that comes to $4,350.

In [votes for this issue][v819], I just voted accordingly.

[v819]: https://rewards.rchain.coop/index.php?-action=related_records_list&num=%3D819&-relationship=Budget&-table=iss

[2018-08-08 04:15] dckc commented on #847
I'd like to lead by example, but I'm struggling to coordinate rewards for core work (#819) again :-/ .

[2018-08-08 04:31] dckc commented on #847
Noone is claiming a reward on any issues in the following areas, so I'm checking them off: Governance, Greeter, Voting, Social media.

[2018-08-08 04:44] barneycinnamon commented on #847
Thank you for checking the Governance box. There was no work on Governance issues through the bounty system in the month of July. Since there were no issues to guide, there was no work for the Governance guides in the sense of this issue.

[2018-08-08 04:47] Valentine-Mario commented on #588
@dckc what about the admins that were recently added to the forum and have been putting time and effort to moderate and promote the forum?
I think it's quite unfair to vote such a negetive budget. And when you say losing RHOC, would it affect the rewards from other issues for the month?

[2018-08-08 04:53] zsluedem commented on #730
@AyAyRon-P This issue has been finished in June and the team has already received the rewards. All the articles has been already released in their Wechat account. I am going to close it now. Feel free to comment.

[2018-08-08 04:53] #730 closed

[2018-08-08 04:56] dckc commented on #588
If you're putting time and effort into promoting the forum, then you have in mind increasing the number of users, yes? If you add something to the objective about a number of actual users of the forum, that would be responsive to requests from me and others and we could perhaps get past this "I will not argue with that. Please vote your opinion." stuff that led me to the large negative budget vote

[2018-08-08 05:04] dckc commented on #880
@TrenchFloat would you please bring up the un-checked areas / labels in #847 and ensure somebody has the ball on each of them? Do you plan to attend? @allancto perhaps you could introduce this item if not?

[2018-08-08 05:11] dckc commented on #847
@zsluedem perhaps the fact that you're done with the July China report (#867) means that you're done reviewing budgets and rewards as well? From a brief scan of the report, it doesn't look that way.

Please consider adding to your report an audit of budgets and rewards for the month.

[2018-08-08 05:16] yyh1102 commented on #882
@rjl493456442  is the member of Ethereum Go team, and he definitely has a super professional knowledge and experience of blockchain. @v56700

[2018-08-08 05:41] v56700 commented on #882
Please note that we are talking about whether budget should be paid for outdated and repetitive work.

[2018-08-08 06:09] JoshOrndorff commented on #208
I can think of at least size people who I can confidently say increased their understanding of running and test RNode. Three or four others occasionally attended. @dckc

[2018-08-08 06:47] dckc commented on #588
You're wrong and you're presumptuous. I stated my position plainly and voted accordingly.

[2018-08-08 06:56] casanwugo commented on #588
Upon posting French contents on the forum,, i realize that quite some effort go into making posts look good in there (especially converting to markdown). I think @ICA3DaR5 is doing a really good job!

[2018-08-08 08:28] Ojimadu commented on #846
@philipandri002 Have you been KYC'ed by the coop?

[2018-08-08 12:18] zsluedem commented on #847
@dckc It is my first time to do the guide here .Actually I am kind of confused of what you said.
I have to add more details about the budget and reward for the month in the report.Can you address more about what `doesn't look that way`?

[2018-08-08 12:45] dckc commented on #847
You could do your part of #850 in your monthly reports. No, you don't have to.

In this issue, I just need you to say "I am done with budgets and rewards for China issues for 201807. They are in order."

[2018-08-08 13:33] pavlos1851 commented on #847
@dckc @zsluedem  I am in the middle of finalizing this report right now.

[2018-08-08 14:09] jimscarver commented on #208
I think about six node runners either succeeded in connecting their node or at least got to the point where they could officially meaningfully participate in the tuesday node testers session. Joshy also introduced some rholang adding value to the sessions getting people started there.

[2018-08-08 14:38] dckc commented on #867
Now I see "It is still under draft".

Also, @pavlos1851 writes in #847 that he's working on "this report" in a way that suggests he means this one. I'll stay tuned to see if things become clear.

[2018-08-08 14:44] pavlos1851 commented on #867
@dckc I meant that I'm finalizing the translation label report ( #850 ), not this one. Sorry for the confusion.

[2018-08-08 14:51] #867 closed

[2018-08-08 15:16] zsluedem commented on #847
@dckc Yes.I am done with budgets and rewards for China issues for 201807

and @pavlos1851 told me that I don't have to work on #850 to avoid some duplicate work here.

[2018-08-08 15:30] #859 closed

[2018-08-08 15:39] ICA3DaR5 commented on #588
@dckc Basically by voting **such a negative number** you are terrorizing other people. There is a fear of voting their opinion, because they will actually **LOSE RHOC**? A few people DM'd me that they are afraid of voting because of that.

I don't think that's fair.

[2018-08-08 16:05] jimscarver commented on #854
Het Brent. You did great work and I see you are getting bounties for july on several issues.

It seems you do not like us questioning each others work here. Evaluation is a necessary part of everything we do in the coop and we reward people to asking about an issue or what was accomplished. Guides help insure that process is done.

You do not have to quite. Ask me or someone else to answer any que

[2018-08-08 16:33] dckc commented on #588
I asked you to explain how it's important to have this forum in addition to forum.rchain.coop. Your response was "IMO there is a need for a forum outside of developers." That is: argument from authority which invites no further discussion. And are you an authority on community forum development and collaboration? What experience do you draw from? (for my experience, anyone can go from my github pr

[2018-08-08 17:07] ICA3DaR5 commented on #588
@dckc

@pmoorman also said:

---

Currently forum.rchain.coop has a total of **155 users**, so I'll put **200 users** as a goal in order to address your concern.

[2018-08-08 17:26] dckc commented on #588
I'm voting $200 for budget because a large portion of the $8000 should be reserved for when the goal of 200 users is achieved.

@jimscarver I see you voted a large positive number, presumably to offset my large negative vote. That only makes my job more difficult. Please don't do that.

[2018-08-08 18:43] TrenchFloat commented on #854
First - everybody involved with this video did great work and deserves a fitting reward. My intention in asking questions was not to stifle discussion but to foster it.
@jimscarver I hadn't considered your points about rewarding cooperation. If we're splitting hairs, I would count that as value to the coop, but in any case, the value of cooperation itself was not something I considered before now

[2018-08-08 18:49] TrenchFloat commented on #787
The norm seems to be to create separate issues for each tutorial video.

[2018-08-08 18:49] #787 closed

[2018-08-08 18:58] TrenchFloat commented on #850
Anyone know how to get in touch with Kenny (discord isn't working) or another board member to have this passed along to the board?

[2018-08-08 19:20] golovach-ivan commented on #836
Week #2 commit done

### LTS (syntax and syntax processing)

#### 1) Add type aliases
[code]

#### 2) Implicit Symbol -> LTSState conversion
[code]

#### 3) Checking are there annihilated actions
[code]
[code]

#### 4) Edge syntax
[code]

#### 5) LTS definition
[code]
#### 6) Weak/Strong Bisimulation syntax and Algorithm
[code]

Partially implemented Kanellakis and Smolka algorithm ([paper](https:

[2018-08-08 19:39] golovach-ivan commented on #835
The main goal of this issue - create tool (command-line + web interfaces) that can formally verify RhoLang contracts. It means check satisfaction of RhoLang contract to Namespace Logic formulae.

Facts:
- RhoLang is extension of RhoCalculi
- RhoCalculi is extension of Pi-calculi
- Pi-calculi is extension of CCS
- Namespace Logic is extension of Caires/Cardelli Logic
- Caires/Cardelli Logic is exte

[2018-08-08 20:25] allancto commented on #836
@dckc @David405 can you vote this in the Development label? Status: #836 = 30 story points = 4500$
done 2/3 = 20 story points = 3000$. Let me know if any questions. Thanks! -@allancto

[2018-08-08 20:32] jimscarver commented on #588
The majority here feels the the forum is worthwhile and the case made. There was general consent in the meeting that negative votes should not be allowed. My countervote effectively resulted in a vote of zero for the two of us. Please do not vote negative in the future. One person is not a god here you ought not be unilaterally allow to stop a bounty without concurrence of other guides.

[2018-08-08 20:52] allancto commented on #850
@TrenchFloat I think it should be fine to wait, there are so many critical events going on right now that it's not likely to be read right immediately anyway. Another approach is to share the document as a "link only" with notes as to what remains to be edited. As far as providing it to Kenny and our board, you may want to simply paste the link in #board2coop, Kenny monitors that pretty closely.

[2018-08-08 21:04] philipandri002 commented on #846
No sir

On Aug 8, 2018 9:28 AM, "Ojimadu" <notifications@github.com> wrote:

[2018-08-08 21:07] philipandri002 commented on #846
Can u help me out@Ojimadu

[2018-08-08 21:38] dckc commented on #836
I'm standing by to hear from @golovach-ivan on a budget / reward proposal. Perhaps I could / should have done more to be sure you understand how the process works... I count on ISSUE_TEMPLATE to give instructions, but I see you deleted those without filling in the budget blanks...

@allancto I don't think this issue is 2/3rds of #836, but one could argue that #836 is more than 30 story points, so

[2018-08-08 21:52] allancto commented on #829
added WontFix because no devs stepped up and also wait to see outcome of @ICA3DaR5 investigation into existing plugin.

I will still support this issue if and when a great web developer steps in wanting to work on it. -@allancto

[2018-08-08 22:06] allancto commented on #820
@BelovedAquila if you want to do something on this let me know. It's an awesome video and I'd be interested in your thoughts. In the meantime, I'll mark it wontfix until you decide what you want to do.

Thanks! -@allancto

[2018-08-08 22:24] dckc commented on #880
Thanks for making follow-up clear in the notes. That makes the meeting much more valuable to me.

[2018-08-08 22:28] dckc commented on #847
I see checks in all the area boxes but two, and @AyAyRon-P acknowledged having the ball for Translation just a couple days ago in  #869 and I see in notes from a meeting today (#880) that @David405 took the ball for Tech Literacy.

Good work, everybody!

[2018-08-08 22:28] tucsonblockchain commented on #854
Kyle, point well made. You are not the problem, so don't feel you are. I am
stubborn and lost patience in going around and around in the "process",
redoing things, and realizing the amount of downtime in the overall process
that seemed overly complicated given the simple task at hand, down to the
point it did not seem to be profitable in terms of amount of time it took.
Stubborn enough that I woul

[2018-08-08 23:44] dckc commented on #861
That's my understanding, @jimscarver . These meetings are budgeted together in one issue per month.

[2018-08-09 05:08] cool007zqw opened #884 "Translate the video What is RChain All About to Chinese"
I just learnt video translation is suspended for now. So I will close this issue.

### Benefit to RChain

I translated the video [What is RChain All About](https://www.youtube.com/watch?v=f1D4vowiMiI) with Chinese subtitles and @zsluedem and @Whisker17 reviewed and proofread it.

This is the latest Intro video of RChain which helps people understand the core value of RChain. But to most Chinese it

[2018-08-09 05:36] cool007zqw opened #885 "Orientation video in Chinese on How to join RNode weekly community test"
### Benefit to RChain

I have been participating 3 or 4 times in RNode weekly community test and realize some orientation on the following questions will make joining easier and smoother, especially for first-timers:
1. what to prepare
2. where to find information about the upcoming test
3. how to file a bug/issue

So I made a video for the Chinese community. It has been uploaded by me and @zslued

[2018-08-09 05:41] Cryptovideos opened #886 "RCON3 Takes Over Berlin for Blockchain Week video"
RCON3 Takes Over Berlin for Blockchain Week video - a video to excite ,promote & market the Rcon3 event.

Estimated Budget of Task:_ $[900]
Estimated Timeline Required to Complete the Task:_ [3-5 -work in progress]
How will we measure completion?_ [Video Link submitted / original video transferred directly]

- [x] source clips ,material, audio backing track options
- [x] import, arrange into proje

[2018-08-09 05:45] #884 closed

[2018-08-09 05:50] kitblake commented on #862
@kovmargo RChain uses 'the usual' channels that all blockchain orgs utilize, like Twitter, Telegram, Reddit, and Medium. Since these are popular with crypto people we expect that info will get dispersed to the technical people we're trying to reach.

There may be Russian-language technical channels that we're not aware of. For instance in China the QQ groups function more or less like Telegram, wi

[2018-08-09 05:51] Ojimadu commented on #846
What problems are you facing? You can PM me on discord.

[2018-08-09 06:00] Ojimadu commented on #886
Excellent video.

[2018-08-09 06:02] nonnykul commented on #886
Good work @**cryptovideos**,
 Nice themes being put together, the concept of of the video was awesome. The flight  that took off at the early stage of the video was captivating. The message behind the video was duly informed...
** The 2018 Rcon 3 event*". I would love to help in the publicity of this promo video.

[2018-08-09 06:26] Cryptovideos commented on #886
Excellent please discuss the marketing drive / efforts thereoff with @disruptbansky

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: nonnykul <notifications@github.com>
Sent: Thursday, August 9, 2018 8:02:46 AM
To: rchain/bounties
Cc: Cryptovideos; Assign
Subject: Re: [rchain/bounties] RCON3 Takes Over Berlin for Blockchain Week video (#886)

Good work @crypt

[2018-08-09 06:31] decentralizebanksy commented on #886
Hey, guys let's wait on sharing this publicly until we get a round of feedback. Once that happens and the edits are made shortly after that, I'll use the RChain social media channels to share it. Then, we with out public accounts will engage with those posts and share those posts.

Also, we'd share it in FB Groups, Linkedin Groups, Subreddits, etc.

[2018-08-09 09:08] jasoncruzzy commented on #886
Nice work man!!

[2018-08-09 09:37] Cryptovideos commented on #886
Hey guys tks for the positivity and good vibes...i look forward to seeing it get loads of views/drive etc

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jason <notifications@github.com>
Sent: Thursday, August 9, 2018 11:08:47 AM
To: rchain/bounties
Cc: Cryptovideos; Mention
Subject: Re: [rchain/bounties] RCON3 Takes Over Berlin for Blockchain Week video (#8

[2018-08-09 11:28] azazime opened #887 "Blog Post: Post RChain documents on Hashnode and medium blog"
### Benefit to RChain
Promote Rchain contents regularly on Hashnode.
Create Rholang awareness amongst developers on hashnode

Posts on hashnode/medium blog;

<a href="https://hshno.de/Hyd4qOBSm">Correct-by-construction Casper</a>

<a href="https://medium.com/@andrewasamonye/the-rchain-root-shard-85f529f5a11c">The RChain Root Shard</a>

<a href="https://medium.com/@andrewasamonye/backbone-validatio

[2018-08-09 11:54] casanwugo commented on #886
Great! I'm in.

[2018-08-09 13:53] zsluedem commented on #861
@jimscarver this issue doesn't have enough votes. So it won't count~! All the Rchain Asia meeting budget goes to #834 . Sorry for the late reply.

[2018-08-09 13:57] zsluedem commented on #861
@jimscarver I have noticed that you and @kitblake have votes on this issue. I am sorry that my original vote here may cause some misunderstanding here. This issue should not be claimed any budget and reward. All the budget has been voted in the #834 .

[2018-08-09 13:59] zsluedem commented on #861
@jimscarver you may mistype the issue. #854 has no relations with this issue.

[2018-08-09 14:05] zsluedem commented on #861
I have deleted my budget votes on this one . So this one doesn't have enough votes for the budget now.

[2018-08-09 14:37] dckc commented on #847
### Unintended change in "at least 3 votes"

@deannald @PatrickM727 @lapin7 @allancto

On July 27, an interim fix for #799 ( d62bad1 ) changed the way "at least 3 votes" works. In May, all 3 had to have trust ratings. But now votes from any 3 coop members make for "at least 3". Only votes from users with trust ratings figure into the amounts still. I'm not sure if invoices for 201806 were computed

[2018-08-09 14:42] Tonyprisca13 commented on #886
Superb

[2018-08-09 15:00] allancto commented on #847
@dckc this unintended change gave all participants (even with weight 0) the ability to produce a quorum though not influence the amount. Perhaps that's a reasonable amount of trust to extend. (more conservative might be to require >=3 voters && a minimum total trust rating), following in the spirit of opinions expressed by @David405  and @jimscarver .

[2018-08-09 15:02] dckc commented on #847
Again: as to how we compute rewards going forward, **let's please use #799 to discuss that** so that we can close this one, which is about July.

[2018-08-09 15:07] dckc commented on #847
Actually, #785 is probably a better place for the follow-up discussion.

[2018-08-09 15:10] dckc commented on #799
In #847 I recommended follow-up discussion here, but on second thought, **please use #785 instead.**

[2018-08-09 15:11] dckc commented on #785
@deannald @PatrickM727 please consider:

In #847 @allancto writes:

I'm still mulling it over.

[2018-08-09 15:40] ottermagically opened #888 "RChain Wolfram|Alpha Oracles Project Request For Comments"
**RChain Wolfram|Alpha Oracles _Request For Comments_**

_Project Team: Jake Gilberg (@Jake-Gillberg), Jonathan Kochmer (@ottermagically), Deanna Duke (@deannald), participants from Ethereum_

**Overview**: We propose to leverage the experience of a team from Ethereum to deploy specific, strategic, and well-defined Oracle services from [Wolfram|Alpha](http://www.wolframalpha.com) for the benefit o

[2018-08-09 16:36] dckc commented on #847
Thanks again for the good work, everybody. I think we're done here.

At about 9am today, I switched the current pay period:

[code]
"current: 201808" -- https://rewards.rchain.coop/

[2018-08-09 16:36] #847 closed

[2018-08-09 16:58] ogini1 commented on #888
The top three oracle services I would like to see implemented are:
1. Price data
2. Oauth
3. Climatological data streams

Additional: RNG

[2018-08-09 18:00] Jake-Gillberg commented on #888
Hey @ogini1, thanks for the input. I haven't seen you around here before, care to introduce yourself?

Also, can you be more specific as to what you would like to use the [Climatological data streams](http://www.wolframalpha.com/examples/science-and-technology/weather-and-meteorology/) for / exactly what pieces of data you would find useful? This one is currently not defined well enough for implem

[2018-08-09 20:53] Phistr90 commented on #888
Generally sounds interesting.
Can you elaborate on why the first 6 are 'low risk' oracles services?
Generally what do mean by risk in this context?
I would think the risk depends on the application the oracles services are used for and centralized oracles can always do a lot of harm when used improperly.

[2018-08-09 21:04] Jake-Gillberg commented on #888
@Phistr90 "Risk" here is being used as more of a project management term and not a security term; "low risk" is referring to the fact that these oracles have no or relatively little unknowns when it comes to implementation.

I wholeheartedly agree. These oracles will only be useful to those willing to trust a signed message from Wolfram|Alpha containing the requested data. There is active research

[2018-08-09 21:16] dckc commented on #888
Feeds from the stock market and stuff look pretty cool.

As to OAuth: I have a good start on it, so I'd be a little jealous: https://github.com/dckc/rchain-dbr/tree/reorg_dirs/o2r 8e5a3ef
I was planning to work with the European coop folks who are building on-chain governance tools.

[2018-08-09 21:44] Jake-Gillberg commented on #888
Notably absent from this list are any oracles that leverage the high-strain computational capabilities of Wolfram|Alpha.. anyone have thoughts on a use case here?

[2018-08-09 22:12] desaperados commented on #888
As a point of reference, we explored using Wolfram Alfa as a price oracle at Maker and decided that it was too expensive compared to our own price-feeds solution. From memory I think it was going to cost 50K/year plus transaction costs which is far more than we pay to run our own oracles.

https://makerdao.com/feeds/

[2018-08-09 22:28] allancto commented on #888
#dc, we (like Maker DAO) would rather build a pool of members skilled in
these areas. That's another important consideration. And btw it's my
current assessment that mkr has a much better (though special purpose)
oracle system.

I encourage everyone to follow and understand the Maker project, i imagine
that in the future we'll be cooperating with them in some areas. -@allancto

On Thu, Aug 9, 2018

[2018-08-09 22:51] Jake-Gillberg commented on #888
@desaperados Yeah, thanks, I talked with Kenny and Mariano about this. Our project plan is to incubate useful oracles for the duration of a pilot project then transition the financial support for the useful oracles off of the coop, hopefully captured in smart contracts and charged by usage.

[2018-08-10 06:35] Cryptovideos commented on #886
Great feedback tks @Preshcode ... please wait on @decentralizebanksy tho before undertaking anything just yet, we are going to tweak it slightly and then will upload a Final version....should not be too long tho till its ready, hang in there and check with him tho in the interim...

[2018-08-10 10:40] casanwugo opened #889 "Translate Blog Posts to French."
### Benefit to RChain

Translation of the RChain blog posts to other languages means good global marketing. Also, reach a larger audience and help expand the community building.

Translated contents will be posted both on the <a href="https://rchaincommunity.xyz/">RChain Worldwide Community Forum > French (Français) > Blog</a>, and <a href="https://medium.com/@annchidinma5">@Crypto Medium Blog</a>

[2018-08-10 14:37] ResonanceXX opened #890 "RChain: The Journey So Far."
### Benefit to RChain

*Part of periodic articles to keep community members updated:*
*Replace these 3 lines with your answer*

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[000]**
_Estimated Timeline Required to Complete the Task:_ **[Ongoing/2 weeks]**
_How will we measure completion?_ *Publication*

[2018-08-10 19:54] kovmargo opened #891 "Translate last RChain Asia, Spotlight, C. Calculi 2, 3, Become Validator, RASPBERRY Pi + Debrief 89 to Russian"
Translation of the RChain hot topics to other languages means good global marketing: reach a larger audience and help expand the community building.

### Budget and Objective
**Collaborators Work:**
@kovmargo: 90%
@golovach-ivan: 10%

**Estimated Budget of Task: $1613 ($1466.69 + $146.7(10% for the Markdown conversion))**

Estimated Timeline Required to Complete the Task: **7**
How will we measure

[2018-08-10 20:10] kovmargo opened #892 "Translate last Medium post: RASPBERRY Pi, Calculus Part 3 + Debriefs 88, 89, 90 to Ukrainian"
Translation of the RChain topics to other languages means good global marketing: reach a larger audience and help expand the community building. Translation of Blockchain multithreading mechanism will help Ukrainian-speaking people to understand the blockchain technology and add more value to the process.

### Budget and Objective
**Collaborators Work:**
@kovmargo: 80%
@golovach-ivan: 10%
@qelenti

[2018-08-10 21:40] dckc commented on #561
I put together some rough slides on work in this area:

 2a887b8  https://github.com/dckc/RChain-API/tree/talk-reveal/talk

and I managed to make a [pdf version][1]

[1]: https://drive.google.com/file/d/1B8kstgVnpnAKpu1335N0r7paymi57tbv/view?usp=sharing

[2018-08-11 16:03] ogini1 commented on #888
Hello Jake, am Ginika.I've been loosely following the community but recently signed up and still trying to find my way around here and blockchain technology.
I would like to see climate data being used for some kind of on-chain insurance for agriculture and supply chain/logistics. Data like degree days and atmospheric thermodynamics and weather forecast would be useful for such use case IMO.

[2018-08-11 16:36] Jake-Gillberg commented on #888
@ogini1 Thanks! for both the introduction and the clarification. It looks like degree-days would certainly be an option for us.

If you know or contact anyone who is (or if you yourself are) interested in building an insurance application like the one described, please send them my way, I would love to talk in more detail.

[2018-08-11 17:43] dckc commented on #792
@David405  , @jimscarver: and I just gave https://rewards.rchain.coop/ a responsive face-lift!

  - 9f4b65c conf settings for better mobile experience w/JW,DA   https://github.com/dckc/rchain-dbr/tree/prod
  - 469690e  https://github.com/dckc/xataface-responsive-theme

[2018-08-11 17:47] ICA3DaR5 commented on #588
[RChain Worldwide Community Forum Zoom Meeting](https://rchaincommunity.xyz/t/rchain-worldwide-community-forum-zoom-meeting/300)

![7ad494c18eae165f60d33c0dcd305608fc996da6](https://user-images.githubusercontent.com/34237682/43994562-ab22e25c-9da7-11e8-9bae-3c7f3873cd71.jpeg)

An online meeting using [Zoom](https://zoom.us/) regarding the [RChain Worldwide Community Forum](https://rchaincommunity.

[2018-08-11 17:49] ICA3DaR5 commented on #588
[Introduction of Donald A. Iljazi (ICA3DaR5)](https://rchaincommunity.xyz/t/introduction-of-donald-a-iljazi-ica3dar5/307)

Greetings to the [RChain Cooperative](https://en.bitcoinwiki.org/wiki/RChain) community.

I would like to introduce myself to the community in order for you to get to know me, my background and the tools of trade I use to do my work. You can do the same at the Introductions ca

[2018-08-11 18:06] allancto commented on #588
@ICA3DaR5 you've hit the nail on the head. Great content will make great readership and community involvement. Nice!!! -@allancto

[2018-08-11 18:15] allancto commented on #792
@AhsanFazal I hope you weren't "turned off" to contributing by the discussion previously. We DO value developers who see an opportunity and act on it. We DO understand that talented, energetic people have constant competition for their time. We DO want you to stay engaged and involved with us.

Thanks for your contribution! -@allancto

[2018-08-11 21:31] nonnykul commented on #779
Hello @**everyone**

A meetup was held in Croatia recently, it had an outstanding turnout.
Slide used during the meetup [this](https://drive.google.com/open?id=1NaGnKYl-CCy7bi2rVCgy8kLADNmWbi4p).

More details from the meetup can be found [here](https://www.meetup.com/RChain-HRChain/)

[2018-08-12 03:25] allancto commented on #847
@dckc thanks for this issue, for me it was quite helpful in making sure all of the issues i was on a label for got voted.

Going forward I'd like to suggest that this issue be expanded for next month, to reference a small doc for each label with two sections, "issue guide" explaining what was accomplished in the issue and what in the view of the guide was important about it, and a "voting guide" w

[2018-08-12 05:14] dckc commented on #847
All that sort of discussion belongs in the issue.

That too - as it becomes more clear what the issue is about, the Objective and Benefit to RChain sections are often refined.

Quarterly reports seem cost-effective for accounting purposes and for summary and reflection. But the detail about each issue belongs in the issue.

Even that is quite late. Per the [Task Approval](https://github.com/rchain

[2018-08-12 06:56] Ojimadu commented on #892
Is there a need translating same documents to Russian and Ukrainian? Am opined that these languages bear remarkable similarities as they are both Slavic languages. I believe anyone that's able to comprehend Russian would do so reasonably well for Ukrainian as well.

[2018-08-12 14:08] Barkov-F opened #893 "Look like networking problem on rchain.cloud"
![rchaincloud](https://user-images.githubusercontent.com/18509341/44002830-eef293ec-9e51-11e8-99fc-0b78ba79347a.jpg)

### Benefit to RChain

Functional sandbox helps with the adoption of the rholang, I think.

### Budget and Objective

Functional rholang evaluator at rchain.cloud

_Estimated Budget of Task:_ **$[000]**
_Estimated Timeline Required to Complete the Task:_ **[days/weeks]**
_How will

[2018-08-12 16:20] zsluedem opened #894 "Rchain Asia Weekly Debrief 20180814"
### Benefit to RChain

The first meeting will hold at 04:00 UTC 20180814
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

The zoom link is https://zoom.us/j/2522161381.

The Rchain Asia Weekly Defrief note folder:https://drive.google.com/drive/folders/1PcIaVLwU4pH5wBf-mIk1zAeBMJUUjsdB

- [x] Prepare [agenda](https://docs.google.com/document/d/1SWYVHF4XBnpJgqocogY

[2018-08-12 18:24] pavlos1851 commented on #892
[RChain Blockchain multithreading mechanism](https://thecryptosyndicate.com/rchain-multi-threading-blockchain/) is not a [medium](https://medium.com/rchain-cooperative) or [blog.rchain.coop](https://blog.rchain.coop/) item. Why did you include this post?

[2018-08-12 18:24] pavlos1851 commented on #891
[RChain Blockchain multithreading mechanism](https://thecryptosyndicate.com/rchain-multi-threading-blockchain/) is not a [medium](https://medium.com/rchain-cooperative) or [blog.rchain.coop](https://blog.rchain.coop/) item. Why did you include this post?

[2018-08-12 20:31] kovmargo commented on #891
@pavlos1851 because I'm going to post translation on the Medium account. But it's seems I need to create separate issue for "RChain Blockchain multithreading mechanism" article and check  "It's a document on https://developer.rchain.coop/" option .

[2018-08-13 02:46] pavlos1851 commented on #891
You posting a translation on medium does not make it an official RChain Medium blog item.
Also, it's not a document from [developer.rchain.coop](https://developer.rchain.coop/) either.
This is an article written by a third party completely unrelated to the Coop.
I cannot understand the reasoning behind including this here and in #892.

[2018-08-13 08:21] Viraculous opened #896 "ONGOING: RChain update on blog and Medium"
Check every Thursday at [RChain blog](https://blog.rchain.coop/category/community/) to get updates from the community.
**August**

- [x] [Debrief 88](https://medium.com/rchain-cooperative/rchain-update-debrief-88-1st-august-2018-8058f8f94527)
- [x] [Debrief 89](https://medium.com/@vimirimious34/rchain-update-debrief-89-8th-august-2018-a61d2273b114)
- [x] [Debrief 90](https://medium.com/rchain-coop

[2018-08-13 09:42] olisb commented on #770
Hi @allancto
yes, I could do with some help with this - do you have time to zoom / Skype to walk me through what else I need to do?
best
Oli

[2018-08-13 12:31] kovmargo commented on #891
The reason is to explain the blockchain multithreading mechanism to Russian people, aim at attach more people who are interested in RChain. If it's not suit I'll delete this article.

[2018-08-13 13:14] jimscarver opened #897 "RChain Community Validator Pools"
With RChain proof-of-stake, validators are like miners in proof-of-work. They bet on transactions and are rewarded for good behaviour. It is planned that the coop will run validator nodes in addition to outside enterprizes.

There are members who would like to employ their REV on validators but do not want to operate nodes themselves. There are members who want to provide computing resources to a

[2018-08-13 15:31] pmoorman commented on #871
I'll close this one off. For any more on this topic, see #860

[2018-08-13 15:31] #871 closed

[2018-08-13 18:28] qelentium commented on #883
Reviewed by @kovmargo posted at Medium and https://rchaincommunity.xyz https://rchaincommunity.xyz/t/rchain-88-1-2018/320 and https://rchaincommunity.xyz/t/rholang/319. Closing this issue

[2018-08-13 18:28] #883 closed

[2018-08-13 18:39] TrenchFloat commented on #850
Good points, Allan. We'll take a breather until we have financial data, then provide a completed report.

[2018-08-13 21:46] ICA3DaR5 commented on #588
@allancto Thanks!!! :)

[2018-08-13 23:07] dckc commented on #896
The RChain blog is https://blog.rchain.coop/ now, right? It's no longer on medium, is it?

[2018-08-13 23:13] dckc commented on #896
Please use a more novel headline. This stuff is too interesting and valuable to go under a headline that only communicates "A week has passed and I have put more bits on the internet". For example, the headline for update 88 could be:

 - RChain 88: RumbleMonkey wins 50K RHOC at Reflective Deal Day, 18 nodes connect, RCon in Berlin and more

See also:
  - [my recent comment on the weekly index to

[2018-08-14 01:53] qelentium opened #898 "Translate RChain Blog to Russian"

[2018-08-14 01:57] #898 closed

[2018-08-14 03:00] #880 closed

[2018-08-14 03:10] yyh1102 opened #899 "Translate Medium Post Debrief 89 to chinese"
### Benefit to RChain

- [x] [RChain Update (Debrief 89),8th August 2018](https://medium.com/@vimirimious34/rchain-update-debrief-89-8th-august-2018-a61d2273b114)  1320 words

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[264]**
_Estimated Timeline Required to Complete the Task:_ **[2days]**
_How will

[2018-08-14 07:36] Valentine-Mario commented on #897
Is there a minimum about of resources someone could invest eg 500 GB?

[2018-08-14 08:39] Ojimadu commented on #897
Is there any link to how pooling would work on RChain? Am yet to see any. So far I don't think there's a contract that can delegate staking like the way Tezos or Ark does theirs.
The other option I see is a "2 of 3" multi-sig contract where the owner of the REV would have two keys and pool manager has one key 🗝. That way the pool manager can't sanction transactions without the signature of the own

[2018-08-14 08:44] Ojimadu commented on #897
@Valentine for high performant shards I saw on the validator sheet around 4tb RAM, 200TB disk space, 25GB/s ethernet plus some other requirements.

[2018-08-14 10:58] David405 commented on #897
@Ojimadu I don't think there is a hardware specification yet for validators ( @Valentine-Mario a 2GB ram with a decent processor should allow you run nodes with ease), I think the specs you made mention of is specifically related to the testnet in Germany and it still is a speculation. see [here](https://github.com/rchain/legaldocs/blob/master/validator-sale/Node%20Validation%20Overview%20DRAFT%20

[2018-08-14 11:42] Ojimadu commented on #897
Yes, but I still expect similar hardware to deployed in high performant shards in the main net.

[2018-08-14 15:06] cscdoubt commented on #277
Update: [_Running RNode on Tencent Cloud(CVM) in China_](https://mp.weixin.qq.com/s/ibzy84qX_GjJYWlgg1QaLA)

[2018-08-14 15:13] cscdoubt commented on #277
Update: [_RChain Spotlight : Translo_](https://blog.rchain.coop/rchain-spotlight-translo/) Translation.

[2018-08-14 16:49] Tonyprisca13 opened #900 "20180815"
ZOOM LINK FOR RAM MEETING
https://zoom.us/j/6853551826
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [ ] Prepare RAM meeting agenda.

- [ ] Any discussion points anyone wants to address should be added to the agenda

- [ ] Announce meeting in chat channels (Tg, Discord, other) earlier in the day.

- [ ] If needed, p

[2018-08-14 16:50] #900 closed

[2018-08-14 16:56] Tonyprisca13 opened #901 "20180815 RChain Active Member Meeting"
ZOOM LINK FOR RAM MEETING
https://zoom.us/j/6853551826
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [ ] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).

- [ ] Any discussion points anyone wants to address should b

[2018-08-14 20:27] nonnykul commented on #779
Hello @ **everyone**

Berlin the centre **Rcon3** event hosted its First RChain meetup, 14th of August.
The meetup was streamed live and turnout was outstanding.

I encourage everyone to check details from the meetup [here](https://www.meetup.com/RChain-Community-Berlin/events/253240489/)

[2018-08-15 01:46] allancto opened #902 "Governance of Trustmetric Voting"
### Benefit to RChain

Consensus seeking and voting systems are crucial to distributed governance. Improving Trustmetric label guiding and voting benefits our Cooperative by improving our Bounty system and providing a model for governance in our Cooperative as a whole.

### Description

1. During the July voting period (ending Aug 8) a “mutation” was introduced into the voting system rewards.rchai

[2018-08-15 04:49] qelentium opened #903 "Translate RChain Blog - Russian"
### Benefit to RChain

Reach larger audience and help to build the community
Translation will be posted at [RChain Worldwide Community Forum](https://rchaincommunity.xyz/) and at [Medium RChain_RU](https://medium.com/@rchain_ru)

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[217.3 ($197.60 +10% $ 19.7

[2018-08-15 08:06] philipandri002 opened #904 "Negotiate bounty budgets and rewards in RHOC rather than USD"
Lets Talk About Rhoc: @jimscarver @dckc @David405 @deannald @casanwugo @pmoorman  @allancto @Ojimadu @azazime @AyAyRon-P @ICA3DaR5 @Kitblake @pavlos1851
Estimated Budget of Task:_ $[TBD]
Timeframe: Month of August
Measure of completion: steps are been taken to address the issue:

There is a saying that "A workman is worthy of his wages". On that regard, I have decided to create this issue to addre

[2018-08-15 13:40] AyAyRon-P commented on #904
Hi @philipandri002

I understand your frustration and know how you feel. When work is done, work is done and we all deserve to be fairly compensated for it.

I've lost over 32% of the value in my portfolio in the past 3 weeks and that's including making money on short trades - would've been closer to 55% otherwise. This is the nature of the beast and we can't predict only speculate which way it wi

[2018-08-15 14:26] tucsonblockchain commented on #904
A workman is worthy of his wages, and should be able to buy all Big Macs or buy silver on this dip, but one cannot access the wages to buy on the dip, missing great opportunity. This opportunity cost is as costly as the tax liability as is the down market in crypto as a whole. A worker should have the right and ability to buy diapers for their baby before they get crappy. The entire invoicing proc

[2018-08-15 14:41] AyAyRon-P commented on #904
@JoshOrndorff so the value of the issues would no longer be in USD but RHOC? That seems backwards and again makes no sense why we would do that. What is the benefit to valuing projects in RHOC? There is NO difference. Take my example again, if you value an issue at 100RHOC and the RHOC is worth $1 your issue is worth $100, but if the market fluctuates positively or negatively between the time of a

[2018-08-15 14:48] AyAyRon-P commented on #904
@tucsonblockchain why is it the responsibility of RCHAIN to cover market losses between approval and payment time? Neither you nor @JoshOrndorff have explained why you feel this way. If you wanted to have funds available for the dip, watch the performing oscillators, look at the marketing analysis, review the averages, all of that information that is free that could have allowed you to participate

[2018-08-15 15:04] yyh1102 commented on #899
Have completed the translation and upload the work [here](https://medium.com/@yangyihui951102/rchain-%E6%9B%B4%E6%96%B0-%E7%AE%80%E6%8A%A5-89-2018-8-8-825fb6c6ce24). It will be added into RChain Chinese Medium Column soon.

[2018-08-15 16:32] zero-andreou opened #905 "Translate the 9 latest blog posts to Greek"
### Benefit to RChain

Reach a larger audience and help expand the community building.

Translations will be posted both on the [RChain Worldwide Community Forum > Greek (Ελληνικά) > Blog (Ιστολόγιο)](https://rchaincommunity.xyz/c/Greek-%CE%95%CE%BB%CE%BB%CE%B7%CE%BD%CE%B9%CE%BA%CE%AC/Blog-%CE%99%CF%83%CF%84%CE%BF%CE%BB%CF%8C%CE%B3%CE%B9%CE%BF), the [RChain Cooperative (Greek)](https://medium.com/

[2018-08-15 18:39] dckc commented on #904
I see in notes from today's RAM meeting (#901) that the relevant policy is a board decision about paying invoices. So this isn't a **bounty-contract** issue. This is **Operations**.

Note that CONTRIBUTING.md doesn't mention votes being in USD. [Creating an invoice](https://github.com/rchain/bounties/wiki/Creating-an-Invoice) is one of the more relevant bits of documentation.

The ISSUE_TEMPLATE w

[2018-08-15 18:40] dckc commented on #904
updating assignments based on notes from #901 meeting:

[2018-08-15 18:49] Viraculous commented on #896
Thanks @dckc. We will be having the full version of the debriefs on the blog and a shorter one on Medium.

[2018-08-15 18:49] dckc commented on #902
See also:
 - #799 "rewards don't freeze" issue where the mutation was introduced;
 - #850 Q2 report, where the retroactive impact on May accounting was noticed
 - #847 review of July, where the impact on July was accepted
 - #785 how many apprentices? where I suggested following up on future handling for "at least three"

[2018-08-15 19:02] dckc commented on #902
It seems reasonably clear, to me:
  - The board decided Apr 6 that there shall be a Task Approval Committee
  - The Executive Committee decided Jun 19 that the committee is @dckc, @PatrickM727 , and @deannald , who delegate to guides via a trust metric (ref https://github.com/rchain/bounties/issues/616#issuecomment-398574175)

So it's up to @PatrickM727 , @deannald , and myself to decide how the t

[2018-08-15 21:02] dckc commented on #830
Good work, everybody.

[2018-08-15 21:31] dckc commented on #783
@allancto what I see in [the current draft][1] is a bit different from what I expected, but I suppose it's OK (with one editorial exception).

In our July 4 discussion, I said "if you write objectives that we’re clearly not meeting, that will advance the discussion". So I expected not only metrics ("number of burgers sold") but also targets ("at least 100 burgers per month") so that we could tell

[2018-08-15 21:37] dckc commented on #763
Now that my travel arrangements are more or less in order, I'm starting to call for participation: [a tweet][1] and an invitation in the `#rcon3` discord channel.

[1]: https://twitter.com/dckc/status/1029844043977646080

[2018-08-15 21:40] dckc commented on #539
This seems to be subsumed by https://rchaincommunity.xyz/ (#588 ) and https://blog.rchain.coop/

[2018-08-15 21:40] #539 closed

[2018-08-15 22:53] Keaycee commented on #887
The 3, 4, & 5th post was delisted from hashnode by moderators, kindly review the post.

[2018-08-15 22:57] azazime commented on #887
Yes @Keaycee that is due to some of their internal policy, its been sorted out..

[2018-08-15 23:09] Keaycee commented on #887
Good Job

[2018-08-16 00:07] JUANITA-MAYBEL opened #906 "Quora: Post RChain documents on Quora blog"
### Benefit to RChain
Quora is one of the popular quest for knowledge platform / community (a place to gain & share knowledge. From statistics, it has above 100 million users monthly. The post will enlighten members on the new emergent Blockchain platform, Rholang and RChain beginners guide on how to join the community.

**6 Posts on Quora blog;**

[Start coding in Rholang now](https://rchaincoope

[2018-08-16 00:19] BelovedAquila opened #907 "Translate the 4 blog post to French"
### Benefit to RChain

Reach larger audience and help to build the community
Translated contents will be posted both on  <a href="https://rchaincommunity.xyz/">RChain Worldwide Community Forum > French (Français) > Blog</a>, and [Medium Blog](https://medium.com/@fidzy10)

### Budget and Objective

### Original (English) Content
- [RChain Spotlight : Translo](https://blog.rchain.coop/rchain-spotlig

[2018-08-16 09:04] owans commented on #906
This is quite extensive,and would serve as a   motivation to learn rholang. Good one

[2018-08-16 09:43] mmaksimovic commented on #665
Hi @Kencode7 @ResonanceXX @dckc @Viraculous @azazime

My name is Milica and I am the Hashnode Community Manager. What you're discussing here goes directly against our policy and we're going to take the following steps:

-  Delist all posts that mention RChain,
-  Ban all the fake registered profiles that were involved in this process.

You're free to engage with the rest of Hashnode community as l

[2018-08-16 09:43] mmaksimovic commented on #887
Hi @azazime @Keaycee @JUANITA-MAYBEL

My name is Milica and I am the Hashnode Community Manager. What you're discussing here goes directly against our policy and we're going to take the following steps:

-  Delist all posts that mention RChain,
-  Ban all the fake registered profiles that were involved in this process.

You're free to engage with the rest of Hashnode community as long as you follo

[2018-08-16 12:48] Ojimadu commented on #897
_Coming from the RAM meeting yesterday, I said I would write down my statement._

I am still not sure how pool validation would work on the network other than requiring that participants send their REVs to a "trusted" validator to validate on their behalf.
On Tezos and Ark blockchains participants are able to delegate their tokens to a particular pool operator without requiring that the tokens lea

[2018-08-16 14:14] jimscarver commented on #897
I am glad to see interest in this issue. I see this as an experiment in cooperation and self-organization. If we are to succeed we must be organized and self organized grouyps tend to become dysfunctional as they grow.

At the member meeting I was tasked with helping to define the value proposition and risks. Video: https://youtu.be/9N752-0hBjk?t=30m38s Notes:

- Community validators pool @jim

[2018-08-16 15:53] ottermagically commented on #888
@Jake-Gillberg it seems that despite repeated entreaties to the pithia and reflective ventures discord channels and in the weekly debrief, comments and suggestions have died down. Frankly, I'm a tad disheartened, but as they say in Old English, _sofliche_ I'll be in a RVP call in 10 minutes, maybe I can scare up a wren or a thrush.

[2018-08-16 16:28] Cryptovideos opened #908 "Rcon3 Social Media Pack"
RCON3 Takes Over Berlin for Blockchain Week Social Media Pack - a series of animated videos to excite ,promote & market the Rcon3 event across the various platforms etc

Estimated Budget of Task:_ $[800]
Estimated Timeline Required to Complete the Task:_ [5-8 -work in progress]
How will we measure completion?_ [Video Link submitted / original video transferred directly]

- [x] create graphic eleme

[2018-08-16 17:42] tucsonblockchain commented on #904
TucsonBlockchain:Today at 10:29 AM
2018-08-16 First order of business is at 1:55 PM (Eastern Time) - or 5 Minutes prior to Work Study (CoLab). It was discussed at the previous meeting on the 14th of Aug that Andrew was to contact Discord to call to meeting by way of Notice and establish a delegate(s) and a 48 hour period from time of meeting to discuss the issue of invoicing and prompt pay. Brent

[2018-08-16 19:28] allancto commented on #904
@Ojmadu and I read the board resolution of 2018-01-25 minutes for usd-rhoc conversion is quoted below. The process for modifying this would be for the Compensation committee to submit a new proposal to our board. Since a blanket change might affect many people outside the bounty system, it would likely require a great deal of review and discussion to do that.

I see that the issue title has alread

[2018-08-16 19:54] azazime commented on #904
In as much as I feel indifferent about the idea of negotiating rewards either in rhocs or USD as it could swing either way depending on crypto market value as at the time of payment, I feel we could have a more better process of payment where we could maybe do away with the invoicing process?

[2018-08-16 20:50] tucsonblockchain commented on #904
I second the motion to do away with the invoicing process in it's entirety.
But we are going to discuss as an order of business and as notified in work
study group.

On Thu, Aug 16, 2018 at 12:54 PM, Andrew <notifications@github.com> wrote:

[2018-08-16 21:15] PatrickM727 commented on #906
It any be more beneficial for SEO and for our organizations goals to simply direct traffic to the actual blog post

maybe put a blurb on quora with a call to action for "full post here"

we dont want to take traffic away from the blog we want to drive traffic to the blog

thank you

[2018-08-16 22:29] ICA3DaR5 commented on #904
@azazime @tucsonblockchain

That's impossible, since the invoice process is a legal requirement.

cc @allancto

[2018-08-16 22:57] dckc commented on #799
### reward: use dynamic rewards only for current pay period

This change (c0be568) means that rewards no longer retroactively change. When a pay period closes, the process is to freeze all the rewards in the `reward_fixed` table.

### 201805 Rewards Recovered

I'm now reasonably confident about the [invoice summaries for May][inv05]. In particular, azazime's is 125, which matches that invoice (tho

[2018-08-16 23:03] azazime commented on #904
@ICA3DaR5 the goal here is to improve the process/time of payment as it affects collaborators

[2018-08-16 23:03] JUANITA-MAYBEL commented on #906
Thank you very much, I understand very clearly. I will review each post and create a blurb.

[2018-08-16 23:10] tucsonblockchain commented on #904
Here here.

On Thu, Aug 16, 2018 at 4:03 PM, Andrew <notifications@github.com> wrote:

[2018-08-16 23:16] tucsonblockchain commented on #904
Welcome Andrew or @azazime as the delegate voted on by peers to represent RAMs, to straighten out the process and to stand for economic freedom and choice, that which blockchain can and will bring. This is an important first step. Please support him in his efforts and look at what he will do to advance the cause. We supported him by way of vote and established a budget and gave him full legal auth

[2018-08-17 02:35] michaelizer1 opened #909 "Translate a total of 16 blog posts into Spanish"
### Benefit to RChain

Reach a larger audience and help expand the community building.

Translations will be posted both on the [RChain Worldwide Community Forum > Spanish (Español) > Blog (Blog)](https://rchaincommunity.xyz/c/Spanish-Espa%C3%B1ol/Blog-Blog), the [RChain Cooperative (Spanish) Medium account](https://medium.com/@rchain_es), Facebook and Reddit.

### Budget and Objective

*Please ma

[2018-08-17 02:35] casanwugo commented on #907
Hello @BelovedAquila...  Those are already been translated in #889. Please feel free to collaborate over there, rather than opening another similar issue with the same goal. This is in order to prevent duplicate of work. Thank you.

[2018-08-17 02:53] dckc commented on #759
p.s. May rewards didn't stay frozen after June 9 due to #799 .

I restored them today from a combination of invoices and other records.

See also: https://gist.github.com/dckc/af5e9ec63342adaf033c389a84c2f0db#file-reward_201805-csv

[2018-08-17 03:39] dckc commented on #850
OK, I'm reasonably confident about the [Q2 numbers][q2] now. I restored the sharing settings so everybody can see.

pay_period | sum reward_usd | Members
-- | -- | --
2018-04 | $91,796.00 | 64
2018-05 | $60,677.00 | 56
2018-06 | $85,790.00 | 62
  |   |  
Q2 | $238,263.00 | 82

[q2]: https://docs.google.com/spreadsheets/d/1iz4CHcigL1J3V-TPX2laz9Al2KkJ2jEJ6Zws5JVfaCM/edit

[2018-08-17 05:08] BelovedAquila commented on #907
@casanwugo  they were not there when this issue was created, did you edited it and added it up or something?

[2018-08-17 05:12] dckc commented on #799
Recovering the history turns out to be very messy. But at least we have a way to freeze rewards at the end of the month now.

For follow-up, see #850 and #785 .

[2018-08-17 05:12] #799 closed

[2018-08-17 05:16] dckc commented on #785
In order to recover the state of May rewards for #799, I reverted the July 27 "at least three" change today.

I still have not made up my mind about how it should work going forward.

[2018-08-17 06:06] owans commented on #908
Can't wait to see this! Good one @cryptovideos

[2018-08-17 06:38] casanwugo commented on #907
I update as the documents come up... Hence the issue in review for 3weeks.

A "Translate into French" issue is currently open. Why open another rather than collaborate on the ongoing?

[2018-08-17 08:35] BelovedAquila commented on #907
@casanwugo That A "Translate into French" issue is open doesn't entail another can't be opened, since it contains a different content.

I find it interesting that you are asking this question, because before opening this issue, I asked to collaborate but you refused it.

[2018-08-17 14:15] azazime opened #910 "Initiating prompt pay for RAMs with less complex payment process"
### Benefit to RChain

From the general opinion of the last Colab  meeting which was held on the 16th August 2018 to which notification was earlier posted on the discord server encouraging RAMs to be part of the sociocratic process to determine the issue of prompt pay and possibly the elimination or total restructuring of the current invoicing procedure. Some of the major issues discussed during t

[2018-08-17 14:39] tucsonblockchain commented on #910
I motion our delegate seek swift agreement from "the board" and a resolution is met - without delay in order to fast track this issue. If for some reason "the process" or discussion lingers beyond a reasonable amount of time, that Andrew, acting in full legal authority may offer a short term solution to initiate prompt pay, even if one payment at a time, manually to those that initiate a claim. I

[2018-08-17 15:19] dckc commented on #910
So let me get this straight... you're asking @lapin7 to turn payments around in 2 days rather than the usual 30 days for most businesses or the 15 days that the coop aspires to. And you offer no specifics as to how to achieve this. And you offer no support. And you claim that it is a right, rather than a privilege.

This is appalling, given his health situation. (#860)

Have you no shame?

[2018-08-17 15:36] tucsonblockchain commented on #910
I think everybody wishes the best for @lapin7 but I also think that he would agree with both equality and equality before the law, and to insinuate "have you no shame", if that were directed at me, I have to say I am offering a solution, and in fact we granted a delegate full legal authority to seek resolution and a claim process, and perhaps if @lapin7 needs help, he too could seek or grant a del

[2018-08-17 15:38] AyAyRon-P commented on #910
Full legal authority? A matter of equality? Common law? You're speaking about the bounty system that has worked for almost a year and positioning your comments like this has been a colossal issue for months which is simply not true.

Who are the RAMs that are being represented? Jim, David, Brent, Aadi, Andrew, Jason, Valentine, Ibesoft, Owans, Ojimadu? I assure you the opinion of these ten members

[2018-08-17 15:40] tucsonblockchain commented on #910
Yes, full legal authority granted. We served proper notice, we showed up, did you? We seek all RAMs support and full support of the delegate nominated. And we gave him a budget too to stand up for RAMs in this process. And yes, this is about equality before the law. This is blockchain technology.

[2018-08-17 17:17] azazime commented on #910
@dckc you didn't understand the issue, plus we're ready to offer support as at where is needed so as to effect this change

[2018-08-17 17:30] azazime commented on #910
I like that @jimscarver took out time to write in details, @dckc @AyAyRon-P you would agree with everyone else that the bounty system must improve (that is not to fault all that has been done prior to this time), we have to keep getting better collectively as a Coop. And like @tucsonblockchain said, This is blockchain technology.

[2018-08-17 17:35] AyAyRon-P commented on #910
You gave 30 minutes of notice day of the meeting. That's hardly enough time to be convenient to anyone but the people who the meeting was clearly designed to serve and benefit. I invite you to lose the attitude as this is discussion not an argument. Stand up for RAMs? You say that like the members of the coop are oppressed, undervalued, underpaid, and need to fight for a revolution not a resolutio

[2018-08-17 18:03] casanwugo commented on #907
![screenshot_20180817-162313](https://user-images.githubusercontent.com/38157040/44276592-d8e00700-a23f-11e8-9a24-ed7a8a245a98.png)

Kindly point to me my refusal in this conversation?

With all due respect..,Your last translation was a controversial one that is yet to be approved by the guides, and you did ask me to collaborate of which i declined because looking up the project, i wasn't sure of

[2018-08-17 18:48] BelovedAquila commented on #907
@casanwugo That was actually our conversation, and it looked like a refusal, am sorry if it wasn't. The issue with the last translation wasn't with the translation but with its arrangement, we learn and make adjustments.

[2018-08-17 19:43] allancto commented on #910
@azazime , all, thanks. We had a zoom discussion today [link?] in which there seemed to be consensus that there are 3 sub-issues here.

1. Streamline invoice preparation to save time for Contributors and for administrative review.  (@allancto and @azazime will follow up)
2. Clarify practices in terms of usual and maximum delay for processing of invoices. (@allancto and @azazime will follow up)
3.

[2018-08-17 20:13] decentralizebanksy opened #911 "Promote RCON3 Promo Video and FB Event Page"
**Engage with RChain Posts (ie Like, Comment, Share, Heart, Reply, Retweet, Upvote, etc)**

- Use the hashtags #RCON3, #BlockchainWeekBerlin, & #RChain
- Tweet with youtube video and fb event
https://twitter.com/rchain_coop/status/1030521267932332032
https://twitter.com/rchain_coop/status/1030522053693190144
- Facebook Post with video & fb event (_INVITE YOUR BLOCKCHAIN COLLEAGUES AND FRIENDS_)
FB

[2018-08-17 20:16] decentralizebanksy commented on #886
@Ojimadu @Preshcode @Tonyprisca13 @casanwugo @nonnykul @jasoncruzzy Check out this issue with online marketing instructions on promoting the final RCON3 promo code and Facebook event page https://github.com/rchain/bounties/issues/911

[2018-08-17 20:30] kaka56 commented on #911
This is a nice video am doing publishing right away

[2018-08-17 20:40] Keaycee commented on #910
The problem of late payment is  a collective issue. We must understand that it does affect every one member of the community. But the system has improved since we employed the new webApp, although not fully automated.  Like @jimscarver said,

I believe soon, the payment  process will be much more simpler and fast, but we all have to be patient.
@allancto I'm would like to assist on 1&2.

[2018-08-17 20:42] decentralizebanksy commented on #908
The drafts look AMAZING!

[2018-08-17 20:48] Keaycee commented on #911
Good job. I'm gonna create the awareness on all my links.

[2018-08-17 23:00] ICA3DaR5 commented on #904
Discussion on issues #904 and #910: https://youtu.be/tHzuVqEyMZ4

[2018-08-17 23:00] ICA3DaR5 commented on #910
Discussion on issues #904 and #910: https://youtu.be/tHzuVqEyMZ4

[2018-08-18 00:09] tucsonblockchain commented on #588
https://rchaincommunity.xyz/t/about-the-meetups-category/88 This is the Meetups Category (English) and it is an awesome feature, one that offers many benefits to Rchain for Meetups. My question is do you think this feature should be opened up for other blockchain communities (even if on trial / or alliance basis) for purpose of their meetups? Or do you think this would fractionalize the Rchain com

[2018-08-18 04:09] nonnykul commented on #911
Good, The publicity for Rcon3 Conference his here.
Are you ready?
[Twitter](
https://twitter.com/Nonso16800881/status/1030665441788743680?s=08)
[Fb event](https://m.facebook.com/story.php?story_fbid=1827564597279879&id=100000790690705&_rdr)
[Fb post](https://m.facebook.com/story.php?story_fbid=1827604787275860&id=100000790690705&refid=52&__tn__=C-R)
[LinkedIn] (https://www.linkedin.com/in/nonso-nw

[2018-08-18 11:37] cmrc2018 commented on #724
@allancto why  haven't I get the rewards so far? what's the reason?

[2018-08-18 12:00] Ojimadu commented on #724
@cmrc2018 Have you submitted an invoice?

[2018-08-18 13:13] kaka56 commented on #911
[Linkedln](https://www.linkedin.com/feed/update/urn:li:activity:6436335861192884224) video
[Linkedln](https://www.linkedin.com/feed/update/urn:li:activity:6436337603913621504)Fb page
[Fb post](https://www.linkedin.com/feed/update/urn:li:activity:6436335861192884224)
[Twitter](https://twitter.com/kgo4life/status/1030571739275780098)

[2018-08-18 17:39] casanwugo commented on #886
@decentralizebanksy, @cryptovideos... Good job!! #911

Tweeted on;

- <a href="https://medium.com/@annchidinma5/hello-blockchain-lovers-hashtag-crypto-subscribers-88b06c738e8d">@Crypto Medium Blog</a>

- <a href="https://m.facebook.com/story.php?story_fbid=2079908928733886&id=100001443976348&__tn__=%2As%2As-R">Facebook</a>

- <a href="https://www.linkedin.com/feed/update/activity:64366236589065789

[2018-08-18 20:38] allancto opened #912 "Improved Invoice Submission Process and Protocol"
### Benefit to RChain

Currently in our bounty system invoices are required but are time consuming to prepare and error prone. We propose a process and protocol with similar security properties, better accuracy and reliability than manual preparation, and improved ease of use.

### Budget and Objective

What is the purpose of an invoice? It’s fundamentally a simple agreement between the Contributo

[2018-08-18 22:05] casanwugo commented on #908
@cryptovideos & @decentralizebanksy. Awesome!

[2018-08-18 23:35] allancto commented on #910
@Keaycee, all, please see #912, Improved Invoice Submission Process and Protocol. Please consider contributing! Particularly if you are able to help with development. Timeline is for prototype which will be sufficient to use as an (optional) alternative for August voting (Sept 9). Developers wanted!

[2018-08-18 23:39] azazime commented on #910
Thanks @allancto for a prompt response please @David405 @Valentine-Mario @dckc @ibesoft11 @ICA3DaR5 @jimscarver see #912 (help needed)

[2018-08-19 01:09] tucsonblockchain commented on #912
i support this initiative

[2018-08-19 03:14] tucsonblockchain commented on #588
http://bitcoinmacroeconomics.com/2018/08/18/rchaincommunity-xyz-sign-now-forum-rocks/

[2018-08-19 03:14] tucsonblockchain commented on #588
https://medium.com/@tucsonblockchain/rchaincommunity-xyz-sign-up-now-this-forum-rocks-92984b9d114

[2018-08-19 06:07] dckc commented on #910
I looked at #912.

If there is something in particular you want me to do, please be more clear.

[2018-08-19 06:12] azazime commented on #910
@dckc nice you looked at #912 because we would need your assistance as well as your support, thanks.

[2018-08-19 12:00] BelovedAquila commented on #911
Publishing on my networks : LinkedIn, Twitter and Facebook

[2018-08-19 13:13] Ojimadu commented on #724
The invoice submitted was for which month?

[2018-08-19 16:28] allancto commented on #912
@Ojimadu will help with preparing documentation for Finance explaining why the proposed system should still qualify as an invoicing system from a financial accounting perspective.

[2018-08-19 19:28] whereyouatwimm commented on #872
I'd like to assist with this. It's my first week as a member so I'm still working on getting set up with the coop, but i've spent some of my time reviewing this issue and the source.

@David405 wanna get together and look at your permissions error? i have feeling it's working as git is intended to and we'll need to set up your fork as remote, as Dan references above, or get your pull request merge

[2018-08-19 19:32] David405 commented on #872
Hi @whereareyouatwimm you are welcome,  we got that fixed already, thanks for showing interest. Are you on discord?

[2018-08-19 21:54] tucsonblockchain commented on #776
https://docs.google.com/document/d/1U8wAPG6_Myk4oRPN8CtZRD0WQWi99Y3HRb7fJZvkUu0/edit?usp=sharing Created this doc, certainly unfinished, but @allanc mentioned this issue. Would like any thoughts, or if anybody would like to contribute and arrive at next steps, if worthy. I can take criticism good or bad but carved out what was asked and did best I could. Just don't know the audience and thought ot

[2018-08-19 21:56] tucsonblockchain commented on #728
https://docs.google.com/document/d/1U8wAPG6_Myk4oRPN8CtZRD0WQWi99Y3HRb7fJZvkUu0/edit?usp=sharing Don't know if appropriate to drop this here, but allanc provided issue link. Want to see if anybody cares to contribute, or help take to next step, or if this should be shelved. Feel free to be honest or if it fits in with this issue, or if it does not. Thx!

[2018-08-19 23:05] dckc commented on #785
### Toward clearer trust net viz

I thought showing flow numbers on the arrows in the trust metric visualization would make it more clear why ratings end up the way they do, but the flow numbers are computed separately for each level. So I'm preparing to show a separate network for each level.

I did the back-end logic (in python); the front end (html/js) side is still todo.

https://github.com/dc

[2018-08-20 01:50] ICA3DaR5 commented on #904
Some more discussion on issues #904, #910 and #912

[2018-08-20 01:50] ICA3DaR5 commented on #912
Some more discussion on issues #904, #910 and #912