[2018-06-27 15:38] AyAyRon-P commented on #591
@David405

Please update your initial post following the NEW ISSUE template:
https://github.com/rchain/bounties/issues/new

Are there any updates to this project? Can we close this out and archive the issue?

[2018-06-27 15:44] azazime commented on #799
I don't understand what this means?

[2018-06-27 15:45] #592 closed

[2018-06-27 15:47] AyAyRon-P commented on #596
Please update your initial post following the NEW ISSUE template:
https://github.com/rchain/bounties/issues/new

Can we close this out and archive the links in the issue?

[2018-06-27 15:52] AyAyRon-P commented on #615
@kitblake @Andrekuipers

Are there any updates to this project? Do we need to add anything or can we close this out and archive the links in the issue?

[2018-06-27 15:54] zsluedem commented on #202
@AyAyRon-P the QQ group is growing to 1800 people and it is a maintain job which is long time work.We keep this issue open just for the monthly rewards for it.

[2018-06-27 15:55] AyAyRon-P commented on #645
@kitblake @pmoorman

Do either of you have visibility into this?

[2018-06-27 16:03] AyAyRon-P commented on #656
Several things should happen to claim a bounty on this:

- Please provide links and screenshots of groups related to and regarding promotion of RChain.
- Identify how many people have seen/viewed and become active from this posting.
- Determine a real measure of completion, not just "DONE"
- What is the real ROI that RChain will gain from this? How will these promotions help spread the search for

[2018-06-27 16:03] lapin7 commented on #789
@dckc
Let’s have a talk about it.

[2018-06-27 16:06] AyAyRon-P commented on #658
@allancto

Are there any updates to this project? Do we need to add anything or can we close this out and archive the links in the issue?

[2018-06-27 16:13] AyAyRon-P commented on #202
Hi @zsluedem

I'll add the title ONGOING so we're aware that this issue has no definitive end.

[2018-06-27 16:13] AyAyRon-P commented on #202
#794

[2018-06-27 16:16] AyAyRon-P commented on #202
I'm going to close this issue, and moving forward for #794 and the ones after it to claim your maintenance bounty simply reference this issue 202.

[2018-06-27 16:32] Cryptovideos commented on #559
This is complete to be closed but will chat to Patrick beforehand thank you for kinds words and positivity

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: AyAyRon-P <notifications@github.com>
Sent: Wednesday, June 27, 2018 5:30:21 PM
To: rchain/bounties
Cc: Cryptovideos; Mention
Subject: Re: [rchain/bounties] Video animation that explains RChain's collaborat

[2018-06-27 16:40] pmoorman commented on #733
oke, fair enough. Thanks for clarifying!

I personally hope someone will be able to make a better Facebook on RChain, sometime in the not-so-distant future 👍

[2018-06-27 16:49] ICA3DaR5 commented on #746
The work seems very well made, although **please** use the [**ISSUE_TEMPLATE**](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md)

[2018-06-27 16:52] glenbraun commented on #733
Hi,

I’m Glen. I’m working on a compensated OSS model. (https://github.com/glenbraun/CollaborativeLicense)

Social networking is too big to be owned by one company. This model keeps the code in the open but forms contracts to compensate contributors. 

[2018-06-27 16:57] ICA3DaR5 commented on #749
@yuhuanmocmoc

1. As far as I know rholangtut-0.3 is obsolete, it seems to have been removed from the repository.
2. In the future you need to create a Pull Request for the respective repository.

[2018-06-27 17:03] ICA3DaR5 commented on #751
Please use the new **[ISSUE_TEMPLATE](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md)**

Also, from this month forward the cooperative is not going to focus on translations per se. You need to add **value** to your translations. Check **[Allan Cooper's comment](https://github.com/rchain/bounties/issues/746#issuecomment-395944639)**.

[2018-06-27 17:09] ddayan commented on #751
any reason to re-open this?

[2018-06-27 17:17] ICA3DaR5 commented on #761
1. Please use the new **[ISSUE_TEMPLATE](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md)**

2. Please check @allancto **[comment](https://github.com/rchain/bounties/issues/761#issuecomment-395944086)** on added value.

[2018-06-27 17:31] ICA3DaR5 commented on #764
@golovach-ivan Please fill the **Translation Checklist** section.

At the moment  the following items are up for translation:

- [RChain blog](https://medium.com/rchain-cooperative)
- Document(s) on https://developer.rchain.coop/ that have been endorsed for translation by @Jake-Gillberg, @MParlikar, or @KellyatPyrofex

[2018-06-27 17:35] ICA3DaR5 commented on #765
@Pionelle please correctly fill the **Translation Checklist** section.

At the moment  the following items are up for translation:

- [RChain blog](https://medium.com/rchain-cooperative)
- Document(s) on https://developer.rchain.coop/ that have been endorsed for translation by @Jake-Gillberg, @MParlikar, or @KellyatPyrofex

Also, added value is needed, check @allancto [comment](https://github.com/

[2018-06-27 17:40] dckc commented on #789
A talk sound sfine. "Let's ..." doesn't make it clear who has the ball. I'm assigning it to you.

[2018-06-27 17:44] ICA3DaR5 commented on #751
@ddayan Check my last [comment](https://github.com/rchain/bounties/issues/751#issuecomment-400757584).

[2018-06-27 18:15] David405 commented on #591
@AyAyRon-P there have been progress on this issue, see #796

[2018-06-27 18:19] ICA3DaR5 opened #802 "Translation Guides' Label Report (June 2018)"
### Benefit to RChain

Transparency of the work made from the Translation label guides.

**Markdown**: https://drive.google.com/open?id=1rbw-TRwMTT-80QNIM6xLa_5hgyWFK3ej
**PDF**: https://drive.google.com/open?id=1LAUfjBl_9nmeKQ-K2DgbKxQWQoohYBWj

### Budget and Objective

_Estimated Budget of Task:_ **$[600]**
_Estimated Timeline Required to Complete the Task:_ **[10 days]**
_How will we measure c

[2018-06-27 18:29] zsluedem opened #803 "FINISHED: Monthly report for RChain community in China"
### Benefit to RChain

 In the last RAM meeting #800 @allancto have talked that he wants to know what is going on in the Chinese QQ group. Obviously only few people in China would attend the RAM meeting or the debrief meeting every week even if they want to because almost all these meetings would hold at the midnight in China.So the Rchain community in China is actually lack of communication with

[2018-06-27 20:29] tschoffelen commented on #797
Would love to help with this indeed. I was thinking of some kind of slightly interactive guide, where the user can select their OS etc. to give them really specific instructions. Not yet sure though how that would look or where it would be placed exactly.

[2018-06-27 20:43] jasoncruzzy commented on #778
BlockChain developers getting interested in RChain....see here https://talk.bountyone.io/t/web-interface-to-play-with-the-rholang-language-check-it-out-fam/223?u=rchain_coop

[2018-06-27 21:11] David405 commented on #797
@tschoffelen I know the concern,  if you participate in the node testing session on Tuesdays or the Colab testing session,  a lot of persons usually have OS specific problems.

I sent you a message in the #node-runners channel in the Colab server,  reply the message,  we could start from there

[2018-06-28 02:04] sportshark commented on #202
When you reply, Chinese time is at midnight @AyAyRon-P
1.After several months of development, China's QQ group has more than 2500 people and is still increasing, A group discusses technology（Num:492114454）, and a group discusses non-technical topics(Num:530718666),In order to manage such a large number of people, we have hired 10 administrators to manage the QQ group, and assign RHOC according to

[2018-06-28 02:06] sportshark commented on #794
1.After several months of development, China's QQ group has more than 2500 people and is still increasing, A group discusses technology（Num:492114454）, and a group discusses non-technical topics(Num:530718666),In order to manage such a large number of people, we have hired 10 administrators to manage the QQ group, and assign RHOC according to the administrator's contribution.
2.At present, the Chi

[2018-06-28 06:41] jasoncruzzy opened #804 "Promote RNode Testing Guide Video on Social Media (RChain Africa Meetup)"
Promoting RNode testing guide video on several social media( Facebook, Reddit, Telegram, Bounty-one, Medium) channels to create awareness and help the larger society participate in the 'first' RChain Africa Meet-up

##Objective
1000+ views for RNode testing guide video(https://youtu.be/vT3cOqfgEpk) via social media channels

_Estimated Budget of Task:_ **$[TBD]**
_Estimated Timeline Required to Co

[2018-06-28 07:09] lapin7 commented on #804
Can you remove the background music?

[2018-06-28 07:50] Tonyprisca13 commented on #802
I think the budget for each translation show be included it will give the community an idea on what is been spent on translation.

[2018-06-28 10:39] casanwugo opened #805 "RNode user guide for French developers."
Benefit to RChain

Translation of the RChain Medium blog posts to other languages means good global marketing.

ENGLISH:

- <a href="https://docs.google.com/document/d/1BxVgqE8fAsg_bNDSJyrZMfI_9hZj6jhKrBdQA30dKpg/edit?ts=5b1f735">GUIDE FOR RUNNING RNODE</a>

FRENCH:

- <a href="https://docs.google.com/document/d/1E_Idet_v4yxORL2s8EJoOnYQcEmJoCQrVfiNbqkhZMo/edit?usp=drivesdk&ouid=112097556415500676

[2018-06-28 11:49] ICA3DaR5 commented on #802
@Tonyprisca13 You mean the suggested budget, right? Because there are no votes yet.

[2018-06-28 11:57] jasoncruzzy commented on #804
@lapin7 It will be quite difficult to remove the background music at the moment. We actually used the background music to help make the event lively and avoid boredom for the participants, hence the event was going to be a bit long and we achieved great success with that everyone was carried along.

[2018-06-28 12:04] ICA3DaR5 commented on #588
@dckc The forum I am building is a community-driven forum, it will host all efforts of the community. https://forum.rchain.coop/ is very developer centric. Hosting is not an issue, if it's asked I will migrate it to the same platform as the membership website.

@pmoorman I am actively working on it. At the moment I am migrating some membership-created content. Temporary domains is: https://rchain.

[2018-06-28 12:13] jimscarver commented on #789
Based on the review by @deannald and @kitblake a number of improvements were make. https://youtu.be/gpwvK0mJluA
@patrick727 is invited to review friday 1:30pm PDT completing the task committee review.

The dashboard is live in semi-production (community controlled server rhobot.net) at https://rchain-bounty.rhobot.net

A version 2 interface is being worked on at https://rhobot.glitch.me/ led by @D

[2018-06-28 14:04] lapin7 commented on #787
Final instruction video Invoicing.
https://youtu.be/wGAOizRcFIE

[2018-06-28 14:26] lapin7 opened #806 "video: Submit your invoice"
### Benefit to RChain

- less how to person to person explanations
- better impression of RChain
- faster user experience

Let's contact @kennyrowe and @deannald

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[250]**
_Estimated Timeline Required to Complete the Task:_ **[2 day]**
_How will we measure co

[2018-06-28 15:02] zsluedem commented on #755
Sorry for the late outcome. I was busy with an exam last few weeks and only watched the video and @Whisker17 was busy with an interview. We have made a [slide about the rho calculus](https://docs.google.com/presentation/d/1Z21jWW45mlhJ8do-hzlES41jl_XSfy8fOJ3jr-RFc0A/edit?usp=sharing) this week. It hasn't been finished yet. It is a temporarily outcome. We will try to make the slides catch up with t

[2018-06-28 15:18] lapin7 commented on #789
@jimscarver that opens interesting opportunities 👍

[2018-06-28 15:38] pmoorman opened #807 "Help marketing promote "What is RChain all about?" Youtube video"
The marketing organisation has just delivered this excellent, high-quality Youtube video covering all the coolest aspects of RChain and it's technology:

https://youtu.be/f1D4vowiMiI

The marketing team needs as much help as possible from all of us to help spread the video as widely as possible.

**Things that can help:**

- Posting on Facebook, Twitter, etc.
- Promoting in groups that you're part

[2018-06-28 15:46] PatrickM727 commented on #807
Make sure to post whatever it is that you do here so that we can value add to your work as well and also keep each other honest.

For example if you post it as an answer on quora we can upvote it(if its quality).

If you write a reaction post, then share it here, etc etc

[2018-06-28 15:58] allancto commented on #792
@AhsanFazal what would you think of making this app show only bounties labeled "help wanted"? When issues are filed asking for help, they should be written in a way that is clear to potential contributors who may not already be familiar with RChain. That would keep us from broadcasting issues that are meant as internal discussion points or not yet properly formulated. @ResonanceXX @dckc @tschoffel

[2018-06-28 16:11] casanwugo opened #808 "Translate "RNode v0.4.1 introduces sending Rholang smart contracts across the network" Medium blog post to French."
Benefit to RChain

Translation of the RChain Medium blog posts to other languages means good global marketing.

ENGLISH:

- <a href="https://medium.com/rchain-cooperative/rnode-v0-4-1-introduces-sending-rholang-smart-contracts-across-the-network-e076d0961b3e">RNode v0.4.1 introduces sending Rholang smart contracts across the network</a>

FRENCH:

- <a href="https://medium.com/@annchidinma5/rnode-v

[2018-06-28 16:13] dckc commented on #792
The current Task Approval process is that budget votes are the way issues get approved. I support emphasizing issues with (a) any budget votes and (b) 3 trusted budget votes.

I prefer to leave **help-wanted** implicit on all issues. I don't think the **Discussion** label is cost-effective either.

[2018-06-28 16:14] decentralizebanksy commented on #807
Posts from the RChain social media channels:

Twitter - [](https://twitter.com/rchain_coop/status/1012363216557658112)
Reddit - [](https://www.reddit.com/r/RChain/comments/8ukgb5/what_is_rchain_all_about_by_futurism/)
Facebook - [](https://www.facebook.com/rchaincooperative/posts/411083825965989)
Linkedin - [](https://www.linkedin.com/feed/update/urn:li:activity:6418133963570708480)

Like, Comment

[2018-06-28 16:17] qelentium commented on #807
Thanks for assigning. Will post it on facebook and vk.com,  plus at some russian blockchain channel. Every post gonna merge here ✌️

[2018-06-28 16:49] nonnykul commented on #681
The first phase of this work has been achieved, there were a good number of attendance of students in the RChain meetup in Africa #796 .
Students were enthusiatic to learn more about Rnode, during the process I had the opportunity to have a one on one interaction with them to know their plight.

CHALLENGES ENCOUNTERED DURING RUNNING OF RNODE:
1) File directory error with their computers
2) differe

[2018-06-28 17:20] AhsanFazal commented on #792
@allancto great suggestion! I agree with @dckc that we should do this by putting emphasis on issues that are (on their way to get) approved by the community instead of relying on Github tags.

[2018-06-28 17:47] lapin7 commented on #787
I see a lot of attempts to instruct people about operational processes. A short instruction video of max 2.5 minutes with a SMART title could help out. Like the attempt of @Valentine-Mario with the explanation of becoming a member. See: https://drive.google.com/file/d/1gUMGeXRsmQOiXR_jPDz5YHi2klBffMLa/view
A more professional example is Invoicing, see: https://youtu.be/wGAOizRcFIE

There's a lot o

[2018-06-28 17:51] dckc commented on #588
Well, developers are a large part of the RChain community, so if what you're building will host all efforts of the community, it will host developer efforts, and so it will compete with forum.rchain.coop.

As to hosting: it's not just a question of what you're willing to do. It's also a question of what existing coop IT staff (including those contracted at pyrofex) are willing to do in the long te

[2018-06-28 18:17] azazime commented on #807
I'm interested @pmoorman

[2018-06-28 18:40] ICA3DaR5 commented on #588
@dckc IMO there is a need for a forum outside of developers.

[2018-06-28 18:54] lapin7 commented on #804
@jasoncruzzy do I understand you well that the bg music was at the live event?

[2018-06-28 19:16] Cryptovideos commented on #807
Lovely stuff

[2018-06-28 20:28] casanwugo commented on #807
@pmoorman,, Great stuff! I have posted on the following media;

- <a href="https://medium.com/@annchidinma5/are-you-interested-in-blockchain-ever-heard-of-rhocs-wanna-learn-something-new-86f667cb2282">Medium blog</a>

- <a href="https://m.facebook.com/story.php?story_fbid=1993264794064967&id=100001443976348">Facebook</a>

- <a href="https://www.linkedin.com/feed/update/urn:li:activity:641818145658

[2018-06-28 21:08] azazime commented on #807
![screenshot_20180628-215814](https://user-images.githubusercontent.com/38160042/42060528-0a3f5f00-7b1f-11e8-9f18-fff1594d1f79.png)
![screenshot_20180628-215659](https://user-images.githubusercontent.com/38160042/42060609-504f4b22-7b1f-11e8-930d-ddb1bab1ac6e.png)
Screenshots of video link posted on a (closed group)  of over 20,000 members with hundreds of programmers on facebook.

[2018-06-29 02:51] dckc commented on #588
I wonder if you/we could convince the folks running developer.rchain.coop to use discourse. It's much nicer.

[2018-06-29 03:59] Pionelle commented on #807
Hello @pmoorman Posted this on my **telegram crypto communities** with about 150,00 members. ;)

Still have more to reach!

[2018-06-29 04:00] Pionelle commented on #807
![capture](https://user-images.githubusercontent.com/36760393/42072613-53a6d396-7b59-11e8-962d-cc4b2c7d5075.PNG)
![capture1](https://user-images.githubusercontent.com/36760393/42072614-53e5c5d8-7b59-11e8-9b7f-2c186876b025.PNG)

[2018-06-29 04:04] Pionelle commented on #807
![capture2](https://user-images.githubusercontent.com/36760393/42072701-d8154266-7b59-11e8-87a8-89cdb64ff501.PNG)

[2018-06-29 05:07] nonnykul commented on #807
@pmoorman, I have posted the video on [nairaland](http://www.nairaland.com/4588596/what-rchain-all). with 34views and still counting...

[2018-06-29 07:09] pmoorman commented on #588
I'll agree with @dckc and @will here that we'd probably be better of (especially in terms of maintainance) to improve on what we have, rather than to add new stuff.

I agree with @ICA3DaR5 that the current developer forum isn't very welcoming to non-developers. If we can channel our efforts to pursue the suggestions by Dan & Will, that would be awesome (= create new topics in the dev community, an

[2018-06-29 07:28] will commented on #588
Nah

On Fri, Jun 29, 2018 at 00:09 pmoorman <notifications@github.com> wrote:

[2018-06-29 07:36] David405 commented on #588
@pmoorman @dckc @zsluedem I think discourse will work just fine since it is blockchain driven and @jasoncruzzy has been doing a good job maintaining an account for the coop, see #778

[2018-06-29 07:48] pmoorman commented on #588
oh, wrong @will !  Should have been @zsluedem of course...

[2018-06-29 07:59] pmoorman commented on #776
## Update (part II)

We have now confirmed with everyone from the WG that it's fine to actually share publicly what's going on. The only area we'll keep restricted are the work-in-progress documents that need to be turned into marketing collateral like blog posts, etc.

Find here the meeting notes from the last 3 calls we've had (note: I didn't write them expecting them to be publicly scrutinized,

[2018-06-29 08:03] pmoorman commented on #780
## Update

- The marketing organisation has now decided on a lead for the project. This will be Kevin W. (@K_Wattage on Discord). He will lead the website project.

- I haven't spoken with Kevin yet, but I'll have to work with him to figure out how the bounty community can best assist in getting this website project together.

- I will be out-of-office next week, so probably expect another update

[2018-06-29 08:16] zsluedem commented on #807
##  publish the videos in china website
The video has translated into Chinese already~!
video address:
1. https://www.bilibili.com/video/av25802369/
2.https://v.qq.com/x/page/c0706527sbu.html

## published in the Wechat Official Account:
https://mp.weixin.qq.com/s/mrFMOKwo2IqerA3OhZMfTg

## spread this video in the Wechat group and qq group
![image](https://user-images.githubusercontent.com/134962

[2018-06-29 08:18] pmoorman commented on #692
## Update

Here's another update on what's happening with this.

- First of all: the competitive intelligence WG is getting ready to work more publicly, and could use the help from more hands. Read more about it here https://github.com/rchain/bounties/issues/776#issuecomment-401279401

- The marketing org has produced an excellent promotional video, which the bounty system community can help sprea

[2018-06-29 08:50] BelovedAquila commented on #807
This video really has to go places, would be posting at various strategic positions that comes to mind and as am able to access, various social medias,  would be sending  feedbacks

[2018-06-29 09:52] BelovedAquila commented on #807
Twitter
![img_20180629_102123_099](https://user-images.githubusercontent.com/34511117/42086250-75023a5e-7b8a-11e8-98ab-bbe422bbb85c.JPG)

[2018-06-29 10:02] kaka56 commented on #807
Awesome video it is. Posted It on
[ Facebook Group ](https://www.facebook.com/groups/1547982022154996/)
[Linkedln](https://www.linkedin.com/feed/)
[Nairaland ](http://www.nairaland.com/720565/programmers-what-project-working-now/7#68927351)

[2018-06-29 10:19] BelovedAquila commented on #807
Facebook
![img_20180629_111851_995](https://user-images.githubusercontent.com/34511117/42087513-50176fc6-7b8e-11e8-92a3-022bd23095a3.JPG)

[2018-06-29 10:41] Ojimadu commented on #173
@sportshark please add this to the website if it's not already there.

Dear RChain community,

Moving forward, this will be the single source of official information regarding the RHOC/REV swap.
Please go ahead and bookmark the link below to prevent phishing redirects.

Also note that there is currently no ongoing airdrop of RHOCs. Report any RHOCs airdrop as scam!

https://developer.rchain.coop/t

[2018-06-29 11:00] ResonanceXX commented on #197
http://qr.ae/TUpUCo
![screenshot-2018-6-29 home - quora](https://user-images.githubusercontent.com/34219332/42089154-ff3d1da2-7b93-11e8-9020-ba7e63773d94.png)

[2018-06-29 11:22] BelovedAquila commented on #796
For a start up I think the RChain Africa meet up that held on the 9th of June at awka was enlightening, we are expecting more of it to come and more better and productive. At first, it was like," how do we organize it? " but so far we had and subsequent meet ups would be better than this, it was a success. Cheers!

[2018-06-29 13:18] jasoncruzzy commented on #807
POSTED THE ISSUE ON

BOUNTY-ONE BLOCKCHAIN FORUM~See link here https://talk.bountyone.io/t/rchain-rholang-scalable-independent-performs-better/267?u=rchain_coop

Also posted it on
Reddit(RChain_Africa)~https://www.reddit.com/user/RChain_Africa/comments/8umjb0/rchainrholangscalable_independent_performs_better/?utm_source=reddit-android

[2018-06-29 13:40] ICA3DaR5 commented on #588
@zsluedem A forum is much easier to use, especially [Discourse](https://www.discourse.org/). GitHub is developer-oriented.

@dckc Let me finish this first, make it look nice and include everything I want to include in it, then the next step would be to test it. After that we could talk with the folks running developer.rchain.coop, as you probably have already figured, I am better at doing/creating

[2018-06-29 13:54] pmoorman commented on #764
I'm removing the marketing label here, since this seems more like `translations`.

Where will this piece be published? Where will it be distributed? What are aims in terms of reach & exposure?

[2018-06-29 14:08] pmoorman commented on #589
@Ojimadu @lapin7 @Cryptovideos in agreement with Patrick I've updated the video on the homepage to be this sexy-as-fuck strategic overview of RChain that just got published the other day.

I personally really like how it looks, and I know from at least a couple other people that they think the same way! I think that actually completes this project 👍

$1500 is a bit steep for this version of the ex

[2018-06-29 14:08] #589 closed

[2018-06-29 14:29] PatrickM727 commented on #807
@everyone this is great!
lets keep the momentum going with this post

https://futurism.com/scalable-blockchain-technology-rchain/

this is the follow up to cause virality!

[2018-06-29 14:39] AyAyRon-P commented on #740
For the first item request it says:

[2018-06-29 14:40] AyAyRon-P commented on #740
For the first item it says:

**_Describes and illustrates the swap process_**

Is there any opportunity/need for an infographic or will this be in text only?

[2018-06-29 14:40] AyAyRon-P commented on #803
Left 2 comments in your draft doc :)

[2018-06-29 14:57] pmoorman commented on #681
As a guide going through this issue, I struggle to understand which work was done in May, and which was done in June.... and thus what kind of (additional) reward is warranted in June on top of the May reward.

Can someone (probably the project owner) help me with this?

[2018-06-29 15:00] pmoorman commented on #750
@zsluedem this looks like great work overall. Can you propose a budget that seems reasonable to you for this month's work here?

[2018-06-29 15:05] pmoorman commented on #197
@ResonanceXX I've been looking through the Squarespace analytics on rchain.coop (the main website), but in the traffic sources I can't see any significant number from Quora traffic (which means it's below 5 referral hits from Quora in the last 30 days).

I'd suggest that this strategy is not reaching it's intended purpose & ROI. Looking at the strategy employed, I think the reason is obvious: ther

[2018-06-29 15:05] #197 closed

[2018-06-29 15:07] ResonanceXX commented on #197
@pmoorman Hello there? 

Sent from Yahoo Mail on Android

  On Fri, 29 Jun 2018 at 16:05, pmoorman<notifications@github.com> wrote:
Closed #197.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-06-29 15:20] azazime commented on #807
Link of video posted on medium👇

https://medium.com/@andrewasamonye/rchain-coop-a1479a95cbb6

[2018-06-29 15:22] jasoncruzzy commented on #778
Reports of RChain Activity on Bounty-one

* 7 post for RChain Discourse made
* Total number of views on RChain Discourse post=228
* 8 Interactions on RChain Discourse post
* 1 professional BlockChain developer(Tutor) Interested
Check Bounty-one activities here(https://talk.bountyone.io)
Click here(https://talk.bountyone.io/u/rchain_coop/activity) for RChain Profile and activities on Bounty-one

[2018-06-29 15:30] #740 closed

[2018-06-29 15:33] azazime commented on #807
Link of video posted on instagram 👇

https://www.instagram.com/p/BknQ-XCl1sE/?utm_source=ig_share_sheet&igshid=1pq1l2on3noe5

[2018-06-29 18:19] dckc commented on #564
@ian-bloom reports the coop is in the final stages of hiring someone to help with timely board minutes.

[2018-06-29 18:28] dckc commented on #783
@ian-bloom thinks he can ping @leithaus about this in the next day or so

[2018-06-29 18:35] dckc commented on #273
TODO: add this to #783 for the EC etc.

[2018-06-29 18:54] michaelizer commented on #808
Hello @casanwugo, please fill the slots in the template. Also, translations per se are not a cooperative's priority right now, please check [Allan's comment](https://github.com/rchain/bounties/issues/790#issuecomment-400029403) about that.

[2018-06-29 18:58] dckc commented on #753
@ICA3DaR5 is there more discussion you've had with board members about possibilities around the RHOC to REV transition that you haven't shared here? Please give the whole context.

[2018-06-29 19:05] dckc opened #809 "review of 201806 pay period rewards by guides"
Much like #759 last time. Guides: let us know when you're done for this pay period.

   - [x] Marketing - cf. #817
   - [ ] Operations
   - [x] Translation
   - [ ] Development
   - [ ] Governance
   - [ ] member-site
   - [x] Education
   - [ ] Greeter
   - [x] Events
   - [x] Africa
   - [ ] Branding
   - [x] Voting

As to reporting: @deannald and I lean toward quarterly reporting.

### Legal

_

[2018-06-29 19:13] dckc commented on #753
Ah... perhaps Jake's June 5 comment summarizes the relevant points.

https://github.com/rchain/bounties/issues/753#issuecomment-394470584

Based on that, I'm afraid I'm obliged to vote against this.

[2018-06-29 19:39] pmoorman commented on #754
Upon a deeper review, this entire "analysis" seems to be a bunch of plagiarism from Wikipedia, the Google AdWords sales page, and maybe a few other sources.

https://www.google.com/intl/ALL_in/adwords/benefits/ seems to be the primary sources, but really almost EVERYTHING seems to be copy-pasted shamelessly.

...

@jasoncruzzy I see you've voted a $470 budget for this month. Tell me.... how in the

[2018-06-29 19:43] pmoorman commented on #779
@zsluedem since you've been in the lead here, could you suggest a tentative budget (and reward distribution) for June?

cc @kitblake @AyAyRon-P

[2018-06-29 19:46] pmoorman commented on #794
@sportshark really appreciate the update, and I think you guys are doing great work there in Asia/China. Keep it up!

[2018-06-29 19:52] qelentium commented on #807
[Post in Facebook](https://www.facebook.com/qelentium/posts/921135521406903)

[2018-06-29 19:57] nonnykul commented on #681
@pmoorman please carefully study the issue and my earlier comments, this issue is a work in progress.

Last month(May) we had engagements with university students (which I stated in previous comments) and that prompted attendance by students to the meetup that was held #796.

In June, we continued with a follow of these enthusiastic students thus prompting the formation of a workstudy group.

**NB

[2018-06-29 20:02] qelentium commented on #751
@ICA3DaR5 added value (comments and explanations). Reupdated issue template.Can close now?

[2018-06-29 20:10] qelentium opened #810 "Translation of 2 medium blog's about RNode v0.4.1 and Weekly debrief"
### Benefit to RChain

Will translate [RNode v0.4.1 introduces sending Rholang smart contracts across the network](https://medium.com/rchain-cooperative/rnode-v0-4-1-introduces-sending-rholang-smart-contracts-across-the-network-e076d0961b3e) and [RChain Weekly Update (Debrief 81) — 13 June, 2018](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-81-13-june-2018-415b4318b02b) it wi

[2018-06-29 20:14] qelentium commented on #791
[Posted video about RChain](https://www.facebook.com/qelentium/posts/921135521406903)

[2018-06-29 20:16] InternautNeven opened #811 "Translate Rchain Whitepaper.pdf to Croatian- Reopened"
## Translate Rchain Whitepaper.pdf to Croatian- Reopened

My team and I have worked together on several issues (#125 #382 #544 #546) and it was a great cooperation
not only between members of the team but also with community or Cooperation.
There is just one issue on which we have worked on that we need to reopen in order to get reward for it.
It is an issue that was opened and finished in Februar

[2018-06-29 20:17] jasoncruzzy commented on #754
@pmoorman as a guide you might need to always ask questions and make enquiries before taking 'personal' egoist decisions.

The document can not be said to be said to be 'Plagiarism' like you claim because. The document is more like a proposal to RChain Marketing team and I used their metrics to clearly define what the position of RChain will be.
I spoke with @patrick727 and he thought it was a goo

[2018-06-29 20:45] jasoncruzzy commented on #754
@ian-bloom  @jimscarver @dckc @kitblake It is highly worrisome and frustrating how @pmoorman addresses issues of Marketing with so much and ego mainly based on his opinion. If he is not satisfied with any work done he can actually say it politely or with less insults and address it properly without making the collaborator look dumb and silly for trying to make an input on RChain.
I thought RChain

[2018-06-29 21:43] allancto commented on #792
@dckc your suggestion of limiting to "approved tasks" is a good start but is not enough of a filter. Postings with potentially wide distribution need to be checked for accuracy and for intelligibility to potential first time contributors who are not already familiar with RChain internal lingo and discussions. Our issue template needs revision and clarification. Our system of labels needs review an

[2018-06-29 22:14] ICA3DaR5 commented on #753
@dckc I've discussed them above. Okay, I don't know what to do here. :)

[2018-06-29 22:51] deannald commented on #805
Help me out on the trail here... where does the English language version of this document originate from (link?)? Also, where does it show endorsement for translation from the people referenced above (link?)? Thanks!

[2018-06-29 23:07] deannald commented on #792
I would like to see a little more requirements analysis done on this proposal. If mobile applications are going to be developed and paid for by the Bounty System we need to ensure the following is addressed:

1. Is RChain as an entity registered in the various stores (Google Play, App Store)? E.g. who holds the distribution certification and provisioning profiles for these stores from RChain?
2. W

[2018-06-29 23:18] deannald commented on #810
For future translation work, I'm going to defer to @patrick727 and the marketing team to prioritize which documents RChain Cooperative is looking for translation (that's not to say you can't propose others, of course). The Task Approval Committee and RChain Cooperative are trying to ensure that high valued articles, blog posts and other materials are given top priority and, further, are distribute

[2018-06-29 23:20] deannald commented on #808
For future translation work, I'm going to defer to @patrick727 and the marketing team to prioritize which documents RChain Cooperative is looking for translation (that's not to say you can't propose others, of course). The Task Approval Committee and RChain Cooperative are trying to ensure that high valued articles, blog posts and other materials are given top priority and, further, are distribute

[2018-06-29 23:21] ICA3DaR5 commented on #751
@qelentium

@allancto can tell you more about the added value I guess.

As far as I am concerned just fill the **What about maintenance? (choose one)** section on the issue template and close the issue.

[2018-06-29 23:28] sportshark commented on #794
@pmoorman Thank you，I will do it better!

[2018-06-29 23:30] sportshark commented on #173
@Ojimadu Done!  This is the link http://www.rchain.site/?p=714

[2018-06-29 23:41] deannald commented on #803
zsluedem - This is a great start along the lines of what we discussed on Wednesday. We are still looking for an unofficial blog place for these types of reports to live as the goal is to be able to share this sort of information outside the bounds of the Bounty System.

For the budget requested, was there going to be more content added or was this budget request restricted to the development of th

[2018-06-29 23:45] deannald commented on #802
I'm not sure I understand the purpose of the report - isn't this just another view of already accessible information?

[2018-06-29 23:47] deannald commented on #798
For future translation work, I'm going to defer to @patrick727 and the marketing team to prioritize which documents RChain Cooperative is looking for translation (that's not to say you can't propose others, of course). The Task Approval Committee and RChain Cooperative are trying to ensure that high valued articles, blog posts and other materials are given top priority and, further, are distribute

[2018-06-29 23:52] nonnykul commented on #779
@zsludem, check [this](https://drive.google.com/drive/u/0/mobile/folders/12h6WK_1I_IYbrMsCNPAwNlxvPArMO-au?usp=sharing) material used during RChain Africa meetup.

[2018-06-29 23:53] deannald commented on #797
@tschoffelen and @David405 - Definitely, please coordinate with marketing to ensure that we aren't doing duplicate efforts, but combined ones. I'd love to see an updated guide for getting a node up and running that explains, based on the user's OS, different configurations, etc. I'm assuming the dev team will continue moving forward with Docker (which would eliminate some of the issues of differen

[2018-06-29 23:59] deannald commented on #796
@David405 I'm so glad you were able to host this meetup and look forward to hearing more about future events!

I did want to point out the guidelines and budget for local meetups as specified in this document from January 2018:
https://github.com/rchain/bounties/wiki/local-meetup-program:-summary

If you feel like the work done at the meetup exceeds the budge guidelines, it would be helpful to eit

[2018-06-30 00:05] deannald commented on #795
Hola @michaelizer!

The link you provided above for hosting translation work is broken or, at least, I'm getting a DNS error (the RChain Community Forum).

For future translation work, I'm going to defer to @patrick727 and the marketing team to prioritize which documents RChain Cooperative is looking for translation (that's not to say you can't propose others, of course). The Task Approval Committ

[2018-06-30 00:12] deannald commented on #791
@qelentium These are shaping up to be nice introductory blog posts. It would be nice to use them outside of your Facebook page. Perhaps we can add them to the RChain blog or a community led blog? @PatrickM727 @kitblake

[2018-06-30 00:13] deannald commented on #790
For future translation work, I'm going to defer to @patrick727 and the marketing team to prioritize which documents RChain Cooperative is looking for translation (that's not to say you can't propose others, of course). The Task Approval Committee and RChain Cooperative are trying to ensure that high valued articles, blog posts and other materials are given top priority and, further, are distribute

[2018-06-30 00:21] deannald commented on #794
@zsluedem  and @sportshark I love what you are doing for the Chinese community of RChain enthusiasts. Can you give a better breakdown on budget for each of the 4 items you mentioned above (in other words, assign what budget amount you are asking compensation for on each item). Thanks!!

[2018-06-30 00:31] deannald commented on #764
For future translation work, I'm going to defer to @patrick727 and the marketing team to prioritize which documents RChain Cooperative is looking for translation (that's not to say you can't propose others, of course). The Task Approval Committee and RChain Cooperative are trying to ensure that high valued articles, blog posts and other materials are given top priority and, further, are distribute

[2018-06-30 00:33] deannald commented on #761
For future translation work, I'm going to defer to @patrick727 and the marketing team to prioritize which documents RChain Cooperative is looking for translation (that's not to say you can't propose others, of course). The Task Approval Committee and RChain Cooperative are trying to ensure that high valued articles, blog posts and other materials are given top priority and, further, are distribute

[2018-06-30 00:36] deannald commented on #757
Hey! The RChain Community Forum link from the original post is broken. I'm getting the error:

"This site can’t be reached
rchain.gr’s server IP address could not be found.
DNS_PROBE_FINISHED_NXDOMAIN"

I'd also like to see a link for the original article you are translating from.

For future translation work, I'm going to defer to @patrick727 and the marketing team to prioritize which documents R

[2018-06-30 00:41] qelentium commented on #791
Yeah, why not. Thanks for responding

[2018-06-30 00:45] #578 closed

[2018-06-30 00:46] deannald commented on #753
It's my understanding that you should be able to reclaim your "stuck" RHOC when the redemption process is in place towards the end of the year. I'm in agreement with @dckc and am obliged to vote against this as it violates the purpose of the Bounty System. If, at that time, you are unable to obtain the RHOC, we can readdress. I know you have done quality work for the Bounty System and have been fa

[2018-06-30 00:48] sportshark commented on #794
@deannald
1. budget $3600,First We have 14 administrators to manage two groups of more than 2000 people.Average $214 per administrator budget。Every month, we adjust the administrators, relieve the ineffective administrators, and recruit active ones.At the same time, we encourage all people to publish community and technical articles about RChain. A total of 7 articles were published in May, with a

[2018-06-30 00:54] TrenchFloat opened #812 "ONGOING: Weekly Debrief Index Maintenance"
I maintain the [Weekly Debrief Index](https://github.com/rchain/bounties/wiki/Weekly-Debrief-Index) by writing up timestamps for Greg's streamed hangouts each week. The timestamps help people find the updates they need without watching the hour-long updates.

Estimated Budget of Task: $100/week
Patrick M gave me the task and we decided together each week's timestamps were worth $100.
$400 for June

[2018-06-30 00:55] TrenchFloat commented on #782
I took the minutes for almost all of this meeting.

[2018-06-30 04:12] deannald commented on #477
When I click on an issue in rewards.rchain.coop, I get the following error message:
Oops. Technical difficulties. This might be harmless, or you may have hit a bug. If your vote / edit didn't get recorded, report the problem in #477 and we'll check the logs.

[2018-06-30 04:19] dckc commented on #754
@pmoorman has earned his authority. I see no insults.

[2018-06-30 04:34] zsluedem commented on #803
@deannald The budget can be adjust by the outcome. I will add more items to the report and try to finish this in two days~

[2018-06-30 04:44] dckc commented on #792
@deannald I had / have many of the same questions; @AhsanFazal contacted me about this work in discord, and he seems to have answers to many of them. He agreed to share a link to his source code in development here in the next day or so. I expect that will give initial answers to many of the questions. From there, we can continue [story telling and test cases](https://informatics.gpcnetwork.org/tr

[2018-06-30 04:52] dckc commented on #810
@deannald note that @PatrickM727 is the account he uses these days.

He no longer has control of @patrick727 . I encouraged him to contact github support to restore access to that original account rather than splitting his reputation, but I can imagine other priorities don't leave time for such administrivia.

[2018-06-30 04:53] dckc commented on #801
Note we have dedicated guides for Translation; @PatrickM727 and @kitblake work with and delegate to @michaelizer @zero-andreou @ICA3DaR5 .

[2018-06-30 04:55] deannald commented on #801
@dckc Thanks, that wasn't clear.

[2018-06-30 05:09] dckc commented on #477
Which vote didn't get recorded? Or what other task were you trying to perform?

I agree the usability is poor, and fixes in that area (and alternative user interfaces such as #789 and #792 ) are more than welcome, but as I have mentioned, I find it hard to justify further development work on the bounty system that isn't (a) a critical functionality problem or (b) a contribution toward migrating it

[2018-06-30 05:18] zsluedem opened #813 "upload videos to Chinese website in June"
### Benefit to RChain

Below is the videos I uploaded to Chinese video website in June.
1. [【区块链】革命性的计算机理论实践 - RChain技术浅析[中文字幕]](https://www.bilibili.com/video/av24301182)
2. [Rchain Community Debrief 80](https://www.bilibili.com/video/av24497029)
3. [Demo - Node v0.4 API + Repurposed insight block explorer](https://www.bilibili.com/video/av24505362)
4. [The Rchain Blockchain Structure and Consens

[2018-06-30 05:18] dckc commented on #801
Hm... I wonder how to clarify. Note that if you hover over the label above, it shows who the guides are.

[2018-06-30 05:29] dckc commented on #477
Oh shoot... that "please report the problem in #477" diagnostic should be updated to refer to #491 now that this one is closed.

[2018-06-30 05:31] deannald commented on #801
Yeah, sorry to everyone for the bombardment of clarification on translation efforts as we work through this. Has it been widely disseminated via the guides for Translation work that there will be a prioritization of what translation work is desired? I wasn't getting the impression that message was obvious in the Bounty System... I just want to avoid having people commencing on translation work if

[2018-06-30 05:35] deannald commented on #477
I was just poking around trying to figure out how to vote on issues and when I clicked anywhere in the issue, I got the message above.

[2018-06-30 05:37] dckc commented on #483
@allancto would you please propose an edit to `ISSUE_TEMPLATE.md` regarding your [suggestion][1] of _value added translation_?

[1]: https://github.com/rchain/bounties/issues/672#issuecomment-395109228

cc @deannald

[2018-06-30 05:40] dckc commented on #801
No, I think the Translation guides are still struggling to figure out priorities. I suggest continuing this discussion in #483 .

[2018-06-30 05:43] deannald commented on #801
Ok, I'll stop playing whac-a-mole on translation issues and concentrate my discussion in 483. Thanks for the navigational help!

[2018-06-30 05:51] deannald commented on #803
@zsluedem Excellent. I look forward to seeing your finished work.

[2018-06-30 06:03] deannald commented on #794
@sportshark Thanks for the detailed explanation!

[2018-06-30 06:19] dckc commented on #807
The video is great in a lot of ways, but I'm actually still reluctant to share it with, for example, a good friend with an investment background. There are some critical edits where it's too geeky or something.

IOU some more details, @PatrickM727 . Do you have anything scheduled to gather "second circle" feedback on this video? Meanwhile, I'll use this issue to track my plans to provide further f

[2018-06-30 06:38] casanwugo commented on #805
Hi @deannald, please see issue #797. Thank you.

[2018-06-30 06:44] casanwugo commented on #808
@michaelizer,, i will do that. Thank you.

[2018-06-30 07:08] dckc commented on #580
The diagrams and such from the [RChain VM talk][1] by @leithaus and co in Boulder are really good. I hope to integrate them into an arch doc revision.

[1]: https://www.youtube.com/watch?v=3R3IL1bGm0s&t=616s

[2018-06-30 07:11] dckc commented on #580
I made some review progress June 18; I used an [rchain-archdoc](https://discordapp.com/channels/458312138889363476/458312138889363478) discord server to take notes as I read along, and filed important stuff in the https://github.com/rchain/architecture-docs/ repo

[2018-06-30 08:53] philipandri002 commented on #781
Wow.. Event finally came to conclusion and it was awesome.

*Participant came from around the globe and we had s great time talking about the block chain/RCHAIN Technology.

*The event was live for 168hrs.
*I concluded by giving out the link posted by @pooreman #807
* it was hectic but fun seeing people especially BlockChain enthusiasts show interest in the RChain Technology and ideology.

Here is

[2018-06-30 09:10] allancto commented on #764
@golovach-ivan please correct me if I'm wrong: although part of this work is to publish a Russian translation, the work itself is to understand a significant paper and provide the entire RChain community with analysis and context for that paper. I'd suggest that a good place to communicate this would be in our Collaborative Learning repo (where you have already published excellent work).

If that'

[2018-06-30 11:06] ICA3DaR5 commented on #753
Voting $0 on this and pinging the other votes to do the same! Closing this issue! :)

[2018-06-30 11:06] #753 closed

[2018-06-30 11:50] zsluedem commented on #750
@pmoorman I suggest 400$ budget for this month. For this month, we just made some discussion work and made some connection with some university and find some potential cooperators in School.

[2018-06-30 12:01] zsluedem commented on #779
We now have two materials presented. One is from Afica meetup and another one is from @wangjia184 presentation in China.But we haven't sort out really something here.Sorry for no good outcome this month because I have been busy with other issues.Try to push more next month.
@pmoorman I suggest 300$ for June.

[2018-06-30 12:36] zsluedem commented on #779
@David405 Your idea is good one . Let's move forward this issue to that next month.

@azazime Do you have any ideas how should we do with the different types of audience? In my opinion, we should gather both development materials and Rchain coop(community) materials. In some meetups, some people might present something not about Rchain but blockchains then we can make prepare some comparison mater

[2018-06-30 13:16] zsluedem opened #814 "Post three technical articles in china media channel"
### Benefit to RChain
@wangjia184 has wrote 2 technical articles about Rchain and post them in some china media website.

1. [the estimator function of Casper](https://zhuanlan.zhihu.com/p/38418242)
2. [the block structure and DAG](https://zhuanlan.zhihu.com/p/38062592)
3. [Rchain namespace](https://zhuanlan.zhihu.com/p/36345734)

I know you guys don't know Chinese.

Most of the content is somethi

[2018-06-30 14:13] dckc commented on #539
TODO: syndicate from http://www.madmode.com/

cc @ottermagically @kitblake

[2018-06-30 15:33] kitblake commented on #812
@TrenchFloat I added 'Ongoing' to the title. This is something the Marketing guides are doing to earmark issues that recur or continue. If you prefer to make one every month, then go ahead and delete it.
Caveat is

[2018-06-30 15:49] kitblake commented on #735
The @daysandbox_bot is proving really useful. If not already done, admins should consider installing it.

Some numbers at the end of the month:
@rchain_coop 2624 members
@rchain_africa 51
@rchain_china 242
@rchain_france 24
@rchain_nl 51
@rchain_ru 7
QQ group China: 893

[2018-06-30 16:20] dckc commented on #785
idea from discussion with @jimscarver :
record current status - ratings and what's funded
bump masters and journeys by 1, apprentices by 5
look at the impact, and if it's not bad, go with it.

What do you think, @deannald ? @PatrickM727 ?
(we can talk Fri 13 July if not before)

[2018-06-30 17:23] kitblake opened #815 "Create a theme for the RChain Blog"
## Create a theme for the RChain Blog
### Budget and Objective

RChain is moving its blog activity to a Wordpress instance that'll be hosted under an RChain domain. Marketing would like to have it online asap, during the month of June or soon thereafter. They need a theme that has an RChain look & feel. As new branding is in the pipeline the design should simply follow existing house style, as use

[2018-06-30 17:52] kitblake opened #816 "Provide operational support for Marketing – Ongoing"
## Provide operational support for Marketing – Ongoing

The Marketing organization is in an embryonic phase and would like someone to help guide the setup. This includes tasks such as:

- Setup a Jira instance for project manegement with content structure
- Act as infrastructural liaison for the blog and future site projects
- Play a guide/scribe role in meetings
- Track planned activities
- Quali

[2018-06-30 17:54] kitblake commented on #803
@zsluedem As this is monthly, I added 'Ongoing' to the title.

[2018-06-30 18:12] kitblake commented on #595
This issue is blocked. 12 days ago I posted, asking Ian to make the subdomain changes. This week I asked him about it in a meeting and he said he doesn't read his Github email (use normal email or Discord to contact him). Ian said that @n10n has the keys for the member.rchain.coop subdomain. So I mailed Navneet  butI haven't heard back from him either. Somebody said he's on vacation..

[2018-06-30 18:13] kitblake commented on #615
It's blocked. See https://github.com/rchain/bounties/issues/595#issuecomment-401557405
Once it goes live on the correct subdomain @Andrekuipers needs to do some speed optimization. Then we'll close this issue.

[2018-06-30 18:47] kitblake opened #817 "Label Guiding for Marketing – Ongoing"
## Label Guiding for Marketing – Ongoing
### Benefit to RChain

This issue is to track the time the Marketing Label Guides spend guiding.

In an ideal situation the time spent would be distributed over the month. In practice it's been condensed at the end of the month, flowing over into the grace week until the period gets closed on the 8th.

For consistency the time spent should be booked on the

[2018-06-30 19:18] ICA3DaR5 commented on #802
@deannald Guides on each of the labels create a report on actions they took for that month.

Based on that a bigger report is created for the coop. This started last month with the retrospective report of the Translation label including May. https://github.com/rchain/bounties/issues/721

[2018-06-30 19:32] akhs13 commented on #790
It is important for every member of the community to read these blogs and be informed about what is happening in the hangouts. By reading these blogs you can get information on the deals with the companies that collaborate with the Rchain.Also you can find out how each team works and what is the purpose of each team(for example Rholang team,Roscala team,Node team). Furthermore it is important for

[2018-06-30 19:47] AhsanFazal commented on #792
I edited this issue to include link to the Github repository of the app. The [README.md](https://github.com/th3build/rchain-bounties-app/blob/master/README.md) of the repository says the app uses the [RChain bounties API](https://github.com/th3build/rchain-bounties-api) but that's not yet the case. The development on this API just started.

My answers to your questions @deannald:

- @tschoffelen a

[2018-06-30 19:47] #811 closed

[2018-06-30 20:30] pavlos1851 opened #818 "Translate remaining blog posts to Polish"
### Benefit to RChain

Translation of the RChain Medium blog posts to other languages means good global marketing.

### Budget and Objective

The following posts will be traslated to polish:

[Introducing RSpace](https://medium.com/rchain-cooperative/introducing-rspace-ea12897daef2)
[Resonate and lifeID collaborate](https://medium.com/rchain-cooperative/resonate-and-lifeid-collaborate-da2d22e43df6

[2018-06-30 20:35] allancto commented on #809
@dckc , @deannald d it's my opinion that quarterly reporting may be fine for traditional centralized organizations, but as we move forward at "lightspeed" i think you'll find monthly reporting useful.

The more important question, imo, is why will we continue to have label guides at all? The TAC by definition has the role of communicating to our contributor teams what are the goals are of our Coop

[2018-06-30 20:43] MParlikar commented on #767
Following tickets were paid as part of this bounty issue: ROS-438, ROS-435, ROS-433, ROS-426, ROS-424, ROS-423, ROS-422, ROS-420, ROS-419, CORE-496 - Voted for Abner - 40 story points in total.

[2018-06-30 20:43] #767 closed

[2018-06-30 20:45] MParlikar opened #819 "July Core Development Work"
### Benefit to RChain

July Core development work on the Platform. ref [core bounties](https://rchain.atlassian.net/wiki/spaces/CORE/pages/105938971/Bounties+for+Development+work)

### Budget and Objective
Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.

* Estimated Budget of Task: $4,350 (29 story points @ $150 ea)
* Estimated Timeline Required to Complete the Ta

[2018-06-30 21:04] allancto commented on #817
@kitblake I posted my opinion just now in #809: label guiding is the role of TAC, and they've begun to do a great job.

Here's my favorite marketing project: bring previously centralized organizations such as Uber, Microsoft, Philips; universities, utilities, political subdivisions onto the RChain platform as major validators. Obviously we won't reach all of them immediately, but as a Cooperative

[2018-06-30 21:43] dckc commented on #809
As to why we continue to have label guides:

The three members of the TAC are not performing the roles you note without help from the guides. The guides are necessary.

[2018-06-30 21:47] dckc commented on #817
"my favorite marketing project" is not the topic of this issue. Please exercise better discipline. Please edit your comment.

[2018-06-30 21:58] dckc commented on #814
I agree that those posts from developer.rchain.com are worth promoting via articles such as this.

p.s. I'm tweaking the labels. I prefer to limit the scope of the **Development** task to software development. This is developer marketing, but my understanding is that the whole $7M marketing plan is largely a developer marketing effort.

I'm prepared to support this budget after a marketing guide d

[2018-06-30 22:11] dckc commented on #483
@ICA3DaR5 @michaelizer @zero-andreou would you please conctact @PatrickM727 , @kitblake , and / or @pmoorman about getting them to certify you in the trust metric to reflect that Marketing delegates Translation guiding?

[2018-06-30 22:16] dckc commented on #790
I agree that written accounts of the weekly update are valuable to spread far and wide.

My one suggestion is that we make better use of headlines. See [Nielsen on Microcontent](https://www.nngroup.com/articles/microcontent-how-to-write-headlines-page-titles-and-subject-lines/). _This suggestion probably belongs elsewhere, but I'd appreciate it if the folks involved here would excuse me for expand

[2018-07-01 03:40] deannald commented on #802
I guess perhaps I'm a little confused. Is the budget for this issue going to be set for creating the report for the month? (which appears to be an output list from rewards.rchain.coop and/or links to github issues related to translation). Or, is the budget to be set for the work actually being done as a translation guide? I'm having a hard time seeing where the 180 hours came from for generating t

[2018-07-01 03:46] deannald commented on #757
Ok, thanks!

[2018-07-01 03:56] deannald commented on #795
Gracias, @michaelizer! Mucho bueno.

Estoy deseando ver las publicaciones del blog cuando estén completas. En este momento no estoy viendo ninguno de los blogs de "RNode v0.3.1" a "RChain Weekly Update 82".

Además, no hay muchos puntos de vista en las publicaciones actuales. ¿Cuál es el número actual de lectores de este canal?

[2018-07-01 04:08] deannald commented on #790
I would like to learn a little more of the added value you are planning on providing. As with all translations in the future, we'd like to see something beyond what can be acquired using Google translate. So, if time and money are being spent on translation, it must go beyond what can easily be achieved by right-click and translate to "language of your choice". Especially if the output has limited

[2018-07-01 04:20] deannald commented on #764
@allancto I believe you are making assumptions as to what this body of work entails which, as I understand it, is the translation of the original work by Greg M. et al. with push out to his large community reach. I'm not seeing additional analysis and output being included in this bid.

[2018-07-01 04:22] deannald commented on #785
Let's discuss at our next meeting so I can get a better idea of your discussion with Jim and the possible ramifications of what you're proposing.

[2018-07-01 04:34] deannald commented on #816
Sounds like you guys need a Scrum Master :)

[2018-07-01 04:47] deannald commented on #818
Dzień dobry, @pavlos1851! For future translation work, we'll be looking for value added work either based on marketing priorities, reach of post (number of views) or additional value that otherwise can't be delivered beyond Google translate on the blog posts cited. Please coordinate value added work with the Translation Guides @ICA3DaR5 @michaelizer @zero-andreou

[2018-07-01 07:36] David405 commented on #796
@deannald it's great to know you are anticipating future meetups and we won't fail to keep you abreast of our activities and progress reports. Yes, I am aware of the guidelines you posted in your comment, perhaps, an additional elaborate information concerning our expenses ( aside from the ones listed in my initial comment) will make you feel more comfortable with the budget placed.

- More than 2

[2018-07-01 07:46] David405 commented on #797
@deannald I wasn't aware of the guide the marketing team was working on until @ddayan commented on this issue. One of the major motivation for putting this up like I said in my initial comment was the challenge of setting up and testing nodes we encountered during @jimscarver led noob school last Tuesday.

 I think the official marketing team not just in this issue but throughout the whole bounty

[2018-07-01 07:52] David405 commented on #804
@lapin7 the music wasn't at the live event, sorry for the misconception, it was included during the editing to make the video more lively, I am sorry if you don't like it but we have feedback from some persons saying they love the background music, that it helps they focus on the content.

Perhaps, this is a case of "clash of preferences", what do you think?

[2018-07-01 09:01] ddayan commented on #797
Hi @David405, I commented on the same day you posted the issue.

[2018-07-01 09:11] David405 commented on #796
@deanald I am aware of the guidelines for local meet-up but aside the concise version of the expenses listed in my initial comment, perhaps a more elaborate list would convince you of the budget

[2018-07-01 10:38] azazime commented on #779
@zsluedem materials for meet-ups should be comprehensive enough to reach out to various interests amongst the audience

[2018-07-01 12:01] casanwugo commented on #805
Ok, i will do that. Thank you.

[2018-07-01 12:03] philipandri002 commented on #816
@kitblake @deannald.

Great idea but permit me add my little opinion. Maybe there should be a kind of seminar probably a webiner to help train, inspire and educated the marketing forum of the Rchain ccop.

No cooperation or cooperative can make the kind of impact without regular training which will serve as a guide and also as an inspiration to team member especially to the marketing team.

There

[2018-07-01 12:59] zsluedem commented on #814
@kitblake @pmoorman Is there some metrics of bounties for  original development article? I think original development article should be rewarded higher than translation and we should encourage this.

[2018-07-01 13:19] jimscarver commented on #793
Awesome video @Cryptovideos. Hopefully @entropee and I will get content for you for the next one by the middle of the month.

The proposed intro video animated by @Cryptovideos: is awesome! It is not yet official so do not share publicly.  https://youtu.be/i9OrMDPGs14

It is becoming more of a overall bounty system  explainer. Part two will cover the bounty system basics and then show our dashboar

[2018-07-01 13:57] AyAyRon-P commented on #813
@zsluedem

Is bilibili.com similar to YOUTUBE? What are you video views expectations?

[2018-07-01 14:19] AyAyRon-P commented on #804
The video is decent but the audio is terrible, personally I closed it out after about 7 minutes of the 43 minutes due to the background music and straining to hear the speaker. Is it possible to get a USB microphone to increase audio quality? I don't see value added in this instance for background music, the people which we/you are trying to target are developers who are hoping to learn about RCHA

[2018-07-01 14:31] AyAyRon-P commented on #793
Hey @Cryptovideos is there an update to this video or is it still a work in progress?

NOTE: Your video as posted above by Jim is fantastic, as is all of your work.

[2018-07-01 14:56] AyAyRon-P commented on #791
Help me understand why there is $2000 in value to RChain by you making 2 posts to your personal page? Both of these posts seem to be plagiarized and reorganized content mixed between these two links.

Your first post content appears to be a direct reorganization of this:
https://www.weusecoins.com/what-is-rchain/

The first paragraph of your second post is a direct line by line copy from:
https://

[2018-07-01 15:08] ICA3DaR5 commented on #818
@deannald I have chatted with @pavlos1851 and he told me he will add value by adding comments, suggestions, ideas and critique. Also he will move his blog posts from Medium to https://rchaincommunity.xyz/ which will boost views IMO.

A good side-effect of this is the conversion from Medium to Markdown, which is a format that can be easily archived and easily converted to other formats (such as PDF

[2018-07-01 15:15] ICA3DaR5 commented on #802
@deannald The budget is going to be set based on the work done by the translation guides.

May was the first time this happened. In the May report we also did a retrospective check on all translation issues from January to May (more than 150 issues). [These](https://docs.google.com/document/d/1yv4NhhRYD8lPKR4ZWd5chEXC1ELEWrNrIRkfyXz9zhs/edit) are the actions we took as guides. it took as 180 hours

[2018-07-01 15:18] ICA3DaR5 commented on #483
@dckc I am on it!

[2018-07-01 15:18] AyAyRon-P commented on #779
The common denominator should of course be RChain. Glad you remembered the [local meetup program](https://github.com/rchain/bounties/wiki/local-meetup-program:-summary) @David405. In addition to that what are some marketing materials you need for this?
- [ ] Presentations - PowerPoint or Keynote?
- [ ] Demos
- [ ] Videos by Cryptovideos
- [ ] Whitepapers / Dev articles,
- [ ] Giveaway? Webcam cove

[2018-07-01 15:19] ICA3DaR5 commented on #477
@deannald Try logging in again.

[2018-07-01 15:43] AyAyRon-P commented on #777
1. RCHAIN NOW

The advantage of the RChain Cooperative is modeling it's platform on a correct-by-construction software development to produce a synchronal, consistent, and linearly scalable blockchain. Based on the present pace of work, efforts have been increased towards ensuring that both the manpower and technical skills required to run a more concurrent scalable blockchain are on the ground be

[2018-07-01 15:47] Ojimadu commented on #781
@philipandri002 This issue has like 5 labels attached to it seems much IMO.
I have reviewed the AMA; First, I think the name of the account should bear your name or something that would denote a community lead effort rather than an official one.
Most of the questions and answers were pretty much generic. I have doubts about the interest of the questionnaires IMO they seem to me to want to populate

[2018-07-01 16:01] AyAyRon-P commented on #736
@TrenchFloat Is there an update to this and can we close this out?

[2018-07-01 16:15] philipandri002 commented on #781
@Ojimadu."
I have doubts about the interest of the questionnaires IMO they seem to me to want to populate amafeed with a questions log rather than a genuine interest"  that sounds very funny to me, how you can make decision as serious as this on the basis of your assumption. You can't determine the credibility of such a wonderful event because of your mere suspicions.

I did a thorough research on

[2018-07-01 16:57] qelentium commented on #791
@AyAyRon-P its gonna be 3 posts (the third one is coming today).The budget came from audience i have on my page, plus researching and gathering information of what is RChain by personal understanding and other resources.I took some information from resources that you mentioned.

[2018-07-01 17:05] jasoncruzzy commented on #804
@AyAyRon-P  @lapin7  Very sorry for the background music. @AyAyRon-P We are working on the 'views' already and we will hit our target of publicity soon enough.

[2018-07-01 17:05] David405 commented on #807
@pmoorman,  kindly clarify your input on this issue and explain why you assigned 60% of the rewards to yourself.

[2018-07-01 17:15] jasoncruzzy commented on #807
@PatrickM727 please clarify the need for this comment, or was it said just to get us in?? "make sure to post whatever it is that you do here so that we can value add to your work as well and also keep each other honest.For example if you post it as an answer on quora we can upvote it(if its quality).If you write a reaction post, then share it here, etc etc"

[2018-07-01 17:49] Cryptovideos commented on #793
Hi all thanks for the positivity....as per Jim...part 2 is in the pipeline....will keep you posted

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: AyAyRon-P <notifications@github.com>
Sent: Sunday, July 1, 2018 4:31:24 PM
To: rchain/bounties
Cc: Cryptovideos; Mention
Subject: Re: [rchain/bounties] Bounty Dashboard explainer video (#793)

Hey @Cryptovideos<ht

[2018-07-01 18:17] kitblake commented on #791
@qelentium Imho Facebook posts have a severely limited value because devs, who are the audience we're trying to reach, don't hangout on Facebook. Having 3631 friends is no guarantee of reach. Plus it's a closed platform, every time I tap a Facebook link it asks me to login so I don't do it anymore. If you do login then Facebook displays you how many people reacted, so I guess you could report that

[2018-07-01 18:35] deannald commented on #791
I agree with @kitblake - cross-posting to other sites would help with reach. As with translations, blog posts and other articles, we should be looking at the number of views, reactions, etc. to determine reach. Original content (by this I mean, not copied from other sources) should be rewarded through the bounty system, but only if that content is placed somewhere where people are seeing it. It do

[2018-07-01 18:38] deannald commented on #818
My concern with https://rchaincommunity.xyz/ is that is is little traffic traffic to that URL with few views of the posts that are there. What is the plan to drive traffic to this particular site in order to get people to even see the blog posts? Medium at least has a huge number of readers, some of which may stumble upon the articles there, but unless we have some marketing push to drive readers

[2018-07-01 18:40] qelentium commented on #791
@deannald agreed with statement if nobody see it - there is no point. As i said i will post it in different resources and merge links here too.

[2018-07-01 18:40] deannald commented on #802
If that's the case, then the title of this issue and the description needs to be changed to reflect that.

[2018-07-01 18:42] deannald commented on #477
I will, thanks @ICA3DaR5 and @kitblake

[2018-07-01 18:44] jplepel commented on #791
@qelentium Can you share some more of the analytics from your posts? You have friends but looks like engagement is low.

[2018-07-01 18:47] qelentium commented on #791
@jplepel this is true, i dont have much likes or reacts to this posts. I'm posting them  now at medium  and will share links here

[2018-07-01 18:49] deannald commented on #797
It is my understanding that @ddayan has already made considerable progress via the Marketing group on developing the content that this issue addresses. As he mentioned, he commented the same day you posted and I commented 2 days ago with the same messaging. It is true that he could have been more explicit on what exactly marketing was doing and how other bountyists could (or not) assist.

I also a

[2018-07-01 18:53] deannald commented on #796
@David405 - Thanks this is a great help! It looks like a ton of work went in to hosting this event (and I'm sure struggling to get the node setup was nerve wracking especially during an event :) ). If you can assign budget estimations for each of the above bullets so we can see how they roll up to $3000 that would be useful in voting.

[2018-07-01 19:00] #596 closed

[2018-07-01 20:09] ICA3DaR5 commented on #818
@deannald rchaincommunity.xyz is a Work In Progress, see https://github.com/rchain/bounties/issues/588

The purpose of it is a community driven forum, where we can share ideas, ask questions, get to know each other and more...

[2018-07-01 20:10] ICA3DaR5 commented on #802
@deannald It clearly states that is a report of the guides of the Translation label for the month of June.

[2018-07-01 21:35] AyAyRon-P commented on #791
You said “I took some information from resources that you mentioned.” It’s not a resource when it’s a direct copy and paste. This information is readily available on the internet as it is, there is no originality in this content.

I see zero justification for a $2000 bounty just because you have 3600 friends on Facebook who may not even be our target audience. More importantly, the only metric for

[2018-07-02 01:56] zsluedem commented on #814
I add one more article which I missed.

[2018-07-02 02:14] dckc commented on #783
@allancto I ran into this issue in another context and was a little surprised to see the "interim report:" prefix in the summary. I remember now... and that would make sense, if github would let us change the author to you (a feature I'm used to from [Trac](https://trac.edgewall.org/)). But I'm the author, so I tweaked it to something in between. Input to the TAC is not my goal. My goal is to get

[2018-07-02 03:12] deannald commented on #783
@ian-bloom - any luck in following up with @leithaus on this issue on Friday?

[2018-07-02 04:33] zsluedem commented on #813
Yes. But there are a lot of video website in china which are all similar to YOUTUBE.

right now . There are about 100 views per video in bilibili.com and tencent video. Some special videos(like "what about Rchain all about") would raise to about 1000views.

[2018-07-02 05:39] kitblake commented on #783
@deannald Ian doesn't read his Github mail. He told me to use normal mail or Discord.

@dckc Particularly for this issue, it would be useful to have the minutes of the Board meeting.
"...establish Goals Objectives and Metrics for the bounty system" is a huge scope.

[2018-07-02 05:40] deannald commented on #783
@kitblake - I also emailed him as well.

[2018-07-02 05:47] pmoorman commented on #754
@jasoncruzzy if you create a document that is almost entirely copy-pasted from other websites without mentioning this, and presenting it as if it was your own work, [than that's plagiarism](https://en.wikipedia.org/wiki/Plagiarism) to me.

I pasted the document text into [this plagiarism checker](https://smallseotools.com/plagiarism-checker/) just now, and found it to be 64% plagiarism, and 36% un

[2018-07-02 06:02] pmoorman commented on #807
@David405 good call. It looks like I've voted rewards here that were supposed to go to #776 instead (for Dror and for myself).

I've now removed those votes, and moved them over to #776 where they belong!

@dckc how can I remove a vote? I know how to edit one to (so I've now edited both votes to 0%), but it would be cleaner to just remove my vote.

[2018-07-02 06:50] jasoncruzzy commented on #754
@pmoorman that is still unfair because I was clearly presenting the RChain on SEO(google ads) and I consciously used the 'google ads' parameters and  metrics, I clearly do not see this as plagiarism because I cannot add or subtract for 'google ads' on its own services. 'Google ads' is the SEO and their statistics and basics were necessary to put up the document, I don't think such document will be

[2018-07-02 08:41] philipandri002 commented on #781
@ojimadu.. If you are sincere with your analysis you would agree that the label truly meets the aforementioned labels and that's why I did include them. I do what I know is right, if the issue fall into so many label category because of the nature I believe it is reasonable to let it carry the label.

Secondly you say "Most of the questions and answers were pretty much generic. I have doubts about

[2018-07-02 08:41] lapin7 commented on #799
@dckc it's not an urgent problem. Only a nuisance. ;-)

[2018-07-02 09:54] BelovedAquila opened #820 "Summarized article on What is RChain all about?"
The article on the video What is RChain all about?
The article is a written piece on what was talked about in the video, it would assist the RChain community by making the video more accessible to those who for some reasons couldn't watch the video, or those who watched it without understanding fully what it talked about.

- [What is RChain about-video](https://youtu.be/f1D4vowiMiI)

_Estimated Bu

[2018-07-02 11:44] dckc commented on #807
The help video shows how to delete votes.

(I'm on mobile.)

On Mon, Jul 2, 2018, 1:02 AM pmoorman <notifications@github.com> wrote:

[2018-07-02 14:12] michaelizer commented on #795
Sure @deannald! they will be there in a day or two, thanks.

The forum is a work in progress, the main idea is to create a space for the community to discuss the blogs, know each other, also have the translated documents in one place so any future intention of marketing (e.g. for a Spanish community) will have all the required material ready and organized.

I had a chat with @allancto about a comm

[2018-07-02 14:42] PatrickM727 commented on #791
@qelentium it'd be nice to post these articles to our blog or guest post them to other major publications first. are you up for that?

[2018-07-02 14:48] zsluedem commented on #803
The report has been finished. Comments and questions are all welcomed.

[2018-07-02 14:58] qelentium commented on #791
@PatrickM727 why not

[2018-07-02 14:58] PatrickM727 commented on #791
Unless they are copies.

@pmoorman @AyAyRon-P can determine this

[2018-07-02 14:59] qelentium commented on #791
@AyAyron-P said they are, so i guess not

[2018-07-02 15:17] AyAyRon-P commented on #791
If you feel like I'm wrong in calling attention to this, please say so, based on the facts of what I'm seeing there is no original content here. Unless you're the author of the articles on weusecoins.com and captainaltcoins.com.

@pmoorman @PatrickM727

![2](https://user-images.githubusercontent.com/35570702/42171841-fae4dfc6-7ddf-11e8-910e-2f11afb94051.PNG)
![3](https://user-images.githubusercont

[2018-07-02 16:10] rolandkofler commented on #619
@pmoorman its in the work, will be in september  around the Rchain. I'm a bit lost how to bring this into the boundy process. what is the next step here?

[2018-07-02 16:45] jasoncruzzy commented on #754
@AyAyRon-P  @pmoorman  I already changed the title of the issue.
The document was referenced from google ads links and Wikipedia without the aim of 'plagiarism' but t  put the referenced links together to try and open considerations for SEM(google ads)  for RChain.
 The idea of this issue was to put forth 'google ads' for consideration, It was never intended to be an enforcement document  but a 'b

[2018-07-02 17:22] rolandkofler commented on #619
More to come begining of August

[2018-07-02 17:44] PatrickM727 commented on #791
^ that's hard to deny

I'm liking this guide system already

[2018-07-02 20:03] kovmargo commented on #755
According to this task should our team create tutorial on English OR on native language (Russian)? Can we add more examples to tutorial from ourselves OR info in tutorial should be strictly on video? Tnx

[2018-07-02 21:06] Ojimadu commented on #619
@rolandkofler it is already in the bounty process. The way it is done here is after the meetup is hosted, you can claim rewards for the issue. I suppose you are already in the process of organizing it if you need help or need clarification, you can ask here or on discord.

[2018-07-02 21:15] Pionelle commented on #755
@kovmargo You should direct some of these questions to @allancto But If you feel confident on your Native language, then you should do that, then you would do a better job.

[2018-07-02 21:40] David405 commented on #796
It is good to know you are interested in this, the budgets have been updated in my comments, feel free to express your opinion on each.

[2018-07-02 22:01] #639 closed

[2018-07-02 22:04] Ojimadu commented on #639
Closing this issue in favour of #743

[2018-07-02 22:07] Ojimadu commented on #743
@Viraculous @kaka56 I think it would be better to split the sheet into two on the same file, one for blockchain-centric events and the other for non-blockchain centric event

[2018-07-02 22:13] Ojimadu commented on #724
@zsluedem This issue needs one vote to be complete in budgets and reward respectively. Would like to get this closed once the votes are complete.

[2018-07-02 22:14] David405 commented on #797
Oh, @ddayan @deannald I think I get your message now, but you guys got something wrong, the document in this issue was completed even before the issue was created. Nonetheless, this shouldn't be a problem. I will be anticipating the official document from the coop, I hope it will provide elaborate information <code>bond.txt</code> file, <code>validators</code>, <code>--deploy</code>, RNode metrics

[2018-07-02 22:39] Ojimadu commented on #658
Am inclined to close this issue for now because it looks stalled. Anyone willing to work on it feel free to reopen.

[2018-07-02 22:39] #658 closed

[2018-07-02 22:42] Ojimadu commented on #583
Closing this in favour of #743

[2018-07-02 22:42] #583 closed

[2018-07-02 22:43] Ojimadu commented on #604
Anyone willing to take on this?

[2018-07-02 23:38] ICA3DaR5 commented on #757
This has been completed!

[2018-07-02 23:44] allancto commented on #755
@kovmargo  please coordinate with @golovach-ivan and @qelentium if you're working in the Russian language. Please post whatever work you do, including tutorials and any materials you produce in English and/or Russian, in the DoCC folder. Thanks! Also @Pionelle thanks also, and please coordinate with Team 3.

Here is the folder. Also in this folder you'll find a Monthly Review doc by team, each tea

[2018-07-02 23:54] allancto commented on #658
Thanks all for commenting. I've dropped the ball here but will consider reopening in the future. Anyone with ideas and a desire to participate please contact me!! Thanks! -@allancto

[2018-07-03 01:57] zsluedem commented on #724
@Ojimadu OK~! I have asked @sportshark to vote for the budget~! I think it's all done now~!

[2018-07-03 01:58] sportshark commented on #724
@Ojimadu done!

[2018-07-03 02:19] dckc commented on #788
https://www.translo.io/ looks interesting... I wonder if there are more technical details published.

[2018-07-03 04:57] zsluedem commented on #759
I have made a [China community report](https://docs.google.com/document/d/14e7o5EkGdxzZx9cEvOi2n_YsTdZDOsdUSohifMvPKzE/edit?ts=5b3aef6d#) and see if this report help you all. But the report is about June not May.

BTW, are you still making May report instead of June report?

[2018-07-03 05:07] zsluedem commented on #809
In #803 , I have made a [China community report in June](https://docs.google.com/document/d/14e7o5EkGdxzZx9cEvOi2n_YsTdZDOsdUSohifMvPKzE/edit#) . I think this will help the core community know the China community.

[2018-07-03 06:17] Ojimadu commented on #759
@dckc @jimscarver I voted on this issue based on work done for 06/2018 based on misunderstanding [this comment](https://github.com/rchain/bounties/issues/759#issuecomment-400116315) but your votes look like it was done based on 05/2018. I guess I suppose to vote on #809? so am changing my votes here.

[2018-07-03 06:55] #724 closed

[2018-07-03 07:19] tschoffelen commented on #797
Yes, and if the marketing team needs any help with actually publishing that document in a compelling format, let me know. I also created the interface for the new Rholang tutorial, so would love to help with formatting the RNode documentation in a similar way.

[2018-07-03 09:24] Ojimadu commented on #781
On the labels, It was just my opinion nothing much, I just felt using lesser labels might be better.

You actually did put in some hours to get this done which is nice and should be rewarded and like I said earlier I believe someone somewhere might find it useful. However,

- reviewing the profiles of a majority of those who asked the questions, asking questions seems to be what they do there. Lik

[2018-07-03 11:29] dckc commented on #803
@deannald writes:

Which "we" is that?

The report it's now in the web. It can be linked from anywhere you like. What audience do you have in mind?

[2018-07-03 12:14] golovach-ivan opened #821 "Meetup "Smart Contract Formal Verification", Europe/Ukraine/Kharkiv, 4 July"
Holding tech/math meetup in Europe/Ukraine/Kharkiv, July 4.
Topic: "Smart Contract formal verification: Process Calculus and Modal Logics".

### Event Program
1. Tell about the RChain Coop.
2. Tell about bounty program.
3. Tell about "Designing Computational Calculi" course.

4. Big topic: Chemical Abstract Machine, LTS and CSS.
5. Big topic: Propositional Logic, Predicate Logic and Hennessy-Milne

[2018-07-03 12:24] golovach-ivan opened #822 "Meetup "Smart Contract Formal Verification", Europe/Ukraine/Kyiv, 5 July"
Holding tech/math meetup in Europe/Ukraine/Kyiv, July 5.
Topic: "Smart Contract formal verification: Process Calculus and Modal Logics".

### Event Program
1. Tell about the RChain Coop.
2. Tell about bounty program.
3. Tell about "Designing Computational Calculi" course.

4. Big topic: Chemical Abstract Machine, LTS and CSS.
5. Big topic: Propositional Logic, Predicate Logic and Hennessy-Milner L

[2018-07-03 12:35] ICA3DaR5 commented on #802
@Tonyprisca13 Will do tomorrow.

[2018-07-03 12:38] golovach-ivan commented on #764
Status
1) In 6 weeks did research on Formal verification.
2) Write and send article to habr.com, now i'm steel waiting for the moderation of the article.
3) As a result of the research I also hold a meetup #821 ("Smart Contract Formal Verification: Process Calculi and Modal Logics")
4) As a result of the research I also hold a meetup #822 ("Smart Contract Formal Verification: Process Calculi and M

[2018-07-03 15:47] philipandri002 commented on #781
*reviewing the profiles of a majority of those who asked the questions, asking questions seems to be what they do there. Like I said earlier, most of the questions and answers were pretty much generic. the questions especially seem to me to want to populate amafeed with a questions log rather than a genuine interest. Obviously, it is not your fault but the fact that there was no corresponding feed

[2018-07-03 17:00] jimscarver commented on #792
I think we can use community servers like rchain,coop, rhobot.net and rchain.divvydao.org that are cooperatively managed unofficial staging of apps that might become official rchain apps.

I think the issue of rchain account on google and apple is separate from this issue but needs to be addressed.

@AhsanFazal The desktop bounty dashboard team is interested in making the app mobile friendly. I am

[2018-07-03 17:12] philipandri002 commented on #807
@pmoorman @AyAyRon-P @kitblake. IMO I think most of us who collaborated on this issue didn't get the right idea of what this was suppose be. From what I'm seeing here most persons do not understand that RChain is not for every audience. You may have 8million follower's on Facebook, twitter or other social handle yet it doesn't make that the right RChain audience.
I would have expected that we sear

[2018-07-03 17:59] allancto commented on #803
@zsluedem thanks for this report. I look forward to this becoming a model for reporting on all of our worldwide community building. I have voted a budget of $1500 for this piece of work because it provides us all with an outstanding model. I encourage others to vote a budget on this issue. Also @zsluedem I've included rewards votes for those you recognized in your report for their (direct or indir

[2018-07-03 18:29] tschoffelen commented on #792
I think the distribution is not an issue. Some of the tools that the Rchain community are using currently are community-hosted, so I think that would be fine for apps as well, with the ability for RChain to officially host them later. If @AhsanFazal is going to release this app, it will probably be under his personal name anyways, not claiming to be RChain.

The overlap in effort could come from t

[2018-07-03 18:46] dckc commented on #803
@allancto writes:

That makes this an [unguided task][1]. That doesn't seem like a step forward.

[1]: https://github.com/rchain/bounties/wiki/Bounty-Task-Guides#unguided-tasks

[2018-07-03 18:47] dckc commented on #815
I wonder how this relates to #539.

[2018-07-03 19:40] kovmargo commented on #821
According to this task, could you please provide me with a good quality RChain logo? I'm working on printed matter and going to use logo to add more value RChain Coop.

[2018-07-03 19:50] Tonyprisca13 opened #823 "20180704 RChain Active Member Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

_Estimated Budget of Task:_ $150
_Estimated Timeline Required to Complete the Task:_ 1week
_Measure of Completion:_
 - [x] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1

[2018-07-03 19:52] #800 closed

[2018-07-03 20:31] allancto commented on #796
@David405 @Valentine-Mario @Ojimadu @nonnykul I have created a skeleton for RChain Africa Community Report Jun 2018 in Members/CommunityBuildingWorldwide repo
https://docs.google.com/document/d/1zRWt43P7UXFs99FGJD_TQnVNeebJ2dlG2Fv06BF_E_Q

I request that you write the June report and include this and other activities from your community (node setup,DoCC, forum and others). Writing this report migh

[2018-07-03 21:06] JoshOrndorff commented on #792
What does a mobile app provide that a mobile website doesn't provide?

Of course anyone is welcome to build any tool they want, but a native-running app seems like overkill here. Please teach me what I'm missing.

[2018-07-03 21:07] allancto commented on #822
@golovach-ivan thanks for posting this. Please report progress as it happens in the "Community Building Worldwide" folder. If possible it would be nice to have a June report as well. You might consolidate with @qelentium, @Barkov-F and others in the Russian language community. For reference see #803. There's a lot of cool things going on in the Russian language community- please take the time to s

[2018-07-03 22:12] allancto commented on #822
@golovach-ivan i'd like to add one more comment. To the extent that new understanding, methods or tools come out of your work to support "Smart contract formal verification" in a significant way, please highlight that and I will vote a special budget to acknowledge the accomplishment you and your coauthors/ contributors have made. Formal verification is hugely important because it allows us to gai

[2018-07-03 23:08] lapin7 commented on #821
See https://github.com/rchain/style_guide_and_files/tree/master/print

[2018-07-04 00:42] deannald commented on #764
Thanks @golovach-ivan for the breakdown and clarification.

[2018-07-04 00:46] deannald commented on #792
@JoshOrndorff Unless there are specific on-device functionality requirements that can only be achieved with a native app, I would prefer that we stick with a mobile responsive app. Especially for something with such limited functionality.

[2018-07-04 10:46] zsluedem commented on #803
@allancto Thanks so much. I really appreciate it . Of course , I'd love to to adjust the budget and the reward if every one is Ok with it.

[2018-07-04 12:36] David405 opened #824 "RChain Africa Community Report June 2018"
**Benefit to RChain**
Since #591 was created in April, there have been evident progress .  Benefits of RChain investing in Africa can be seen in #716.

The report can be seen [here](https://docs.google.com/document/d/1zRWt43P7UXFs99FGJD_TQnVNeebJ2dlG2Fv06BF_E_Q/edit#)

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget o

[2018-07-04 12:48] David405 commented on #796
@allancto the report has been written and an issue #824 has been created to address it.

[2018-07-04 15:31] dckc commented on #789
@deannald would you please add a budget vote based on your review? And would you please help me figure out how to summarize the value we're getting here for future reporting?

The budget votes currently range from $2500 to $5000, resulting in an effective budget of 3666.67. I'm struggling to figure out whether that's appropriate. Among [Development rewards for 201806][1], this issue is second only

[2018-07-04 15:32] dckc commented on #789
@jimscarver to what extent are the assignees still in the critical path? What is @barneycinnamon
expected to do, for example?

I presume @allancto has done his bit; I un-assigned him to make room for @deannald , as only 10 people can be assigned.

[2018-07-04 15:36] dckc commented on #809
@deannald @Jake-Gillberg I'm headed out for the holiday soon; I'd like your help with https://github.com/rchain/bounties/issues/789#issuecomment-402510454

[2018-07-04 15:37] dckc commented on #809
I asked @allancto to help @deannald and @PatrickM727 get in touch with the guides to wrap this up.

[2018-07-04 15:41] dckc commented on #809
@deannald would you please certify the guides that you have formed effective working relationships with? [The list of people you have certified][1] is empty.

@PatrickM727 the certifications you made as @patrick727 have no effect. Please re-do them as @PatrickM727 . (Well, I'd rather you went back to your @patrick727 account, but I can imagine that's infeasible.)

[1]: https://rewards.rchain.coop/

[2018-07-04 15:52] dckc commented on #749
@ICA3DaR5 please add a budget vote to clarify whether you agree with the suggestion of $1200.

@Mervyn853 perhaps you have an opinion on the impact of this translation?

[2018-07-04 15:58] dckc commented on #794
In reviewing [rewards for this month][1] I see substantial rewards claimed for **both** this issue and #202. Why are rewards claimed for both? How are they different?

cc @AyAyRon-P

p.s. @deannald I hope you can follow up on this; I'm heading out for the holiday soon.

[1]: https://rewards.rchain.coop/index.php?-table=reward&-limit=30&issue_num=&title=&worker=&reward_usd=&percent_avg=&budget_usd=

[2018-07-04 16:34] David405 commented on #809
@dckc I guess the [Community report in Africa for June 2018](https://docs.google.com/document/d/1zRWt43P7UXFs99FGJD_TQnVNeebJ2dlG2Fv06BF_E_Q/edit#heading=h.o9133o7w4qhx) can serve the purpose of a review, what's your take on it?

[2018-07-04 16:46] dckc commented on #809
I imagine the report is fine.

My only question here is: are the [Africa rewards for 201806][1] all set? If so, please check the box above. If not, what is left to do?

[1]: https://rewards.rchain.coop/index.php?-table=reward&-limit=30&pay_period=06%2F01%2F2018&labels=Africa&-action=list&-cursor=0&-skip=0&-mode=list&-sort=budget_usd+desc

[2018-07-04 17:19] dckc commented on #809
@David405 says there's outstanding voting to fix for a meetup issue.

[2018-07-04 18:46] jimscarver commented on #789
The most detail is recorded in [the log](https://docs.google.com/document/d/1HNIq_sBupkrtO3yuZT_5OlBWw8UEM3O9vNeQGtq9dpw/edit#heading=h.1l1bo3gc2uej) though  people have not been recording their activities to the extent I wish. The daskboard was the focus of the peer learning work group in june with participants spending up to 20 hours. @rayzer42  guided a number of sessions getting us over the hu

[2018-07-04 18:58] michaelizer commented on #810
Hello @qelentium! could you please justify the estimated budget for this task?

[2018-07-04 18:59] ICA3DaR5 commented on #425
So if I understand correctly you got payed $1640 for two pages?

Please elaborate. @zsluedem @JieL314

[2018-07-04 19:54] ICA3DaR5 commented on #757
This has been completed.

[2018-07-04 19:54] #757 closed

[2018-07-04 20:03] allancto commented on #754
@jasoncruzzy @pmoorman this topic came up at the RAM meeting today. There are two separate discussions, plagiarism and slashing.

@jasoncruzzy what is the purpose of this issue? when i read the document below my impression is that you've written a "position paper" suggesting that RChain consider using Google Adwords. In that case I would vote a small budget for it, but first the appearance of plag

[2018-07-04 20:43] dckc commented on #261
I fixed a critical bug that was affecting @jasoncruzzy in #754:

 - e3b6dad origin/master slash_judgement: don't treat 0 as slashing vote

Thanks for bringing this to my attention, @David405 . cc @allancto

[2018-07-04 21:03] dckc commented on #754
I just looked and the document still doesn't show which parts are quotes. **Always** cite your sources. Until the document is clear about which parts are quotes, we really can't have it as part of our work. In an earlier similar situation (#133) I replaced un-sourced material with TODO markers. I'm not available to take the time for that just now, so rather than slashing, I removed the link. I wou

[2018-07-04 21:29] Viraculous commented on #712
@kitblake, @pmoorman, @dckc, @Ojimadu @PatrickM727 @jimscarver and all who care about this fruitful effort, please  I would like to have your votes and budget support on this issue. Thanks

[2018-07-04 21:51] jasoncruzzy commented on #754
@allanco @dckc I must commend your efforts and patience reviewing this issue.
@allanco the issue was meant to be a ''Position paper''(a report outlining google ads basics and parameters 'if' RChain considers its service).
 My(@jasoncruzzy) initial idea was to act as a middleman(3rd party) suggesting the services of 'google ads' to RChain, doing that it was inevitable using the 'google docs' basics

[2018-07-04 21:54] Viraculous commented on #824
Awesome @David405 and @Ojimadu, Its great.

[2018-07-04 21:56] allancto commented on #810
@qelentium this belongs in Community Building. The purpose of the Smart Contracts video is to get a community of smart contract developers. If you need to translate "organically" as part of that, you may certainly post links to the translation (for instance in the Russian Language Speakers Monthly Report). As far as the *effectiveness* of your community building work, I'd look to see repositories

[2018-07-04 22:03] philipandri002 commented on #781
Budget Adjustment:

So if it were me i would put in a statement something like the following, in whatever words you yourself would choose [indicates fill in here].

"I opened this issue because i believe RChain Marketing should target a much wider audience. I still believe in that principle but in the present instance I didn't find great success in the AMA marketing.

For this issue I'm changing m

[2018-07-04 22:37] Viraculous opened #825 "RChain Weekly Update (Debrief summary) maintenance for the month of June"
This is for work done for the month of June. As instructed by @PatrickM727, I write the textual rundown/ summary of the RChain Weekly Debrief blog post which is being uploaded on medium every Monday on agreed terms of $250 per debrief.
So far for the month of June, There are four debriefs:
[Debrief 80](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-80-june-6-2018-19927f88a3c5)

[2018-07-04 22:47] AyAyRon-P commented on #794
Hi @dckc

Seems that jiyuxuan voted this month on the existing ONGOING project for reference of #202

His votes should have been cast for #794 instead

@jiyuxuan1944 please remove your votes for June from the REWARDVOTES for June

[2018-07-04 22:47] AyAyRon-P commented on #794
I'm going to close out #202 and the ONGOING PROJECT will now be this issue #794

[2018-07-05 07:56] allancto commented on #425
@ICA3DaR5 my understanding is that this work was already rewarded in February. @zsluedem is simply posting the work retroactively so it can be available to everyone. If #425 is not up for vote now I'd recommend the issue can be closed again. @zsluedem @JieL314 thanks for posting the work product, i got to watch a video and run google translate Chinese to English :) :) :)

@zsluedem @JieL314 I hope

[2018-07-05 08:04] zsluedem commented on #425
@ICA3DaR5
I am sorry that I haven't elaborated things clearly.

This issue was created in Feb.And I have check the [spreadsheet](https://docs.google.com/spreadsheets/d/1UfRgtSaTcZvuVW7GOonivA3Qgs2xVgT-0SVwpuDxHzM/edit#gid=592953635) from #637 the reward has already been given to the contributors for **$1640**. I have checked my invoice in Feb which I got **$32.8** from this issue which is **2%** o

[2018-07-05 09:17] BelovedAquila commented on #809
please I observed the budget and rewards for most  meetings related issues as at 201806 hasn't been set, like issue #782 #773 #757 #800 please can that be looked into?

[2018-07-05 09:39] philipandri002 commented on #656
@AyAyRon-P okay I think I have answered lots of your questions in previous comment. But to round it up this campaign has successfully brought a new developer to the RChain and you will find him in discord as @MrBoss @Biller on github..

Thanks.

[2018-07-05 09:46] BelovedAquila commented on #672
@pmoorman I have an interest to assist in guiding Education,Meeting and Africa

[2018-07-05 11:05] golovach-ivan commented on #821
The meetup was held.
Video will be uploaded to Youtube Channel soon (5-6 July).
The discussion with math community was productive - mostly about
1. Formalisms (calculuses, algebras, logics) designing.
2. Hennessy-Milner logic with recursion.

And many questions was arised, main one: Ok, ModalLogics/HML is native logic for checking behavioral types like safety/alive properties (deadlocks, livelocks

[2018-07-05 11:17] golovach-ivan commented on #822
@allancto
1. I feel meetups part of June report - https://docs.google.com/document/d/1uwfmGX-G0UrmCZfNAJl2Zot5irUYUOvIcQVfP65BtxY/edit
2. In my opinion i understand logic/calculi interaction (checking "p ⊨ φ" or "¬(p ⊨ φ)" on the level CCS/Hennessy-Milner-Logic) but next level π-calcili/Caires-Cardelli-Logic and next-next level RHO-calculi/namespace-Logic need more research.
3. I think we need res

[2018-07-05 12:03] ICA3DaR5 commented on #749
@dckc #802 will be updated today, with votes, including this issue.

[2018-07-05 12:07] ICA3DaR5 commented on #425
@zsluedem Closing this, your elaboration is clear as far as I am concerned!

[2018-07-05 12:07] #425 closed

[2018-07-05 12:51] jimscarver commented on #772
It looks like a good writeup. I suggest it should include relevant links to rchain info and the bounty system.

It  It seems relevant to members generally so promoting just to africa seems to limit the value generated from the effort.

This is a good start however and I will support the budget for $350 for now.

[2018-07-05 13:33] ICA3DaR5 commented on #805
@casanwugo Hi, in our private chat you asked from me to vote you, @deannald prompted you to ask the translation guides to point you to the most recent documents. You didn't do that. Why is that?

[2018-07-05 13:40] ICA3DaR5 commented on #808
@casanwugo Could you please justify the $800 suggested budget for a single blog post?

Counting the words and looking at other translators prices this should be a ~$200 budget.

[2018-07-05 13:59] ICA3DaR5 commented on #762
@niwaa Please post the Pull Request here. Also this document has been removed from the repository so IMO it's obsolete.

[2018-07-05 14:00] casanwugo commented on #805
@ICA3DAR5 Hello, sorry about the mix up... But i think you should go through our earlier chats because i think you misunderstood me.

The document was already sent out for translation before @deannald prompted me to liaise with the guides. Hence i told you in our conversation to see "her comments" once the translated doc was ready to know if it was ok to go ahead and post... And you gave me a go a

[2018-07-05 14:02] ICA3DaR5 commented on #764
@golovach-ivan Why haven't you answered my previous [comment](https://github.com/rchain/bounties/issues/764#issuecomment-400766642)

[2018-07-05 14:21] ICA3DaR5 commented on #802
Updated as of today, including now suggested budgets.

[2018-07-05 14:51] PatrickM727 commented on #742
Where is the mistake?

[2018-07-05 15:17] casanwugo commented on #808
@ICA3DaR5... The reason for the budget is because of the manual imput, time, and other expenses involved in getting the translation work done.

[2018-07-05 16:36] #801 closed

[2018-07-05 16:52] allancto commented on #789
@deannald @dckc @PatrickM727

Here are the three valuation models I considered.

1. What would this project cost if it had been created out of an informal spec and contracted outside? my rough estimate was ~$4000. Here I'm not an expert, on the other hand @deannald @dckc and @PatrickM727 would be much better informed.

2. What is the impact on our Cooperative in terms of utility? Will it be used a

[2018-07-05 17:20] deannald commented on #789
@dckc - I haven't used the system to determine it's current and future value in comparison to the already in use rewards.rchain.coop system. My impression - it's another view into the same data store. Ideally, if I had any say on this, it would have been to have integrated the functionality that this issue adds to the rewards.rchain.coop site, rather than having two tools to juggle between.

If th

[2018-07-05 17:40] Tonyprisca13 commented on #758
@kitblake @dckc @jimscarver  @Ojimadu @ allancto @lapin7 I will appreciate your help to  budget and reward these issues [800](https://github.com/rchain/bounties/issues/800),[782](https://github.com/rchain/bounties/issues/782),[773](https://github.com/rchain/bounties/issues/773),[758](https://github.com/rchain/bounties/issues/758)

[2018-07-05 17:51] kitblake commented on #754
@jasoncruzzy This is still the case (here I'm going to quote what @dckc wrote above):

"I just looked and the document still doesn't show which parts are quotes. Always cite your sources."
– Source: @dckc in https://github.com/rchain/bounties/issues/754#issuecomment-402558960

A reader cannot see what parts are quotes, and the references don't indicate that either. We must follow academic standard

[2018-07-05 17:53] jimscarver commented on #789
I reduced my vote down to what the team decided given hesitancy expressed by task committee members.

What was accomplished here is not so much as a specific interface as it is a flexible interface created by users for users. It is not complete as it still lacks all the functionality of the existing system. The aim is to add api's to the existing system in order to allow the evolution of alternati

[2018-07-05 18:02] jasoncruzzy commented on #754
@kitblake I will make some readjustments I think I got a clearer view from
you👍👍

On Jul 5, 2018 18:51, "kitblake" <notifications@github.com> wrote:

[2018-07-05 19:18] allancto commented on #792
@AhsanFazal in order to have this issue properly voted you need to give us guidance on whether there are team contributors (with %rewards), whether updates have been made according to the discussions above, and whether there is any anticipated maintenance.

I cast my vote for an overall $1600 budget based on my instinct that this is a tool which will get good usage within our community together wi

[2018-07-05 20:42] PatrickM727 commented on #770
@olisb if you want the budget to go to you, sync with rewards.rchain.coop

[2018-07-05 21:56] qelentium commented on #810
@michaelizer yes, its going to be not only translation but comments and explanations included.its gonna help to grow up russian community and understand better what is RChain,

[2018-07-05 23:00] qelentium commented on #810
Translation done.Checked.Reviewed.Added commentary and explanations

[2018-07-06 02:52] BelovedAquila commented on #824
It has been a smart development in the RChain Africa community @ojimadu actually did an outstanding job in making this a reality and still seeing that it improves and progresses and other RChain Africa collaborators, cheers 🥂
@David405 please may I get to understand your conception of an Active Ram, if you don't mind?

[2018-07-06 04:50] philipandri002 commented on #809
Also issue #781 is yet to be addressed by either of the marketing, education and discussion guides save event guide@ojimadu. please I think the guides need to visit with urgency and sort it out.

Thanks...Frank Nnalue

[2018-07-06 04:59] #798 closed

[2018-07-06 04:59] zsluedem commented on #772
I think this one is kind of related to #779 . @Preshcode Would you like to work with #779 ?We are trying to update https://github.com/rchain/bounties/wiki/local-meetup-program:-summary

[2018-07-06 05:15] zsluedem commented on #814
@kitblake @pmoorman Do you want to vote for this issue? Or do you understand enough about these three articles? I need your comments and opinions about this.

[2018-07-06 06:02] BelovedAquila commented on #820
How about now @jimscarver

[2018-07-06 07:54] David405 commented on #699
@Murphy6 can you kindly give an update on this?

[2018-07-06 08:23] BelovedAquila commented on #653
Issue completed.
Please translation guides your attention is needed @ICA3DaR5 @michaelizer @zero-andreou

[2018-07-06 09:20] Viraculous opened #827 "RChain Weekly Update(Debrief 84) 20180704"
Rchain Weekly Update
[Debrief 84](https://docs.google.com/document/d/14VAmSnMnpphDdmiDEWlDJ_lozlYQOAUntCc_siAwNrg/edit?usp=sharing)
- [x]  Watch [video](https://www.youtube.com/watch?v=FFyJgXldKuc) of the Debrief
- [x]  Write textual run down
- [x]   Upload on RChain [medium
](https://medium.com/@vimirimious34/rchain-weekly-update-debrief-84-4th-july-2018-9768f046b3d0)

[2018-07-06 09:32] Viraculous commented on #712
I added the video " What is RChain all about?" as a marketing effort forward.

[2018-07-06 09:49] Ojimadu commented on #822
@golovach-ivan Did this event later hold? Any summary of how the event went?

[2018-07-06 09:53] Ojimadu commented on #821
@golovach-ivan this I see this issue and #822 are same why would rather have them splitted? Any difference between this and #822?

[2018-07-06 11:51] jimscarver commented on #820
I am not a marketing guide but I'd like to see a budget and potential readership based on publication venue(s) and promotion.

[2018-07-06 12:17] BelovedAquila commented on #820
Intend placing a budget after completion and was considering creating the article and having it circulated on social media after approval.

[2018-07-06 14:44] golovach-ivan commented on #822
Meetup was held, video will be ready in hours.
Sorry for beign late. I spent a lot of time figuring out how everything works.
June - my first month with RChain Coop.
It is very important for me to receive bounties for June - i can work full time next monthes.

[2018-07-06 14:55] golovach-ivan commented on #764
The article was rejected as too big and too technical for this site (so i think about rewriting it for IT geeks not math people). So task will not be finished in June.

[2018-07-06 15:03] Preshcode commented on #772
Great point @jimscarver. I'll work towards promoting the article in other Rchain media channels.

[2018-07-06 15:09] golovach-ivan commented on #764
@ICA3DaR5
Sorry, i missed comment.

1) The article refers to one of the 5 most important topics that should be reported to the tech/math community - RChain concensus protocol, unique calculi, uniqie lang, unique logic, correct-by-construction contracts.

2) This article is not on the translation list. I think to take risks and, if I manage to attract much attention to the article (5,000+ views), t

[2018-07-06 15:14] golovach-ivan commented on #821
@Ojimadu
These are two tech/math meetups in two cities, but with the same theme.
I thought it would be better to separate them (different issues).

[2018-07-06 15:33] Preshcode commented on #772
Yeah @zsluedem. Am interested in working on the update with ur team.
Need your assistance with voting for this issue though.

[2018-07-06 17:50] ICA3DaR5 commented on #811
@InternautNeven Please use the new [ISSUE_TEMPLATE](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md)

Also the [RChainWhitepaper](https://github.com/rchain/reference/blob/master/docs/RChainWhitepaper.pdf) file is obsolete and doesn't comply with the [ISSUE_TEMPLATE](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md)

[2018-07-06 18:30] ICA3DaR5 commented on #746
Because there was no answer from the participants of this issue, although they have voted for a budget and rewards, the translation guides are slashing the voters.

[2018-07-06 18:30] #746 closed

[2018-07-06 18:36] ICA3DaR5 commented on #749
Since the file is obsolete and there was no Pull Request submitted, the translation guides are going to vote a budget of $200.

[2018-07-06 18:36] #749 closed

[2018-07-06 19:09] ICA3DaR5 commented on #761
@yuhuanmocmoc So, you haven't responded and haven't used the new **[ISSUE_TEMPLATE](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md)**

[2018-07-06 19:09] #761 closed

[2018-07-06 19:21] #762 closed

[2018-07-06 19:28] michaelizer commented on #764
Hello @golovach-ivan! since you haven't finished this issue yet, the guides are voting zero for the budget. We will leave this issue open for next month.

[2018-07-06 19:33] allancto commented on #768
This issue has been merged.

[2018-07-06 19:33] #768 closed

[2018-07-06 19:37] allancto commented on #764
@michaelizer @ICA3DaR5 no voting is necessary for June. The work is not yet complete and will be completed and voted in July. Thanks! -@allancto

[2018-07-06 19:38] michaelizer commented on #765
Hello @Pionelle! We are still waiting for you to reply @ICA3DaR5's comment, also you haven't filled the checklist yet. We are voting zero for the budget and slashing you until you prove us wrong, please answer this as soon as you read it.

[2018-07-06 19:38] #765 closed

[2018-07-06 19:44] allancto commented on #822
@golovach-ivan please complet all the paperwork necessary. @ICA3DaR5 will help you, please dm him on discord. Thanks for your contributions!

[2018-07-06 19:49] allancto commented on #822
I have spoken with @golovach-ivan and i recommend voting the budget as proposed in the issue statement. Thanks! -@allancto

[2018-07-06 19:52] allancto commented on #821
I have spoken with @golovach-ivan and i recommend voting the budget as proposed in the issue statement. Both @golovach-ivan and @kovmargo are new members so rewards voting may be delayed but the overall budget may be voted now.

Thanks! -@allancto

[2018-07-06 19:54] #795 closed

[2018-07-06 20:28] ICA3DaR5 commented on #805
@casanwugo Again, you haven't answered why you are translating this? Since it's not up for translation.

you have stated that it's an [RChain blog](https://medium.com/rchain-cooperative) item, which is not.

Therefore the translation guides are going to slash you.

[2018-07-06 20:28] #805 closed

[2018-07-06 20:36] ICA3DaR5 commented on #808
@casanwugo I am translator myself as well as the other translation label guides (@michaelizer, @zero-andreou). We know how much effort the translation process takes. An $800 budget for a single blog post (850 words) is exaggerated. We are voting $200 for this.

[2018-07-06 20:36] #808 closed

[2018-07-06 21:22] ICA3DaR5 commented on #802
Updated as of today including voted budgets.

[2018-07-06 21:48] Ojimadu commented on #789
I found it easier to use this too to interact with the rewards app especially the ability to input the number of an issue and view or vote on the issue.

[2018-07-06 22:13] jasoncruzzy commented on #754
@kitblake @AyAyRon-P  @allancto  @dckc I included  the "quotes and sources"  in the document  as requested  check it out  https://docs.google.com/document/d/1dYufWfP8oGUPzbIfsDfcUycR6Oi5_mkfBUXFNvksiRo/edit?usp=drivesdk

[2018-07-06 22:16] Ojimadu commented on #765
Is slashing necessary here?

[2018-07-06 22:19] AdinaGitHub commented on #765
Hello,

I am not sure what is going on here, but I am not @Pionelle.

Would somebody please clarify?

Thanks!
Adina

Adina Suciu
206-234-8014

On Fri, Jul 6, 2018 at 3:16 PM, Ojimadu <notifications@github.com> wrote:

[2018-07-06 22:19] Ojimadu commented on #821
@golovach-ivan Alright, I get it now.

[2018-07-06 22:23] Ojimadu commented on #805
Is slashing necessary?

[2018-07-06 22:45] Ojimadu commented on #809
The events label is done for 201806. I voted a budget of $1600 being that marketing and translation guide has created an issue for those labels. I think this should be do. I claimed a reward based on an estimated 5 hour work. I and @trenchfloat needs help completing the rewards.

[2018-07-06 23:19] casanwugo commented on #805
@ICA3DaR5,, I answered you earlier, and have been waiting for your response on what i should do next since the work had already been posted. It wont be fair to slash me, because you gave me the go ahead to post, though it was a mistake. I have deleted from Medium and Telegram. Please kindly withdraw slash. Thanks.

[2018-07-07 00:02] ICA3DaR5 commented on #805
@Ojimadu @casanwugo is being dishonest by stating that what she is translating is an RChain blog item, which is not.

@casanwugo You never asked me to point you to the most recent documents for translation, you just asked me to vote for you. I'll chat with the other guides and see if we made a mistake. Why have you deleted from Medium?

[2018-07-07 00:04] ICA3DaR5 commented on #765
@Ojimadu She can still reply and prove us wrong.

@AdinaGitHub What do you need clarification for? Elaborate.

[2018-07-07 00:19] ICA3DaR5 commented on #653
@BelovedAquila You consider [this](https://drive.google.com/drive/folders/0BwX0krsxHncTUjNKUnZuOVZGLWc) completed and worthy of $3000?

Examples of poorly written content:
1.
![7](https://user-images.githubusercontent.com/34237682/42404717-592ee560-8194-11e8-98c1-57e1626c8bb1.png)
2.
![6](https://user-images.githubusercontent.com/34237682/42404718-595a7266-8194-11e8-8e2e-202b63e805ef.png)
3.
![5](

[2018-07-07 02:15] truffard commented on #653
Finally you begin to understand when I said that those "translators" have a very basic command of the french language. Whats up with the sugar (sucre) above in §3 ? Pretty funny though.

[2018-07-07 02:36] AdinaGitHub commented on #765
Please clarity why am I part of this thread. Thanks.

Adina Suciu
206-234-8014

On Fri, Jul 6, 2018 at 5:04 PM, Donald A. Iljazi <notifications@github.com>
wrote:

[2018-07-07 06:21] BelovedAquila commented on #653
@ICA3DaR5 are you underestimating the doc as poorly written on the basis that we followed the way it was written in the original doc? I will adjust the budget.
@truffard aside from the fact that you are ok with ad hominem contrary to norm and good at hasty exaggerated conclusions, you made same good observation which I did, just that you are asking a right question to the wrong person, that questi

[2018-07-07 06:53] Murphy6 commented on #699
@david405 thanks for your comment at this point the page has over 104 followers and it is still growing it has a lot of content and people are really getting all information they need from the page.

[2018-07-07 07:00] Murphy6 commented on #815
It is a great idea will love to be part of it

[2018-07-07 07:08] casanwugo commented on #805
@ICA3DaR5... I did tell you to see @deannald's comments before continuing with this issue. But like i said earlier, sorry about the mix up if you misundertood me on the chat.

I had to delete the post from Medium, because you have now pointed to me that it isnt an RChain blog item, and i cannot go contrary.

Thanks.

[2018-07-07 07:13] Murphy6 commented on #699
@david405 @AyAyRon-P @kitblake @pmoorman please am kindly asking for support the page has over 104 Africans following and with great content on it.

[2018-07-07 12:12] David405 commented on #809
Rewards for Africa issues is set

[2018-07-07 13:03] InternautNeven commented on #811
It is not problem with template and i can use new template, but if you read Issue- it is done issue in February of this year #449- and then it was not obsolate. It was finished in time, and only reason why i opening it is - error in bounty system. And this is only way to re-open it and vote again.

[2018-07-07 13:05] jimscarver commented on #712
It appears you effort @Viraculous was quite fruitful. Good job!

[2018-07-07 13:40] AyAyRon-P commented on #699
I don’t see much if any value of having an Instagram for RChain. We have discussed this before and there are other social media platforms that will be far more beneficial to RChain if you are truly trying to build a community in this region. @ojimadu @philipandri002 what’re your thoughts?

[2018-07-07 14:20] allancto commented on #810
@qelentium where are the comments and explanations in the source language (English)? Are there specific instances of community building- code, workgroups and so on- that you built with this? I don't see any contributions to "RChain Russian Language Community Worldwide Report Jun 2018".

[2018-07-07 15:00] qelentium commented on #810
Its translation. @allancto its not about our works in workgroups

[2018-07-07 15:03] ICA3DaR5 commented on #588
This has been completed, with an IOU of a few things like more categories and plugins, which I'll add during the month of testing (July). The forum is ready for people to start using it. Let's start utilizing it as a Beta for this month -> https://rchaincommunity.xyz/

$0 budget for the month of July and forward. Hence the IOU!

[2018-07-07 15:12] golovach-ivan commented on #821
This is my oversight, that the task was created in July.
These meetups are the result of our work in June, is there any possibility of transferring them to June budget?

[2018-07-07 15:12] golovach-ivan commented on #822
This is my oversight, that the task was created in July.
These meetups are the result of our work in June, is there any possibility of transferring them to June budget?

[2018-07-07 15:14] jimscarver commented on #820
Can youy give an approximate budget. It can always be chaned.
I suggest you add publishing personally upon completion and feed back here to your objectives. The intent to circulate on social media in the event of approval and publication by the coop can be mentioned but it might serve a community building function in our networks having value in itself.  Official publishing by the coop is is tough

[2018-07-07 15:20] allancto commented on #810
@qelentium I see that the Translation guides have voted $620 on this issue. I will reclose this issue and leave it at that.

[2018-07-07 15:20] #810 closed

[2018-07-07 15:33] allancto commented on #755
We had a team meeting and recommend voting a $1000 reward for progress in June by each of the three teams (total $3000). We have laid a foundation and made some progress but haven't yet produced the quality and quantity of work we are aiming to achieve in this project.

@Jake-Gillberg and others with an interest in this issue, please vote for the June budget. Thanks!

[2018-07-07 15:58] Viraculous commented on #712
Yeah, thanks @jimscarver.

[2018-07-07 16:06] pmoorman commented on #781
oke, there are basically 2 things that sit badly with me:

1. @philipandri002 is presenting as if he works for RChain, and thus represent us. This is _really_ harmful, and really shouldn't be encouraged like that. He's also making many factual errors such as saying that RChain transactions will be "99% secure" and that RHOC can be used only by RAMs, and stuff like that.  =>  red flag for me

2. Al

[2018-07-07 17:03] pmoorman commented on #814
This is now voted for, and fully provisioned. Good work here. Excellent example of good marketing work being produced under the bounty program!

[2018-07-07 17:50] pmoorman commented on #754
@jasoncruzzy I have re-reviewed this issue today, and decided to retain my slashing vote.

The reason is that — even after lengthy discussion about plagiarism with all the people above — you still fail to disclose what's actually going on. The very first paragraph of your document almost entirely matches the first paragraph of the [Wikipedia article](https://en.wikipedia.org/wiki/Search_engine_mar

[2018-07-07 18:31] allancto commented on #588
@ICA3DaR5 I do think multiple forums are a good idea. Just as in the world at large there are many newspapers, many different development tools and so on. Imo the value of this particular forum will be unknown until we see the usage of it. But it certainly might be a good venue for moving the bounty system out of Translation and into community building, commentary and discussion. So as far as valu

[2018-07-07 19:54] jasoncruzzy commented on #754
I had read and learnt read about Search Engine Marketing via Wikipedia and 'Google ads' and I had defined the first "paragraph" with the basics of information I got from Wikipedia but certainly not(word for word). I am no longer interested in the budgeting of this issue as it seems not 'feasible'. But @pmoorman I'm yet to understand why the SLASHING VOTE on an issue that is yet to get a single bud

[2018-07-07 20:17] ICA3DaR5 commented on #811
@InternautNeven Okay, please take this issue and post it on Discord up for discussion so we can have a consensus.

[2018-07-07 20:36] allancto commented on #764
@ICA3DaR5 @michaelizer it appeared that @golovach-ivan did a significant amount of work during this period on two meetups, #821 and #822, but these did not get posted early enough for June voting. Therefore I propose we vote the first half of this budget ($1000) now and the rest on completion.

Thanks! -allancto

[2018-07-07 20:59] pavlos1851 commented on #818
Posts made public. Closing issue.

[2018-07-07 20:59] #818 closed

[2018-07-07 21:04] ICA3DaR5 commented on #764
@allancto Okay.

[2018-07-07 22:49] ICA3DaR5 commented on #802
This has been completed. Closing.

[2018-07-07 22:49] #802 closed

[2018-07-07 23:02] ICA3DaR5 commented on #588
@allancto I will continue to maintain it with full transparency. I will open another issue with a $0 budget for the IOU part and for the maintenance. We can discuss about moderation on [Site Feedback](https://rchaincommunity.xyz/c/English/Site-Feedback).

@jimscarver Vote as you fit. I spend a **lot** of time setting it up securely and thoughtfully and @zero-andreou alpha-tested it. Please post th

[2018-07-08 05:17] Ojimadu commented on #821
Well, the meet up actually held in July so it belongs to the July pay period and the metrics for completion has not been achieved.

[2018-07-08 05:18] Ojimadu commented on #822
See my comments in #823

[2018-07-08 06:33] Tonyprisca13 commented on #809
Need help with reward and budget vote for this issues 773 782 800. Thanks

[2018-07-08 06:52] Murphy6 commented on #699
@AyAyRon-P thanks so much for your time and comment. Since over two months I open that Instagram handle (RchainAfrica) over 50 people have sent a direct message asking what is all about and how they can be part of it . To caught the long story short 39 of them have registered and are full members of the community.. And more are still following the page . We shouldn't in anyway understand estimate

[2018-07-08 06:53] Murphy6 commented on #699
@AyAyRon-P thanks so much for your time and comment. Since over two months I open that Instagram handle (RchainAfrica) over 50 people have sent a direct message asking what is all about and how they can be part of it . To caught the long story short 39 of them have registered and are full members of the community.. And more are still following the page . We shouldn't in anyway underestimate the im

[2018-07-08 07:22] rjl493456442 opened #828 "Translate medium post to chinese"
### Benefit to RChain

- [x] [rchain-weekly-update-debrief-83-27th-june-2018](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-83-27th-june-2018-67f309a9500) 1322words

- [x] [rchain-weekly-update-debrief-84-4th-july-2018](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-84-4th-july-2018-9768f046b3d0) 866words

- [x] [the-future-of-blockchain-event-with-greg-mer

[2018-07-08 09:51] kitblake commented on #699
@Murphy6 Instagram is not one of the services that the Cooperative is using. That could possibly change in the future but until it does there's no ROI on an rchainafrica Instagram.

[2018-07-08 13:15] ddayan commented on #797
@tschoffelen great job with the Rholang on cloud I really like it. While we are waiting for a new rchain coop website the guides will be posted as blog posts on the new rchain blog that is coming up.

I'm going to close this issue for now.

[2018-07-08 13:15] #797 closed

[2018-07-08 15:47] pmoorman commented on #754
Final update (from my side, at least):

- The reason for the slash vote I've outlined above. Because I belief this issue hurts the RChain Coop, and it's bounty system.

- After discussion with other guides (specifically @allancto ), I belief there's no bad intent at play on this issue, mere misunderstanding. We came to the heuristic that slashing is for (suspected) bad intentions, and 0-voting for

[2018-07-08 15:47] #754 closed

[2018-07-08 15:56] #825 closed

[2018-07-08 16:03] Viraculous commented on #743
ok @Ojimadu

[2018-07-08 16:04] #742 closed

[2018-07-08 16:45] Viraculous commented on #743
Recommended event to attend for the month of August
**[Blockchain Summit](http://blockchainsummitsingapore.com/)**
Date: 28th, August.
Place: Singapore Asia
Audience: 700+

[2018-07-08 17:46] pmoorman commented on #588
Going along with @jimscarver comment above, I've voted $500 until it's clearer how the higher budget is justified. I also agree that we shouldn't pay for work that's still to be delivered.

If more work needs to be done in July, let's pay for it in July.

@ICA3DaR5 I think the main problem here is that from your comments it's hard to understand where all this time/money went, and how it's justifie

[2018-07-08 19:15] InternautNeven commented on #811
Sure, i put it on Discord/Bounties.

[2018-07-08 19:32] allancto opened #829 "Forum Improvement Proposal: Add Automated Translation"
### Proposal and Benefit to RChain

The RChain Worldwide Forum https://rchaincommunity.xyz/ (#588 by @ICA3DaR5) supports discussion groups in many languages, and we wish to improve communication between our various language groups. Manual translation documents has in the past been a primary way of reaching out to speakers of other languages. Manual translation more suitable for many purposes than

[2018-07-08 19:54] allancto commented on #588
@jimscarver you are correct that the total budget for this project was $7500, which i consider very inexpensive relative to its potential. @jimscarver @pmoorman it's my assessment that over time this will prove to be of great value to our Cooperative. For context please add up all the budget numbers to date for Translation and for custom forums paid for by our Bounty system. In addition think abou

[2018-07-08 20:01] ICA3DaR5 commented on #588
I respect all of the opinions of the community. Nevertheless that's the amount of USD that I value my work, therefore I stand by my vote. Everyone is free to vote and I respect those votes as well.

[2018-07-08 20:35] ResonanceXX commented on #777
@AyAyRon-P Is this an edit? Did you make any changes which should reflect in the published article? For days, you should have maybe - @ me on this. I've been getting treatment.

[2018-07-09 01:37] allancto commented on #588
@ICA3DaR5 @jimscarver looked at the content in the forum and believes it may currently contain plagiarized or otherwise improper content. Whether that's true or not there should be an explicit projection of cost of moderation in this forum. It appears that the voting to date approves half of your requested budget, leaving the other half till next month voting, which may be appropriate until these

[2018-07-09 05:42] Viraculous commented on #827
Done.

[2018-07-09 05:42] #827 closed

[2018-07-09 15:00] jimscarver opened #830 "Establish community managed test and staging environments"
### Benefit to RChain
Cooperative community managed test and staging environments can enable greater participation of members participating in development of rchain and the community. It will enable those not expert in system administration or lacking compute facilities to actively participate in development.

This is also an experiment in cooperation at scale. From this effort, if successful. may

[2018-07-09 15:24] zsluedem commented on #829
@allancto Automated translation?Do you mean something like google translations?

[2018-07-09 15:24] David405 commented on #830
@jimscarver I don't think the **needs-SMART-objectives** is required here.

I added the "technical literacy" label since as we build products and solutions on the RChain platform, we also intend to educate others to collaborate, like the motto of colab says "we work, play and learn".

I also added some other projects that are currently ongoing such as moving to react.js

[2018-07-09 15:31] jimscarver commented on #830
I want to leave help wanted until we have a guide and a scribe for each activity/channel.

[2018-07-09 15:38] allancto commented on #829
@zsluedem yes exactly, i explicitly mean google translate or equivalent. The translation and transcription "engines" already exist, not perfect but quite usable, we just need to apply them to make cross language communication easier.

[2018-07-09 16:12] kitblake commented on #815
@dckc Is there such a disease as MVP-itis? Because we – collectively – haven't forgotten about #539 but first we want to get an MVP online.

[2018-07-09 16:35] ICA3DaR5 commented on #588
@allancto I forgot to add sources on the English and Spanish content, which I will do in the next 2-3 days. I have added sources on the Greek content.

That's exactly what I meant with the "IOU".

[2018-07-09 16:59] jimscarver opened #831 "Add RChain to the Digital Life Collective Decentralized System Network Map"
Create visibility of RChain in a multi community collaboration effort on mapping the decentralized application space.

https://kumu.io/DigLife/decentralized-tech

[2018-07-09 17:23] ResonanceXX commented on #792
@allancto Well noted. Expecting plenty of good news from this as well.

[2018-07-09 17:24] ResonanceXX commented on #784
Also would want every area pertaining to this issue be resolved by the guide. @pmoorman Hello there also!

[2018-07-09 18:37] Viraculous commented on #829
@allancto said > Perfect translation is not the goal, ability to communicate with each other by incorporating existing tools is the goal.

[2018-07-09 18:55] allancto commented on #828
@rjl493456442 @yuhuanmocmoc @zsluedem I have made a PR #826 to eliminate the Translation template above. Please consider writing an article in the RChain Worldwide Community Forum instead (#588, https://rchaincommunity.xyz/). Also please consider contributing to #829 (or recommending friends with outstanding web development skills) to develop automated tools so that instead of translating word for

[2018-07-09 19:16] ddayan commented on #777
Hello world examples are basic, having a hello world post that that has nothing to do with writing "hello world" example is a red flag. Developers that will search for rholang hello world might find this and it will make them question the project and turn away to other projects. Non-developers will think the project is a scam.

I think this issue should be closed.

[2018-07-09 19:21] allancto commented on #829
@Viraculous that link was broken and now fixed, thank you! -@allancto
https://rchaincommunity.xyz/

[2018-07-09 19:50] ResonanceXX commented on #777
@ddayan How? Why? Where? Why are you suggesting it be closed?

[2018-07-09 19:52] ResonanceXX commented on #777
Non-developers will think its a scam? Do you think this project is a scam? Because if you have sentiments like this emerge from within you, then its a reflection of the state of mind you project for people that you obviously are not.

I'm trying to understand why, how, you @ddayan think the RChain project is a scam. That is a most unhelpful and deeply discouraging thought I have seen from a ''coop

[2018-07-09 20:37] allancto commented on #829
@all here is a link provided by @ICA3DaR5 which gives some samples around working within the Discourse framework: https://github.com/search?q=topic%3Adiscourse-plugin+org%3Adiscourse&type=Repositories

[2018-07-09 21:09] BelovedAquila commented on #653
Ok @ICA3DaR5 the examples given are ok, but it's different from the original doc, the dark background on the codes and all wasn't there, so it's like suggesting that we don't follow the way the original doc is, it's like suggesting is ok adding effects and that wasn't in consideration when we worked on the doc.and yes, the codes seems technical as it's appearing to be.

[2018-07-09 21:11] philipandri002 commented on #653
Wow!!! It seem to me like there is no end to the controversy.. Like I said to @ICA3Da5 @BelovedAquilla maybe is time to end this unpleasant dispute and move on.. I think the best way to resolve situations like this is we need to get both opposing opinions to either shift group or just make some little compromise..

One major thing has been achieved and that is everyone now have a clearer picture o

[2018-07-09 21:49] dckc commented on #809
At the request of @lapin7 , I rolled over to July:

[2018-07-09 21:50] dckc commented on #821
@allancto writes:

See #682 disallow votes on issues created after the current pay period

We're now in the July pay period, so you should be able to vote for this.

[2018-07-09 21:59] dckc commented on #792
After all the negotiation over budget, I don't see any reward votes; in particular, @AhsanFazal , none from you. Oh well... I guess we can get it right in the 201807 pay period.

[2018-07-09 22:53] rjl493456442 commented on #828
@allancto will use your translation template once it get merged!
And for the forum, yes we definitely will post our idea on the forum and appreciate for the awesome forum!
And for the automated translation, tbh the translation quality is a big problem. If we only use the automated translation for forum, i say yes, it doesn't require high translation quality and will definitely improve the communic

[2018-07-09 23:32] allancto commented on #828
@rjl493456442 also #755, DSL's are imo awesomely valuable for us, if you can get more team members or teams on that I'd be happy to support the translation or hardware or anything else you need in order to get the quality of contribution we need in order to move dApp development forward. Thanks! -@allancto

[2018-07-10 01:17] dckc commented on #811
It's not too late to vote on budgets and rewards for #449. This is a duplicate; please don't vote on this issue.

[2018-07-10 02:47] yuhuanmocmoc commented on #828
@allancto We will find more people to join us next time,  thanks for your warning.

[2018-07-10 09:29] owans commented on #830
Good one sir @jimscarver

[2018-07-10 11:11] David405 commented on #829
@allancto I am concerned about the quality of automated translations......I think one of the major calls for concern of translated works over time has been the use of services such as google translate.

[2018-07-10 18:07] David405 commented on #779
@pmoorman @zsluedem I created a [Local meetup guide](https://docs.google.com/document/d/1xaQBDgGgt0KKeZzhi1x8RQsIg9A7LOR3o8_X33BrcSY/edit#heading=h.9fqlqqffh79k), I believe it is a good start to update the current [wiki](https://github.com/rchain/bounties/wiki/local-meetup-program:-summary)

[2018-07-10 19:54] kovmargo commented on #821
You can find printed material here:
https://drive.google.com/drive/folders/1llu0D7iqd4Oh6QmC1ZXTLsIawRSBh3no?usp=sharing:

Where it is better to store this data?

[2018-07-10 21:08] allancto commented on #821
@kovmargo thanks for your question. Please post in the "[RChain Community Worldwide](https://drive.google.com/open?id=15Uq2FRo_o_165NG-QOLHwszIj5XCZ0eq)" folder, you'll find a subfolder for our Russian language community. Let me know by DM in discord if you run into any problems.

Thanks! -@allancto

[2018-07-10 21:12] deannald commented on #814
@zsluedem - Can you tell us a little more about the website, zhuanlan.zhihu.com? It appears to be similar to medium.com? What kind of traffic/readership is there? Would it be beneficial to cross-post these articles to other Chinese websites?

I read through the translated posts and they look like they are of good value to RChain interested developers/investors. I agree, this is not just translatio

[2018-07-10 21:16] deannald commented on #815
@kitblake Yes, I've seen many articles about it in JAMA. MVPs are great - just as long as there's a roadmap and future releases planned :)

[2018-07-10 21:23] deannald commented on #821
@allancto "This RChain Community Worldwide folder"is good for consolidating printed materials/write-ups, but is there a plan to make this folder not only available, but known to the RChain Community or is there a better suited place to be publishing these materials for greater access and visibility?

[2018-07-10 21:34] deannald commented on #822
@golovach-ivan For this event as well as the one cited in #821, can you please let us know a little more about them? How many attendees were at each meetup? Were the documents/slides developed for the 2 events materially different or was there reuse - hence the meetup in a box? If so, I'd like to see the events combined and/or the total costs shown (in other words, how are you getting at the budge

[2018-07-10 21:37] allancto commented on #821
@deannald the folder is for materials referred created by our Worldwide Community, from where the will hopefully be referenced by our [Worldwide Community Forum](https://rchaincommunity.xyz/) as well as any others who reference them. @ICA3DaR5 , i don't see a sub forum for our Russian Language community, let's get that going so that @golovach-ivan @kovmargo can begin posting there and also cross l

[2018-07-10 21:40] allancto commented on #814
@zsluedem please consider also cross posting all these articles and references or important comments in [RChain Worldwide Community Forum](https://rchaincommunity.xyz/). Thanks! -@allancto

[2018-07-10 23:17] ResonanceXX commented on #784
@pmoorman All that you wrote is fair.

I would love to see a more actionable response. And it  is my genuine concern that these administrative bottle necks do not impede the creative freedom that most RChain members once expressed.

[2018-07-10 23:18] ResonanceXX commented on #777
@pmoorman And this too, I wrote this. And I promote this also.

[2018-07-11 00:04] dckc commented on #830
@David405

Does that mean this issue isn't done until the move to react.js is complete? That doesn't seem closely related to setting up staging environments.

It's OK to brainstorm a bit in the first week or so of an issue, but let's do aim for a more crisp definition of what the finish line looks like.

@jimscarver  Clue me in a bit? What does "maintain dashboard at https://rchain-bounty.rhobot.n

[2018-07-11 00:05] deannald commented on #823
How is this $800 worth/1 week of effort? Generally, I haven't seen an agenda before these meetings, and the work announcing in chat and taking minutes is maybe an hour and a half of write-up and review? Am I missing something on this?

[2018-07-11 00:10] deannald commented on #824
@allancto Do we have a standard budget for community reports? My understanding is that this particular issue isn't paying for the work that was done in creating community (@David405 Well done, by the way!), but for creating this particular report. What are the guidelines for reports - is it based on length, comprehensiveness? It would be good to have some standards to set expectations on budget.

[2018-07-11 00:20] deannald commented on #829
Perhaps I'm missing the point of this issue, but doesn't your browser already take care of this automated translation? I can reference any one of the pages produced and Google automatically translates the page (based on my preferences). Why are we reinventing the wheel here? What additional functionality are you proposing? If I wander into https://rchaincommunity.xyz/c/Italian-Italiano and click o

[2018-07-11 00:29] deannald commented on #830
I think this is a great idea. However, I'd like to see some more dev work in the pipeline (as well as definition of dev work) to not only justify setting this up, but to get a better idea of requirements of what _kind_ of test and staging environments need to be configured, set up and maintained by a devops team.

[2018-07-11 04:32] dckc commented on #829
I see this has a **Web Development** label and no other issue does. Labels are for grouping issues. Until there's a pattern, a new label isn't worth the cost.

[2018-07-11 04:38] dckc commented on #788
Contributions are welcome, but I plan to get this done whether I get any or not. I'm inclined to reserve **Help Wanted** for issues where the author's plan is incomplete without help.

[2018-07-11 04:46] dckc commented on #588
Making it more clear that https://rchaincommunity.xyz/ is in draft state is **URGENT**.

Right now, pages such as https://rchaincommunity.xyz/t/introducing-rspace/80 are copied from elsewhere without attribution. And they bear the RChain cooperative logo, with no disclaimer. These pages are visible via a Google search and anyone who finds them that way will not have the context of this issue. With

[2018-07-11 04:56] dckc commented on #588
The title and "Benefit to RChain" speak of a community forum, but I see only one participant. Please either
  1. change the objective to include something about community participation or
  2. change the title to "set up forum service" or some such and change the "Benefit to RChain" to explain why forum software installation benefits the community.

[2018-07-11 05:04] dckc commented on #188
I see no movement in over six months.

[2018-07-11 05:09] dckc commented on #208
Issues such as #789 seem to capture the actual work going on.

Consider making a wiki page if you want to keep the notion of peer learning as a somewhat permanent fixture.

@TrenchFloat or @Viraculous, if you find coaches, do tell.

[2018-07-11 05:10] dckc commented on #298
I don't see why this was reopened.

[2018-07-11 05:10] #298 closed

[2018-07-11 05:13] dckc commented on #495
Let's reduce the scope of this and call it done. When you're ready to do more work in this area, feel free to create a new issue or re-open this one.

[2018-07-11 05:13] #495 closed

[2018-07-11 05:14] dckc commented on #594
The energy here seems to have petered out.

[2018-07-11 05:14] #594 closed

[2018-07-11 05:57] Cryptovideos opened #832 "Animated Rchain Facebook Banner Video - Mainnet Release"
Create a 3d animated Facebook Video Banner for the Rchain Facebook page - Call to action / Announcement promo

- Communicate the requirement from marketing
- Create the Animation
- Present the concept and get approval from marketing
- Pull across into the editing main production suite
- incorporate particular details/date/info
- add sound design, color grading and post production for final export

[2018-07-11 07:19] allancto commented on #788
@dckc imo the Help Wanted label is to attract potential contributors who might be interested and may otherwise not realize that they're invited (which from knowing you I assume you would invite any developers, cryptographers, statisticians who show up). The Help Wanted label is to attract potential contributors to work with us and to let others know we're doing interesting work. -@allancto

[2018-07-11 07:41] kovmargo commented on #821
@allancto seems I don't have permission for edit "RChain Community Worldwide" folder. Could you please provide me with? Thx

[2018-07-11 09:08] Viraculous commented on #208
Ok @dckc

[2018-07-11 11:43] zsluedem commented on #779
@David405 Oh~! I was writing something similar.But I only get the start. Yours is better than mine. Let's just take yours to add things into it!

[2018-07-11 12:46] jimscarver commented on #208
This issue is alive and well @dckc .  I apologize for not reporting here more regularly. We are hoping to gear up better documentation work product of the work study.  Nrief notes and video links are in [the log](https://docs.google.com/document/d/1HNIq_sBupkrtO3yuZT_5OlBWw8UEM3O9vNeQGtq9dpw/edit#heading=h.yfdz9h17alzn).  There are many issues addressed in work study but they are not work study. W

[2018-07-11 13:44] jimscarver commented on #830
You got yourself assigned to this issue @dckc and your guidance is welcomed. In this cooperative effort we all lead ourselves but welcome your knowledge and experience.

The intention of the dashboard is offer community build tools. While it is presently a one page app the hope is that other pages will be added. Some of us are aiming for a a stongly typed GraphQL interface to the bounty system mak

[2018-07-11 14:42] jimscarver commented on #188
I do not think this issue is closed. It is an issue looking for a team to embrace. It is an activity encouraged by Greg in a debrief/standup. Only interest has been express from both holochain and rchain but noone has stepped forward yet to take action. The issue is very open.

[2018-07-11 14:51] dckc commented on #188
Open issues represent plans to complete work. I see no plan here. Monitoring issues takes time and effort. With no indication that anyone intends to make progress, this issue isn't worth tracking as open.

[2018-07-11 14:54] dckc commented on #788
If you want to debate what the Help Wanted label is about, let's do it elsewhere. I'm deleting these 3 comments.

[2018-07-11 15:11] jimscarver commented on #188
If we intend to scale and offer opportunity to participate we want to list issues that have been staffed as well as those that have not.  If managing stale issues is the issue, I think that should be delt with separately.

We can ask if rholang support on every platform is an objective of the coop. Or if interoperation with holochain is desired. If ether answer is yes the issue should remain open

[2018-07-11 15:12] zsluedem commented on #814
@deannald Yeah. zhihu.com is more like quora. People ask questions there and many people give their thoughts and opinions. And zhuanglan.zhihu.com is like a blog(or medium.com). You can write a series topics about one thing. Zhihu.com and zhuanlan.zhihu.com share the audience. And there are a lot of developers and experts from various fields（including investors）in zhihu.com.

Yes. Most of the arti

[2018-07-11 15:33] jimscarver commented on #830
@David405 I think converting the dashboard to react.js should be part of #789 the dashboard issue.

[2018-07-11 15:41] David405 opened #833 "20180711 RAM meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [ ] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).

- [ ]  Any key discussion poin

[2018-07-11 16:05] nonnykul commented on #755
@Jake-Gillberg @allancto check out [Introduction to the design of Computational Calculi 02](https://docs.google.com/document/d/173eOPdg4e9rfnqYr-vDDh8O8pMJesoeRE7S_1y8mOLk/edit).

Comments are highly appreciated

[2018-07-11 20:07] dckc commented on #824
@kitblake any progress on your review?

You took the ball in our July 4 meeting (#823).

[2018-07-11 20:11] dckc commented on #809
In our July 4 meeting (#823) @allancto took the ball to get the TAC in touch with the label guides. We got just 3 of 12 area labels checked off. Any idea where things broke down, @allancto ?

[2018-07-11 20:15] dckc commented on #783
recall from our July 4 meeting (#823):

What news, @allancto ?

[2018-07-11 20:22] dckc commented on #823
I'm inclined to reward @David405 for some agenda preparation and note-taking. Perhaps the update from @kitblake on bounty / marketing connections was valuable.

But I just reviewed the action items and aside from my follow-up on the slashing bug in #261, I see no progress on any of them. So the rest of the meeting was just sound and fury. (I'm updating the measure of completion.)

All told, maybe

[2018-07-11 20:34] #823 closed

[2018-07-11 20:44] dckc commented on #619
@Ojimadu @pmoorman this is showing up on the [Task Approval Overdue audit][1]. Though the rewards shouldn't come until after the work is done, we owe supporting budget votes or negative feedback within 5 days as part of the [Task Approval][2] process.

Issues that span more than one pay period are awkward, but for form's sake, please do provide feedback in the mean time.

[1]: https://rewards.rcha

[2018-07-11 20:47] dckc commented on #619
@rolandkofler the Measure of Completion should include recruiting a competent speaker, yes?

[2018-07-12 01:08] allancto commented on #809
@dckc TAC is in touch with the label guides using the Label guide discord server, to which you have been invited.

Voting for June is complete. There is a blank report and a list of issues that were budgeted in June in the folder below. Label guides should look at the spreadsheet first, fill in ColumnE for issues you guided, and help complete the overall report. Thanks! -@allancto
Folder: Bounty S

[2018-07-12 01:28] dckc commented on #809
Well, voting for June is over in that the due date is passed. But is it complete in that guides from each label area have confirmed that the votes in their area are appropriate? The empty check-boxes above suggest otherwise.

Again, from the July 4 notes:

[1]: https://rewards.rchain.coop/index.php?-table=reward&-limit=30&pay_period=06%2F01%2F2018&labels=Africa&-action=list&-cursor=0&-skip=0&-mode

[2018-07-12 01:32] #759 closed

[2018-07-12 02:00] allancto commented on #809
@dckc so your purpose in this issue is for someone (the lead guide in each label?) to check that they've reviewed the votes in their label?

ColumnE is there to determine which label is responsible for reporting on an issue (where multiple labels exist). IMO that should be in the issue template. Or are you saying that bit of information is simply irrelevant?

Thanks! -@allancto

[2018-07-12 02:11] dckc commented on #809
Yes; that is: a guide from each label. (As we discussed, I have no use for the notion of "lead guide".)

I'm saying it's redundant make-work. If an issue has multiple labels, then guides for all those labels are responsible for it. If something is labelled Development and I don't want to be responsible for it, then I just remove  the Development label.

This went quite smoothly in May (#759). My a

[2018-07-12 04:29] zsluedem opened #834 "ASIAN MEMBERS ATTENTION: RAM meetings at Asian time"
### Benefit to RChain

In #833 , Jonathanks( I don't know his github name) and I have talked about the time for regular RAM meeting is really hard for Asian members to participate. So we are trying to do a regular meeting at Asian time, maybe twice a month.

The first meeting will hold at **04:00 UTC 20180717**
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

The

[2018-07-12 07:13] pmoorman commented on #619
@rolandkofler @dckc I've met with Roland here in Amsterdam, and he has organised meetups before. I think it's an excellent idea, and something we're happy to support.

I'll not cast a vote (because the payment should be in a different time period), but consider this comment an endorsement for the proposed work.

[2018-07-12 07:21] pmoorman commented on #834
excellent idea!

Count me in as a RAAM from October/November onwards again. Btw, @zsluedem I think you're doing an excellent job bridging between Asia and the rest of the community. Great work!

[2018-07-12 07:45] ottermagically commented on #834
Great conversation in Discord the past few hours, @zsluedem ... I am going to think more and _possibly_ refine our goals or create an additional issue.

[2018-07-12 10:22] Tonyprisca13 commented on #823
@deannald the budget used to be $2000 but was reduced by the community to $800. The reward is distributed according to the participation and the efforts made by collaborator to make the meeting a success. What is your opinion?

[2018-07-12 11:57] Viraculous commented on #834
@zsluedem and @ottermagically Is the RAAM going to be in English as well? What about members who are not may not have that English inclination? Is there a way to as well communicate with them?

[2018-07-12 12:04] zsluedem commented on #834
The meeting is not only for Chinese members so it is going to be English as well.

[2018-07-12 12:21] Viraculous commented on #834
@zsluedem great, I was only concerned localisation of the information for members not inclined to English language so that they can as well roll along with the community. How about Greg's debriefing, does it go well with the time zone in Asia?

[2018-07-12 15:39] golovach-ivan commented on #821
Video [Smart Contract formal verification: Process Calculus and Modal Logics, on 4 July 2018](https://www.youtube.com/watch?v=uqyFp2kIsxw&list=PLoij6udfBncjj9DmzsQB5PJEN6Eo6woHA&index=2) is ready and placed on [Youtube channel](https://www.youtube.com/channel/UCuIctN7x71qam9K_ZxS1W2A) in separate playlist Blockchain with second video ([5 July meetup](https://www.youtube.com/watch?v=TYp4bdLB11w&lis

[2018-07-12 15:40] golovach-ivan commented on #822
Video [Smart Contract formal verification: Process Calculus and Modal Logics, on 5 July 2018](https://www.youtube.com/watch?v=TYp4bdLB11w&list=PLoij6udfBncjj9DmzsQB5PJEN6Eo6woHA&index=1) is ready and placed on [Youtube channel](https://www.youtube.com/channel/UCuIctN7x71qam9K_ZxS1W2A) in separate playlist Blockchain with second video ([4 July meetup](https://www.youtube.com/watch?v=uqyFp2kIsxw&lis

[2018-07-12 16:35] golovach-ivan commented on #822
@deannald

15-20 people at every event.
Of which 5-10 high-end developers or mathematicians.

Slides was reused. Here they are (slides will be finalized in the future for next meetups. This is the first version):
- [Formalisms: Formal language, Algebra, Calculi, Logic.v1](https://github.com/golovach-ivan/Computational-Calculi/blob/master/slides/00.formalisms.v1.pdf)
- [CCS: LTS and Process Calccul

[2018-07-12 16:36] golovach-ivan commented on #821
Slides (will be finalized in the future for next meetups. This is the first version):
- [Formalisms: Formal language, Algebra, Calculi, Logic.v1](https://github.com/golovach-ivan/Computational-Calculi/blob/master/slides/00.formalisms.v1.pdf)
- [CCS: LTS and Process Calcculi.v1](https://github.com/golovach-ivan/Computational-Calculi/blob/master/slides/10.ccs.v1.pdf)
- [Propositional Logic.v1](https

[2018-07-12 17:42] golovach-ivan opened #835 "Correct-by-Construction"
This is a common task for combining other tasks and tracking their status.

### The main objective
Develop software that is able to test the basic properties (written in namespace logic formulas) for basic contracts written in RHO-Lang.

### Stages
- checking Hennessy-Milner Logic formulas for CCS Processes
- checking Spatial Logic formulas for Pi-Calculi Processes
- checking Namespace Logic formu

[2018-07-12 18:46] golovach-ivan opened #836 "Correct-by-Construction: Step I (HML formulas for CCS Processes)"
This is issue for Step I of #835 general task.

## General status
After 1 week of development
- syntax ready 75%
- logic ready 25% (CCS → LTS: 70%, HML checking: 0%)

## Code examples for subprojects (LTS, CCS, HML)
[code]

### LTS
**1) Two different action syntaxes**
[code]
**2) possibility to assemble LTS manually**
[code]
[code]

### CCS
**1) Prefix and ∅ syntaxes with transformation to LTS**
[

[2018-07-12 19:19] ICA3DaR5 commented on #588
@dckc Attribution was added on the English blog posts yesterday!
We are doing Spanish today, that's the only one left. We were aware of these issues and fixed them.

I will edit this issue tomorrow properly. Thanks a lot for your comments!

[2018-07-12 19:31] TrenchFloat commented on #809
I'm seeing a pull towards quarterly reports as opposed to monthly, although it is hard to tell if the discussion is over. Is there a final answer?

And if it is quarterly reports, does that mean we're holding off until July is over? That would be 3 months from April.

cc @dckc @allancto

[2018-07-12 19:41] golovach-ivan commented on #836
Add sources [Correct-by-Construction](https://github.com/golovach-ivan/Correct-by-Construction)

[2018-07-12 19:42] golovach-ivan commented on #835
Add sources [Correct-by-Construction](https://github.com/golovach-ivan/Correct-by-Construction)

[2018-07-12 19:50] golovach-ivan commented on #821
The next step of research after this meet is the [Correct-by-Construction](https://github.com/rchain/bounties/issues/835) project.
Issue #835.

[2018-07-12 19:51] golovach-ivan commented on #822
The next step of research after this meet is the [Correct-by-Construction](https://github.com/rchain/bounties/issues/835) project.
Issue #835.

[2018-07-12 20:09] allancto commented on #809
@TrenchFloat thanks for your question. Both @dckc and @deannald of TAC have requested quarterly reports. The title June was changed to Q2, TAC please let us know how you'd like this handled: should a report still be prepared for Q2 (we have already the May retrospective) or we should wait until Q3 (and make that report Sep 30 leaving June hanging, or Aug 31).

Request to Label guides: please indic

[2018-07-12 20:31] TrenchFloat commented on #809
@allancto May was not included in the retrospective report. So May, June, July would make 3 months, unless I'm mistaken.

[2018-07-12 20:35] TrenchFloat commented on #806
Is your video-example the finished product?

[2018-07-12 20:42] TrenchFloat commented on #787
@lapin7 I checked off "voting" in your comment since I already made a [video on the b&r app](https://github.com/rchain/bounties/wiki/How-To-Use-the-Budget-Rewards-Web-App) as well as a slashing video.

Could you clear up some ambiguity and tell us exactly which topics you'd like videos for?

[2018-07-12 20:59] ICA3DaR5 commented on #588
@dckc

**Updates**:

1. Added sources to the English, Spanish and Greek Blog posts on the forum.
2. Added link from the Medium posted Spanish and Greek Blog posts to the forum.
2. Added link from the forum posted Spanish and Greek Blog posts to Medium.

[2018-07-12 21:11] dckc commented on #830
It took several hours, but we (@jimscarver @David405 and I) have (most of) http://rewards-test.rhobot.net/ running.

missing:
  - discord set-up
  - historical voting data
  - SSL

https://github.com/dckc/rchain-dbr/commit/01d6d33f4f3e00578fa6d35e323a0f88c6d89ba5

[2018-07-12 21:20] ICA3DaR5 commented on #829
@deannald

For issue #588 I am going to use https://github.com/discourse/discourse-translator for convenience  and user-friendliness, the budget for this won't be **$8000-$13000**, that would be crazy. @allancto probably has other things in mind on top of this which we need to discuss.

At the moment the Discourse Translator plugin uses [Microsoft Translator](https://www.microsoft.com/en-us/transl

[2018-07-12 21:38] dckc commented on #809
Some stuff about May got added to the retrospective report. I found it somewhat confusing.

May, June, and July would be a quarter, but sort of a skewed one. Q2 is traditionally Apr, May, June. So we could get back on a traditional schedule if we covered June plus whatever seems useful from April and May in our Q2 report.

[2018-07-13 02:52] allancto commented on #834
@viraculous good questions, @zsluedem @ottermagically good answers! Making this RAAM meeting on par with the current RAM but offset 12 hours will make attending one or both convenient for all of our members around the world. (may i propose the name RAM+12 or similar?)

I'm particularly heartened by @zsluedem's remark about common language, whether English or another, because it facilitates Coopera

[2018-07-13 03:20] deannald commented on #822
@golovach-ivan - These are great, thanks for posting.

[2018-07-13 05:10] zsluedem commented on #834
@Viraculous @allancto Actually @ottermagically  and I want people from  as many countries in Asia as possible so English is still the priority.That's the only way to communicate with each other well because there are all kinds of languages in Asia like Japanese, Chinese, Korean. I think there is no easy way to get rid of the language thing.

BTW, do you guys know any members from other countries i

[2018-07-13 06:02] pmoorman commented on #784
As noted above, the marketing guides missed out on these issues last month. I've now voted a budget for this issue for July, and encouraged the other 2 guides to do the same.

I'm voting a budget significantly lower than what's being asked for, for the following reasons:

1. The quality of content isn't great
2. The article has had very limited reach
3. Because the article isn't on a Coop-owned pr

[2018-07-13 06:03] pmoorman commented on #777
As noted above, the marketing guides missed out on these issues last month. I've now voted a budget for this issue for July, and encouraged the other 2 guides to do the same.

I'm voting a budget significantly lower than what's being asked for, for the following reasons:

- The quality of content isn't great (also see comment of @ddayan above)
- As far as I can tell, the article has very limited r

[2018-07-13 10:09] Mervyn853 commented on #834
Count me in. Will be glad to jump on the weekly call whenever my schedule fits in. Would love to help grow the RChain Asian community.

[2018-07-13 10:33] David405 commented on #836
@golovach-ivan kindly close this issue and give all updates on the task on #835, creating separates issues will make the work difficult to track, I find the objective quite interesting and would want to follow up on the task.

[2018-07-13 10:39] David405 commented on #835
@golovach-ivan please see my comment in #836

[2018-07-13 10:47] ResonanceXX commented on #784
@pmoorman I understand the obvious bias. And I also would want a bit of specificity.
As to **1** **2** and Why the Coop, which I belong to, and have promoted with plenty of efforts cannot be an indirect owner of the content, which I did not lay any copy rights to.
Its a moral obligation to accurately sight detailed reasons for negating the ease/fluidity of a certain process.
Cheers.

[2018-07-13 13:01] AyAyRon-P commented on #828
This looks like a good issue.

@rjl493456442 how did you determine the budget (for my own curiosity)?

[2018-07-13 13:02] ICA3DaR5 commented on #828
@Hi @rjl493456442

From this month forward the Translation guides are going to use [this tool](https://customer.stepes.com/instant-translation-quote/#) for word counting and pricing using the **Best - Human Translation** option.

[2018-07-13 13:10] ICA3DaR5 commented on #588
**Updates**:

The Italian team added sources in the [blog posts](https://rchaincommunity.xyz/c/Italian-Italiano/Blog-Blog).

[2018-07-13 14:28] ICA3DaR5 commented on #588
Updated the [issue](https://github.com/rchain/bounties/issues/588) to better reflect completed work and future work.

[2018-07-13 14:36] rjl493456442 commented on #828
@ICA3DaR5 The 0.2$/Word is decided by the community right? When does it changed to 0.1$/word?

[2018-07-13 16:33] Viraculous commented on #834
@zsluedem says

I agree with you @zsluedem but am looking at it from a point of scalibility. Great, English language is universal and largely spoken but more concerned about effective communication within the localities with less or no inclineation to English language. To start with, English language is ok but subsequently as the community and awareness about RChain grows, will it scale? If not, t

[2018-07-13 16:37] BelovedAquila commented on #653
@ICA3DaR5 [HERE](https://docs.google.com/document/d/1Rqo_INaZ6lHIbVeUM02WGelH8mK8rIwOq9e166Z-oi4/edit?usp=drivesdk)

[2018-07-13 17:21] dckc commented on #834
@justinc667 I hope you can get involved in this.

_I tried to assign you, but you don't seem to be a collaborator. Ask @lapin7 about that._

[2018-07-13 17:29] dckc commented on #199
nearby: [RHOL-331 Come up with a formulae for describing all possible blockDAGs in Greg's graph algebra](https://rchain.atlassian.net/browse/RHOL-331)

[2018-07-13 19:23] pmoorman commented on #784
as far as detailed explanations go:

1.1 - the entire document is badly formatted. **Everything is in bold**, which makes for a weird 1st impression
1.2 - at 303 words, we're not really going in depth into anything. It's just scratching the surface
1.3 - odd wording such as `sheets and spreads` when you mean `spreadsheets`
1.4 - the content is not tailored to the audience. If you write for develop

[2018-07-13 22:16] ICA3DaR5 commented on #653
@Jake-Gillberg

What do you think about this issue now that a month has passed? Check the above comment by @BelovedAquila

Are you endorsing it?

[2018-07-13 22:18] ICA3DaR5 commented on #765
@AdinaGitHub Someone probably mentioned you in the past and removed his mention.

You can [mute this thread](https://github.com/notifications/unsubscribe-auth/Al0Sauw2-NoB8gOIWb41G4jvermOdQslks5uD_spgaJpZM4Ueup_) if you like.

[2018-07-13 22:23] ICA3DaR5 commented on #805
@casanwugo It is mentioned on the [ISSUE_TEMPLATE](https://github.com/rchain/bounties/blob/master/ISSUE_TEMPLATE.md).

I just pointed out that you have chosen the first option, without it being true.

[2018-07-13 22:24] ICA3DaR5 commented on #821
@allancto Will do!

[2018-07-14 00:36] ResonanceXX commented on #784
1.1 - Badly formatted, like according to which index/type of text formats (Paragraphed, Tenses and/or spellings) **Your statement is vague and ill conceived.**

1.2 - For a - How to - can there be really so much depth. Especially when this is not a video, and its a marketing drive. How many 1 hour ads have you watched? You can share some links to them maybe!

1.3 - Is that a typo, and is that **od

[2018-07-14 00:49] ResonanceXX commented on #784
Participation in a venture where a **Guide**  sits idle, allows a published article skip his mind, because he was so busy.  Uncomfortable stuff there.

And defining things as **weird** and needing the approval of professional writers? Come on! And talks about the creation of value.

This seems to me like a - valuation of what is created. And one done in disproportionate amounts as is conducive to

[2018-07-14 03:05] hcl3 commented on #277
hi pmoorman：

Did the previous mail receive?

I sent you an email to notifications@github.com.

2018-06-25 21:22 GMT+08:00 pmoorman <notifications@github.com>:

[2018-07-14 03:09] philipandri002 commented on #805
I guess this is a case of mistake, not intentionally trying to defraud the system.. I think if @casanwugo reached out to @ICA3DaR5 before even going ahead to publish then she was not intending to do wrong..

@ICA3DaR5 you should have taken out time to look at the issue the moment she reached out to you in the first place and that would have prevented a lot of this unfortunate situation...

Imo the

[2018-07-14 04:51] zsluedem commented on #834
@dckc What is the handle of @justinc667 in discord? Or email?
Can you make a small introduction of him?

[2018-07-14 04:57] allancto commented on #834
J could j

On Jul 13, 2018 9:51 PM, "will" <notifications@github.com> wrote:

@dckc <https://github.com/dckc> What is the handle of @justinc667
<https://github.com/justinc667> in discord? Or email?
Can you make a small introduction of him?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/rchain/bounties/issues/834#issuecommen

[2018-07-14 06:02] Viraculous opened #838 "RChain Weekly Update(Debrief 85) 20180711"
Rchain Weekly Update
[Debrief 85](https://docs.google.com/document/d/16h2ZGwAvTYNC_vynqtaBzbsSWTCsR7lCSjegZzPPOqg/edit?usp=sharing)
- [x]  Watch [video](https://www.youtube.com/watch?v=WzAdfjwgaQs) of the Debrief
- [x]  Write textual run down
- [x]   Upload on RChain [medium](https://medium.com/rchain-cooperative/rchain-weekly-update-debrief-85-11th-july-2018-57b1e6ab6b9a)

[2018-07-14 08:53] pmoorman commented on #277
Hey @hcl3 I didn't receive the email. Could you either post here in the comments, or send me a message on Discord (@pmoorman, too)?

Thanks!

[2018-07-14 09:01] pmoorman commented on #784
I haven't got much to add to what I've already said above.

If you can make a case how significantly more value has been created, then please explicitly do so.

[2018-07-14 15:04] hcl3 commented on #277
Hello Pmoorman

I noticed that issue277 was closed for couple of days. Issue277 mentioned
how to manage the operation of Rchain's China WeChat public platform. We
provided solutions and operations accordingly.
In May, we published 6 articles about the concept and studying metod of
RChian on the WeChat platform and promoted the Rchain’ WeChat subscription
account.
（1.https://mp.weixin.qq.com/s/eH9F

[2018-07-14 15:04] rjl493456442 commented on #828
What do you mean "added value to community"? You mean most documents will translated by the tool instead of human? So i just want to know which documents are good target for human translation.

[2018-07-14 16:45] cchx0000 opened #839 "Promote RChain to Chinese Investment Community"
### Benefit to RChain

I have been publishing a popular series of investment research reports on various blockchain tech areas through Wechat channels, in collaboration with Node Capital, a top blockchain VC fund in China (http://www.nodecap.com/). These reports have been well circulated among the blockchain investment community in China. Previous topics included DAG, sharding, privacy computing,

[2018-07-14 16:56] zsluedem commented on #839
@cchx0000 I am so glad to start contributing to Rchain already. But you have to be a collaborator first.

And you have to be  a member of Rchain, too. [Become a member](https://member.rchain.coop/)

[2018-07-14 18:30] pmoorman commented on #277
Hey @hcl3, that's great progress, and thanks for writing such a good overview of the results that have been achieved. You guys are doing an absolutely amazing job managing the Chinese part of the community there!

I closed the issue, because it seemed to me that the goal (as outlined in the task description) has been achieved. Maybe we can update the task description, and update the goal to reflec

[2018-07-14 19:14] dckc commented on #561
I wonder how to connect web server apps with rnode.

I like the capper architecture (node.js plus waterken style messaging). It seems compatible with the RhoVM style, but I'm not sure the GRPC interfaces exported by rnode suffice yet. I'm not sure how to do a client side persistent for, for example.

[2018-07-14 19:49] David405 commented on #561
@dckc I have had similar thoughts too, have you thought of the possibility of RNode working with web3.js or even having a similar JavaScript API?

By the way, porting the Trust metric to rholang should make it unalterable, what then happens if we intend to make changes to the trust metric?

[2018-07-15 00:42] kdvalentine commented on #839
@cchx0000 truly appreciate the effort to evangelize what we all are working
to build. From the perspective of complying with US securities regulations,
promotion of RChain as an investment is a risk to the Cooperative. Members
promoting RChain as an investment poses a risk that I don't think is worth
the potential exposure.

If you are still interested in producing educational content that
highlig

[2018-07-15 03:43] deannald commented on #823
@Tonyprisca13 - Depends really on what was produced for that week. Generally, if no agenda is set up ahead of time and there is some note taking and a few announcements, dckc's quote of $100 - $150 seems like reasonable compensation. If there is additional work done that's being done and can be identified, then that number would potentially change.

[2018-07-15 04:20] zsluedem commented on #822
@golovach-ivan  I saw some "???" in some slides. Is there any problem with these slides?

I found them in https://github.com/golovach-ivan/Computational-Calculi/blob/master/slides/00.formalisms.v1.pdf, https://github.com/golovach-ivan/Computational-Calculi/blob/master/slides/10.ccs.v1.pdf.

Have anyone read these slides?It is kind of to hard for me to just read it without any explanations.

[2018-07-15 04:59] cchx0000 commented on #839
Hi thank you for the feedback. These reports focuses on providing general and technical knowledge about different projects and technology and do not include any investment advice or recommendations, as it is considered illegal to advertise crypto offerings in China.

I already joined as a member. Looking forward to contributing.

[2018-07-15 07:46] zsluedem commented on #839
Closing it now because of the policy of Rchain . @cchx0000 hope you don't feel frustrated . Keep on

[2018-07-15 07:46] #839 closed

[2018-07-15 13:02] ICA3DaR5 commented on #828
@rjl493456442 No, I don't mean that. By added value I mean adding **something extra** on top of the translation work. Probably something that helps community building or the goals of the coop.

[2018-07-15 14:10] zsluedem commented on #779
Hey ,everyone here.

Make a small conclusion here about what we have done so far and what we should do next.

## what we have now

Now we have a  [draft meetup wiki](https://docs.google.com/document/d/1xaQBDgGgt0KKeZzhi1x8RQsIg9A7LOR3o8_X33BrcSY/edit#heading=h.k9rsk6hcqvka) created by @David405 .

We have slide:
1. [Getting Involved in the RChain Bounty Program](https://docs.google.com/presentatio

[2018-07-15 14:44] zsluedem commented on #834
@ottermagically @pmoorman @Mervyn853 @Viraculous @allancto @justinc667 @dckc
I have created an agenda doc for the meeting.
https://docs.google.com/document/d/1kH1RKMnM9jTkNy8T2AZyZqJj92i7D4dcjuu4Z0n_Yzk/edit?usp=sharing
Please add anything you want to discuss.

[2018-07-15 15:33] pmoorman commented on #834
To support this great initiative I'll get out of bed at 6am (I'm in Amsterdam now).

**I'll volunteer my Zoom room** if it's of any help (https://zoom.us/j/3287944287).

As for the agenda, I would be really curious to hear an update from @ottermagically about his good works in Singapore, and maybe from @zsluedem to cover the status in China. I'd also like to discuss if there's anything people like

[2018-07-15 16:59] allancto commented on #834
@ottermagically did i understand correctly that @traviagio is currently based in Singapore and may be interested? also the contributors to #776, including @ddayan and @jeremybeal11, following Cardano and asian based blockchains, would RAAM be of interest to you? @mrinalmanohar are you all developing contacts near this time zone, would you be interested in this meeting (midnight ny iiuc)?

[2018-07-15 17:22] nonnykul commented on #779
@zsluedem, I believe this issue still have a long way to go, you have done alot to get materials being used by communities together.

@ **All** The focus should be a "developers meetup".

[2018-07-16 07:14] David405 commented on #561
Ahhh, I guess the right word should have been "stores persistent records" rather than "unaltered", I now have a better understanding.

Is Dr SES in use yet or it is still just a proposition? I can't find any useful document as to its usage.

[2018-07-16 08:20] Tonyprisca13 commented on #823
The is usually an agenda before the meeting.

[2018-07-16 09:08] David405 commented on #561
I am not sure if web3.js supports subscribing to changes on a name, Capper seems interesting also but it is not clear how it can interact with a blockchain node.

[2018-07-16 11:41] Tonyprisca13 opened #840 "20180718 RChain Active Member Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [x] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).
- [x]  Any key discussion point

[2018-07-16 11:42] #833 closed

[2018-07-16 12:30] dckc commented on #823
No. I'm traveling to a funeral.

[2018-07-16 12:56] Tonyprisca13 commented on #823
Ok. Sorry for your lost please accept my condolence.

[2018-07-16 16:15] zsluedem commented on #834
The zoom link is updated. See you guys next week.

[2018-07-16 16:25] ddayan commented on #834
5am London time... I might have to catch up with some members after the meeting.

[2018-07-16 17:05] nonnykul commented on #681
The second phase of this project is in progress.
The workstudy group will be involved in our First RChain developers meetup in Africa on 21st of july.

[2018-07-16 20:16] ottermagically commented on #834
PLEASE NOTE A NEW ZOOM URL SO THAT SESSION MAY BE MORE EASILY RECORDED AND SAVED TO YOUTUBE:

https://zoom.us/j/2522161381

[2018-07-16 23:14] justinc667 commented on #834
@zsluedem  My tags online are KB667 {Justin}#8495 on discord which is short for kaboss667 elsewhere. I spent a semester abroad in Japan during my 4-year degree in Japanese Literature and Language. I will be in the meeting looking to branch out to communities abroach, specifically in Japan.

[2018-07-17 01:19] allancto commented on #834
@ottermagically please accept your github invitation to collaborate, then you will have edit privileges. Any questions just DM me. Thanks!! -@allancto

[2018-07-17 03:01] Viraculous commented on #838
Done.

[2018-07-17 03:01] #838 closed

[2018-07-17 03:06] Viraculous commented on #834
Great @Justinc667 @zluedem @ottermagically

[2018-07-17 06:10] zsluedem commented on #834
I am so glad we did it ~! I will write a summary about the meeting today from the doc and report it in the next RAM.

[2018-07-17 10:56] Viraculous commented on #834
Great @zsluedem

[2018-07-17 17:43] David405 commented on #788
@dckc Here is a project I have been following for a while now, I just forked from the repo. I think you will find it very interesting [a map of all biomedical blockchain initiatives](https://github.com/David405/biomedical-blockchain).

Also, was this issue created to write smart contracts for research data sharing or to get ongoing projects on it?

[2018-07-17 21:57] akhs13 opened #841 "Translate 9 blog posts to Italian"
### Benefit to RChain

Translation of the RChain Medium blog posts to other languages means good global marketing.

### Budget and Objective

_Estimated Budget of Task:_ **$[1740]**
_Estimated Timeline Required to Complete the Task:_ **[12 days]**
_How will we measure completion?_ **RNode v0.5.1 offers all features needed for dApp developers to write and transact smart contracts on the platform" -

[2018-07-18 13:29] ICA3DaR5 opened #842 "Translate a total of 9 blog posts to Greek"
### Benefit to RChain

Reach a larger audience and help expand the community building.

Translations will be posted both on the [RChain Worldwide Community Forum > Greek (Ελληνικά) > Blog (Ιστολόγιο)](https://rchaincommunity.xyz/c/Greek-%CE%95%CE%BB%CE%BB%CE%B7%CE%BD%CE%B9%CE%BA%CE%AC/Blog-%CE%99%CF%83%CF%84%CE%BF%CE%BB%CF%8C%CE%B3%CE%B9%CE%BF), the [RChain Cooperative (Greek)](https://medium.com/

[2018-07-18 18:18] Tonyprisca13 commented on #840
@guides i want to suggest we vote and budget for immediately after the meeting so as not to forget how the meeting went.

[2018-07-20 08:48] yuhuanmocmoc commented on #828
I have translated the [RChain Weekly Update (Debrief 83) 27th June, 2018](https://drive.google.com/file/d/1yASJX8o2ohmuE2dg22B8mdCLOsi53u-S/view?usp=sharing) and posted it to [Medium](https://medium.com/rchain-cooperative-china/rchain%E6%AF%8F%E5%91%A8%E6%9B%B4%E6%96%B0-%E7%AE%80%E6%8A%A583-2018-6-27-8195027bbd0f) and [Wechat official account of China](url).

[2018-07-20 11:35] kitblake commented on #824
That's a replete report. Thanks for compiling it. Here are some notes:

- The Meetup certainly did go well, especially judging from the photos that were posted on Telegram and the YouTube video. Congrats on that!
- Sorry about the work put into the local forum.
- The University Community Engagement is an excellent initiative that could bear fruit in the short and long term.
- The reporting about w

[2018-07-20 14:44] michaelizer opened #843 "Translate "RChain Weekly Update (Debrief 84) 4th July, 2018" - "RNode v0.5.1 offers all features needed for dApp developers to write and transact smart contracts on the platform" Medium Blog Posts to Spanish"
### Benefit to RChain

Another step to reach the level of a Multilingual and Multicultural community.
They will be made satisfying the guidelines suggested [here](https://docs.google.com/document/d/1wh-GYj_MxquhUL-VyE0BkeuoskHHeq5KVdd8tL77AKQ/edit).

Translations will be posted both on the [RChain Worldwide Community Forum > Spanish (Español) > Blog (Blog)](https://rchaincommunity.xyz/c/Spanish-Es

[2018-07-21 11:05] qelentium opened #844 "Translate remaining blog posts"
### Benefit to RChain

Reach larger audience and help to build the community
Translation will be posted at [RChain Worldwide Community Forum](https://rchaincommunity.xyz/) and at [Medium RChain_RU](https://medium.com/@rchain_ru)

### Budget and Objective

*Please make the issue SMART: Specific, Measurable, Achievable, Realistic, Timely.*

_Estimated Budget of Task:_ **$[1307.02]**
_Estimated Timel

[2018-07-21 14:10] dckc commented on #595
In the July 17 [executive committee](https://www.gov.rchain.coop/executive-committee) meeting, @kitblake and I learned that @ian-bloom is standing by for approval from @PatrickM727 :

[2018-07-21 18:38] Viraculous opened #845 "RChain Weekly Update(Debrief 86) 20180718"
Rchain Weekly Update
[Debrief 86](https://docs.google.com/document/d/1KHgAdB96P8xlv4l7D_6h9Or6DjsB7FuXE1LyJTazWJA/edit?usp=sharing)
- [x]  Watch [video](https://www.youtube.com/watch?v=N4K_ez-Z4xU) of the Debrief
- [x]  Write textual run down
- [x]   Upload on RChain [medium](https://medium.com/rchain-cooperative/rchain-update-debrief-86-july-18th-2018-362658622427)

[2018-07-21 19:34] casanwugo opened #846 "Translate 11 Blog Posts to French."
### Benefit to RChain

Translation of the RChain Medium blog posts to other languages means good global marketing.

Translated contents will be posted both on the <a href="https://rchaincommunity.xyz/">RChain Worldwide Community Forum > French (Français) > Blog</a>, and <a href="https://medium.com/@annchidinma5">Medium Blog</a>.

  Original (English) Content :

- <a href="https://medium.com/p/5ecf

[2018-07-21 20:05] dckc commented on #561
I'm starting to clean up and document the code I wrote over the last couple days. I moved design notes to [CONTRIBUTING.md](https://github.com/dckc/rchain-dbr/blob/oauth_gateway/CONTRIBUTING.md) and added a _Porting the trust metric to Rholang with node.js and Capper_ section.

[2018-07-21 22:45] ICA3DaR5 commented on #588
Let's talk about the [Discourse Translator Plugin](https://github.com/discourse/discourse-translator). Do we want to use it? If so, which of the following services and pricing?

I suggest we use the **Free Microsoft Translator** tier for now.

Here's some information...

# Noticeable Features

- Each post is only translated once per locale which saves us :moneybag:.
- The Access Token is cached on

[2018-07-22 05:56] dckc commented on #561
## trustCertTest deploys signed transaction! (462efb4)

We generate a key for our gateway:

[code]

Then we suppose these data come from a web form (authenticated with OAuth):

[code]

Using the RSON convention, this becomes:

[code]

then we make a call to a **certify** contract with that data and its signature:

[code]

and we deploy it using gRPC:

[code]

I'm hitting some weird issue with prop

[2018-07-22 06:00] kennyrowe commented on #561
:thumbs up:

On Sat, Jul 21, 2018 at 22:56 Dan Connolly <notifications@github.com> wrote:

[2018-07-22 18:47] ICA3DaR5 commented on #672
I am stepping down on the Translation label as a guide. I think it would benefit the co-op for the guides to rotate. I hope my work here as a guide helped both the co-op and the community. I am pretty sure other people can do the work, especially now that the heavy workload has already been done.

[2018-07-22 18:50] zero-andreou commented on #672
I will also be following on @ica3dar5's steps. I will have focus on other work, therefore I won't have the time to properly work as a guide.

[2018-07-22 19:26] dckc opened #847 "review of July pay period (201807) rewards by TAC + guides"
[Guides from each area](https://github.com/rchain/bounties/labels?sort=count-desc), please check the box when you're done with budgets and rewards for 201807:

 - [x] Operations: @TrenchFloat, @jimscarver
 - [x] Marketing: @pmoorman @AyAyRon-P @kitblake
   - separate budget: #817
 - [x] Translation: @AyAyRon-P, @pavlos1851
   - separate budget: #869
 - [x] Governance: @jimscarver, @barneycinnamon,

[2018-07-22 19:58] pmoorman commented on #847
I have created an agenda for the meeting, to make sure we can progress quickly and efficiently.

https://docs.google.com/document/d/1wZ9dm8BDOuxpeqE69hVYrxohp_PWdVvuy17VQZSj-KY/edit?usp=sharing

Everyone has comment-rights to suggest things, and @deannald has edit rights (so she can finalise the agenda effectively)

We should probably add a topic about 2 Guides for Translations stepping down, and

[2018-07-22 20:57] pavlos1851 commented on #672
I am interested in becoming a guide in the translation label . I am familiar with the workflow of the the translation guides and I am up for it.

[2018-07-22 21:01] qelentium commented on #672
Im interested in becoming translation guide too, if its still on

[2018-07-22 21:14] ICA3DaR5 commented on #672
After chatting with @zero-andreou and @pavlos1851 I think he has the technical knowledge of being a guide on the Translation label.

[2018-07-22 21:30] dckc commented on #835
@deannald this looks to me like a big part of the RChain value proposition: the ability to typecheck contracts for basic properties such as "doesn't leak this unforgeable name" or "has no races" (cf. DAO hack). (_IOU references to details_). I tweaked the title to clarify. I hope that's consistent with what you had in mind, @golovach-ivan .

I suppose it depends on a lot of work that the core dev

[2018-07-22 21:34] dckc commented on #672
@qelentium you (and everybody else) are more than welcome to do some guiding at any time. You would need a trust rating to affect budgets and rewards though. Recall last time you asked me about that, I asked how your work reviewing the arch doc (#580) is going :)

I see @AyAyRon-P is listed in the label description. @ICA3DaR5 did you put that there? Has he agreed to guide translation? If not, plea

[2018-07-23 00:17] ICA3DaR5 commented on #672
@dckc Yes, after chatting with him he did agree. He is very trustworthy IMO.

[2018-07-23 05:03] zsluedem opened #849 "Rchain Asia Debrief 20180724"
### Benefit to RChain

Following by #834 , here are the agenda for the Rchain Asia Debrief.

The first meeting will hold at 04:00 UTC 20180717
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

The zoom link is https://zoom.us/j/2522161381.

- [x] Prepare [agenda](https://docs.google.com/document/d/1gVFuc-Zm28xYXMDv5gquWrf0OCkU29KMSKslNdpaJQI/edit).
- [] invite peo

[2018-07-23 17:13] AyAyRon-P commented on #672
There was an opportunity to talk through the needs and expectaitons with @ICA3DaR5 of the translation label guides when reviewing some marketing material and I'm glad to now be part of the translation label guides. I think it's better to keep the translation issues with translation #483 as @dckc suggested.

[2018-07-23 19:21] TrenchFloat commented on #812
@dckc Will do from now on.

[2018-07-23 19:23] TrenchFloat commented on #809
I'm making an issue for a Q2 report: April, May, June.

[2018-07-23 19:46] TrenchFloat opened #850 "Bounty Progress Report: Quarter 2"
### Benefit to RChain

Quarterly reports foster the bounty system's accountability to the goals of the coop and explicitly compare its expenses to its accomplishments.

### Objective

 - [Q2 Bounty Report](https://docs.google.com/document/d/1alPW0BYjgoOW6pK5MLhWRnVzENLBI0HjgCULcR8kCzI/edit#)

 - For reference: [Retrospective Report](https://docs.google.com/document/d/18TfJWqAREEyr0wQdGb_UOxrFVk4KO

[2018-07-23 19:52] deannald commented on #840
Again, the budget for this issue appears to be unduly high for the amount of work that goes into this meeting.

[2018-07-23 19:55] TrenchFloat commented on #850
@jimscarver GitHub only lets me have 10 assignees - please help us out with the Governance section!

[2018-07-23 19:55] deannald commented on #841
@AyAyRon-P @michaelizer - What's the status on translations these days? Are we still accepting them or are they being incorporated into the Community Building label as not straight up translation tasks? @michaelizer - when are you officially not a Translation guide (or has that already happened)?

[2018-07-23 20:00] jimscarver commented on #850
I  already added a governance section. Perhaps we need to talk about what more is needed.

[2018-07-23 20:04] Tonyprisca13 commented on #840
I think we need a guide formatting issues

[2018-07-23 20:04] #840 closed

[2018-07-23 20:23] dckc commented on #850
@TrenchFloat , @jimscarver filled out a governance section in [the report Alan started a while ago][ac].

I suggest that [the report you just started][tf] is superfluous. Please mark it obsolete with a link to the existing one.

[ac]: https://docs.google.com/document/d/1alPW0BYjgoOW6pK5MLhWRnVzENLBI0HjgCULcR8kCzI/edit#heading=h.uxjltonngyhq
[tf]: https://docs.google.com/document/d/1TLbireYAXIJkgBI

[2018-07-23 20:28] Tonyprisca13 opened #851 "20180725 Active Member Meeting"
ZOOM LINK FOR RAM MEETING
[https://zoom.us/j/197490909](https://zoom.us/j/197490909)
17:00 UTC (one hour BEFORE Greg's Debrief)
Sydney +11, Beijing +8, Greece +3, Amsterdam +2, Lagos +1,
New York -4, Seattle -7

- [ ] Prepare[ RAM meeting agenda](https://docs.google.com/document/d/1jvUn8AKLmvnibNk2KT-tqJdWDV5FoYZfVPIF8czxy64/edit?ts=5aa05d54#heading=h.jynxuw9p1s4z).

- [ ]  Any key discussion poin

[2018-07-23 20:31] dckc commented on #483
@AyAyRon-P thanks for stepping up to guide Translation. Note that @allancto did respond to my Jun 30 request with PR #826. I closed that pull request not because the gist of that pull request is no good but because it doesn't follow version control best practices. Please follow up with @allancto on the boundary between **Translation** and **Community Building**.

[2018-07-23 20:37] dckc commented on #809
Thanks.

[2018-07-23 20:37] #809 closed

[2018-07-23 20:49] dckc commented on #783
@allancto I see you made substantial progress in objectives and metrics sections in [the report][1] as of July 20. IOU a review.

[1]: https://docs.google.com/document/d/1jXm6Ks9OAe-0mgVOT2QtfaVkHndnOodj3uE5FJJXBNA/edit#heading=h.uvy2o57ie9wt

[2018-07-23 20:55] dckc commented on #619
This keeps showing up on the Overdue list. I added a $0 budget vote for July so that I don't have to keep coming back here to remind myself of what's going on. As I say, for form's sake.

[2018-07-23 20:56] TrenchFloat commented on #806
Found [cryptovids's video](https://www.youtube.com/watch?v=wGAOizRcFIE&t=28s). In #787, HJ [called this](https://github.com/rchain/bounties/issues/787#issuecomment-401118132) a "more professional example," which sounds like completion to me.

[2018-07-23 20:56] #806 closed

[2018-07-23 20:59] nonnykul commented on #847
Sorry, I made a mistake closing the issue, I was on mobile.

[2018-07-23 21:03] dckc commented on #836
Thanks for the pointer to the scala source code.

@Jake-Gillberg were you aware of this work?

For reference, a nice sturdy, decentralized commit hash: : https://github.com/golovach-ivan/Correct-by-Construction/commit/c2e89d4f7ff8723842703175f6da375d585753a0 July 12.

@David405 I suggest we defer to the person doing the bulk of the work regarding how to organize it into issues. I do agree that fin

[2018-07-23 21:05] barneycinnamon commented on #494
@kennyrowe Last I checked the status of this was that Bill and Kate were working on business model and periodic financial statement disclosures. What kind of outcome should members anticipate coming from the existing process? Not sure if I should close this issue, pester people, or what.

[2018-07-23 21:06] Tonyprisca13 commented on #840
you can effect the  budget you think is OK for this meeting on the budget app.

[2018-07-23 21:06] dckc commented on #847
You are not alone. "About 36,300 results" for +accidentally +closed +github +issue

grumble.

[2018-07-23 21:13] deannald commented on #783
@allancto - Me too (owe you a review). I'm out the next 2 days, so probably some time Thursday...

[2018-07-23 21:20] qelentium commented on #844
Contacted with admins of [RChain Worldwide Community Forum](rchaincommunity.xyz).Its still pending to create russian section there, so all translations gonna be uploaded only at medium for a moment.After section will be created they gonna be uploaded there 2

[2018-07-23 21:54] TrenchFloat commented on #736
Sorry @AyAyRon-P - Since this has stalled a bit and Greg has taken up creating metrics for the bounty system, I'm going to close this out for now.

[2018-07-23 21:54] #736 closed

[2018-07-23 22:21] David405 commented on #824
RChain Africa Community Report June 2018

### Meetup

The RChain community in Africa had a successful meetup on the 9th of June. Prior to the meetup, there was a lot of interactions with the university community and software companies to pitch RChain to them and invite them to the meetup.

The meetup included a video presentation, a lecture on Blockchain and a node testing session.

More on this c

[2018-07-23 22:33] David405 commented on #836
@dckc I closed this issue because I think it will be more effective to have one issue #835 in this repository that is used to give updates on each task while making pointers to a personal repository, that way, it will be far easier to keep track of the activity, don't you think so?

Also, have anyone been able to reach @golovach-ivan recently? I have tried contacting him but barely replies to his

[2018-07-23 22:58] David405 opened #852 "RChain developers meetup Nigeria"
**Overview of the Meetup**

Last week Saturday, a meetup was held mainly for developers who are willing to build DApps on the RChain platform. The meetup was partly motivated by the encouraging response and follow up from developers who were present for the First meetup held in June #796. The meetup introduced the development kits ( Rholang, RNode, RHO-calculus) to the developers who were present

[2018-07-23 23:35] David405 commented on #852
@zsluedem here are my [slides](https://docs.google.com/presentation/d/1uiKntDxXs8m3V-cbwerURBq2YJ7DJAnGfdrNMSeJTBc/edit#slide=id.p) from the meetup, you can add them to the materials we are gathering to update the current meetup wiki, @ibesoft11 kindly post your slides/notes on grammar here.

[2018-07-24 00:45] dckc commented on #836
I think it's more important that it be easy to _do_ the work than to track it. Giving advice is fine, but as I said: let's defer to the person doing most of the work to organize it into issues.

@golovach-ivan isn't obliged to respond quickly (or at all) on discord. For this sort of work, an update every week or two or three seems fine, to me.